@import url("/includes/bootstrap/css/bootstrap.css");
@import url("/includes/bootstrap/css/bootstrap-responsive.css");

.title{
    background-color: #FAFAFA;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    min-height: 20px;
    padding: 4px;
}

legend {
	font-size: 16.5px;
}

body {
    padding-bottom: 60px;
}

.sidebar-nav {
  padding: 9px 0;
}
      
.center-section-form {
    width: 75%;
    margin: 0 auto;
}

.medium {
    width: 50%;
}

.span90 {
    width: 90%;
}

.bigInput{
	height: 32px;
	font-size: 23px;
	color: #999;
}

.logo_opac_menu{
	float: left;
	line-height:0;
}

.main_content {
  padding-top: 60px;
}

.medium_font{
	font-size: 40px !important;
}
