@import url("bootstrap.css");

.title{
    background-color: #FAFAFA;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    min-height: 20px;
    padding: 4px;
}

legend {
	font-size: 16.5px;
}

