[% INCLUDE 'intranet-top.inc' %]

<script type="text/javascript" src="/intranet-tmpl/includes/busquedasCatalogo-min.js"> </script>
<script type="text/javascript" src="/intranet-tmpl/includes/busquedasUsuarios-min.js"></script>

<script type="text/javascript"> 

$(document).ready(function() {

  onEnter('keyword',buscar,true);
  onEnter('socio',consultar);
  $('#keyword').focus();
});

</script>
<fieldset class="main">
    <legend class="titulo_legend"><strong>[% "P&aacute;gina de Prueba:" | i18n %]</strong></legend>
    [% test %]	
</fieldset>
<div id="resultBusqueda"></div>
<div id="result"></div>

[% INCLUDE 'intranet-bottom.inc' %]

