<!-- TMPL_IF NAME="opac" -->
    <!-- TMPL_INCLUDE NAME="opac-top.inc" -->
    <!-- TMPL_ELSE -->
        <!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
	<!-- /TMPL_IF -->


<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >Usuarios Reales</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<p>
<center>

<table>
	<tr>
		<td class="inputFontNormal">
			<form ACTION="/cgi-bin/koha/member.pl" method=post name="formmember">
				<b>B&uacute;squeda de Usuarios Reales</b>
				<INPUT class="inputFontNormal" TYPE="text" size=35 name=member>
		</td>
		<td>
 			<a  href="#" onClick="formmember.submit()" >
			<img 	alt="Buscar" 
				src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border="0"">
			</a>
		</td>
 			</form>
	</tr>
</table>

<table>
	<tr>
		<td class="inputFontNormal">
		<p class="recuadroAyuda">
			Tipear el apellido, DNI o legajo del usuario. Presionar buscar.
		</p>
		</td>
	</tr>
</table>
</center>

<br>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr><td class="pagetitle">Ver Usuarios</td></tr>
	<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>

<table border=0 cellspacing=0 cellpadding=10 width="85%" align="center">
<tr VALIGN=TOP>
	<td align="center" class="inputFontNormal">
	
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=a">A</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=b">B</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=c">C</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=d">D</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=e">E</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=f">F</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=g">G</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=h">H</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=i">I</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=j">J</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=k">K</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=l">L</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=m">M</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=n">N</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=o">O</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=p">P</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=q">Q</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=r">R</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=s">S</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=t">T</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=u">U</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=v">V</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=w">W</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=x">X</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=y">Y</a> -
		<a class="inputFontNormal" href="/cgi-bin/koha/member.pl?member=z">Z</a>
	</td>
</tr>
</table>
<P>
<!-- TMPL_IF NAME="opac" -->
    <!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
    <!-- TMPL_ELSE -->
        <!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
	<!-- /TMPL_IF -->

