[% INCLUDE 'intranet-top.inc' %]
[% USE HTML %]

<script type="text/javascript" src="/intranet-tmpl/includes/tipoDocumento.js"></script>

<div id="resultTipoDocumento"> </div>
<div id="accionesTipoDocumento" class="modal hide fade"> </div>
                
[% INCLUDE 'intranet-bottom.inc' %]