
<!-- TMPL_IF EXPR="(accion eq 'agregar') || (accion > 0) " -->
<hr>
<div width="100%"><b>Agregar campo Marc para el nivel <!-- TMPL_VAR NAME='nivel' -->:</b>
<!-- TMPL_INCLUDE NAME="seleccionCamposMarc.inc" -->
</div>
<br>

<!-- TMPL_IF EXPR="(accion > 2) && (accion != 5)" -->
<div align="center">
<input type="image" src="<!-- TMPL_VAR NAME="themelang" -->/images/guardar.png" value="Guardar Campo temporal" title="Guardar Campo Temp" onClick="guardarCampoTemp(<!-- TMPL_VAR NAME='nivel' -->)">
<input type="image" src="<!-- TMPL_VAR NAME="themelang" -->/images/borrar2.png" value="Cancelar" title="Cancelar Campo Temp" onClick="cancelar()">
</div>

<input type="hidden" id="subcampo" value="<!-- TMPL_VAR NAME='tagsubField' -->">

<!-- /TMPL_IF -->

<!-- /TMPL_IF -->
<input id="tmpl" type="hidden" value="agregar">



