<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/json/jsonStringify.js"></script>
<!-- TMPL_INCLUDE NAME="helpCamposMARC.inc" -->

<script>
//Agrego el codigo para mostrar el estado de la busqueda en Ajax
<!-- TMPL_INCLUDE NAME="state.js" -->
<!-- TMPL_INCLUDE NAME="seleccionCamposMarc.js" -->
<!-- TMPL_INCLUDE NAME="util.js" -->

/*
 * consultarAjax
 * Funcion que hace el llamado ajax.
 */
function consultarAjax(params){
	$.ajax({
		type: "POST",
		url: "/cgi-bin/koha/acqui.simple/estructuraCataloResults.pl",
		data: params,
		beforeSend: Init,
		complete: function(ajax){
				$("#result2").html(ajax.responseText);
				HiddeState();
				zebra("tablaCamposMod");
			}
	});
}

//funciones para ajax recibe el parametro tipo, para identificar en que nivel de consulta estoy.
function eleccionDeNivel(tipo){
	var niv=$("#nivel").val();
	var ObjDiv = $("#divitemtype");
	if((niv == '1') || (niv == 'Niveles')){ObjDiv.hide();}
	else{ObjDiv.show();}
	var params= 'nivel=' +  $('#nivel').val() +
		'&itemtype=' +  $('#itemtype').val();
	consultarAjax(params);
	$("#result").html("");
}

function objetoRespuesta(campo,subcampo,lib,tipo,oblig,tabla){
	this.campo=campo;
	this.subcampo=subcampo;
	this.lib=lib;
	this.tipoInput=tipo;
	this.obligatorio=oblig;
	this.tabla=tabla;
	this.orden="";
	this.camposRef="";
	this.separador="";
}

function guardarCamposModificados(accion){
	var params='campoX='+ $('#campoX').val() + 
		'&nivel=' +  $('#nivel').val() +
		'&itemtype=' +  $('#itemtype').val() +
		'&accion=' + accion;
	var objeto=new objetoRespuesta($('#tagField').val(),$('#subcampo').val(),$('#lib').val(),$('#tipoInput').val(),$('#obligatorio').val(),$('#tabla').val());
	if ($('#tabla').val() != -1){
		objeto.orden=$('#orden').val();
		objeto.camposRef=$('#camposRef').val();
		objeto.separador=$('#separador').val();
	}
	params=params + "&objeto="+JSONstring.make(objeto);
	consultarAjax(params);
	$("#result").html("");
}

function guardarModificaciones(accion){
	var objeto=new objetoRespuesta($('#campoMod').val(),$('#subcampoMod').val(),$('#textoMod').val(),$('#selectTipo').val(),"",$('#tablaMod').val());
	var params='nivel=' +  $('#nivel').val() +
		'&itemtype=' +  $('#itemtype').val() +
		'&idMod=' +  $('#idMod').val() +
		'&accion=' + accion;
	if($('#tablaMod').val() != -1){
		params= params + 
			'&idinforef='+ $('#idinforef').val();
		objeto.orden=$('#ordenMod').val();
		objeto.camposRef=$('#camposRefMod').val();
		objeto.separador=$('#separadorMod').val();
	}
	params=params + "&objeto="+JSONstring.make(objeto);
	consultarAjax(params);
}

function agregarCampo(accion){
	$("#modificar").hide();
	var params='nivel=' +  $('#nivel').val() +
		'&itemtype=' +  $('#itemtype').val() +
		'&tmpl=catalogacion'+
		'&accion='+ accion;
	consultarAjaxSeleccion(params);
}

//Elimina el campo en la estructura inicial del catalogo
function eliminarCampo(id,intra,accion){
	$("#result").html("");
	$('#idMod').val(id);
	var params='nivel=' +  $('#nivel').val() +
		'&itemtype=' +  $('#itemtype').val() +
		'&idMod=' + id + '&intra=' + intra + '&accion=' + accion;
	consultarAjax(params);
}

function modificarOrden(id,intra,accion){
	$("#result").html("");
 	$('#idMod').val(id);
	var params='nivel=' +  $('#nivel').val() +
		'&itemtype=' +  $('#itemtype').val() +
		'&idMod=' + id + '&intra=' + intra + '&accion=' + accion;
	consultarAjax(params);
}

function editarCampo(id,accion){
	$("#result").html("");
	$('#idMod').val(id);
	var params='nivel=' +  $('#nivel').val() +
		'&itemtype=' +  $('#itemtype').val() +
		'&idMod=' + id + '&accion=' + accion ;
	consultarAjax(params);
}

function visibilidad(id){
	var visible=$('#'+id).val();
	var params='nivel=' +  $('#nivel').val() +
		'&itemtype=' +  $('#itemtype').val() +
		'&visible=' + visible + '&id=' + id +'&accion=11';
	consultarAjax(params);
}

</script>


<!-- Me guardo el subcampo -->
<input type="hidden" id="subcampo">
<input type="hidden" id="nivelMod">
<input type="hidden" id="idMod">

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >Modificaci&oacute;n de campos MARC </td>
	</tr>
	<tr>	
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>

</table>

<br><br>
<label for="nivel" style="float: left; width:13%" >
	Nivel:
</label>
<!-- TMPL_VAR NAME="selectNivel" -->


<div id="divitemtype" style="display:none;">

<p>
<label for="itemtype" style="float: left; width:13%;">
	Tipo de item: 
</label>
<!-- TMPL_VAR NAME="selectItemType" -->
</p>
</div>

<div id= "result2"></div>
<div id= "result"></div>



<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

