
<!-- TMPL_INCLUDE NAME="opac-top.inc" -->

<center>

<!-- TMPL_IF NAME=searchdesc -->
	Ha Buscado por <b><!-- TMPL_VAR NAME=searchdesc -->, </b>
<!-- TMPL_ELSE -->
	No especific&oacute; ning&uacute;n criterio de b&uacute;squeda<br>
<!-- /TMPL_IF -->

<!-- TMPL_VAR NAME=numrecords --> resultados encontrados
<p>
<!-- Row of numbers corresponding to search result pages -->

<table>
<tr><td>
<ul>
<!-- TMPL_LOOP NAME=SEARCH_RESULTS -->
  <li>
    <!-- TMPL_IF NAME=direct -->
      <A HREF="opac-detail.pl?bib=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="keyword" --> <!-- TMPL_IF NAME=show --><font size="2"><i>(<!-- TMPL_VAR NAME="title" --> - <!-- TMPL_VAR NAME="author" -->)</i></font><!-- /TMPL_IF --></A>
    <!-- TMPL_ELSE -->
      <A HREF="opac-searchresults.pl?dictionary=<!-- TMPL_VAR NAME="keyword2" -->&dicdetail=1"><!-- TMPL_VAR NAME="keyword" --></A>
    <!-- /TMPL_IF -->
  </li>
  <!-- TMPL_IF NAME=jump -->
	</ul></td><td><ul>
  <!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
</ul>
</td></tr>
</table>

<br><br>


Intentar una nueva <a href=/cgi-bin/koha/opac-search.pl>b&uacute;squeda</a>


<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
