<!-- TMPL_INCLUDE NAME="opac-top.inc" -->

<!-- TMPL_LOOP NAME="BIBLIO_RESULTS" -->

 <table border="0" align="center" width="100%">

<tr><td>
<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="tope">
<!-----------------Registro de libro TABLE--------->
        <tr valign="top">
                <td  class="bordetabla">
                <b><!-- TMPL_VAR NAME="title" --> <!-- TMPL_IF name="author" --> (<!-- TMPL_VAR NAME="author" -->) <!-- /TMPL_IF -->
		
		<!-- TMPL_VAR NAME="class" --></b>
		</td>
        </tr>

	<tr valign="top">
		<td class="impar">
                        <!-- TMPL_IF name="unititle" -->T&iacute;tulo Informativo:<b> <!-- TMPL_VAR NAME="unititle" --></b><br><!-- /TMPL_IF -->
                        <!-- TMPL_IF name="subtitle" -->Otro T&iacute;tulo:<b> <!-- TMPL_VAR NAME="subtitle" --></b><br><!--
/TMPL_IF -->
                        <!-- TMPL_IF name="author" -->Autor: <b><a href="/cgi-bin/koha/opac-searchresults.pl?author=<!--
TMPL_VAR NAME="author" ESCAPE="URL" -->"><!-- TMPL_VAR NAME="author" --></a></b><br><!-- /TMPL_IF -->
                        <!-- TMPL_IF name="additional" -->Colaboradores:<b> <!-- TMPL_VAR NAME="additional" --></b><br><!-- /TMPL_IF -->
			<!-- TMPL_IF name="cdu" -->CDU :<b> <!-- TMPL_VAR NAME="cdu" --></b><br><!-- /TMPL_IF -->
                        <!-- TMPL_IF name="SUBJECTS" -->Materia:<b> 
                                <!-- TMPL_LOOP NAME="SUBJECTS" -->                                        
					<a href="/cgi-bin/koha/opac-searchresults.pl?&amp;subjectitems=<!-- TMPL_VAR NAME=subject -->"><!-- TMPL_VAR NAME=subject --></a><!-- TMPL_VAR NAME=separator -->
                                <!-- /TMPL_LOOP --></b>
			<br><!-- /TMPL_IF -->
                        <!-- TMPL_IF name="notes" -->Notas:<b> <!-- TMPL_VAR NAME="notes" --></b><br><!-- /TMPL_IF -->
                        <!-- TMPL_IF name="abstract" -->Resumen:<b> <!-- TMPL_VAR NAME="abstract" --></b><br><!-- /TMPL_IF -->
                        <!-- TMPL_IF name="classification" -->Clasificaci&oacute;n:<b> <!-- TMPL_VAR name="classification" --></b><br><!-- /TMPL_IF -->
                        <!-- TMPL_IF name="lccn" -->LCCN:<b> <!-- TMPL_VAR name="lccn" --></b><br><!-- /TMPL_IF -->
                        <!-- TMPL_IF name="url" -->URL:<b> <a href="http://<!-- TMPL_VAR name="url" -->"><!-- TMPL_VAR NAME="url" --></a></b><br><!-- /TMPL_IF -->
                        <hr>
			N&uacute;mero Total de Ejemplares:<b> <!-- TMPL_VAR NAME="count" --></b>
                       <!-- TMPL_UNLESS NAME="norequests" -->
  			<!-- <p align="right"><a href="/cgi-bin/koha/opac-reserve.pl?bib=<!-- TMPL_VAR NAME="biblionumber" ESCAPE=URL -->">
        		Reservar</a></p> -->
			<!-- /TMPL_UNLESS -->
 
		</td>
	</tr>
</table>
<!-- /TMPL_LOOP -->
</td></tr>
<tr><td>


<center>
<TABLE cellspacing=0 border="0" cellpadding=0 width="100%" class="tope">
 <tr class="bordetabla">
       <th >&nbsp;</th> 
</tr>
 <!-- TMPL_LOOP NAME="BIBLIOITEMS" -->
<tr class="bordetabla">
       <td height="10"></td>       
</tr>
<tr>
<td valign="top" width="100%">
        <table cellpadding="2" cellspacing="2"  width="100%">
        <!--
	<tr cellpadding="3">
        <td align="center" class="bordetabla"  ><b>
        <!-- TMPL_VAR NAME="biblioitemnumber" --> GRUPO - <!-- TMPL_VAR NAME="description" -->
        </b></td>
        </tr>
	-->
        <tr >
	<td class="impar">


      <!-- TMPL_IF name="number" -->  Edici&oacute;n:<b> <!-- TMPL_VAR NAME="number" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="place" -->        Lugar:<b> <!-- TMPL_VAR NAME="place" --> </b>&nbsp;&nbsp;<!-- /TMPL_IF -->
<!-- TMPL_IF name="publishercode" -->	Editor:<b> <!-- TMPL_VAR NAME="publishercode" --></b>&nbsp;<!-- /TMPL_IF -->
<!-- TMPL_IF name="publicationyear" -->        Fecha:<b> <!-- TMPL_VAR NAME="publicationyear" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="pages" -->        P&aacute;ginas:<b> <!-- TMPL_VAR name="pages" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="seriestitle" -->        Serie:<b> <!-- TMPL_VAR NAME="seriestitle" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="isbn" -->        ISBN:<b> <!-- TMPL_VAR NAME="isbn" -->   &nbsp;&nbsp;<!-- /TMPL_IF -->
<!-- TMPL_IF name="isbn2" -->                 <!-- TMPL_VAR NAME="isbn2" --></b><!-- /TMPL_IF --><br>
<!-- TMPL_IF name="volume" -->	Volumen:<b> <!-- TMPL_VAR NAME="volume" --></b> &nbsp;&nbsp;<!-- /TMPL_IF -->
<!-- TMPL_IF name="volumeddesc" -->        Descripci&oacute;n:<b> <!-- TMPL_VAR NAME="volumeddesc" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="notes" -->        Notas:<b> <!-- TMPL_VAR NAME="notes" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="size" -->	Tama&ntilde;o:<b> <!-- TMPL_VAR name="size" --></b><br><!-- /TMPL_IF -->
	<hr>
<!-- TMPL_IF name="firstST" -->	Signatura Topogr&aacute;fica: <b> <!-- TMPL_VAR name="firstST" --></b>
	&nbsp;<img src="<!-- TMPL_VAR NAME='themelang' -->/images/ico_help.gif" title="Usar este dato para solicitar el libro" border=0>
 <!-- /TMPL_IF -->
	</td>
        </tr>
        </TABLE>
</td>
</tr>

<!--

<tr class="bordetabla">
	<th>
		Ejemplares&nbsp;<img src="<!-- TMPL_VAR NAME='themelang' -->/images/ico_help.gif" title="Solicite el ejemplar mediante la signatura topagr&aacute;fica" border=0>
	</th>
</tr>

<tr>
<td valign="top" align="center">


<table cellspacing="2" cellpadding="1"  width="100%">
<tr  cellpadding="3"  align="center"  class="bordetabla" >
    <th>Signatura Topogr&aacute;fica </th>
    <th>C&oacute;digo de Barras</th>
    <th>Disponibilidad</th>
    <th>Fecha de Vencimiento</th>
</tr>

<!-- TMPL_LOOP NAME="items" -->
                                                                                                                             
        <tr align='center'>
            <td class="impar">
                <!-- TMPL_VAR NAME="bulk" -->
            </td>
            <td class="impar">
                <!-- TMPL_VAR NAME="barcode" -->
            </td>
            <td class="impar">
                <!-- TMPL_VAR NAME="datedue" -->
            </td>
            <td class="impar">
                <!-- TMPL_VAR NAME="returndate" -->
            </td>
        </tr>                                                                                                                           
<!-- /TMPL_LOOP -->


 </table>


</td>
</tr>

-->
    <!-- /TMPL_LOOP -->
</TABLE>
</center>                                                                                                                                                            
</td></tr></table>



	<!-- TMPL_LOOP NAME="WEB_RESULTS" -->
<table>
		<tr>
			<td><!-- TMPL_VAR NAME="itemtype" --></td>
			<td>Sitio Web</td>
			<td>En L&iacute;nea</td>
			<td>Disponible</td>
			<td>&nbsp;</td>
			<td><!-- TMPL_VAR NAME="url" --></td>
		</tr>
	<!-- /TMPL_LOOP -->
</table>
</td></tr>
</p>
<p><br clear="all"></p>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
