<!-- TMPL_INCLUDE name="opac-top.inc" -->
<table border="0"  width="100%" class="top" >
<tr><TD><table border="0"  width="100%" class="top" >
<tr><td>
<!-- TMPL_IF Name="viewshelf" -->


<table  WIDTH=45%  cellpadding="4" cellspAcing="0" border="1" align="center">
<!-- TMPL_LOOP Name="parentloop" -->

		    <tr class="bordetabla"  bordercolor="#f2f2f2" >
                        <th align="center">Estante Superior</th>
                      <!--  <th  align="center" width=17%>Cantidad de Estantes</th> -->
                      <!--  <th  align="center" width=17%>Cantidad de Grupos</th> -->
                   </tr>

                        <tr  bordercolor="#f2f2f2" >
                          
 <td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
                                 <a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name="shelfnumber" -->"> <!-- TMPL_IF Name="shelfname" --><!-- TMPL_VAR Name="shelfname" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></a>
                              <!--  <td align="left" <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
(<!-- TMPL_VAR Name="countshelf" --> es.)</td>-->
                              <!--  <td align="left" <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
(<!-- TMPL_VAR Name="count" --> ej.)</td>-->

                        </tr>

		 <TR CLASS="bordetabla"  bordercolor="#f2f2f2">
                <table width=45%  cellpadding="4" cellspacing="0" border="0" align="center">
                   <th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                </table>
                </tr>
   <!-- /TMPL_LOOP -->
        </table>
<br>
<br>
<!--Tabla que muestra los subestantes-->

<table WIDTh=45%  align="center" cellpadding="4" cellspacing="0" border="1" align="center">
                   <tr class="bordetabla"  bordercolor="#f2f2f2" >
                        <th align="center">SubEstantes de <!-- TMPL_VAR Name="shelfname" --></th>
                      <!--    <th  align="center" width=17%>Cantidad de Estantes</th>-->
                        <!--  <th  align="center" width=17%>Cantidad de Grupos</th>-->
                   </tr>

                <!-- TMPL_LOOP Name="shelvesloopshelves" -->
 			<tr  bordercolor="#f2f2f2">
                                <td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
                                 <a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name="shelfnumber" -->"><!-- TMPL_IF Name="shelfname" --><!-- TMPL_VAR Name="shelfname" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></a>
                             <!--    <td align="left" <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
(<!-- TMPL_VAR Name="countshelf" --> es.)</td>-->
                               <!--  <td align="left" <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
(<!-- TMPL_VAR Name="count" --> ej.)</td>-->

                        </tr>

                <!-- /TMPL_LOOP -->
                <tr class="bordetabla"  bordercolor="#f2f2f2">
                <table width=45% align="center" cellpadding="4" cellspacing="0" border="0" align="center">
                   <th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                </table>   
                </tr>
	</table>
<br>

	<table width=98%  align="center" cellpadding="4" cellspacing="0" border="1">
                   <tr class="bordetabla"  bordercolor="#f2f2f2" > 
                        <th align="center">Contenido de <!-- TMPL_VAR Name="shelfname" --></th>
                   </tr>
	</table>
        <table width=98%  align="center" cellpadding="4" cellspacing="0" border="1">
                   <tr class="bordetabla"  bordercolor="#f2f2f2" > 
                        <th align="center" width=40%>T&iacute;tulo</th>
                        <th  align="center" width=30%>Autor</th>
                        <th  align="center" width=20%>Lugar</th>
			<th  align="center" width=20%>Edici&oacute;n</th>

                   </tr>
			 <!-- TMPL_LOOP Name="bitemsloop" -->
        		<tr>
				<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><a href=/cgi-bin/koha/<!-- TMPL_VAR name="script" -->?bib=<!-- TMPL_VAR NAME=biblionumber ESCAPE=URL -->><!-- TMPL_VAR NAME=title --></a></td>
                		<td  <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><a href="/cgi-bin/koha/opac-searchresults.pl?author=<!-- TMPL_VAR NAME=author -->"><!-- TMPL_IF Name="author" --><!-- TMPL_VAR Name="author" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></a>
				</td>
				<td  <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><!-- TMPL_IF Name="place" --><!-- TMPL_VAR Name="place" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>
                                <td  <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><!-- TMPL_IF Name="editors" --><!-- TMPL_VAR Name="editors" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>
			</tr>
		<!-- /TMPL_LOOP -->
			 <tr class="bordetabla"  bordercolor="#f2f2f2">
                	    <table align="center" width=98%  cellpadding="4" cellspacing="0" border="0">
                   		<th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                            </table>
                         </tr>
	</table>
<br>
<br>
<!-- TMPL_ELSE -->

<!-- TMPL_IF Name="viewShelfItems" -->
		<br>
                <br>
                <table width=90%  cellpadding="4" cellspacing="0" border="1" align="center">
                   <tr class="bordetabla"  bordercolor="#f2f2f2" >
                        <th align="center" width="50%">Nombre del Estante</th>
                        <th align="center" width=50%>Nombre del SubEstante</th>
                       <!-- <th  align="center" width=17%>Cantidad de Estantes</th>-->
                       <!-- <th  align="center" width=17%>Cantidad de Grupos</th>-->
                   </tr>

                        <!-- TMPL_LOOP Name="shelvesloop" -->
                         <tr  bordercolor="#f2f2f2">
 				<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name="numberparent" -->"><!-- TMPL_IF Name="nameparent" --><!-- TMPL_VAR Name="nameparent" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></a> 
                                <td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name="shelf" -->"><!-- TMPL_VAR Name="shelfname" --></a>                                 
 			<!--	<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">(<!-- TMPL_VAR Name="countshelf" --> es.)</td>-->
                            <!--     <td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">(<!-- TMPL_VAR Name="shelfbookcount" --> ej.)</td>-->

                        </tr>
                        <!-- /TMPL_LOOP -->
                                 <tr bordercolor="#f2f2f2">
                                   <table width=90% cellpadding="4" cellspacing="0" border="0" align="center">
                                        <th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                                   </table>
                                </tr>
                </table>

<!-- TMPL_ELSE -->
		<br>
		<br>
		<table width=45%  cellpadding="4" cellspacing="0" border="1" align="center">
		   <tr class="bordetabla"  bordercolor="#f2f2f2" >
                        <th align="center">Nombre del Estante</th>
 			<!--<th  align="center" width=17%>Cantidad de Estantes</th>-->
			<!--<th  align="center" width=17%>Cantidad de Grupos</th>-->
	           </tr>
                        
			<!-- TMPL_LOOP Name="shelvesloop" -->
			 <tr  bordercolor="#f2f2f2">   
				<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
				 <a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name="shelf" -->"><!-- TMPL_IF Name="shelfname" --><!-- TMPL_VAR Name="shelfname" --><!-- TMPL_ELSE -->--------<!-- /TMPL_IF --></a> 
			<!--	<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
(<!-- TMPL_VAR Name="countshelf" --> es.)</td>-->
			    <!--    <td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
(<!-- TMPL_VAR Name="shelfbookcount" --> ej.)</td>-->

			</tr>
			<!-- /TMPL_LOOP -->
                          	 <tr bordercolor="#f2f2f2">
                		   <table width=45% cellpadding="4" cellspacing="0" border="0" align="center">
                   			<th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                		   </table>
                		</tr>
		</table>
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
</td></tr></table><td></tr>
</table>
<!-- TMPL_INCLUde Name="opac-bottom.inc" -->
