<!-- TEMPLATE DE CAMPOS TEMPORALES -->
<hr>
<div width="100%">
        <b>Agregar campo Marc para el nivel [% nivel %]:</b>
        <div id="div1">
    <p>
    <label for="campoX" style="float:left; width:13%">Seleccion: </label> 
    [% selectCampoX %]
    </p>
</div>

<div id="id2">
        <p>
        <label for="tagField" style="float:left; width:13%">Campo: </label>
            <select name="campo" id="campo" onChange="eleccionCampo()">
                <option value="-1">Seleccionar CampoX</option>
            </select>
        Nombre: <span id="nombre_campo"></span>
        </p>
    </div>
<!--     <div id="id3"> -->
        <p align="left">
        <label for="tagsubField" style="float:left; width:13%">Subcampo: </label>
        <select name="subcampo" id="subcampo" onChange="eleccionSubCampo()">
                <option value="-1">Seleccionar SubCampo</option>
         </select>
        <input id="obligatorio" type="hidden" value="">
        Liblibrarian: <input id="liblibrarian" type="text" value="" size="90"> 
        </p>
        <label for="tipoInput" style="float:left; width:13%">Tipo de input:  </label>
        <p>
            <select name="tipoInput" id="tipoInput">
                <option value="-1">Seleccione tipo</option>
                <option value="text">Texto</option>
                <option value="texta">Texto area</option>
                <option value="texa2">Texto 1 por linea</option>
                <option value="combo">Combo box</option>
            </select>
        </p>
        <p>
        <label for="tabla" style="float:left; width:13%">Tabla de refencia: </label>
         <select name="tablaRef" id="tablaRef" onChange="eleccionTablaRef()">
                <option value="-1">Seleccionar TablaRef</option>
         </select>
        </p>
<!--     </div> -->
    <div id="divCamposRef" valign="top" style="display:none">
        <p>
        <label for="orden" style="float:left; width:13%">Orden: </label>
        <select name="camposSelect" id="camposSelect">
            <option value="-1">Seleccione anteriores</option>
        </select>

       <!-- <p>-->
        Campos: <input size="43" id="camposRef" name="camposRef" value="">
        separador: <input type="text" id="separador" name="separador">
        </p>
        <p>Ejemplo: [% ejemplo %]</p>
        <p>NOTA: En Campos borras los campos que no desea ingresar y en el separador ingresar un caracter que no sea una letra ni un numero</p>

    </div>

</div>

<br>
<div align="center">
    <input type="image" src="[% themelang %]/images/guardar.png" value="Guardar Campo temporal" title="Guardar Campo Temp"      
            onClick="agregarEstructuraCatalogacion([% nivel %])">
    <input type="image" src="[% themelang %]/images/borrar2.png" value="Cancelar" title="Cancelar Campo Temp" 
            onClick="cancelarEstructuraCatalogacion()">
</div>
