[% INCLUDE "intranet-top.inc" %]

<script src="/intranet-tmpl/blue/includes/seleccionCamposMarc.js"></script>
<script src="/intranet-tmpl/blue/includes/util.js"></script>

[% INCLUDE "helpCamposMARC.inc" %]

<script>
// ********************************************REVISADO***************************************************

function ordenar(orden){
    objAH.sort(orden);
}

function changePage(ini){
    objAH.changePage(ini);
}


//Muestra lo catalogado seguen el nivel y el tipo de item seleccionado (nivel > 1)
function eleccionDeNivel(){
	var nivel=$("#nivel").val();
	var ObjDiv = $("#divitemtype");
	if((nivel == '1') || (nivel == 'Niveles')){ObjDiv.hide();}
	else{ObjDiv.show();}
	
	objAH=new AjaxHelper(updateEleccionDeNivel);
    objAH.debug= true;
	objAH.url="/cgi-bin/koha/catalogacion/estructura/nuevo/estructuraCataloDB.pl";
	objAH.nivel=nivel;
    objAH.tipoAccion= 'MOSTRAR_CAMPOS';
	objAH.itemtype=$('#tipo_nivel3_id').val();
	objAH.sendToServer();

}

function updateEleccionDeNivel(responseText){
    $("#resultCatalogacion").html(responseText);
    zebra("tablaResult");
}

function modificarOrden(id, accion){
    objAH=new AjaxHelper(eleccionDeNivel);
    objAH.debug= true;
    objAH.url="/cgi-bin/koha/catalogacion/estructura/nuevo/estructuraCataloDB.pl";
    objAH.idMod=id;
    objAH.tipoAccion= accion; //SUBIR_ORDEN, BAJAR_ORDEN
    objAH.sendToServer();
}

function visibilidad(id){
    objAH=new AjaxHelper(eleccionDeNivel);
    objAH.debug= true;
    objAH.url="/cgi-bin/koha/catalogacion/estructura/nuevo/estructuraCataloDB.pl";
    objAH.id=id;
    objAH.tipoAccion= 'CAMBIAR_VISIBILIDAD';
    objAH.sendToServer();
}

//Elimina el campo en la estructura inicial del catalogo
function eliminarCampo(id){
    objAH=new AjaxHelper(eleccionDeNivel);
    objAH.debug= true;
    objAH.url="/cgi-bin/koha/catalogacion/estructura/nuevo/estructuraCataloDB.pl";
    objAH.idMod=id;
    objAH.tipoAccion= 'ELIMINAR_CAMPO';
    objAH.sendToServer();
}

function mostrarAgregarCampo(accion){
    $("#modificar").hide();
    objAH=new AjaxHelper(updateInfo);
    objAH.url="/cgi-bin/koha/catalogacion/estructura/nuevo/estructuraCataloDB.pl";
    objAH.tipoAccion="MOSTRAR_FORM_AGREGAR_CAMPOS";
    objAH.sendToServer();
}

/*
 * eleccionCampoX
 * Funcion que se ejecuta cuando se selecciona un valor del combo campoX (ej. 1xx), y hace un llamado a la 
 * funcion que ejecuta el ajax, con los parametros correspondiente a la accion realizada.
 */
function eleccionCampoX(){
    objAH=new AjaxHelper(updateEleccionCampoX);
    objAH.url="/cgi-bin/koha/catalogacion/estructura/nuevo/estructuraCataloDB.pl";
    objAH.campoX=$('#campoX').val();
    objAH.nivel=$('#nivel').val();
//     objAH.itemtype=$('#itemtype').val();
    objAH.tipoAccion="GENERAR_ARREGLO_CAMPOS";
    objAH.sendToServer();
}

function updateEleccionCampoX(responseText){
    var campos=JSONstring.toObject(responseText);
    options = "";
    for (x=0;campos.length;x++){
        options+= "<option value="+campos[x].tagfield >+campos[x].tagfield+"</option>";
    }
    $("#campo").html(responseText);
    
}

// ********************************************FIN REVISADO***************************************************




function objetoRespuesta(campo,subcampo,lib,tipo,oblig,tabla){
	this.campo=campo;
	this.subcampo=subcampo;
	this.lib=lib;
	this.tipoInput=tipo;
	this.obligatorio=oblig;
	this.tabla=tabla;
	this.orden="";
	this.camposRef="";
	this.separador="";
}

function guardarCamposModificados(accion){

	var objeto=new objetoRespuesta($('#tagField').val(),$('#subcampo').val(),$('#lib').val(),$('#tipoInput').val(),$('#obligatorio').val(),$('#tabla').val());
	if ($('#tabla').val() != -1){
		objeto.orden=$('#orden').val();
		objeto.camposRef=$('#camposRef').val();
		objeto.separador=$('#separador').val();
	}

	objAH=new AjaxHelper(updateInfoEstrCatalogo);//La funcion y el objeto estan en seleccionCamposMarc.js
	objAH.url="/cgi-bin/koha/catalogacion/estructura/estructuraCataloResults.pl";
	objAH.nivel=$('#nivel').val();
	objAH.itemtype=$('#tipo_nivel3_id').val();
	objAH.objeto=objeto;
	objAH.accion=accion;
	objAH.sendToServer();
	$("#result").html("");
}

function guardarModificaciones(accion){
	objAH=new AjaxHelper(updateInfoEstrCatalogo);//La funcion y el objeto estan en seleccionCamposMarc.js
	objAH.url="/cgi-bin/koha/catalogacion/estructura/estructuraCataloResults.pl";
	objAH.nivel=$('#nivel').val();
	objAH.itemtype=$('#tipo_nivel3_id').val();
	objAH.idMod=$('#idMod').val();
	objAH.accion=accion;
	
	var objeto=new objetoRespuesta($('#campoMod').val(),$('#subcampoMod').val(),$('#textoMod').val(),$('#selectTipo').val(),"",$('#tablaMod').val());
	if($('#tablaMod').val() != -1){
		objAH.idinforef=$('#idinforef').val();
		objeto.orden=$('#ordenMod').val();
		objeto.camposRef=$('#camposRefMod').val();
		objeto.separador=$('#separadorMod').val();
	}
	objAH.objeto=objeto;
	objAH.sendToServer();
}

function editarCampo(id,accion){
	$("#result").html("");
	$('#idMod').val(id);
	
	objAH=new AjaxHelper(updateInfoEstrCatalogo);//La funcion y el objeto estan en seleccionCamposMarc.js
	objAH.url="/cgi-bin/koha/catalogacion/estructura/estructuraCataloResults.pl";
	objAH.nivel=$('#nivel').val();
	objAH.itemtype=$('#tipo_nivel3_id').val();
	objAH.idMod=id;
	objAH.accion=accion;
	objAH.sendToServer();
}



</script>


<!-- Me guardo el subcampo -->
<input type="hidden" id="subcampo">
<input type="hidden" id="nivelMod">
<input type="hidden" id="idMod">

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >Modificaci&oacute;n de campos MARC </td>
	</tr>
	<tr>	
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>

</table>

<br><br>
<label for="nivel" style="float: left; width:13%" >
	Nivel:
</label>
[% selectNivel %]


<div id="divitemtype" style="display:none;">

    <p>
    <label for="itemtype" style="float: left; width:13%;">
	    Tipo de item: 
    </label>
    [% selectItemType %]
    </p>

</div>

<!-- estos dos no se si usan -->
<div id= "result2"></div>
<div id= "result"></div>

<!-- PARA MOSTRAR LO CATALOGADO -->
<div id= "resultCatalogacion"></div>

[% INCLUDE "intranet-bottom.inc" %]

