[% IF nivel != 'Niveles' %]
    <br>
    [% IF error %]
	    <div class="mensajeError">[% error %]</div>
    [% END %]

    [% IF cant != 0 %]
        <table id="tablaCamposMod" class="tablaResult" width="100%" cellspacing="0" cellpadding="0" border="0">
	        <tr>
		        
		        <td colspan="7" class=inputFontNormal> 
			        <b>Campos Modificados del nivel [% nivel %] </b>
		        </td>
		        
	        </tr>
            
	        <tr class="tablaresultadoTitle">
		        <td width="1%" align="left" valign="top"><img src="[% themelang %]images/izquierda.png"></td>
		        <td width="21%">MARC</td>
		        <td width="20%">Vista en Intranet</td>
		        <td >Orden</td>
		        <td >Visible</td>
		        <td >Editar</td>
		        <td >Deshabilitar</td>
		        <td width="1%" align="right" valign="top"><img src="[% themelang %]/images/derecha.png"></td>
	        </tr>
            
            [% FOREACH RESULTDATA %]
	        <tr align="center" class=inputFontNormal>
		        <td><br>&nbsp;</td>
		        <td>
			        
			        Campo: <b>[% campo %]</b>, Subcampo: <b>[% subcampo %]</b>
		        </td>
		        <td>
			        [% liblibrarian %]
		        </td>
		        <td>
			        <input id="orden,[% campo %],[% subcampo %]" type="hidden" value="[% intranet_habilitado %]">
        
			        <input  src="[% themelang %]/images/1uparrow.png" type="image"  value="Subir en el Orden" title="Subir Orden" onClick="modificarOrden('[% id %]','[% intranet_habilitado %]',7)">
        
			        <input  src="[% themelang %]/images/1downarrow.png" type="image"  value="Bajar en el Orden" title="Bajar Orden" onClick="modificarOrden('[% id %]','[% intranet_habilitado %]',8)">
		        </td>
		        <td>
			        <input type="checkbox" id="[% id %]" value="[% visible %]" onChange="visibilidad('[% id %]')" 
			        value="[% visible %]" [% IF visible %] 
                                            checked
			                            [% END %] 
                    >
		        </td>
		        <td>
			        <input  src="[% themelang %]/images/modificar.png" type="image"  value="Modificar Campo" title="Modificar Campo" onClick="editarCampo('[% id %]',9)">
        
		        </td>
		        <td>
			        <input  src="[% themelang %]/images/eliminar.png" type="image"  value="Eliminar Campo" title="Eliminar Campo" onClick="eliminarCampo('[% id %]','[% intranet_habilitado %]',6)">
        
		        </td>
		        <td><br>&nbsp;</td>
	        </tr>
            [% END %]
            
        </table>
    
    [% END %]
    
    <br>
    <center>
    <input src="[% themelang %]/images/agregar.png" type="image"  value="Agregar Campo" title="Agregar Campo" onClick="agregarCampo()">
    </center>
       
[% END %] <!-- END IF niveles -->





