[% INCLUDE 'intranet-top.inc' %]

<script type="text/javascript"> 

    function exportar(){
        $('#fExportacion').submit();
    }
  

    $(document).ready(function() {


    });

</script>
<fieldset>
  <legend><strong>[% "Herramientas de Exportaci&oacute;n:" | i18n %]</strong></legend>

<div style="width: 100%; clear: both; margin: 0 auto;">
<form id="fExportacion" method="post" action="exportar.pl">
<fieldset class="rows">
<legend class="titulo_legend">Seleccionar los registros a exportar</legend>

<div style="width: 100%; clear: both; margin: 0 auto;">
<fieldset >
<legend class="titulo_legend">Opciones de exportaci&oacute;n</legend>
 <ul>
      <li class="sub_item" >
        <label for="biblio_ini">Del registro n&uacute;mero :</label>
        <input type="text" id="biblio_ini" name="biblio_ini" size="15"> al : <input type="text" name="biblio_fin" size="15">
      </li>
       <li class="sub_item" >
        <label for="limit">Limitar a los primeros </label>
        <input type="text" id="limit" name="limit"> registros.
      </li>
      <li class="sub_item" >
        <label for="tipo_nivel3_id">Tipo de documento : </label>
        [% combo_tipo_documento %]
      </li>
      <li class="sub_item" >
        <label for="id_ui">Unidad de Informaci&oacute;n :</label>
          [% combo_ui %]
      </li>
      <li class="sub_item" >
        <label>Nivel Bibliogr&aacute;fico:</label>
        [% combo_nivel_bibliogratico %]
      </li>
      <li class="sub_item" >
        <label>Exportar Ejemplares </label>
        <input type="checkbox" name="exportar_ejemplares" value="1" checked>
      </li>
      </ul>
    </fieldset>
    <div style="width: 100%; clear: both; margin: 0 auto;text-align:center;">
    <fieldset>
    <legend class="titulo_legend">Tipo de exportaci&oacute;n</legend>
        <input type="radio" name="export_type" value="koha_marc" checked/> Koha MARC
        <input type="radio" name="export_type" value="isis_marc" /> Isis MARC (ROBLE)
    </fieldset>
    <fieldset  id="export" >
    <legend class="titulo_legend">Formato de exportaci&oacute;n</legend>
        <input type="radio" name="export_format" value="iso" checked/> ISO 2709
        <input type="radio" name="export_format" value="xml" /> XML
    </fieldset>
    </div>
    <div style="text-align:center;">
        <input type="hidden" id="op" name="op" value="export">

          [% PERL %]
                     print C4::AR::Filtros::to_Button(   
                                                          text          => "[% 'Exportar' | i18n %]",
                                                          boton         => "boton_exportar_marc",
                                                          width         => "auto",
                                                          onClick       => "exportar();",
                                                          alternClass   => "botonCentrado",
                                                          title         => "[% 'Exportar' | i18n %]",
                             ) ;
          [% END %]
    </div>
    
</fieldset>
</div>
</form>
</div>

<div id="result"></div>
</fieldset>

[% INCLUDE 'intranet-bottom.inc' %]

