.classform{
	margin: 0;
	padding: 0;
}


.classform p {
	margin-bottom: 15px;
}

.classform input, .classform textarea {
	padding: 5px;
	font-family: Helvetica, sans-serif;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

.classform textarea {
	height: 90px;
}

.classform textarea:focus, .classform input:focus {
	border: 2px solid #900;
}

.classform input.submit-button {
	width: 140px;
	float: right;
	text-align: center;
}

.classform label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 220px;
	font-size: 1em;
}

.nonForm{
	margin: 0 auto;
	width: auto;
}

.search-title{
	font-style: italic;
	color: graytext;