<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
 <table width="95%" class="pagetitle" border="0" cellpadding="0" cellspacing="0" ><tr><td>Administraci&oacute;n de ejemplares (MARC)</td></tr>
           <tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
	                            </table>
				    
<!-- TMPL_IF name="noitemsfound" -->
	<p>
	<font color="red" size="4">No se encontraron ejemplares</font>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="websiteadded" -->
	<p>
	<font color="red" size="4">Sitio Web Biblioitem Added</font>
<!-- /TMPL_IF -->

</p>
<table bgcolor="#ffcc00" width="80%" cellpadding="3">
	<tr valign="center">
	<td><font size="4">Para agregar una nueva descripci&oacute;n bibliogr&aacute;fica o un nuevo ejemplar, ingrese el n&uacute;mero de ISBN o ISSN:</font></td>
	</tr>
</table>
<form action="isbnsearch.pl">
	<table cellpadding="3" border=0 width="80%">
		<tr valign="top">
			<td width="5%">ISBN:</td>
			<td width="20%"><input type="text" name="isbn"></td>
			<td width="10%" rowspan=2 valign="middle"><input type="submit" value="Ir" class="button"></td>
			<td rowspan=2>Si el ISBN o el t&iacute;tulo es encontrado en la tabla de descripciones bibliogr&aacute;ficas, puede ser recuperado y puede ser modificado.<br/>
					Si el ISBN o el t&iacute;tulo es encontrado en la breeding farm, puede ser recuperado y el ejemplar puede ser agregado.<br/>
					De otro modo, debe agregarse desde el principio.</td>
		</tr>
		<tr>
			<td width="5%">T&iacute;tulo</td>
			<td width="20%"><input type="text" name="title"></td>
		</tr>
		<tr>
		<!-- TMPL_IF NAME="NOTMARC" -->
			<td colspan=4 height=90><a href="addbiblio-nomarc.pl" class="button">Crear descripci&oacute;n bibliogr&aacute;fica vac&iacute;a</a></td></tr>
		<!-- TMPL_ELSE -->
			<td colspan=4 height=90><a href="addbiblio.pl" class="button">Crear descripci&oacute;n bibliogr&aacute;fica vac&iacute;a</a></td></tr>
		<!-- /TMPL_IF -->
	</table>
</form>

<p />
<p />

<table bgcolor="#ffcc00" width="80%" cellpadding="3">
	<tr valign="center">
		<td><FONT SIZE=4>Agregar Nuevo Sitio</font></td>
	</tr>
</table>
<form action="websitesearch.pl" method="post">
	<table>
	<tr>
		<td>Clave:</td>
		<td><input type="text" name="keyword" /></td>
		<td><input type="submit" value="Ir" class="button"></td>
	</tr>
	</table>
</FORM>
<p />
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
