[% INCLUDE 'intranet-top.inc' %]

<script src="/intranet-tmpl/blue/includes/circulacion.js"></script>
<script src="/intranet-tmpl/blue/includes/usuarios/usuariosReales.js"></script>

<!-- Se incluyen las librerias necesarias para manejar autocomplete -->
[% INCLUDE "AutocompleteHelper.inc" %]

<script language="javascript" type="text/javascript">


function verificarBarcode(){

	objAH=new AjaxHelper(updateVerificarBarcode);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/cir/circulacionDB.pl";
	objAH.id1= id1;
	objAH.id2= id2;
	objAH.tipoAccion= "VERIFICAR_BARCODE";
	//se envia la consulta
	objAH.sendToServer();
}

function updateVerificarBarcode(responseText){
	var Messages= JSONstring.toObject(responseText);
	setMessages(Messages);
}

function realizarAccion(){

	objAH=new AjaxHelper(updateRealizarAccion);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.nro_socio= $('#nro_socio_hidden').val();
	objAH.barcode= $('#barcode').val();
	objAH.operacion= $('#operacion').val();
// 	objAH.autorizado= $('#operacion').val();
	objAH.tipoAccion= "CIRCULACION_RAPIDA";
	//se envia la consulta
	objAH.sendToServer();
}

function updateRealizarAccion(responseText){
	var Messages= JSONstring.toObject(responseText);
	setMessages(Messages);
}

function tieneApoderado(){
	objAH=new AjaxHelper(updateTieneAutorizado);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.nro_socio= $('#nro_socio_hidden').val();
	objAH.tipoAccion= "CIRCULACION_RAPIDA_TIENE_AUTORIZADO";
	//se envia la consulta
	objAH.sendToServer();
}

function updateTieneAutorizado(responseText){
	if(responseText != '0'){
		$('#divAutorizado').show();
		$('#divAgregarAutorizado').hide();
	}else{
		$('#divAgregarAutorizado').show();
		$('#divAutorizado').hide();
	}
}

$(document).ready(function() {
	$('#divAutorizado').hide();
	$('#divAgregarAutorizado').hide();
	CrearAutocompleteUsuarios('usuario','nro_socio_hidden');
	CrearAutocompleteBarcodes('barcode','barcode_hidden');
});

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >
			Circulaci&oacute;n R&aacute;pida
		</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<ul>
	<li>
		<div id="divInfoEjemplar">
		C&oacute;digo de Barras: 	<input type="text" id="barcode" value="" tabindex='1'>
									<input type='hidden' id='barcode_hidden' value='' onChange="tieneApoderado()">
		</div>
	</li>
	<li>
		Operaci&oacute;n: 	<select id='operacion' tabindex='2'>	
								<option value="prestar">Pr&eacute;stamo</option>
								<option value="devolver">Devoluci&oacute;n</option>
								<option value="renovar">Renovaci&oacute;n</option>
							</select>
	</li>
	<li>
		<div id="divInfoUsuario">
		Usuario: 	<input type='text' id='usuario' value='' tabindex='3'>
					<input type='hidden' id='nro_socio_hidden' value=''>
		</div>
		<div style="width:100%">
		<div id="divAutorizado" style="float:left">Autorizado: <input type="checkbox" value="autorizado"></div>
		<div id="divAgregarAutorizado" style="float:left">
			<input type="button" value="[% 'Agregar' | i18n %]" title="[% 'Agregar Autorizado' | i18n %]" onClick="agregarAutorizado()">
		</div>
	</li>
	<li>
		<input type="button" value="Aceptar" onClick="realizarAccion()" tabindex='4'>
	</li>
</ul>

[% INCLUDE 'intranet-bottom.inc' %]
