[% INCLUDE 'intranet-top.inc' %]

<script src="/intranet-tmpl/blue/includes/circulacion.js"></script>
<script src="/intranet-tmpl/blue/includes/usuarios/usuariosReales.js"></script>

<!-- Se incluyen las librerias necesarias para manejar autocomplete -->
[% INCLUDE "AutocompleteHelper.inc" %]

<script language="javascript" type="text/javascript">
// para la ventana de Agregar Autorizado
NRO_SOCIO_AUTH=0;

function verificarBarcode(){

	objAH=new AjaxHelper(updateVerificarBarcode);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/cir/circulacionDB.pl";
	objAH.id1= id1;
	objAH.id2= id2;
	objAH.tipoAccion= "VERIFICAR_BARCODE";
	//se envia la consulta
	objAH.sendToServer();
}

function updateVerificarBarcode(responseText){
	var Messages= JSONstring.toObject(responseText);
	setMessages(Messages);
}


function obtenerTiposDePrestamos(){

	objAH=new AjaxHelper(updateObtenerTiposDePrestamos);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.nro_socio= NRO_SOCIO_AUTH;
	objAH.barcode= $('#barcode_hidden').val();
	objAH.tipoAccion= "CIRCULACION_RAPIDA_OBTENER_TIPOS_DE_PRESTAMO";
	//se envia la consulta
	objAH.sendToServer();
}

function updateObtenerTiposDePrestamos(responseText){
	var infoHash= JSONstring.toObject(responseText);
	var tipoPrestamo_array_hash_ref= infoHash.tipoPrestamo;
	var comboTipoPrestamo_html= crearCombo(tipoPrestamo_array_hash_ref, 'comboTipoPrestamo');

	$('#spanComboTipoPrestamo').html(comboTipoPrestamo_html);
}

function realizarAccion(){

	objAH=new AjaxHelper(updateRealizarAccion);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.nro_socio= $('#nro_socio_hidden').val();
	objAH.barcode= $('#barcode_hidden').val();
	objAH.operacion= $('#operacion').val();
	objAH.tipoPrestamo= $('#comboTipoPrestamo').val();
// 	objAH.autorizado= $('#operacion').val();
	objAH.tipoAccion= "CIRCULACION_RAPIDA";
	//se envia la consulta
	objAH.sendToServer();
}

function updateRealizarAccion(responseText){
	if(objAH.operacion == 'prestar'){
		var infoHash= JSONstring.toObject(responseText);
		var messageArray= infoHash.messages;
		var ticketsArray= infoHash.tickets;
		var mensajes= '';
		for(var i=0; i<messageArray.length;i++){
			imprimirTicket(ticketsArray[i].ticket,i);
			setMessages(messageArray[i]);
		}
		//borro la cache del autocomplete
		$('#barcode').flushCache();
	}else{
		var Messages= JSONstring.toObject(responseText);
		setMessages(Messages);
		//borro la cache del autocomplete
		$('#barcodePrestado').flushCache();
	}
	
	$('#operacion').focus();
}

function tieneApoderado(){
	//fijo el nro_socio global para la ventana de agregarAutorizado
	NRO_SOCIO_AUTH=  $('#nro_socio_hidden').val();

	objAH=new AjaxHelper(updateTieneAutorizado);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.nro_socio= $('#nro_socio_hidden').val();
	objAH.tipoAccion= "CIRCULACION_RAPIDA_TIENE_AUTORIZADO";
	//se envia la consulta
	objAH.sendToServer();
}

function updateTieneAutorizado(responseText){
	if(responseText != '0'){
		$('#divAutorizado').show();
		$('#divAgregarAutorizado').hide();
	}else{
		$('#divAgregarAutorizado').show();
		$('#divAutorizado').hide();
	}

	$('#aceptar').focus();
	refreshTipoPrestamo();
}

function onChangeOperacion(){
	var operacion= $('#operacion').val();

	if(operacion == 'prestar'){		
	//busco sobre el conj. de todos los barcodes
		$('#barcode').show();
		$('#barcode').val('');
		$('#barcode').focus();
		$('#barcodePrestado').hide();
		$('#spanComboTipoPrestamo').show();

	}else if( (operacion == 'devolver') || (operacion == 'renovar') ){
	//busco sobre el conj. de los barcodes prestados
		$('#barcode').hide();
		$('#barcodePrestado').show();
		$('#barcodePrestado').val('');
		$('#barcodePrestado').focus();
		$('#spanComboTipoPrestamo').hide();
	}
}

function updateAutocompleteBarcodes(){
	$('#usuario').focus();
	refreshTipoPrestamo();
}

function updateAutocompleteBarcodesPrestados(){
	$('#usuario').focus();
	refreshTipoPrestamo();
}

function refreshTipoPrestamo(){
	if( ($('#usuario').val() != '')&&($('#barcode').val() != '')){
		obtenerTiposDePrestamos();
	}
}

$(document).ready(function() {
	$('#operacion').focus();
	$('#divAutorizado').hide();
	$('#divAgregarAutorizado').hide();
	CrearAutocompleteUsuarios({	IdInput: 'usuario', 
								IdInputHidden: 'nro_socio_hidden', 
								callBackFunction: tieneApoderado
						});

	CrearAutocompleteBarcodes({	IdInput: 'barcode', 
								IdInputHidden: 'barcode_hidden', 
								callBackFunction: updateAutocompleteBarcodes
						});

	CrearAutocompleteBarcodesPrestados({	IdInput: 'barcodePrestado', 
											IdInputHidden: 'barcode_hidden', 
											callBackFunction: updateAutocompleteBarcodesPrestados
									});
	onChangeOperacion();
});

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >
			Circulaci&oacute;n R&aacute;pida
		</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<ul>
	<li>
		<label for="operacion" style="float: left; width:15%" >
			Operaci&oacute;n:
		</label>
		<select id='operacion' tabindex='1' onChange='onChangeOperacion()'>	
			<option value="prestar">Pr&eacute;stamo</option>
			<option value="devolver">Devoluci&oacute;n</option>
<!-- 			<option value="renovar">Renovaci&oacute;n</option> -->
		</select><span id="spanComboTipoPrestamo"></span>
	</li>
	<li>
		<div id="divInfoEjemplar">
			<label for="barcode" style="float: left; width:15%" >
				C&oacute;digo de Barras:
			</label>
		 	<input type="text" id="barcode" value="" tabindex='2'>
			<input type="text" id="barcodePrestado" value="" tabindex='3'>
			<input type='hidden' id='barcode_hidden' value='' >
		</div>
	</li>
	<li>
		<div id="divInfoUsuario" style="width:40%">
			<label for="usuario" style="float: left; width:37%" >
				Usuario:
			</label>
		 	<input type='text' id='usuario' value='' tabindex='4' style="float: left">
			<input type='hidden' id='nro_socio_hidden' value=''>
			<span id="divAutorizado" style="float:right">Autorizado: <input type="checkbox" value="autorizado"></span>
			<input 	type="button" id="divAgregarAutorizado" value="[% 'Agregar' | i18n %]" title="[% 'Agregar Autorizado' | i18n %]" 
					onClick="agregarAutorizado()" style="float: left">
		</div>
	</li>
</ul>

<center><input type="button" value="Aceptar" id="aceptar" onClick="realizarAccion()" tabindex='4'></center>

[% INCLUDE 'intranet-bottom.inc' %]
