[% INCLUDE "intranet-top.inc" %]

<script src="/intranet-tmpl/blue/includes/util.js"></script>
<script src="/intranet-tmpl/blue/includes/jquery/jquery.bgiframe.min.js"></script>
<script src="/intranet-tmpl/blue/includes/jquery/jquery.autocomplete.js"></script>
<script src="/intranet-tmpl/blue/includes/circulacion.js"></script>

<link href="/intranet-tmpl/blue/includes/jquery/jquery.autocomplete.css" type="text/css" rel="stylesheet">

<script language="javascript" type="text/javascript">

$(document).ready(function() {
	//se crea el autocomplete para buscar el usuario
	AutocompleteUsuario('usuarioAutocomplete',detallePrestamos,updateInfoPrestamos);
/*
	if('[% usuarioID %]' != ""){
		usuario= new object_usuario();
		usuario.text= '[% usuarioText %]';
		usuario.ID= '[% usuarioID %]';
		$('#usuarioAutocomplete').val('[% usuarioText %]');
		detalleUsuario(usuario.ID);
		detallePrestamos(usuario.ID,updateInfoPrestamosConChck);

	}else{
		$('#usuarioAutocomplete')[0].focus();
	}
*/

});

/*
 * updateInfoPrestamosConChck
 * Esta funcion se ejecuta cuando se viene desde moremember o el detalle, cuando se completa el ajax de la funcion
 * detalleReservas.
 * Tiene que estar en el template, porque recibe variables desde el pl.
 * Despues realiza la funcion realizarAccion que es la que genera el div para el prestamo.
 */

/*
function updateInfoPrestamosConChck(responseText){
	$('#tablaPrestamos').slideDown('slow');
	$('#tablaPrestamos').html(responseText);
 	zebra('tablaPrestamos');
	checkedAll('checkAllPrestamos','chkboxPrestamos');
	[% FOREACH array %]
		var chk=$("#"+[% id3 %])[0];
		chk.checked=true;
	[% END %]
	realizarAccion('[% accion %]','chkboxPrestamos',generaDivDevRen);
}
*/

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >
			Devoluciones y Renovaciones
		</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>
<div id="confirmar_div"></div>
<br>

<div id="buscarUsuario">
<table border="0" cellpadding="0" cellspacing="0"  align="center" width="100%">
	<tr class="tablaresultadoTitle">
		<td align="left" valign="top">
		<img src="[% themelang %]/images/izquierda.png">
		</td>
		<td>
			<b>Ingrese Apellido y Nombres, DNI o Legajo del usuario</b>
		</td>
		<td valign="top" align="right">
		<img src="[% themelang %]/images/derecha.png">
		</td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td width="1%">&nbsp;</td>
		<td align="center">
			<input id="usuarioAutocomplete" type="text" class="inputFontNormal" size="40">
		</td>
		<td width="1%">&nbsp;</td>
	</tr>
</table>
</div>

<!-- DELTALLE DEL USUARIO -->
<div id="detalleUsuario"></div>
<!-- DELTALLE DE SANCIONES -->
<div id="sanciones"></div>
<!-- DETALLE DE PRESTAMOS -->
<div id="tablaPrestamos"></div>

[% INCLUDE "intranet-bottom.inc" %]
