<!-- TEMPLATE DE CAMPOS TEMPORALES -->
[% IF ( (accion eq 'agregar') || (accion > 0) ) %]
[% IF itemtype != '-1' %]
<hr>
<div width="100%"><b>Agregar campo Marc para el nivel [% nivel %]:</b>
[% INCLUDE 'seleccionCamposMarc.inc' %]
</div>
<br>

[% IF ( (accion > 2) && (accion != 5) ) %]
<div align="center">
<input type="image" src="[% themelang %]/images/guardar.png" value="Guardar Campo temporal" title="Guardar Campo Temp" onClick="guardarCampoTemp([% nivel %])">
<input type="image" src="[% themelang %]/images/borrar2.png" value="Cancelar" title="Cancelar Campo Temp" onClick="cancelar()">
</div>

<input type="hidden" id="subcampo" value="[% tagsubField %]">

[% END %]

[% END %]
<input id="tmpl" type="hidden" value="agregar">



