
<div>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
		<td colspan="7" class=inputFontNormal> 
			<b>Modificar Grupo:<!-- TMPL_VAR NAME="id2" --></b>
		</td>
		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
	</tr>
</table>

<br>

<div id="parrafo1">

</div>

<div style="clear:both" id="input1" class="boton" onClick="agregarCampoTemp(2,2)"><img title="Agregar campo temporal" src="<!-- TMPL_VAR name='themelang' -->/images/agregar_temporal.png"></div>


<div id="ocultos">
<!-- Cantidad de campos generados dinamicamente -->
<input type="hidden" id="cantIds" value="<!-- TMPL_VAR NAME='cantIds' -->">
<!-- id de la tupla generada en la tabla del nivel1 -->
<input type="hidden" id="id1" value="<!-- TMPL_VAR NAME='id1' -->">
<input type="hidden" id="nivel" value="<!-- TMPL_VAR NAME='nivel' -->">
<input type="hidden" id="accion" value="<!-- TMPL_VAR NAME='accion' -->">
</div>


<center>
<input type="image" src="<!-- TMPL_VAR NAME='themelang' -->/images/guardar.png" value="Modificar grupo" title="Guardar Item" onClick="modNivel2(<!-- TMPL_VAR NAME='id1' -->,<!-- TMPL_VAR NAME='id2' -->)">
</center>


</div>


