[% IF nivel == 'Niveles' %]
        <br>
        [% IF error %]
	        <div class="mensajeError">[% error %]</div>
        [% END %]
        [% IF cant != 0 %]
            <table id="tablaCamposMod" class="tablaResult" width="100%" cellspacing="0" cellpadding="0" border="0">
	                <tr>
		                
		                <td colspan="7" class=inputFontNormal> 
			                <b>Campos Modificados del nivel [% nivel %] </b>
		                </td>
		                
	                </tr>
                
	                <tr class="tablaresultadoTitle">
		                <td width="1%" align="left" valign="top"><img src="[% themelang %]images/izquierda.png"></td>
		                <td width="21%">MARC</td>
		                <td width="20%">Vista en Intranet</td>
		                <td >Orden</td>
		                <td >Visible</td>
		                <td >Editar</td>
		                <td >Deshabilitar</td>
		                <td width="1%" align="right" valign="top"><img src="[% themelang %]/images/derecha.png"></td>
	                </tr>
                
                [% FOREACH RESULTDATA %]
	                <tr align="center" class=inputFontNormal>
		                <td><br>&nbsp;</td>
		                <td>
			                
			                Campo: <b>[% campo %]</b>, Subcampo: <b>[% subcampo %]</b>
		                </td>
		                <td>
			                [% liblibrarian %]
		                </td>
		                <td>
			                <input id="orden,[% campo %],[% subcampo %]" type="hidden" value="[% intranet_habilitado %]">
                
			                <input  src="[% themelang %]/images/1uparrow.png" type="image"  value="Subir en el Orden" title="Subir Orden" onClick="modificarOrden('[% id %]','[% intranet_habilitado %]',7)">
                
			                <input  src="[% themelang %]/images/1downarrow.png" type="image"  value="Bajar en el Orden" title="Bajar Orden" onClick="modificarOrden('[% id %]','[% intranet_habilitado %]',8)">
		                </td>
		                <td>
			                <input type="checkbox" id="[% id %]" value="[% visible %]" onChange="visibilidad('[% id %]')" 
			                value="[% visible %]" [% IF visible %] 
                                                    checked
			                                    [% END %] 
                            >
		                </td>
		                <td>
			                <input  src="[% themelang %]/images/modificar.png" type="image"  value="Modificar Campo" title="Modificar Campo" onClick="editarCampo('[% id %]',9)">
                
		                </td>
		                <td>
			                <input  src="[% themelang %]/images/eliminar.png" type="image"  value="Eliminar Campo" title="Eliminar Campo" onClick="eliminarCampo('[% id %]','[% intranet_habilitado %]',6)">
                
		                </td>
		                <td><br>&nbsp;</td>
	                </tr>
                [% END %]
                
                </table>
        
        [% END %]
        
        <br>
        <center>
        <input src="[% themelang %]/images/agregar.png" type="image"  value="Agregar Campo" title="Agregar Campo" onClick="agregarCampo(1)">
        </center>
        <br>
        
        
        
        <!-- TABLA PARA LA MODIFICACION DE LOS CAMPOS DE LA TABLA ESTRUCTURA_CATALOGACION -->
        
        [% IF accion == 9 %]
        
            [% FOREACH modificacion %]
                    <br>
                    <div id="modificar">
                    <input type="hidden" id="campoMod" value="[% campo %]">
                    <input type="hidden" id="subcampoMod" value="[% subcampo %]">
                    
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
	                    <tr class="tablaresultadoTitle">
		                    <td width="1%" align="left" valign="top"><img src="[% themelang %]images/izquierda.png"></td>
		                    <td colspan="2">Modificar campo: [% campo %] subcampo:[% subcampo %] en el nivel [% nivel %]</td>
		                    <td width="1%" align="right" valign="top"><img src="[% themelang %]images/derecha.png"></td>
	                    </tr>
                    </table>
                    
                    <br>
                    
	                    <!--  Texto intranet -->
                    <label for="textoMod" style="float: left; width:25%" >
	                    Vista intranet:
                    </label>
                    <input id="textoMod" type="text" value='[% liblibrarian %]'>&nbsp;
                    
                    <br><br>
                    
                    <label for="selectTipo" style="float: left; width:25%" >
	                    Tipo de input:
                    </label>
                    <select id="selectTipo">
	                    <option value="text" [% IF tipoInput == 'text' %] selected="selected" [% END %] >Texto</option>
	                    <option value="texta" [% IF tipoInput == 'texta' %] selected="selected" [% END %] >Texto area</option>
	                    <option value="texa2" [% IF tipoInput == 'texa2' %] selected="selected" [% END %] >Texto 1 por linea</option>
	                    <option value="combo" [% IF tipoInput == 'combo' %] selected="selected" [% END %] >Combo box</option>
                    </select>
                    
                    <br><br>
                    
                    <label for="tablaMod" style="float: left; width:25%" >
	                    Tabla de refencia:
                    </label>
                    [% selecttablaMod %]
                    
                    [% IF ( (tablaMod != '') && (tablaMod != -1) ) %]
                            <input type="hidden" id="idinforef" value="[% idinforef %]">
                            
                            Orden: [% selectordenMod %]
                            <br><br>
                            
                            <label for="camposRefMod" style="float: left; width:25%" >
	                            Campos:
                            </label>
                            <input type="text" size="50" id="camposRefMod" name="camposRefMod" value="[% stringCamposMod %]">
                            <br><br>
                            <label for="separadorMod" style="float: left; width:25%" >
	                            Separador:
                            </label>
                            <input type="text" id="separadorMod" name="separadorMod" value="[% separador %]">
                            <br>
                            
                            <p>Ejemplo: [% ejemploMod %]</p>
                            <p>NOTA: En Campos borras los campos que no desea ingresar y en el separador ingresar un caracter que no sea una letra ni un numero</p>
                    [% END %]
                    
                    <center>
                    <input  src="[% themelang %]/images/guardar.png" type="image"  value="Guardar Campo" title="Guardar Campo" onClick="guardarModificaciones(10)">
                    </center>
                    </div>
            [% END %]
        [% END %]
        <br>
[% END %] <!-- END IF niveles -->





