.classform {
	margin: 0;
	padding: 0;
}



/* Si da problemas, agregar a todos .classform */

 p {
	margin-bottom: 15px;
}

 input,  textarea, select {
	padding: 5px;
    font-family: verdana;
	margin: 0px 0px 10px 0px;
    margin-top:5px;
	border: 2px solid #ccc;
    font-size:12px;  
	max-width: 300px;
}

 textarea {
	height: 90px;
}

textarea:focus,  input:focus {
	border: 2px solid #4B5869;
	font-family: verdana;
	font-weight: bold;
    font-size:12px;
	color: #35414F;
}

.ayuda_marc{    
    width:100%;
}

 input.submit-button {
	width: 140px;
	float: right;
	text-align: center;
}

 label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 149px;
	font-size: 1em;
/*    padding-top: 15px;*/
}

.nonForm{
	margin: 0 auto;
	width: auto;
}

.search-title{
	font-style: italic;
	color: graytext;
	font-size: 99%;
}

/* tooltip */
.hover_ico{
    height: 16px;
    width: 16px;
    float: right;
    background: url("../imagenes/ico_helpbordo.png") no-repeat;
    margin-left: 2px;
}
	
.reference {
    color: #4B5869;
    font-family: "Verdana","Trebuchet MS","Arial";
    font-size: 12px;
    text-align: left;
/*     width: 54%; */
    font-style: italic;
    clear: both;
    font-weight: bold;
}
	

.sub_item_data {
    display: block;
    float: left;
    font-size: 12px;
    margin-right: 13px;
    padding-right: 10px;
    position: relative;
    text-align: right;
    width: 21%;

    color: #4B5869;
    font-family: "Verdana","Trebuchet MS","Arial";
    font-weight: bold;
    list-style: none outside none;
    text-decoration: none;
}

.sub_item_data_right {
    color: black;
    font-family: Helvetica,sans-serif
}
