/* blue grades - root level; text properties for states: normal, hover, click */
.TM0i0 {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	text-decoration: none;
	height:12px;
	border: 1px solid #666666;
	background: #666666;
	cursor: pointer;
}

.TM0i0:hover {
        color: black;
}

/* blue grades - root level; box properties for states: normal */
.TM0o0 {
}

/* blue grades - root level; box properties for states: hover, click */
.TM0o1 {
}

/* blue grades - sub levels; box properties for states: normal */
.TM1o0 {
	position:static;
}

/* blue grades - sub levels; box properties for states: hover, click */
.TM1o1 {
        color: white;
	position:static;
}
