<script type="text/javascript" >
    function checkTr(){
	        // click sobre los <tr>, para darle estilo
	        $('tr').click(function() {
	            var clase = $(this).attr('class').split(' ');
	            //solo los <tr> que tengan en el primer <td> un input checkbox
	            if($(this).children(':first-child').children(':first-child').attr('type') == 'checkbox'){
	                if(clase[1] == 'marked'){
	                    $(this).removeClass("marked"); 
	                    $(this).children(':first-child').children(':first-child').removeAttr('checked');
	                }else{
	                    $(this).addClass("marked");
	                    $(this).children(':first-child').children(':first-child').attr('checked','true');
	                }
	            }
	        });     
	        //seleccion con shift
	        $(function() {
	            $('tr').shiftClick();
	        }); 
	    }
	    
	    $(document).ready(function(){
			    checkTr();
			    checkedAll('checkAllUsuariosPotenciales','chkboxUsuariosPotenciales');
	    });
</script>
[% USE HTML %]
<div class="well">
  
    <div>[% "La cantidad de usuarios es" | i18n %]:<strong> [% cantidad %]</strong></div> 
    <div>[% "Ha buscado por" | i18n %]:<strong> [% HTML.escape(socio_busqueda) %]</strong></div>

</div>
<div class="contenedor_paginador">[% paginador %]</div>

<table id="tablaResult" class="datos_tabla" width="100%" cellspacing=0 cellpadding=0>
	<thead>
  	<tr class="titulo_tabla_resultado">
    		<th>
    		      <a id="checkAllUsuariosPotenciales" class="click">
                    <img border="0" title="Seleccionar todos" src="/intranet-tmpl/temas/DEO/imagenes/iconos/check.png">
              </a>
        </th>

    		<th align="left" width="28%" class="click" onClick="ordenar('apellido')">
                    [% "Apellido y Nombres" | i18n %]
                </th>
    		<th align="left" width="15%" class="click" onClick="ordenar('nro_documento')">
                    [% "Documento" | i18n %]
                </th>
    		<th>
                    [% "Cat." | i18n %]
                </th>
    		<th>  
                    &iquest;[% "Habilitado" | i18n %]?
                </th>

  	</tr>
	</thead>
	<tbody>

[% FOREACH resultsloop %]
      	<tr align="center">
      	
     		<td valign="middle" align="center">
			[% IF nomodificable %]
				[% "Imposible" | i18n %] 
			[% ELSE %]
				<input type="checkbox" name="chkboxUsuariosPotenciales" 
				id="[% socio.getNro_socio %]" 
				value="[% socio.getNro_socio %]">
			[% END %]
		</td>
		
      	<td align="left" class="nomCompleto">
            [% PERL %]
                print C4::AR::Filtros::link_to( text =>     "[% socio.persona.getApeYNom %]",
                                                url=>"[% url_prefix %]/usuarios/potenciales/datosUsuario.pl", 
                                                params =>   ["nro_socio=[% socio.getNro_socio %]"],
                                                title =>    "[% 'Mostrar Detalle del Usuario' | i18n %]"
                                            ) ;
            [% END %]
		</td>

      	<td align="left" class="documento">
			[% socio.persona.getVersion_documento %]&nbsp; [% socio.persona.getNro_documento %]
		</td>

 		<td>
                [% socio.categoria.getDescription %]
		</td> 
        <td>
			<span class="[% clase %]"> <b>[% activo %]</b> </span>
		</td>

    </tr>
[% END %]
	<tr valign=bottom>
        	<td class="lineafinaltabla"  align="left" colspan="12"></td>
        </tr>
	</tbody>



<table>
	<tr>
		<td>
		<input name="cantidad" id="cantidad" type="hidden" value="[% modificable %]">
		</td>   
	</tr>
	<tr>
		<td>
			<label for="accion" accesskey="t"></label>
			<select id="accion" name="accion">
				<option value="HABILITAR_PERSON" selected="selected">
                    [% "Habilitar Seleccionados" | i18n %]
                </option>
				<option value="DESHABILITAR_PERSON">
                    [% "Deshabilitar Seleccionados" | i18n %]
                </option>
			</select>
		</td>
		<td>

          [% PERL %]
                     print C4::AR::Filtros::to_Button(   
                                                          text          => "[% 'Aceptar' | i18n %]",
                                                          boton         => "boton_seleccionar",
                                                          width         => "auto",
                                                          onClick       => "habilitar();",
                                                          alternClass   => "botonCentrado",
                                                          title         => "[% 'Aceptar' | i18n %]",
                             ) ;
          [% END %]
		</td>
	</tr>
</table>


