[% INCLUDE 'intranet-top.inc' %]

<script>

function esconderResultadosZ3950(){
    $('#busquedasZ3950').show();
    $('#resultadoZ3950').hide();
}

function verResultadosZ3950 (id){
    objAH=new AjaxHelper(updateVerResultadosZ3950);
    objAH.url= "/cgi-bin/koha/z3950/filtradoZ3950DB.pl";
    objAH.tipo="VER_RESULTADO";
    objAH.id_busqueda= id;
    objAH.sendToServer();
}

function updateVerResultadosZ3950(responseText){
    $('#resultadoZ3950').html(responseText);
    zebra('datos_tabla');
    $('#busquedasZ3950').hide();
    $('#resultadoZ3950').show();
}


function verBusquedas (){
    objAH=new AjaxHelper(updateVerBusquedas);
    objAH.url= "/cgi-bin/koha/z3950/filtradoZ3950DB.pl";
    objAH.tipo="VER_BUSQUEDAS";
    objAH.sendToServer();
}

function updateVerBusquedas(responseText){
    $('#busquedasZ3950').html(responseText);
   zebra('datos_tabla');
    $('#busquedasZ3950').show();
}

function agregarBusquedaZ3950(){
    if($('#termino').val() !='')
    {
	objAH=new AjaxHelper(updateAgregarBusquedaZ3950);
	objAH.url= "/cgi-bin/koha/z3950/filtradoZ3950DB.pl";
    objAH.tipo="BUSCAR";
    objAH.busqueda= $('#termino').val();
	objAH.sendToServer();
    }
}

function updateAgregarBusquedaZ3950(responseText){
    verBusquedas();
}


function mostrarDetalleMARC (id_red,pos_res){
    objAH=new AjaxHelper(updateMostrarDetalleMARC);
    objAH.url= "/cgi-bin/koha/z3950/filtradoZ3950DB.pl";

    objAH.id_resultado = id_red;
    objAH.pos_resultado = pos_res;

    objAH.tipo="VER_DETALLE_MARC";
    objAH.sendToServer();
}

function updateMostrarDetalleMARC(responseText){
    $('#detalleMARC').html(responseText);
    $('#detalleMARC').show();
}


$(document).ready(function() {
    verBusquedas();
       //     setInterval( "verBusquedas()", 30000 );
});
</script>

<fieldset class="resultados_busqueda">
<legend class="titulo_legend">[% "B&uacute;squeda Z3950" | i18n %]:</legend>
<div class="datos_tabla_div_z3950">
    <ul>
    <li class="item" >
        <label for="termino">
            [% "B&uacute;squeda" | i18n %]
        </label>
        <input type="text" id="termino" size="20" tabindex=1>
    </li>
    <li class="item" >
         [% PERL %]
                                print C4::AR::Filtros::to_Icon(
                                                                    boton   => "icon_buscar",
                                                                    onClick => "agregarBusquedaZ3950();",
                                                                    title   => "[% 'Buscar' | i18n %]",
                                        ) ;
            [% END %]
    </li>
    </ul>
</div>
</fieldset>

<div id="busquedasZ3950"></div>
<div id="resultadoZ3950"></div>
[% INCLUDE 'intranet-bottom.inc' %]