
<fieldset class="resultados_busqueda">
<legend class="titulo_legend trigger click">[% "Resultado de b&uacute;squeda" | i18n %] : [% RESULTADO.getBusqueda %] ([% cant_resultados %])</legend>
[% IF cant_resultados %] 
    <script type="text/javascript">
                $(document).ready(function() {
                makeToggle('datos_tabla_div','trigger',null,false);

               });
    </script>

                <div class="datos_tabla_div" id="datos_tabla_div">
                <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
                <thead>
                <tr class="titulo_tabla_resultado">
                    <th>[% "Servidor" | i18n %]</th>
                    <th>[% "T&iacute;tulo" | i18n %]</th>
                    <th>&nbsp;</th>
                    <th>[% "Autor" | i18n %]</th>
                    <th>[% "Edici&oacute;n" | i18n %]</th>
                    <th>[% "A&ntilde;o" | i18n %]</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    [% FOREACH resultado IN RESULTADO.resultados %]
                    <tr>
                        <td width="15%" > 
                        [% resultado.servidor.nombre %]
                        </td>

                        <td>
                        <p class="titulo_result" width="45%">[% resultado.getRegistroMARC.title %]</p>
                        </td>
                        <td>
                            [% IF resultado.getPortada %]
                                <img name="cover"  VALUE="" BORDER=0 src="[% themelang %]/covers/[% resultado.getPortada.getSmall %]" title="Portada">
                            [% ELSE %]
                                <img src="[% themelang %]/covers/no_image.jpg" alt="[% 'Sin Portada' | i18n %]" title="[% 'Sin Portada' | i18n %]" />
                            [% END %]
                        </td>
                        <td width="15%">
                        [% resultado.getRegistroMARC.author %] 
                        </td>
                        <td width="5%">
                        [% resultado.getRegistroMARC.edition %] 
                        </td>
                        <td width="5%">
                        [% resultado.getRegistroMARC.publication_date %] 
                        </td>
                        <td width="5%">
                         [% PERL %]
                                print C4::AR::Filtros::to_Icon(
                                                                    boton   => "icon_ayuda_marc",
                                                                    onClick => "mostrarDetalleMARC('[% resultado.getId %]')",
                                                                    title   => "[% 'MARC' | i18n %]",
                                        ) ;
                        [% END %]
                        </td>
                    </tr>
                    [% END %]
                </tbody>
            </table>
            </div>
[% ELSE %]
<legend>[% "No hay resultados" | i18n %]</legend>
[% END %]
</fieldset>

<div id="detalleMARC"></div>