

 
<script language="javascript"> 
function toggle( id) {
    var ele = document.getElementById("resultado_"+id);
    var text = document.getElementById("href_"+id);
    if(ele.style.display == "block") {
            ele.style.display = "none";
        text.innerHTML = "+";
    }
    else {
        ele.style.display = "block";
        text.innerHTML = "-";
    }
} 
</script>


<fieldset class="resultados_busqueda">
<legend class="titulo_legend">[% "B&uacute;squedas Z3950" | i18n %] :</legend>

[% IF cant_busquedas %]

        <div>
           <table id="tablaBusquedas" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
                <thead>
                <tr class="titulo_tabla_resultado">
                    <th>[% "B&uacute;squeda" | i18n %]</th>
                    <th>[% "Tipo" | i18n %]</th>
                    <th>[% "Estado" | i18n %]</th>
                    <th>[% "Resultados" | i18n %]</th>
                     <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                [% FOREACH busqueda IN BUSQUEDAS %]
                <tr>
                    <td class="titulo_result">
                     [% busqueda.getBusqueda %]
                    </td>
                    <td class="titulo_result">
                    [% busqueda.getTipo %]
                    </td>
                    <td class="titulo_result">
                    [% IF busqueda.getFin %]
                       <font color="green"> [% "Finalizada" | i18n %]</font>
                    [% ELSE %]
                            [% IF busqueda.getComienzo %]
                         <font color="red">  [% "Buscando" | i18n %]</font>
                            [% ELSE %]
                            <font color="orange"> [% "Encolada" | i18n %]</font>
                            [% END %]
                    [% END %]
                    </td>
                    <td class="titulo_result">
                       [% IF busqueda.getFin %] [% busqueda.getCantResultados %] [% ELSE %]-[% END %]
                    </td>

                    <td class="titulo_result">
                        [% IF busqueda.getFin %] 
                        [% PERL %]
                                print C4::AR::Filtros::to_Icon(
                                                                    boton   => "icon_bajar",
                                                                    onClick => "verResultadosZ3950([% busqueda.getId %]);",
                                                                    title   => "[% 'Ver Resultados' | i18n %]",
                                        ) ;
                        [% END %]
                        [% ELSE %]-[% END %]
                    </td>
                </tr>
                [% END %]
                </tbody>
            </table>
        [% END %]
        </div>
</fieldset>