<fieldset class="resultados_busqueda">
<legend class="titulo_legend trigger click">[% "B&uacute;squedas Z3950" | i18n %] :</legend>

[% IF cant_busquedas %]

<script type="text/javascript">
            $(document).ready(function() {
                makeToggle('datos_busquedas_div','trigger',null,false);

            });
</script>

         <div class="datos_busquedas_div" id="datos_busquedas_div">
           <table id="tablaBusquedas" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
                <thead>
                <tr class="titulo_tabla_resultado">
                    <th>[% "B&uacute;squeda" | i18n %]</th>
                    <th>[% "Tipo" | i18n %]</th>
                    <th>[% "Estado" | i18n %]</th>
                    <th>[% "Resultados" | i18n %]</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                [% FOREACH busqueda IN BUSQUEDAS %]
                <tr>
                    <td class="titulo_result">
                     [% busqueda.getBusqueda %]
                    </td>
                    <td class="titulo_result">
                    [% IF busqueda.getFin %]
                       <font color="green"> [% "Finalizada" | i18n %]</font>
                    [% ELSE %]
                            [% IF busqueda.getComienzo %]
                         <font color="red">  [% "Buscando" | i18n %]</font>
                            [% ELSE %]
                            <font color="orange"> [% "Encolada" | i18n %]</font>
                            [% END %]
                    [% END %]
                    </td>
                    <td class="titulo_result">
                       [% IF busqueda.getFin %] [% busqueda.getCantResultados %] [% ELSE %]-[% END %]
                    </td>

                    <td class="titulo_result">
                        [% IF busqueda.getFin %] 
                        [% PERL %]
                                print C4::AR::Filtros::to_Icon(
                                                                    boton   => "icon_bajar",
                                                                    onClick => "verResultadosZ3950([% busqueda.getId %]);",
                                                                    title   => "[% 'Ver Resultados' | i18n %]",
                                        ) ;
                        [% END %]
                        [% ELSE %]-[% END %]
                    </td>
                </tr>
                [% END %]
                </tbody>
            </table>

            [% PERL %]
                                print C4::AR::Filtros::to_Icon(
                                                                    boton   => "icon_anadir",
                                                                    onClick => "verBusquedas();",
                                                                    title   => "[% 'Actualizar' | i18n %]",
                                        ) ;
            [% END %]

        [% END %]
        </div>
</fieldset>