
  <!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script language="javascript" type="text/javascript">

function swap(id,src){
document.getElementById(id).src=src;
}
</script>

<div class="titulos_interior">[% 'B&uacute;squeda en el cat&aacute;logo' | i18n %]</div>


<form action="/cgi-bin/koha/search.pl" method="post" name="form1">

<table width="60%" height="88%" valign="top"  border="0" align="center" cellpadding="0" cellspacing="0" >
	<tr>
  		<td  valign="top" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';" align="right" width="30%">
                	<b>B&uacute;squeda combinada</b>
                	<input type="text" name="keyword" size="25" class="inputFontNormal">
    		</td>
		<td width="10%">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </td>

		<td  valign="top"  align="right" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';" width="30%">
 			<b>T&iacute;tulo</b>
			<br>
      			<input class="inputFontNormal" type="text"  size="25" name="title">
    			<p valign="top" align="right">
    			<input class="inputFontNormal" type=radio name=ttype value=normal checked>Normal
    			<input class="inputFontNormal" type=radio name=ttype value=exact>Exacto
   			 </p> 	
    		</td>
	</tr>
	<tr>
    		<td  valign="top"   align="right" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
    			<b>B&uacute;squeda por diccionario</b><br>
         		<input class="inputFontNormal" type="text" size="25" name="dictionary">
    		</td>
		<td >&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </td>
 
    		<td valign="top" align="right" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';"> 
   		<b>Autor</b><br>
   		<input class="inputFontNormal" type="text" size="25" name="author">
		</td>
	</tr>
	<tr>
       
      		<td valign="top"  align="right" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
          		<b>Tipo de documento</b> <br>
	  		<select class="inputFontNormal" name="class" size="1">
	  			<option class="inputFontNormal" value="" > Cualquiera
	  			<!-- TMPL_VAR name="classlist" -->
	  		</select>
	  	</td>
		<td >&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </td>
				    
    		<td  valign="top"  align="right"class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
      			<b>Tema</b><br>
   			<input class="inputFontNormal" type="text" size="25" name="subjectitems">
 
   		</td>
	</tr>
	<tr>
   
  		<td valign="top"   align="right" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
  			<b>C&oacute;digo de barras</b><br>
 			<input class="inputFontNormal" type="text" size="25" name="itemnumber">
  		</td>
		<td >&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </td>
 
		<td valign="top"  align="right" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
            		<b>ISBN</b><br>
                	<input type="text" name="isbn" size="25" class="inputFontNormal">
    		</td>
	</tr>
	<tr >
  		<td  valign="top" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';" align="right" width="30%">
     			<b>Signatura Topogr&aacute;fica</b><br>
         		<input class="inputFontNormal" type="text" size="25" name="signature">
	    	</td>
	    	<td width="10%">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </td>

	    	<td  valign="top"  align="right" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';" width="30%">
	      		<b>Estantes Virtuales </b><br>
	         	<input class="inputFontNormal" type="text" size="25" name="shelves">
		</td>
	</tr>
		 
	<tr >
  		<td  valign="top" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';" align="right" width="30%">
   			<b>Anal&iacute;ticas</b><br>
    			<input class="inputFontNormal" type="text" size="25" name="analytical">
   		</td>
		<td width="10%">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </td>
		<td  valign="top"  align="right" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';" width="30%">
		</td>
	</tr>


	<tr>

    		<td  valign="top" align="right" class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
		<!-- TMPL_IF name="virtuallibrary" -->
			<b>Biblioteca Virtual</b><br>
 			<INPUT class="inputFontNormal" TYPE="text" SIZE="25" NAME="virtual">
		<!-- /TMPL_IF -->
		</td>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
  	<tr align="right">
		<td  colspan="5">
	 		<input type="hidden" name="type" value="intra">
	  		<a href="#" onClick="form1.submit()" >
	  		<input type="image" alt="Buscar"  src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/boton-buscar.png"></a>
   			<a href="/cgi-bin/koha/shelves.pl?startfrom=0">
        		<input type="image"   src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/vertodos.png" ></a>
		
			<a href="#" onClick="form1.reset()" >
			<input type="submit" style="visibility:hidden"> 
         		<img  name="clear" id="clear" alt="Limpiar" src="<!-- TMPL_VAR NAME="themelang" -->/images/borrar2.png" border="0"></a>
		</td>
  	</tr>
</table>
</form>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
