[% INCLUDE "intranet-top.inc" %]

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >Par&aacute;metros 
			<tr>
				<td class="lineagruesa"  align="left" colspan="3"></td>
			</tr>
			<tr class="inputFontNormal">
      				<td colspan="3"><b>Completar las tablas en el orden en que aparecen para obtener un Koha funcionando</b>
			</td>
    			</tr>
    			<tr>
    	  			<td colspan=3 class="pagetitle">Par&aacute;metros del sistema</td>
    			</tr>
    			<tr>
      				<td width="28%"><a class="inputFontNormal" href=/cgi-bin/koha/admin/branches.pl> Unidades de informaci&oacute;n</a></td>
	 			<td width="72%"  class="inputFontNormal" align="left">Administraci&oacute;n de las diferentes unidades de informaci&oacute;n que maneja Koha.</td>
    			</tr>
    			<tr>
	      			<td><a  class="inputFontNormal" href="/cgi-bin/koha/admin/itemtypes.pl">Tipos de documentos</a></td>
	      			<td  class="inputFontNormal" >Definir tipos de documentos.</td>
    			</tr>
    			<tr >
	      			<td><a  class="inputFontNormal" href="/cgi-bin/koha/admin/categorie.pl">Categor&iacute;a de usuarios</a></td>
	      			<td  class="inputFontNormal" >Definir la categor&iacute;a de los usuarios.</td>
    			</tr>
   			<tr  class="inputFontNormal" >
      				<td ><a  class="inputFontNormal" href=/cgi-bin/koha/admin/authorised_values.pl>Valores autorizados</a></td>
      				<td  class="inputFontNormal" >Define categor&iacute;as y valores autorizaddos para ellas. Los valores autorizados son utilizados en formularios MARC para limitar y ayudar a la edicion de bibliotecas MARC.</td>
   			</tr>
    			<tr  class="inputFontNormal" >
      				<td ><a  class="inputFontNormal" href="/cgi-bin/koha/admin/marctagstructure.pl">Estructura de etiqueta MARC</a></td>
	        		<td  class="inputFontNormal">Estructura MARC: etiquetas entonces subcampos.</td>
    			</tr>
    			<tr  class="inputFontNormal" >
      				<td ><a  class="inputFontNormal" href="/cgi-bin/koha/admin/preferencias.pl">Preferencias del sistema</a></td>
	        		<td  class="inputFontNormal" >Preferencias del sistema. </td>
    			</tr>
   	 		<tr  class="inputFontNormal" >
	       			<td colspan="2">&nbsp;</td>
    			</tr>
    			<tr class="pagetitle">
	      			<td>Varios par&aacute;metros</td>
			</tr>
	      		<tr>
				<td class="lineagruesa"  align="left" colspan="3"></td>
			</tr>
    		</tr>
    		<tr>
      			<td ><a  class="inputFontNormal"href="/cgi-bin/koha/admin/z3950servers.pl">Servidores Z39.50</a></td>
	        <td  class="inputFontNormal">Servidores consultando por datos MARC.</td>
    		</tr>
    		<tr >
	       		<td  class="inputFontNormal">&nbsp;</td>
    		</tr>
    		<tr  class="pagetitle">
      			<td>Herramientas</td>
		</tr>
		<tr>
			<td class="lineagruesa"  align="left" colspan="3"></td>
		</tr>
    
    		<tr class="inputFontNormal">
	        	<td colspan="2" class="inputFontNormal" align="center"><b>Exportaci&oacute;n</b></td>
    		</tr>
    		<tr class="inputFontNormal">
	       		<td><a class="inputFontNormal"href="/cgi-bin/koha/export/marc.pl">Exportaci&oacute;n de libros (MARC) </a></td>
	       		<td class="inputFontNormal">Exportando en formato MARC</td>
    		</tr>
    		<tr class="inputFontNormal">
			<td colspan="2" align="center" class="inputFontNormal"><b>Importaci&oacute;n</b></td>
    		</tr>
    		<tr class="inputFontNormal">
	      		<td><a class="inputFontNormal"href="/cgi-bin/koha/import/breeding.pl">Subir registros MARC a la Breeding Farm</a></td>
      	      		<td class="inputFontNormal">La breeding farm es una tabla donde los registros MARC importados son almacenados. Un registro MARC es almacenado en la breeding farm tanto tiempo como no se tengan ejemplares. Cuando se ingresa el ISBN o el t&iacute;tulo de un libro, este es buscado en la breeding farm. Si no se encuentra, el libro es agregado a la tabla de activos de Koha y removido de la breeding farm. </td>
    		</tr>
    		<tr class="inputFontNormal">
	      		<td colspan="2">&nbsp;</td>
    		</tr>
    		<tr class="inputFontNormal">
	      		<td colspan="3"></td>
    		</tr>
    	</tr>
</table>

[% INCLUDE "intranet-bottom.inc" %]

