[% INCLUDE 'intranet-top.inc' %]
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/includes/css/wysiwyg.css" />
<script src="/includes/jquery/jquery.wysiwyg.js"></script>
<script>
    $(document).ready(function() {
        $(function()
        {
            $('#contenido').wysiwyg();
        });
    });
</script>

[% USE HTML %]


<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Agregar novedad de OPAC" | i18n %]:</legend>
        <div class="form">
            <form id="form_novedad" action="/cgi-bin/koha/admin/agregar_novedad.pl" method="POST">
                        <label for="titulo">[% "Titulo" | i18n %]</label>
                          <input type="text" id="titulo" name="titulo" value="[% novedad.getTitulo %]">
                          <br />

                        <label for="categoria">[% "Categor&iacute;a" | i18n %]</label>
                          <input type="text" id="categoria" name="categoria" value="[% novedad.getCategoria %]">
                          <br />

                        <label for="contenido">[% "Contenido" | i18n %]</label>
                          <textarea id="contenido" name="contenido" style="width: 88.3%">[% novedad.getContenido %]</textarea>
                          <br />

                        <input type="hidden" id="token" name="token" value="[% token %]">
                        <input type="hidden" id="action" name="action" value="agregar">

                        <input type="submit" value="[% 'Agregar' | i18n %]">

            </form>
        </div>
</fieldset>


[% INCLUDE 'intranet-bottom.inc' %]
