[% INCLUDE "intranet-top.inc" %]
[% USE HTML %]
[% IF add_form %]
	<script>
	function swap(id,src){
	document.getElementById(id).src=src;
	}

	function _(s) { return s } // dummy function for gettext
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	function isNotNull(f,noalert) {
		if (f.value.length ==0) {
   return false;
		}
		return true;
	}
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	function toUC(f) {
		var x=f.value.toUpperCase();
		f.value=x;
		return true;
	}
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	function isNum(v,maybenull) {
	var n = new Number(v.value);
	if (isNaN(n)) {
		return false;
		}
	if (maybenull==0 && v.value=='') {
		return false;
	}
	return true;
	}
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	function isDate(f) {
		var t = Fecha.parse(f.value);
		if (isNaN(t)) {
			return false;
		}
	}
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	function Check(f) {
		var ok=1;
		var _alertString="";
		var alertString2;
		if (f.categorycode.value.length==0) {
			_alertString += "\n- " + _("falta el codigo de categoria");
		}
//		alert(window.document.Aform.description.value);
		if (!(isNotNull(window.document.Aform.description,1))) {
			_alertString += "\n- " + _("falta la descripcion");
		}
		if (!isNum(f.upperagelimit,0)) {
			_alertString += "\n- " + _("el limite superior de edad no es un numero");
		}
		if (_alertString.length==0) {
			document.Aform.submit();
		} else {
			alertString2  = _("El formulario no puede ser enviado por alguno de los siguientes problemas");
			alertString2 += "\n------------------------------------------------------------------------------------\n";
			alertString2 += _alertString;
			alert(alertString2);
		}
	}
	</SCRIPT>

	[% IF categorycode %]
            <table width="100%" class="pagetitle" border="0" cellpadding="0" cellspacing="0" >
                    <tr>
                            <td>[% "Modificar Categor&iacute;a" | i18n %]</td>
                    </tr>
                    <tr>
                            <td class="lineagruesa"  align="left" colspan="3"></td>
                    </tr>
            </table>
					  
	[% ELSE %]
            <table width="100%" class="pagetitle" border="0" cellpadding="0" cellspacing="0" >
                    <tr>
                            <td>[% "Agregar Categor&iacute;a" | i18n %]</td>
                    </tr>
                    <tr>
                            <td class="lineagruesa"  align="left" colspan="3"></td>
                    </tr>
            </table>
					  
	[% END %]
	
	<form action=[% script_name %] name=Aform method=post>
	<input type=hidden name=op value='add_validate'>
	<input type=hidden name=checked value=0>

	<table>
	[% IF categorycode %]
		<tr>
			<td class="inputFontNormal">[% "C&oacute;digo de categor&iacute;a" | i18n %]</td>
			<td class="inputFontNormal">
				[% categorycode %]
				<input type=hidden name=categorycode value=[% categorycode %]>
			</td>
		</tr>
	[% ELSE %]
		<tr>
			<td class="inputFontNormal">[% "C&oacute;digo de categor&iacute;a" | i18n %]</td>
			<td>
				<input class="inputFontNormal"type=text name=categorycode size=3 maxlength=2 onBlur=toUC(this)>
			</td>
		</tr>
	[% END %]

		<tr>
			<td class="inputFontNormal">[% "Descripci&oacute;n" | i18n %]</td>
			<td class="inputFontNormal">
				<input class="inputFontNormal"type=text name=description size=40 maxlength=80 value="[% HTML.escape(description) %]">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "Per&iacute;odo de inscripci&oacute;n" | i18n %]</td>
			<td>
				<input type=text class="inputFontNormal"name=enrolmentperiod size=3 maxlength=2 value="[% enrolmentperiod %]">
			</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "L&iacute;mite superior de edad "| i18n %]</td>
			<td>
				<input class="inputFontNormal" type=text name=upperagelimit size=3 maxlength=3 value="[% upperagelimit %]">
			</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "Edad Requerida" | i18n %]</td>
			<td>
				<input type=text class="inputFontNormal" name=dateofbirthrequired value="[% dateofbirthrequired %]" size=3 maxlength=2>
			</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "Tarifa de inscripci&oacute;n" | i18n %]</td>
			<td>
				<input class="inputFontNormal" type=text name=enrolmentfee value="[% enrolmentfee  %]">
			</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[ "Se necesita nota de atraso" | i18n %]</td>
			<td class="inputFontNormal">
				<select class="inputFontNormal" name="overduenoticerequired">
					<option [% UNLESS overduenoticerequired %] selected [% END %] value="0">No</option>
					<option [% IF overduenoticerequired %] selected [% END %] value="1">Si</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "L&iacute;mite de pr&eacute;stamo" | i18n %]</td>
			<td class="inputFontNormal">
				<input type=text class="inputFontNormal" name=issuelimit size=2 maxlength=2 value="[% issuelimit %]">
			</td>
		</tr>
		<tr class="inputFontNormal">
			<td class="inputFontNormal">[% "D&iacute;as de pr&eacute;stamo" | i18n %]</td>
			<td class="inputFontNormal">
				<input type=text class="inputFontNormal"name=borrowingdays value="[% borrowingdays %]">
			</td>
		</tr>

		<tr>
			<td class="inputFontNormal">[% "Costo de reserva" | i18n %]</td>
			<td class="inputFontNormal">
				<input class="inputFontNormal" type=text name=reservefee value="[% reservefee %]">
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<input type="image" alt="Guardar Cambios"  src="[% interface %]/[% themelang %]/images/guardar.png" onclick="Aform.submit">
                [% PERL %]
                                print C4::AR::Filtros::to_Button( 
                                                                    text    =>  "[% 'Buscar' | i18n %]",
                                                                    boton   =>  "boton_buscar",
                                                                    onClick =>  "Aform.submit();",
                                                                    title   =>  "[% 'Buscar usuario' | i18n %]",
                                        ) ;
                [% END %]
			</td>
		</tr>
	</table>
	</form>

[% END %]

[% IF add_validate %]
	[% "Registro de datos" | i18n %]
	<form action=[% script_name %] method=post>
		<input type=submit value=OK>
	</form>
[% END %]

[% IF delete_confirm %]
	[% "TOTAL"  | i18n %]: [% categorycode %] : [% total %]<br>

	<table border=0 cellspacing=0 cellpadding=5>
		<tr class="tablaresultadoTitle">
			<td class="inputFontNormal">
				<b>[% "C&oacute;digo de categor&iacute;a" | i18n %]</b>
			</td>
			<td class="inputFontNormal">
				[% categorycode %]
			</td>
		</tr>
        	<form action='[% script_name %]' method=post>
			<input type=hidden name=op value=[% delete_confirmed %]>
			<input type=hidden name=categorycode value=[% categorycode %]>        
		<tr class="tablaresultadoTitle">
			<td class="inputFontNormal">[% "Descripci&oacute;n" | i18n %]</td>
			<td class="inputFontNormal">[% description %]</td>
		</tr>
		<tr >
			<td class="inputFontNormal">[% "Per&iacute;odo de inscripci&oacute;n" | i18n %]</td>
			<td class="inputFontNormal">[% enrolmentperiod %]</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "Upperage limit" | i18n %]</td>
			<td>[% upperagelimit %]</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "Edad Requerida" | i18n %]</td>
			<td class="inputFontNormal">[% dateofbirthrequired %]</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "Tipo de multa" | i18n %]</td>
			<td class="inputFontNormal">[% finetype %]</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "Tarifa de inscripci&oacute;n" | i18n %]</td>
			<td class="inputFontNormal">[% enrolmentfee %]</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "Se necesita nota de atraso" | i18n %]</td>
			<td class="inputFontNormal">[% IF overduenoticerequired %]
                                                        Si
                                                    [% ELSE %]
                                                        No
                                                    [% END %]
                        </td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "L&iacute;mite de pr&eacute;stamo" | i18n %]</td>
			<td class="inputFontNormal">[% issuelimit %]</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "D&iacute;s de pr&eacute;stamo" | i18n %]</td>
			<td class="inputFontNormal">[% borrowingdays %]</td>
		</tr>
		<tr>
			<td class="inputFontNormal">[% "Costo de reserva" | i18n %]</td>
			<td class="inputFontNormal">[% reservefee %]</td>
		</tr>
		[% IF totalgtzero %]
                        <tr>
                                <td class="inputFontNormal" colspan=2 align=center><b>This record is used [% total %] times. Deletion not possible</b></td>
                        </tr>
                        </form>
                        <tr>
                                <td colspan=2>
                                        <form action='[% script_name %]' method=post>
                                        <a onMouseOut="swap('save','[% themelang %]/images/guardar.png')" onMouseOver="swap('save','[% themelang %]/images/guardarbis.png')" onClick="Aform.submit()" >
                                        <img name="save" id="save" alt="Guardar" src="[% themelang %]/images/guardar.png" border="0"></a>
                                                                                
                                        <input type=submit value=OK>
                                        </form>
                                </td>
                        </tr>
                        [% ELSE %]
                        <tr>
                                <td class="inputFontNormal" colspan=2 align=center>[% "CONFIRME BORRADO" | i18n %]</td>
                        </tr>
                        <tr>
                                <td><INPUT type=submit value='SI'></form></td>
                                <td><form action='[% script_name %]' method=post><input type=submit value=NO></form></td>
                        </tr>
                    </table>
		[% END %]

[% END %]

[% IF delete_confirmed %]
	[% "Borrado de datos" | i18n %]
        <form action='[% script_name %]' method=post>
        <input type=submit value=OK>
        </form>

[% END %]

[% IF else %]
        <table width="100%"  border="0" class="pagetitle" cellpadding="0" cellspacing="0" >
                <tr>
                        <td>[% "Administraci&oacute;n de Categor&iacute;as"  | i18n %]</td>
                </tr>
                <tr>
                        <td class="lineagruesa"  align="left" colspan="3"></td>
                </tr>
        </table>
                                                                
                <br>
                [% IF searchfield %]
                        [% "Ha Buscado por"  | i18n %][% searchfield %]
                [% END %]
        <table>
                <tr>
                <form action='[% script_name %]' method=post name="form1">
                        <td>
                                <input type=text class="inputFontNormal" name=description value=[% searchfield %]>
                        </td>
                        <td> 
                                <input type="image" name="go" id="go" alt="Comenzar b&uacute;squeda" src="[% themelang %]/images/boton-buscar.png" border="0" onClick="form1.submit()">
                        
                        </td>
                </form>
                </tr>
        </table>
        <table border=0 cellspacing=0 cellpadding="0" width="100%">
                <tr class="tablaresultadoTitle">

                        <td >[% "Categor&iacute;a" | i18n %]</td>
                        <td width="10%">[% "Descripci&oacute;n" | i18n %]</td>
                        <td >[% "Per&iacute;odo de inscripci&oacute;n "| i18n %]</td>
                        <td >[% "Tarifa de inscripci&oacute;n "| i18n %]</td>
                        <td >[% "L&iacute;mite superior de edad "| i18n %]</td>
                        <td width="8%">[% "Edad Requerida "| i18n %]</td>
                        <td width="5%">[% "Multa "| i18n %]</td>
                        <td width="7%">[% "Atrasado "| i18n %]</td>
                        <td >[% "L&iacute;mite de pr&eacute;stamo" | i18n %]</td>
                        <td >[% "D&iacute;as de pr&eacute;stamo "| i18n %]</td>
                        <td width="6%">[% "Reserva "| i18n %]</td>
                        <td width="6%">[% "Editar " | i18n %]</td>
                        <td >[% "Eliminar"  | i18n %]</td>
                        
                </tr>
               [% FOREACH loop %]
                        <tr valign="middle">
                                <td height=20 class="[% clase %]">&nbsp;</td>
                                <td class="[% clase %]" class="inputFontNormal">[% categorycode %]</td>
                                <td class="[% clase %]" class="inputFontNormal">[% description %]</td>
                                <td class="[% clase %]" class="inputFontNormal">[% enrolmentperiod %]</td>
                                <td class="[% clase %]" class="inputFontNormal">[% enrolmentfee %]</td>
                                <td class="[% clase %]" class="inputFontNormal">[% upperagelimit %]</td>
                                <td class="[% clase %]" class="inputFontNormal">[% dateofbirthrequired %]</td>
                                <td class="[% clase %]" class="inputFontNormal">[% finetype %]</td>
                                <td class="[% clase %]" class="inputFontNormal">
                                [% IF overduenoticerequired %]
                                        <i>[% "Si" | i18n %]</i>
                                [% ELSE %]
                                        <i>[% "No" | i18n %]</i>
                                [% END %]
                                </td>
                                <td class="[% clase %]" class="inputFontNormal">[% issuelimit %]</td>
                                <td class="[% clase %]" class="inputFontNormal">[% borrowingdays %]</td>
                                <td class="[% clase %]" class="inputFontNormal">[% reservefee %]</td>
                                <td align="center"class="[% clase %]">
                                    <a class="inputFontNormal" href="[% script_name %]?op=add_form&categorycode=[% categorycode %]"><img src="[% interface %]/[% themelang %]/images/editar.png"  ALT="Editar" hspace=0 vspace=0 border=0></a>
                                </td>
                                <td align="center"class="[% clase %]">
                                    <a class="inputFontNormal" href="[% script_name %]?op=delete_confirm&categorycode=[% categorycode %]"><img src="[% interface  %]/[% themelang %]/images/borrar.png" ALT="Eliminar" border="0"></a>
                                </td>
                                <td height=20 class="[% clase %]">&nbsp;</td>
                        </tr>
                [% END %]
                <tr valign=bottom> 
                        <td class="lineafinaltabla"  align="left" colspan="15"></td>
                </tr>
        
        </table>
                <center>
                <p><form action='[% script_name %]' method=post name=form2>
                        <input type=hidden name=op value=add_form>
<!--         <input type="image" alt="Agregar Categor&iacute;a"  src="[% interface %]/[% themelang %]/images/agregar.png" onclick="form2.submit"> -->
        <br>
       [% PERL %]
                                print C4::AR::Filtros::to_Button( 
                                                                    text    =>  "[% 'Agregar Categor&iacute;a' | i18n %]",
                                                                    boton   =>  "boton_buscar",
                                                                    onClick =>  "form2.submit();",
                                                                    title   =>  "[% 'Agregar Categor&iacute;a' | i18n %]",
                                        ) ;
        [% END %]        
                </form></p>
                </center>
[% END %]

[% INCLUDE "intranet-bottom.inc" %]
