<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<br>
<table border=0 cellspacing=0 cellpadding=0 with="100%">
	<tr class="titulo_tabla_resultado">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td>Prueba</td>
		<td>Resultado</td>
		<td width="1%" align="rigth" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</tr>

<!------------------------------------------------------------------------------------------------------------>

	<tr>
<!-- TMPL_IF name="itemnum" -->
		<td class="inputFontNormal"><b>itemnum</b></td>
		<td class="inputFontNormal">
			<li>El campo itemnum DEBE estar mapeado </li>
			<li>The correspounding subfield MUST be in with -1 (ignore) tab
		</td>
		
<!-- TMPL_ELSE -->
		<td width="1%" class="inputFontNormal">OK</td>
		<td class="inputFontNormal">
			<i>itemnum: el campo itemnumber es mapeado a un campo con tab -1</i>
		</td>
<!-- /TMPL_IF -->
	</tr>

<!------------------------------------------------------------------------------------------------------------>

	<tr>
<!-- TMPL_IF name="itemfields" -->
		<td class="inputFontNormal"><b>campos del ejemplar</b></td>
		<td class="inputFontNormal">Todos los campos de ejemplar DEBEN :<br/>
			<li>be mapped to the same tag,</li>
			<li>and they must all be in the 10 (ejemplares) tab</li>
		</td>
<!-- TMPL_ELSE -->
		<td class="inputFontNormal">OK</td>
		<td class="inputFontNormal">
			<i>Todos los campos de ejemplar est&aacute;n en el mismo tag en el tab ejemplar</i>
		</td>
<!-- /TMPL_IF -->
	</tr>

<!------------------------------------------------------------------------------------------------------------>

	<tr>
<!-- TMPL_IF name="itemtypes_empty" -->
		<td class="inputFontNormal"><b>tabla de itemtypes vacia</b></td>
		<td class="inputFontNormal">
			la tabla itemtypes esta vac&iacute;a. Debe contener al menos un valor
		</td>
<!-- TMPL_ELSE -->
		<td class="inputFontNormal">OK</td>
		<td class="inputFontNormal">
			<i>la tabla itemtypes contiene al menos 1 valor</i>
		</td>
<!-- /TMPL_IF -->
	</tr>

<!------------------------------------------------------------------------------------------------------------>

	<tr>
<!-- TMPL_IF name="itemtype" -->
		<td class="inputFontNormal"><b>itemtype NO mapeado</b></td>
		<td class="inputFontNormal">el campo biblioiyems.itemtype DEBE :<br/>
			<li>be mapped to a MARC subfield, </li>
			<li>the correspounding subfield MUST have authorised_value=itemtype</li>
		</td>
<!-- TMPL_ELSE -->
		<td class="inputFontNormal">OK</td>
		<td class="inputFontNormal">
			<i>biblioiyems.itemtype definido	</i>
		</td>
<!-- /TMPL_IF -->
	</tr>

<!------------------------------------------------------------------------------------------------------------>

	<tr>
<!-- TMPL_IF name="branches_empty" -->
		<td class="inputFontNormal"><b>tabla branch vac&iacute;a</b></td>
		<td class="inputFontNormal">
			la tabla de la sucursal esta vac&iacute;a
		</td>
<!-- TMPL_ELSE -->
		<td class="inputFontNormal">OK</td>
		<td class="inputFontNormal">
			<i>tabla branch llena con al menos un valor</i>
		</td>
<!-- /TMPL_IF -->
	</tr>

<!------------------------------------------------------------------------------------------------------------>

	<tr>
<!-- TMPL_IF name="branch" -->
		<td class="inputFontNormal"><b>homebranch NO mapeado</b></td>
		<td class="inputFontNormal">el campo ejemplares.homebranch DEBE :<br/>
			<li>be mapped to a MARC subfield,</li>
			<li>the correspounding subfield MUST have authorised value=branches</li>
		</td>
<!-- TMPL_ELSE -->
		<td class="inputFontNormal">OK</td>
		<td class="inputFontNormal"><i>homebranch definido</i></td>
<!-- /TMPL_IF -->
	</tr>

<!------------------------------------------------------------------------------------------------------------>

	<tr>
<!-- TMPL_IF name="holdingbranch" -->
		<td class="inputFontNormal"><b>holdingbranch NO mapeado</b></td>
		<td class="inputFontNormal">el campo ejemplares.holdingbranch DEBE :<br/>
			<li>be mapped to a MARC subfield, </li>
			<li>the correspounding subfield MUST have authorised value=branches</li>
		</td>
<!-- TMPL_ELSE -->
		<td class="inputFontNormal">OK</td>
		<td class="inputFontNormal"><i>holdingbranch definido</i></td>
<!-- /TMPL_IF -->
	</tr>

<!------------------------------------------------------------------------------------------------------------>

	<tr>
<!-- TMPL_IF name="biblionumber" -->
		<td width="13%" class="inputFontNormal"><b>biblio y biblionumber</b></td>
		<td class="inputFontNormal">
			Los campos biblio.biblionumber y biblioitems.biblionumber DEBEN :<br/>
			<li>be mapped to a MARC subfield,</li>
			<li>be in the SAME tag (for example : 090$a and 090$b)</li>
			<li>est&aacute; en la etiqueta -1</li>
		</td>
<!-- TMPL_ELSE -->
		<td class="inputFontNormal">OK</td>
		<td class="inputFontNormal"><i>biblio y biblionumber mapeados correctamente</i></td>
<!-- /TMPL_IF -->
	</tr>

<!------------------------------------------------------------------------------------------------------------>

	<tr>
<!-- TMPL_IF name="total" -->
		<td class="inputFontNormal"><b>TOTAL</b></td>
		<td class="inputFontNormal">
			Usted tiene <b><!-- TMPL_VAR name="total" --></b> error(s) in your MARC configuration. Please fix them before using koha
		</td>
<!-- TMPL_ELSE -->
		<td class="inputFontNormal">&nbsp;</td>
		<td class="inputFontNormal">
			<b>Configuraci&oacute;n OK, no posee errores en su tabla de par&aacute;metros MARC 	</b>
		</td>
<!-- /TMPL_IF -->
	</tr>

</table>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
