[% INCLUDE "intranet-top.inc" %]

[% INCLUDE 'datePicker.inc' %]

<script type="text/javascript">
    $(function()
    {
        $('.calendar').datePickerMultiMonth(
            {
                numMonths: 4,
                inline: true,
                selectMultiple:true
            }
        ).bind(
            'dpMonthChanged',
            function(event, displayedMonth, displayedYear)
            {
                // uncomment if you have firebug and want to confirm this works as expected...
                //console.log('dpMonthChanged', arguments);
            }
        ).bind(
            'dateSelected',
            function(event, date, $td, status)
            {
                // uncomment if you have firebug and want to confirm this works as expected...
                console.log('dateSelected', arguments);
            }
        );

        $('#getSelected').bind(
            'click',
            function(e)
            {
                alert($('.calendar').dpmmGetSelected());
                return false;
            }
        );
    });
</script>
<style>

.dp-applied {
    float:left;
}
</style>

<fieldset width=100%>
    <legend class="titulos">[% "Definir Feriados" | i18n %]</legend>
    <div style="overflow:auto; float:left; border: 2px solid #000000" class="calendar">
        <a href="#">Ana</a>
    </div>
</fieldset>


[% INCLUDE "intranet-bottom.inc" %]
