[% INCLUDE "intranet-top.inc" %]


[% INCLUDE 'datePicker.inc' %]

<script type="text/javascript">
    function postFecha(date,stat){
        objAH=new AjaxHelper(null);
        objAH.debug= true;
        objAH.url='/cgi-bin/koha/admin/postFecha.pl';
        objAH.debug= true;
        objAH.date= date;
        objAH.stat= stat;
        objAH.sendToServer();
    }

    $(function()
    {
        $('#calendar').datePickerMultiMonth(
            {
                numMonths: 5,
                inline: true,
                selectMultiple:true
            }
        ).bind(
            'dpMonthChanged',
            function(event, displayedMonth, displayedYear)
            {
                // uncomment if you have firebug and want to confirm this works as expected...
                //console.log('dpMonthChanged', arguments);
            }
        );

        $('#getSelected').bind(
            'click',
            function(e)
            {
                alert($('#calendar').dpmmGetSelected());
                return false;
            }
        );
        
    });
    $(document).ready(function(){
        [% FOREACH date IN dates %]
            $('#calendar').dpmmSetSelected('[% date %]');
        [% END %]
        $('#calendar').bind(
            'dateSelected',
            function(event, date, $td, status)
            {
                // uncomment if you have firebug and want to confirm this works as expected...
//                 console.log('dateSelected', date.asString());
                  postFecha(date.asString(),status);
            }
        );
    });

</script>
<style>
    .dp-applied {
        float:left;
    }
</style>

<fieldset style="width:90%;">
    <legend class="titulos">[% "Definir Feriados" | i18n %]</legend>
    <div style="overflow:auto; float:left; border: 2px solid #000000; width: 100%; " id="calendar"></div>
</fieldset>


[% INCLUDE "intranet-bottom.inc" %]
