[% INCLUDE "intranet-top.inc" %]

[% INCLUDE 'datePicker.inc' %]

<script type="text/javascript">

    function contains(a, obj){
        for(var i = 0; i < a.length; i++) {
            if(a[i] === obj){
            return true;
            }
        }
        return false;
    }

    var FECHAS=new Array();
    function postFecha(date,stat,feriado){
        objAH=new AjaxHelper(null);
        objAH.debug= true;
        objAH.showOverlay   = true;
        objAH.url='/cgi-bin/koha/admin/postFecha.pl';
        objAH.debug= true;
        objAH.date= date;
        objAH.stat= stat;
        objAH.feriado= feriado;
        objAH.sendToServer();
    }

    $(function(){
        crearDatePickerMultiple('calendar',6,999,
                function(dates){
                var dateSelected=dates.pop();
                if (dateSelected){
                    dates.push(dateSelected);
                    var fecha= $.datepick.formatDate('dd/mm/yyyy',dateSelected);
                    if (!contains(FECHAS,fecha)){
                        //Fecha Nueva
                        jPrompt('[% "Raz&oacute;n del Feriado" | i18n %]', '', '[% "Feriados" | i18n %]', function(texto) {
                            if (texto){
                                postFecha(fecha,'true',texto);
                            }
                            else{
                                dates.pop();
                            }
                        });
                    }
                }
                FECHAS_SEL=new Array();
                for(var i = 0; i < dates.length; i++) {
                    FECHAS_SEL.push($.datepick.formatDate('dd/mm/yyyy',dates[i]));
                }
            //Hay que eliminar algún feriado?
                for(var i = 0; i < FECHAS.length; i++) {
                   if (!contains(FECHAS_SEL,FECHAS[i])){
                       jAlert('[% "Se elimina el Feriado" | i18n %] '+FECHAS[i], '[% "Feriados" | i18n %]');
                       postFecha(FECHAS[i],'false','');
                   }
                }
            //Actualizamos FECHAS
                FECHAS=FECHAS_SEL;
            }
        );
        });

    $(document).ready(function(){
        [% FOREACH date IN dates %]
            FECHAS.push('[% date.getFecha %]');
        [% END %]

       $('#calendar').datepick('setDate', FECHAS);

    });

</script>
<style>
    .dp-applied {
        float:left;
    }
</style>

<fieldset style="width:90%;">
    <legend class="titulos">[% "Definir Feriados" | i18n %]</legend>
    <div id="calendar"></div>
</fieldset>


[% INCLUDE "intranet-bottom.inc" %]
