[% INCLUDE "intranet-top.inc" %]
[% USE HTML %]
<script>
function swap(id,src){
document.getElementById(id).src=src;
}


function _(s) { return s } // dummy function for gettext
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function isNotNull(f,noalert) {
	if (f.value.length ==0) {
		return false;
	}
	return true;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function toUC(f) {
	var x=f.value.toUpperCase();
	f.value=x;
	return true;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function isNum(v,maybenull) {
var n = new N&uacute;mero(v.value);
if (isNaN(n)) {
	return false;
	}
if (maybenull==0 && v.value=='') {
	return false;
}
return true;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function isDate(f) {
	var t = Fecha.parse(f.value);
	if (isNaN(t)) {
		return false;
	}
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function Check(f) {
	var ok=1;
	var _alertString="";
	var alertString2;
	if (f.itemtype.value.length==0) {
		_alertString += "\n- " + _("Tipo de documento perdido");
	}
	if (!(isNotNull(window.document.Aform.description,1))) {
		_alertString += "\n- " + _("Descripci&oacute;n perdida" );
	}
	if ((!isNum(f.loanlength,0)) && f.loanlength.value.length > 0) {
		_alertString += "\n- " + _("Duraci&oacute;n del pr&eacute;stamo no es un n&uacute;mero" );
	}
	if ((!isNum(f.rentalcharge,0)) && f.rentalcharge.value.length > 0) {
		_alertString += "\n- " + _( "Costo de pr&eacute;stamo no es un n&uacute;mero");
	}
	if (_alertString.length==0) {
		document.Aform.submit();
	} else {
		alertString2  = _("Problemas");
		alertString2 += "\n------------------------------------------------------------------------------------\n";
		alertString2 += _alertString;
		alert(alertString2);
	}
}
</SCRIPT>
[% IF ! add_form %]
<div class="titulos_interior">
	[% IF itemtype %]
	    [% "Modificar Tipo de Documento" | i18n %]
	[% ELSE %]
	    [% "Agregar Tipo de Documento" | i18n %]
	[% END %]
</div>        

	<form action='[% script_name %]' name=Aform method=post>
		<input type=hidden name=op value='add_validate'>
		<input type=hidden name=checked value=0>
		<table class="tablaresultado" width="95%">
			[% IF itemtype %]
				<tr><td class="inputFontNormal">[% "Tipo de documento" | i18n %]</td><td class="inputFontNormal"><input type=hidden name=itemtype value=[% itemtype %]>[% itemtype %]</td></tr>
			[% ELSE %]
				<tr><td  class="inputFontNormal">[% "Tipo de documento" | i18n %]</td><td><input type=text name=itemtype size=6 maxlength=4 onBlur="toUC(this)"></td></tr>
			[% END %]
			<tr>
				<td  class="inputFontNormal">[% "Descripci&oacute;n" | i18n %]</td>
				<td><input  class="inputFontNormal" type=text name=description size=40 maxlength=80 value='[% HTML.escape(description) %]'>&nbsp;</td>
			</tr>
			<tr>
				<td  class="inputFontNormal">[% "Para Sala" | i18n %]</td>
				<td  class="inputFontNormal">
					[% IF notforloan %]
						<input  class="inputFontNormal" type=checkbox name=notforloan checked value=1>
					[% ELSE %]
						<input  class="inputFontNormal" type=checkbox name=notforloan value=1>
					[% END %]
				si esta seleccionado todos los items de este tipo sera "para sala"
				</td>
			</tr>
			<tr>
				<td  class="inputFontNormal">[% "Duraci&oacute;n del pr&eacute;stamo" | i18n %]</td>
				<td  class="inputFontNormal">
					<input type=text  class="inputFontNormal" name=loanlength size=10 value='[% loanlength %]'>
					significativo solo si no esta seteado "para sala"
				</td>
			</tr>
			<tr>
				<td  class="inputFontNormal">[% "Renovaciones permitidas" | i18n %]</td>
				<td><input  class="inputFontNormal" type=checkbox name=renewalsallowed [% IF renewalsallowed %] checked [% END %] value=1></td>
			</tr>
			<tr>
				<td  class="inputFontNormal">[% "Costo de pr&eacute;stamo" | i18n %]</td>
				<td><input  class="inputFontNormal" type=text name=rentalcharge size=10 value='[% rentalcharge %]'></td>
			</tr>

			<tr>
				<td  class="inputFontNormal">[% "Agrupaci&oacute;n en la b&uacute;squeda" | i18n %]</td>
				<td><input  class="inputFontNormal" type=text name=search size=40 value='[% search %]'></td>
			</tr>

			<tr>
				<td  class="inputFontNormal">[% "detalle" | i18n %]</td>
				<td><input  class="inputFontNormal" type=text name=detail size=40 value='[% detail %]'></td>
			</tr>

		       [% IF virtuallibrary %]
                            <tr>
                                    <td colspan=2><hr></td>
                            </tr>
                            <tr>
                                    <td  class="inputFontNormal">[% "Biblioteca Virtual" | i18n %]</td>
                                    <td><input  class="inputFontNormal" type=checkbox name=virtual [% IF virtual %]checked [% END %]> value=1></td>
                            </tr>
                            <tr>
                                <td  class="inputFontNormal">[% "Tipo de pedido" | i18n %]</td>
                                <td>	
                                <select  class="inputFontNormal" name="requesttype" size="1">
                                <option  class="inputFontNormal" value="copy" [% IF copy %]selected[% END %]>[% "Para Copia" | i18n %]</option>
                                <option  class="inputFontNormal" value="print" [% IF print %]selected[% END %]>[% "Para Impresi&oacute;n" | i18n %]</option>
                                </select>	
                                </td>
                            </tr>

		       [% END %]

			<tr>
				<td  class="inputFontNormal">&nbsp;</td>
				<td>
                [% PERL %]
                                print C4::AR::Filtros::to_Button( 
                                                                    text    =>  "[% 'Guardar Cambios' | i18n %]",
                                                                    boton   =>  "boton_buscar",
                                                                    onClick =>  "Aform.submit",
                                                                    title   =>  "[% 'Guardar Cambios' | i18n %]",
                                                                    width   =>  "155",
                                        ) ;
                [% END %]
				</td>
			</tr>
		</table>
	</form>
[% END %]

[% IF delete_confirm %]
	<TABLE width="90%">
		<tr>
			<td  class="inputFontNormal">[% "Tipo de documento" | i18n %]</td>
			<td>[% itemtype %]</td>
		</tr>
		<form action='[% script_name %]' method=post>
			<input type=hidden name=op value=delete_confirmed>
			<input type=hidden name=itemtype value='[% itemtype %]'>
		<tr>
			<td  class="inputFontNormal">[% "Descripci&oacute;n" | i18n %]</td>
			<td>[% description %]</td>
		</tr>
		<tr>
			<td  class="inputFontNormal">[% "Duraci&oacute;n del pr&eacute;stamo" | i18n %]</td>
			<td>[% loanlength %]</td>
		</tr>
		<tr>
			<td  class="inputFontNormal">[% "Renovaciones" | i18n %]</td>
			<td>[% IF renewalsallowed %]
				[%" Permitido" | i18n %]
                            [% ELSE %]
                                [% "No Permitidas" | i18n %]
                            [% END %]
			</td>
		</tr>
		<tr>
			<td  class="inputFontNormal">[% "Costo de pr&eacute;stamo" | i18n %]</td>
			<td>[% rentalcharge %]</td>
		</tr>
	 	<tr>
			<td  class="inputFontNormal">[% "Agrupaci&oacute;n en la b&uacute;squeda" | i18n %]</td>
			<td>[% search %]</td>
		</tr>
		 
                [% IF virtuallibrary %]
                        <tr>
                                <td colspan=2><hr></td>
                        </tr>
                        <tr>
                                <td  class="inputFontNormal">[% "Biblioteca Virtual" | i18n %]</td>
                                <td>
                                [% IF virtual %]
                                        [% "Si" | i18n %]
                                                </td> 
                                        </tr> 
                                        <tr>
                                                <td  class="inputFontNormal">[% "Tipo de pedido" | i18n %]</td>
                                                <td  class="inputFontNormal">
                                                [% IF copy %]
                                                    [% "Para Copia" | i18n %]
                                                [% END %]
                                                [% IF print %]
                                                    [% "Para Impresi&oacute;n" | i18n %]
                                                [% END  %]
                                                </td>
                                        </tr> 
                                [% ELSE %]
                                        [% "No" | i18n %] </td>
                        </tr>   [% END %]
                        </tr>
                [% END %]


 [% IF total %]

<!-- KASDBNFJKBDSLJBFJLSDBFJLSDBFDSLHBFHDSBFLBDSFBDSLFBDSBFLDSBFLDSBFDSLFBDLS -->
		<tr>
			<td colspan=2 align=center  class="inputFontNormal">
				<b>[% "El registro esta en siendo utilizado" | i18n %] [% total %] [% "veces. No se puede borrar." | i18n %]</b>
			</td>
		</tr>
		<tr>
			<td colspan=2  class="inputFontNormal">
		</form>
		<form action='[% script_name %]' method=post>
			<input type=submit value=OK>
		</form>
			</td>
		</tr>
[% ELSE %]
		<tr>
			<td colspan=2  class="inputFontNormal" align=center>
				[% "CONFIRME BORRADO" | i18n %]
			</td>
		</tr>
		<tr>
			<td>
				<form action='[% script_name %]' method=post>
					<INPUT  class="inputFontNormal" type=submit value='SI'>
				</form>
			</td>
			<td>
				<form action='[% script_name %]' method=post>
					<input type=submit value=NO>
				</form>
			</td>
		</tr>
[% END %]

	</table>
[% END %]


[% INCLUDE "intranet-bottom.inc" %]
