<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
 <script language="javascript" type="text/javascript">
         function swap(id,src){
	         document.getElementById(id).src=src;
		         }
 </script>			 
<!-- TMPL_IF name="add_form" -->
<!---------------------------------------------------------------------------->
	<H1><!-- TMPL_VAR name="action" --></H1>
	<p class="inputFontNormal">Elegir y validar 1 de los siguientes para <b><!-- TMPL_VAR name="tablename" -->.<!-- TMPL_VAR name="kohafield" --></b></p>
<table>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist0" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist1" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist2" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist3" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist4" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist5" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist6" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist7" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist8" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=put>
		<td>
			<input type=hidden name=op value='add_validate'>
			<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
			<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
			<!-- TMPL_VAR name="marclist9" -->
		</td>
		<td>
			<INPUT type=submit value='OK'>
		</td>
	</form>
	</tr>
	<tr>
		<td>
			<p align="right">Para "unmap", click ==></p>
		</td>
		<td>
			<form action='<!-- TMPL_VAR name="script_name" -->' name=Aform method=put>
				<input type=hidden name=op value='add_validate'>
				<input type="hidden" name="tablename" value="<!-- TMPL_VAR name="tablename" -->">
				<input type="hidden" name="kohafield" value="<!-- TMPL_VAR name="kohafield" -->">
				<input type="hidden" name="choice" value="">
				<INPUT type=submit value='AQU&Iacute;'>
			</form>
		</td>
	</tr>
</table>
<!-- /TMPL_IF -->

<!---------------------------------------------------------------------------->
<!-- TMPL_IF name="else" -->
<table width="100%" class="titulos" border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td>Links Marc <!-- TMPL_VAR name="tagfield" --></td>
	</tr>
</table>
		 
<p class="inputFontNormal"><b>NOTA: si cambia el enlace entre un campo MARC y un campo no-MARC, p&iacute;dale a su administrador que corra el script misc/rebuildnonmarc.pl</b>
</p>

<table>
	<tr>
<form action='<!-- TMPL_VAR name="script_name" -->' method=post name=form1>
		<td>
			<!-- TMPL_VAR name="tablename" --> 
		</td>
    		<td>
			<a href="#" onClick="form1.submit()"><img name="go" id="go" alt="Comenzar b&uacute;squeda" src="<!-- TMPL_VAR NAME="themelang" -->/images/boton-buscar.png" border="0" ></a>
		</td>
</form>

	</tr>
</table>

<table border=0 cellspacing=0 cellpadding=0>
	<tr class="titulo_tabla_resultado">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td>Campo koha <span style="font-size:8;color:red" title="la koha-DB esta vinculada a este subcampo">?</span></td>
		<td>Tag</td>
		<td>Subcampo</td>
		<td>Lib</td>
		<td width=8%>Editar</td>
		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</tr>
<!-- TMPL_LOOP name="loop" -->
	<tr valign=middle>
		<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal">
			<!-- TMPL_VAR name="kohafield" -->
		</td>
		<td align="center" class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal">
			<!-- TMPL_VAR name="tagfield" -->
		</td>
		<td align="center" class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal">
			<!-- TMPL_VAR name="tagsubfield" -->
		</td>
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal">
			<!-- TMPL_VAR name="liblibrarian" -->
		</td>
		<td class="<!-- TMPL_VAR NAME="clase"-->" align="center">
			<a class="inputFontNormal"href="<!-- TMPL_VAR name="edit" -->"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/editar.png" ALT="Editar" hspace=0 vspace=0 border=0></a>
		</td>
	 	<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
	</tr>
<!-- /TMPL_LOOP -->
 	<tr valign=bottom>
        	<td class="lineafinaltabla"  align="left" colspan="7"></td>
        </tr>
</table>
<!-- /TMPL_IF -->
<br>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
