[% INCLUDE 'intranet-top.inc' %]
[% USE HTML %]

<script type="text/javascript" src="/includes/jquery/jquery.wysiwyg.js"></script>
<link rel="stylesheet" href="/includes/css/wysiwyg.css" type="text/css" media="screen"/>

<script type="text/javascript">
      $(document).ready(function() {
        $('.fancy_link').fancybox({
            'frameWidth':   600,
            'frameHeight':  500,
        });
        zebra('datos_tabla');
      });

      function responder(){
            $("#respuesta").wysiwyg();
            $(".responder").show(); 
            $(".wysiwyg").css('width','388px');   
            $("#fancybox-wrap").css('top','25px');
            $("#respuestaIFrame").css('width','388px');
            $("#responder").attr('onclick', ' '); 
      }
    
</script>


<fieldset>
    <legend>[% "Mensajes de Contacto" | i18n %]:</legend>
        <div>[% paginador %]</div>
        <div class="datos_tabla_div_user">
            <div class="alert alert-info">[% "La cantidad de mensajes es" | i18n %]: [% cant_mensajes %]</div>
            
            [% PERL %]
                print C4::AR::Filtros::tableHeader(   
                                  id              => "mensajes_contacto_table",
                                  class           => "",
                                  selectAll_id    => "",
                                  columns         => ['[% "Fecha"|i18n %]','[% "Asunto"|i18n %]',
                                                    '[% "Remitente"|i18n %]', '[% "Marcar Como Leido/No Leido"|i18n %]',
                                                    '[% "Eliminar"|i18n %]',
                                                     ]
     
                                        ) ;
            [% END %]
            
                <tbody>
                    [% FOREACH mensaje IN mensajes_contacto %]
                        <tr class="leido[% mensaje.getLeido %]">
                            <td>
                                <a class="fancy_link" href="[% url_prefix %]/admin/ver_mensaje.pl?token=[% token %]&id=[% mensaje.id %]">
                                    [% mensaje.getFecha %] 
                                </a>
                            </td>
                            <td>
                                <a class="fancy_link" href="[% url_prefix %]/admin/ver_mensaje.pl?token=[% token %]&id=[% mensaje.id %]">
                                    [% HTML.escape(mensaje.getAsunto) %] 
                                </a>
                            </td>
                            <td>
                                <a class="fancy_link" href="[% url_prefix %]/admin/ver_mensaje.pl?token=[% token %]&id=[% mensaje.id %]">
                                    [% HTML.escape(mensaje.getApellido) %], [% HTML.escape(mensaje.getNombre) %] 
                                </a>
                            </td>
                            <td>
                                <a class="" 
                                    href="[% url_prefix %]/admin/mensajes_contacto.pl?token=[% token %]&id=[% mensaje.id %]&tipoAccion=marcar">
                                    [% IF mensaje.getLeido == 1%]
                                        [% 'Leido' | i18n %]
                                    [% ELSE %]
                                        [% 'No Leido' | i18n %]
                                    [% END %]
                                </a>
                            </td>
                            <td>
                                
                                [% PERL %]
                                  print C4::AR::Filtros::action_link_button( 
                                                                  button    => "btn btn-danger click",
                                                                  url       => "[% url_prefix %]/admin/mensajes_contacto.pl?token=[% token %]&id=[% mensaje.id %]&tipoAccion=eliminar", 
                                                                  icon      => "icon-remove icon-white",
                                                                  title     => "",
                                                              ) ;

                                [% END %]
                            </td>
                        </tr>
                    [% END %]
                </tbody>
            </table>
        </div>
</fieldset>

[% INCLUDE 'intranet-bottom.inc' %]
