[% USE HTML %]
<script type="text/javascript">
      $(document).ready(function() {
          $('.fancy_link').fancybox({
              'frameWidth':   600,
              'frameHeight':  500,
          });
      });
</script>
<fieldset>
    <legend class="titulo_legend trigger click">[% "Novedades de OPAC" | i18n %]:</legend>
        <div class="contenedor_paginador">[% paginador %]</div>
        [% IF novedades %]
            <div class="datos_tabla_div_user">
                <div class="alert alert-info">[% "La cantidad de novedades es" | i18n %]: [% cant_novedades %]</div>
                
                    [% PERL %]
                        print C4::AR::Filtros::tableHeader(   
                                          id              => "novedades_opac_table",
                                          class           => "",
                                          selectAll_id    => "",
                                          columns         => ['[% "Fecha"|i18n %]','[% "Usuario"|i18n %]',
                                                            '[% "T&iacute;tulo"|i18n %]', '[% "Resumen"|i18n %]',
                                                            '[% "Categor&iacute;a"|i18n %]', '[% "Eliminar"|i18n %]',
                                                            '[% "Editar"|i18n %]',
                                                             ]
             
                                                ) ;
                    [% END %]

                    <tbody>
                        [% FOREACH novedad IN novedades %]
                            <tr class="leido[% novedad.getLeido %]">
                                <td>
                                    <a class="fancy_link" href="[% url_prefix %]/admin/ver_novedad.pl?token=[% token %]&id=[% novedad.id %]">
                                        [% novedad.getFechaLegible %]
                                    </a>
                                </td>
                                <td>
                                    <a class="fancy_link" href="[% url_prefix %]/admin/ver_novedad.pl?token=[% token %]&id=[% novedad.id %]">
                                        [% novedad.getUsuario%] 
                                    </a>
                                </td>
                                <td>
                                    <a class="fancy_link" href="[% url_prefix %]/admin/ver_novedad.pl?token=[% token %]&id=[% novedad.id %]">
                                        [% novedad.getTitulo %] 
                                    </a>
                                </td>
                                <td>
                                    <a class="fancy_link" href="[% url_prefix %]/admin/ver_novedad.pl?token=[% token %]&id=[% novedad.id %]">
                                        [% novedad.getResumen %] 
                                    </a>
                                </td>
                                <td>
                                    <a href="#">[% novedad.getCategoria %]</a>
                                </td>
                                <td>
                                    [% PERL %]
                                      print C4::AR::Filtros::action_button( 
                                                                      button    => "btn click",
                                                                      action    => 'eliminarNovedad("[% novedad.id %]")', 
                                                                      icon      => "icon-remove",
                                                                      title     => "",
                                                                  ) ;


                                    [% END %]
                                </td>
                                <td>
                                     [% PERL %]
                                          print C4::AR::Filtros::action_link_button( 
                                                                          button    => "btn click",
                                                                          url       => "[% url_prefix %]/admin/editar_novedad.pl", 
                                                                          params    =>  ["id=[% novedad.id %]"],
                                                                          icon      => "icon-edit",
                                                                          title     => "",
                                                                      ) ;

                                    [% END %]
                                </td>
                            </tr>
                        [% END %]
                    </tbody>
                </table>
            </div>
        [% ELSE %]
            <h2>[% 'No hay novedades' | i18n %]</h2>
        [% END %]
</fieldset>
<div class="form-actions">
[% PERL %]
            print C4::AR::Filtros::to_Button(   
                    text    => "[% 'Agregar novedad' | i18n %]",
                    boton   => "boton_buscar",
                    url     => "[% url_prefix %]/admin/agregar_novedad.pl?token=[% token %]",
                    width   => "auto",
                    title   => "[% 'Agregar novedad' | i18n %]",
                ) ;
[% END %]
</div
