

<table id="tablaResultado" class="datos_tabla" cellspacing="0" cellpadding="0" border="0" width="100%">
	<thead>

	<tr class="titulo_tabla_resultado">

		<th width="13%" class="header">[% "Variable" | i18n %]</th>
		<th width="25%" class="header">[% "Valor" | i18n %]</th>
		<th width="39%" class="header">[% "Explicaci&oacute;n" | i18n %]</th>
		<th width="3%">[% "Editar" | i18n %]</th>

	</tr>

	</thead>
<tbody>


[% FOREACH preferencia IN preferencias %]
	<tr>
		
		<td >[% preferencia.getVariable %]</td>
		<td >[% preferencia.getShowValue %]</td>
		<td >[% preferencia.getExplanation %]</td>
		<td align="center">
		    <input  type="image" src="[% themelang %]/images/editar.png"
                    alt="Editar" border="0" 
		            onClick="modificarVariable('[% preferencia.getVariable %]','[% preferencia.getType %]')">
		</td>
	
	</tr>

[% END %]

	</tbody>
</table>
