       <fieldset>
       <legend class="titulo_legend_resaltado">[% 'Pr&oacute;ximos Feriados' | i18n %]</legend>
        <ul>
        [% FOREACH fecha IN proximos_feriados %]
            <li>[% fecha.getFecha %] <strong>[% fecha.getFeriado %]</strong></li>
        [% END %]
        </ul>
       </fieldset>
