  	<table border=0 cellspacing=0 cellpadding=0 width="100%" align='center'>
	<tr class="tablaresultadoTitle">
                <td>[% "Tipos de pr&eacute;stamo sobre el que se aplica" | i18n %]</td>
	</tr>
	</table>

    <ul>
	[% IF tipo_sancion %]
	[% FOREACH tipo_prestamo IN TIPOS_PRESTAMOS %]
		<tr valign="middle">
		<li>
			<input type="checkbox" name="chk" value="[% tipo_prestamo.getId_tipo_prestamo %]" [% IF tipo_sancion.aplicaAlTipoDePrestamo( tipo_prestamo.getId_tipo_prestamo ) %] checked="checked" [% END %] > [% tipo_prestamo.getDescripcion %]
		</li>
	[% END %]
	</ul>

<FONT SIZE=2  face="arial, helvetica"><a href="#" onClick="actualizar();">[% "Guardar" | i18n %]</a></FONT>
	[% END %]