<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<script language="javascript" type="text/javascript">
function swap(id,src){
document.getElementById(id).src=src;
}
</script>

<!-- TMPL_IF name="detail_form" -->
	<!-------------------------------------------------------------------->
<table width="100%" class="pagetitle" border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td>Gesti&oacute;n de thesaurus</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<table border=0 cellspacing=0 cellpadding=2>
	<tr valign=top >
		<td  class="inputFontNormal"><b>Values related to <!-- TMPL_VAR name="stdlib" --> (<!-- TMPL_VAR name="category" -->)</b>
		</td>
	</tr>
</table>

	<br><br>

<table border=0 cellspacing=0 cellpadding=2>
	<tr valign=top>
		<td ><b>Otros formularios</b></td>
		<td >&nbsp;</td>
		<td >&nbsp;</td>
	</tr>
	<!-- TMPL_LOOP name="loop" -->
	<tr valign=top bgcolor='<!-- TMPL_VAR name="bgcolor" -->'>
		<td><!-- TMPL_VAR name="freelib" --></td>
		<td><a class="inputFontNormal"  href="<!-- TMPL_VAR name="edit" -->">Editar</a></td>
		<td><a class="inputFontNormal" href="<!-- TMPL_VAR name="delete" -->">Eliminar</a></td>
	</tr>
	<!-- /TMPL_LOOP -->
</table>

	<form action='<!-- TMPL_VAR name="script_name" -->' method=post>
		<input type="hidden" name="op" value="add_form">
		<input type="hidden" name="category" value="<!-- TMPL_VAR name="category" -->">
		<input type="hidden" name="stdlib" value="<!-- TMPL_VAR name="stdlib" -->">
	<br>	<input type=image src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/filenew.png" title="Agregar thesaurus entry" ALT="Agregar" BORDER=0 ><br>
	</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="add_form" -->
<!---------------------------------------------------------------------------->
<table width="100%" class="pagetitle" border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td>
			<!-- TMPL_IF name="search_category" -->
				Modificar
			<!-- TMPL_ELSE -->
				Agregar
			<!-- /TMPL_IF -->
		</td>
	</tr>
        <tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>
<form action='<!-- TMPL_VAR name="script_name" -->' name=Aform method=post>
	<!-- TMPL_IF name="search_category" -->
	<input type=hidden name=op value='mod_validate'>
	<!-- TMPL_ELSE -->
	<input type=hidden name=op value='add_validate'>
	<!-- /TMPL_IF -->
	<table cellpadding=3 cellspacing=3>
		<tr>
			<td class="inputFontNormal">Categor&iacute;a</td>
			<td class="inputFontNormal"> <!-- TMPL_VAR name="category" --></td>
		</tr>
		<tr>
			<td class="inputFontNormal">Autoridad lib</td>
		<!-- TMPL_IF name="id" -->
			<td class="inputFontNormal">
				<!-- TMPL_VAR name="father" --><!-- TMPL_VAR name="stdlib" -->
				<input type="hidden" name="stdlib" value="<!-- TMPL_VAR name="stdlib" -->" class="inputFontNormal">
			</td>
		<!-- TMPL_ELSE -->
			<td class="inputFontNormal">
				<!-- TMPL_VAR name="father" -->
				<input type="text" name="stdlib" value="<!-- TMPL_VAR name="stdlib" escape=HTML -->" maxlength="80" size="40" class="inputFontNormal">
			</td>
		<!-- /TMPL_IF -->
		</tr>
		<tr>
			<td class="inputFontNormal">Otra biblioteca</td>
			<td class="inputFontNormal">
				<!-- TMPL_VAR name="father" -->
				<input type="text" name="freelib" value="<!-- TMPL_VAR name="freelib" escape=HTML -->" maxlength="80" size="40" class="inputFontNormal">
			</td>
		</tr>
		<tr>
			<td class="inputFontNormal">&nbsp;</td>
			<td>
				<input type="hidden" name="id" value="<!-- TMPL_VAR name="id" -->">
				<input type="hidden" name="father" value="<!-- TMPL_VAR name="father" escape=HTML -->">
				<input type="hidden" name="branch" value="<!-- TMPL_VAR name="branch" escape=HTML -->">
				<input type="hidden" name="search_category" value="<!-- TMPL_VAR name="search_category" -->">
				<input type="hidden" name="searchstring" value="<!-- TMPL_VAR name="searchstring" escape=HTML -->">
				<input type="hidden" name="offset" value="<!-- TMPL_VAR name="offset" -->">

            [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar' | i18n %]",
                                                                    boton   => "boton_guardar",
                                                                    onClick => "Aform.submit;",
                                                                    title   => "[% 'Guardar' | i18n %]",
                                        ) ;
            [% END %]
			</td>
		</tr>
	</table>
</form>
<!-- /TMPL_IF -->


<!-- TMPL_IF name="delete_confirm" -->
<!---------------------------------------------------------------------------->
	<table border=0 cellspacing=0 cellpadding=2>
		<tr valign=top>
			<td class="inputFontNormal"><b>lib</b></td>
			<td class="inputFontNormal"><!-- TMPL_VAR name="search_category" --></td>
		</tr>
		<tr>
			<td class="inputFontNormal">Valor</td>
			<td class="inputFontNormal"><!-- TMPL_VAR name="Tvalue" --></td>
		</tr>
		<tr>
			<td>
			<form action='<!-- TMPL_VAR name="script_name" -->' method=post>
			<input type=hidden name=op value=delete_confirmed>
			<input type=hidden name=id value='<!-- TMPL_VAR name="id" -->'>
			<input type="hidden" name="search_category" value="<!-- TMPL_VAR name="search_category" -->">
			</td>
		</tr>
		<tr>
			<td colspan=2 align=center class="inputFontNormal">CONFIRME BORRADO de esta entrada <b>y todas las entradas que dependen de esta.</b>
			</td>
		</tr>
		<tr>
			<td align="right"><INPUT type=submit value='SI'></form></td>
			<td align="left">
				<form action='<!-- TMPL_VAR name="script_name" -->' method=post><input type=submit value=NO>
				</form>
			</td>
		</tr>
	</table>
<!-- /TMPL_IF -->

<!---------------------------------------------------------------------------->
<!-- TMPL_IF name="else" -->
<table width="100%" class="pagetitle" border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td>Gesti&oacute;n de thesaurus</td>
	</tr>
        <tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>
				
	<p class="inputFontNormal">Gestionar thesaurus y archivos de autoridades.</p>

<table>
	<td class="inputFontNormal">

		<p><b>Dependencias</b>: ver los datos dependientes de esta<br>
		<b>Relacionado</b>: ver otras formas de entrada de esta autoridad</p>
	</td>
	<form action="/cgi-bin/koha/admin/thesaurus.pl" method="post" name="form1">
	
		<!-- TMPL_VAR name="tab_list" -->
		<input class="inputFontNormal" type="text" name="searchstring" value="<!-- TMPL_VAR name="searchstring" -->">
		<a onClick="form1.submit()" href="#">
		<img name="go" id="go" alt="Comenzar b&uacute;squeda" src="<!-- TMPL_VAR NAME="themelang" -->/images/boton-buscar.png" border="0" ></a>

		<!--<input type="submit" value="OK">-->
		<a class="inputFontNormal" href="thesaurus.pl?op=add_form">Nueva Categor&iacute;a</a>
	</form>
	<!-- TMPL_LOOP name="hierarchy_loop" -->
		<a class="inputFontNormal" href="thesaurus.pl?branch=<!-- TMPL_VAR name="branch" -->&search_category=<!-- TMPL_VAR name="category" -->"><!-- TMPL_VAR name="string" --></a><br>
	<!-- /TMPL_LOOP -->
<table border=0 cellspacing=0 cellpadding=0>
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td width="5%">&nbsp;</td>
		<td>Liberar formulario</td>
		<td>Autoridad</td>
		<td width="7%">Dependencias</td>
		<td width="12%">Relacionado</td>
		<td width="10%">Editar</td>
		<td width="10%">Eliminar</td>
		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	<!-- TMPL_LOOP name="loop" -->
	<tr valign=middle>
		<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal">&nbsp;</td>
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal">
			<!-- TMPL_VAR name="freelib" -->
		</td>
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal">
			<!-- TMPL_VAR name="father" --> <!-- TMPL_VAR name="stdlib" -->
		</td>
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal">
			<!-- TMPL_VAR name="dig" -->Dependencias</a>&nbsp;&nbsp;
		</td>
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal">
			<!-- TMPL_VAR name="related" -->Relacionado</a>
		</td>
		<td align="center" class="<!-- TMPL_VAR NAME="clase"-->">
			<a class="inputFontNormal" href="<!-- TMPL_VAR name="edit" -->"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/editar.png" ALT="Editar"  hspace=0 vspace=0 border=0></a>
		</td>
		<td align="center" class="<!-- TMPL_VAR NAME="clase"-->">
			<a  class="inputFontNormal" href="<!-- TMPL_VAR name="delete" -->"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/borrar.png" ALT="Eliminar"  hspace=0 vspace=0 border=0></a>
		</td>
		<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
	</tr>
	<!-- /TMPL_LOOP -->
	<tr valign=bottom>
        	<td class="lineafinaltabla"  align="left" colspan="9"></td>
        </tr>
</table>

	<form action='<!-- TMPL_VAR name="script_name" -->' method=post>
	<input type=hidden name=op value=add_form>
	<br>

<table width=100% height="80">
	<tr>
		<td  align="right"><a class="inputFontNormal" href="<!-- TMPL_VAR name="previous" -->" class="button">Anterior</a></td>
		<td  align="left"><a class="inputFontNormal" href="<!-- TMPL_VAR name="next" -->" class="button"> Siguiente</a></td>
	</tr>
</table>
	<br>
	<form action='<!-- TMPL_VAR name="script_name" -->' method=post name="form2">
	<input type="hidden" name="op" value="add_form">
	<input type="hidden" name="category" value="<!-- TMPL_VAR name="category" -->">
	<input type="hidden" name="branch" value="<!-- TMPL_VAR name="branch" -->">
	<input type="hidden" name="father" value="<!-- TMPL_VAR name="father" -->">
	<br>

	</form>


<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
