[% INCLUDE "intranet-top.inc" %]


<script language="JavaScript" type="text/javascript">

var objAH;//Objeto AjaxHelper.

/*
 * updateInfoConsultaJSON
 * Actualizacion de los datos despues de una consulta ajax que trae un string json.
 * El resultado se procesa, para mostrar lo que corresponda.
 */
function updateInfoConsultaJSON(responseText){
    procesarJSON(responseText,objAH.idComp,objAH.funcionChange,objAH.tipo);
}

/*
 * borrarDiv
 * Borra el div que contiene la parte de agregado de variables.
 */
function borrarDiv(){$("#divResultado").html("");}


/*
 * agregarTipoPrestamo
 * Muestra la parte de agregado de una preferencia
 */
function agregarTipoPrestamo(){
    objAH=new AjaxHelper(updateAgregarTipoPrestamo);
    objAH.url= "/cgi-bin/koha/admin/tipos_de_prestamosDB.pl";
    objAH.op= "AGREGAR_TIPO_PRESTAMO";
    borrarDiv();
    objAH.sendToServer();
}

function updateAgregarTipoPrestamo(responseText){
    $("#divResultado").html(responseText);
}

/*
 *  eliminarTipoPrestamo
 */
function eliminarTipoPrestamo(tipo){

    objAH=new AjaxHelper(updateEliminarTipoPrestamo);
    objAH.debug= true;
    objAH.url= "/cgi-bin/koha/admin/tipos_de_prestamosDB.pl";
    objAH.tipo_prestamo=tipo;
    objAH.accion= "CONFIRMAR_BORRADO";
    borrarDiv();
    objAH.sendToServer();
}

function updateEliminarTipoPrestamo(responseText){
    $("#divResultado").html(responseText);
}

/*
 * respuesta
 * Cuando se guarda una variable nueva se verifica si esta ya exite, si es asi se devuelve un error y se muestra
 * en la pantalla, de lo contrario se guarda la variable.
 */
function respuesta(responseText){
    var Messages=JSONstring.toObject(responseText);
    setMessages(Messages);
}


/*
//  * guardarModificacion
//  * Hace el llamado ajax para poder guardar los datos ingresados para la variable.
//  */
// function guardarModificacion(){
// 
//     objAH=new AjaxHelper(updateGuardarModificacion);
//     objAH.debug= true;
//     objAH.url= "/cgi-bin/koha/admin/preferenciasDB.pl";
//     objAH.variable=$("#variable").val();
//     objAH.valor=$("#valor").val();
// 
//     if ($("#tipoVar").val() == 'bool'){
//     objAH.valor=(getRadioButtonSelectedValue( $("[name=valor]")));
//     }
// 
//     objAH.explicacion=$("#explicacion").val();
//     objAH.accion= "GUARDAR_MODIFICACION_VARIABLE";
//     objAH.sendToServer();
// 
// }
// 
// /*
//  * updateGuardarModificacion
//  * Funcion que se ejecuta cuando se guarda una variable. Si la variable no existe hace una busqueda para encontrar
//  * todas las variables, si existe muestra un mensaje de error en la pantalla.
//  */
// function updateGuardarModificacion(responseText){
//     
//     respuesta(responseText);
//     $("#tabla").remove();
//     $("#campo").remove();
//     $("#categoria").remove();
//     $("#tipoVar").val(0);
//     borrarDiv();
//     buscarPreferencia();
// }

/*
 * buscarTiposPrestamos
 */
function buscarTiposPrestamos(){
    objAH=new AjaxHelper(updateTiposPrestamos);
    objAH.debug= true;
    objAH.url= "/cgi-bin/koha/admin/tipos_de_prestamosDB.pl";
    objAH.accion= "TIPOS_PRESTAMOS";
    objAH.sendToServer();
}

function updateTiposPrestamos(responseText){
    $("#divResultado").html(responseText);
}


/*
 * limpiar
 * Borra el texto ingresado en el componente de busqueda.
 */
function limpiar(){$("#buscar").val("");}

/*
 * modificarTipoPrestamo
 * Hace el llamado ajax para poder modificar y mostrar la parte de modificacion
 */
function modificarTipoPrestamo(tipo){

    borrarDiv();

    objAH=new AjaxHelper(updateModificarTipoPrestamo);
    objAH.debug= true;
    objAH.url= "/cgi-bin/koha/admin/tipos_de_prestamosDB.pl";
    objAH.tipo_prestamo=tipo;
    objAH.op= "MODIFICAR_TIPO_PRESTAMO";
    objAH.sendToServer();
}

function updateModificarTipoPrestamo(responseText){
    $("#divResultado").html(responseText);
}

// /*
//  * guardarNuevaVariable
//  * Hace el llamado ajax para poder guardar los datos ingresados para la nueva variable.
//  */
// function guardarNuevaVariable(){
// 
//     objAH=new AjaxHelper(updateGuardarModificacion);
//     objAH.debug= true;
//     objAH.url= "/cgi-bin/koha/admin/preferenciasDB.pl";
//     objAH.variable=$("#variable").val();
//     objAH.explicacion=$("#explicacion").val();
//     objAH.tipo=$("#tipoVar").val();
// 
//     if (objAH.tipo == 'bool'){
//     objAH.valor=(getRadioButtonSelectedValue( $("[name=valor]")));
//     }
//     else
//     {objAH.valor=$("#valor").val();
//     
//     if (objAH.tipo == "valAuto" ){
//             objAH.categoria=$("#categoria").val();
//                             }
//     if (objAH.tipo == "referencia"){    
//             objAH.tabla=$("#tabla").val();
//             objAH.campo=$("#campo").val();
//                             }
//     }
// 
// 
//     objAH.accion= "GUARDAR_NUEVA_VARIABLE";
//     objAH.sendToServer();
// 
// }

/*
 * updateGuardarNuevaVariable
 * Funcion que se ejecuta cuando se guarda una nueva variable. Si la variable existe muestra un mensaje de error en la pantalla.
//  */
// function updateGuardarModificacion(responseText){
//     
//     respuesta(responseText);
//     $("#tabla").remove();
//     $("#campo").remove();
//     $("#categoria").remove();
//     $("#tipoVar").val(0);
//     borrarDiv();
//     buscarPreferencia();
// 
// }

</script>

 <div id="divResultado">
            <table width="100%" class="pagetitle" border="0" cellpadding="0" cellspacing="0" >
                    <tr>
                            <td>[% "Administraci&oacute;n de Tipos de Pr&eacute;stamo" | i18n %]</td>
                    </tr>
                    <tr>
                            <td class="lineagruesa"  align="left" colspan="3"></td>
                    </tr>
            </table>
            
            <br>
            
            <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                    <tr class="tablaresultadoTitle">
                            <td width="1%" align="left" valign="top"><img src="images/izquierda.png"></td>
                            <td>[% "C&oacute;digo" | i18n %]</td>
                            <td>[% "Descripci&oacute;n" | i18n %]</td>
                            <td>[% "M&aacute;xima cantidad de pr&eacute;stamos" | i18n %]</td>
                            <td>[% "D&iacute;as de duraci&oacute;n del pr&eacute;stamo" | i18n %]</td>
                            <td>[% "Renovaciones" | i18n %]</td>
                            <td>[% "D&iacute;as de Renovaci&oacute;n" | i18n %]</td>
                            <td>[% "Cantidad de d&iacute;as para renovar" | i18n %]</td>
                            <td>[% "Para Sala" | i18n %]</td>
                            <td>[% "Habilitado" | i18n %]</td>
                            <td width="8%">[% "Editar" | i18n %]</td>
                            <td>[% "Eliminar" | i18n %]</td>
                            <td width="1%" align="right"><img src="images/derecha.png"></td>
                    </tr>
            [% FOREACH tipo_prestamo IN TIPOS_PRESTAMOS_LOOP %]
                    <tr align="middle">    
                            <td height=25  >&nbsp;</td>
                            <td   class="inputFontNormal">
                                    [% tipo_prestamo.getId_tipo_prestamo %]
                            </td>
                            <td   class="inputFontNormal">
                                    [% tipo_prestamo.getDescripcion %]
                            </td>
                            <td   class="inputFontNormal" align="center">
                                    [% tipo_prestamo.getPrestamos %]
                            </td>
                            <td   class="inputFontNormal" align="center">
                                    [% tipo_prestamo.getDias_prestamo %]
                            </td>
                            <td   class="inputFontNormal" align="center">
                                    [% tipo_prestamo.getRenovaciones %]
                            </td>
                            <td   class="inputFontNormal" align="center">
                                    [% tipo_prestamo.getDias_renovacion %]
                            </td>
                            <td   class="inputFontNormal" align="center">
                                    [% tipo_prestamo.getDias_antes_renovacion %]
                            </td>
                            <td   class="inputFontNormal" align="center">
                                    [% IF tipo_prestamo.disponibilidad.getCodigo %]
                                            [% "Si" | i18n %]
                                    [% ELSE %]
                                            [% "No" | i18n %]
                                    [% END %]
                            </td>
                            <td class='[% clase %]' class="inputFontNormal" align="center">
                                    [% IF tipo_prestamo.getHabilitado %]
                                            [% "Si" | i18n %]
                                    [% ELSE %]
                                            [% "No" | i18n %]
                                    [% END %]
                            </td>
                            <td   align="center">
                            <input type="image" onclick="modificarTipoPrestamo([% tipo_prestamo.getId_tipo_prestamo %])" src="[% themelang  %]/images/editar.png" alt="Editar">
                            </td>
                            <td   align="center">
                        <input type="image" onclick="eliminarTipoPrestamo([% tipo_prestamo.getId_tipo_prestamo %])" src="[% themelang %]/images/borrar.png" alt="Eliminar">
                            </td>
                            <td height=25  >&nbsp;</td>
                    </tr>
            [% END %]
                    <tr valign=bottom>
                            <td class="lineafinaltabla"  align="left" colspan="9"></td>
                    </tr>
            </table>

            <center>
            <input type="image" alt="Agregar Tipo de Pr&eacute;stamo"  src="[% themelang %]/images/agregar.png" onclick="agregarTipoPrestamo()" >
            </center>
</div>

[% INCLUDE "intranet-bottom.inc" %]
