[% INCLUDE "intranet-top.inc" %]

<table width="100%"  border="0" cellpadding="0" cellspacing="0"><tr><td class="pagetitle" >Anal&iacute;ticas</td></tr>
<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr></table>
<center>
<br>
	<table border="0" cellspacing="0" cellpadding="0" width="20%">
		<tr class="tablaresultadoTitle" >
			<td align="left"><img src="[% themelang %]/images/izquierda.png"></td>
			<td align="center">Cantidad de anal&iacute;ticas</td>
			<td align="right"><img src="[% themelang %]/images/derecha.png"></td>
		</tr>
[% FOREACH RESULTSLOOP %]
  	<tr align="center">
                <td class="[% clase %]">&nbsp;</td>
	 	<td class="[% clase %]"> [% cantidad %] </td>
		<td class="[% clase %]">&nbsp;</td>
 	</tr>
[% END %]
</table>
<br><br>
[% INCLUDE "intranet-bottom.inc" %]
