<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script type="text/javascript">

<!-- TMPL_INCLUDE NAME="epoch_classes.js" -->

/*You can also place this code in a separate file and link to it like epoch_classes.js*/
        var dp_ini,dp_fin;      
	window.onload = function () {
		        dp_ini  = new Epoch('epoch_popup','popup',document.getElementById('ini'));
			dp_fin  = new Epoch('epoch_popup','popup',document.getElementById('fin'));
				};

function hacerSubmit(){
        document.branches.submit();
        }
</script>

<table width="100%" class="pagetitle" border="0" cellpadding="0" cellspacing="0" ><tr><td>Disponibilidad</td></tr>
         <tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>

<center>
<br>
<br>
<form name="branches" action=/cgi-bin/koha/reports/avail_year.pl method=post >
<table border=0 cellspacing=0 cellpadding=0 width="100%" align="left">
<tr>
<td class="inputFontNormal">Seleccione una unidad de informaci&oacute;n :</td>
<td class="inputFontNormal"><!-- TMPL_VAR NAME=unidades  --></td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="inputFontNormal">Seleccione una fecha de inicio:</td>
<td class="inputFontNormal"> 
		<input id="ini" name="ini" value="<!-- TMPL_VAR NAME='ini' -->">
	     	<a href="javascript:dp_ini.toggle();">
				<img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha">
		</a>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="inputFontNormal">Seleccione una fecha de Fin: </td>
<td class="inputFontNormal"> 
		<input  id="fin" name="fin" value="<!-- TMPL_VAR NAME='fin' -->">
		<a href="javascript:dp_fin.toggle();">
			<img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha">
		</a>
</td>
<td class="inputFontNormal"> <input type="submit" name="consulta" value="Generar listado"></td>	
   </tr>
<tr><td colspan="3">&nbsp;</td></tr>
</table>
<br>
<br>
<table border=0 cellspacing=0 cellpadding=0 width="100%"  align="left">
<tr class="tablaresultadoTitle">
<td width="1%" align="right"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
<td>Mes</td>
<td>A&ntilde;o</td>
<td>Disponibilidad</td>
<td>Cantidad</td>
<td width="1%"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
</tr>
<!-- TMPL_LOOP NAME=RESULTSLOOP -->
  <tr align='center'>
  <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
  <td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=mes --> </td>
  <td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=year --> </td>
  <td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=avail --> </td>
  <td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=cantidad --> </td>
  <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
  </tr>
<!-- /TMPL_LOOP -->
</table>
</form>

<br><br>
  <img src="<!-- TMPL_VAR NAME='themelang' -->/images/stats/avail<!-- TMPL_VAR NAME='branch' -->.png" alt="" border=0 >
<br>
<br>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
