<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>

<script>

function consultar(){
	objAH=new AjaxHelper(updateInfo);
	objAH.url= "/cgi-bin/koha/reports/estadistica_AnualResult.pl";
	objAH.year= $("#year").val();
	//se envia la consulta
	objAH.sendToServer();
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
}

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Actividades anuales</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>
<br>

<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="inputFontNormal">Seleccione un a&ntilde;o:  </td>
		<td class="inputFontNormal"><!-- TMPL_VAR NAME="year" --></td>
	</tr>
</table>


<br>

<center>
<div id="result"></div>
</center>

<br><br>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
