<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/AjaxHelper.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>

<script>

function consultar(){
	objAH=new AjaxHelper(updateInfo);
	objAH.url= "/cgi-bin/koha/reports/estantesResult.pl";
	objAH.shelf= $("#shelf").val();
	//se envia la consulta
	objAH.sendToServer();
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
}

$(document).ready( function() {
	consultar();
});
</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr><td class="pagetitle" >Estantes Virtuales</td></tr>
	<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>
<br>

<table border="0" cellspacing="0" cellpadding="0" align="center" >
<tr>
	<td class="inputFontNormal">Seleccione un estante: &nbsp;&nbsp;</td>
	<td class="inputFontNormal" valign="middle">
        	<!-- TMPL_VAR NAME=estantes  -->
	</td>
<tr>
</table>
<div id="result"></div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
