<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script type="text/javascript" src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script>
//Agrego el codigo para mostrar el estado de la busqueda en Ajax
<!-- TMPL_INCLUDE NAME="state.js" -->
<!-- TMPL_INCLUDE NAME="util.js" -->

function consultar(orden,ini){
	var year=$("#year").val();
	$.ajax({
		type: "POST",
		url: "/cgi-bin/koha/reports/estadistica_AnualResult.pl",
		data: "year="+year,
		beforeSend: Init,
		complete: function(ajax){
				$("#result").html(ajax.responseText);
				zebra("tablaResult");
				HiddeState();
			}
	})
}
</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Actividades anuales</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>
<br>

<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="inputFontNormal">Seleccione un a&ntilde;o:  </td>
		<td class="inputFontNormal"><!-- TMPL_VAR NAME="year" --></td>
	</tr>
</table>


<br>

<center>
<div id="result"></div>
</center>

<br><br>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
