<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name='themelang' -->/includes/epoch_styles.css ">

<script type="text/javascript">
<!-- TMPL_INCLUDE NAME="epoch_classes.js" -->

/*You can also place this code in a separate file and link to it like epoch_classes.js*/
        var dp_ini,dp_fin;      
	window.onload = function () {
		        dp_ini  = new Epoch('epoch_popup','popup',document.getElementById('dateselected'));
			dp_fin  = new Epoch('epoch_popup','popup',document.getElementById('dateselectedEnd'));
				};



function consultar(){
	objAH=new AjaxHelper(updateInfo);
	objAH.url= "/cgi-bin/koha/reports/estadisticasResult.pl";
	objAH.chkfecha= document.getElementById("chkfecha").checked;
	objAH.chkuser= document.getElementById("chkuser").checked;
	objAH.fechaIni= $("#dateselected").val();
	objAH.fechaFin= $("#dateselectedEnd").val();
	
	var chck=$("input[@name='chck']:checked");
	var str="";
	for(var i=0; i< chck.length; i++){
		str=str+chck[i].value+",";
	}
	objAH.chck=str;
	//se envia la consulta
	objAH.sendToServer();
}

function updateInfo(responseText){
	$("#result").html(responseText);
}

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Estadisticas</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>
	<table border="0" cellspacing="0" cellpadding="0">
  		<tr>
			<td valign= "top" class=inputFontNormal>
			<input id="chkfecha" class="inputFontNormal" type="checkbox" name="chkfecha" 
				<!-- TMPL_IF NAME="chkfecha" -->checked<!-- /TMPL_IF -->>
			<b>Seleccione para buscar por fecha.</b><br><br>
			Seleccione una fecha de inicio:<br><br>
			Seleccione una fecha de Fin:
			</td>

			<td valign= "top" class=inputFontNormal>
				<br><br>
			<input id="dateselected" class="inputFontNormal" name="dateselected" value="
			<!-- TMPL_IF NAME='fechaInicio' --><!-- TMPL_VAR NAME='dateselected' --><!-- TMPL_ELSE --><!-- TMPL_VAR NAME='todaydate' --><!-- /TMPL_IF -->"> <a href="javascript:dp_ini.toggle();"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha"></a>
				<br><br>
			<input id="dateselectedEnd" class="inputFontNormal" name="dateselectedEnd" value="<!-- TMPL_IF NAME='fechaFin' --><!-- TMPL_VAR NAME='dateselectedEnd' --><!-- TMPL_ELSE --><!-- TMPL_VAR NAME='todaydate' --><!-- /TMPL_IF -->""> <a href="javascript:dp_fin.toggle();"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha"></a>
			</td>



			<td class="inputFontNormal" rowspan=3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td rowspan=3 class="inputFontNormal"> <b>Buscar por:</b> <br>
				<p>Prestamos:</p>
				<input id="chck" class="inputFontNormal" type="checkbox"  value="DO" name="chck">Domiciliario
				<input id="chck" class="inputFontNormal" type="checkbox"  value="SA" name="chck">Sala de lectura 
				<input id="chck" class="inputFontNormal" type="checkbox"  value="FO" name="chck">Para fotocopia
				<input id="chck" class="inputFontNormal" type="checkbox"  value="ES" name="chck">Especial <br><br>
				<input id="chkuser" class="inputFontNormal" type="checkbox"  value="US" name="chkuser">Usuario
				<br><br>

				<input type="image" onClick='consultar()' src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border="0">
			</td>
   		</tr>
	</table>

<br>
<div id="result"></div>


<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
