
<center>
<p class="inputFontNormal"> 
	<b>La cantidad de operaciones hechas fueron: &nbsp;[% cant %]<br>
	P&aacute;gina n&uacute;mero: [% actual %] de un total de: [% paginas %]</b>
</p><br>
[% paginador %]
<table id="tablaResult" class="tablaResult" border=0 cellspacing=0 cellpadding=0 width="100%">
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top">
			<img src="[% themelang %]/images/izquierda.png">
		</td>

		<th class="tablaresultadoTitleClick" onclick="ordenar('surnameBor')" Title="Ordenar por Usuario" >Usuario</th>
		<th class="tablaresultadoTitleClick" onclick="ordenar('surnameResp')" Title="Ordenar por Usuario" >Responsable</th>
		<th class="tablaresultadoTitleClick" onclick="ordenar('date')" Title="Ordenar por Fecha" >Fecha</th>
		<th class="tablaresultadoTitleClick" onclick="ordenar('end_date')" Title="Ordenar por Fecha Fin" >Fecha Fin</th>
		<th class="tablaresultadoTitleClick" onclick="ordenar('type')" Title="Ordenar por Operacion" >Operaci&oacute;n</th>
		<th class="tablaresultadoTitleClick" onclick="ordenar('tipoPrestamo')" Title="Ordenar por tipo de prestamo" >Tipo Pr&eacute;stamo<th>

		<td align="right" valign="top" width="1%">
			<img src="[% themelang  %]/images/derecha.png">
		</td>
	</tr>
[% FOREACH RESULTSLOOP %]

  	<tr align='center'>

  		<td height=25 >&nbsp;</td>

		<td  class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/usuarios/reales/datosUsuario.pl?bornum=[% borrowernumber %]">[% IF borrowernumber %][% userCompleto %][% END %]</a>
		</td>
  		<td  class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/usuarios/reales/datosUsuario.pl?bornum=[% responsable %]">[% IF responsable  %][% respCompleto %][% END %]</a>
		</td>
  		<td  class="inputFontNormal">[% date %] 
		</td>
		<td  class="inputFontNormal">[% end_date%] 
		</td>
  		<td  class="inputFontNormal">[% operacion %]
		</td>
		<td  class="inputFontNormal"> [% IF issuecode %] [% tipoPrestamo %][% ELSE %]
			Reserva no Retirada
		[% END %]
		</td>
  	
 	</tr>
[% END %]
 	<tr valign=middle>
        	<td class="lineafinaltabla"  align="left" colspan="8"></td>
        </tr>
</table>
</center>
