<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->


<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name='themelang' -->/includes/epoch_styles.css ">

<script type="text/javascript">
<!-- TMPL_INCLUDE NAME="epoch_classes.js" -->

/*You can also place this code in a separate file and link to it like epoch_classes.js*/
        var dp_ini,dp_fin;      
	window.onload = function () {
		        dp_ini  = new Epoch('epoch_popup','popup',document.getElementById('ini'));
			dp_fin  = new Epoch('epoch_popup','popup',document.getElementById('fin'));
				};

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr><td class="pagetitle" >Registro de Circulaci&oacute;n</td></tr>
	<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>

<br>
<form  id="unidad" name="unidad"  method=post action="historicoCirculacion.pl">
	<table border="0" cellspacing="0" cellpadding="0">
  		<tr>
			<td valign= "top" class=inputFontNormal>
			<input class="inputFontNormal" type="checkbox" name="chkfecha" <!-- TMPL_IF NAME="chkfecha" -->checked<!-- /TMPL_IF -->>
			<b>Seleccione para buscar por fecha.</b><br><br>
			Seleccione una fecha de inicio:<br><br>
			Seleccione una fecha de Fin:
			</td>

			<td valign= "top" class=inputFontNormal><br><br>
				<input id="ini" class="inputFontNormal" name="dateselected" value="
			<!-- TMPL_IF NAME="fechaInicio" --><!-- TMPL_VAR NAME="dateselected" --><!-- TMPL_ELSE --><!-- TMPL_VAR NAME="todaydate" --><!-- /TMPL_IF -->">
				<a href="javascript:dp_ini.toggle();">
				<img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha"></a><br><br>
				<input id="fin" class="inputFontNormal" name="dateselectedEnd" value="
			<!-- TMPL_IF NAME="fechaFin" --><!-- TMPL_VAR NAME="dateselectedEnd" --><!-- TMPL_ELSE --><!-- TMPL_VAR NAME="todaydate" --><!-- /TMPL_IF -->"">
				<a href="javascript:dp_fin.toggle();">
				<img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" 	alt="Selecciona una fecha"></a>
			</td>

			<td class="inputFontNormal" rowspan=4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td rowspan="4" valign="top" class="inputFontNormal"> <b>Filtrar por:</b> <br>

			<!-- ACA SE BUSCA POR USUARIO Y/O POR NUMERO DE ELEMENTOS -->
				<b>Responsable: </b><!-- TMPL_VAR NAME="selectusuarios" -->

				<br><br>

				<b>Tipo de Pr&eacute;stamo: </b>
				<!-- TMPL_VAR NAME="selectTiposPrestamos" -->
				<br><br>
				<b>Tipo de Operaci&oacute;n: </b>
				<!-- TMPL_VAR NAME="selectTipoOperacion" -->
			</td>
			<td>
			<td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<br><br>
				<a  onClick='unidad.submit()'><img   src="<!-- TMPL_VAR NAME="themelang" -->/images/boton-buscar.png" border="0"></a>
			</td>
   		</tr>
	</table>
</form>


<center>
<p class="inputFontNormal"> 
	<b>La cantidad de operaciones hechas fueron: &nbsp;<!-- TMPL_VAR NAME=cant --><br>
	P&aacute;gina n&uacute;mero: <!-- TMPL_VAR NAME=actual --> de un total de: <!-- TMPL_VAR NAME=paginas --></b>
</p><br>

<!-- TMPL_IF NAME="ok2" -->
<a class="inputFontNormal" href=historicoCirculacion.pl?ini=<!-- TMPL_VAR name='ant' -->&dateselected=<!--TMPL_VAR NAME=dateselected -->&dateselectedEnd=<!-- TMPL_VAR NAME=dateselectedEnd -->&chkfecha=<!--TMPL_VAR NAME= chkfecha -->&user=<!--TMPL_VAR NAME=user -->&tiposPrestamos=<!--TMPL_VAR NAME= tiposPrestamos -->&tipoOperacion=<!--TMPL_VAR NAME= tipoOperacion -->>
<img src=<!-- TMPL_VAR name="themelang" -->/images/numbers/ant.gif border=0></a>
<!-- /TMPL_IF -->

<!-- TMPL_LOOP NAME=numeros -->
<a class="inputFontNormal" href=historicoCirculacion.pl?ini=<!-- TMPL_VAR NAME=number -->&dateselected=<!--TMPL_VAR NAME=dateselected -->&dateselectedEnd=<!-- TMPL_VAR NAME=dateselectedEnd -->&chkfecha=<!--TMPL_VAR NAME= chkfecha -->&user=<!--TMPL_VAR NAME=user -->&tiposPrestamos=<!--TMPL_VAR NAME= tiposPrestamos -->&tipoOperacion=<!--TMPL_VAR NAME= tipoOperacion -->>
<u><!-- TMPL_VAR name=number --></u></a>
<!-- /TMPL_LOOP -->

<!-- TMPL_IF NAME="ok" -->
<a class="inputFontNormal" href=historicoCirculacion.pl?ini=<!-- TMPL_VAR name="sig" -->&dateselected=<!--TMPL_VAR NAME=dateselected -->&dateselectedEnd=<!-- TMPL_VAR NAME=dateselectedEnd -->&chkfecha=<!--TMPL_VAR NAME= chkfecha -->&user=<!--TMPL_VAR NAME= user -->&tiposPrestamos=<!--TMPL_VAR NAME= tiposPrestamos -->&tipoOperacion=<!--TMPL_VAR NAME= tipoOperacion -->>
<img src=<!-- TMPL_VAR name="themelang" -->/images/numbers/next.gif border=0></a>
<!-- /TMPL_IF -->


<table border=0 cellspacing=0 cellpadding=0 width="100%">
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top">
			<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png">
		</td>

		<th>T&iacute;tulo</th>
		<th>Autor</th>
		<th>C. Barra</th>
		<th>Usuario</th>
		<th>Responsable</th>
		<th>Fecha</th>
		<th>Operaci&oacute;n</th>
		<th>Nota</th>

		<td align="right" valign="top" width="1%">
			<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png">
		</td>
	</tr>

<!-- TMPL_LOOP NAME=RESULTSLOOP -->
	<form  name="modificacion"  method=post action="historicoCirculacion.pl">
  	<tr align='center'>
  		<td height=25 class="<!-- TMPL_VAR NAME='clase'-->">&nbsp;</td>

		<td class="<!-- TMPL_VAR NAME='clase'-->" class="inputFontNormal">
			<a class="inputFontNormal" href=/cgi-bin/koha/detail.pl?type=intra&bib=<!-- TMPL_VAR NAME=biblionumber ESCAPE=URL -->><!-- TMPL_VAR NAME="title" ESCAPE=HTML --><!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle"  --><!-- /TMPL_IF --></a>
		</td>
		<td class="<!-- TMPL_VAR NAME='clase'-->" class="inputFontNormal">
			<a class="inputFontNormal" href="/cgi-bin/koha/search.pl?authorid=<!-- TMPL_VAR NAME='idAutor' ESCAPE='URL' -->&type=intra"><!-- TMPL_VAR NAME="completo" -->
			</a>
		</td>
		<td class="<!-- TMPL_VAR NAME='clase'-->" class="inputFontNormal">
			
			<a href='/cgi-bin/koha/item-detail.pl?bib=<!-- TMPL_VAR NAME="biblionumber" -->&bibit=<!-- TMPL_VAR NAME="biblioitemnumber" -->&itemnum=<!-- TMPL_VAR NAME="itemnumber" -->&barcode=<!-- TMPL_VAR NAME="barcode" -->&bulk=<!-- TMPL_VAR NAME="bulk" -->' title='Detalle del Item'><!-- TMPL_VAR NAME=barcode --></a> 
		</td>	
		<td class="<!-- TMPL_VAR NAME='clase'-->" class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/moremember.pl?bornum=<!-- TMPL_VAR NAME=borrowernumber -->">
				<!-- TMPL_IF NAME=responsable -->
					<!-- TMPL_VAR NAME=userCompleto -->
				<!-- /TMPL_IF -->
			</a>
		</td>
  		<td class="<!-- TMPL_VAR NAME='clase'-->" class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/moremember.pl?bornum=<!-- TMPL_VAR NAME=responsable -->">
				<!-- TMPL_IF NAME=responsable -->
					<!-- TMPL_VAR NAME=nomCompleto -->
				<!-- /TMPL_IF -->
			</a>
		</td>
  		<td class="<!-- TMPL_VAR NAME='clase'-->" class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=fecha --> </td>
  		<td class="<!-- TMPL_VAR NAME='clase'-->" class="inputFontNormal">
			<!-- TMPL_VAR NAME=operacion -->
			<!-- TMPL_IF NAME=description -->
				<br>(<!-- TMPL_VAR NAME=description -->) 
			<!-- /TMPL_IF -->
		</td>
  		<td class="<!-- TMPL_VAR NAME='clase'-->" class="inputFontNormal"> <textarea class="inputFontNormal" name="notas" cols="15" rows="4"><!-- TMPL_VAR NAME=nota --></textarea>
		<br>
		<input  src="<!-- TMPL_VAR NAME='themelang' -->/images/guardar.png" type="image"  value="Guardar Nota" title="Guardar Nota" onClick="modificacion.submit()">
		</td>
 	</tr>
   	<input type="hidden" value="<!-- TMPL_VAR NAME=id -->"  name="id" >
	</form>
<!-- /TMPL_LOOP -->
 	<tr valign=middle>
        	<td class="lineafinaltabla"  align="left" colspan="8"></td>
        </tr>
</table>
</center>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
