[% INCLUDE "intranet-top.inc" %]

<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>

<link rel="stylesheet" type="text/css" href="[% themelang %]/includes/epoch_styles.css ">

<script type="text/javascript">
[% INCLUDE "epoch_classes.js" %]

/*You can also place this code in a separate file and link to it like epoch_classes.js*/
        var dp_ini,dp_fin;      
	window.onload = function () {
		        dp_ini  = new Epoch('epoch_popup','popup',document.getElementById('fechaIni'));
			dp_fin  = new Epoch('epoch_popup','popup',document.getElementById('fechaFin'));
				};

var objAH;
function ordenar(orden){
	objAH.sort(orden);
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
}

function changePage(ini){
	objAH.changePage(ini);
}

function consultar(){
	objAH=new AjaxHelper(updateInfo);
	objAH.fechaIni= $('#fechaIni').val();
	objAH.fechaFin= $('#fechaFin').val();
	objAH.user= $('#user').val();
	objAH.tipoPrestamos=$('#tipoPrestamos').val();
	objAH.tipoOperacion=$('#tipoOperacion').val();
	objAH.url= "/cgi-bin/koha/reports/historicoSancionesResult.pl";
	objAH.funcion="changePage";
	objAH.sendToServer();
}

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr><td class="pagetitle" >[% "Hist&oacute;rico de Sanciones" | i18n %]</td></tr>
	<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>

<br>
<form  id="unidad" name="unidad"  method=post action="historicoSanciones.pl">
	<table border="0" cellspacing="0" cellpadding="0">
  		<tr>
			<td valign= "top" class=inputFontNormal>
			<b>[% "Seleccione para buscar por fecha." | i18n %]</b><br><br>
			[% "Seleccione una fecha de inicio:" | i18n %]<br><br>
			[% "Seleccione una fecha de Fin:" | i18n %]
			</td>

			<td valign= "top" class=inputFontNormal><br><br>
				<input id="fechaIni" class="inputFontNormal" name="fechaIni" value="
			             [% IF fechaIni %]
                                        [% fechaIni  %]
                                     [% ELSE %]
                                        [% todaydate %]
                                     [% END %]">
				<a href="javascript:dp_ini.toggle();">
				<img src="[% themelang %]/images/cal.gif" width="16" height="16" border="0" 
					alt="[% 'Selecciona una fecha' | i18n %]">
				</a><br><br>
				<input id="fechaFin" class="inputFontNormal" name="fechaFin" value="
                                    [% IF fechaIni %]
                                        [% fechaIni  %]
                                    [% ELSE %]
                                        [% todaydate %]
                                    [% END %]">
				<a href="javascript:dp_fin.toggle();">
				<img 	src="[% themelang %]/images/cal.gif" width="16" height="16" border="0" 	
					alt="[% 'Selecciona una fecha' | i18n %]"></a>
			</td>

			<td class="inputFontNormal" rowspan=4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td rowspan="4" valign="top" class="inputFontNormal"> 
                                <b>[% "Filtrar por:" | i18n %]</b> <br>
        			<!-- ACA SE BUSCA POR USUARIO Y/O POR NUMERO DE ELEMENTOS -->
				<b>[% "Responsable:" | i18n %] </b>[% selectusuarios %]
				<br><br>
				<b>[% "Tipo de Pr&eacute;stamo:" | i18n %] </b>[% selectTiposPrestamos %]
				<br><br>
				<b>[% "Tipo de Operaci&oacute;n:" | i18n %] </b>[% selectTipoOperacion %]
			</td>
			<td>
			<td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<br><br>
				<a  onClick="consultar('')"><img   src="[% themelang %]/images/boton-buscar.png" border="0"></a>
			</td>
   		</tr>
	</table>
</form>

<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
