<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script language="javascript">
function hacerSubmit(){
	document.branches.submit();
	}
</script>
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name="themelang" -->/includes/epoch_styles.css ">
<script type="text/javascript">
<!-- TMPL_INCLUDE NAME="epoch_classes.js" -->

/*You can also place this code in a separate file and link to it like epoch_classes.js*/
        var dp_ini,dp_fin;      
	window.onload = function () {
		        dp_ini  = new Epoch('epoch_popup','popup',document.getElementById('ini'));
			dp_fin  = new Epoch('epoch_popup','popup',document.getElementById('fin'));
				};
</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr><td class="pagetitle" >Historial de Préstamos</td></tr>
	<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>
<br>
<form name="branches" action=/cgi-bin/koha/reports/historico_Prestamos.pl method=post >

<table border=0 cellspacing=0 cellpadding=0 width="80%" align="left">
	<tr>
	  <td><b>Seleccione una fecha de inicio: </b></td>
	  <td><input id="ini" class="inputFontNormal" name="ini" value="<!-- TMPL_VAR NAME="ini" -->"> <a href="javascript:dp_ini.toggle();"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha"></a>
	  </td>
	<td colspan="2">&nbsp;</td>	
	<tr>
	  <td><b>Seleccione una fecha de Fin: </b></td>	
	  <td  class=inputFontNormal><input id="fin" class="inputFontNormal" name="fin" value="<!-- TMPL_VAR NAME="fin" -->"> <a href="javascript:dp_fin.toggle();"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha"></a></td>
          <td colspan=2 align="center"><input type="image" name="consulta" src="<!-- TMPL_VAR NAME='themelang' -->/images/generarListado.png"	   onClick="branches.action='/cgi-bin/koha/reports/historico_Prestamos.pl';branches.target='_self'; submit();">
	  </td>
        </tr>
	<tr>
	  <td><b>Categoria de Usuario: </b></td>
	  <td><!-- TMPL_VAR NAME="selectCatUsuarios" --></td>
	  <td colspan="3">&nbsp;</td>
	</tr>
	<tr>
	  <td><b>Tipo de Préstamo: </b></td>
	  <td><!-- TMPL_VAR NAME="selectTiposPrestamos" --></td>
	  <td colspan="3">&nbsp;</td>
    	</tr>
	<tr>
	  <td><b>Tipo de Item: </b></td>
	  <td><!-- TMPL_VAR NAME="selectTiposItems" --></td>
	  <td colspan="3">&nbsp;</td>
	</tr>
</table>

<br>

<input TYPE="hidden" VALUE="<!-- TMPL_VAR NAME="orden" -->" NAME="orden" >

<br><br>
<!-- <p class=inputFontNormal>La cantidad de ejemplares en estado <b><!-- TMPL_VAR NAME=availD --></b>  es: <!-- TMPL_VAR NAME=cantidad --></p> -->
<br>

<!-- TMPL_IF NAME="ok2" -->
<a href=historico_Prestamos.pl?iniPag=<!-- TMPL_VAR name="ant" -->&branch=<!-- TMPL_VAR name=branch -->> <img src=<!-- TMPL_VAR name="themelang" -->/images/numbers/ant.gif border=0></a>
<!-- /TMPL_IF -->

<!-- TMPL_LOOP NAME=numeros -->
	<!-- TMPL_IF NAME="actual" -->
		<a href=historico_Prestamos.pl?iniPag=<!-- TMPL_VAR NAME=number -->&branch=<!-- TMPL_VAR name=branch -->> <u><!-- TMPL_VAR name=number --></u></a>
	<!-- TMPL_ELSE -->
        	<u><!-- TMPL_VAR name=number --></u>
	<!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->

<!-- TMPL_IF NAME="ok" -->
<a href=availability.pl?iniPag=<!-- TMPL_VAR name="sig" -->&branch=<!-- TMPL_VAR name=branch -->> <img src=<!-- TMPL_VAR name="themelang" -->/images/numbers/next.gif border=0></a>
<!-- /TMPL_IF -->

<br><br>

<center>

<table cellspacing="0" cellpadding="0" border="0" align="left"  class="tablaresultado" width="100%">

	<tr height="24" class="tablaresultadoTitle">
	<td width="1%" align="left"  valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>

	<th><a class=inputFontNormal href="historico_Prestamos.pl?orden=firstname&ini=<!-- TMPL_VAR NAME='ini' -->&fin=<!-- TMPL_VAR NAME='fin' -->&tiposItems=<!-- TMPL_VAR NAME='tipoItem' -->&tipoPrestamos=<!-- TMPL_VAR NAME='tipoPrestamo' -->&catUsuarios=<!-- TMPL_VAR NAME='catUsuarios' -->">Apellido</a></th>
	<th><a class=inputFontNormal href="historico_Prestamos.pl?orden=surname&ini=<!-- TMPL_VAR NAME='ini' -->&fin=<!-- TMPL_VAR NAME='fin' -->&tiposItems=<!-- TMPL_VAR NAME='tipoItem' -->&tipoPrestamos=<!-- TMPL_VAR NAME='tipoPrestamo' -->&catUsuarios=<!-- TMPL_VAR NAME='catUsuarios' -->">Nombre</a></th>
	<th><a class=inputFontNormal href="historico_Prestamos.pl?orden=DNI&ini=<!-- TMPL_VAR NAME='ini' -->&fin=<!-- TMPL_VAR NAME='fin' -->&tiposItems=<!-- TMPL_VAR NAME='tipoItem' -->&tipoPrestamos=<!-- TMPL_VAR NAME='tipoPrestamo' -->&catUsuarios=<!-- TMPL_VAR NAME='catUsuarios' -->">DNI</a></th>
	<th><a class=inputFontNormal href="historico_Prestamos.pl?orden=CatUsuario&ini=<!-- TMPL_VAR NAME='ini' -->&fin=<!-- TMPL_VAR NAME='fin' -->&tiposItems=<!-- TMPL_VAR NAME='tipoItem' -->&tipoPrestamos=<!-- TMPL_VAR NAME='tipoPrestamo' -->&catUsuarios=<!-- TMPL_VAR NAME='catUsuarios' -->">Categor&iacute;a</a></th>
	<th><a class=inputFontNormal href="historico_Prestamos.pl?orden=tipoPrestamo&ini=<!-- TMPL_VAR NAME='ini' -->&fin=<!-- TMPL_VAR NAME='fin' -->&tiposItems=<!-- TMPL_VAR NAME='tipoItem' -->&tipoPrestamos=<!-- TMPL_VAR NAME='tipoPrestamo' -->&catUsuarios=<!-- TMPL_VAR NAME='catUsuarios' -->">Tipo Pr&eacute;stamo</a></th>
	<th><a class=inputFontNormal href="historico_Prestamos.pl?orden=barcode&ini=<!-- TMPL_VAR NAME='ini' -->&fin=<!-- TMPL_VAR NAME='fin' -->&tiposItems=<!-- TMPL_VAR NAME='tipoItem' -->&tipoPrestamos=<!-- TMPL_VAR NAME='tipoPrestamo' -->&catUsuarios=<!-- TMPL_VAR NAME='catUsuarios' -->">C&otilde;digo de Barras</a></th>

	<th><a class=inputFontNormal href="historico_Prestamos.pl?orden=fechaPrestamo&ini=<!-- TMPL_VAR NAME='ini' -->&fin=<!-- TMPL_VAR NAME='fin' -->&tiposItems=<!-- TMPL_VAR NAME='tipoItem' -->&tipoPrestamos=<!-- TMPL_VAR NAME='tipoPrestamo' -->&catUsuarios=<!-- TMPL_VAR NAME='catUsuarios' -->">Fecha Pr&eacute;stamo</a></th>

	<th><a class=inputFontNormal href="historico_Prestamos.pl?orden=fechaDevolucion&ini=<!-- TMPL_VAR NAME='ini' -->&fin=<!-- TMPL_VAR NAME='fin' -->&tiposItems=<!-- TMPL_VAR NAME='tipoItem' -->&tipoPrestamos=<!-- TMPL_VAR NAME='tipoPrestamo' -->&catUsuarios=<!-- TMPL_VAR NAME='catUsuarios' -->">Fecha Devoluci&oacute;n</a></th>

	<th><a class=inputFontNormal href="historico_Prestamos.pl?orden=tipoItem&ini=<!-- TMPL_VAR NAME='ini' -->&fin=<!-- TMPL_VAR NAME='fin' -->&tiposItems=<!-- TMPL_VAR NAME='tipoItem' -->&tipoPrestamos=<!-- TMPL_VAR NAME='tipoPrestamo' -->&catUsuarios=<!-- TMPL_VAR NAME='catUsuarios' -->">T&iacute;po</a></th>

	<td  align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</tr>
	<br><br>
<!-- TMPL_LOOP NAME=RESULTSLOOP -->
       <tr align="center">
  	<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
  	<td align="left" class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=firstname --></td>
  	<td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=surname ESCAPE=HTML--> </td>
  	<td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=DNI --> </td>
  	<td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=CatUsuario --> </td>
  	<td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=tipoPrestamo --> </td>
  	<td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=barcode --> </td>
	<td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=fechaPrestamo --> </td>  
  	<td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=fechaDevolucion --> </td>  
	<td class="<!-- TMPL_VAR NAME="clase"-->"> <!-- TMPL_VAR NAME=tipoItem --> </td>  
  	<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
       </tr>
<!-- /TMPL_LOOP -->
       <tr valign=bottom>
       		<td class="lineafinaltabla"  align="left" colspan="9"></td>
       </tr>

</table>
<br>
<input TYPE="hidden" VALUE="pdf" NAME="type" > 
	<A onMouseOut="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimir.png')" onMouseOver="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimirbis.png')">
	<input onClick="branches.action='/cgi-bin/koha/reports/printHistPrestamos.pl';branches.target='_blank';branches.type.value='print';submit();"  name="print" id="print" type="image" value="Imprimir"  src="<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png" border="0" title="Imprimir Resultados">
	</A>

	<a  onMouseOut="swap('pdf','<!-- TMPL_VAR NAME="themelang" -->/images/pdf.png')" onMouseOver="swap('pdf','<!-- TMPL_VAR NAME="themelang" -->/images/pdfbis.png')">
	<input onClick="branches.action='/cgi-bin/koha/reports/printHistPrestamos.pl';branches.target='_self'; branches.type.value='pdf';submit();" name="pdf" id="pdf" type="image" value="Generar PDF"  src="<!-- TMPL_VAR NAME='themelang' -->/images/pdf.png" border="0" title="Generar archivo PDF">
	</a>
</form>
</center>
<br>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
