
<br>
<br>
<center>
<p class="inputFontNormal"> 
	<b>La cantidad de operaciones hechas fueron: &nbsp;<!-- TMPL_VAR NAME=cantidad --><br>
</p><br>

<!-- TMPL_VAR NAME="paginador" -->
<br>
<br>
<table id="tablaResult" class="tablaResult" border=0 cellspacing=0 cellpadding=0 width="100%">
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top">
			<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png">
		</td>

		<th>T&iacute;tulo</th>
		<th>Autor</th>
		<th>C. Barra</th>
		<th>Usuario</th>
		<th>Responsable</th>
		<th>Fecha</th>
		<th>Operaci&oacute;n</th>
		<th>Nota</th>

		<td align="right" valign="top" width="1%">
			<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png">
		</td>
	</tr>

<!-- TMPL_LOOP NAME=RESULTSLOOP -->
  	<tr align='center' class="inputFontNormal">
  		<td height=25 >&nbsp;</td>

		<td>
			<a href=/cgi-bin/koha/busquedas/detalle.pl?id1=<!-- TMPL_VAR NAME=id1 ESCAPE=URL -->><!-- TMPL_VAR NAME="titulo" ESCAPE=HTML --><!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle"  --><!-- /TMPL_IF --></a>
		</td>
		<td>
			<a ref="/cgi-bin/koha/busquedas/filtrado.pl?origen=detalle&idAutor=<!-- TMPL_VAR NAME='idautor' ESCAPE='URL' -->"><!-- TMPL_VAR NAME="completo" -->
			</a>
		</td>
		<td>
			
			<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=<!-- TMPL_VAR NAME="id1" -->&id2=<!-- TMPL_VAR NAME="id2" -->&id3=<!-- TMPL_VAR NAME="id3" -->&barcode=<!-- TMPL_VAR NAME="barcode" -->&signatura_topografica=<!-- TMPL_VAR NAME="signatura_topografica" -->' title='Detalle del Item'><!-- TMPL_VAR NAME=barcode --></a> 
		</td>	
		<td> 
			<a href="/cgi-bin/koha/members/moremember.pl?bornum=<!-- TMPL_VAR NAME=borrowernumber -->">
				<!-- TMPL_IF NAME=responsable -->
					<!-- TMPL_VAR NAME=userCompleto -->
				<!-- /TMPL_IF -->
			</a>
		</td>
  		<td> 
			<a href="/cgi-bin/koha/members/moremember.pl?bornum=<!-- TMPL_VAR NAME=responsable -->">
				<!-- TMPL_IF NAME=responsable -->
					<!-- TMPL_VAR NAME=nomCompleto -->
				<!-- /TMPL_IF -->
			</a>
		</td>
  		<td> 
			<!-- TMPL_VAR NAME=fecha --> </td>
  		<td>
			<!-- TMPL_VAR NAME=operacion -->
			<!-- TMPL_IF NAME=description -->
				<br>(<!-- TMPL_VAR NAME=description -->) 
			<!-- /TMPL_IF -->
		</td>
  		<td>
			<textarea id="<!-- TMPL_VAR NAME=id -->" class="inputFontNormal" name="notas" cols="15" rows="4"><!-- TMPL_VAR NAME=nota --></textarea>
		<br>
		<input  src="<!-- TMPL_VAR NAME='themelang' -->/images/guardar.png" type="image"  value="Guardar Nota" title="Guardar Nota" onClick="guardarNota('<!-- TMPL_VAR NAME=id -->')">
		</td>
 	</tr>
<!-- /TMPL_LOOP -->
 	<tr valign=middle>
        	<td class="lineafinaltabla"  align="left" colspan="8"></td>
        </tr>
</table>

</center>

