<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script type="text/javascript" src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script>
<!-- TMPL_INCLUDE NAME="state.js" -->
<!-- TMPL_INCLUDE NAME="util.js" -->

function consultar(orden,ini){
	var sigtop=$("#sigtop").val();
	var params="sigtop="+sigtop+"&ini="+ini+"&orden="+orden;
	$.ajax({
		type: "POST",
		url: "/cgi-bin/koha/reports/inventory-sig-topResult.pl",
		data: params,
		beforeSend: Init,
		complete: function(ajax){
				$("#result").html(ajax.responseText);
				HiddeState();
				zebra("tablaResult");
			}
	});
}
</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Inventario por signatura topogr&aacute;fica:</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>
<br>

<!-- <form method="post" name="form1" action='inventory-sig-top.pl'> -->

<table border="0" cellspacing="0" cellpadding="0" align="left">
	<tr>
		<td class="inputFontNormal">Buscar signatura topogr&aacute;fica: &nbsp;</td>
		<td class="inputFontNormal">
			<input class="inputFontNormal" type="text" id="sigtop" value="<!-- TMPL_VAR name='sigtop' -->">&nbsp;
		</td>
		<td><input type="image" src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border="0" onClick="consultar('barcode',0)"></td>
	</tr>
</table>

<!-- </form> -->

<br>

<div id="result"></div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
