<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script type="text/javascript" src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/json/jsonStringify.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/AjaxHelper.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>

<script>
function ordenar(orden){
	objAH.sort=orden;
	objAH.sendToServer();
}

function consultar(){
	objAH=new AjaxHelper(updateInfo);
	objAH.url= "/cgi-bin/koha/reports/inventoryResult.pl";
	objAH.desde= $("#desde").val();
	objAH.hasta= $("#hasta").val();
	//se envia la consulta
	objAH.sendToServer();
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
}

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Inventario:</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>
<br>

<center>
<table border="0" cellspacing="0" cellpadding="0" width="90%">
	<tr class="tablaresultadoTitle">
		<td align="left"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
		<td align="center" width="30%">Tipo</td>
		<td align="center">M&iacute;nimo</td>
		<td align="center">M&aacute;ximo</td>
		<td align="right"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
	</tr>

<!-- TMPL_LOOP NAME=barcodePorTipo -->
  	<tr align="center">
		<td class="<!-- TMPL_VAR NAME=clase -->">&nbsp;</td>
	 	<td class="<!-- TMPL_VAR NAME=clase -->"> <!-- TMPL_VAR NAME=tipo --> </td>
	 	<td class="<!-- TMPL_VAR NAME=clase -->"> <!-- TMPL_VAR NAME=minimo --> </td>
	 	<td class="<!-- TMPL_VAR NAME=clase -->"> <!-- TMPL_VAR NAME=maximo --> </td>
		<td class="<!-- TMPL_VAR NAME=clase -->">&nbsp;</td>
 	</tr>
<!-- /TMPL_LOOP -->
</table>
</center>
<br>
<table border="0" cellspacing="0" cellpadding="0" align="left">
	<tr>
		<td class="inputFontNormal">Localizaci&oacute;n del ejemplar entre &nbsp;</td>
		<td class="inputFontNormal">
			<input class="inputFontNormal" type="text" id="desde" value="<!-- TMPL_VAR name='desde' -->">&nbsp; y &nbsp;
			<input  class="inputFontNormal" type="text" id="hasta" value="<!-- TMPL_VAR name='hasta' -->">&nbsp;
		</td>
		<td><input type="image" src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border="0" onClick="consultar(0,'barcode')"></td>
	</tr>
</table>

<br>
<!-- <p class="inputFontNormal" align="left">El m&iacute;nimo inventario existente es: <b><!-- TMPL_VAR NAME=MIN --></b> y el m&aacute;ximo es: <b><!-- TMPL_VAR NAME=MAX --></b>. </p> -->

<div id="result"></div>


<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
