<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script type="text/javascript" src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script>
<!-- TMPL_INCLUDE NAME="state.js" -->
<!-- TMPL_INCLUDE NAME="util.js" -->

function consultar(ini,orden){
	var desde=$("#desde").val();
	var hasta=$("#hasta").val();
	var params="desde="+desde+"&hasta="+hasta+"&ini="+ini+"&orden="+orden;
	$.ajax({
		type: "POST",
		url: "/cgi-bin/koha/reports/inventoryResult.pl",
		data: params,
		beforeSend: Init,
		complete: function(ajax){
				$("#result").html(ajax.responseText);
				HiddeState();
				zebra("tablaResult");
			}
	});
}

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Inventario:</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>
<br>

<table border="0" cellspacing="0" cellpadding="0" align="left">
	<tr>
		<td class="inputFontNormal">Localizaci&oacute;n del ejemplar entre &nbsp;</td>
		<td class="inputFontNormal">
			<input class="inputFontNormal" type="text" id="desde" value="<!-- TMPL_VAR name='desde' -->">&nbsp; y &nbsp;
			<input  class="inputFontNormal" type="text" id="hasta" value="<!-- TMPL_VAR name='hasta' -->">&nbsp;
		</td>
		<td><input type="image" src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border="0" onClick="consultar(0,'barcode')"></td>
	</tr>
</table>

<br>
<p class="inputFontNormal" align="left">El m&iacute;nimo inventario existente es: <b><!-- TMPL_VAR NAME=MIN --></b> y el m&aacute;ximo es: <b><!-- TMPL_VAR NAME=MAX --></b>. </p>

<div id="result"></div>


<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
