<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name='themelang' -->/includes/epoch_styles.css ">
<script type="text/javascript">
<!-- TMPL_INCLUDE NAME="epoch_classes.js" -->
<!-- TMPL_INCLUDE NAME="util.js" -->
<!-- TMPL_INCLUDE NAME="state.js" -->

/*You can also place this code in a separate file and link to it like epoch_classes.js*/
        var dp_ini,dp_fin;      
	window.onload = function () {
		        dp_ini  = new Epoch('epoch_popup','popup',document.getElementById('fechaIni'));
			dp_fin  = new Epoch('epoch_popup','popup',document.getElementById('fechaFin'));
				};

	function consultar(){

		var params= 	'fechaIni=' + $('#fechaIni').val() +
				'&fechaFin=' + $('#fechaFin').val() +
				'&catUsuarios=' + $('#catUsuarios').val();
	
		$.ajax({	type: "POST", 
				url: "/cgi-bin/koha/reports/logueoBusquedaResult.pl",
				data: params,
				beforeSend: Init,
				complete: function(ajax){
						$('#result').html(ajax.responseText);
						HiddeState();
						zebra('tableResult');
					}
		});

	}

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Logueo de B&uacute;squedas desde OPAC</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>
<center>

<ul>
	<li>
	  <b>Seleccione una fecha de inicio: </b>
	</li>
	<li>
		<input id="fechaIni" class="inputFontNormal" name="fechaIni" value="<!-- TMPL_VAR NAME='fechaIni' -->"> <a href="javascript:dp_ini.toggle();">
		<img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha"></a>
	</li>
	<li><b>Seleccione una fecha de Fin: </b></li>	
	<li>
	  	<input id="fechaFin" class="inputFontNormal" name="fechaFin" value="<!-- TMPL_VAR NAME='fechaFin' -->"> <a href="javascript:dp_fin.toggle();">
		<img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha"></a>
	</li>
	<li><b>Categoria de Usuario: </b></li>
	<li><!-- TMPL_VAR NAME="selectCatUsuarios" --></li>
	<li>
		<input type="image" name="consulta" src="<!-- TMPL_VAR NAME='themelang' -->/images/generarListado.png" onClick="consultar();">
	</li>
</ul>

<div id="result"></div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
