
<p class="inputFontNormal">
La cantidad de prestamos es : <!-- TMPL_VAR NAME=cantidad --></p>
<p align="center">
<!-- TMPL_VAR NAME="paginador" -->
</p>


<table id="tablaResult" class="tablaResult" border=0 cellspacing=0 cellpadding=0 width="100%" align="center">
 	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/izquierda.png"></td>
		
		<th>
			<a class="click" name="checkAllPrestamos"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/check.png" border="0" title="Invertir la selecci&oacute;n"></a>
		</th>

		<th class="tablaresultadoTitleClick" onClick="ordenar('surname')">
			Apellido
		</th>
		<th class="tablaresultadoTitleClick" onClick="ordenar('firstname')">
			Nombre
		</th>
		<th class="tablaresultadoTitleClick" onClick="ordenar('cardnumber')">
			Tarjeta de Id.
		</th>

		<th class="tablaresultadoTitleClick" onClick="ordenar('emailaddress')">
			E-mail
		</th>
		<th class="tablaresultadoTitleClick" onClick="ordenar('date_due')">
			Fecha de prestamo
		</th>
		<th class="tablaresultadoTitleClick" onClick="ordenar('vencimiento')">
			Fecha de vencimiento
		</th>
		<th class="tablaresultadoTitleClick" onClick="ordenar('barcode')">
			C&oacute;digo de barra
		</th>
		<th class="tablaresultadoTitleClick" onClick="ordenar('signatura_topografica')">
			Signatura Topogr&aacute;fica
		</th>
		<th class="tablaresultadoTitleClick" onClick="ordenar('description')">
			Tipo de pr&eacute;stamo
		</th>
	
		<td width="1%" align="rigth" valign="top"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/derecha.png"></td>
	</tr>

<!-- TMPL_LOOP NAME=RESULTSLOOP -->
	<tr align='center'>
		<td>&nbsp;</td>

		<td class="inputFontNormal"> 
		<!-- TMPL_IF NAME="vencido" --><input type="checkbox" name="chkboxPrestamos" value="<!-- TMPL_VAR NAME='borrowernumber' -->" id="<!-- TMPL_VAR NAME='borrowernumber' -->"><!-- /TMPL_IF -->
		</td>

		<td class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/usuarios/reales/datosUsuario.pl?bornum=<!-- TMPL_VAR NAME=borrowernumber -->"><!-- TMPL_VAR NAME=surname --></a>
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=firstname --> 
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=cardnumber --> 
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_IF NAME= ok --> <!-- TMPL_VAR NAME=emailaddress -->
        		<!-- TMPL_ELSE --><a class="inputFontNormal" href="mailto:<!-- TMPL_VAR NAME=emailaddress -->"><!-- TMPL_VAR NAME=emailaddress --> </a>
        		<!-- /TMPL_IF -->
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=date_due -->
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=vencimiento -->
		</td>
		<td class="inputFontNormal"> 
			<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=<!-- TMPL_VAR NAME="id1" -->&id2=<!-- TMPL_VAR NAME="id2" -->&id3=<!-- TMPL_VAR NAME="id3" -->&barcode=<!-- TMPL_VAR NAME="barcode" -->&signatura_topografica=<!-- TMPL_VAR NAME="signatura_topografica" -->' title='Detalle de disponibilidad'><!-- TMPL_VAR name="barcode" --></a>
		</td>
		<td class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/detalle.pl?id1=<!-- TMPL_VAR NAME=id1 -->"><!-- TMPL_VAR NAME=signatura_topografica --></a>
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=description -->
		</td>
		<td>&nbsp;</td>
	</tr>
<!-- /TMPL_LOOP -->
</table>

<br>
<input type="hidden" name="tipo" value="0">

<a href="#" title="Enviar Mail" onClick="enviarMails();">
<input id="contacto" type="image" src="<!-- TMPL_VAR NAME='themelang' -->/images/contactar.png" title="Enviar mail a usuarios con ejemplares atrasados">
</a>
&nbsp;&nbsp;&nbsp;
<a class="inputFontNormal" href="/cgi-bin/koha/reports/plantillas/generatesxc.pl?name=<!-- TMPL_VAR Name='planilla' -->">Generar planilla 
<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/sxc.png" border="0">
</a>
<br>

