<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Formato de Impresi&oacute;n</title>

</head>

<body>

<table cellspacing="0" cellpadding="0" border="0" align="left" width="100%">
	
	<tr>
	   	<td align="center" colspan=4>
        		<font class="titulo" >Biblioteca:</font><br>
        		<font class="subtitulo">Facultad de Ciencias Econ&oacute;micas</font>
        	</td>
		<td align="right" colspan=3>
			<img src="<!-- TMPL_VAR NAME="themelang" -->/images/escudo.png" border="0" alt="Facultad de Ciencias Econ&oacute;micas" >
		</td>
	</tr>
	<tr> 
		<td align="center" colspan="7"> <!-- TMPL_VAR NAME="msg" --> 
                </td> 
	</tr>
	<tr>
		<th colspan="9" align="center">Historial de Prestamos</th>
	</tr>
	<tr>
		<td align="center" colspan="9">
			<br>
			<a onMouseOut="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimir.png')" onMouseOver="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimirbis.png')">
			<input onClick="print();return false;"  name="print" id="print" type="image" value="Imprimir"  src="<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png" border="0" title="Imprimir Resultados">
			</a>
		</td>
	</tr>


	<tr height="24">
		<th width="15%">Apellido</th>
		<th width="5%">Nombre</th>
		<th width="12%">DNI</th>
		<th width="12%">Categor&iacute;a</th>
		<th>Tipo Pr&eacute;stamo</th>
		<th>C&otilde;digo de Barras</th>
		<th>Fecha Pr&eacute;stamo</th>
		<th>Fecha Devoluci&oacute;n</th>
		<th>T&iacute;po</th>
	</tr>
	<br><br>
<!-- TMPL_LOOP NAME=RESULTSLOOP -->
       <tr align="center" height="24">
  		<td> <!-- TMPL_VAR NAME=surname ESCAPE=HTML--></td>
  		<td> <!-- TMPL_VAR NAME=firstname --> </td>
  		<td> <!-- TMPL_VAR NAME=DNI --> </td>
  		<td> <!-- TMPL_VAR NAME=CatUsuario --> </td>
  		<td> <!-- TMPL_VAR NAME=tipoPrestamo --> </td>
  		<td> <!-- TMPL_VAR NAME=barcode --> </td>
		<td> <!-- TMPL_VAR NAME=fechaPrestamo --> </td>  
  		<td> <!-- TMPL_VAR NAME=fechaDevolucion --> </td>  
		<td> <!-- TMPL_VAR NAME=tipoItem --> </td>  
       </tr>
<!-- /TMPL_LOOP -->
       <tr valign=bottom>
       		<td class="lineafinaltabla"  align="left" colspan="9"><hr></td>
       </tr>
	
	<tr>
		<td align="center" colspan="9">
			<a onMouseOut="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimir.png')" onMouseOver="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimirbis.png')">
			<input onClick="print();return false;"  name="print" id="print" type="image" value="Imprimir"  src="<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png" border="0" title="Imprimir Resultados">
			</a>
		</td>
	</tr>

</table>

</body>
</html>
