
<center>
<p class="inputFontNormal"> 
	<b>La cantidad de modificaciones hechas fueron: &nbsp;<!-- TMPL_VAR NAME=cant --><br>
	P&aacute;gina n&uacute;mero: <!-- TMPL_VAR NAME=actual --> de un total de: <!-- TMPL_VAR NAME=paginas --></b>
</p><br>

<!-- TMPL_IF NAME="ok2" -->
<input type="image" onClick="consultar('fecha',<!-- TMPL_VAR name='ant' -->,'')" src=<!-- TMPL_VAR name="themelang" -->/images/numbers/ant.gif border=0>
<!-- /TMPL_IF -->

<!-- TMPL_LOOP NAME=numeros -->
<a class="click" class="inputFontNormal" onClick="consultar('fecha',<!-- TMPL_VAR NAME=number -->,'')">
<u><!-- TMPL_VAR name=number --></u></a>
<!-- /TMPL_LOOP -->

<!-- TMPL_IF NAME="ok" -->
<input type="image" onClick="consultar('fecha',<!-- TMPL_VAR name='sig' -->,'')" src=<!-- TMPL_VAR name="themelang" -->/images/numbers/next.gif border=0>
<!-- /TMPL_IF -->


<table id="tablaResult" border=0 cellspacing=0 cellpadding=0 width="100%">
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
		<th>Usuario</th>
		<th>Fecha</th>
		<th>Operaci&oacute;n</th>
		<th>Tipo</th>
		<th>N&uacute;mero</th>
		<th>Nota</th>
		<th>Agregar nota</th>
		<td align="right" valign="top" width="1%"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
	</tr>

<!-- TMPL_LOOP NAME=RESULTSLOOP -->
	
  	<tr align='center'>
  		<td height=25 >&nbsp;</td>
  		<td class="inputFontNormal"> <!-- TMPL_VAR NAME=nomCompleto --> </td>
  		<td class="inputFontNormal"> <!-- TMPL_VAR NAME=fecha --> </td>
  		<td class="inputFontNormal"> <!-- TMPL_VAR NAME=operacion --> </td>
  		<td class="inputFontNormal"> <!-- TMPL_VAR NAME=tipo --></td>
		<td ><a class="inputFontNormal" href="/cgi-bin/koha/reports/moredetail2.pl?tipo=<!-- TMPL_VAR NAME=tipo -->&bib=<!-- TMPL_VAR NAME=numero -->"><!-- TMPL_VAR NAME=numero --></a></td>
		
  		<td class="inputFontNormal"> 
			<textarea class="inputFontNormal" id="<!-- TMPL_VAR NAME=idModificacion -->" name="notas2" cols="20" rows="6"><!-- TMPL_VAR NAME=nota -->
			</textarea>
		</td>
		<!-- Aca se guarda la nota de la modificacion con la funcion nota(id) que esta declarada en el archivo registro.tmpl -->
  		<td> 
			<input  src="<!-- TMPL_VAR NAME='themelang' -->/images/guardar.png" type="image"  value="Guardar Nota" title="Guardar Nota" onClick="nota('fecha',<!-- TMPL_VAR NAME=actual -->,'<!-- TMPL_VAR NAME=idModificacion -->')"> 
		</td>
 		<td height=25 >&nbsp;</td>
 	</tr>
	
<!-- /TMPL_LOOP -->

</table>

</center>
