<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->


<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name='themelang' -->/includes/epoch_styles.css ">
<script type="text/javascript" src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>

<script type="text/javascript">

<!-- TMPL_INCLUDE NAME="epoch_classes.js" -->
<!-- TMPL_INCLUDE NAME="state.js" -->

/*You can also place this code in a separate file and link to it like epoch_classes.js*/
        var dp_ini,dp_fin;      
	window.onload = function () {
		        dp_ini  = new Epoch('epoch_popup','popup',document.getElementById('dateselected'));
			dp_fin  = new Epoch('epoch_popup','popup',document.getElementById('dateselectedEnd'));
				};

//Funcion que guarda la nota de la modificacion, es llamada desde regitroResult.tmpl
function nota(orden,ini,id){
	var not=$("#"+id).val();
	var notas="&id="+id+"&notas="+not;
	consultar(orden,ini,notas);
} 


function consultar(orden,ini,notas){
	var chkfecha=document.getElementById("chkfecha").checked;
	var chkuser=document.getElementById("chkuser").checked;
	var chknum=document.getElementById("chknum").checked;
	var fechaIni=$("#dateselected").val();
	var fechaFin=$("#dateselectedEnd").val();
	var operacion=$("input[@name='operacion']:checked").val();
	var tipo=$("input[@name='tipo']:checked").val();
	var user=$("#user").val();
	var numDesde=$("#numDesde").val();
	var numHasta=$("#numHasta").val();
	var params="chkfecha="+chkfecha+"&dateselected="+fechaIni+"&dateselectedEnd="+fechaFin+"&chkuser="+chkuser+"&chknum="+chknum+"&operacion="+operacion+"&tipo="+tipo+"&user="+user+"&numDesde="+numDesde+"&numHasta="+numHasta+"&orden="+orden+"&ini="+ini+notas;
	$.ajax({
		type: "POST",
		url: "/cgi-bin/koha/reports/registroResult.pl",
		data: params,
		beforeSend: Init,
		complete: function(ajax){
				$("#result").html(ajax.responseText);
				HiddeState();
			}
	});
}


</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Registro de Actividades</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>



<br>
	<table border="0" cellspacing="0" cellpadding="0">
  		<tr>
			<td valign= "top" class=inputFontNormal>
			<input id="chkfecha" class="inputFontNormal" type="checkbox" name="chkfecha">
			<b>Seleccione para buscar por fecha.</b><br><br>
			Seleccione una fecha de inicio:<br><br>
			Seleccione una fecha de Fin:
			</td>

			<td valign= "top" class=inputFontNormal><br><br>
			<input id="dateselected" class="inputFontNormal" name="dateselected" value="
			<!-- TMPL_VAR NAME="todaydate" -->">
			<a href="javascript:dp_ini.toggle();"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha"></a><br><br>
			<input id="dateselectedEnd" class="inputFontNormal" name="dateselectedEnd" value="<!-- TMPL_VAR NAME="todaydate" -->"> 
			<a href="javascript:dp_fin.toggle();"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" 	alt="Selecciona una fecha"></a>
			</td>



			<td class="inputFontNormal" rowspan=3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td rowspan=3 class="inputFontNormal"> <b>Filtrar por:</b> <br>
				<input id="operacion" class="inputFontNormal" type="radio" name="operacion" value="Alta">&nbsp;Alta
				&nbsp;&nbsp;&nbsp;
				<input id="operacion" class="inputFontNormal" type="radio" name="operacion" value="Actualizado">&nbsp;Actualizado
				<input id="operacion" class="inputFontNormal" type="radio" name="operacion" value="Borrado">&nbsp;Borrado
				&nbsp;
				<input id="operacion" class="inputFontNormal" type="radio" name="operacion" value="" checked>&nbsp;Ninguno
				<br><br>

				<input id="tipo" class="inputFontNormal" type="radio" name="tipo" value="Libro">&nbsp;Libro
	        		&nbsp;
				<input id="tipo" class="inputFontNormal" type="radio" name="tipo" value="Grupo">Grupo
                		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="tipo" class="inputFontNormal" type="radio" name="tipo" value="Ejemplar">&nbsp;Ejemplar
				<input id="tipo" class="inputFontNormal" type="radio" name="tipo" value="" checked>&nbsp;Ninguno
				<br><br>

			<!-- ACA SE BUSCA POR USUARIO Y/O POR NUMERO DE ELEMENTOS -->

				<input id="chkuser" class="inputFontNormal" type="checkbox" name="chkuser" value="usuario"
				<!-- TMPL_IF NAME="chkuser" -->checked<!-- /TMPL_IF -->><b>Nombre de usuario: </b><!-- TMPL_VAR NAME="selectusuarios" -->

				<br><br>

				<input id="chknum" class="inputFontNormal" type="checkbox" name="chknum" value="num" 
				<!-- TMPL_IF NAME="chknum" -->checked<!-- /TMPL_IF -->><b>N&uacute;mero

				desde: <input id="numDesde" class="inputFontNormal" type="text" name="numDesde" size="12" 
				<!-- TMPL_IF NAME="chknum" -->value="<!-- TMPL_VAR NAME= "numDesde" -->"<!-- /TMPL_IF -->>
				hasta: </b><input id="numHasta" class="inputFontNormal" type="text" name="numHasta" size="12" 
				<!-- TMPL_IF NAME="chknum" -->value="<!-- TMPL_VAR NAME= "numHasta" -->"<!-- /TMPL_IF -->>
				<br><br>
				<input type="image" onClick="consultar('fecha',1,'')"  src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border="0">

			</td>
   		</tr>
	</table>

<div id="result" >

</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

