<center>
<p class="inputFontNormal">
La cantidad de reservas es : <!-- TMPL_VAR NAME=cantidad -->
</p>
<br>
<!-- TMPL_VAR NAME="paginador" -->

<table id="tablaResult" class="tablaResult" border=0 cellspacing=0 cellpadding=0 width="100%" align="center">
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/izquierda.png"></td>

		<td class="tablaresultadoTitleClick" onclick="ordenar('surname')" title="Ordenar por apellido"> Apellido</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('firstname')" title="Ordenar por nombre"> Nombre</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('cardnumber')" title="Ordenar por numero de socio"> N&uacute;mero de socio</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('emailaddress')" title="Ordenar por mial">E-mail</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('reservedate')" title="Ordenar por fecha de reserva"> Fecha de reserva</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('reminderdate')" title="Ordenar por fecha de vencimiento"> Fecha de vencimiento</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('barcode')" title="Ordenar por codigo de barra"> C&oacute;digo de barra</td>

 		<td align="rigth" valign="top" width="1%"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/derecha.png"></td>
	</tr>
<!-- TMPL_LOOP NAME=RESULTSLOOP -->
	<tr align='center'>
		<td height=25 >&nbsp;</td>
		<td class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/usuarios/reales/datosUsuario.pl?bornum=<!-- TMPL_VAR NAME=borrowernumber -->"><!-- TMPL_VAR NAME=surname --></a>
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=firstname --> 
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=cardnumber --> 
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_IF NAME="mail" --> 
				<!-- TMPL_VAR NAME=emailaddress -->
			<!-- TMPL_ELSE -->
				<a class="inputFontNormal" href="mailto:<!-- TMPL_VAR NAME=emailaddress -->"><!-- TMPL_VAR NAME=emailaddress --> </a>
			<!-- /TMPL_IF -->
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=reservedate -->
		</td>
		<td class="inputFontNormal"> 
			<!-- TMPL_VAR NAME=reminderdate -->
		</td>
		<td class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/detail.pl?bib=<!-- TMPL_VAR NAME=biblionumber -->"><!-- TMPL_VAR NAME=barcode --></a>
		</td>
		<td height=25 >&nbsp;</td>
	</tr>
<!-- /TMPL_LOOP -->
</table>

<br>


<a class="inputFontNormal" href="mail.pl?branch=<!-- TMPL_VAR NAME=branch -->&tipo=1"> 
<input id="contacto" type="image" src="<!-- TMPL_VAR NAME='themelang' -->/images/contactar.png" title="Enviar mail a usuarios con reservas asignadas" >
</a> 
</center>
