<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<table width="100%"  border="0" cellpadding="0" cellspacing="0"><tr><td class="pagetitle" >Tipos</td></tr>
<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr></table>

<br>
<center>
	<table border="0" cellspacing="0" cellpadding="0" width="50%">
		<tr class="tablaresultadoTitle">
		<td align="left"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td align="center" width="30%">Cantidad de biblioitems</td>
		<td align="center">Descripci&oacute;n</td>
		<td align="right"><img src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
		</tr>
<!-- TMPL_LOOP NAME=RESULTSLOOP -->
  	<tr align="center">
		<td class="<!-- TMPL_VAR NAME=clase -->">&nbsp;</td>
	 	<td class="<!-- TMPL_VAR NAME=clase -->"> <!-- TMPL_VAR NAME=cantidad --> </td>
	 	<td class="<!-- TMPL_VAR NAME=clase -->"> <!-- TMPL_VAR NAME=descripcion --> </td>
		<td class="<!-- TMPL_VAR NAME=clase -->">&nbsp;</td>
 	</tr>
<!-- /TMPL_LOOP -->
</table>
<br><br>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
