<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->


<script type="text/javascript" src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>

<script language="javascript">

//Agrego el codigo para mostrar el estado de la busqueda en Ajax
<!-- TMPL_INCLUDE NAME="state.js" -->


function buscarChecked(){
	var str="";
	var checks=$(":checked");
	for (var i=0 ; i < checks.length; i++){
		str=str+checks[i].value+"#";
	}
	return str;
}

function consultar(orden,ini){
	var branch=$("#branch").val();
	var year=$("#year").val();
	var usos=$("#usos").val();
	var categ=$("#categoria").val();
	var strChck=buscarChecked();
	$.ajax({
		type: "POST",
		url: "/cgi-bin/koha/reports/usersResult.pl",
		data: "branch="+branch+"&year="+year+"&chck="+strChck+"&categoria="+categ+"&usos="+usos+"&orden="+orden+"&ini="+ini,
		beforeSend: Init,
		complete: function(ajax){
				$("#result").html(ajax.responseText);
				HiddeState();
			}
	})
}

</script>



<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Usuarios</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>
<br>

<center>

<table border="0" cellspacing="0" cellpadding="0">
	
	<tr class="inputFontNormal">
		<td>
		<input type="checkbox" name="chck" value="AN" id="chck"> 
			Seleccione el a&ntilde;o: 
		</td>
		<td>
			<!-- TMPL_VAR NAME="years" -->
		</td>
	</tr>

	<tr class="inputFontNormal">
		<td>
 			<br><input type="checkbox" name="chck" value="USO" id="chck"> 
			Seleccione la cantidad de uso:
		</td>
		<td>
			<br>
			<select name="usos" id="usos">
				<option id="MU" value="MU">Mas de un uso</option>
				<option id="NI" value="NI">Ninguno</option>
			</select>
		</td>
	</tr>
	<tr class="inputFontNormal">
		<td>
			<br><input type="checkbox" name="chck" value="CAT" id="CAT">
			Seleccione la categor&iacute;a:
		</td>
		<td>
			<br><!-- TMPL_VAR NAME="categorias" -->
		</td>
	</tr>
	<tr class="inputFontNormal">
		<td>
			<br>Seleccione una unidad de informaci&oacute;n: &nbsp; 
		</td>
		<td>
			 <br><!-- TMPL_VAR NAME=unidades  -->
		</td>
	</tr>

	<tr class="inputFontNormal">
		<td colspan="2">
			<br><a href="listaMailUsuarios.pl">Generar archivo con los mails</a>
		</td>
	</tr>
	
</table>

	<br>
	<input type="image" onClick="consultar('cardnumber',1)"  src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border="0">

</center>
<div id="result"></div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
