<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>
<script language="javascript">

function ordenar(orden){
	objAH.sort=orden;
	objAH.sendToServer();
}

function consultar(op,orden){
	var sur1=$("#surname1").val();
	var sur2=$("#surname2").val();
	var leg1=$("#legajo1").val();
	var leg2=$("#legajo2").val();
	var cat=$("#category").val();
	var reg=$("#regular").val();
	var branch=$("#branch").val();
	var params="surname1="+sur1+"&surname2="+sur2+"&legajo1="+leg1+"&legajo2="+leg2+"&category="+cat+
	"&regular="+reg+"&branch="+branch+"&op="+op+"&orden="+orden;
	if(op == "pdf"){
		var url= "/cgi-bin/koha/reports/users-cards.pl";
		crearForm(url,params);//Funcion en util.js
	}
	else{
		objAH=new AjaxHelper(updateInfo);
		objAH.url= "/cgi-bin/koha/reports/users-cardsResult.pl";
		objAH.surname1= sur1;
		objAH.surname2= sur2;
		objAH.legajo1= leg1;
		objAH.legajo2= leg2;
		objAH.category=cat;
		objAH.branch=branch;
		objAH.op=op;
		//se envia la consulta
		objAH.sendToServer();
	}
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
}

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >Generar Carnets de Usuarios</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>
<br>

<center>

<table border="0" cellspacing="0" cellpadding="0">
<tr valign="top"><td>
<table border="0" cellspacing="0" cellpadding="0">
	
	<tr class="inputFontNormal">
	<td>Apellido:</td>
	<td colspan="2">
	Desde:&nbsp; <input type='text' id='surname1' name='surname1' value='<!-- TMPL_VAR NAME=surname1  -->'><br>
	Hasta:&nbsp; <input type='text' id='surname2' name='surname2' value='<!-- TMPL_VAR NAME=surname2  -->'></td>
	</tr>
	 <tr class="inputFontNormal">
	 <td>Unidad de informaci&oacute;n:</td>
	 <td colspan="2"><!-- TMPL_VAR NAME=unidades  --></td>
	 </tr>
	<tr class="inputFontNormal">
	<td>Categor&iacute;as:</td>
	<td colspan="2"><!-- TMPL_VAR NAME=categories  --></td>
	</tr>
</table>
</td>
<td>&nbsp;</td>
<td>
<table border="0" cellspacing="0" cellpadding="0">
	<tr class="inputFontNormal">
	<td>Legajo:</td>
	<td colspan="2">
	Desde:&nbsp; <input type='text' id='legajo1' name='legajo1' value='<!-- TMPL_VAR NAME=legajo1  -->'><br>
	Hasta:&nbsp; <input type='text' id='legajo2' name='legajo2' value='<!-- TMPL_VAR NAME=legajo2  -->'></td>
	</tr>
	<tr class="inputFontNormal">
	<td >Regularidad: </td>
	<td colspan="2"> <!-- TMPL_VAR NAME=regulares  --></td>
	</tr>
</table>
</td></tr></table>
<br>
<input type="image" src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border="0" onClick="consultar('search','');">

<br><br>
<div id="result"></div>

<!-- Formulario para poder crear el pdf -->
<div id="formulario">
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
