<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script>
<!-- TMPL_INCLUDE NAME="util.js" -->
function hacerSubmit(){
        document.branches.submit();
}

$(document).ready( function() {
	zebra("tablaResult");
});
</script>

<center>
<table border=0 cellspacing=0 cellpadding=2>
	<th>Seleccione una unidad de informaci&oacute;n :</th>
	<th><form name="branches" action="/cgi-bin/koha/reports/userEst.pl" method=post >
        	<!-- TMPL_VAR NAME=unidades  --></form>
	</th>
</table>

<br><br>

<table id="tablaResult" class="tablaResult" border=0 cellspacing=0 cellpadding=0 width="60%">
	<tr class="tablaresultadoTitle">
		<td width="1%" align="right"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
		<th>
			Categor&iacute;as
		</th>
		<th>
			Cant de usuarios reales
		</th>
		<th>
			Cant de usuarios potenciales
		</th>
 		<td width="1%"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
		</tr>

<!-- TMPL_LOOP NAME=RESULTSLOOP -->
  	<tr align='center' class="inputFontNormal">
   		<td height=25>&nbsp;</td>	
  		<td> <!-- TMPL_VAR NAME=categoria --> </td>
  		<td> <!-- TMPL_VAR NAME=reales --> </td>
		<td> <!-- TMPL_VAR NAME=potenciales --> </td>
 		<td height=25 >&nbsp;</td>
 	</tr>
<!-- /TMPL_LOOP -->
</table>


<br>
	<a class="inputFontNormal" href="/cgi-bin/koha/reports/plantillas/generatesxc.pl?name=<!-- TMPL_VAR Name="name" -->">Generar planilla 
	<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/sxc.png" border="0">
	</a>
<br><br>
				<!-- Scripts con los graficos en flash -->
<!-- TMPL_VAR NAME='torta'  -->
<br>
<!-- TMPL_VAR NAME='barras'  -->
<br>
</center>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
