<center>
<p>
<b>[% "La cantidad de usuarios es :" | i18n %] [% cantidad %]<br>
</p>
<br>

[% paginador %]
</center>


<table id="tablaResult" class="tablaResult" border="0" cellspacing="0" cellpadding="0"  width="100%">
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="[% themelang %]/images/izquierda.png"></td> 

		<td class="tablaresultadoTitleClick" onclick="ordenar('surname')" Title="Ordenar por Apellido">[% "Apellido" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('firstname')" Title="Ordenar por Nombre">[% "Nombre" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('streetaddress')" Title="Ordenar por Direcci&oacute;n">[% "Direcci&oacute;n" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('cardnumber')" Title="Ordenar por Socio">[% "Socio" | i18n %]</td>
		<td class="tablaresultadoTitle">[% "Ciudad" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('phone')" Title="Ordenar por Tel&eacute;fono">[% "Telefono" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('emailaddress')" Title="Ordenar por e-mail">[% "E-mail" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('dateenrolled')" Title="Ordenar por Ingreso">[% "Ingreso" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onclick="ordenar('categoria')" Title="Ordenar por Categor&iacute;a">[% "Categoria" | i18n %]</td>

		<td width="1%" align="right" valign="top"><img src="[% themelang %]/images/derecha.png"></td>
	</tr>

[% FOREACH RESULTSLOOP %]
	<tr class="inputFontNormal">
		<td>&nbsp;</td>
		<td> [% surname %] </td>
		<td> [% firstname %] </td>
  		<td> [% streetaddress %] </td>
  		<td> [% cardnumber %] </td>
  		<td> [% city %] </td>
  		<td> [% phone %]</td>
  		<td> [% IF ok %] 
                        [% emailaddress %]
                     [% ELSE %]
                        <a class="inputFontNormal" href="mailto:[% emailaddress %]">[% emailaddress %] </a>
                    [% END %]</td>
  		<td> [% dateenrolled %] </td>
  		<td> [% categoria %]</td>
  	</tr>

[% END %]

	<tr valign=bottom>
	        <td class="lineafinaltabla"  align="left" colspan="9"></td>
        </tr>

</table>

