<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

	<form method="post" action="/cgi-bin/koha/circ/item-borrow.pl">
	<input type="hidden" name="bib" value="<!-- TMPL_VAR name="biblionumber" -->">
	<input type="hidden" name="bibitem" value="<!-- TMPL_VAR name="biblioitemnumber" -->">
	<input type="hidden" name="itemnum" value="<!-- TMPL_VAR name="itemnumber" -->">
        <input type="hidden" name="barcode" value="<!-- TMPL_VAR name="barcode" -->">


	<table border="1" align="center" cellspacing="0" cellpadding="5">
		<tr class="tablaresultadoTitle">
			<td>
				<font color="black"><b>Seleccione un usuario al cual prestarle el item <!-- TMPL_VAR name="barcode" --></b></font>
			</td>
		</tr>
		<tr>
			<td align="center">
				<!-- TMPL_VAR name="CGIselectborrower" -->
				<br>
				<input type="submit" value="Prestar">
			</td>
		</tr>
	</table>
	</form>

<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
