<!-- TMPL_IF NAME="sanctions" -->
      <table cellpadding="5" cellspacing="0" border="0" class="tablemsg" width="80%"  align="center">
        <tr>
            <td>
              <font class="fontmsg">El usuario est&aacute; sancionado para los tipos de pr&eacute;stamo:</font>
            </td>
          </tr>
	<!-- TMPL_LOOP NAME="sanctions" -->
	  <tr>
	    <td>
              <font class="fontmsg"><!-- TMPL_IF NAME="description" --><li><!-- TMPL_VAR NAME="description" --> - Desde el <!-- TMPL_VAR NAME="startdate" --> hasta el <!-- TMPL_VAR NAME="enddate" -->.<!-- /TMPL_IF --></font>
	    </td>
	  </tr>
	<!-- /TMPL_LOOP -->
	<!-- TMPL_IF  NAME="debts" -->
	<tr>
            <td>
              <font class="fontmsg">&iexcl;El usuario tiene libros VENCIDOS y por lo tanto no se le pueden realizar pr&eacute;stamos!</font>
            </td>
        </tr>
	<!-- /TMPL_IF -->
      </table>
<!-- /TMPL_IF -->

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >
			Detalle Usuario
		</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>


<table border="0" cellpadding="0" cellspacing="0"  width="100%">
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
		<td colspan="2">Informaci&oacute;n del usuario</td>
		<td width="1%" valign="top" align="rigth"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
    	</tr>
    	<tr>
		<td width="1%">&nbsp;</td>
		<td colspan="2" class="inputFontNormal">
<!-- TMPL_LOOP name="borrower" -->
		<input type="hidden" id="borrowernumber" value="<!-- TMPL_VAR name='borrowernumber' -->">
			Nombre y apellido: <b><a href="/cgi-bin/koha/members/moremember.pl?bornum=<!-- TMPL_VAR name='borrowernumber' -->"> <!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" --></a></b><br>
			Tarjeta de identificaci&oacute;n: <b><!-- TMPL_VAR name="cardnumber" --></b> <br>
			Documento: Tipo:<b> <!-- TMPL_VAR NAME="documenttype" --> </b>N&uacute;mero: <b><!-- TMPL_VAR NAME="documentnumber" --></b><BR>
			Direcci&oacute;n:<b> <!-- TMPL_VAR NAME="streetaddress" -->, <!-- TMPL_VAR name="zipcode" --> <!-- TMPL_VAR NAME="city" --></b><BR>
 			E-mail: <b><a href="mailto:<!-- TMPL_VAR NAME='emailaddress' -->"><!-- TMPL_VAR NAME="emailaddress" --></a></b><br>
			ID de usuario:<b> <!-- TMPL_VAR NAME="borrowernumber" --></b><BR>
			Categor&iacute;a del usuario: <b><!-- TMPL_VAR NAME="categorycode" --></b><BR>
        	</td>
		<td width="1%">&nbsp;</td>
    	</tr>
<!-- /TMPL_LOOP -->

<!-- TMPL_IF name="noissues" -->
	<!-- TMPL_IF NAME="gna" -->
	<tr>
		<td valign="top" class="inputFontNormal">
			<font color="red">GNA</font>
		</td>
		<td class="inputFontNormal" bgcolor="<!-- TMPL_VAR name='color' -->">
			El usuario no posee direcci&oacute;n
		</td>
	</tr>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="lost" -->
	<tr>
		<td valign="top" class="inputFontNormal">
			<font color="red">PERDIDO</font>
		</td>
		<td class="inputFontNormal" bgcolor="<!-- TMPL_VAR name='color' -->">
			La tarjeta de identificaci&oacute;n del usuario se encuentra perdida
		</td>
	</tr>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="dbarred" -->
	<tr>
		<td valign="top">
			<font color="red">DBARRED</font>
		</td>
		<td class="inputFontNormal" bgcolor="<!-- TMPL_VAR name='color' -->">
			El usuario ha sido excluido
		</td>
	</tr>
	<!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
	<!-- TMPL_IF name="waiting" -->
	<tr>
		<td valign="top">EN ESPERA</td>
		<td>
		<!-- TMPL_LOOP name="itemswaiting" -->
			<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=<!-- TMPL_VAR name='id1' -->"><!-- TMPL_VAR name="barcode" --></a> <!-- TMPL_VAR name="titulo" ESCAPE=HTML --><!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF --> (<!-- TMPL_VAR name="branchname" -->)<br>
		<!-- /TMPL_LOOP -->
		</td>
	</tr>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF name="odues" -->
		<!-- TMPL_IF name="nonreturns" -->
	<tr>
		<td valign="top">Debe ejemplares</td>
		<td>Si, vea a continuaci&oacute;n</td>
	</tr>
		<!-- /TMPL_IF -->
	<!-- /TMPL_IF -->
	<!-- TMPL_IF name="notes" -->
	<tr>
		<td valign="top">NOTAS</td>
		<td><!-- TMPL_VAR name="notesmsg" --></td>
	</tr>
	<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
</table>



