<!-- TMPL_IF NAME="borrowernumber" -->
<!-- TMPL_IF NAME="cantIssues" -->

<table class="tablaPrestamos" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
        <tr>
		<td colspan="10" align="center" class="inputFontNormal">
			<b>PR&Eacute;STAMOS</b>
        	</td>
     	</tr>
	<tr class="tablaresultadoTitle">
        	<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
		<td>
			<a class="click" onclick="checkedAll();"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/check.png" border="0" title="Invertir la selecci&oacute;n"></a>
		</td>
                <td>T&iacute;tulo</td>
                <td>Autor</td>
                <td valign="middle">C&oacute;digo de Barras</td>
                <td>Pr&eacute;stamo</td>
                <td>Vencimiento</td>
                <td>Tipo</td>
        	<td width="1%" align="rigth" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
	</tr>
        <!-- TMPL_LOOP name="issues" -->
	<tr>
		<td width="1%">&nbsp;</td>
		<td>
			 <input type="checkbox" name="chkbox1" value="<!-- TMPL_VAR NAME='barcode' -->" id="<!-- TMPL_VAR NAME='barcode' -->">
		</td>
                <td>
			<!-- TMPL_VAR NAME="titulo" ESCAPE=HTML -->
			<!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF -->
		</td>
            	<td>
			<!-- TMPL_VAR NAME="autor" -->
		</td>
            	<td align="center">
            		<a class="inputFontNormal" href="/cgi-bin/koha/busquedas/detalle.pl?id1=<!-- TMPL_VAR NAME='id1' -->"><!-- TMPL_VAR NAME="barcode" --></a>
                </td>
          	<td align="center">
			<!-- TMPL_VAR NAME="date_due" -->
		</td>
           	<td align="center">
                 	<font  color="<!-- TMPL_VAR name='color' -->">
                	<!-- TMPL_VAR NAME="date_fin" -->
               		</font>
               	</td>
          	<td  align="center">
			<!-- TMPL_VAR NAME="issuetype" -->
		</td>
        	<td width="1%">&nbsp;</td>
	</tr>
        <!-- /TMPL_LOOP -->
	<tr>
		<td colspan="10" align="center">
			<input type="image" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/item-return.png" title="Devolver" onClick="realizarDevORen('DEVOLVER')">
			<input type="image" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/renew.png" title="Renovar" onClick="realizarDevORen('RENOVAR')">
		</td>
	</tr>
</table>
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<br>
