<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/AjaxHelper.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/json/jsonStringify.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/state.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>

<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.bgiframe.min.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.autocomplete.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/circulacion.js"></script>

<link href="/intranet-tmpl/blue/es2/includes/jquery/jquery.autocomplete.css" type="text/css" rel="stylesheet">

<script language="javascript" type="text/javascript">

//*********************************************Prestamos******************************************
/*
function infoPrestamo(){
	this.id3= '';
	this.id3Old= '';
	this.tipoPrestamo; //este es el tipo de prestamo para el id3
}*/

// var infoPrestamos_array= new Array();
/*
function generaComboPrestamo(responseText){
	
	infoArray= JSONstring.toObject(responseText);
	var html="<div class='divSeleccionPrestamos'> <p class='fontmsg'>";
	var i;

	for(i=0; i<infoArray.length;i++){
	
		var infoPrestamoObj= new infoPrestamo();
		infoPrestamoObj.id3Old= infoArray[i].id3Old;
		infoPrestamos_array[i]= infoPrestamoObj;
 
		var comboItems =crearCombo(infoArray[i].items, 'comboItems' + i);
		var comboTipoPrestamo =crearCombo(infoArray[i].tipoPrestamo, 'tiposPrestamos' + i);
		if(infoArray[i].autor != ""){ html= html + infoArray[i].autor + ", "};
		html= html + infoArray[i].titulo + ", ";
		if(infoArray[i].unititle != ""){html= html + infoArray[i].unititle + ", "};
		if(infoArray[i].edicion != ""){html= html + infoArray[i].edicion + ". <br>"};
		html= html + "C&oacute;digo de barras: " + comboItems + "<br>";
		html= html + "Tipo de pr&eacute;stamo: " + comboTipoPrestamo + "<br>";
	}

	html= html + "</p>";
	html= html + "<center><input type='button' value='Aceptar' onClick='prestar()'><input type='button' value='Cancelar' onClick='cancelarPrestamo();'></center><br>";
	html= html + "</div>";

	$('#confirmar_prestamos').html(html);

	HiddeState();
}*/
/*
function cancelarPrestamo(){
	$('#confirmar_prestamos').html('');
}*/
/*
function updateInfoPrestamo(){
	cancelarPrestamo();
	detalleReservas(usuario.ID);
}*/

// var objAH;
/*
function prestar(){
	

	for(var i=0; i< infoPrestamos_array.length; i++){
		//se setea el id3 que se va a prestar
		infoPrestamos_array[i].id3= $('#comboItems' + i).val();
		infoPrestamos_array[i].tipoPrestamo= $('#tiposPrestamos' + i).val();
	}
	
	objAH=new AjaxHelper(updateInfoPrestamo, Init);
	objAH.url= '/cgi-bin/koha/circ/circulacionDB.pl';
	objAH.tipoAccion= 'PRESTAMO';
	objAH.infoPrestamos= infoPrestamos_array;
	objAH.borrowernumber= usuario.ID;
	//se envia la consulta
	objAH.sendToServer();
}*/
/*
function crearCombo(items_array, idSelect){

	var opciones= '';	
	var html= "<select id='" + idSelect + "'>";
	var i;

	for(i=0;i<items_array.length;i++){

		opciones= opciones + "<option value=" + items_array[i].value + ">" + items_array[i].label + "</option>";

	}
	
	html= html + opciones + "</select>";
	return html;
}*/
//**********************************************FIN Prestamos*************************************

/*
function object_usuario(){
	this.text;
	this.ID;
}*/
/*
function AutocompleteUsuario(idInput){
	// q= valor de campoHelp
	$("#"+idInput).search();
	$("#"+idInput).autocomplete('/cgi-bin/koha/autocompletables/usuarioAutocomplete.pl',{
 		formatItem: function(row){
			return row[0];
		},
		minChars:1,
        	matchSubset:1,
        	matchContains:1,
		maxItemsToShow:10,
        	cacheLength:10,
        	selectOnly:1,
	});//end autocomplete
	$("#"+idInput).result(function(event, data, formatted) {
		//muestro en el input el usuario seleccioinado
		$("#"+idInput).val(data[0]);
	
 		usuario= new object_usuario();
		usuario.text= data[0];
		usuario.ID= data[1];
		
		detalleUsuario(data[1]);
		detalleReservas(data[1]);
	});
}*/
/*
function updateInfoUsuario(responseText){
	
	$('#detalleUsuario').slideDown('slow');
	$('#detalleUsuario').html(responseText);
	HiddeState();

}*/

/*
function updateInfoReservas(responseText){
	
	$('#tablaReservas').slideDown('slow');
	$('#tablaReservas').html(responseText);
	zebra('tablaReservas');
	checkedAll('checkAllReservas','chkboxReservas');
	HiddeState();

}*/
/*
function detalleUsuario(borrower){

	objAH=new AjaxHelper(updateInfoUsuario, Init);
	objAH.url= '/cgi-bin/koha/circ/detalleUsuario.pl';
	objAH.borrowernumber= borrower;
	//se envia la consulta
	objAH.sendToServer();
}*/
/*
function detalleReservas(borrower){

	objAH=new AjaxHelper(updateInfoReservas, Init);
	objAH.url= '/cgi-bin/koha/circ/detalleReservas.pl';
	objAH.borrnumber= borrower;
	//se envia la consulta
	objAH.sendToServer();
}*/


//**********************************************************************************************************

// IGUAL A LA DE devoluciones.tmpl (realizarDevORen), DISTINTA ACCION Y NOMBRE DE CHECKBOX!!!!!!!!!!!!!!!
// Recomiendo ponerla en un js con la de autocomplete de usuario y las otras tambien y limpiar algunas librerias.
/*
function realizarPrestamo(){
	var chck=$("input[@name='chkbox2']:checked");
	var array= new Array;
	var long=chck.length;
	var borrowernumber=usuario.ID;
	if ( long == 0){
		alert("Elija al menos un documento para prestar");
	}
	else{

		for(var i=0; i< long; i++){
			array[i]=chck[i].value;
		}
		objAH=new AjaxHelper(generaComboPrestamo, Init);
		objAH.url= '/cgi-bin/koha/circ/circulacionDB.pl';
		objAH.tipoAccion= 'CONFIRMAR_PRESTAMO';
		objAH.ids3= array;
		objAH.borrowernumber=borrowernumber;
		//se envia la consulta
		objAH.sendToServer();
	}
}*/


/*
function cancelarReserva(reserveNumber){
	var is_confirmed = confirm('Esta seguro que desea cancelar la reserva?');
        if (is_confirmed) {
		objAH=new AjaxHelper(updateInfoPrestamo, Init);
		objAH.url='/cgi-bin/koha/circ/cancelreserv.pl';
		objAH.borrowernumber=usuario.ID;
		objAH.reserveNumber=reserveNumber;
		objAH.sendToServer();
        }
}*/

//**********************************************************************************************************


$(document).ready(function() {
	//se crea el autocomplete para buscar el usuario
	AutocompleteUsuario('usuarioAutocomplete',detalleReservas);
});

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >
			Pr&eacute;stamos
		</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>
<div id="confirmar_div"></div>
<br>

<div id="buscarUsuario">
	<table border="0" cellpadding="0" cellspacing="0"  align="center" width="100%">
		<tr class="tablaresultadoTitle">
			<td align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png">
			</td>
			<td>
				<b>Ingrese Apellido y Nombres, DNI o Legajo del usuario</b>
			</td>
			<td valign="top" align="right"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<td width="1%">&nbsp;</td>
			<td align="center">
				<input id="usuarioAutocomplete" type="text" class="inputFontNormal" size="40">
			</td>
			<td width="1%">&nbsp;</td>
		</tr>
	</table>
</div> 
<br>

<div id="mensajes"></div>
<div id="detalleUsuario"></div>
<div id="tablaReservas"></div>

<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
