<html>
<head>
  <meta http-equiv="Content-Tipo" content="text/html; charset=iso-8859-1">
</head>
<body onload="javascript:window.print();window.close();">
<body>
<table width="100%">
  <tbody>
    <tr>
      <td align="right">
        Fecha de pr&eacute;stamo: 
      </td>
      <td>
       <b> <!-- TMPL_VAR Name="borrowDate" --></b>
      </td>
    </tr>
    <tr>
      <td align="right">
        Fecha de devoluci&oacute;n:
      </td>
      <td>
        <b><!-- TMPL_VAR Name="returnDate" --></b>
      </td>
    </tr>
     <tr>
              <TD align="right">
        Usuario:
      </TD>
      <td>
       <b><!-- TMPL_VAR Name="borrowerName" --></b>
      </td>
    </tr>
    <tr>
      <TD align="right">
        Autor:
      </TD>
      <td>
        <b><!-- TMPL_VAR Name="author" --></b>
      </td>
    </tr>
	<tr>
	      <TD align="right">
         T&iacute;tulo:
      </TD>
      <td>
        <b><!-- TMPL_VAR Name="bookTitle" ESCAPE=HTML--></b>
      </td>
    </tr>
   <tr>
      <TD align="right">
        Signatura topogr&aacute;fica:
      </TD>
      <td>
        <b><!-- TMPL_VAR Name="topoSign" --></b>
      </td>
    </tr>
    <tr>
      <TD align="right">
        C&oacute;digo de barras:
      </TD>
      <td>
        <b><!-- TMPL_VAR Name="barcode" --></b>
      </td>
    </tr>
    <tr>
      <TD align="right">
        Tipo de pr&eacute;stamo:
      </TD>
      <td>
        <b><!-- TMPL_VAR Name="issuedescription" --></b>
      </td>
    </tr>
    <tr>
      <TD align="right">
        Responsable del pr&eacute;stamo:
      </TD>
      <td>
        <b><!-- TMPL_VAR Name="librarian" --></b>
      </td>
    </tr>
  </tbody>
</table>
<br><br><br>
<table width="100%">
  <tr>
    <td width="20%">
    &nbsp;
    </td>
    <td align="center">
      <hr>
      Firma
    </td>
    <td width="50%">
    &nbsp;
    </td>
  </tr>
</table>
</body>
</html>
