<html>
<head>
  <meta http-equiv="Content-Tipo" content="text/html; charset=iso-8859-1">
</head>
<body onload="javascript:window.print();window.close();">
<!-- LO QUE ESTA COMENTADO ES COMO ESTA ANTES!!!!!!! -->
<table width="100%" border="1px">
  <tbody>
    <tr>
	<td colspan="2" align="center">
		<b>PR&Eacute;STAMO - RENOVACI&Oacute;N</b>
	</td>
    </tr>
        <tr>
      	<TD align="left" width="50%">
        	C&oacute;digo de barras:
      	</TD>
      	<td>
        	<b><!-- TMPL_VAR Name="barcode" --></b>
      	</td>
    </tr>
    <tr>
    	<TD align="left" width="50%">
        	Usuario:
      	</TD>
      	<td>
       		<b><!-- TMPL_VAR Name="borrowerName" --></b>
      	</td>
    </tr>
    <tr>
    	<TD align="left" width="50%">
        	Documento:
      	</TD>
      	<td>
       		Tipo:<b><!-- TMPL_VAR Name="documentType" --></b> N&uacute;mero:<b><!-- TMPL_VAR Name="documentNumber" --></b>
      	</td>
    </tr>
    <tr>
      	<td align="left" width="50%">
        	Fecha de pr&eacute;stamo: 
      	</td>
      	<td>
		<b> <!-- TMPL_VAR Name="borrowDate" --></b>
      	</td>
    </tr>
    <tr>
     	<td align="left" width="50%">
        	Fecha de devoluci&oacute;n:
      	</td>
      <td>
        	<b><!-- TMPL_VAR Name="returnDate" --></b>
      </td>
    </tr>
    <tr>
    	<TD align="left" width="50%">
        	Tipo de pr&eacute;stamo:
      	</TD>
      	<td>
        	<b><!-- TMPL_VAR Name="issuedescription" --></b>
      	</td>
    </tr>

    <tr>
      	<TD align="left" width="50%">
        	Autor:
      	</TD>
      	<td>
        	<b><!-- TMPL_VAR Name="author" --></b>
      	</td>
    </tr>
    <tr>
	<TD align="left" width="50%">
         	T&iacute;tulo:
  	</TD>
      	<td>
        	<b><!-- TMPL_VAR Name="bookTitle" ESCAPE=HTML--></b>
        </td>
    </tr>
   <!-- <tr>
      	<TD align="right">
        	Signatura topogr&aacute;fica:
      </TD>
      <td>
        <b><!-- TMPL_VAR Name="topoSign" --></b>
      </td>
    </tr>-->
     <tr>
      	<TD align="left" width="50%">
        	Tomo:
      </TD>
      <td>
        <b><!-- TMPL_VAR Name="volume" --></b>
      </td>
    </tr>

    <!--<tr>
      	<TD align="right">
        	Tipo de pr&eacute;stamo:
      	</TD>
      	<td>
        	<b><!-- TMPL_VAR Name="issuedescription" --></b>
      	</td>
    </tr>-->
    <tr>
      	<TD align="left" width="50%">
        	Responsable:<!-- del pr&eacute;stamo: -->
      	</TD>
      	<td>
        	<b><!-- TMPL_VAR Name="librarian" --></b>
      	</td>
    </tr>
    <tr>
    	<td align="left" width="50%">
      		Firma del usuario:
    	</td>
    	<td>
    		&nbsp;
    	</td>
    </tr>
<!-- NO ESTABA EN LA VERSION ANTERIOR -->
    <tr>
	<td colspan="2">
		&nbsp;
		<br>
		&nbsp;
		<br>
		&nbsp;
	</td>
    </tr>
  </tbody>
</table>

<table width="100%" border="1px">
  <tbody>
    <tr>
	<td colspan="2" align="center">
		<b>DEVOLUCI&Oacute;N</b>
	</td>
    </tr>
    <tr>
      	<td align="left" width="50%">
        	Fecha: 
      	</td>
      	<td>
		&nbsp;
      	</td>
    </tr>
    <tr>
    	<td align="left" width="50%">
      		Firma del responsable:
    	</td>
    	<td>
    		&nbsp;
    	</td>
    </tr>
  </tbody>
</table>

<!-- AGREGADO HASTA ACA -->

<!--<br><br><br>
<table width="100%">
  <tr>
    <td width="20%">
    &nbsp;
    </td>
    <td align="center">
      <hr>
      Firma
    </td>
    <td width="50%">
    &nbsp;
    </td>
  </tr>
</table>-->
</body>
</html>
