<!-- TMPL_INCLUDE Name="intranet-top.inc" -->
<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >
 			Seleccione Impresora y Configuraci&oacute;n de la Unidad de Informaci&oacute;n
		</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>

<center>
<form method=post action=/cgi-bin/koha/circ/circulation.pl>
	<table border="0" cellpadding="0" cellspacing="0" width="60%">
		<tr class="tablaresultadoTitle">
			<td width="1%" align="left" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
			<td colspan=2 >
			Por favor, elija Unidad de Informaci&oacute;n e Impresora
			</td>
			<td width="1%" align="rigth" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
		</tr>
		<tr>
			<td colspann="4">&nbsp;</td>
		</tr>
		<tr>
			<td width="1%">&nbsp;</td>
			<td class="inputFontNormal"> 
<!--branchselection-->
<!-- TMPL_IF Name="onebranch" -->
Branch: <!-- TMPL_VAR Name="branchname" --><br>
<!-- TMPL_ELSE -->
	<select name=branch>
	<!-- TMPL_LOOP Name="branchloop" -->
		<option value=<!-- TMPL_VAR Name="value" --><!-- TMPL_IF Name="selected" --> selected<!-- /TMPL_IF -->><!-- TMPL_VAR Name="name" -->
	<!-- /TMPL_LOOP -->
	</select>
<!-- /TMPL_IF -->
			</td>
			<td class="inputFontNormal">
<!--printerselection-->
<!-- TMPL_IF Name="oneprinter" -->
Impresora:<b> <!-- TMPL_VAR Name="printername" --></b><br>
<!-- TMPL_ELSE -->
	<select name=printer>
	<!-- TMPL_LOOP Name="printerloop" -->
		<option value=<!-- TMPL_VAR Name="value" --><!-- TMPL_IF Name="selected" --> selected<!-- /TMPL_IF -->><!-- TMPL_VAR Name="name" -->
	<!-- /TMPL_LOOP -->
	</select>
<!-- /TMPL_IF -->
			</td>
			<td width="1%">&nbsp;</td>
		</tr>
	</table>
<br>
<input type="submit" value="Aceptar" type="changesettings">
<input type="hidden" name="setcookies" value=1>

</form>
</center>


<!-- TMPL_INCLUDE Name="intranet-bottom.inc" -->

