.bordetabla{
	background-color: #A2DEF9; 
	color:#000000;
}
table.top{
	background-color: #ececec;
	}
td.number{
	border-color="#FFFFFF"; 
}

td.highnumber{
	border-color="#FFFFFF";
	font-weight: bold;
	text-decoration: underline;

}
h4{background-color: #A2DEF9;
	color:#e3e3db;
	}

.pagetitulo{

 text-decoration: none;
        font-size:11pt;
        font-family:sans-serif;
        background-color:#ffffff;
	font-weight: bold;

}

.tope { Background-color: #f2f2f2; 
	color:#000000;
}
.topeblanco{
	Background-color: #000000;
	color:#000000;	
	}

.fonttitulo{
	text-decoration: none;
        font-size:14pt;
        font-family:sans-serif;
	color:#606060;

}
.tablemsg{
	Background-color: #000000;
	border:0;
	}
.fontmsg{
        text-decoration: none;
        font-size:10pt;
        font-family:verdana;
        color:#f2f2f2;

}

.fontresultado{
	text-decoration: none;
        font-size:10pt;
        font-family:sans-serif;
        color:#000000;
		}

td.impar {Background-color: #dddcd9;}

td.par {Background-color:#dddcd9;}

a{text-decoration: none;
	font-size:8pt;
	font-family:sans-serif;
	color:black;
	}
tr{
	font-size:8pt;
	font-family:sans-serif;
	}

a:link {
	color : #000000;
}

a:visited {
	color : #7d7d7d;
}

a:hover {
	color : #AAAAAA;
}

a:active {
	color : #ffffff;
}

a.white {
	font-weight : normal;
	text-decoration : none;
	cursor : hand;
	color : #FFFFFF;
	padding : 4px;
	}

p {font-family:sans-serif; 
}
body {	background-color : #E9E7E7 ;
	margin : 5px;
}
