<!-- TMPL_IF NAME="opac" -->
    <!-- TMPL_INCLUDE NAME="opac-top.inc" -->
        <!-- TMPL_ELSE -->
	        <!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
		        <!-- /TMPL_IF -->

			

<!-- TMPL_LOOP NAME="BIBLIO_RESULTS" -->
<!-- TMPL_IF NAME="nouser" -->
	<table cellpadding="5" cellspacing="0" border="0" class="tablemsg" width="80%"  align="center">
		<tr>
		<td><font class="fontmsg">El usuario <!-- TMPL_VAR NAME="nouser" -->  es inexistente.</font></td>
		</tr>
	</table>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="sanction" -->
	<table cellpadding="5" cellspacing="0" border="0" class="tablemsg" width="80%"  align="center">
		<tr>
        	<td><font class="fontmsg">El usuario esta sancionado.</font></td>
		</tr>
	</table>
<!-- /TMPL_IF -->


<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" ><!-- TMPL_VAR NAME="title" ESCAPE=HTML --> (<!-- TMPL_LOOP NAME="author" --><a href="/cgi-bin/koha/search.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=intra"><!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF name="nombre" -->, <!-- TMPL_VAR NAME="nombre" --><!-- /TMPL_IF --></a><!-- /TMPL_LOOP -->) </td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>


<!-- TMPL_IF NAME="MSG" -->
	<font size="5" color="red"><!-- TMPL_VAR NAME="MSG" --></font>
<!-- /TMPL_IF -->
<p>

<table border="0" align="center" width="99%" >
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" align="left"  class="tablaresultado" width="100%">
	<!-----------------Registro de libro TABLE--------->
		<tr valign="top" height="24" class="tablaresultadoTitle">
		  <td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		  <td  valign="middle" height="24"><b>Registro de libro </b><!-- TMPL_VAR NAME="biblionumber" --></td>
		  <td width="1%" valign="top" align="right"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
		</tr>
		<tr valign="top">
		  <td >&nbsp;</td>
		  <td><form action="/cgi-bin/koha/modbib.pl" method="post">
		      <table width="100%" border=0 cellspacing=0 cellpadding=0>
			<tr>
				<td>
				<input type="hidden" name="bibnum" value="<!-- TMPL_VAR NAME="biblionumber" -->">
				<input type="image" name="submit" valuE="modify" border="0" src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/editar.png"  hspace=0 vspace=0 border=0 title="Editar Libro">
				<INPUT TYPE="image" name="delete"  VALUE="delete" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/borrar.png"	 hspace=0 vspace=0 border=0  onClick="if (window.confirm('&#191;Est&aacute; seguro que desea borrarlo?')) {return true;} else {return false;}" title="Borrar Libro">
				<a href="MARCdetail.pl?bib=<!-- TMPL_VAR name="biblionumber" -->" class="InputFontNormal"><img src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/MARC.png" border="0"></a> </td>
 			</TR>
		      </table>
		  </form></td>
		  <td >&nbsp;</td>
		</tr>	
			
		<tr>
			<td>&nbsp;</td>
			<td class="inputFontNormal">
			<!-- TMPL_IF name="unititle" -->T&iacute;tulo Informativo:<b> <!-- TMPL_VAR NAME="unititle" --></b><br><!-- /TMPL_IF -->
			<!-- TMPL_IF name="subtitle" -->Otro T&iacute;tulo:<b> <!-- TMPL_VAR NAME="subtitle" --></b><br><!-- /TMPL_IF -->
			
			<table cellspacing=0 border="0" cellpadding=0>
	  		<tr>
				<td valign="top">Autor:&nbsp;</td>
				<td> 
				<!-- TMPL_LOOP NAME="author" -->
			 	<b><a href="/cgi-bin/koha/search.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=intra">
				<!-- TMPL_VAR NAME="completo" --></a></b><br>
				<!-- /TMPL_LOOP -->
				</td>
			</tr>
			</table>

			<!-- TMPL_IF name="ADDITIONAL" -->
			<table cellspacing=0 border="0" cellpadding=0>
	  		<tr>
 				<td valign="top">Autores Adicionales:&nbsp;</td>
				<td> 
				<!-- TMPL_LOOP NAME="ADDITIONAL" -->
				<b><a href="/cgi-bin/koha/search.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=intra"> <!-- TMPL_VAR NAME="completo" --> </a></b><br>
				<!-- /TMPL_LOOP -->
				</td>
			</tr>
			</table>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="COLABS" -->
			<table cellspacing=0 border="0" cellpadding=0>
	  		<tr>
				<td valign="top">Colaboradores:&nbsp;</td>
				<td>
			        <!-- TMPL_LOOP NAME="COLABS" -->
			  	<b><a href="/cgi-bin/koha/search.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=intra"><!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF name="nombre" -->, <!-- TMPL_VAR NAME="nombre" --><!-- /TMPL_IF --> (<!-- TMPL_VAR NAME="tipo" -->)</a></b><br>
				<!-- /TMPL_LOOP -->
				</td>
			</tr>
			</table>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="responsability" -->Menci&oacute;n de responsabilidad:<b> 	<!-- TMPL_VAR NAME="responsability" --></b><br>
			<!-- /TMPL_IF -->

     			<!-- TMPL_IF name="cdu" -->CDU :<b> 
				<!-- TMPL_VAR NAME="cdu" --></b><br> 
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="size" -->Tama&ntilde;o:<b> 
				<!-- TMPL_VAR name="size" --> </b><br>
			<!-- /TMPL_IF -->

			<!-- Comentado porq no es de biblio, sino de biblioitem <!-- TMPL_IF name="collection" --><b>Colecci&oacute;n:</b><!-- TMPL_VAR NAME="seriestitle" --><br><!-- /TMPL_IF --> -->
			
			<!-- TMPL_IF name="SUBJECTS" -->Tema:<b> 
				<!-- TMPL_LOOP NAME="SUBJECTS" -->			
					<a Href="/cgi-bin/koha/search.pl?type=<!-- TMPL_IF NAME=opac -->opac<!-- TMPL_ELSE -->intra<!-- /TMPL_IF -->&subjectid=<!-- TMPL_VAR NAME=subject -->"><!-- TMPL_VAR NAME="nomTema" --></a><!-- TMPL_VAR NAME=separator -->
				<!-- /TMPL_LOOP --></b>
			<br><!-- /TMPL_IF -->
			<!-- TMPL_IF name="notes" -->Notas:<b> 
				<!-- TMPL_VAR NAME="notes" --></b><br>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="abstract" -->Resumen:<b> 
				<!-- TMPL_VAR NAME="abstract" --></b><br>
			<!-- /TMPL_IF -->

	<!-- No se utiliza mas		<!-- TMPL_IF name="serial" --><b>Serial:</b> <!-- TMPL_VAR NAME="serial" --><br><!-- /TMPL_IF --> -->

			<!-- TMPL_IF name="classification" -->Nivel Bibliogr&aacute;fico:<b> <!-- TMPL_VAR name="classification" --></b><br><!-- /TMPL_IF -->

			<!-- TMPL_IF name="lccn" -->LCCN:<b> <!-- TMPL_VAR name="lccn" --></b><br><!-- /TMPL_IF -->

			<!-- TMPL_IF name="url" -->URL:<b> <a href="http://<!-- TMPL_VAR name="url" -->"><!-- TMPL_VAR NAME="url" --></a></b><br><!-- /TMPL_IF -->
			<hr>
		
			N&uacute;mero Total de Ejemplares:<b> <!-- TMPL_VAR NAME="count" --></b> 
		</td>
	</tr>
	</table>
<!-- /TMPL_LOOP -->
<!-- FIXME - The help box overflows on the right. I think this is
     because it is specified as "width=70%", which the browser
     interprets as 70% of the width of the browser window. However,
     leaving out the "width=70%" makes the help box abut the "biblio
     record" box. I think the fix is to put all three boxes in a
     table, for layout, and make the help box as wide as it wants to
     be. -->
</td><td>&nbsp;</td></tr>

<tr>
	<td>

<script>
function confirm_renovacion(num) {
        var is_confirmed = confirm('Esta seguro que desea realizar la renovaci&oacute;n?');
          if (is_confirmed) {
               window.location="/cgi-bin/koha/renewissue.pl?borrnumber=<!-- TMPL_VAR name="borrowernumber" -->&from=moremember&item="+ num;
                        }
                        }
function confirm_devolucion(num,bar,bor) {
        var is_confirmed = confirm('Esta seguro que deseaa devolver el ejemplar?');
          if (is_confirmed) {
               window.location="/cgi-bin/koha/cancelissue.pl?borrnumber="+bor+"&from=detail&item="+ num+"&barcode="+bar;
                        }
                        }
</script>

<center>

<table cellspacing=0 border="0" cellpadding=0 width="100%" class="tablaresultado">
 <!-- <tr class="tablaresultadoTitle" height="24">
	<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
       	<td colspan="2" height="24"  width="710" >Grupos</td>
	<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
</tr>-->
 <!-- TMPL_LOOP NAME="BIBLIOITEMS" -->
<tr>
<td >
<a name="<!-- TMPL_VAR NAME="biblioitemnumber" -->"></a>
</td>
<td valign="top" colspan="4"> <!-- sacar este colspan para que se achique la columna -->
 	<table  cellpadding="0" cellspacing="0"  width="100%" class="tablaresultado">
	<tr>
	<td align="left">

<form action=/cgi-bin/koha/modbibitem.pl>
<input type=hidden name=userloggedname value=<!-- TMPL_VAR NAME="loggedinusername" -->>
<input type=hidden name=bibitem value=<!-- TMPL_VAR NAME="biblioitemnumber" -->>
<input type=hidden name=biblio value=<!-- TMPL_VAR NAME="biblionumber" -->>
<input type=hidden name=from value=detail>
	<br>
	<p style="font-size: 11pt" align="center" class="tablaresultadoTitle">
        <a href="/cgi-bin/koha/moredetail.pl?bib=<!-- TMPL_VAR NAME="biblionumber" -->&bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->">
        <!-- TMPL_VAR NAME="biblioitemnumber" --> GRUPO - <!-- TMPL_VAR NAME="description" -->
        </a></p>
	</td>
	
	</tr>
	<tr>
	<td align="left">

<INPUT TYPE="image" name="submit"  VALUE="modify" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/editar.png" title="Editar Grupo">

<INPUT TYPE="image" name="delete"  VALUE="delete" border=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/borrar.png" title="Borrar Grupo" onClick="if (window.confirm('&#191;Est&aacute; seguro que desea borrarlo?\nCUIDADO, se borrar&aacute;n todos los ejemplares asociados.')) {return true;} else {return false;}">

<a  href="addanalysis.pl?bibnum=<!-- TMPL_VAR name="biblionumber" -->&bibnumitems=<!-- TMPL_VAR name="biblioitemnumber" -->" class="inputFontNormal" ><img src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/analiticas.png" border="0" alt="Anal&iacute;ticas"></a>

 <a href="/cgi-bin/koha/shelves.pl?viewShelfItems=<!-- TMPL_VAR Name="biblioitemnumber" -->&biblio=<!-- TMPL_VAR NAME="biblionumber" -->"><img src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/vertodos.png"  border="0" alt="Estantes Virtuales"></a>


 

</form> </td>
	</tr>
	<tr valign="top">
	<td class="inputFontNormal" align="left">
	<!-- TMPL_IF name="number" -->
        	Edici&oacute;n:<b> <!-- TMPL_VAR NAME="number" --></b> - 
	<!-- /TMPL_IF -->

	 <!-- TMPL_IF name="place" --> 
		Lugar:<b> <!-- TMPL_VAR NAME="place" --></b> - 
	<!-- /TMPL_IF -->

	 <!-- TMPL_IF name="publishercode" --> 
		Editor:<b> <!-- TMPL_VAR NAME="publishercode" --></b>
	<!-- /TMPL_IF --><br>

	<!-- TMPL_IF name="publicationyear" -->
		Fecha:<b> <!-- TMPL_VAR NAME="publicationyear" -->  </b>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF name="volume" -->
		Volumen:<b> <!-- TMPL_VAR NAME="volume" --></b>  
	<!-- /TMPL_IF -->

	<!-- TMPL_IF name="volumeddesc" -->
		Descripci&oacute;n:<b> <!-- TMPL_VAR NAME="volumeddesc" --></b>
	<!-- /TMPL_IF --><br>

	<!-- TMPL_IF name="seriestitle" -->
		Serie:<b> <!-- TMPL_VAR NAME="seriestitle" --></b>  
	<!-- /TMPL_IF -->

	<!-- TMPL_IF name="isbncode" -->
		ISBNs:<b> <!-- TMPL_VAR NAME="isbncode" --></b> 
	<!-- /TMPL_IF -->

	<!-- TMPL_IF name="notes" -->
		Notas:<b> <!-- TMPL_VAR NAME="notes" --></b>
	<!-- /TMPL_IF --><br>

	<!-- TMPL_IF name="pages" -->
		Descripci&oacute;n F&iacute;sica:<b> <!-- TMPL_VAR name="pages" --></b><br>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF name="issn" -->
		ISSN:<b> <!-- TMPL_VAR name="issn" --></b><br>
	<!-- /TMPL_IF -->

 <hr>
		Ejemplares Disponibles:<b> <!-- TMPL_VAR NAME="available" --></b><br>
		Reservas Realizadas: <b> <!-- TMPL_VAR NAME="reserves" --></b></br>
		Ejemplares Prestados:<b> <!-- TMPL_VAR NAME="issue" --></b><br>



	</td>
	</tr>
	</table>
	<hr>
</td>
</tr>
<tr>
	<td valign="top" colspan="4"> <!-- sacar los tr de arriba y el colspan de esta linea-->

	<table cellspacing="0" cellpadding="0"  width="100%" class="tablaresultado" width="100%">
	<form name="formTodos" id="formTodos" method="post">
        <input type=hidden name=userloggedname value='<!-- TMPL_VAR NAME="loggedinusername" -->'>
        <input type=hidden name=bibitemnum value='<!-- TMPL_VAR NAME="biblioitemnumber" -->'>
        <input type=hidden name=biblionum value='<!-- TMPL_VAR NAME="biblionumber" -->'>
        <input type=hidden name=type value=ALL>

	<tr align="center" cellpadding="0"  valign="middle" class="tablaresultadoTitle">

	<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png">
	</td>

	<td colspan="2" ><b>Edici&oacute;n</b>
        <input TYPE="image" name="submit"  VALUE="modify" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/editar.png" onClick="this.form.action='/cgi-bin/koha/moditem.pl'" title="Editar Todos">
	</td>

	</form>

	<td height="24"><b>Sig. Top.</b> </td>
        <td ><b>C&oacute;digo</b></td>
        <td ><b>Disponibilidad</b></td>
        <td ><b>Vencimiento</b></td>
	<td width="30%"  colspan="2"><b>Circulaci&oacute;n</b></td>
	<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</tr>

	<!-- TMPL_LOOP NAME="items" -->
	<tr align="center" cellpadding="0"  valign="middle">
	        <form method=post>
                  <input type=hidden name=userloggedname value='<!-- TMPL_VAR NAME="loggedinusername" -->'>
                  <input type=hidden name=bibitemnum value='<!-- TMPL_VAR NAME="biblioitemnumber" -->'>
                  <input type=hidden name=itemnum value='<!-- TMPL_VAR NAME="itemnumber" -->'>
                  <input type=hidden name=biblio value='<!-- TMPL_VAR NAME="biblionumber" -->'>

                  <input type=hidden name=bulk value='<!-- TMPL_VAR NAME="bulk" -->' >
                  <input type=hidden name=barcode value='<!-- TMPL_VAR NAME="barcode" -->'>
                  <input type=hidden name=bibit value='<!-- TMPL_VAR NAME="biblioitemnumber" -->'>
                  <input type=hidden name=bib value='<!-- TMPL_VAR NAME="biblionumber" -->'>

                  <input type=hidden name=from value=detail>
            <!-- <td>&nbsp;</td> -->
            <td class="impar" width="10%" colspan="2" valign="middle" height="25" align="center">
                <input TYPE="image" name="submit"  VALUE="modify" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/editar.png" onClick="this.form.action='/cgi-bin/koha/moditem.pl'" title="Editar Ejemplar">
            </td>
            <td class="impar" width="6%" valign="middle" align="center">
        <!-- TMPL_UNLESS NAME="issued" -->
                <input TYPE="image" name="delete"  VALUE="delete" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/borrar.png" onClick="if (window.confirm('&#191;Est&aacute; seguro que desea borrarlo?')) {this.form.action='/cgi-bin/koha/delitem.pl';} else {return false;}" title="Borrar Ejemplar">
        <!-- /TMPL_UNLESS -->
            </td>

	    <td class="impar">
		<!-- TMPL_VAR NAME="bulk" -->
	    </td>
	    <td class="inputFontNormal" align="center">
		<a href='/cgi-bin/koha/item-detail.pl?bib=<!-- TMPL_VAR NAME="biblionumber" -->&bibit=<!-- TMPL_VAR NAME="biblioitemnumber" -->&itemnum=<!-- TMPL_VAR NAME="itemnumber" -->&barcode=<!-- TMPL_VAR NAME="barcode" -->&bulk=<!-- TMPL_VAR NAME="bulk" -->' title='Detalle de disponibilidad'>
		<!-- TMPL_VAR NAME="barcode" --></a>
	    </td>
	    <td class="impar" align="center">
		<!-- TMPL_IF NAME = "datedue" --><!-- TMPL_VAR NAME="datedue" --><!-- TMPL_ELSE -->-------<!-- /TMPL_IF -->
	    </td>
	    <td class="impar" align="center">
		
		<!-- TMPL_IF NAME = "returndate" --><!-- TMPL_VAR NAME="returndate" -->
	 	<!-- TMPL_ELSE -->
		<!-- TMPL_IF NAME = "reminderdate" --><!-- TMPL_VAR NAME="reminderdate" --> 
		<!-- TMPL_ELSE -->-------<!-- /TMPL_IF --><!-- /TMPL_IF -->
	    </td>

<!-- TMPL_UNLESS NAME="wthdrawn" --> 
<!-- TMPL_IF NAME="issued" --> 
	    <td class="impar"  valign="middle" align="center"><A HREF="circ/returns.pl?barcode=<!-- TMPL_VAR NAME="barcode" -->&action=return"><img BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/item-return.png" title="Devolver">
	    </td>

	    <td class="impar" valign="middle" align="center"><!-- TMPL_IF NAME="renew" --><A HREF="circ/returns.pl?barcode=<!-- TMPL_VAR NAME="barcode" -->&action=renew"><img BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/renew.png" title="Renovar"><!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
	    </td>

	    <td class="impar">&nbsp;</td>

<!-- TMPL_ELSE -->

<!-- TMPL_IF NAME="forloan" -->
	    <td class="impar" valign="middle" colspan="3" align="center">
		<input TYPE="image" name="borrowD"  VALUE="prestar" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/item-prestar.png" title="Realizar pr&eacute;stamo domiciliario" onClick="gotoborrow('<!-- TMPL_VAR NAME="itemnumber" -->');return false;">
	    </td>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="notforloan" -->
	    <td class="impar" valign="middle" colspan="3" align="center">
		<input TYPE="image" name="borrowS"  VALUE="prestar" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/item-prestar.png" title="Realizar pr&eacute;stamo de sala" onClick="gotoborrow('<!-- TMPL_VAR NAME="itemnumber" -->');return false;">
	    </td>
<!-- /TMPL_IF -->

<!-- /TMPL_IF -->
<!-- /TMPL_UNLESS -->
		</form>
	</tr>
<!-- /TMPL_LOOP -->
</table>
<br>
<table width="100%" class="tablaresultado">
	<tr class="tablaresultado">
        	<td colspan="10">
			<tr>
			<td class="lineagruesa"  align="left"></td>
			</tr>
		</td>
        </tr>
</table>
	

</td>		
</tr>

    <!-- /TMPL_LOOP -->

</center>
</td>
</tr>
</table>


	<!-- TMPL_LOOP NAME="WEB_RESULTS" -->
<table>	
	<tr>
		<td><!-- TMPL_VAR NAME="itemtype" --></td>
		<td>Sitio Web</td>
		<td>Online</td>
		<td>Disponible</td>
		<td></td>
		<td>
			<a href="/cgi-bin/koha/moredetail.pl?item=<!-- TMPL_VAR NAME="itemnumber -->&bib=<!-- TMPL_VAR NAME="biblionumber" -->&bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->">http://<!-- TMPL_VAR NAME="url" --></a>
		</td>
	</tr>
	<!-- /TMPL_LOOP -->
</table>
<p>

<!-- TMPL_VAR NAME="res" -->
<br clear=all>
</p>

<script language="javascript">
function gotoborrow(itemnumber){
	borrower=window.prompt('Ingrese la tarjeta de identificacion o nombre parcial del usuario al que quiere prestar el ejemplar'); 
	if (borrower){
		window.location.href='/cgi-bin/koha/circ/circulation.pl?findborrower='+borrower+'&itemnumber='+itemnumber;
	}
}
</script>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
