<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<center>
<table border="0"  align="center">

	<tr >
	<td  class="fontresultado" align="center" colspan="100%">
		&nbsp;  T&eacute;rmino de b&uacute;squeda: 
		<!-- TMPL_LOOP NAME="AUTORID" -->
		<b> Autor <!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF NAME="nombre" -->,  <!-- TMPL_VAR NAME="nombre" --> <!-- /TMPL_IF--> </b>,  
		<!-- /TMPL_LOOP -->

		<!-- TMPL_LOOP NAME="FORMINPUTS" -->
		<!-- TMPL_IF EXPR="(field eq 'keyword')" --> 
			<b><!-- TMPL_VAR NAME="value" ESCAPE=HTML--></b>, 
		<!-- TMPL_ELSE -->
		<!-- TMPL_IF EXPR="(field eq 'author')" -->
			<b> Autor <!-- TMPL_VAR NAME="value" ESCAPE=HTML--></b>, 
		<!-- TMPL_ELSE -->
		<!-- TMPL_IF EXPR="(field eq 'title')" -->
			<b> T&iacute;tulo <!-- TMPL_VAR NAME="value" ESCAPE=HTML--></b>, 
		<!-- TMPL_ELSE -->
		<!-- TMPL_IF EXPR="(field eq 'subjectid')||(field eq 'subjectitems')" -->
			<b> Tema <!-- TMPL_VAR NAME="descripcion"  ESCAPE=HTML --></b>, 
		<!-- TMPL_ELSE -->
		<!-- TMPL_IF EXPR="(field eq 'class')" -->
			<b> Tipo de Documento <!-- TMPL_VAR NAME="value" ESCAPE=HTML --></b>, 
		<!-- TMPL_ELSE -->
		<!-- TMPL_IF EXPR="(field eq 'analytical')" -->
			<b> Anal&iacute;ticas <!-- TMPL_VAR NAME="value" ESCAPE=HTML --></b>, 
		<!-- TMPL_ELSE -->
		<!-- TMPL_IF EXPR="(field eq 'itemnumber')" -->
			<b> C&oacute;digo de Barras <!-- TMPL_VAR NAME="value" ESCAPE=HTML --></b>, 
		<!-- TMPL_ELSE -->
		<!-- TMPL_IF EXPR="(field eq 'signature')" -->
			<b> Signatura Topogr&aacute;fica <!-- TMPL_VAR NAME="value" ESCAPE=HTML--></b> 
		<!-- /TMPL_IF -->
		<!-- /TMPL_IF--><!-- /TMPL_IF--><!-- /TMPL_IF--><!-- /TMPL_IF-->
		<!-- /TMPL_IF--><!-- /TMPL_IF--><!-- /TMPL_IF-->
		<!-- /TMPL_LOOP -->

		<!-- TMPL_VAR NAME="numrecords" --> resultados encontrados
	</td>
	</tr>
</table> 
<br><br>
<!-- TMPL_IF NAME="displayprev" -->
	<a href="search.pl?orden=<!-- TMPL_VAR NAME='orden' -->&startfrom=<!-- TMPL_VAR NAME='prevstartfrom' -->&<!-- TMPL_LOOP NAME='FORMINPUTS' --><!-- TMPL_VAR NAME='field' -->=<!-- TMPL_VAR name='value' ESCAPE=URL -->&<!-- /TMPL_LOOP -->type=intra"><img src="<!-- TMPL_VAR NAME="themelang" -->/images/numbers/ant.gif" border="0" alt="P&aacute;gina Anterior"></a>
<!-- TMPL_ELSE -->
	<img src="<!-- TMPL_VAR NAME="themelang" -->/images/holder.gif" height="14" width="15" alt="" border="0">
<!-- /TMPL_IF -->
		
<!-- TMPL_LOOP NAME="numbers" -->
	
	<!-- TMPL_IF NAME="highlight" -->
		
		<!-- TMPL_VAR NAME="number" --> 
		
	<!-- TMPL_ELSE -->
		
		<a href="search.pl?orden=<!-- TMPL_VAR NAME='orden' -->&startfrom=<!-- TMPL_VAR NAME='startfrom' -->&<!-- TMPL_LOOP NAME='FORMINPUTS' --><!-- TMPL_VAR NAME='field' -->=<!-- TMPL_VAR name='value' ESCAPE=URL -->&<!-- /TMPL_LOOP -->type=intra">
		<u><!-- TMPL_VAR NAME=number --></u></a>
		
	<!-- /TMPL_IF -->

<!-- /TMPL_LOOP -->
	
	<!-- TMPL_IF NAME="displaynext" -->
		<a href="search.pl?orden=<!-- TMPL_VAR NAME='orden' -->&startfrom=<!-- TMPL_VAR NAME='nextstartfrom' -->&<!-- TMPL_LOOP NAME='FORMINPUTS' --><!-- TMPL_VAR NAME='field' -->=<!-- TMPL_VAR name='value' ESCAPE=URL -->&<!-- /TMPL_LOOP -->type=intra"><img src="<!-- TMPL_VAR NAME="themelang" -->/images/numbers/next.gif" border="0" alt="P&aacute;gina Siguiente"></a>
		<!-- TMPL_ELSE -->
		<img src="<!-- TMPL_VAR NAME="themelang" -->/images/holder.gif" border="0" width="15" height="14" alt="">
	<!-- /TMPL_IF -->	

<!-- Resultados de la b&uacute;squeda Table -->

<!-- TMPL_IF NAME=numrecords -->
<table border=0 cellspacing=0 cellpadding=0 width=98% class="tablaresultado">

	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td width="40%"><a href="search.pl?orden=title&startfrom=0&<!-- TMPL_LOOP NAME='FORMINPUTS' --><!-- TMPL_VAR NAME='field' -->=<!-- TMPL_VAR name='value' ESCAPE=URL -->&<!-- /TMPL_LOOP --> type=intra">T&iacute;tulo</a></td>
		<td width="32%"><a href="search.pl?orden=author&startfrom=0&<!-- TMPL_LOOP NAME='FORMINPUTS' --><!-- TMPL_VAR NAME='field' -->=<!-- TMPL_VAR name='value' ESCAPE=URL -->&<!-- /TMPL_LOOP --> type=intra"> Autor </a></td>
	<!-- TMPL_IF name="revista" -->
		<td height="37" colspan="2"  width="13%">Estado de Colecci&oacute;n </td>
	<!-- TMPL_ELSE -->
		<td height="24" width="13%">Edici&oacute;n/A&ntilde;o</td>
		<td  width="13%"> Disponibilidad </td>
	<!-- /TMPL_IF -->
		<td width="1%" align="right"valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>

	</tr>


<!-- Actual Resultados de la b&uacute;squeda -->
<!-- TMPL_LOOP NAME=SEARCH_RESULTS -->
	<tr>
		<td  class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>

 	<!-- TMPL_IF NAME="analyticalnumber" -->
		<td class="<!-- TMPL_VAR name="clase" -->">
			<a class="inputFontNormal" href="/cgi-bin/koha/addanalysis.pl?bibnum=<!-- TMPL_VAR NAME=biblionumber ESCAPE=URL -->&bibnumitems=<!-- TMPL_VAR NAME=biblioitemnumber ESCAPE=URL -->#<!-- TMPL_VAR NAME=analyticalnumber -->"><!-- TMPL_VAR NAME=analyticaltitle ESCAPE=HTML --></a>
		</td>
		
		<td class="<!-- TMPL_VAR name="clase" -->">
		<!-- TMPL_IF name="analyticalauthor" -->
		<!-- TMPL_LOOP NAME="analyticalauthor" -->
			<a href="/cgi-bin/koha/search.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=intra">
		<!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF name="nombre" -->, <!-- TMPL_VAR NAME="nombre" --><!-- /TMPL_IF --></a><br>
		<!-- /TMPL_LOOP -->
		<!-- /TMPL_IF -->
		</td>

		<td class="<!-- TMPL_VAR name="clase" -->" class="inputFontNormal" colspan="2">
			EN:  <a href="/cgi-bin/koha/search.pl?authorid=<!-- TMPL_VAR NAME="autorppal" ESCAPE="URL" -->&type=intra"><!-- TMPL_VAR NAME="completo" --></a>
			<a class="inputFontNormal" href=/cgi-bin/koha/detail.pl?type=intra&bib=<!-- TMPL_VAR NAME=biblionumber ESCAPE=URL -->><!-- TMPL_VAR NAME="title" ESCAPE=HTML --><!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle"  --><!-- /TMPL_IF --></a>. <!-- TMPL_VAR NAME="number" --> <!-- TMPL_VAR NAME="place" --> <!-- TMPL_VAR NAME="publishercode" --> <!-- TMPL_VAR NAME="publicationyear" -->
		</td>

	<!-- TMPL_ELSE -->

		<td class="<!-- TMPL_VAR name="clase" -->">
			<a class="inputFontNormal" href="/cgi-bin/koha/<!-- TMPL_VAR name="script" -->?type=intra&bib=<!-- TMPL_VAR NAME=biblionumber ESCAPE=URL --><!-- TMPL_IF name="itemnumber" -->#<!-- TMPL_VAR NAME="biblioitemnumber" --><!-- /TMPL_IF -->">
			<!-- TMPL_VAR NAME=title ESCAPE=HTML --><!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF --></a>
		</td>

		<td class="<!-- TMPL_VAR name="clase" -->">
			<a class="inputFontNormal" href="/cgi-bin/koha/search.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=intra">
			<!-- TMPL_VAR NAME="nomCompleto" --></a>
		</td>

	<!-- TMPL_IF name="revista" -->
		<td colspan="2" class="<!-- TMPL_VAR name="clase" -->" class="inputFontNormal">
			<!-- TMPL_VAR NAME="descriptor" -->
	<!-- TMPL_ELSE -->

		<td class="<!-- TMPL_VAR name="clase" -->" class="inputFontNormal">
			<!-- TMPL_LOOP NAME="grupos" -->
				<!-- TMPL_IF name="edicion" --><!-- TMPL_VAR NAME="edicion" --> &nbsp;<!-- /TMPL_IF --><!-- TMPL_IF name="publicationyear" -->(<!-- TMPL_VAR NAME="publicationyear" -->)<!-- /TMPL_IF -->
				<!-- TMPL_IF NAME="volume" -->        t <!-- TMPL_VAR NAME="volume" --><!-- /TMPL_IF --><br>
			<!-- /TMPL_LOOP -->
		</td>

		<td  class="<!-- TMPL_VAR name="clase" -->" class="inputFontNormal">
			<!-- TMPL_LOOP NAME="counts" -->
				<!-- TMPL_VAR NAME="nombre" --> (
				Para Pr&eacute;stamo:<!-- TMPL_IF name="cantXbranchForLoan" --> <!-- TMPL_VAR NAME="cantXbranchForLoan" --><!-- TMPL_ELSE -->0<!-- /TMPL_IF -->
				<!-- TMPL_IF name="reservados"-->,<br> Reservados:<!-- TMPL_VAR NAME="reservados"--><!-- /TMPL_IF -->
				<!-- TMPL_IF name="prestados"-->,<br> Prestados:<!-- TMPL_VAR NAME="prestados"--><!-- /TMPL_IF -->,<br>
				Para Sala:<!-- TMPL_IF name="cantXbranchNotForLoan" --> <!-- TMPL_VAR NAME="cantXbranchNotForLoan" --><!-- TMPL_ELSE -->0<!-- /TMPL_IF -->
				<!-- TMPL_IF name="cantXbranchUnavail" -->,<br> No disponibles: <!-- TMPL_VAR NAME="cantXbranchUnavail" --><!-- /TMPL_IF -->
				<!-- TMPL_IF name="cantXbranchShared" -->,<br> Compartidos: <!-- TMPL_VAR NAME="cantXbranchShared" --><!-- /TMPL_IF -->) <br>
         		<!-- /TMPL_LOOP -->
		</td>	
	<!-- /TMPL_IF -->
	<!-- /TMPL_IF -->

		<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
	</tr>
<!-- /TMPL_LOOP -->

	<tr>
		<td colspan=6>
			<table border=0 cellpadding=0 cellspacing=0 width="100%">
			<tr>
			<td class="lineagruesa"  align="left" colspan="3"></td>
			</tr>

			<tr>
			<td align=left>
				<!-- TMPL_IF NAME=displayprev -->
				<a class="inputFontNormal" href="search.pl?startfrom=<!-- TMPL_VAR NAME="prevstartfrom" -->&<!-- TMPL_LOOP NAME=FORMINPUTS --><!-- TMPL_VAR NAME=field -->=<!-- TMPL_VAR name="value" ESCAPE=URL -->&<!-- /TMPL_LOOP -->type=intra">Anteriores</a>
				<!-- TMPL_ELSE -->
				&nbsp;
				<!-- /TMPL_IF -->
			</td>
			<td align=right>
				<!-- TMPL_IF NAME=displaynext -->
				<a class="inputFontNormal" href="search.pl?startfrom=<!-- TMPL_VAR NAME="nextstartfrom" -->&<!-- TMPL_LOOP NAME=FORMINPUTS --><!-- TMPL_VAR NAME=field -->=<!-- TMPL_VAR name="value" ESCAPE=URL -->&<!-- /TMPL_LOOP -->type=intra">Siguientes</a>
				<!-- TMPL_ELSE -->
				&nbsp;
				<!-- /TMPL_IF -->
			</td>
			</tr>
			</table>
		</td>
	</tr>
</table>

<br>

Resultados <b><!-- TMPL_VAR NAME="startfrom" --></b> a <b><!-- TMPL_VAR NAME="endat" --></b> de <b><!-- TMPL_VAR NAME="numrecords" --></b> registros.

<hr>
Intentar una nueva <a href=/cgi-bin/koha/catalogue-home.pl>b&uacute;squeda</a>

<!-- TMPL_ELSE -->

Intentar una nueva <a href=/cgi-bin/koha/catalogue-home.pl>b&uacute;squeda</a>
<!-- /TMPL_IF -->
</center>
 <!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
