[% INCLUDE "intranet-top.inc" %]

<script type="text/javascript" src="/includes/jquery/jquery.uitablefilter.js" ></script>
<script type="text/javascript" language="javascript">

    $(document).ready( function() {
	    makeDataTable('#revisiones_pendientes');
    });
    


</script>

<fieldset>
    <legend class="titulo_legend">[% "Revisiones pendientes" | i18n %] </legend>

    <form class="well form-search" onsubmit="return false">
        <input class="placeholder" placeholder="Filtrar resultados" type="text" id="q" name="q">
    </form>

 [% IF cantidad  %]
      [% PERL %]
                print C4::AR::Filtros::tableHeader(   
                                  id              => "revisiones_pendientes",
                                  class           => "",
                                  selectAll_id    => "prestamos_vencidos",
                                  columns         => ['[% "Apellido y nombre"|i18n %]','[% "N&uacute;mero de Socio"|i18n %]',
                                                    '[% "Ejemplar"|i18n %]','[% "Tipo de pr&eacute;stamo"|i18n %]',
                                                    '[% "Fecha de pr&eacute;stamo"|i18n %]',
                                                    
                                                     ]
                                                                   
                                        ) ;
      [% END %]

			<tbody>
		      [% FOREACH prestamo IN prestamos %]
		      	<tr>
		      	    <td>
		     		        <input type="checkbox" id="[% prestamo.getId_prestamo %]" name="prestamo" >
				        </td>
		      	    <td>
		      	      [% TRY %]
		                  [% prestamo.socio.persona.getApeYNom %]
		              [% CATCH %]
		                  [% 'Usuario inexistente' | i18n %]
		              [% END %]
				        </td>
		      	    <td>
                      [% TRY %]
                        [% PERL %]
                            print C4::AR::Filtros::link_to(   text   => "[% prestamo.socio.getNro_socio %]",
                                                              url    => "[% url_prefix %]/usuarios/reales/datosUsuario.pl",
                                                              params => ["nro_socio=[% prestamo.socio.getNro_socio %]"],
                                                              title  => "[% 'Mostrar Detalle del Usuario' | i18n %]",
                                                              blank  => 1,
                                                        );
                        [% END %]
                      [% CATCH %]
                          [% 'Usuario inexistente' | i18n %] ([% prestamo.nro_socio %])
                      [% END %]
    				    </td>
    				    <td>
		          	    [% PERL %]
                            print C4::AR::Filtros::link_to( text    => "[% prestamo.nivel3.codigo_barra %]",
                                                            url     => "[% url_prefix %]/catalogacion/estructura/detalleEjemplar.pl", 
                                                            params  => ["id3=[% prestamo.nivel3.getId3 %]"],
                                                            title   => "[% prestamo.nivel3.codigo_barra %]"
                                                        );
                        [% END %]
				        </td>
		          	<td>
		                [% prestamo.tipo.getDescripcion %]
				        </td>
		          	<td>
		          	    [% prestamo.getFecha_prestamo_formateada %]
				        </td>
		        </tr>
		      [% END %]
		     </tbody>
  </table>
  <div class="form-actions">
       [% PERL %]
               print C4::AR::Filtros::action_button(
                                               button       => "btn click btn-warning",
                                               action       => "enviarMailsATodos();",
                                               icon         => "",
                                               title        => "Enviar a todos",
                                           ) ;
        
       [% END %]
       [% PERL %]
               print C4::AR::Filtros::action_button(
                                               button       => "btn click btn-primary",
                                               action       => "enviarMailsASeleccionados();",
                                               icon         => "",
                                               title        => "Enviar a seleccionados",
                                           ) ;
        
       [% END %]
  </div>
[% ELSE %]
        <div class="alert alert-info">[% "No hay pr&eacute;stamos vencidos" | i18n %]</div> 
[% END %]

   

<!--<button class="clean-gray" onclick="enviarMailsASeleccionados();">Enviar a Seleccionados</button>-->
</fieldset>

[% INCLUDE "intranet-bottom.inc" %]
