<fieldset>
    <legend class="titulo_legend">[% "Tipos Sanciones" | i18n %] </legend>
    <table class="table table-striped">
      <thead>    
        <tr class="titulo_tabla_resultado">

            <th>[% "Orden" | i18n %]</th>
            <th>[% "D&iacute;as de demora" | i18n %]</th>
            <th>[% "D&iacute;as de sanci&oacute;n" | i18n %]</th>
            <th>[% "Cantidad" | i18n %]</th>
            <th> [% "Eliminar" | i18n %]</th>

            </tr>
      </thead>  
      <tbody>
            [% FOREACH regla_tipo IN REGLAS_TIPOS_SANCIONES %]
            <tr>

                <td>[% regla_tipo.getOrden %]</td>
                <td>[% regla_tipo.ref_regla.getDias_demora %]</td>
                <td>[% regla_tipo.ref_regla.getDias_sancion %]</td>
                <td>[% IF regla_tipo.getCantidad %] [% regla_tipo.getCantidad %]  [% ELSE %] <i class="icon-refresh" title="[% 'Infinito' | i18n %]"></i> [% END %]</td>
                <td>
                [% PERL %]
                        print C4::AR::Filtros::action_button(  
                                                            button  => "btn btn-danger",
                                                            action  => "eliminarReglaTipoSancion([% regla_tipo.getTipo_sancion %],[% regla_tipo.getRegla_sancion %]);",
                                                            icon    => "icon-white icon-remove",
                                ) ;
                [% END %]
                </td>

            </tr>
        [% END %]
      </tbody>
      </table>
      <table class="table table-striped">
        <thead>    
          <tr>
              <th>[% "Orden" | i18n %]</th>
              <th>[% "Regla" | i18n %]</th>
              <th>[% "Cantidad" | i18n %]</th>
              <th>[% "Agregar" | i18n %]</th>
          </tr>
        </thead>
        <tbody>
          <tr>
                  <td>[% ordenes %]</td>
                  <td>
                    [% reglas_de_sancion %]
                    [% PERL %]
                          print C4::AR::Filtros::action_button(  
                                                              button   => "btn btn-info",
                                                              action => "editarReglas();",
                                                              icon  => "icon-white icon-pencil",
                                  ) ;
                      [% END %]
                  </td>
                  <td>[% cantidades %]</td>
                  <td style="width: 120px;">
	                  [% PERL %]
	                          print C4::AR::Filtros::action_button(  
	                                                              button   => "btn btn-primary",
	                                                              action => "agregarReglaTipoSancion();",
                                                                  icon  => "icon-white icon-plus",
	                                  ) ;
	                  [% END %]
                  </td>
          </tr>
        </tbody>
    </table>
</fieldset>
