<table class="table table-striped">
  <thead>
    <tr>
        <th>[% "C&oacute;digo" | i18n %]</th>
        <th>[% "Descripci&oacute;n" | i18n %]</th>
        <th>[% "M&aacute;xima cantidad de pr&eacute;stamos" | i18n %]</th>
        <th>[% "D&iacute;as de duraci&oacute;n del pr&eacute;stamo" | i18n %]</th>
        <th>[% "Renovaciones" | i18n %]</th>
        <th>[% "D&iacute;as de Renovaci&oacute;n" | i18n %]</th>
        <th>[% "Cantidad de d&iacute;as para renovar" | i18n %]</th>
        <th>[% "Para Sala" | i18n %]</th>
        <th>[% "Habilitado" | i18n %]</th>
        <th>[% "Editar" | i18n %]</th>
<!--         <th>[% "Eliminar" | i18n %]</th> -->
    </tr>
  </thead>

  <tbody>
    [% FOREACH tipo_prestamo IN TIPOS_PRESTAMOS_LOOP %]
    <tr>    
        <td>
                [% tipo_prestamo.getId_tipo_prestamo %]
        </td>
        <td>
                [% tipo_prestamo.getDescripcion %]
        </td>
        <td>
                [% tipo_prestamo.getPrestamos %]
        </td>
        <td>
                [% tipo_prestamo.getDias_prestamo %]
        </td>
        <td>
                [% tipo_prestamo.getRenovaciones %]
        </td>
        <td>
                [% tipo_prestamo.getDias_renovacion %]
        </td>
        <td>
                [% tipo_prestamo.getDias_antes_renovacion %]
        </td>
        <td>
                [% IF tipo_prestamo.codigo_disponibilidad == 'CIRC0001' %]
                        [% "Si" | i18n %]
                [% ELSE %]
                        [% "No" | i18n %]
                [% END %]
        </td>
        <td>
                [% IF tipo_prestamo.getHabilitado %]
                        [% "Si" | i18n %]
                [% ELSE %]
                        [% "No" | i18n %]
                [% END %]
        </td>
        <td>

                            [% PERL %]
                                  print C4::AR::Filtros::action_button(
                                                                  button       => "btn btn-primary click",
                                                                  action       => 'modificarTipoPrestamo("[% tipo_prestamo.getId_tipo_prestamo %]")',
                                                                  icon         => "icon-white icon-edit",
                                                                  title        => "",
                                  ) ;
                            [% END %]


        </td>
    </tr>
[% END %]
       
 </tbody>
</table>

  <div class="form-actions">
	  [% PERL %]
	                      
	                      print C4::AR::Filtros::to_Button(   text    => "[% 'Agregar' | i18n %]",
	                                                          boton   => "boton_buscar",
	                                                          onClick => "agregarTipoPrestamo();",
	                                                          title   => "[% 'Agregar Tipo de Pr&eacute;stamo' | i18n %]",
	                                                          alternClass => "botonCentrado"
	                              ) ;
	  [% END %]
  </div>
