<fieldset>
    <legend>[% "Preferencias del cat&aacute;logo" | i18n %]</legend>
    <div>
        
        [% PERL %]
            print C4::AR::Filtros::tableHeader(   
                            id              => "preferenciasCatalogo_table",
                            class           => "",
                            selectAll_id    => "",
                            columns         => ['[% "Variable"|i18n %]','[% "Valor"|i18n %]','[% "Explicaci&oacute;n"|i18n %]',
                                                '[% "Editar"|i18n %]' ]
                        ) ;
        [% END %]
    

        <tbody>
        [% FOREACH preferencia IN preferencias %]
            <tr>
                <td>[% preferencia.getVariable %]</td>
                <td>[% preferencia.getShowValue %]</td>
                <td>[% preferencia.getExplanation %]</td>
                <td>                  
                    [% PERL %]
                          print C4::AR::Filtros::action_button( 
                                                    button         => "btn click",
                                                    action       => 'modificarVariable("[% preferencia.getVariable %]","[% preferencia.getType %]");', 
                                                    icon         => "icon-pencil",
                                                  ) ;


                    [% END %]
                </td>
            
            </tr>
        
        [% END %]
        
            </tbody>
        </table>
    </div>
</fieldset>

<div id="divResultado" style="clear: both;"></div>
