[% INCLUDE "intranet-top.inc" %]

<script type="text/javascript">

    var prefBooleanas = new Array();

    [% FOREACH pref IN preferenciasBooleanas %]
    
        prefBooleanas.push('[% pref.variable %]');

    [% END %]


    //actualizo los input hidden con los valores de los radio button de bootstrap
    function guardarPreferencias(){

        for(pref in prefBooleanas){

            if($('#radios_' + prefBooleanas[pref] + '').find('.active').text() == "[% "Si" | i18n %]"){
                $('#' + prefBooleanas[pref] +'').val(1);
            }else{
                $('#' + prefBooleanas[pref] +'').val(0);
            }
            
        }

        $('#formPreferenciasCatalogo').submit();

    }

</script>


<form id="formPreferenciasCatalogo" class="form-horizontal" 
      action="[% url_prefix %]/admin/global/catalogo_config.pl?token=[% token %]" method="post"
      onsubmit="buttonPost('preferencias-submit');"
      >
    <fieldset class="resultados_busqueda">
    <legend>[% "Administraci&oacute;n de preferencias de Cat&oacute;logo" | i18n %]</legend>

    
            [% FOREACH preferencia IN preferencias %]
            
                <div class="control-group">
                    <label class="control-label">[% preferencia.preferencia.getLabel | i18n %]</label>
                    <div class="controls">
                    
                        [% IF preferencia.valor %]
                            [%  preferencia.valor %]
                        [% ELSE %]
                            <input id="valor" type="text" size="50" name="valor">
                        [% END %]
                        
                        [% IF preferencia.tabla %]<input type="hidden" id="[% preferencia.preferencia.getId %]_tabla" value="[% preferencia.tabla %]">[% END %]
                        [% IF preferencia.campo %]<input type="hidden" id="[% preferencia.preferencia.getId %]_campo" value="[% preferencia.campo %]">[% END %]
                        
                        [% PERL %]
                            print C4::AR::Filtros::setHelpInput(   
                                                text        => "[% preferencia.preferencia.getExplanation | i18n %]",
                                        ) ;
                            
                        [% END %]
                    </div>
                </div>
            [% END %]
            
    <input type="hidden" id="editando" name="editando" value="1">
                    [% IF mensaje %]
                            <div class="alert [% mensaje_class %]">
                                    <strong>[% 'Informaci&oacute;n' | i18n %]</strong> [% mensaje %]
                            </div>
                    [% END %]
    
    <div class="form-actions">
        [% PERL %]
                    print C4::AR::Filtros::action_button(   
                                                        title   => "[% 'Guardar' | i18n %]",
                                                        button  => "btn btn-primary",
                                                        id      => "preferencias-submit",
                                                        action  => "guardarPreferencias();",
                                                        icon    => "icon-white icon-ok",
                            ) ;
        [% END %]
    </div>
</form>

[% INCLUDE "intranet-bottom.inc" %]