<fieldset class="resultados_busqueda">
    <legend class="titulo_legend">[% "Preferencias de circulaci&oacute;n" | i18n %]</legend>
    <div class="tablaResultado_preferencias" id="tablaResultado_preferencias" >
        <table name="tablaResult" class="table table-striped">
            <thead>
                <tr>
                    <th>[% "Variable" | i18n %]</th>
                    <th>[% "Valor" | i18n %]</th>
                    <th>[% "Explicaci&oacute;n" | i18n %]</th>
                    <th>[% "Editar" | i18n %]</th>
                </tr>
            </thead>
            <tbody>
            [% FOREACH preferencia IN preferencias %]
              <tr>
                <td >[% preferencia.getVariable %]</td>
                <td >[% preferencia.getShowValue %]</td>
                <td >[% preferencia.getExplanation %]</td>
                <td>
                    [% PERL %]
                            print C4::AR::Filtros::to_Icon(    
                                            boton   => "icon_edicion",
                                            onClick => "modificarVariable('[% preferencia.getVariable %]','[% preferencia.getType %]');",
                                            title   => "[% 'Modificar Preferencia' | i18n %]",
                                            alternClass => "botonCentradoTabla"
                                    ) ;
                    [% END %]
                </td>
              </tr>
        
            [% END %]
        
            </tbody>
        </table>
    </div>
</fieldset>

<div id="divResultado" style="clear: both;"></div>
