[% INCLUDE "intranet-top.inc" %]

<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
    actualizarTabla();
    zebra('datos_tabla');
});

function actualizarTabla(){
    objAH               = new AjaxHelper(updateActualizarTabla);
	objAH.debug         = true;
	objAH.url           = URL_PREFIX+"/admin/global/preferenciasDB.pl";
    objAH.showOverlay   = true;
	objAH.accion        = "ACTUALIZAR_TABLA_CIRCULACION";
	objAH.sendToServer();
}

function updateActualizarTabla(responseText){
    $("#result").html(responseText);
    zebra('datos_tabla');
}

function modificarVariable(variable,tipo){

	objAH                       = new AjaxHelper(updateModificarVariable);
	objAH.debug                 = true;
    objAH.showOverlay           = true;
	objAH.url                   = URL_PREFIX+"/admin/global/preferenciasDB.pl";
	objAH.variable              = variable;
	objAH.accion                = "MODIFICAR_VARIABLE";
	objAH.sendToServer();
}

function updateModificarVariable(responseText){
    $("#divResultado").show();
	$("#divResultado").html(responseText);
	scrollTo('divResultado');
}


function guardarModificacion(){

	objAH               = new AjaxHelper(updateGuardarModificacion);
	objAH.debug         = true;
	objAH.url           = URL_PREFIX+"/admin/global/preferenciasDB.pl";
    objAH.showOverlay   = true;
	objAH.variable      = $("#variable").val();
	objAH.valor         = $("#valor").val();
    objAH.categoria     = 'circulacion';

	if ($("#tipoVar").val() == 'bool'){
	    objAH.valor=(getRadioButtonSelectedValue( $("[name=valor]")));
	}

	objAH.explicacion   = $("#explicacion").val();
	objAH.accion        = "GUARDAR_MODIFICACION_VARIABLE";
	objAH.sendToServer();

}


function updateGuardarModificacion(responseText){
    actualizarTabla();
    $("#divResultado").hide();
	var Messages=JSONstring.toObject(responseText);
	setMessages(Messages);
}

</script>

<div id="result"></div>


[% INCLUDE "intranet-bottom.inc" %]
