[% INCLUDE "intranet-top.inc" %]
[% INCLUDE 'AutocompleteHelper.inc'  %]

<script type="text/javascript">
 $(document).ready(function() {
         CrearAutocompleteCiudades({IdInput: 'ciudad', IdInputHidden: 'id_ciudad'})
 });
</script>
    
<fieldset width="100%">
    <legend class="titulo_legend"> [% "Configuraci&oacute;n del servidor LDAP" | i18n %] </legend>
    <div>
        <h2>Usar un servidor LDAP</h2>
        <p>Este método proporciona autenticaci&oacute;n contra un servidor LDAP externo. Si el nombre de usuario y contraseña facilitados son validos, MERAN crea una nueva entrada para el usuario en su base de datos.</p>
    </div>
        
        
<br>
<!--form-->
<form action="[% url_prefix %]/admin/global/ldap_config.pl?token=[% token %]" method="post">
<input type="hidden" name="adding" value="1"/>
<h4>Ajustes de servidor LDAP </h4> 
<ul>
    <li class="sub_item">
    <!-- aca usamos una pref_preferencia_sistema que ya existe -->
        <label>[% "URL del servidor" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Direccion del servidor LDAP.' | i18n %]",);
            [% END %]
        </label> 
        <input name="host_url" size="30" value="[% preferencias.ldap_server %]" type="text">
    </li>
    <li class="sub_item">
        <label>[% "Puerto del servidor" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Indique el numero de puerto del servidor.' | i18n %]",);
            [% END %]
        </label> 
        <input name="host_port" size="10" value="[% preferencias.ldap_port %]" type="text">
    </li>
    <li class="sub_item">
        <label>[% "Tipo de comunicaci&oacute;n" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Indica como sera la comunicacion, SSL, TLS o PLAIN, por defecto es PLAIN.' | i18n %]",);
            [% END %]
        </label> 
        <select name="host_type">
            <option value="TLS" [% IF preferencias.ldap_type == 'TLS' %] selected="selected" [% END %]>TLS</option>
            <option value="SSL" [% IF preferencias.ldap_type == 'SSL' %] selected="selected" [% END %]>SSL</option>
            <option value="PLAIN" [% IF preferencias.ldap_type == 'PLAIN' %] selected="selected" [% END %]>PLAIN</option>
        </select>
    </li>
    <li class="sub_item">
        <label>[% "Versi&oacute;n" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'La versi&oacute;n del protocolo LDAP que su servidor est&aacute; utilizando.' | i18n %]",);
            [% END %]
        </label>
        <select id="menuversion" class="select menuversion" name="version"> 
           <option value="2" [% IF preferencias.ldap_version == 2 %] selected="selected" [% END %]>2</option> 
           <option value="3" [% IF preferencias.ldap_version == 3 %] selected="selected" [% END %]>3</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Codificaci&oacute;n LDAP" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Especifique la codificaci&oacute;n usada por el servidor LDAP. Muy probablemente utf-8, MS AD v2 utiliza codificaci&oacute;n de plataforma por defecto como cp1252, cp1250, etc.' | i18n %]",);
            [% END %]
        </label> 
        <input id="ldapencoding" name="ldapencoding" value="[% preferencias.ldap_encoding %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Sufijo de la base de datos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Sufijo de la Base de Datos Ldap que se usa para completar el usuario. Ej: dc=unlp,dc=edu,dc=ar.' | i18n %]",);
            [% END %]
        </label> 
        <input name="prefijo_base" size="10" value="[% preferencias.ldap_prefijo_base %]" type="text">
    </li>
    <br>
    <h4>Fijar ajustes </h4> 
    <li class="sub_item">
        <label>[% "Agregar desde LDAP" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Indica si se agrega automaticamente a la base de MERAN un usuario valido en el LDAP cuando se autentica positivamente. 0 o 1.' | i18n %]",);
            [% END %]
        </label> 
        <select name="agregar_user_ldap">
            <option value="0" [% IF preferencias.ldap_agregar_user == 0 %] selected="selected" [% END %]>No</option>
            <option value="1" [% IF preferencias.ldap_agregar_user == 1 %] selected="selected" [% END %]>Si</option>
        </select>
    </li>
    <li class="sub_item">
        <label>[% "Ocultar contrase&ntilde;as" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Seleccione *s&iacute;* para evitar que las contrase&ntilde;as se almacenen en la base de datos de MERAN.' | i18n %]",);
            [% END %]
        </label> 
        <select id="menupreventpassindb" name="preventpassindb"> 
           <option value="0" [% IF preferencias.ldap_preventpassindb == 0 %] selected="selected" [% END %]>No</option> 
           <option value="1" [% IF preferencias.ldap_preventpassindb == 1 %] selected="selected" [% END %]>S&iacute;</option> 
        </select> 
    </li>    
    <li class="sub_item">
        <label>[% "Nombre distinguido" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si quiere usar *bind-user* para buscar usuarios, especif&iacute;quelo aqu&iacute;. Algo como cn=ldapuser,ou=public,o=org' | i18n %]",);
            [% END %]
        </label> 
        <input name="bind_dn" id="bind_dn" size="30" value="[% preferencias.ldap_bind_dn %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Contrase&ntilde;a" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Contrase&ntilde;a para bind-user.' | i18n %]",);
            [% END %]
        </label> 
        <input name="bind_pw" id="bind_pw" size="30" value="[% preferencias.ldap_bind_pw %]" type="password"> 
    </li>
    <br>
    <h4>Ajustes de búsqueda de usuario </h4> 
    <li class="sub_item">
        <label>[% "Tipo de usuario" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Seleccione c&oacute;mo se almacenar&aacute;n los usuarios en LDAP. Este ajuste tambi&eacute;n especifica c&oacute;mo funcionar&aacute;n la caducidad del acceso, los accesos libres y la creaci&oacute;n de usuarios.' | i18n %]",);
            [% END %]
        </label> 
        <select id="menuuser_type" class="select menuuser_type" name="user_type"> 
           <option value="edir" [% IF preferencias.ldap_user_type == 'edir' %] selected="selected" [% END %]>Novell Edirectory</option> 
           <option value="rfc2307" [% IF preferencias.ldap_user_type == 'rfc2307' %] selected="selected" [% END %]>posixAccount (rfc2307)</option> 
           <option value="rfc2307bis" [% IF preferencias.ldap_user_type == 'rfc2307bis' %] selected="selected" [% END %]>posixAccount (rfc2307bis)</option> 
           <option value="samba" [% IF preferencias.ldap_user_type == 'samba' %] selected="selected" [% END %]>sambaSamAccount (v.3.0.7)</option> 
           <option value="ad" [% IF preferencias.ldap_user_type == 'ad' %] selected="selected" [% END %]>MS ActiveDirectory</option> 
           <option value="default" [% IF preferencias.ldap_user_type == 'default' %] selected="selected" [% END %]>Por defecto</option> 
        </select>  
    </li>
    <li class="sub_item">
        <label>[% "Contextos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Lista de contextos donde estan localizados los usuarios. Separar contextos diferentes con *;*. Por ejemplo: ou=usuarios,o=org; ou=otros,o=org' | i18n %]",);
            [% END %]
        </label> 
        <input name="contexts" id="contexts" size="30" value="[% preferencias.ldap_contexts %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Buscar subcontextos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Ponga el valor &lt;&gt; 0 si quiere buscar usuarios desde subcontextos.' | i18n %]",);
            [% END %]
        </label> 
        <select id="menusearch_sub" class="select menusearch_sub" name="search_sub"> 
           <option value="0" [% IF preferencias.ldap_search_sub == 0 %] selected="selected" [% END %]>No</option> 
           <option value="1" [% IF preferencias.ldap_search_sub == 1 %] selected="selected" [% END %]>S&iacute;</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Alias de referencia" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Determina c&oacute;mo se manejan los alias durante la busqueda. Seleccione uno de los siguientes valores: *No* (LDAP_DEREF_NEVER) o *Si* (LDAP_DEREF_ALWAYS)' | i18n %]",);
            [% END %]
        </label> 
        <select id="menuopt_deref" class="select menuopt_deref" name="opt_deref"> 
           <option value="LDAP_DEREF_NEVER" [% IF preferencias.ldap_opt_deref == 'LDAP_DEREF_NEVER' %] selected="selected" [% END %]>No</option> 
           <option value="LDAP_DEREF_ALWAYS" [% IF preferencias.ldap_opt_deref == 'LDAP_DEREF_ALWAYS' %] selected="selected" [% END %]>Si</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Prefijo de usuario" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Prefijo que va antes del identificador del usuario, ej uid. Esto se completara luego con el userid y el sufijo.' | i18n %]",);
            [% END %]
        </label> 
        <input name="user_prefijo" size="30" value="[% preferencias.ldap_user_prefijo %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Atributo de usuario" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'El atributo usado para nombrar/buscar usuarios. Normalmente *cn*.' | i18n %]",);
            [% END %]
        </label> 
        <input name="user_attribute" id="user_attribute" size="30" value="[% preferencias.ldap_user_attribute %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Atributo de miembro" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Especificar el atributo para nombre de usuario, cuando los usuarios se integran en un grupo. Normalmente *miembro*' | i18n %]",);
            [% END %]
        </label> 
        <input name="memberattribute" id="memberattribute" value="[% preferencias.ldap_memberattribute %]" size="30" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Atributo de miembro utilizan dn" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Opcional: Anula el manejo de valores de atributos de los miembros, es 0 o 1' | i18n %]",);
            [% END %]
        </label> 
        <input name="memberattribute_isdn" id="memberattribute_isdn" value="[% preferencias.ldap_memberattribute_isdn %]" size="30" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Clase de objetos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Filtro usado para usuarios name/search. Normalmente debera ajustarlo a algo parecido a objectClass=posixAccount. Valores por defecto para objectClass=* que devolveran todos los objetos desde LDAP.' | i18n %]",);
            [% END %]
        </label> 
        <input name="objectclass" id="objectclass" value="[% preferencias.ldap_objectclass %]" size="30" type="text"> 
    </li>
    <br>
    <h4>Forzar cambio de contraseña </h4> 
    <li class="sub_item">
        <label>[% "Forzar cambio de contrase&ntilde;a" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Forzar a los usuarios a cambiar la contraseña la primera vez que accedan a MERAN.' | i18n %]",);
            [% END %]
        </label> 
        <select id="menuforcechangepassword" class="select menuforcechangepassword" name="forcechangepassword"> 
           <option value="0" [% IF preferencias.ldap_forcechangepassword == 0 %] selected="selected" [% END %]>No</option> 
           <option value="1" [% IF preferencias.ldap_forcechangepassword == 1 %] selected="selected" [% END %]>Si</option> 
        </select>  
    </li>
    <li class="sub_item">
        <label>[% "Utilizar P&aacute;gina de cambio de contrase&ntilde;a est&aacute;ndar" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si el sistema de autenticaci&oacute;n externa permite cambios de contrase&ntilde;a en
MERAN, seleccione Si. Este ajuste pasa por alto *Cambiar contrase&ntilde;a URL*. NOTA: Se recomienda que utilice LDAP sobre un t&uacute;nel encriptado SSL (ldaps://) si el servidor LDAP es remoto' | i18n %]",);
            [% END %]
        </label> 
        <select id="menustdchangepassword" class="select menustdchangepassword" name="stdchangepassword"> 
           <option value="0" [% IF preferencias.ldap_stdchangepassword == 0 %] selected="selected" [% END %]>No</option> 
           <option value="1" [% IF preferencias.ldap_stdchangepassword == 1 %] selected="selected" [% END %]>Si</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Formato de contrase&ntilde;a" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Especifique el formato de las contrase&ntilde;as nuevas o cambiadas en el servidor LDAP' | i18n %]",);
            [% END %]
        </label> 
        <select id="menupasstype" class="select menupasstype" name="passtype"> 
           <option value="plaintext" [% IF preferencias.ldap_passtype == 'plaintext' %] selected="selected" [% END %]>Texto plano</option> 
           <option value="md5" [% IF preferencias.ldap_passtype == 'md5' %] selected="selected" [% END %]>Encriptaci&oacute;n M5</option> 
           <option value="sha1" [% IF preferencias.ldap_passtype == 'sha1' %] selected="selected" [% END %]>SHA-1 hash</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "URL para cambio de contrase&ntilde;a" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Aqui puede especificar donde pueden sus usuarios recuperar o cambiar su nombre de usuario/contrase&ntilde;a si lo han olvidado. Para ello, aparecera un boton en la pagina de entrada. Si deja esto en blanco, este boton no se mostrara.' | i18n %]",);
            [% END %]
        </label> 
        <input name="changepasswordurl" id="changepasswordurl" value="[% preferencias.ldap_changepasswordurl %]" type="text"> 
    </li>
    <br>
    <h4>Mapeado de datos</h4> 
    
    <p>Estos campos son opcionales. Usted puede elegir pre-rellenar algunos campos de usuario en MERAN con informaci&oacute;n de los campos LDAP que especifique aqui.</p> 

    <li class="sub_item">
        <label>[% "Nombre" | i18n %]</label>
        <input name="lockconfig_field_map_firstnames" size="30" value="[% preferencias.ldap_lockconfig_field_map_firstnames %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_firstname"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_firstname == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_firstname == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_firstname"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_firstname == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_firstname == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_firstname"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_firstname == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_firstname == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_firstname == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Apellidos" | i18n %]</label>
        <input name="lockconfig_field_map_lastname" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_lastname %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_lastname"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_lastname == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_lastname == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_lastname"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_lastname == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_lastname == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_lastname"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_lastname == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_lastname == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_lastname == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Correo electr&oacute;nico" | i18n %]</label>
        <input name="lockconfig_field_map_email" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_email %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_email"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_email == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_email == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_email"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_email == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_email == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_email"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_email == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_email == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_email == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Ciudad" | i18n %]</label>
<!--        <input name="lockconfig_field_map_city" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_city %]" type="text"> -->
        <input  id="ciudad" name="ciudad" type="text" size="15">
        <input  id="id_ciudad" type="hidden" name="lockconfig_field_map_city" value="[% preferencias.ldap_lockconfig_field_map_city %]" class="required" type="text" size="15">
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_city"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_city == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_city == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_city"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_city == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_city == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_city"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_city == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_city == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_city == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Pa&iacute;s" | i18n %]</label>
        <input name="lockconfig_field_map_country" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_country %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_country"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_country == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_country == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_country"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_country == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_country == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_country"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_country == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_country == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_country == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Idioma" | i18n %]</label>
        <input name="lockconfig_field_map_lang" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_lang %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_lang"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_lang == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_lang == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_lang"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_lang == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_lang == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_lang"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_lang == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_lang == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_lang == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Descripci&oacute;n" | i18n %]</label>
        <input name="lockconfig_field_map_description" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_description %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_description"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_description == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_description == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_description"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_description == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_description == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_description"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_description == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_description == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_description == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Pagina web" | i18n %]</label>
        <input name="lockconfig_field_map_url" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_url %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_url"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_url == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_url == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>   
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_url"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_url == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_url == 0 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_url"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_url == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_url == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_url == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Numero de id" | i18n %]</label>
        <input name="lockconfig_field_map_idnumber" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_idnumber %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_idnumber"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_idnumber == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_idnumber == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li> 
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_idnumber"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_idnumber == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_idnumber == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_idnumber"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_idnumber == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_idnumber == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_idnumber == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Instituci&oacute;n" | i18n %]</label>
        <input name="lockconfig_field_map_institution" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_institution %]" type="text"> 
    </li> 
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_institution"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_institution == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_institution == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>  
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_institution"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_institution == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_institution == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_institution"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_institution == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_institution == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_institution == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li> 
    <hr>
    <li class="sub_item">
        <label>[% "Departamento" | i18n %]</label>
        <input name="lockconfig_field_map_departament" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_departament %]" type="text"> 
    </li> 
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_department"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_department == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_department == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_department"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_department == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_department == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_department"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_department == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_department == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_department == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Telefono 1" | i18n %]</label>
        <input name="lockconfig_field_map_phone1" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_phone1 %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_phone1"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_phone1 == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_phone1 == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_phone1"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_phone1 == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_phone1 == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_phone1"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_phone1 == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_phone1 == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_phone1 == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Telefono 2" | i18n %]</label>
        <input name="lockconfig_field_map_phone2" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_phone2 %]" type="text"> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_phone2"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_phone2 == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_phone2 == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_phone2"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_phone2 == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_phone2 == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_phone2"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_phone2 == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_phone2 == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_phone2 == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    <hr>
    <li class="sub_item">
        <label>[% "Direcci&oacute;n" | i18n %]</label>
        <input name="lockconfig_field_map_adress" id="name_map_datos" size="30" value="[% preferencias.ldap_lockconfig_field_map_adress %]" type="text"> 
    </li>
    
    
    <li class="sub_item">
        <label>[% "Actualizar datos locales" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, el campo debe ser actualizado (con autenticacion externa) cada vez que el usuario entra o se produce una sincronizacion de usuarios. Los campos a actualizar localmente deberian ser bloqueados.' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updatelocal_address"> 
           <option value="oncreate" [% IF preferencias.ldap_lockconfig_field_updatelocal_address == 'oncreate' %] selected="selected" [% END %]>Al crearse</option> 
           <option value="onlogin" [% IF preferencias.ldap_lockconfig_field_updatelocal_address == 'onlogin' %] selected="selected" [% END %]>En cada acceso</option> 
        </select> 
    </li>
    
    
    <li class="sub_item">
        <label>[% "Actualizar datos externos" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si esta activado, la autenticacion externa sera actualizada cuando se actualice el registro del usuario. Los campos deberian estar desbloqueados para poder editarlos' | i18n %]",);
            [% END %]
        </label> 
        <select name="lockconfig_field_updateremote_address"> 
           <option value="0" [% IF preferencias.ldap_lockconfig_field_updateremote_adress == 0 %] selected="selected" [% END %]>Nunca</option> 
           <option value="1" [% IF preferencias.ldap_lockconfig_field_updateremote_adress == 1 %] selected="selected" [% END %]>Al actualizar</option> 
        </select> 
    </li>
    
    
    <li class="sub_item">
        <label>[% "Bloquear valor" | i18n %]
        [% PERL %]
                print C4::AR::Filtros::setHelpIcon(text => "[% 'Si se activa, los usuarios y administradores de MERAN no podran editar directamente el campo. Utilice esta opcion si mantiene estos datos en el sistema de autentificacion externo.' | i18n %]",);
        [% END %]
        </label> 
        <select name="lockconfig_field_lock_address"> 
           <option value="unlocked" [% IF preferencias.ldap_lockconfig_field_lock_adress == 'unlocked' %] selected="selected" [% END %]>Desbloqueado</option> 
           <option value="unlockedifempty" [% IF preferencias.ldap_lockconfig_field_lock_adress == 'unlockedifempty' %] selected="selected" [% END %]>Desbloqueado si esta vacio</option> 
           <option value="locked" [% IF preferencias.ldap_lockconfig_field_lock_adress == 'locked' %] selected="selected" [% END %]>Bloqueado</option> 
        </select> 
    </li>
    
<p style="text-align: center;"><input value="Guardar cambios" type="submit"></p> 

</form> 
</fieldset>

[% INCLUDE "intranet-bottom.inc" %]
