[% USE HTML %]

<div class="modal-header">
  <a href="#" class="close" data-dismiss="modal">×</a>
  <h3>[% HTML.escape(novedad.getTitulo) %]</h3>
</div>
<div class="modal-body">
  <p>[% HTML.escape(novedad.getContenido) %]</p>
</div>
<div class="modal-footer">
   <h4> [% novedad.getFechaLegible %]</h4>
</div>
