[% USE HTML %]
<div class="novedad_contacto">
    <h2>[% 'Titulo' | i18n %]: [% HTML.escape(novedad.getTitulo) %]</h2>
    <fieldset>
        <legend>[% 'Cuerpo de la novedad' | i18n %]:</legend>
        <h3>[% HTML.escape(novedad.getContenido) %]</h3>
        <h4> [% novedad.getFechaLegible %]</h4>
    </fieldset>
    <a href="#">[% novedad.getFechaLegible %] </a>
</div>
