[% INCLUDE "intranet-top.inc" %]

<script type="text/javascript" src="/intranet-tmpl/includes/adquisiciones/addProveedores.js"></script>

[% INCLUDE "FormValidateHelper.inc" %]

[% INCLUDE 'datePicker.inc' %]
[% INCLUDE 'AutocompleteHelper.inc'  %]


<script type="text/javascript">


 $(document).ready(function() {
         validateForm(agregarProveedor);
 });

</script>
<fieldset>
<legend class="titulos">
            [% IF addProveedor %]
                [% "Agregar Proveedor" | i18n %]
            [% ELSE  %]
                [% "Proveedores - Modificar Datos" | i18n %]
            [% END %]
</legend>

<form method=post  name="proveedorDataForm" id="proveedorDataForm">
    <fieldset>
    <legend class="titulo_legend">[% "Datos del proveedor" | i18n %]</legend>
    <ul>
        <li class="sub_item">
            <label for="nombre"> [% "Nombre" | i18n %] *</label>
            <input id="nombre" name="nombre" class="required" type="text" size="25">
        </li>
        <li class="sub_item">
            <label for="apellido"> [% "Apellido" | i18n %] *</label>
            <input id="apellido" name="apellido" class="required" type="text" size="25">
        </li>

        <li class="sub_item">
            <label for="nro_doc">[% "Documento" | i18n %] *</label>
            [% combo_tipo_documento %] 
            <input  id="nro_doc" name="nro_doc" class="required" type="text" size="15" 
                    value="[% proveedor.getNroDoc %]">
        </li>

        <li class="sub_item">
            <label for="razon_social">[% "Razon Social" | i18n %] *</label>
            <input 	id="razon_social" name="razon_social" class="required" type="text" size="15">
        </li>

        <li class="sub_item">
            <label for="cuit_cuil">[% "CUIT/CUIL" | i18n %] *</label>
            <input  id="cuit_cuil" name="cuit_cuil" class="required" type="text" size="15">
        </li>

        [% IF addProveedor %]
               
        [% ELSE  %]
                 <li class="sub_item">
                     <label for="proveedor_activo">[% "Proveedor Activo" | i18n %]</label>
                     <input type="checkbox" name="proveedor_activo" value="proveedor_activo" />
                </li>
        [% END %]
     </ul>
    </fieldset>
  
<!--    VER COMO MOSTRAR COMBOS DE PAISES; CIUDADES, PROV, lo mismo para tipo_doc  -->

        <!-- <li class="sub_item">
            <label for="pais">[% "Pais" | i18n %] *</label>
            [% combo_pais %] 
        </li>

        <li class="sub_item">
            <label for="provincia">[% "Provincia" | i18n %] *</label>
            [% combo_provincia %] 
        </li>

        <li class="sub_item">
            <label for="ciudad">[% "Localidad" | i18n %] *</label>
            [% combo_localidad %] 
        </li>-->
        
    <fieldset>
      <legend class="titulo_legend">[% "Datos de contacto del proveedor" | i18n %]</legend>
        <ul>
            <li class="sub_item">
                <label for="domicilio">[% "Domicilio" | i18n %] *</label>
                <input  id="domicilio" name="domicilio" class="required" type="text" size="15">
            </li>

            <li class="sub_item">
                <label for="telefono">[% "Telefono" | i18n %] *</label>
                <input  id="telefono" name="telefono" class="required" type="text" size="15">
            </li>

            <li class="sub_item">
                <label for="fax">[% "Fax" | i18n %] *</label>
                <input  id="fax" name="fax" class="required" type="text" size="15">
            </li>

            <li class="sub_item">
                <label for="email">[% "Email" | i18n %]</label>
                <input type=text name="email" id="email" size="25">
            </li>
      
      </ul>
</fieldset>

<!--<fieldset>
<legend class="titulo_legend">[% "Informaci&oacute;n de contacto" | i18n %] </legend>
<ul>
<li class="sub_item">
    <label for="calle"> [% "Direcci&oacute;n" | i18n %] * </label>
            <input class="required" type=text id="calle" name="calle" size="25" value="[% socio_modificar.persona.getCalle %]">
</li>
<li class="sub_item">
 <label for="codigo_postal">           [% "C&oacute;digo Postal" | i18n %]</label>
            <input type="text" name="codigo_postal"  id="codigo_postal" size="25" value="[% codigo_postal %]">
</li>
<li class="sub_item">
     <label for="id_ciudad"> [% "Ciudad" | i18n %] * </label>
            <input class="required" type=text id="ciudad" name="ciudad" value="[% socio_modificar.persona.ciudad_ref.getNombre %]" size="25"  >
            <input type="hidden" id="id_ciudad" name="id_ciudad" value="[% socio_modificar.persona.ciudad_ref.id %]">
</li>
<li class="sub_item">
 <label for="telefono">           [% "Tel&eacute;fono particular" | i18n %] </label>
                <input type=text id="telefono" name="telefono" size="25" value="[% socio_modificar.persona.getTelefono %]">
</li>
<li class="sub_item">
 <label for="telefono_laboral">    [% "Tel&eacute;fono del trabajo" | i18n %]</label>
                <input type=text id="telefono_laboral" name="telefono_laboral" size="25" 
                    value="[% socio_modificar.persona.getTelefono_laboral %]">
</li>
<li class="sub_item">
  <label for="alt_calle">          [% "Direcci&oacute;n de origen" | i18n %]</label>
                <input type=text id="alt_calle" name="alt_calle" size="25" value="[% socio_modificar.persona.getAlt_calle %]">
</li>
<li class="sub_item">
   <label for="id_alt_ciudad">    [% "Ciudad de origen" | i18n %]</label>
            <input  type=text id="alt_ciudad" name="alt_ciudad" 
                value="[% socio_modificar.persona.alt_ciudad_ref.getNombre%]" size="25" >
            <input type=hidden id="id_alt_ciudad" name="id_alt_ciudad" value="[% socio_modificar.persona.alt_ciudad_ref.LOCALIDAD %]"> 
</li>
<li class="sub_item">
   <label for="email">   [% "E-Mail" | i18n %] *</label>
                <input class="required" type=text id="email" name="email" size="25" value="[% socio_modificar.persona.getEmail %]">
        </li>
        </ul>
</fieldset>-->

<div class="buttonContainerHorizontal">
    <ul class="listaMenuBotones" >
        [% IF addProveedor %]
            [% PERL %]
                    print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar' | i18n %]",
                                                        boton   => "boton_buscar",
                                                        onClick => "save();",
                                                        title   => "[% 'Guardar' | i18n %]",
                                                                ) ;
            [% END %]
        [% ELSE  %]
                [% PERL %]
                    print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar Modificaci&oacute;n' | i18n %]",
                                                        boton   => "boton_buscar",
                                                        onClick => "save();",
                                                        title   => "[% 'Guardar' | i18n %]",
                            ) ;
                [% END %]
        [% END %]

    </ul>
</div>
        <div>
            <strong>(*) [% "Obligatorio" | i18n %]</strong>
        </div>




</form>

    [% INCLUDE "intranet-bottom.inc" %]

