[% INCLUDE "intranet-top.inc" %]

[% INCLUDE "FormValidateHelper.inc" %]

[% INCLUDE 'AutocompleteHelper.inc'  %]



<script type="text/javascript"></script>
<script type="text/javascript" src="/intranet-tmpl/includes/adquisiciones/datosProveedor.js"> </script>
<!--<script type="text/javascript">

var objAH;
NRO_SOCIO_AUTH = '[% nro_socio %]';


function createFileUploader(){

    if($("#uploader")[0] != null){


        $("#uploader").fileUploader({
                        // perl script
                        ajaxFile: "uploadPicture.pl",
                        nro_socio: USUARIO.ID,
                        funcionOnComplete: function (){
                                    onCompleteFileUpload(USUARIO.ID);
                                }
        });

    }
}

function onCompleteFileUpload(){
    $('#foto').html("<img border='0' width='96px' height='96px' title='" + USUARIO.text + "(" + USUARIO.ID + ")' alt='" + USUARIO.text + "(" + USUARIO.ID + ")' src='[% themelang %]/pictures/" + USUARIO.ID + ".jpg'>");
    $('#div_uploader').hide();
    $('#fake_file').val('');
    $('#div_boton_eliminar_foto').show();
}

</script>-->

<fieldset>
    <legend class="titulos">    [% "Carga de presupuesto" | i18n %] </legend>

    <form method=post  name="proveedorDataForm" id="proveedorDataForm">

          <form method=post  name="planillaDataForm" id="planillaDataForm">
            <fieldset>
                      <legend class="titulo_legend">[% "Datos de contacto del proveedor" | i18n %]</legend>  
                      <p>Seleccione el proveedor para el cual cargara un presupuesto</p>
                
                      <label id="label_provs">[% "Proveedor" | i18n %]</label>
                              [% combo_proveedores %] 
            </fieldset>
          </form>-->   
          
          <fieldset id="carga_planilla">
              <legend class="titulo_legend">[% "Carga de Planilla Excel" | i18n %]</legend>
                
              <!-- VER BIEN Q PONER-->
              <p>Seleccione el archivo que desea cargar </p>
                  
              <form action=/cgi-bin/koha/adquisiciones/importPresupuestoProveedores.pl method=post  name="formPlanilla" id="formPlanilla">
                  <div>
                        <input type="file" name="datafile" size="30">
                  </div>
                      
                            [% PERL %]
                                    print C4::AR::Filtros::to_Button(   text    => "[% 'Enviar' | i18n %]",
                                                                        boton   => "boton_enviar",
                                                                        onClick => "formPlanilla.submit();",
                                            ) ;

                            [% END %]


                  <!--[% PERL %]
                        print C4::AR::Filtros::link_to(   text =>     C4::AR::Filtros::to_Icon( boton   => "icon_edicion" ),
                                                                url =>  "/cgi-bin/koha/adquisiciones/importPresupuestoProveedor.pl", 
                                                                params =>   ["id_proveedor=[% proveedor.getId %]"],
                                                                title =>    "[% 'Importar Presupuesto' | i18n %]"
                                                        );
                  [% END %]-->
              </form>

          </fieldset>

          <fieldset>
               <legend class="titulo_legend">[% "Datos del presupuesto" | i18n %]</legend> 

               <ul>
                     <li class="sub_item">
                           <label for="descripcion" id="label_descripcion"> [% "Descripcion" | i18n %] *</label>
                           <input id="descripcion" name="descripcion" class="required" type="text" size="25">
                     </li>
                         
                     <li class="sub_item"> 
                           <label for="moneda"> [% "Moneda" | i18n %]</label>
                           <input  id="moneda" name="moneda" type="text" class="required" size="25" >           
                           <input type="hidden" id="id_moneda" name="id_moneda">
                     </li>

                     <li class="sub_item">
                           <label for="precio" id="precio"> [% "Precio" | i18n %] *</label>
                           <input id="precio" name="precio" class="required" type="text" size="25">
                      </li>
               </ul>
          </fieldset>
          <div class="buttonContainerHorizontal">
              <ul class="listaMenuBotones" >
                      [% PERL %]
                              print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar' | i18n %]",
                                                                  boton   => "boton_buscar",
                                                                  onClick => "save();",
                                                                  title   => "[% 'Guardar' | i18n %]",
                                                                          ) ;
                      [% END %]
              </ul>
          </div>
     </form>
</fieldset>          
<div>
         <strong>(*) [% "Obligatorio" | i18n %]</strong>
</div>





[% INCLUDE "intranet-bottom.inc" %]

