[% INCLUDE "intranet-top.inc" %]

[% INCLUDE "FormValidateHelper.inc" %]

[% INCLUDE 'AutocompleteHelper.inc'  %]


<script type="text/javascript" >

TYPE_FILE="file_xls";

</script>
<script type="text/javascript" src="/includes/jquery/jquery.fileUploader-min.js"></script>
<script type="text/javascript" src="/includes/jquery/jquery.livequery-min.js"></script>
<script type="text/javascript" src="/intranet-tmpl/includes/adquisiciones/datosProveedor.js"> </script>
<script type="text/javascript">

// var objAH;


var prov;

$(document).ready(function() {
  // Handler for .ready() called.
   $('#id').change(function(){
      prov = $("#id").val();
    })
   makeToggle('toggle_container','trigger',null,true);
   createFileUploader();
   $('#div_uploader').show();

});

function onCompleteFileUpload(){
     alert(document.getElementById('myUploadFile').value);

   //  $('#foto').html("<img border='0' width='96px' height='96px' title='" + USUARIO.text + "(" + USUARIO.ID + ")' alt='" + USUARIO.text + "(" + USUARIO.ID + ")' src='[% themelang %]/pictures/" + USUARIO.ID + ".jpg'>");
   //  $('#datos_presupuesto').hide(); 
   //  $('#div_boton_eliminar_foto').show();
  //   $('#div_uploader').hide();
    $('#datos_planilla').show;
    $('#select_prov').hide();
    $('#fake_file').val('');
    

}


function createFileUploader(){
 
    if($("#uploader")[0] != null){
   
       $("#uploader").fileUploader({
                        // perl script
                        file_types: "xls",
                        type_file: "planilla_xls",
                        ajaxFile: "importPresupuestoProveedores.pl",
                        proveedor: prov,
                        uploadFolder: "/usr/share/meran/intranet/htdocs/intranet-tmpl/proveedores/",
                        funcionOnComplete: function (){
                                    onCompleteFileUpload(prov);
                                }
        });

    }
}


</script>

<fieldset>
    <legend class="titulos">    [% "Carga de presupuesto" | i18n %] </legend>

    <form method=post  name="proveedorDataForm" id="proveedorDataForm">

          <form method=post  name="planillaDataForm" id="planillaDataForm">
            <fieldset id="select_prov">
                      <legend class="titulo_legend">[% "Datos de contacto del proveedor" | i18n %]</legend>  
                      <p>Seleccione el proveedor para el cual cargara un presupuesto</p>
                
                      <label id="label_provs">[% "Proveedor" | i18n %]</label>
                              [% combo_proveedores %] 
            </fieldset>
          </form>
          
          <fieldset id="carga_planilla">
              <legend class="titulo_legend">[% "Carga de Planilla Excel" | i18n %]</legend>
                
              <!-- VER BIEN Q PONER-->
              <p>Seleccione el archivo que desea cargar </p>
                  
              <!--<form action=/cgi-bin/koha/adquisiciones/importPresupuestoProveedores.pl enctype="multipart/form-data" method=post name="formPlanilla" id="formPlanilla">-->
                  <div id="div_uploader" >
                            <li>
                                <div id="uploader"></div>
                            </li>
                   </div>
          <!--    </form>-->

          </fieldset>

          <fieldset>
               <legend class="titulo_legend">[% "Datos del presupuesto" | i18n %]</legend>                
               <div id="datos_planilla">
                        <!--  [% FOREACH resultsloop %]   
                              
                          [% END %]-->

               </div>
               <ul  id="datos_presupuesto" style="display: none">
                     <li class="sub_item">
                           <label for="descripcion" id="label_descripcion"> [% "Descripcion" | i18n %] *</label>
                           <input id="descripcion" name="descripcion" class="required" type="text" size="25">
                     </li>
                         
                     <li class="sub_item"> 
                           <label for="moneda"> [% "Moneda" | i18n %]</label>
                           <input  id="moneda" name="moneda" type="text" class="required" size="25" >           
                           <input type="hidden" id="id_moneda" name="id_moneda">
                     </li>

                     <li class="sub_item">
                           <label for="precio" id="precio"> [% "Precio" | i18n %] *</label>
                           <input id="precio" name="precio" class="required" type="text" size="25">
                      </li>
               </ul>
          </fieldset>
          <div class="buttonContainerHorizontal">
              <ul class="listaMenuBotones" >
                      [% PERL %]
                              print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar' | i18n %]",
                                                                  boton   => "boton_buscar",
                                                                  onClick => "save();",
                                                                  title   => "[% 'Guardar' | i18n %]",
                                                                          ) ;
                      [% END %]
              </ul>
          </div>
     </form>
</fieldset>          
<div>
         <strong>(*) [% "Obligatorio" | i18n %]</strong>
</div>


[% INCLUDE "intranet-bottom.inc" %]

