
[% USE HTML %]

<div class="resultados_consulta">[% "Cantidad de items" | i18n %]: &nbsp;[% cant %]</div> 

<div class="contenedor_paginador">[% paginador %]</div>

<table class="tablaItems datos_tabla" cellspacing=0  cellpadding=0 border=0 width="100%">
    <tr class="titulo_tabla_resultado">
    
        <td class="click" onclick="ordenar('descripcion')" 
            Title='[% "Ordenar por descripcion" | i18n %]'>
            [% "Descripcion" | i18n %]
        </td>
        <td class="click" onclick="ordenar('precio')" 
            Title='[% "Ordenar por Precio" | i18n %]'>
            [% "Precio" | i18n %]
        </td>
        <td>[% "Acciones" | i18n %]</td>
    </tr>
    
    [% FOREACH loop_reading %]
    <tr valign=middle align="center">
              <td align="left" class="items">
                     [% items.getDescripcion %]
              </td>
              <td align="left" class="proveedores">
                     [% items.getPrecio %]
              </td>
    [% END %] <!-- FOREACH PRIMERO -->

</table>