[% INCLUDE "intranet-top.inc" %]


<script type="text/javascript" src="/intranet-tmpl/includes/adquisiciones/proveedores.js"></script>

[% INCLUDE "FormValidateHelper.inc" %]

<script type="text/javascript">


 $(document).ready(function() {
         validateForm(agregarProveedor);
 });

</script>
<fieldset>
<legend class="titulos"> Listado de Proveedores</legend>
<div class="buttonContainerHorizontal">
<ul>
    <li class="horizontal">
            <input id="nombre_proveedor" type=text name="nombre_proveedor" onFocus="checkFilter('focus')" 
                onBlur="checkFilter('blur')">
            [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Buscar' | i18n %]",
                                                                    boton   => "boto n_buscar",
                                                                    onClick => "consultar();",
                                                                    title   => "[% 'Buscar' | i18n %]",
                                        ) ;
            [% END %]
            [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Limpiar' | i18n %]",
                                                                    boton   => "boton_buscar",
                                                                    onClick => "Borrar();",
                                                                    title   => "[% 'Limpiar' | i18n %]",
                                        ) ;
            [% END %]
    </li>
</ul>
</div>
<ul>
    <li style="text-align:center">
                <p class="recuadroAyuda">
                [% "Tipear el nombre del proveedor que desee buscar." | i18n %]
                </p>
    </li>
</ul>
</fieldset>
</form>
<div class="contenedor_paginador">[% paginador %]</div>
<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Resultados de la b&uacute;squeda (proveedores):" | i18n %]</legend>
        <div class="datos_tabla_div_user">
            <div class="resultados_consulta">[% "La cantidad de proveedores es" | i18n %]: [% cantidad %]</div> 
            <div class="resultados_consulta">[% "Ha buscado por" | i18n %]: [% HTML.escape(socio_busqueda) %]</div> 
            <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
                <thead>
                <tr class="titulo_tabla_resultado">
                    <th class="click" onclick="ordenar('nombre_proveedor')" 
                        Title="[% 'Ordenar por nombre de proveedores.' | i18n %]" width="12%">[% "Nombre" | i18n %]
                    </th>
                    <th>[% "Direccion" | i18n %]</th>
                    <th>[% "Telefono" | i18n %]</th>
                    <th>[% "Email" | i18n %]</th>    
                    <th>[% "Editar" | i18n %]</th>
                    <th>[% "Borrar" | i18n %]</th>
                    <th>[% "Ver items" | i18n %]</th>  
                </tr>
                </thead>
                <tbody>
            
            [% FOREACH resultsloop %]   
                <tr  align="center">
                    
                      <td width="250" align="left" class="nombre_proveedor">
                             [% proveedores.getNombre %]
                      </td>
                      <td align="left" class="direccion">
                          [% proveedores.getDireccion %]
                      </td>
                      <td align="left" class="telefono">
                          [% proveedores.getTelefono %]
                      </td>
                      <td align="center"  class="email">
                          [% proveedores.getEmail%]
                      <td align="center"  class="editar">
                           [% PERL %]
                              print C4::AR::Filtros::link_to(   text =>     "[% proveedores.getId %]",
                                                                url =>      "/cgi-bin/koha/adquisiciones/listProveedres.pl", 
                                                                params =>   ["id_proveedor=[% proveedores.getId %]"],
                                                                title =>    "[% 'Editar los datos del proveedor' | i18n %]"
                                                          );email
                            [% END %]
                      </td>
                      <td align="center"  class="borrar">
                            [% PERL %]
                              print C4::AR::Filtros::link_to(   text =>     "[% proveedores.getId %]",
                                                                url =>      "/cgi-bin/koha/adquisiciones/listProveedres.pl", 
                                                                params =>   ["id_proveedor=[% proveedores.getId %]"],
                                                                title =>    "[% 'Borrar proveedor' | i18n %]"
                                                          );
                            [% END %]
                      </td>   
                      <td align="center"  class="items">
                            [% PERL %]
                            print C4::AR::Filtros::link_to(   text =>     "[% proveedores.getId %]",
                                                                url =>      "/cgi-bin/koha/adquisiciones/listProveedres.pl", 
                                                                params =>   ["id_proveedor=[% proveedores.getId %]"],
                                                                title =>    "[% 'Ver lista de items' | i18n %]"
                                                          );
                             [% END %]
                      </td>
                </tr>
            
            [% END %]
            
                <tr>
                    <td class="lineafinaltabla"  align="left" colspan="14"></td>
                </tr>
                </tbody>
            
            </table>
        </div>
</fieldset>


    [% INCLUDE "intranet-bottom.inc" %]

