[% INCLUDE "intranet-top.inc" %]

<script type="text/javascript" language="javascript" >
    $(document).ready(function() {
        $('.editable').attr('readonly', true)
        
        $('#editar').click(function() {
          $('.editable').attr('readonly', false)
        });
    });
</script>

<fieldset id="datos_proveedor">
    <legend class="titulo_legend">[% "Ejemplares recomendados para la compra" | i18n %]</legend>
      <table id="tablaEjemplaresCompra" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 >
      <thead>
          <tr class="titulo_tabla_resultado">
              <th id="titulo">
                  [% "T&iacute;tulo del Libro" | i18n %]
              </th>
              <th id="cantidad">
                  [% "Cantidad Ejemplares" | i18n %]
              </th>
              <th id="fecha_publicacion">
                  [% "Fecha de Publicaci&oacute;n" | i18n %]
              </th>    
              <th id="activo">
                  [% "Activo" | i18n %]
              </th>      
          </tr>
      </thead>
      <tbody>
          
            [% FOREACH resultsloop %]   
            <tr  align="center" id="[% renglon %]">
                  <td align="right" >
                    <input type="text" id="libro" value="[% recomendacion.titulo %]" readonly> 
                  </td>
                  <td align="right" >
                      <input type="text" id="cantidad" class="editable" value="[% recomendacion.cantidad_ejemplares %]"> 
                  </td>
                  <td align="right" >
                      <input type="text"  id="fecha" value="[% recomendacion.fecha_publicacion %]" readonly> 
                  </td>
                  <td align="right" >
                      <input type="checkbox"  id="activo"> 
                  </td>
            </tr>        
            [% END %]    
    </tbody>   
    </table>
    <input type="button" value="Editar" id="editar" />

    [% PERL %]
        print C4::AR::Filtros::link_to(   text =>     C4::AR::Filtros::to_Icon( boton   => "icon_edicion" ),
                                                      url =>  "/cgi-bin/koha/adquisiciones/listCompraEjemplares.pl", 
                                                      params =>   ["export=1"],
                                                      title =>    "[% 'Exportar a PDF' | i18n %]"
                                      );
    [% END %]
</fieldset>

[% INCLUDE "intranet-bottom.inc" %]
