  <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
      <thead>
          <tr class="titulo_tabla_resultado">
              <th id="renglon">
                  [% "Renglon" | i18n %]
              </th>
              <th id="cantidad">
                  [% "Cantidad" | i18n %]
              </th>
              <th id="articulo">
                  [% "Articulo" | i18n %]
              </th>
              <th id="precio_unitario">
                  [% "Precio Unitario" | i18n %]
              </th>  
              <th id="total">
                  [% "Total" | i18n %]
              </th>          
          </tr>
      </thead>
      <tbody>
          
            [% FOREACH datos_presupuesto %]   
            <tr  align="center" id="[% renglon %]">
                  <td align="left" class="presupuesto">
                    <input type="text" name="renglon[% renglon %]" id="renglon[% renglon %]" value="[% renglon %]" READONLY> 
                  </td>
                  <td align="left" class="presupuesto">
                      <input type="text" name="cantidad[% renglon %]" id="cantidad[% renglon %]" value="[% cantidad %]"> 
                  </td>
                  <td align="left" class="presupuesto">
                      <input type="text" name="articulo[% renglon %]" id="articulo[% renglon %]" value="[% articulo %]"> 
                  </td>
                  <td align="left" class="presupuesto">
                      <input type="text" name="precio_unitario[% renglon %]" id="precio_unitario[% renglon %]" value="[% precio_unitario%]"> 
                  </td>
                  <td align="left" class="presupuesto">
                      <input type="text" name="total[% renglon %]" id="total[% renglon %]" value="[% total%]">
                      
                  </td> 
          </tr>        
          [% END %]    
            
    </tbody>   
  </table>