<fieldset>
          <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
              <thead>
                        <tr class="titulo_tabla_resultado">
                            <th id="renglon">
                                [% "Presupuesto - Renglon" | i18n %]
                            </th>
                            [% FOREACH prov IN proveedores %] 
                                <th id="renglon">
                                    [% "Proveedor" | i18n %]: [% prov%]
                                </th>
                            [% END %]
                        </tr>
               
              </thead>
              <tbody>
                          [% p="" %]
                          [% FOREACH pres IN presupuestos %]  
                            <tr>Presupuesto:[% pres.pres_id %] - Renglon: [% pres.renglon %]
                                
                                [% IF (pres.pres_id = p) %] 
                                    [% p= pres.pres_id %] 
                                
                                [% ELSE %]
                                    [% p= pres.pres_id %] 
                                     <td>[% pres.precio %]</td> 
                                [% END %]
                                     <td>[% pres.precio %]</td> 
                            </tr>                
                        [% END %]
              </tbody>   
          </table>
</fieldset>