<fieldset>
             
      
                     [% FOREACH detalle IN detalle_pedido%]  
                           
                                <li><strong>[% detalle.getRefAdqRecomendacionDetalle %] </strong></li>
                       
                            
                                 
                         
                     [% END %]
          
</fieldset>