[% INCLUDE "intranet-top.inc" %]

<fieldset id="datos_proveedor">
<legend class="titulo_legend">[% "Pedidos de Cotizaci&oacute;n" | i18n %]</legend>
    <ul>
        <li class="sub_item">Proveedor/es:</li>
        <li class="sub_item"> [% combo_proveedores %] </li>
    </ul>
    <ul>
        <li class="sub_item"> <input type="button" value="Enviar" id="enviar" /> </li>
    </ul>
</fieldset>

[% INCLUDE "intranet-bottom.inc" %]
