[% USE HTML %]

<script type="text/javascript">
      $(document).ready(function() {
          makeToggle('datos_tabla_div','trigger',null,false);
          makeToggle('datos_tabla_div_referenced','trigger',null,false);
          makeToggle('datos_tabla_div_related','trigger',null,false);
          makeDataTable('#tablaResult_similares');
          zebra('datos_tabla');
          scrollTo('fieldset_tablaResult_involved');
      });
</script>
<fieldset class="resultados_busqueda" id="fieldset_tablaResult_involved">
    <legend class="titulo_legend trigger click">[% "Registro " | i18n %]:</legend>
        <div class="datos_tabla_div_referenced" id="datos_tabla_div">
            <table id="tablaResult_involved" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width="100%">
              [% IF referer_involved %]
                  <thead>
                      <tr class="titulo_tabla_resultado">
                          [% FOREACH campo IN referer_involved.getCamposAsArray %]
                              <th> [% campo %]</th>
                          [% END %]
                          [% IF used == 0 %]
                              <th> [% "Eliminar" | i18n %] </th>
                          [% END %]
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          [% referer_involved.printAsTableElement %]
                          [% IF used == 0 %]
                              <td>
                                  [% PERL %]
                                      print C4::AR::Filtros::to_Icon(  
                                                                          boton   => "icon_cancelar",
                                                                          onClick => "eliminarReferencia('[% tabla_related %]','[% referer_involved.getPkValue %]');",
                                                                          title   => "[% 'Eliminar' | i18n %]",
                                                                          alternClass => "botonCentradoTabla",
                                                                          elem => 'span',
                                                                          style => 'float: left;',
                                              ) ;
                                  [% END %]
                              </td>
                          [% END %]
                      </tr>

                    [% ELSE %]
                      <tr class="titulo_tabla_resultado">
                          <td>[% "Campos" | i18n %]</td>
                      </tr>
                      <tr>
                          <td>[% "No existe ninguna tabla que haga uso de esta tabla de referencia" | i18n %]</td>
                      </tr>
                    [% END %]
                </tbody>
            </table>
        </div>
</fieldset>

<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Relaciones " | i18n %]: [% tabla %]</legend>
        <div class="datos_tabla_div" id="datos_tabla_div">
            <table id="tablaResult_relacionados" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width="100%">
                <thead>
                    <tr class="titulo_tabla_resultado">
                            <th> [% "Tablas relacionadas " | i18n %]</th>
                    </tr>
                </thead>
                <tbody>
                        [% IF involved %]
                            [% FOREACH data IN involved %]
                                <tr>
                                    <td> [% "El registro tiene " | i18n %][% data.cantidad %][% " tupla(s) relacionada(s) en la tabla " | i18n %] [% data.tabla %]</td>
                                </tr>
                            [% END %]
                        [% ELSE %]
                              <tr><td>[% "No existe ninguna tabla que haga uso de esta tabla de referencia" | i18n %]</td></tr>
                        [% END %]
                </tbody>
            </table>
        </div>
</fieldset>

<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Similares " | i18n %]: [% tabla %]</legend>
        <div class="datos_tabla_div_related" id="datos_tabla_div">
            <table id="tablaResult_similares" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width="100%">
                <thead>
                    [% IF referer_involved %]
                        <tr class="titulo_tabla_resultado">
                            [% FOREACH campo IN referer_involved.getCamposAsArray %]
                                <th class="click"> [% campo %]</th>
                            [% END %]
                            <th>[% "Asignar" | i18n %]</th>
                            <th>[% "Asignar y Eliminar" | i18n %]</th>
                        </tr>
                    [% END %]
                </thead>
                <tbody>
                    [% IF related_referers %]
                        [% FOREACH related IN related_referers %]
                            <tr>
                                <span onClick="mostrarReferencias('[% related.getAlias %]','[% related.getPkValue %]')">
                                    [% related.printAsTableElement %]
                                </span>
                                <td>
                                    [% PERL %]
                                        print C4::AR::Filtros::to_Icon(  
                                                                            boton   => "icon_cancelar",
                                                                            onClick => "asignarReferencia('[% tabla_related %]','[% related.getPkValue %]','[% referer_involved.getPkValue %]','[% referer_involved.get_key_value %]');",
                                                                            title   => "[% 'Asignar' | i18n %]",
                                                                            alternClass => "botonCentradoTabla",
                                                                            elem => 'span',
                                                                            style => 'float: left;',
                                                ) ;
                                    [% END %]
                                </td>
                                <td>
                                    [% PERL %]
                                        print C4::AR::Filtros::to_Icon(  
                                                                            boton   => "icon_cancelar",
                                                                            onClick => "asignarEliminarReferencia('[% tabla_related %]','[% related.getPkValue %]','[% referer_involved.getPkValue %]','[% referer_involved.get_key_value %]');",
                                                                            title   => "[% 'Asignar y Eliminar' | i18n %]",
                                                                            alternClass => "botonCentradoTabla",
                                                                            elem => 'span',
                                                                            style => 'float: left;',
                                                ) ;
                                    [% END %]
                                </td>
                            </tr>
                        [% END %]
                    [% ELSE %]
                          <tr><td>[% "No existe ninguna tabla que haga uso de esta tabla de referencia" | i18n %]</td></tr>
                    [% END %]
              </tbody>
          </table>
      </div>
</fieldset>

