
.logo_Superior{
   background-image:  url(../imagenes/logo.jpeg);
   width: 500px;
   float: left;
   margin-bottom:12px;
   height:50px;
}



.menu_intermedio{
	color:#fff;
	background:#1e3942 url(../imagenes/expand3.gif) no-repeat right;
	text-transform:uppercase;
	cursor: pointer;
	display:block;
	white-space:nowrap;
	margin:0;
	padding:0 5px;
	width:auto;
	font-size: 10px;

}

.tdout{
      font-family: "Verdana","Trebuchet MS", "Arial";
    font-size: 8pt;
    color: #1e3942;
    list-style: none;
    font-weight: normal;
    padding: 0px;
    margin: 2px;
    text-decoration:none;
}

.paginaActual{
    font-family: "Trebuchet MS", "Verdana", "Arial";
    font-size: 10pt;
    color: #1e3942;
    font-weight: bold;
    cursor: pointer;
}

	   
.titulos_interior { /*esto era pagetitle, cambiar en templates*/
	  font-weight: bold;
	  font-Family : tahoma, arial, helvetica, sans-serif;
	  font-size : 20px;
	  color: #1e3942;
	  text-align: left;
	  margin-left: 20px;
	  padding-left: 20px;
}
.titulo_arriba_tabla {
    font-size : 20px;
    text-align: center;
}

.tablaresultadoTitle { 
    font-Family : normal tahoma,arial,helvetica,sans-serif ;
    color: #fff;
    font-size: 9pt;
    background: url(../imagenes/tablaresultado.png) repeat-x ;
   /* background-color:#3c9eb4;*/
    text-align: center;
    font-weight: bold;
	height:30px;
	border-left: 1px solid #ccc;

}
.itemLI{
    font-family: "Verdana","Trebuchet MS", "Arial";
    font-size: 8pt;
    color: #1e3942;
    list-style: none;
    font-weight: normal;
	text-decoration:none;
}
.menu_superior{
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   color:#fff;
   background: url(../imagenes/menu.png) repeat 100% 100%;
   text-transform:uppercase;
   text-align:center;
   cursor: pointer;
   display:block;
   white-space:nowrap;
   margin:0;
   border-left:1px solid #9cbab8;
   font-size:11px;
   height:20px;
}

.menu_superior_sin_sub{
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   color:#fff;
   background:#1e3942url(../imagenes/menu.png);
   text-transform:uppercase;
   cursor: pointer;
   display:block;
   white-space:nowrap;
   margin:0;
   padding:0 5px;
   height:20px;
 
}