<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>


<script language="javascript" type="text/javascript">

function habilitar(){
	var checks=$("input[@type='checkbox']:checked");
	var array=checks.get();
	var theStatus="";
	var personNumbers=new Array();
	var cant=checks.length;
	var accion=$("#accion").val();
	if (cant>0){
		theStatus= "Usted esta a punto de "+accion+" a los propietarios de:\n"; 
	
		for(i=0;i<checks.length;i++){
			theStatus=theStatus+" -  Tarjeta nro "+ array[i].value+"\n";
			personNumbers[i]=array[i].name;
		}

		theStatus=theStatus + "\n\nEsta seguro?";
		if (cant>0){
			if (confirm (theStatus)){actualizarPersonas(cant,personNumbers);}
		}
	}
	else{ alert ("No selecciono ningun usuario");}
}	

var objAH;
function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
	borrarMsj();
}

function actualizarPersonas(cant,arrayPersonNumbers){
	objAH=new AjaxHelper(updateInfoActualizar);
	objAH.url= "/cgi-bin/koha/usuarios/actualizarPersonas.pl";
	objAH.cantidad=cant;
	objAH.accion=$("#accion").val();
	objAH.personNumbers=arrayPersonNumbers;
	objAH.funcion= "changePage";
	objAH.sendToServer();
}

function updateInfoActualizar(responseText){
	if(responseText != ""){$("#msj").html(responseText);}
	else{$("#msj").html('');}
	consultar();
}

function consultar(){
	var busqueda = $("#member").val();
	if(busqueda != ""){
		objAH=new AjaxHelper(updateInfo);
		objAH.url= "/cgi-bin/koha/usuarios/potenciales/buscarUsuarioResult.pl";
		objAH.funcion= "changePage";
		objAH.member= busqueda;
		objAH.sendToServer();
	}
	else{
		alert("Ingrese un dato");
 		$("#member").focus();
	}

}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
}

function Borrar(){
	$("#member").val('');
}
function borrarMsj(){
	$("#msj").html('');
}

$(document).ready(function() {
	onEnter("member",consultar);
	borrarMsj();
});

</script>

<center>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >B&uacute;squeda de Usuarios Potenciales</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>
<p id="msj" style="font-size:12pt; color:red"></p>

<table>
	<tr>
  		<td>
			<input id="member" type=text name="member" value="<!-- TMPL_VAR NAME=member -->">
		</td>
 		<td>
			<input id="buscar" type="image" onClick="consultar('');borrarMsj();" src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border='0'>

			<input type="image" onClick="Borrar();" alt="Limpiar" src="<!-- TMPL_VAR NAME='themelang' -->/images/borrar2.png" border="0" >

		</td>
	</tr>
		<tr>
		<td class="inputFontNormal" colspan=2>
			<p class="recuadroAyuda">
			Tipear el apellido, DNI o legajo del usuario. Presionar buscar.
			</p>
		</td>
	</tr>
</table>

<br>
<div id="result"></div>
</center>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

