<table border=0 cellspacing=0 cellpadding=2 width=90%>
	<tr align="center">
		<b>
                    [% "La cantidad de usuarios es :" | i18n %] 
                    [% cantidad %]
                </b>
	</tr>

	<tr align="center">
		<b>
                    [% "Ha buscado por :" | i18n %] [% persona %]
                </b>
	</tr>
</table>

<center>
    [% paginador %]
</center>

<table id="tablaResult" class="tablaResult" width="100%" cellspacing=0 cellpadding=0>
	<thead>
  	<tr>
    		<th class="tablaresultadoTitle" width="1%" align="left" valign="top"><img src="[% themelang %]/images/izquierda.png"></th>
    		<th class="tablaresultadoTitle">&nbsp;</th>

    		<th align="left" width="28%" class="tablaresultadoTitleClick" onClick="ordenar('apellido')">
                    [% "Apellido y Nombres" | i18n %]
                </th>
    		<th align="left" width="15%" class="tablaresultadoTitleClick" onClick="ordenar('nro_documento')">
                    [% "Documento" | i18n %]
                </th>
    		<th class="tablaresultadoTitle">
                    [% "Cat." | i18n %]
                </th>
    		<th class="tablaresultadoTitle">
                    [% "Estado" | i18n %]
                </th>
    		<th class="tablaresultadoTitle">  
                    [% "Habilitado?" | i18n %]
                </th>

    		<th width="1%" valign="top" align="right" class="tablaresultadoTitle">
                    <img src="[% themelang %]/images/derecha.png">
                </th>
  	</tr>
	</thead>
	<tbody>

[% FOREACH resultsloop %]
      	<tr align="center" class="inputFontNormal">
      		<td height=25>&nbsp;</td>
     		<td valign="middle" align="center">
			[% IF nomodificable %]
				[% "Imposible" | i18n %] 
			[% ELSE %]
				<input type=checkbox name="[% persona.getNro_documento %]" 
				id="[% persona.getNro_documento %]" 
				value="[% persona.getNro_documento %]">
			[% END %]
		</td>
		
      	<td align="left">
			<a href="">[% persona.getApellido %], [% persona.getNombre %]</a>
		</td>

      		<td align="left">
			[% persona.getTipo_documento %]&nbsp; [% persona.getNro_documento %]
		</td>

      		<td align="left">
			[% persona.getLegajo %]
		</td>
 		<td>
			[% persona.categoria.getNombre %]
		</td> 
      		<td>
			<span class="[% clase %]">
                            <b>[% regular %]</b>
                        </span>
		</td>

    </tr>
[% END %]
	<tr valign=bottom>
        	<td class="lineafinaltabla"  align="left" colspan="12"></td>
        </tr>
	</tbody>
</table>


<table>
	<tr>
		<td>
		<input name="cantidad" id="cantidad" type="hidden" value="[% modificable %]">
		</td>
	</tr>
	<tr>
		<td class="inputFontNormal">
			<label for="accion" accesskey="t"></label>
			<select class="inputFontNormal" id="accion" name="accion">
				<option value="HABILITAR_PERSON" selected="selected">
                                    [% "Habilitar Seleccionados" | i18n %]
                                </option>
				<option value="DESHABILITAR_PERSON">
                                    [% "Deshabilitar Seleccionados" | i18n %]
                                </option>
			</select>
		</td>
		<td>
			<input type="image" src="[% themelang %]/images/seleccionar.png" onClick="javascript:habilitar()" >
		</td>
	</tr>
</table>
