[% INCLUDE "intranet-top.inc" %] 
<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>
<!--<script src="/intranet-tmpl/blue/es2/includes/circulacion.js"></script>-->
<!--<script src="/intranet-tmpl/blue/es2/includes/usuarios/usuariosReales.js"></script>-->
<script src="/intranet-tmpl/blue/es2/includes/MessageHelper.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/WindowHelper.js"></script>

<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.bgiframe.min.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.dimensions.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/jquery/ui.core.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/jquery/ui.draggable.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/jquery/ui.draggable.ext.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/jquery/ui.mouse.js"></script>


<script>
//*********************************************Modificar Datos Usuario*********************************************
function modificarDatosDeUsuario(){
    objAH=new AjaxHelper(updateModificarDatosDeUsuario);
    objAH.url='/cgi-bin/koha/usuarios/reales/usuariosRealesDB.pl';
    objAH.debug= true;
    objAH.id_socio= usuario.ID;
    objAH.tipoAccion= 'MODIFICAR_USUARIO';
    objAH.sendToServer();
}

function updateModificarDatosDeUsuario(responseText){
//se crea el objeto que maneja la ventana para modificar los/cgi-bin/koha/usuarios/reales/usuariosRealesDB.pl' datos del usuario
    vDatosUsuario=new WindowHelper({draggable: false, opacity: true});
    vDatosUsuario.debug= true;
    vDatosUsuario.html=responseText;
    vDatosUsuario.create(); 
    vDatosUsuario.height('85%');
    vDatosUsuario.width('85%');
    vDatosUsuario.open();
}

function guardarModificacioUsuario(){

    objAH=new AjaxHelper(updateGuardarModificacioUsuario);
    objAH.url='/cgi-bin/koha/usuarios/reales/usuariosRealesDB.pl';
    objAH.debug= true;
    objAH.nro_socio= $('#nro_socio').val();
    objAH.sexo= $("input[@name=sexo]:checked").val();
    objAH.calle= $('#calle').val();
    objAH.nombre= $('#nombre').val();
    objAH.nacimiento= $('#nacimiento').val();
    objAH.email= $('#email').val();
    objAH.telefono= $('#telefono').val();
    objAH.cod_categoria= $('#categoria_socio_id').val();
    objAH.ciudad= $('#id_ciudad').val();
    objAH.alt_ciudad= $('#id_alt_ciudad').val();
    objAH.alt_telefono= $('#alt_telefono').val();
    objAH.apellido= $('#apellido').val();
    objAH.id_ui= $('#ui_id').val();
    objAH.tipo_documento= $('#tipo_documento_id').val();
    objAH.nro_documento= $('#nro_documento').val();
    objAH.legajo= $('#legajo').val();
    objAH.changepassword= ( $('#changepassword').attr('checked') )?1:0;
    objAH.tipoAccion= 'GUARDAR_MODIFICACION_USUARIO';
    objAH.sendToServer();

}

function updateGuardarModificacioUsuario(responseText){
    var Messages=JSONstring.toObject(responseText);
    setMessages(Messages);
    vDatosUsuario.close();
    detalleUsuario();
}

//*
/*
 * objeto_usuario
 * Representa al objeto que contendra la informacion del usuario seleccionado del autocomplete.
 */
function objeto_usuario(){
    this.text;
    this.ID;
}

var objAH;


//*************************************Para manejar el historial de prestamos***********************************
function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

//*******************************Fin Para manejar el historial de prestamos************************************


function detalleUsuario(){
	objAH=new AjaxHelper(updateDetalleUsuario);
	objAH.url='/cgi-bin/koha/usuarios/potenciales/detalleUsuario.pl';
	objAH.debug= true;
	objAH.id_socio= usuario.ID;
	objAH.sendToServer();
}

function updateDetalleUsuario(responseText){
	$('#detalleUsuario').html(responseText);
}

$(document).ready(function() {

// 	zebra("tablaResult");
	
	//definido en circulacion.js
	usuario= new objeto_usuario();
	usuario.text= "[% socio.persona.getApellido %]" + ', ' + "[% socio.persona.getNombre %]";
	usuario.ID= "[% socio.getId_socio %]";

	detalleUsuario(usuario.ID);

});

</script>

<br>
<div id="confirmar_div"></div>
<br>

<div style="clear:both">

	<!-- 	DETALLE USUARIO -->
	<div id="detalleUsuario"></div>

</div>

[% INCLUDE "intranet-bottom.inc" %]