
<table id="tablaSinonimos" class="tablesorter" border=0 cellspacing=0 cellpadding=0 width="100%" align="center">
	<thead>
 	<tr class="tablaresultadoTitle">

		<th width="1%" align="left" valign="top"><img src=" [% themelang %]/images/izquierda.png"></th>
	
		<th>Sinonimo</th>
		<th>Eliminar</th>
		<th>Editar</th>
	
		<th width="1%" align="rigth" valign="top"><img src="[% themelang %]/images/derecha.png"></th>

	</tr>
	</thead>

	<tbody>
[% FOREACH sinonimo IN RESULTSLOOP %]
	<tr class="inputFontNormal" align='center'>

		<td height=25>&nbsp;</td>

		<td id="sinonimo[%nroSinonimo%]"> 
			[% sinonimo.autor %] [% sinonimo.tema %] [% sinonimo.editorial %]
		</td>
		<td align="center">
			<a class="click" 
			onClick="deleteSinonimo('[% sinonimo.id %]','[% sinonimo.autor %][% sinonimo.tema %][% sinonimo.editorial %]');"><img src="[% themelang %]/images/borrar.png" Title="Eliminar" ALT='Eliminar' hspace='0' vspace='0' border='0'></a>
		</td>
		<td align="center">
			<a class="click" 
			onClick="modificarSinonimo('[% sinonimo.id %]','[% nroSinonimo %]','[% sinonimo.autor %][% sinonimo.tema %][% sinonimo.geteditorial %]');"><img src="[% themelang %]/images/editar.png" Title="Editar" ALT='Editar' hspace='0' vspace='0' border='0'></a>
		</td>

		<td height=25>&nbsp;</td>

	</tr>
[% END %]
	<tr valign=bottom>
	        <td class="lineafinaltabla"  align="left" colspan="9"></td>
        </tr>
	</tbody>
</table>

<div id="updateSinonimo" style="display:none">
	<input class="focus" type="text" id="nombreNuevo" >
</div>

