[% INCLUDE 'installer-top.inc' %]

      <h1>Bienvenido a la instalaci&oacute;n de Meran</h1>
      <p>Deber&aacute; completar algunos datos para comenzar a utilizar su sistema de gesti&oacute;n.</p>


      <p>
        <a class="btn btn-large btn-primary" href="installer.pl?action=base">Comenzar con la instalaci&oacute;n</a>
      </p>
[% INCLUDE 'installer-bottom.inc' %]
