
    [% IF OK != 1 %]

            [% PERL %]
                print C4::AR::Filtros::get_error_message( 
                                            debug   => "Error de parametros en ADInfoNivel1.tmpl",
                                            msg     => "[% 'ERROR EN LOS PARAMETROS DE NIVEL 1'| i18n %]",
                                );
            [% END %]

    [% ELSE %]
    <fieldset>
    <legend class="titulo_legend">[% "Regitro:" | i18n %]
            [% PERL %]
                print C4::AR::Filtros::link_to( text =>     [% nivel1.getId1 %],
                                                url=>"detalle.pl", 
                                                params =>   ["id1=[% nivel1.getId1 %]"],
                                                title =>    "[% 'Editar Registro' | i18n %]"
                                            ) ;
            [% END %]

            ([% nivel1.getTemplate %]) 
    </legend>
            <ul class="listado_sin_margen">
            <li class="titulos"> [% nivel1.getTitulo %] </li>
            <li> <strong>[% "Autor:" | i18n %] </strong> [% nivel1.getAutorObject.getCompleto %]  </li>
            <li>
                <strong>[% 'Nivel bibliogr&aacute;fico:' | i18n %]</strong> [% nivel1.getNivelBibliograficoObject.getDescription %]
            </li>
            <li class="botonera_horizontal">
                <ul class="listado_sin_margen">
                [% PERL %]
                        print C4::AR::Filtros::to_Icon(  
                                                            boton   => "icon_edicion",
                                                            onClick => "modificarN1('[% nivel1.getId1 %]','[% nivel1.getTemplate %]');",
                                                            title   => "[% 'Modificar nivel 1' | i18n %]",
                                                            li => 1,
                                ) ;
                [% END %]
                [% PERL %]
                        print C4::AR::Filtros::to_Icon(  
                                                            boton   => "icon_agregar",
                                                            onClick => "agregarN2();",
                                                            title   => "[% 'Agregar nivel 2' | i18n %]",
                                                            li => 1,
                                ) ;
                [% END %]
                [% PERL %]
                        print C4::AR::Filtros::to_Icon(   
                                                            boton   => "icon_borrar",
                                                            onClick => "borrarN1('[% nivel1.getId1 %]');",
                                                            title   => "[% 'Borrar nivel 1' | i18n %]",
                                                            li => 1,
                                ) ;
                [% END %]
            </ul>
            </li>
        </ul>
    </fieldset>
    [% END %]
