
    [% IF OK != 1 %]

            [% PERL %]
                print C4::AR::Filtros::get_error_message( 
                                            debug   => "Error de parametros en ADInfoNivel1.tmpl",
                                            msg     => "[% 'ERROR EN LOS PARAMETROS DE NIVEL 1'| i18n %]",
                                );
            [% END %]

    [% ELSE %]

        <ul class="listado_sin_margen">
            <li>
                <strong>Regitro de Nivel 1:</strong> [% nivel1.getId1 %]
            </li>
            <li class="titulos"> [% nivel1.getTitulo %] </li>
            <li> <strong>[% "Autor:" | i18n %] </strong> [% nivel1.getAutorObject.getCompleto %]  </li>
            <li>
                <strong>[% 'Nivel bibliogr&aacute;fico:' | i18n %]</strong> [% nivel1.getNivelBibliograficoObject.getDescription %]
            </li>
            <li>
                <strong>[% 'Autores secundarios:' | i18n %]</strong> [% nivel1.getAutoresSecundariosObject.getCompleto %]
            </li>
            <li>
                <strong>[% 'T&eacute;rmino no controlado:' | i18n %]</strong> 
                    [% FOREACH entrada IN nivel1.getTerminoNoControlado %] 
                        [% entrada %][% IF !loop.last() %],[% END %] 
                    [% END %]
            </li>
            <li>
                <strong>[% 'Entrada no controlado:' | i18n %]</strong> [% nivel1.getEntradaNoControlado %]
            </li>
            <li>
                <strong>[% 'CDU:' | i18n %]</strong> [% nivel1.getCDU %]
            </li>
            <li>
                <strong>[% 'Temas:' | i18n %]</strong> 
                    [% FOREACH tema IN nivel1.getTemas %] 
                        [% tema.getNombre %][% IF !loop.last() %],[% END %] 
                    [% END %]
            </li>
            <li>
                <strong>[% 'Nombre Geogr&aacute;fico:' | i18n %]</strong> [% nivel1.getNombreGeograficoObject.getNombre %]
            </li>

            <li class="botonera_horizontal">
                <ul class="listado_sin_margen">
                [% PERL %]
                        print C4::AR::Filtros::to_Icon(  
                                                            boton   => "icon_edicion",
                                                            onClick => "modificarN1('[% nivel1.getId1 %]');",
                                                            title   => "[% 'Modificar nivel 1' | i18n %]",
                                                            li => 1,
                                ) ;
                [% END %]
                [% PERL %]
                        print C4::AR::Filtros::to_Icon(  
                                                            boton   => "icon_agregar",
                                                            onClick => "agregarN2();",
                                                            title   => "[% 'Agregar nivel 2' | i18n %]",
                                                            li => 1,
                                ) ;
                [% END %]
                [% PERL %]
                        print C4::AR::Filtros::to_Icon(   
                                                            boton   => "icon_borrar",
                                                            onClick => "borrarN1('[% nivel1.getId1 %]');",
                                                            title   => "[% 'Borrar nivel 1' | i18n %]",
                                                            li => 1,
                                ) ;
                [% END %]
            </ul>
            </li>
        </ul>

    [% END %]
