<table id="tabla_ejemplares" cellspacing="0" cellpadding="0"  width="100%" class="tablaResult" width="100%">
    <tr align="center" cellpadding="0"  valign="middle" class="titulo_tabla_resultado">
        <td>
                [% PERL %]
                    print C4::AR::Filtros::to_Icon(   
                                                            boton   => "icon_seleccionar",
                                                            id      => "select_all",
                                                            title   => "[% 'Seleccionar todos' | i18n %]",
                                                            alternClass => "botonCentrado"
                                ) ;
                [% END %]
        </td>
        <td><b>[% 'Sig. Top.' | i18n %]</b></td>
        <td><b>[% 'C&oacute;digo' | i18n %]</b></td>
        <td><b>[% 'Tipo de Pr&eacute;stamo' | i18n %]</b></td>
        <td><b>[% 'Estado' | i18n %]</b></td>
        <td><b>[% 'Origen UI' | i18n %]</b></td>
        <td><b>[% 'Due&ntilde;o UI' | i18n %]</b></td>
        <td><b>[% 'Acci&oacute;n' | i18n %]</b></td>
    </tr>
[% FOREACH nivel3 IN nivel3_array %]
    <tr align="center">
            <td>
                <input type="checkbox" id="checkEjemplares" name="checkEjemplares" class="icon_seleccionar" value="[% nivel3.nivel3_obj.getId3 %]">
            </td>
            <td>[% nivel3.nivel3_obj.getSignatura_topografica %]</td>
            <td>

            [% PERL %]
                print C4::AR::Filtros::link_to(	text => 	"[% nivel3.nivel3_obj.getBarcode %]",
                                                url => 		"[% url_prefix %]/catalogacion/estructura/detalleEjemplar.pl", 
                                                params =>	["id3=[% nivel3.nivel3_obj.getId3 %]"],
                                                title =>	"[% 'Detalle del ejemplar' | i18n %]"
                                            ) ;
            [% END %]

            </td>
            <td>

                    [% IF nivel3.nivel3_obj.estaPrestado %]
                        <strong class="[% IF nivel3.nivel3_obj.estadoDisponible %]disponible[% ELSE %]nodisponible[% END %]">[% 'Prestado a:' | i18n  %]</strong> 
                        [% PERL %]
                            print C4::AR::Filtros::link_to(   text =>     "[% nivel3.socio_prestamo.persona.getApeYNom %]",
                                                              url=>"[% url_prefix %]/usuarios/reales/datosUsuario.pl", 
                                                              params =>   ["nro_socio=[% nivel3.socio_prestamo.getNro_socio %]"],
                                                              title =>    "[% 'Mostrar Detalle del Usuario' | i18n %]",
                                                              blank =>  1,
                                                        );
                        [% END %]

                    [% END %]

                    <div class="[% claseDisponibilidad %]">
                        [% nivel3.nivel3_obj.getDisponibilidadObject.getNombre %]
                    </div>
            </td>
            <td>
                <span class="[% IF nivel3.nivel3_obj.estadoDisponible %]disponible[% ELSE %]nodisponible[% END %]">
                    [% nivel3.nivel3_obj.getEstadoObject.getNombre %]
                </span>
            </td>
            <td>
                [% nivel3.nivel3_obj.getId_ui_origen %] 
            </td>
            <td>
                [% nivel3.nivel3_obj.getId_ui_poseedora %]
            </td>
            <td>
                [% PERL %]
                    print C4::AR::Filtros::to_Icon(   
                                                            boton   => "icon_edicion",
                                                            onClick => "modificarN3('[% nivel3.nivel3_obj.getId3 %]', '[% nivel3.nivel3_obj.getTemplate %]');",
                                                            title   => "[% 'Modificar nivel 3' | i18n %]",
                                                            alternClass => "botonCentrado"
                                ) ;
                [% END %]

                [% PERL %]
                        print C4::AR::Filtros::to_Icon( 
                                                            boton   => "icon_borrar",
                                                            onClick => "borrarN3('[% nivel3.nivel3_obj.getId3 %]');",
                                                            title   => "[% 'Borrar nivel 3' | i18n %]",
                                                            alternClass => "botonCentrado"
                                ) ;
                [% END %]
            </td>
    </tr>
[% END %] <!-- END FOREACH nivel3 -->
</table>

<div class="horizontal">[% "Para los elementos que est&aacute;n marcados:" | i18n %]</div>

    [% PERL %]
            print C4::AR::Filtros::to_Icon(  
                                                boton   => "icon_edicion",
                                                onClick => "modificarEjemplaresN3();",
                                                title   => "[% 'Modificar Ejemplares' | i18n %]",
                    ) ;
    [% END %]

    [% PERL %]
            print C4::AR::Filtros::to_Icon(   
                                                boton   => "icon_borrar",
                                                onClick => "borrarEjemplaresN3();",
                                                title   => "[% 'Borrar Ejemplares' | i18n %]",
                    ) ;
    [% END %]
