 [% IF OK != 1 %]

            [% PERL %]
                print C4::AR::Filtros::get_error_message( 
                                            debug   => "Error de parametros en ADInfoNivel2.tmpl",
                                            msg     => "[% 'ERROR EN LOS PARAMETROS DE NIVEL 2'| i18n %]",
                                );
            [% END %]

    [% ELSE %]

        [% FOREACH nivel2 IN nivel2_array %]    
        <fieldset><legend class="nivel2Selected" onClick="mostrarInfoAltaNivel3('[% nivel2.getId2 %]'); toggleClass(this);">
            <strong>[% 'Grupo:' | i18n %] [% nivel2.getId2 %] - [% nivel2.getTipoDocumentoObject.getNombre %]</strong>
            </legend>
        <ul class="listado_sin_margen">
        <li class="botonera_horizontal">
            <ul class="listado_sin_margen">
            [% PERL %]
                        print C4::AR::Filtros::to_Icon(   
                                                            boton   => "icon_edicion",
                                                            onClick => "modificarN2('[% nivel2.getId2 %]');",
                                                            title   => "[% 'Modificar nivel 2' | i18n %]",
                                                            li => 1,
                                ) ;
                [% END %]
                [% PERL %]
                        print C4::AR::Filtros::to_Icon(   
                                                            boton   => "icon_agregar",
                                                            onClick => "agregarN3('[% nivel2.getId2 %]');",
                                                            title   => "[% 'Agregar nivel 3' | i18n %]",
                                                            li => 1,
                                ) ;
                [% END %]
                [% PERL %]
                        print C4::AR::Filtros::to_Icon( 
                                                            boton   => "icon_borrar",
                                                            onClick => "borrarN2('[% nivel2.getId2 %]');",
                                                            title   => "[% 'Borrar nivel 2' | i18n %]",
                                                            li => 1,
                                ) ;
                [% END %]
            </ul>
            </li>
            <li>
                <strong>[% 'Nivel bibliogr&aacute;fico:' | i18n %]</strong> [% nivel2.getNivelBibliograficoObject.getDescription %]
            </li>
            <li>
                <strong>[% 'Soporte:' | i18n %]</strong> [% nivel2.getSoporteObject.getDescription %]
            </li>
            <li>
                <strong>[% 'Lugar:' | i18n %]</strong> [% nivel2.getCiudadObject.getNombre %]
            </li>
            <li>
                <strong>[% 'Idioma:' | i18n %]</strong> [% nivel2.getIdiomaObject.getDescription %]
            </li>
            <li>
                <strong>[% 'Fecha:' | i18n %]</strong> [% nivel2.getAnio_publicacion %]
            </li>
            <li>
                <strong>[% 'Cantidad Ejemplares:' | i18n %]</strong> [% nivel2.getCantEjemplares %]
            </li>
        </ul>
        </fieldset>
        [% END %]
    [% END %]
