<div id="infoLaterarNivel2">
    <p class="titulos_interior"> [% nivel1.getTitulo %] </p>
    <b>Autor: </b>
    [% nivel1.cat_autor.getCompleto %]
    <br/>
    Regitro de Nivel 1: [% nivel1.getId1 %]
    <br/>
    <div>
        [% PERL %]
                print C4::AR::Filtros::to_Button(   text    => "[% 'Modificar Nivel 1' | i18n %]",
                                                    boton   => "boton_buscar",
                                                    onClick => "modificarN1('[% nivel1.getId1 %]');",
                                                    title   => "[% 'Modificar nivel 1' | i18n %]",
                        ) ;
        [% END %]
    </div>
    <div>
        [% PERL %]
                print C4::AR::Filtros::to_Button(   text    => "[% 'Agregar Nivel 2' | i18n %]",
                                                    boton   => "boton_buscar",
                                                    onClick => "agregarN2();",
                                                    title   => "[% 'Agregar nivel 2' | i18n %]",
                        ) ;
        [% END %]
    </div>
    <div>
        [% PERL %]
                print C4::AR::Filtros::to_Button(   text    => "[% 'Borrar Nivel 1' | i18n %]",
                                                    boton   => "boton_buscar",
                                                    onClick => "borrarN1('[% nivel1.getId1 %]');",
                                                    title   => "[% 'Borrar nivel 1' | i18n %]",
                        ) ;
        [% END %]
    </div>

</div>
<!-- FIXME FALTA TERMINAR ESTE TMPL -->