[% INCLUDE "intranet-top.inc" %]

<!-- Se incluyen las librerias necesarias para manejar autocomplete -->
[% INCLUDE "AutocompleteHelper.inc" %]

<script src="/intranet-tmpl/includes/CombosHelper.js"></script> 
<!-- para manejar la ventana de campos MARC -->
<script src="/intranet-tmpl/includes/popups/helpCamposMARC.js"></script>
<!-- para manejar el ABM del catalogo -->
<script src="/intranet-tmpl/includes/catalogacion.js"></script>
<!-- para el calendario -->
<script src="/includes/jquery/datetimepicker/ui.datepicker.js"></script>

<link href="/includes/jquery/datetimepicker/flora.datepicker.css" type="text/css" rel="stylesheet">

[% INCLUDE "FormValidateHelper.inc" %]

<script>

//Funcion que se ejecuta cuando se carga la pagina, dependiendo de donde viene ejecuta las funciones correspondientes.
$(document).ready( function() {
	//oculto todas las tabls
	_showAndHiddeEstructuraDelNivel(0);

	[% IF tipoAccion == "MODIFICAR_NIVEL_1" %]
		params= new objeto_params();
		params.id1= [% id1 %];
		params.id2= [% id2 %];
		params.id3= [% id3 %];
		params.tipoAccion= '[% tipoAccion %]';
		cargarNivel1(params);
	[% ELSE %]
		[% IF tipoAccion == "MODIFICAR_NIVEL_2" %]
			params= new objeto_params();
			params.id1= [% id1 %];
			params.id2= [% id2 %];
			params.id3= [% id3 %];
			params.tipoAccion= '[% tipoAccion %]';
			cargarNivel1(params);
		[% ELSE %]	
			[% IF tipoAccion == "MODIFICAR_NIVEL_3" %]
				params= new objeto_params();
				params.id1= [% id1 %];
				params.id2= [% id2 %];
				params.id3= [% id3 %];
				params.tipoAccion= '[% tipoAccion %]';
				cargarNivel1(params);
			[% END %]
		[% END %]
	[% END %]

} );


</script>

<div style="text-align: right;"><span class="click" onClick="abrirVentanaHelperMARC();">Ayuda MARC</span></div>

<p class="pagetitle" >[% "Agregar Documento" | i18n %]</p>

[% "Esquema de ingreso de datos tipo:" | i18n %] [% comboTipoDocumento %]
<br><br>

<div class="todo">

<div class="lateral">
    <div id="nivel1" class="nivel1Lateral"></div>
    <div class="nivel2Barra">
        <div id="nivel2" class="nivel2Lateral"></div>
    </div>
</div>   <!--END <div class="lateral">-->

<div class="centro">

<span id="nivel1Tabla">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr class="tablaresultadoTitle">
            <td width="1%" align="left" valign="top">
                <img src="[% themelang %]/images/izquierda.png">
            </td>
            <td colspan="7" class=inputFontNormal> 
                    <b>[% "Agregar Documento:" | i18n %] [% descripcion %]  (paso: 1 de 3) </b>
            </td>
            <td width="1%" align="right" valign="top">
                <img src="[% themelang %]/images/derecha.png">
            </td>
        </tr>
    </table>

<form id="formNivel1" name="formNivel1" class="validateDataForm">
<!--     CAMPOS DINAMICOS DEL NIVEL1 -->
    <div id= "estructuraDelNivel1"></div>
    <input type="hidden" name="token" value="[% token %]" />

</form>
    <br>
    <p><br><br><br><b>&nbsp;* [% "Campos obligatorios" | i18n %]</b></p>
    
    <center>
                    <div>
                        [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar Nivel 1' | i18n %]",
                                                                    boton   => "boton_buscar",
                                                                    onClick => "guardar(1);",
                                                                    title   => "[% 'Guardar el nivel 1' | i18n %]",
                                        ) ;
                        [% END %]
                    </div>
    </center>
</span>

<span id="nivel2Tabla">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr class="tablaresultadoTitle">
            <td width="1%" align="left" valign="top">
                <img src="[% themelang %]/images/izquierda.png">
            </td>
            <td colspan="7" class=inputFontNormal> 
                    <b>[% "Agregar Grupo:" | i18n %] [% descripcion %]  (paso: 2 de 3) </b>
            </td>
            <td width="1%" align="right" valign="top">
                <img src="[% themelang %]/images/derecha.png">
            </td>
        </tr>
    </table>
    
<form id="formNivel2" name="formNivel2" class="validateDataForm">
<!--     CAMPOS DINAMICOS DEL NIVEL 2 -->
    <div id= "estructuraDelNivel2"></div>
    <input type="hidden" name="token" value="[% token %]" />
</form>
    <br>
    <p><br><br><br><b>&nbsp;* [% "Campos obligatorios" | i18n %]</b></p>
    
    <center>
                        [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar Nivel 2' | i18n %]",
                                                                    boton   => "boton_buscar",
                                                                    onClick => "guardar(2);",
                                                                    title   => "[% 'Guardar el nivel 2' | i18n %]",
                                        ) ;
                        [% END %]
    </center>
</span>

<span id="nivel3Tabla">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr class="tablaresultadoTitle">
            <td width="1%" align="left" valign="top">
                <img src="[% themelang %]/images/izquierda.png">
            </td>
            <td colspan="7" class=inputFontNormal> 
                    <b>[% "Agregar Ejemplar:" | i18n %] [% descripcion %]  (paso: 3 de 3) </b>
            </td>
            <td width="1%" align="right" valign="top">
                <img src="[% themelang %]/images/derecha.png">
            </td>
        </tr>
    </table>

<form id="formNivel3" name="formNivel3" class="validateDataForm">
	<div id="divCantEjemplares" class="divContentComponente">
		<div class="divLabelComponente"> Cant. Ejemplares: </div>
			<input id="cantEjemplares" type="text" tabindex="1" size="10" value="1" class="required"/>
	</div>
<!--     CAMPOS DINAMICOS DEL NIVEL 3 -->
    <div id= "estructuraDelNivel3"></div>
    <input type="hidden" name="token" value="[% token %]" />

</form>
    <p><br><br><br><b>&nbsp;* [% "Campos obligatorios" | i18n %]</b></p>
    
    <center>
                        [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar Nivel 3' | i18n %]",
                                                                    boton   => "boton_buscar",
                                                                    onClick => "guardar(3);",
                                                                    title   => "[% 'Guardar el nivel 3' | i18n %]",
                                        ) ;
                        [% END %]

    </center>
</span>

</div> <!--END <div class="centro">-->

<!-- detalle del Nivel 3, segun Nivel 2 seleccionado -->
<div id="detalleDelNivel3" class="nivel3Footer"></div>

</div> <!--END <div class="todo">-->

[% INCLUDE "intranet-bottom.inc" %]

