[% INCLUDE "intranet-top.inc" %]

<script src="/intranet-tmpl/includes/CombosHelper.js"></script> 
<!-- para manejar la ventana de campos MARC -->
<script src="/intranet-tmpl/includes/popups/helpCamposMARC.js"></script>
<!-- para manejar el ABM del catalogo -->
<script src="/intranet-tmpl/includes/catalogacion-min.js"></script>
<script src="/intranet-tmpl/includes/admin/tablasDeReferencia.js"></script>
<script src="/includes/jquery/jquery.jeditable.js"></script>
<script src="/includes/jquery/tiny_mce/jquery.tinymce.js"></script>


[% INCLUDE 'datePicker.inc' %]

[% INCLUDE "FormValidateHelper.inc" %]

[% INCLUDE  'WindowHelper.inc'  %]

[% INCLUDE  'AutocompleteHelper.inc'  %] 


<script type="text/javascript">
//         $(function() {
//                 $('textarea.tinymce').tinymce({
//                         // Location of TinyMCE script
//                         script_url : '../../includes/jquery/tiny_mce/jquery.tinymce.js',
// 
//                         // General options
//                         theme : "advanced",
//                         plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
// 
//                         // Theme options
//                         theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
//                         theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
//                         theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
//                         theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
//                         theme_advanced_toolbar_location : "top",
//                         theme_advanced_toolbar_align : "left",
//                         theme_advanced_statusbar_location : "bottom",
//                         theme_advanced_resizing : true,
// 
//                         // Example content CSS (should be your site CSS)
//                         content_css : "css/content.css",
// 
//                         // Drop lists for link/image/media/template dialogs
//                         template_external_list_url : "lists/template_list.js",
//                         external_link_list_url : "lists/link_list.js",
//                         external_image_list_url : "lists/image_list.js",
//                         media_external_list_url : "lists/media_list.js",
// 
//                         // Replace values for the template plugin
//                         template_replace_values : {
//                                 username : "Some User",
//                                 staffid : "991234"
//                         }
//                 });
//         });


tinyMCE.init({
        // General options
        mode : "textareas",
        theme : "advanced",
        plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,

        // Skin options
        skin : "o2k7",
        skin_variant : "silver",

        // Example content CSS (should be your site CSS)
        content_css : "css/example.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url : "js/template_list.js",
        external_link_list_url : "js/link_list.js",
        external_image_list_url : "js/image_list.js",
        media_external_list_url : "js/media_list.js",

        // Replace values for the template plugin
        template_replace_values : {
                username : "Some User",
                staffid : "991234"
        }
});

</script>


<script type="text/javascript">

var TIENE_NIVEL_2 = 0;

function close_window_esquema(){
    $('#datos_esquema').dialog('close');
}  

//Funcion que se ejecuta cuando se carga la pagina, dependiendo de donde viene ejecuta las funciones correspondientes.
$(document).ready( function() {
	//oculto todas las tabls
	_showAndHiddeEstructuraDelNivel(0);
    params                  = new objeto_params();
    params.tipoAccion       = "[% tipoAccion %]";
    params.id1              = [% id1 %];
    params.id2              = [% id2 %];
    params.id3              = [% id3 %];
    TIENE_NIVEL_2           = [% tiene_nivel_2 %];

	[% IF tipoAccion == "MODIFICAR_NIVEL_1" %]
        MODIFICAR               = 1;
        FROM_DETALLE_REGISTRO   = 1;
		cargarNivel1(params);
	[% ELSIF tipoAccion == "MODIFICAR_NIVEL_2" %]
        MODIFICAR               = 1;
        FROM_DETALLE_REGISTRO   = 1;
        cargarNivel1(params);
    [% ELSIF tipoAccion == "MODIFICAR_NIVEL_3" %]
        MODIFICAR               = 1;
        FROM_DETALLE_REGISTRO   = 1;
        cargarNivel1(params);
    [% ELSIF tipoAccion == "MODIFICAR_NIVEL_3_ALL" %]
        MODIFICAR               = 1;
        FROM_DETALLE_REGISTRO   = 1;
        // edicion grupal!!!!!!
        [% FOREACH n3 IN n3_array %]
            ID3_ARRAY.push([% n3 %]);
        [% END %]

        modificarEjemplaresN3FromRegistro(params.id1);
	[% END %]

    $('#datos_esquema').hide();
    $('#datos_indice').hide()

    if(MODIFICAR) {
        $('#datos_del_leader').hide();
    } else {
        mostrarEstructuraDelNivel1();
        $('#datos_del_leader').show();
    }

} );

</script>

[% PERL %]
    print C4::AR::Filtros::ayuda_marc() ;
[% END %]

<div id="abm_tablas_referencia"><div id="abm_tablas_referencia_content"></div></div>

<div id="datos_del_leader" style="display: none;">
<fieldset>
    <legend class="titulo_legend">[% "Datos del LEADER" | i18n %]</legend>
    <ul style="clear:both">        
        <li class="sub_item" >
            <label for="id_nivel_bibliografico">
                [% "Nivel Bibliogr&aacute;fico:" | i18n %]
            </label>
            [% comboTipoNivelBibliografico %]
        </li>
    </ul>
</fieldset>
</div>

<div id="datos_esquema" style="display: none;">
<fieldset>
    <legend class="titulo_legend">[% "Datos del esquema" | i18n %]</legend>
    <ul style="clear:both">
        <li class="sub_item" >
            <label for="tipo_nivel3_id">
                [% "Esquema de ingreso de datos:" | i18n %]
            </label>
                [% comboTipoDocumento %]
        
            [% PERL %]
                    print C4::AR::Filtros::to_Icon(   
                                                        boton   => "icon_buscar",
                                                        onClick => "seleccionar_esquema();",
                                                        title   => "[% 'Buscar' | i18n %]",
                            ) ;
            [% END %]
        </li>
    </ul>
</fieldset>
</div>

<div id="datos_indice" style="display: none;">
<fieldset>
    <legend class="titulo_legend">[% "Datos del Indice" | i18n %]</legend>
    <ul style="clear:both">
        <li class="sub_item" >
<!--            <label for="indice_id">
                [% "Ingrese el &iacute;ndice:" | i18n %]
            </label>-->

            <textarea id="indice_id" class="tinymce" rows="10" cols="120" style="width:600px; height:202px; max-width:650px"></textarea>
        
            [% PERL %]
                    print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar Indice' | i18n %]",
                                                        boton   => "boton_guardar",
                                                        onClick => "guardarIndice();",
                                                        title   => "[% 'Guardar el Indice' | i18n %]",
                                                        alternClass => "botonCentrado"
                            ) ;
            [% END %]
        </li>
    </ul>
</fieldset>
</div>

<!-- DATOS DE NIVEL 1 -->
<div id="nivel1"></div>

<div class="todo classform">

<div class="lateral">
    <div class="nivel2Barra">
        <div id="nivel2" class="nivel2Lateral"></div>
    </div>
</div>   <!--END <div class="lateral">-->

<div id="centro" class="centro">
<!-- aca se va mostrando la accion que se va realizando -->
<div id="estado_accion" class="titulos" style="display:none"></div>
<!--            Manejo del Nivel 1 -->
<div id="nivel1Tabla" style="display:none">
<fieldset>
<legend class="titulo_legend">[% "Datos del registro" | i18n %]</legend>

<form id="formNivel1" name="formNivel1">
<!--     CAMPOS DINAMICOS DEL NIVEL1 -->
    <div id= "estructuraDelNivel1"></div>
    <input type="hidden" name="token" value="[% token %]" />

</form>
    
    <div class="textoCentrado">* [% "Campos obligatorios" | i18n %]</div>

            [% PERL %]
                    print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar Nivel 1' | i18n %]",
                                                        boton   => "boton_guardar",
                                                        onClick => "guardar(1);",
                                                        title   => "[% 'Guardar el nivel 1' | i18n %]",
                                                        alternClass => "botonCentrado"
                            ) ;
            [% END %]

</fieldset>
</div>

<!--            Manejo del Nivel 2 -->
<div id="nivel2Tabla" style="display:none">
<fieldset>
<legend class="titulo_legend">[% "Datos del grupo" | i18n %]</legend>
    
<form id="formNivel2" name="formNivel2">
<!--     CAMPOS DINAMICOS DEL NIVEL 2 -->
    <div id= "estructuraDelNivel2"></div>
    <input type="hidden" name="token" value="[% token %]" />
</form>

    <div class="textoCentrado">* [% "Campos obligatorios" | i18n %]</div>

                        [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar Nivel 2' | i18n %]",
                                                                    boton   => "boton_guardar",
                                                                    onClick => "guardar(2);",
                                                                    title   => "[% 'Guardar el nivel 2' | i18n %]",
                                                                    alternClass => "botonCentrado"
                                        ) ;
                        [% END %]

</fieldset>
</div>


<!--            Manejo del Nivel 3 -->
<div id="nivel3Tabla" style="display:none">   
<fieldset>
<legend class="titulo_legend">[% "Datos del ejemplar" | i18n %]</legend>

<form id="formNivel3" name="formNivel3">
	<div id="divCantEjemplares" class="divContentComponente">
		<li class="sub_item"> 
            <label for="cantEjemplares">Cant. Ejemplares: </label>
		    <input  id="cantEjemplares" type="text" tabindex="1" size="10" value="1" 
                    class="required" onClick="registrarToggleOnChangeForBarcode()"/>
        </li>
	</div>
<!--     CAMPOS DINAMICOS DEL NIVEL 3 -->
    <div id= "estructuraDelNivel3"></div>
    <input type="hidden" name="token" value="[% token %]" />

</form>

        <div class="textoCentrado">* [% "Campos obligatorios" | i18n %]</div>
     
                        [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar Nivel 3' | i18n %]",
                                                                    boton   => "boton_guardar",
                                                                    onClick => "guardar(3);",
                                                                    title   => "[% 'Guardar el nivel 3' | i18n %]",
                                                                    alternClass => "botonCentrado"
                                        ) ;
                        [% END %]


</fieldset>
</div>

</div> <!--END <div class="centro">-->

<fieldset>
<legend class="titulo_legend">[% "Ejemplares" | i18n %]</legend>
<!-- detalle del Nivel 3, segun Nivel 2 seleccionado -->
<div id="detalleDelNivel3" class="nivel3Footer"></div>
</fieldset>

</div> <!--END <div class="todo">-->

[% INCLUDE "intranet-bottom.inc" %]

