[% INCLUDE "intranet-top.inc" %]
[% INCLUDE 'datePicker.inc' %]

<script>
    function changePage(ini){
            objAH.changePage(ini);
        }

    function ordenar(orden){
                objAH.sort(orden);
            }

    function verHistoricoDisponibilidad(id3){
            objAH=new AjaxHelper(updateHistoricoDisponibilidad);
            objAH.debug= true;
            objAH.showOverlay = true;
            objAH.url= 'detalleEjemplar.pl';
            objAH.funcion = "changePage";
            objAH.id3= id3;
            objAH.tipo= 'VER_HISTORICO_DISPONIBILIDAD';
            objAH.sendToServer();
    }

    function updateHistoricoDisponibilidad(responseText){
            $('#historicoDisponibilidad').html(responseText);
            zebra('datos_tabla');
    }

    function verHistoricoCirculacion(id3){
            objAH=new AjaxHelper(updateHistoricoCirculacion);
            objAH.debug= true;
            objAH.showOverlay = true;
            objAH.url= 'detalleEjemplar.pl';
            objAH.funcion = "changePage";
            objAH.fecha_inicial=  $('#fecha_inicial').val();
            objAH.fecha_final=  $('#fecha_final').val();
            objAH.id3= id3;
            objAH.tipo= 'VER_HISTORICO_CIRCULACION';
            objAH.sendToServer();
    }

    function updateHistoricoCirculacion(responseText){
            $('#historicoCirculacion').html(responseText);
            zebra('datos_tabla');

            crearDatePicker('fecha_inicial');
            crearDatePicker('fecha_final');

    }

    $(document).ready(function(){
        verHistoricoDisponibilidad('[% nivel3.id %]');
        verHistoricoCirculacion('[% nivel3.id %]');
    });
</script>

<div id="detalleEjemplar">
<fieldset>
<strong><legend>[% "Detalles del ejemplar" | i18n %] [% nivel3.id %]</legend></strong>

    <ul class="listado_sin_margen">
                    <li> [% "Sig. Top."|i18n %]:        <strong>[% nivel3.getSignatura_topografica %]</strong></li>
                    <li> [% "C&oacute;digo"|i18n %]:    <strong>[% nivel3.getBarcode  %]</strong></li>
                    <li> [% "Disponibilidad"|i18n %]:   <strong class="[% IF nivel3.esParaSala %]salaLectura[% ELSE %]prestamo[% END %]">[% nivel3.getDisponibilidadObject.getNombre  %]</strong></li>
                    <li> [% "Estado"|i18n %]:           <strong class="[% IF nivel3.estadoDisponible %]disponible[% ELSE %]nodisponible[% END %]">[% nivel3.getEstadoObject.getNombre  %]</strong></li>
    </ul>

<div id="historicoDisponibilidad"></div>
<div id="historicoCirculacion"></div>

</fieldset>
</div>
[% INCLUDE "intranet-bottom.inc" %]
