[% INCLUDE 'intranet-top.inc' %]
[% USE HTML %]

<div id="detalleEjemplar">
<fieldset>
<strong><legend>[% "Detalles del ejemplar" | i18n %] [% nivel3.id %]</legend></strong>

    <ul class="listado_sin_margen">
                    <li> [% "Sig. Top."|i18n %]:        <strong>[% nivel3.getSignatura_topografica %]</strong></li>
                    <li> [% "C&oacute;digo"|i18n %]:    <strong>[% nivel3.getBarcode  %]</strong></li>
                    <li> [% "Disponibilidad"|i18n %]:   <strong class="[% IF nivel3.esParaSala %]salaLectura[% ELSE %]prestamo[% END %]">[% nivel3.getDisponibilidadObject.getNombre  %]</strong></li>
                    <li> [% "Estado"|i18n %]:           <strong class="[% IF nivel3.estadoDisponible %]disponible[% ELSE %]nodisponible[% END %]">[% nivel3.getEstadoObject.getNombre  %]</strong></li>
    </ul>

<fieldset class="resultados_busqueda">
    <legend class="titulo_legend">[% "Hist&oacute;rico de Disponibilidad" | i18n %]:</legend>
        <div class="contenedor_paginador">[% paginador %]</div>
        <div class="datos_tabla_div_user">
            <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
                <thead>
                <tr class="titulo_tabla_resultado">
                    <th>[% "Disponibilidad" | i18n %]</th>
                    <th>[% "Estado" | i18n %]</th>
                    <th>[% "Fecha" | i18n %]</th>

                </tr>
                </thead>
                <tbody>
                    [% FOREACH historico IN historico_disponibilidad %]
                        <tr>
                            <td>
                                [% historico.getTipo_prestamo %] 
                            </td>
                            <td>
                                [% historico.getDetalle %] 
                            </td>
                            <td>
                                [% historico.getFecha %] 
                            </td>
                        </tr>
                    [% END %]
                </tbody>
            </table>
            <div class="resultados_consulta">[% "La cantidad es" | i18n %]: [% cant_historico %]</div>
        </div>
</fieldset>

</fieldset>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
