[% IF !ajax %]
    [% INCLUDE  "intranet-top.inc" %]
    
    <script src="/includes/jquery/jquery.jqpageflow.js" type="text/javascript"></script>
    
    <script type="text/javascript"> 
     var AUTO_GENERAR_COMPROBANTE = '[% auto_generar_comprobante_prestamo %]';

        $(document).ready(function(){
            $("#main_content").flexiPagination({
                url: "[% url_prefix %]/catalogacion/estructura/detalle.pl?id1=[% id1 %]&ajax=1&token=[% token %]",
                totalResults: [% cant_total %],
                perPage: [% per_page %],
                container: "#marco_contenido_datos",
                append_loader: "#loading_items",
                pagerVar : "page",
                loaderImgPath: imagesForJS+"/loader_grupos.gif",
                debug : 1
              });
            
             inicializar();
             zebra("tablaResult");
            });
            
        function modificarNivel1(){
            window.location.href="[% url_prefix %]/catalogacion/estructura/datosDocumento.pl?id1=[% id1 %]&tipoAccion=MODIFICAR_NIVEL_1";
        }

        function modificarNivel2(id2){
            window.location.href="[% url_prefix %]/catalogacion/estructura/datosDocumento.pl?id1=[% id1 %]&id2="+id2+"&tipoAccion=MODIFICAR_NIVEL_2";
        }

        function agregarAnalitica(id2){
            window.location.href="[% url_prefix %]/catalogacion/estructura/datosDocumento.pl?id1=[% id1 %]&id2="+id2+"&tipoAccion=AGREGAR_ANALITICA";
        }
        
        function editarEjemplar(id2,id3){
            window.location.href="[% url_prefix %]/catalogacion/estructura/datosDocumento.pl?id1=[% id1 %]&id2="+id2+"&id2="+id3+"&tipoAccion=MODIFICAR_NIVEL_3";
        	
        }
        
      	function ProcessGBSBookInfo(booksInfo) {
			for (id in booksInfo) {
			 var element = document.getElementById(id);
			 var bookInfo = booksInfo[id];
			 if (bookInfo) {
			  element.href = bookInfo.preview_url;
			  element.style.display = '';
			 }
		   }
		}
    </script>

<script type="text/javascript" src="/includes/jquery/jquery.jPrintElement.js"></script>
	<script src="/intranet-tmpl/includes/circulacion-min.js"></script>
	<script src="/intranet-tmpl/includes/catalogacion-min.js"></script>
	<script src="/intranet-tmpl/includes/detalleEjemplar.js"></script>
	<script src="/intranet-tmpl/includes/estantesVirtuales.js"></script>

	<!-- Se incluyen las librerias necesarias para manejar autocomplete -->
	[% INCLUDE "AutocompleteHelper.inc" %]
	[% INCLUDE  'WindowHelper.inc'  %]
	
	<div id="confirmar_div" class="pane"></div>
	<br>
	
	
	<!-- PARA PODER CREAR EL FORMULARIO -->
	<div id="formulario"></div>
	
	<div id="detalleMARC" class="modal hide fade"></div>
	
	<div id="detalleComun">
	
	<!-- ---------------Registro de libro TABLE------- -->
	
	
	
	<fieldset>
		   <div class="page-header">
            <h1>[% "Detalles de Nivel 1 registro" | i18n %] [% id1 %] <small>([% nivel1_template %])</small></h1>
           </div>
		      
	
		<div id="detalle1" class="detalle1">
	        <div class="botones_detalle_nivel1">
	               
                [% PERL %]
                    print C4::AR::Filtros::action_set_button(    
                                                        title           => "[% 'Nivel 1' | i18n %]",
                                                        button          => 'btn btn-primary',

                                                        actions         => [
                                                                            {title => "Modificar", action=>"modificarNivel1()",icon=>"icon-edit"},
                                                                            {title => "Eliminar", action=>"borrarN1([% id1 %])", icon=>"icon-trash"},
                                                                            ],

                            ) ;
                [% END %]
	            
	        </div>
		    
		    <dl>
			    [% FOREACH nivel1 %]
			            [% IF liblibrarian %]
			                [% IF dato %]
				                <dt class="inline left rightMargin">[% liblibrarian %]:&nbsp;</dt> 
				                <dd>[% dato %]&nbsp;</dd>
			                [% END %]
			            [% END %]
			    [% END %]
		    </dl>
			
		[% IF estadoDeColeccion %]
        <div id="fieldset_estado_coleccion_[% id1 %]">
	        <fieldset>
	            <legend class="trigger trigger_estado_coleccion_[% id1 %] click">[% "Estado de Colecci&oacute;n" | i18n %]</legend>
	                <div id="estado_coleccion[% id1 %]" class="estado_coleccion[% id1 %]">
	                
						  <ul class="listado_sin_margen estado_coleccion">
							[% FOREACH anio IN estadoDeColeccion.keys.sort %]
							[% IF estadoDeColeccion.$anio.keys %]
							<li>
								[% IF anio != '#' %]<b>[% anio %]</b>[% END %]
								[% FOREACH volumen IN estadoDeColeccion.$anio.keys.sort %]
									[% IF volumen != '#' %][% volumen  %][% END %]
									(
									[% FOREACH fasciculo IN estadoDeColeccion.$anio.$volumen.keys.sort %]
										 [% PERL %]
											print C4::AR::Filtros::link_to( text =>     "[% fasciculo %]",
																			url=>"[% url_prefix %]/catalogacion/estructura/detalle.pl", 
																			params =>   ["id1=[% id1 %]","id2=[% estadoDeColeccion.$anio.$volumen.$fasciculo %]"],
																			title =>    "[% 'Mostrar Detalle del Registro' | i18n %]",
																			class => "link_to_detail"
																		) ;
										 [% END %]
                        
									[% END %]
									)
								[% END %]
								</li>
							[% END %]
							[% END %]
							</ul>
							
									[% IF issn %]
										<div style="position: relative; float:right;">
											<div class="google-books">
												<a id="ISSN:[% issn %]"  style="display:none" target="_blank">
													<img src="/includes/css/gbs_preview_button1.gif" border="0" style="margin: 0"/>
												</a>
											</div>
											<script src="http://books.google.com/books?jscmd=viewapi&bibkeys=ISSN:[% issn %]&callback=ProcessGBSBookInfo"></script>
										</div>
									[% END %]
									
					</div>
			</fieldset>
		</div>
	[% END %] <!-- End de If estadoColeccion  -->
	
		<h4>[% "N&uacute;mero Total de Ejemplares" | i18n %]:<b> [% cantItemN1 %]</b></h4>
		</div>
	</fieldset>
	<script type="text/javascript">makeToggle('estado_coleccion[% id1 %]','trigger_estado_coleccion_[% id1 %]',null,false);</script>
[% END %] <!-- End de If ajax  -->
[% FOREACH nivel2 %]

        <div id="fieldset_grupo[% id2 %]">
	        <fieldset>
	            <legend class="trigger_3_[% id2 %] click">
	               <div class="alert alert-success">
						<div class="page-header">
	                       <h2>[% "Detalle de Nivel 2 " | i18n %] <small>[% "GRUPO" | i18n %] [% id2 %] - [% tipo_documento %] ([% nivel2_template %])</small></h2>
                        </div>                   
                   </div>
                 </legend>
	                <div id="grupo[% id2 %]" class="grupo[% id2 %]">

		                [% PERL %]
		                    print C4::AR::Filtros::action_set_button(    
		                                                        title           => "[% 'Nivel 2' | i18n %]",
		                                                        button          => 'btn btn-primary',
		
		                                                        actions         => [
		                                                                            {title => "Modificar", action=>'modificarNivel2("[% id2 %]")',icon=>"icon-edit"},
		                                                                            {title => "Eliminar", action=>"borrarN2([% id2 %])", icon=>"icon-trash"},                                                                            
                                                                                    {title => "Agregar analítica", action=>"agregarAnalitica([% id2 %])", icon=>"icon-edit"},
		                                                                            ],
		
		                            ) ;
		                [% END %]





		                <!-- NIVEL 2 -->
			                <div id="[% id2 %]" style="position: relative; float:right;"></div>
	                        [% IF tiene_indice %]
                                  [% PERL %]
                                          print C4::AR::Filtros::action_button( 
                                                                          button         => "btn click",
                                                                          action       => "mostrarIndice([% id2 %])", 
                                                                          icon         => "icon-info-sign",
                                                                          title        => "[% 'Indice' | i18n %]",
                                                                      ) ;

                                  [% END %]
                            [% END %]
		                
                           <div id="indice_data[% id2 %]" class="modal hide fade">
								            <div class="modal-header">
								              <a class="close" data-dismiss="modal">×</a>
								              <h3>[% 'Indice del grupo' | i18n %]</h3>
								            </div>
								            <div class="modal-body">
								              <p>[% indice %]</p>
								
								
								            </div>

                          </div>

	                        [% IF esta_en_estante_virtual %]
                                [% PERL %]
                                        print C4::AR::Filtros::action_button( 
                                                                        button         => "btn click",
                                                                        action       => "mostrarEstantesVirtualesDeGrupo([% id2 %])", 
                                                                        icon         => "icon-info-sign",
                                                                        title        => "[% 'Ver estantes virtuales en los que se encuentra' | i18n %]",
                                                                    ) ;

                                [% END %]
	                        [% END %]

			                <br>
			                
			                [% IF portada_registro or isbn %]
			                   <div style="position: relative; float:right; margin-right: 12px;">
			                    [% IF portada_registro %]
			                        <a class="fancylink" href="/uploads/covers/[% portada_registro_big %]">
			                            <img style="max-height: 180px; max-width:110px;" src="/uploads/covers/[% portada_registro_medium %]" title="Portada" alt="[% 'Portada del ejemplar' | i18n %]" />
			                        </a>
			                    [% END %]
								[% IF isbn %]
									<div class="google-books">
										<a style="margin-left: 10px;" id="ISBN:[% isbn %]"  style="display:none" target="_blank">
											<img src="/includes/css/gbs_preview_button1.gif" border="0" style="margin: 0"/>
										</a>
									</div>
									<script src="http://books.google.com/books?jscmd=viewapi&bibkeys=ISBN:[% isbn %]&callback=ProcessGBSBookInfo"></script>
								[% END %]
							   </div>
							[% END %]
							
			                <dl>
				                [% FOREACH nivel2_array %]
                                    [% IF liblibrarian %]
                                        [% IF dato %]
			                                <dt class="inline left rightMargin">[% liblibrarian %]:&nbsp;</dt> 
			                                <dd>[% dato %]&nbsp;</dd>
                                        [% END %]
                                    [% END %]
                                [% END %] <!-- END FOREACH nivel2_array -->
			                    <li>
					                    [% INCLUDE "estructura/ejemplaresDelGrupo.tmpl" %]
			                    </li>
			                    [% IF nivel1_analiticas_cant %]
	                                <li>
                                        [% INCLUDE "estructura/analiticasDelGrupo.tmpl" %]
	                                </li>
                                [% END %]
                            </dl>

                [% INCLUDE  "partials/e-docs_grupo.inc" %]
                [% INCLUDE  "partials/estantes_grupo.inc" %]
                <div class="ticket" id="ticket" ></div>
	            </div> <!--Fin <div id="grupo[  id2 ]-->
	        </fieldset>
	        <script type="text/javascript">makeToggle('grupo[% id2 %]','trigger_3_[% id2 %]',null,false);</script>
        </div>



[% END %]<!-- END FOREACH Nivel 2-->

</div> <!-- Fin DIV detalleComun -->
[% IF !ajax %]
	<div id='basic-modal-content'></div>
	<!-- para mostrar el contenido del indice -->
	
	
	[% INCLUDE  "intranet-bottom.inc" %]
[% END %]
