
[% IF cantItems %]
	Cantidad de Items: [% cantItems %]<br>
[% END %]
	
<hr>
	Ejemplares Disponibles:<b> [% disponibles %]</b><br>
	Reservas Realizadas: <b> [% cantReservas %]</b><br>
	Reservas en Espera: <b> [% cantReservasEnEspera %]</b><br>
	Ejemplares Prestados:<b> [% cantPrestados %]</b><br>
<hr>                
        
	<table cellspacing="0" cellpadding="0"  width="100%" class="tablaResult">
		<tr align="center" cellpadding="0"  valign="middle" class="tablaresultadoTitle">
	
			<td colspan="2" >
				<b>Edici&oacute;n</b>
				[% PERL %]
					print C4::AR::Filtros::link_to( text =>     C4::AR::Filtros::to_Icon( boton   => "icon_edicion" ),
													url =>      "agregarDocumento.pl", 
													params =>   ["id1=[% id1 %]","id2=[% id2 %]","id3=[% id3 %]","tipoAccion=MODIFICAR_NIVEL_3"],
													title =>    "[% 'Editar Nivel 2' | i18n %]"
												) ;
				[% END %]
            </td>
			<td><b>Sig. Top.</b> </td>
			<td><b>C&oacute;digo</b></td>
			<td><b>Disponibilidad</b></td>
			<td><b>Vencimiento</b></td>
			<td width="20%"  colspan="2"><b>Circulaci&oacute;n</b></td>
			<td>MARC</td>
                    
		</tr>
							
[% FOREACH nivel3 %]


		<tr align="center">

        <!-- Si se puede Editar ??? -->
			[% PERL %]
				print C4::AR::Filtros::link_to( text =>     C4::AR::Filtros::to_Icon( boton   => "icon_edicion" ),
												url =>      "/cgi-bin/koha/catalogacion/estructura/agregarDocumento.pl", 
												params =>   ["id1=[% id1 %]","id2=[% id2 %]","id3=[% id3 %]","tipoAccion=MODIFICAR_NIVEL_3"],
												title =>    "[% 'Editar Ejemplar' | i18n %]"
											) ;
			[% END %]
        <!--            END  -->
			</td>
			<td width="6%" valign="middle">
        <!-- Si se puede borrar ???-->
        <div>
            [% PERL %]
                                print C4::AR::Filtros::to_Icon(   
                                                                    boton   => "borrar",
                                                                    onClick => "borrarN3('[% id2 %]','[% id3 %]');",
                                                                    title   => "[% 'Borrar Ejemplar' | i18n %]",
                                        ) ;
            [% END %]
        </div>
        <!--            END  -->
			</td>
			<td>[% nivel3_obj.getSignatura_topografica %]</td>
			<td>
			[% PERL %]
				print C4::AR::Filtros::link_to( text => "[% nivel3_obj.getBarcode %]",
												url =>      "/cgi-bin/koha/busquedas/detalleItem.pl", 
												params =>   [   "id1=[% id1 %]","id2=[% id2 %]","id3=[% id3 %]",
																"barcode=[% barcode %]","signatura_topografica=[% signatura_topografica %]"
														],
												title =>    "[% 'Detalle de disponibilidad' | i18n %]"
											) ;
			[% END %]
			</td>
			<td>
				<span class="[% clase %]">
					[% nivel3_obj.ref_disponibilidad.getNombre %]
				</span>
				<p class="usuario_del_prestamo">
				[% IF socio %]
						[% socio.persona.getApeYNom %]
				[% END %]
				</p>
			</td>
			<td>
				<span class="[% claseFecha %]">
					[% IF prestamo %]
						[% prestamo.getFecha_vencimiento_formateada %]
					[% ELSE %]
						-------
					[% END %]
				</span>
			</td>
			<td valign="middle" colspan="2">
	[% IF circularDesdeDetalleDelRegistro %]
			[% IF paraPrestamo %]

				<input 	type="image" src="[% themelang %]/images/item-return.png" title="[% 'Devolver' | i18n %]" 
						onClick="devolverPrestamo('[% socio.getNro_socio %]','[% socio.persona.getApeYNom %]','[% id2 %]','[% id_prestamo %]')">
				[% IF prestamo.sePuedeRenovar %]
				<input 	type="image" src="[% themelang %]/images/renew.png" title="[% 'Renovar' | i18n %]" 
						onClick="renovar('RENOVACION','[% socio.getNro_socio %]','[% socio.persona.getApeYNom %]','[% id2 %]','[% prestamo.getId_prestamo %]')">
				[% END %]
			[% ELSE %]
				<input 	type="image" src="[% themelang %]/images/item-prestar.png" title="[% 'Realizar pr&eacute;stamo' | i18n %]" 
						onClick="buscarUsuario('[% id2 %]','[% id3 %]');">
			[% END %]
	[% ELSE %]
		[% 'NO SE PERMITE CIRCULAR' | i18n %]
	[% END %] <!--END IF permiso_para_circular -->
			</td>
                
			<td colspan="2">
				<input TYPE="image" name="marc"  VALUE="detalle MARC" src="[% themelang %]/images/MARC.png" title="[% 'Detalle MARC' | i18n %]" 
						onClick="detalleMARC('[% id3 %]')">
			</td>
		</tr>

[% END %]<!-- END FOREACH NIVEL 3 -->
	
	</table>