
[% IF OK == 1 %] 

[% USE HTML %]

<!-- TEMPLATE DE CAMPOS TEMPORALES -->
<!-- FIXME no se si se usa el hidden -->
<input id="obligatorio" type="hidden" value="">

<fieldset>
<legend><strong>[% 'Modificar campo Marc para el nivel' | i18n %] [% nivel %]:</strong></legend>

<ul>

    <li class="sub_item" id="content_combo_tipo_nivel3_id">
        <label for="tipo_nivel3_id">
            [% 'Esquema:' | i18n %] 
        </label>
        [% selectItemType %]
    </li>

    <li class="sub_item">
        <label for="campoX">Campo:</label> 
        <input type="text" value="[% catalogacion.campo %]" disabled/>
    </li>

    <li class="sub_item">
        <label for="campoX">Subcampo:</label> 
        <input type="text" value="[% catalogacion.subcampo %]" disabled/>
    </li>

<!--     Si catalogacion.subCamposBase.getObligatorio (LA BIBLIA) dice que es obligatorio, no se puede modificar -->
    <li class="sub_item">
        <label for="obligatorio">[% 'Obligatorio?' | i18n %]</label>
        <input  type=radio id="obligatorio_si" name="obligatorio" value="1" 
                [% IF catalogacion.obligatorio == '1' %] checked [% END %]
                [% IF catalogacion.subCamposBase.getObligatorio %] disabled [% END %]>
            [% 'S&iacute;' | i18n %]
        <input  type=radio id="obligatorio_no" name="obligatorio" value="0" 
                [% IF catalogacion.obligatorio == '0' %] checked [% END %]
                [% IF catalogacion.subCamposBase.getObligatorio %] disabled [% END %]>  
            [% 'No' | i18n %]<BR>
    </li> 
    <li class="sub_item">
        <label for="liblibrarian">
            [% 'Vista en Intranet:' | i18n %] 
        </label>
        <input id="liblibrarian" type="text" value="[% catalogacion.getLiblibrarian %]" size="85"> 
   </li>
    <li class="sub_item">
        <label for="tipoInput">[% 'Tipo de entrada' | i18n %]:</label>
        [% comboComponentes %]
    </li>
    <li class="sub_item">
        <label for="combo_validate">[% 'Validador' | i18n %]:</label>
        [% PERL %]
                        print C4::AR::Filtros::getComboValidadores();
        [% END %]
    </li>

    <li class="sub_item">
        <label for="tablas_ref">[% 'Tabla de referencia' | i18n %]: </label>
        [% tabla_referencias %]
    </li>

    <div id="divCamposRef" valign="top" style="display:none">
        <li class="sub_item">
            <label for="orden">[% 'Orden' | i18n %]:</label>
            <select name="camposSelect" id="camposSelect"></select>
        </li>
        <li class="sub_item">
            <label for="camposRef">[% 'Campos' | i18n %]:</label> 
            <select name="camposRef" id="camposRef"></select>
        </li>
    
        <p>[% 'Ejemplo' | i18n %]: [% ejemplo %]</p>
        <p>[% 'NOTA: En Campos borras los campos que no desea ingresar y en el separador ingresar un caracter que no sea una letra ni un numero' | i18n %]</p>

    </div>

</ul>



    [% PERL %]
                        print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar Campo' | i18n %]",
                                                            boton   => "boton_buscar",
                                                            onClick => "modificarEstructuraCatalogacion([% catalogacion.getId %]);",
                                                            title   => "[% 'Guardar Campo' | i18n %]",
                                                            alternClass => "botonCentrado",
                                                            width   => "auto"
                                ) ;
    [% END %]

    [% PERL %]
                        print C4::AR::Filtros::to_Button(   text    => "[% 'Cancelar Campo' | i18n %]",
                                                            boton   => "boton_buscar",
                                                            onClick => "cancelarEstructuraCatalogacion();",
                                                            title   => "[% 'Cancelar Campo' | i18n %]",
                                                            alternClass => "botonCentrado",       
                                                            width   => "auto"
                                ) ;
    [% END %]

</fieldset>
[% ELSE %]
    [% PERL %]
            print C4::AR::Filtros::get_error_message( 
                                            debug => "Error de parametros en modificarCampoMARC.tmpl",
                                );
    [% END %]
[% END %]