[% IF nivel != 'Niveles' %]

    [% IF cant != 0 %]

<script type="text/javascript">
      $(document).ready(function() {
        makeToggle('datos_tabla_div','trigger',null,false);
        checkedAll('checkAllCampos','checkCampos');
      });
</script>

<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Campos Modificados del nivel" | i18n %]:</legend>
        <div class="datos_tabla_div" id="datos_tabla_div">
        <table id="tablaCamposMod" class="table table-striped">

	        <tr class="titulo_tabla_resultado">

		        <td width="10%">[% 'MARC' | i18n %]</td>
		        <td width="20%">[% 'Vista en Intranet' | i18n %]</td>
                <td width="10%">[% 'Tipo' | i18n %]</td>
                <td width="10%">[% 'Validador' | i18n %]</td>
                <td width="10%">[% 'Referencia' | i18n %]</td>
                <td width="10%">[% 'Campo referencia' | i18n %]</td>
                <td width="10%">[% 'Orden' | i18n %]</td>
                <td width="4%">[% 'Fijo' | i18n %]</td>
                <td width="5%">[% 'Obligatorio' | i18n %]</td>
                <td width="5%">[% 'Visible' | i18n %]</td>
                <td width="5%">[% 'Esquema' | i18n %]</td>
                <td width="5%">[% 'Acciones' | i18n %]</td>

	        </tr>
        [% FOREACH catalogacion IN catalogaciones %]
	        <tr align="center" >
    
		        <td>
			        <b>[% catalogacion.getCampo %]</b>, <b>[% catalogacion.getSubcampo %]</b>
		        </td>
		        <td>
			        [% catalogacion.getLiblibrarian %]
		        </td>
                <td>    
                        &nbsp;  [% catalogacion.getTipoString %]
                </td>
                <td>    
                        &nbsp;  [% catalogacion.getRulesToString %]
                </td>
                <td>    
                                    [% IF catalogacion.tieneReferencia == 1 %]
                                            [% catalogacion.infoReferencia.getReferencia %]
                                    [% ELSE %]
                                            [% "No tiene" | i18n %]
                                    [% END %]
                </td>
                <td>    
                                    [% IF catalogacion.tieneReferencia == 1 %]
                                            [% catalogacion.infoReferencia.getCampos %]
                                    [% ELSE %]
                                            [% "No tiene" | i18n %]
                                    [% END %]
                </td>
                <td>    
                                    [% IF catalogacion.tieneReferencia == 1 %]
                                            [% catalogacion.infoReferencia.getOrden %]
                                    [% ELSE %]
                                            [% "No tiene" | i18n %]
                                    [% END %]
                </td>
                <td>    
                                    [% IF catalogacion.soyFijo == 1 %]
                                            <span class="verde">[% "Si" | i18n %]</span>
                                    [% ELSE %]
                                            <span class="rojo">[% "No" | i18n %]</span>
                                    [% END %]
                </td>
                <td>    
                                    [% IF catalogacion.getObligatorio == 1 %]
                                            <span class="verde">[% "Si" | i18n %]</span>
                                    [% ELSE %]
                                            <span class="rojo">[% "No" | i18n %]</span>
                                    [% END %]
                </td>
                <td>
                [% IF catalogacion.getObligatorio != 1 %]
                    <input type="checkbox" id="[% id %]" value="[% catalogacion.getVisible %]" onChange="visibilidad('[% catalogacion.getId %]')" 
                    value="[% catalogacion.getVisible %]"   [% IF catalogacion.getVisible %] 
                                                                checked
                                                            [% END %] 
                    >
                [% END %]
                </td>
                <td>    
                                    [% catalogacion.getItemType %]
                </td>
                <td>
                
                [% IF catalogacion.soyFijo != 1 %]
                        [% PERL %]
                            print C4::AR::Filtros::to_Icon(    
                                                                boton   => "icon_edicion",
                                                                onClick => "mostrarModificarCampo('[% catalogacion.getId %]');",
                                                                title   => "[% 'Modificar Campo' | i18n %]",
                                                                alternClass => "botonCentradoTabla"
                                    ) ;
                        [% END %]
                [% END %]
                
                [% IF catalogacion.soyFijo != 1 %]
                        [% PERL %]
                            print C4::AR::Filtros::to_Icon(    
                                                                boton   => "icon_borrar",
                                                                onClick => "eliminarCampo('[% catalogacion.getId %]');",
                                                                title   => "[% 'Eliminar Campo' | i18n %]",
                                                                alternClass => "botonCentradoTabla"
                                    ) ;
                        [% END %]
                [% END %]
                
                </td> 
	        </tr>
        [% END %]
            
        </table>
  </div>    
</fieldset>

    [% END %]
    
<div class="form-actions">    
    [% PERL %]
                print C4::AR::Filtros::to_Button(       text    => "[% 'Agregar Campo' | i18n %]",
                                                        boton   => "btn btn-large btn-primary",
                                                        onClick => "mostrarAgregarCampo();",
                                                        title   => "[% 'Agregar Campo' | i18n %]",
                                                        width   => "auto",
                                                        alternClass => "botonCentrado"
                        ) ;
    [% END %]    
</div>     
[% END %] <!-- END IF niveles -->

<div id="groups_content"></div>
