body {
	margin : 25px;
	background-color: #FFFFFF;	
	font-family: "Trebuchet MS", "Verdana", "Arial" ;
	font-size: 10px;
	font-style: normal;
	color: #000000;
	behavior: url("http://www.xs4all.nl/~peterned/htc/csshover3.htc");
}

.header{

   margin: 25px;
   width: 70%;
}

#login
{	
   display:inline;
      
}

#login a{

   width: 30px;
}

.tdRight{
   width: 35%;
   float: right;
   margin-bottom:12px;
}

.Estilo_Cool {
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10px;
	position: static;
	height: auto;
	width: auto;
	left: 50%;
	top: 0100px;
	right: 50%;
	bottom: 50%;
	font-weight: bold;

}

input.error{
   border:1px dotted red;
}

.matchedSmartInputItem {
font-size:0.8em;
padding: 5px 10px 1px 5px;
margin:0;
cursor:pointer;
}

.selectedSmartInputItem {
color:white;
background-color:#3875D7;
}

#smartInputResults {
padding:0;margin:0;
}

.siwCredit {

margin:0;
padding:0;
margin-top:10px;
font-size:0.7em;
color:black;
}

.floater {
position:absolute;
bottom:0;
right:0;
z-index:2;
display:none;
padding:0;
font-family: "Trebuchet MS", "Verdana", "Arial";
font-size: 10pt;

}
.wickEnabled
{
font-family: "Trebuchet MS", "Verdana", "Arial";
font-size: 10pt;

color:black;

}
.floater td {
font-family: "Trebuchet MS", "Verdana", "Arial";
font-size: 10pt;

background-color:white;
border:1px inset #979797;
color:black;
}

.Estilo8 {color: #FFFFFF}
.Estilo9 {
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10px;
	position: static;
	height: auto;
	width: auto;
	left: 50%;
	top: 0100px;
	right: 50%;
	bottom: 50%;
	font-weight: bold;
	color: #FFFFFF;
}
.Estilo10 {font-size: 9px}
.Estilo1 {
	color: #FFFFFF;
	font-weight: bold;
}
.Estilo2 {
	font-family: "Trebuchet MS", "Verdana", "Arial";
	color: #FFFFFF;
	font-size: 16px;
}
.Estilo3 {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.Estilo4 {color: #F3F3F3}

.Estilo15 { 
	font-family: "Trebuchet MS", "Verdana", "Arial";
	color: black;
	font-size: 12px
}
.entrada{
	font-family: "Trebuchet MS", "Verdana", "Arial";
        color: black;
        font-size: 15px
}

.listaMenuBotones {
   width: 160px;
   height: 160px; 
   list-style:none;
}
.textOverBoton {
	cursor: pointer;
   font-family: helvetica;
   text-align:center;
}
.botonBehindText {
   margin-right: -135px; 
   margin-bottom:-3px
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #991D1D;
	text-decoration: none;
}
a:hover {
	color: #BC3131;
	text-decoration: none;
}
a:active {
 	color: #000000;
	text-decoration: none;
}
tr.final{
	border-color: #F3F3F3; 
	background-color: #F3F3F3;
}
td.final{
	background-color: #F3F3F3;
}
tr.parametro{
	border-color: #DFE1E6;
	background-color:#F3F3F3;
}
			
.lineaPunteada {
   border: #cccccc; 
   border-style: dotted; 
   border-top-width: 0px; 
   border-right-width: 0px; 
   border-bottom-width: 1px; 
   border-left-width: 0px;
   padding: 2px;
      }

.fondoPixelCeleste {
   background : url(pixelceleste.png) repeat-x 100%;
   font-Family : normal Bold Trebuchet MS, Verdana;
   font-size: 10pt;
   color: #999999;
   background-color: transparent;
   text-align: center;
	}
.textoDesarrollo{
   font-Family : "Trebuchet MS", "Verdana", "Arial";
   color: #999999;
   background-color: transparent;
   text-align: left;
	}	
.textoColumnas{
   font-Family : "Trebuchet MS", "Verdana", "Arial"; 
   font-size: 8pt;
   font-weight: bold;
   border: #cccccc; 
   border-style: dotted; 
   border-top-width: 0px; 
   border-right-width: 0px; 
   border-bottom-width: 1px; 
   border-left-width: 0px;
   padding: 2px;
   border-left: dotted ;
   border-right: dotted;
   text-align: left;
}
	
.textoEdits{
  font-Family : "Trebuchet MS", "Verdana", "Arial";
  font-size: 8pt;
  font-weight: bold;
  color: #999999;

}
td.abc{
  font-Family : "Trebuchet MS", "Verdana", "Arial";
  font-size: 10pt;
  font-weight: bold;
  color: #999999;
	}	

.tdout{
background-color: #F4F4F4;
font-family: "Trebuchet MS", "Verdana", "Arial";
font-size: 10pt;
color: #000000;
font-weight: normal;
border: #333333; 
   border-style: dotted; 
   border-top-width: 0px; 
   border-right-width: 0px; 
   border-bottom-width: 1px; 
   border-left-width: 0px;
   padding: 2px;
}



.tdhover{
background-color: #EBEAEA;
font-family: "Trebuchet MS", "Verdana", "Arial";
font-size: 10pt;
color: #000000;
font-weight: normal;
border: #333333; 
   border-style: dotted; 
   border-top-width: 0px; 
   border-right-width: 0px; 
   border-bottom-width: 1px; 
   border-left-width: 0px;
   padding: 2px;
}

/*.tdout a {display:block;background:#F4F4F4;}*/
.tdout a:link {
	color: #000000;
	text-decoration: none;
}
.tdout a:visited {
	color: #000000;
	text-decoration: none;
}
.tdout a:hover {
	color: #000000;
	text-decoration: none;
}
.tdout a:active {
	color: #000000;
	text-decoration: none;
}
.tdhover /*a {display:block;background:#CCCCCC;}*/
.tdhover a:link {
        color: #000000;
	text-decoration: none;
		}
.tdhover a:visited {
        color: #000000;
	text-decoration: none;
		}
.tdhover a:hover {
	color: #000000;
	text-decoration: none;
		}
.tdhover a:active {
	color: #000000;
	text-decoration: none;
		}

.subtitle {
	   font-weight: bold;	
	   background : url(../images/pixelceleste.png) repeat-x 100%;
	   font-Family : normal Trebuchet MS, Verdana;
	   font-size: 13pt;
	   color: #ffffff;
	   background-color: transparent;
	   text-align: right;
	   height: 30px;
		    }
.tablaresultado th {  
	font-Family : "Trebuchet MS", "Verdana";
	color: #ffffff;
	font-size: 10pt;
	background-color: transparent;
	text-align: center;
        
	}	
.tablaresultadoTitle { 
	font-Family : "Trebuchet MS", "Verdana";
        color: #ffffff;
        font-size: 9pt;
	background: url(../images/medio.png) repeat-x ;
	background-color:#3c9eb4;
	/*background-color:#D9E6F6;*/
	text-align: center;
	font-weight: bold;
	}
								
.title {
           font-weight: bold;
	   /*background : url(../images/pixelceleste.png) repeat-x 100%;*/
	   font-Family : normal Trebuchet MS, Verdana;
	   font-size: 14pt;
	   color: #ffffff;
	   background-color: transparent;
	   text-align: left;
	   height: 30px;
	   }
.pagetitle {
	  font-weight: bold;
	  font-Family : Trebuchet MS;
	  font-size : 16pt;
	  color: #000000;
	  text-align: left;

	  }

.recuadro{
	background-color: #666666;
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 7pt;
	color: #F4F4F4;
	font-weight: bold;
	
		}
		
.recuadroAyuda{
        background-color: #F0F0F0;
	border: #999999;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
		  
	font-family: "Trebuchet MS", "Verdana", "Arial";
        font-size: 10pt;
	color: #000000;
	font-weight: normal;
	}
							

.inputFont{
font-family: "Trebuchet MS", "Verdana", "Arial";
font-size: 10pt;
color: #999999;
font-weight: bold;
		}
.inputFontNormal{
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	overflow:auto;              
}

.input{
   font-family: "Trebuchet MS", "Verdana", "Arial";
   font-size: 10pt;
   color: #000000;
   font-weight: normal;
   overflow:auto;              
}
   
               
.lineafinaltabla{
           background-color:#999999;
           height:1;
  
        }

		
.lineagruesa{
	   background-color:#47AACA;
	   height:4;
				 
	}


.lineagruesaceleste{
           background-color:#65C5E0;
	              height:4;

		              }
			      
.texto{
 font-family: "Trebuchet MS", "Verdana", "Arial";
 color: #666666;
 font-size: 12px;		 
}

td.par{
font-family: "Trebuchet MS", "Verdana", "Arial";
color: #000000 ;
font-size: 10pt;
background-color:#FFFFFF;
}
td.impar{
font-family: "Trebuchet MS", "Verdana", "Arial";
color:#000000;    
font-size: 10pt;
background-color:#F4F4F4;
}

td.number{
font-family: "Trebuchet MS", "Verdana", "Arial";
color: #666666;
font-size: 10px;
}
td.highnumber{
border-color: #FFFFFF;
font-weight: bold;
text-decoration: underline;
color: #666666;
font-size: 12px;

}
			
	
.state {
background:#3C9EB4 url(../images/medio.png) repeat-x scroll 0%;
color:#FFFFFF;
font-family:"Trebuchet MS","Verdana";
font-size:9pt;
font-weight:bold;
text-align:center;
}

/* *****************************************Agregados**************************************** */
/* Estilo para tabs */

#containerTabs {
	width:500px;
}

.tabs {
	width:85px;
	margin-right:5px;
	padding:2px;
	text-align:center;
	float:left;
	cursor:pointer;
	border:2px solid #c3c0c0;
	border-bottom:0;
}

.mensajeError{
        text-decoration: none;
        font-size:12pt;
        font-family:verdana;
        color:red;
	font-weight:bold;
	text-align: center;
}

/* fin Estilo para tabs */


/*Estilo HELPPPPPPPPPPP******************************************/

div.headerWindowHelp{
	text-decoration: none;
        font-size:8pt;
        font-family:verdana;
        color:#55C5D0;
	background-color: #666666;
	font-weight: bold;
	text-align: right;
	border:1px solid #888;

	width: 100%; 
	height: 5%;
}

/********************************************************************************************/


/***************************************Estilo para pop ups**********************************/
div.window{
	position:absolute;
      	background-color:white;
	/*border:0px solid #888;*/
	border:medium solid #888;
      	margin:0px;
      	padding:0px;
	z-index: 0;
}

.windowBlur{
   position:absolute;
   background-color: #ccc; /*shadow color*/
   color: inherit;
   margin-left: 4px;
   margin-top: 4px;
   z-index:-1;
}

div.headerWindow{
	text-decoration: none;
        font-size:8pt;
        font-family:verdana;
        color:#55C5D0;
	background-color: #666666;
	font-weight: bold;
	text-align: right;
	border:1px solid #888;

	width: 100%; 
	height: 10%;
}


div.title{
	position:center;
	text-align: center;
	text-decoration: none;
        font-size:12pt;
        font-family:verdana;
        color:#55C5D0;
      	background-color:white;
	width: 100%; 
	height: 20%;
}

.contentWindow ul li{
	list-style-type:none;
	padding-left:1em;
	width: 100%; 
	height: 50%;
}


.controls{
 	text-align: center;
/* 	float: center; */
	width: 100%; 
	height: 15;
}

div.formElemets ul li {
      list-style-type:none;
      display:block;
      margin:0;
      padding:2px;
}

/**************************************Fin Estilo para pop ups********************************************/

img.showhelp {
	cursor: pointer;
}

.tablaresultadoTitleClick { 
	font-Family : "Trebuchet MS", "Verdana";
        color: #ffffff;
        font-size: 9pt;
	background: url(../images/medio.png) repeat-x ;
	background-color:#3c9eb4;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	}

/*Miguel lo agregue para hacer la zebra*/
tr.par {
/* font-family: "Trebuchet MS", "Verdana", "Arial"; */
/* color: #000000 ; */
/* font-size: 10pt;  */
background-color:#FFFFFF;
}
tr.impar {
/* font-family: "Trebuchet MS", "Verdana", "Arial"; */
/* color:#000000;     */
/* font-size: 10pt; */
background-color:#F4F4F4;
}
/*      Fin estilo zebra         */

div.boton{
/* 	background : url(/images/agregar_temporal.png) repeat-y 100%; */
	cursor: pointer;
	width: 35px; 
/* 	border: 1px solid #888888;  */
	height:21px;
	
}

div.detalle{
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	margin-left: 10px;
}


.detalleMARC {
      list-style-type:none;
      display:block;
      padding:5px;
      text-align: left;
      width: 90%; 
}

.MARCheader {
	margin:0;
	padding:5px;
	background-color:#FFFFFF;
	width: 90%;
	list-style-type:none;
}
/* color para fila seleccionada en una tabla, poner un color mejor */
.selected {
	background-color:#999999;
}

.focus {
	background-color:#FFFAAA;  
}

.paginaNormal{
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	cursor: pointer;
}

.paginaActual{
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: red;
	font-weight: bold;
	cursor: pointer;
}

/* Miguel agregado para cambiar fondo de inputs */

.inputFontDisabled{
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	overflow:auto;
	background-color:gray; 
}

.inputFontEnabled{
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	overflow:auto;
	background-color:white; 
}

.divCirculacion{
	border-style:solid; 
	border-color:gray;
	left:75%; 
	text-align:center; 
	background-color:white;
	margin-left:30px;
}

.divDatosUsuario{
	float:left;
	width:50%;
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
}

/* PARA EL DETALLE*/
.fechaVencida{
	font-size:10pt;
	color:red;
}

.prestamo{
	font-size:10pt;
	color:green;
}

.salaLectura{
	font-size:10pt;
	color:blue;
}


.tableMsgUser{

	Background-color: #000000;
	border:0;
}

.fontMsgUser{

        text-decoration: none;
        font-size:12pt;
        font-family:verdana;
        color:#f2f2f2;
	font-weight:bold;

}

.tableMsgConfirmation{

        border:0;
}
.fontMsgConfirmation {

        text-decoration: none;
        font-size:10pt;
        font-family:verdana;
        color:red;
	font-weight:bold;
}


/*                                                         MODULO DE CIRCULACION                                                         */

#datosUsuario {

	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	overflow:auto;
	margin: 6px;
	z-index: 80;
}
/*                                                       FIN  MODULO DE CIRCULACION                                                       */


div.dimmer {
	background-color:grey;
	font-family:verdana;
	font-weight:bold;
	left:0;
	opacity:0.8;
	padding:40px;
	position:absolute;
	top:0;
	visibility:hidden;
}

div.dimming {
	background-color:#FFFFFF;
/* 	background-image:url(/org-img/MP3/loader1.gif); */
	background-position:center;
	background-repeat:no-repeat;
	border:1px solid #999999;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:normal;
	left:16px;
	position:absolute;
	top:64px;
/* 	visibility:hidden; */
	z-index:80;
} 

.winHeader {
	background-image:url(/intranet-tmpl/blue/images/head_div.gif);
	background-color:#8BB2CC;
	border:1px solid #999999;
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
	height:24px;
}

/* no se si se usa */
.ventanaContenido {
	overflow: auto;
}

.centro {
    margin-bottom:10px;
    margin-left:1%;
    text-align:justify;
    width: 79%;
/*     overflow: auto; */
    float:right;
}

.lateral {
    clear: left;
    float: left;
    height: 600px;
/*     overflow: auto; */
    width: 20%;
}

.nivel2Barra {
	border:1px solid;
    height: 50%;
    overflow: auto;
    width: 100%;
}

.nivel1Lateral {
    border:1px solid #999999;
    padding:11px;
    height: 30%;
/*     height:30%; */
}

.nivel2Lateral {
    /*overflow: auto;*/
    height: 100%;
    padding:11px;
    cursor: pointer;
    font-family: "Trebuchet MS", "Verdana", "Arial";
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    padding: 22px;
}

p.nivel2Selected:hover{
    color: #BC3131;
    border:2px solid #C3C0C0;
    text-decoration: none;    
}

.nivel3Footer {
    width: 100%;
    float: left;
}

.todo {
    height:100%;
    width:100%;
}

/* end agregado */


/* para agregar documento */
.divContentComponente{
    clear:both; 
    padding-top:1%;
}

.divComponente{
    float: left;
    padding-right:1%; 
    padding-bottom: 1%;
}

.divLabelComponente{
    float: left; 
    width: 25%;
    font-family: "Trebuchet MS", "Verdana", "Arial";
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
}
/* fin para agregar documento */



/* ESTILOS PARA FORMS DE VALIDACION */
/* estilo generico para todos los forms validables */
.validateDataForm label { width: 250px; }
.validateDataForm label.error, .validateDataForm input.submit { 
                                                         margin-left: 253px;
                                                         color:red;
                                                         font-weight:bold; 
                                                      }

/* estilo generico para todos los forms validables */
.validateDataForm label.error {
         margin-left: 10px;
         width: auto;
         display: block;
         color:red;
         font:bold; 
}
/*
label.error {
         margin-left: 10px;
         width: auto;
         display: inline;
         color:red;
         font:bold; 
         float:left;
}*/

.click{
    cursor: pointer;
}

/* MENUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU */

/* CSS Menus - Horizontal CSS Menu with Dropdown and Popout Menus - 20050131 */



/* Begin CSS Popout Menu */
.menu-alone-link{
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   display:block;
   border-width:1px;
   border-style:solid;
   border-color:#ccc #888 #555 #bbb;
   white-space:nowrap;
   margin:0;color:#fff;
   background:black;
   text-transform:uppercase;
   padding:0 5px; 
}

#menu{
   width:1024px;
   float:left;
}

.menu-div{
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   margin:0;
   text-align:center;
   text-transform:uppercase;
}

.menu-div ul{
   top: 84px;
}

.menu-ul {
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   display:block;
   background:grey;
   margin:0;
   padding:0;
   text-transform:uppercase;
	list-style-type:none;
}


.menu-item {
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   display:block;
   background:grey;
   width:140px;
/*    margin:0 0 0 -40px; */
   text-transform:uppercase;
}

.menu-item a{
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   display:block;
   background:grey;
/*    margin:0 0 0 -40px; */
   text-transform:uppercase;
}

.menu-item a:hover{
   background: #FFE4B5;
}

#menu a{
   font:normal 100%/205% tahoma,arial,helvetica,sans-serif;
   display:block;
   border-width:1px;
   border-style:solid;
   border-color:#ccc #888 #555 #bbb;
   white-space:nowrap;
   margin:0;
   padding:0 1px;
/*    width:112px; */
}

h3{
font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
cursor: pointer;
display:block;
border-width:1px;
border-style:solid;
border-color:#ccc #888 #555 #bbb;
white-space:nowrap;
margin:0;
padding:0 5px;
/* width: 104px; */
}

h3{
color:#fff;
background:#000 url(http://www.seoconsultants.com/css/images/expand3.gif) no-repeat 100% 100%;
text-transform:uppercase
}

#menu a{
background:#eee;
text-decoration:none;
}

#menu a, #menu a:visited{
color:#000;
}


#menu ul{
margin:0;
padding:0;
float:left;
width:11.5em;
}

#menu li{
position:relative;
list-style-type:none;
float:left;
width:112px;
}

#menu ul ul{
position:absolute;
list-style-type:none;
z-index:500;
/* top:auto; */
display:none;
}

#menu ul ul ul{
top:0;

}

#menu ul li{
   float:left;
   width:100px;   
}


/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#menu h3:hover{
background:#000 url(http://www.seoconsultants.com/css/images/expand3.gif) no-repeat -999px -9999px;
}


/* End of non-anchor hover selectors */

/* Styling for Expand */

#menu a.x, #menu a.x:visited{
font-weight:normal;
color:#000;
background:#eee url(http://www.seoconsultants.com/css/images/expand3.gif) no-repeat 100% 100%;
}

/* FIXME esto esta rompiendo todo */
#menu ul li {
      list-style-type:none;
      display:block;
      margin:0;
   float:left;
   width:100px;  
}


.main-header{

   width:1024px;
   float:left;
}

/* End CSS Popout Menu */

/* Begin Content Area - Not Part of CSS Popout Menu */

#content{position:absolute;top:3.0em;left:0;margin:0 .5em .5em .5em;padding:0.5em;border:1px solid #000;clear:both;}
#content a:link{color:#a00;}
#content a:visited{color:#a00;}
#content a:hover{color:#a00;background:#eee;}
#content a:active{color:#060;background:#ddd;}
#content h1, #content h2, #content h3{font:bold 1.0em arial,sans-serif;margin:0.5em 0.25em;padding:0;}
#content img{border:none;}
#content p{font:normal 0.9em/1.5em verdana,sans-serif;margin:1.0em;}
#content ul, #content ul ul{font:normal 0.95em/1.45em verdana,tahoma,arial,sans-serif;margin:1.0em 4.0em 1.5em 4.0em;}
#content ul li{font:normal 0.9em/1.4em verdana,tahoma,arial,sans-serif;margin:1.0em 0;}
#content ul ul li{font:normal 1.1em/1.6em verdana,tahoma,arial,sans-serif;margin:0;}
#content .fr{float:right;margin:0 0 1.0em 1.0em;}
#content .mod{font:normal .7em arial,sans-serif;margin:.25em;}
div.vv{position:relative;top:0;float:right;margin:0 0 15px 15px;}
span.as300250{float:right;margin:0 1.0em .2em 1.0em;}
span.as300250l{float:left;margin:0 1.0em .2em 1.0em;}
span.as120240{float:right;margin:0 1.0em .2em 1.0em;}
span.as120240l{float:left;margin:0 1.0em .2em 1.0em;}
.selectLang{

   width: 55px;
   display:inline;
}
/* FIN MENU */

.highlight { background-color: yellow }