<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/includes/MessageHelper.js"></script>
<script src="/intranet-tmpl/blue/includes/circulacion.js"></script>
<script src="/intranet-tmpl/blue/includes/util.js"></script>
<script src="/intranet-tmpl/blue/includes/WindowHelper.js"></script>
<script src="/intranet-tmpl/blue/includes/jquery/jquery.bgiframe.min.js"></script>
<script src="/intranet-tmpl/blue/includes/jquery/jquery.dimensions.js"></script>
<script src="/intranet-tmpl/blue/includes/jquery/ui.mouse.js"></script>
<script src="/intranet-tmpl/blue/includes/jquery/ui.draggable.js"></script>
<script src="/intranet-tmpl/blue/includes/jquery/ui.draggable.ext.js"></script>

<script>


$(document).ready(function(){
	zebra("tablaResult");	

});

function detalleMARC(id3){
	objAH=new AjaxHelper(updateInfoMARC);
	objAH.url= "/cgi-bin/koha/busquedas/MARCDetalle.pl";
	objAH.id3= id3;
	//se envia la consulta
	objAH.sendToServer();
}

function updateInfoMARC(responseText){
	$('#detalleComun').slideUp("slow");
	$('#detalleMARC').html(responseText);
	$('#detalleMARC').show();
}

function verDivs(){
	$('#detalleComun').slideDown("slow");
	$('#detalleComun').show();
	$('#detalleMARC').slideUp("slow");
}

function filtroPorAutor(id){
	location.href="filtrado.pl?origen=detalle&idAutor="+id;
}

function editarNivel1(id1,itemtype){
	location.href="../catalogacion/estructura/agregarItem.pl?origen=detalle&id1="+id1+"&itemtype="+itemtype+"&nivel=1";
}

function editarGrupo(id1,id2,itemtype){
	location.href="../catalogacion/estructura/agregarItem.pl?origen=detalle&id1="+id1+"&itemtype="+itemtype+"&nivel=2&id2="+id2;
}

function editarEjemplar(id1,id3,itemtype){
	var obj=new objeto_datos();
	obj.itemtype=itemtype;
	obj.id1=id1;
	obj.id3=id3;
	obj=JSONstring.make(obj);
	var params="obj="+obj;
	location.href="../catalogacion/estructura/editarEjemplar.pl?obj="+obj;
}

function editarEjemplares(id1,id2,itemtype){
	var obj=new objeto_datos();
	obj.itemtype=itemtype;
	obj.id1=id1;
	obj.id2=id2;
	obj.json=0;
	obj=JSONstring.make(obj);
	location.href="../catalogacion/estructura/editarEjemplar.pl?obj="+obj;
}


/*************************************************CIRCULACUION***************************************************/
// ESTO PARECE QUE NO SE VA A USAR
function objeto_datos(){
	this.array_ids3;
	this.usuario;
	this.id3;
	this.accion;
}

// function objeto_usuario(){
// 	this.text;
// 	this.ID;
// }

// function item(){
// 	this.id3;
// 	this.barcode;
// }


/******************************************CIRCULACUION DESDE EL DETALLE****************************************/
var items_array = new Array();
// parche, ver si se puede hacer mejor
var grupo;

// function buscarUsuario(id3, id2){
// 
// 	items_array[0]=id3;
// 	grupo= id2;
// 	openWindow();
// }


function buscarUsuario(id3, id2){
	objAH=new AjaxHelper(updateBuscarUsuario);
	objAH.url='/intranet-tmpl/blue/includes/popups/buscarUsuario.inc';
	objAH.debug= true;
	objAH.sendToServer();

	items_array[0]=id3;
 	grupo= id2;
}

function updateBuscarUsuario(responseText){

	vBuscarUsuario=new WindowHelper();
	vBuscarUsuario.html=responseText;
 	vBuscarUsuario.titulo= 'Buscar Usuario';
	vBuscarUsuario.create();
}

function renovar(accion,userId,userNom,id2,id3){
	
	array=new Array;
	array[0]= id3;
	usuario=new objeto_usuario();
	usuario.ID=userId;
	usuario.text=userNom;

	objAH=new AjaxHelper(generaDivDevRen);
	objAH.url= '/cgi-bin/koha/circ/circulacionDB.pl';
	objAH.tipoAccion= 'RENOVACION';
	objAH.datosArray= array;
	objAH.borrowernumber=usuario.ID;
	//se envia la consulta
	objAH.sendToServer();
	//guardo el id2 para actualizar los ejemplares del grupo, por ahora lo hago asi!!!!!!!
	grupo= id2;
}

function devolver(accion,userId,userNom,id2,id3){

	array=new Array;
	array[0]= id3;
	usuario=new objeto_usuario();
	usuario.ID=userId;
	usuario.text=userNom;

	objAH=new AjaxHelper(generaDivDevRen); //llama a generar div de ciculacion.js
	objAH.url= '/cgi-bin/koha/circ/circulacionDB.pl';
	objAH.tipoAccion= 'DEVOLUCION';
	objAH.datosArray= array;
	objAH.borrowernumber= usuario.ID;
	//se envia la consulta
	objAH.sendToServer();
	//guardo el id2 para actualizar los ejemplares del grupo, por ahora lo hago asi!!!!!!!
	grupo= id2;
}

//esta funcion esta REDEFINIDA, de la funcion que se encuentra en circulacion.js, invocada por la 
function updateInfoDevRen(responseText){
// 	alert("ejecuto updateInfoDevRen local!!!!!!!");
	cancelarDiv();
	clearMessages();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	var mensajes= '';
	for(i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}

	ejemplaresDelGrupo(grupo);
}

function confirmarPrestamo(){

 	if(usuario.ID != ""){	

		objAH=new AjaxHelper(generaDivPrestamo);
		objAH.url= '/cgi-bin/koha/circ/circulacionDB.pl';
		objAH.tipoAccion= 'CONFIRMAR_PRESTAMO';
		objAH.datosArray= items_array;
		objAH.borrowernumber=usuario.ID;
		//se envia la consulta
		objAH.sendToServer();
// 		closeWindow();
		vBuscarUsuario.close();
	}
}

//muestra los ejemplares del grupo
function ejemplaresDelGrupo(id2){

	objAH=new AjaxHelper(updateEjemplaresDelGrupo);
	objAH.url= '/cgi-bin/koha/busquedas/ejemplaresDelGrupo.pl';
	objAH.id2= id2;
	//se envia la consulta
	objAH.sendToServer();

}

function updateEjemplaresDelGrupo(responseText){
	$('#ejemplaresDelGrupo'+objAH.id2).html(responseText);
	zebra('tablaResult');
}

//esta funcion esta REDEFINIDA de la libreria de circulacion.js, es invocada desde la funcion prestar()
function updateInfoPrestarReserva(responseText){
	cancelarDiv();
	clearMessages();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	var mensajes= '';
	for(var i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}
	ejemplaresDelGrupo(grupo);
}

/************************************************FIN CIRCULACUION************************************************/


function borrarEjemplar(id1,id2,id3){
	objAH=new AjaxHelper(updateBorrarEjemplar);
	objAH.url= "/cgi-bin/koha/busquedas/detalleDB.pl";
	objAH.id1= id1;
	objAH.id2= id2;
	objAH.id3= id3;
	objAH.accion="BORRAR_NIVEL3";
	//se envia la consulta
	objAH.sendToServer();
}

function updateBorrarEjemplar(responseText){

	var Messages= JSONstring.toObject(responseText);
	setMessages(Messages);
	ejemplaresDelGrupo(objAH.id2);
}

function borrarGrupo(id1,id2){
	objAH=new AjaxHelper(updateBorrarGrupo);
	objAH.url= "/cgi-bin/koha/busquedas/detalleDB.pl";
	objAH.id1= id1;
	objAH.id2= id2;
	objAH.accion="BORRAR_GRUPO";
	//se envia la consulta
	objAH.sendToServer();
}

function updateBorrarGrupo(responseText){
	var Messages= JSONstring.toObject(responseText);
	setMessages(Messages);
	//oculto todo el grupo con los items
	$('#grupo'+objAH.id2).slideUp('slow');
	//borro el contenido
	$('#grupo'+objAH.id2).html('');
}



function borrarNivel1(id1){
	objAH=new AjaxHelper(updateBorrarNivel1);
	objAH.url= "/cgi-bin/koha/busquedas/detalleDB.pl";
	objAH.id1= id1;
	objAH.accion="BORRAR_NIVEL1";
	//se envia la consulta
	objAH.sendToServer();
}

function updateBorrarNivel1(responseText){
	var Messages= JSONstring.toObject(responseText);
	setMessages(Messages);
	//oculto todo el registro con los grupos y sus items
	$('#detalleComun').slideUp('slow');
	//borro el contenido
	$('#detalleComun').html('');
}



</script>

<div id="confirmar_div" class="pane"></div>
<br>


<!-- PARA PODER CREAR EL FORMULARIO -->
<div id="formulario"></div>

<div id="detalleMARC"></div>

<!-- Mensajes de Informacion al Usuario -->
<div class="tableMsgUser">
	<font class="fontMsgUser"><b>
	<div id="mensajes"></div>
	</b></font>
</div>

<div id="detalleComun">
<div id="titulo">
	<p class="pagetitle"> 
		<!-- TMPL_VAR NAME="titulo"--> 
		<!-- TMPL_LOOP NAME="datosautor" -->
			(<a class="click" onClick="filtroPorAutor(<!-- TMPL_VAR NAME='id' -->)"><!-- TMPL_VAR NAME="completo" --></a>)
		<!-- /TMPL_LOOP -->
	</p>
</div>

<!-- ---------------Registro de libro TABLE------- -->
<table cellspacing="0" cellpadding="0" border="0" align="left"  class="tablaresultado" width="100%">
	<tr valign="top" height="24" class="tablaresultadoTitle">
		  <td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
		  <td  valign="middle" height="24"><b>Registro de Documento</b> <!-- TMPL_VAR NAME="id1" --></td>
		  <td width="1%" valign="top" align="right"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
	</tr>
</table>

<div class="detalle">
	<input type="image" name="submit" value="modify" border="0"  src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/editar.png"   border=0 title="Editar Nivel 1" onClick="editarNivel1(<!-- TMPL_VAR NAME='id1' -->,'LIB')">

	<input TYPE="image" name="delete"  VALUE="delete" BORDER=0 src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/borrar.png"   onClick="if (window.confirm('&#191;Est&aacute; seguro que desea borrarlo?')) {borrarNivel1(<!-- TMPL_VAR NAME='id1' -->);} else {return false;}" title="Borrar Nivel 1">
	<br>
	<!-- TMPL_LOOP NAME="loopnivel1" -->
		<!-- TMPL_IF NAME="librarian" -->
			<!-- TMPL_IF NAME="dato" -->
				<!-- TMPL_VAR NAME="librarian" -->: <b><!-- TMPL_VAR NAME="dato" --></b><br>
			<!-- /TMPL_IF -->
		<!-- /TMPL_IF -->
	<!-- /TMPL_LOOP -->
	<hr>
	N&uacute;mero Total de Ejemplares:<b> <!-- TMPL_VAR NAME="cantItemN1" --></b> 
</div>

<!-- TMPL_LOOP NAME="loopnivel2" -->
<div id="grupo<!-- TMPL_VAR NAME='id2' -->">
	<div>
		<p style="font-size: 11pt" align="center" class="tablaresultadoTitle">
        		<!-- TMPL_VAR NAME="id2" --> GRUPO - <!-- TMPL_VAR NAME="tipoDoc" -->
        	</p>
	</div>

	<div class="detalle">
<!-- NIVEL 2 -->
		<div id="<!-- TMPL_VAR NAME='id2' -->" style="position: relative; float:right;"></div>
		
		<input type="image" name="submit" value="modify" border="0"  src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/editar.png" title="Editar Grupo" onClick="editarGrupo(<!-- TMPL_VAR NAME='id1' -->,<!-- TMPL_VAR NAME='id2' -->,'<!-- TMPL_VAR NAME='itemtype' -->')">	

		<input TYPE="image" name="delete"  VALUE="delete" BORDER=0 src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/borrar.png"   onClick="if (window.confirm('&#191;Est&aacute; seguro que desea borrarlo?')) {borrarGrupo(<!-- TMPL_VAR NAME='id1' -->,<!-- TMPL_VAR NAME='id2' -->);} else {return false;}" title="Borrar Grupo">
		<br>
		<!-- TMPL_IF NAME="amazon_cover" -->
		<div class='amazon_cover_detail' style="position: relative; float:right;">
		<img name="cover"  VALUE="" BORDER=0 src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/<!-- TMPL_VAR name='lang' -->/<!-- TMPL_VAR NAME='amazon_cover' -->" title="Tapa" >
		</div>
		<br>
		<!-- /TMPL_IF -->

		<!-- TMPL_LOOP NAME="resultado" -->
			
				<!-- TMPL_IF NAME="librarian" -->
				<!-- TMPL_IF NAME="dato" -->
				<!-- TMPL_VAR NAME="librarian" -->: <b><!-- TMPL_VAR NAME="dato" --></b><br>
				<!-- /TMPL_IF -->
			<!-- /TMPL_IF -->
	
			<!-- TMPL_IF NAME="cantItems" -->
				Cantidad de Items: <!-- TMPL_VAR NAME="cantItems" --><br>
			<!-- /TMPL_IF -->
		
			<!-- TMPL_LOOP NAME="loopnivel3" -->
			<div id="ejemplaresDelGrupo<!-- TMPL_VAR NAME='id2' -->" >
				<hr>
				Ejemplares Disponibles:<b> <!-- TMPL_VAR NAME="disponibles" --></b><br>
				Reservas Realizadas: <b> <!-- TMPL_VAR NAME="cantReservas" --></b><br>
				Reservas en Espera: <b> <!-- TMPL_VAR NAME="cantReservasEnEspera" --></b><br>
				Ejemplares Prestados:<b> <!-- TMPL_VAR NAME="cantPrestados" --></b><br>
				<hr>
			<table cellspacing="0" cellpadding="0"  width="100%" class="tablaResult" width="100%">
				<tr align="center" cellpadding="0"  valign="middle" class="tablaresultadoTitle">

					<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png">
					</td>
					<td colspan="2" >
						<b>Edici&oacute;n</b>
       	 					<input TYPE="image" name="submit"  VALUE="modificar" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/editar.png" onClick="editarEjemplares('<!-- TMPL_VAR NAME='id1' -->','<!-- TMPL_VAR NAME='id2' -->','<!-- TMPL_VAR NAME='itemtype' -->')" title="Editar Todos">
					</td>
					<td><b>Sig. Top.</b> </td>
        				<td><b>C&oacute;digo</b></td>
        				<td><b>Disponibilidad</b></td>
        				<td><b>Vencimiento</b></td>
					<td width="20%"  colspan="2"><b>Circulaci&oacute;n</b></td>
					<td>MARC</td>
					<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>

				</tr>
				<!-- TMPL_LOOP NAME="nivel3" -->
				<input type="hidden" name="id2" value="<!-- TMPL_VAR NAME='id2' -->">
				<tr align="center">
					<td width="10%" colspan="2" valign="middle" height="25">
				<!-- TMPL_IF NAME="sePuedeEditar" -->
                				<input TYPE="image" name="submit"  VALUE="modify" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/editar.png" onClick="editarEjemplar(<!-- TMPL_VAR NAME='id1' -->,<!-- TMPL_VAR NAME='id3' -->,'<!-- TMPL_VAR NAME='itemtype' -->')" title="Editar Ejemplar">
				<!-- /TMPL_IF -->
            				</td>
            				<td width="6%" valign="middle">
        			<!-- TMPL_IF NAME="sePuedeBorrar" -->
                				<input TYPE="image" name="delete"  VALUE="delete" src="<!-- TMPL_VAR 	name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/borrar.png" onClick="if (window.confirm('&#191;Est&aacute; seguro que desea borrarlo?')){borrarEjemplar('<!-- TMPL_VAR NAME='id1' -->','<!-- TMPL_VAR NAME='id2' -->','<!-- TMPL_VAR name='id3' -->')} else {return false;}" title="Borrar Ejemplar">
        			<!-- /TMPL_IF -->
            				</td>
					<td><!-- TMPL_VAR NAME="signatura_topografica" --></td>
					<td>
						<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=<!-- TMPL_VAR NAME="id1" -->&id2=<!-- TMPL_VAR NAME="id2" -->&id3=<!-- TMPL_VAR NAME="id3" -->&barcode=<!-- TMPL_VAR NAME="barcode" -->&signatura_topografica=<!-- TMPL_VAR NAME="signatura_topografica" -->' title='Detalle de disponibilidad'><!-- TMPL_VAR NAME="barcode" --></a>
					</td>
					<td>
						<span class="<!-- TMPL_VAR NAME='clase' -->">
						<!-- TMPL_VAR NAME="disponibilidad" -->
					<!-- TMPL_IF NAME="usuario" -->
						<b><!-- TMPL_VAR NAME="usuario" --></b>
					<!-- /TMPL_IF -->
						</span>
					</td>
					<td>
						<span class="<!-- TMPL_VAR NAME='claseFecha' -->">
					<!-- TMPL_IF NAME="vencimiento" -->
						<!-- TMPL_VAR NAME="vencimiento" -->
					<!-- TMPL_ELSE -->
						-------
					<!-- /TMPL_IF -->
						</span>
					</td>
	    				<td valign="middle" colspan="2">
					<!-- TMPL_UNLESS NAME="wthdrawn" -->
						<!-- TMPL_IF NAME="prestado" -->

							<input type="image" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/item-return.png" title="Devolver" onClick="devolver('DEVOLUCION','<!-- TMPL_VAR NAME='borrowernumber' -->','<!-- TMPL_VAR NAME='usuarioNombre' -->','<!-- TMPL_VAR name='id2' -->','<!-- TMPL_VAR name='id3' -->')">
							<!-- TMPL_IF NAME="renew" -->
	    						<!--<input type="image" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/renew.png" title="Renovar" onClick="devolver_renovar('RENOVACION','<!-- TMPL_VAR NAME='borrowernumber' -->','<!-- TMPL_VAR NAME='usuarioNombre' -->','<!-- TMPL_VAR name='id2' -->','<!-- TMPL_VAR name='id3' -->')">-->

							<input type="image" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/renew.png" title="Renovar" onClick="renovar('RENOVACION','<!-- TMPL_VAR NAME='borrowernumber' -->','<!-- TMPL_VAR NAME='usuarioNombre' -->','<!-- TMPL_VAR name='id2' -->','<!-- TMPL_VAR name='id3' -->')">
							<!-- /TMPL_IF -->
						<!-- TMPL_ELSE -->
							<input type="image" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/item-prestar.png" title="Realizar pr&eacute;stamo" onClick="buscarUsuario('<!-- TMPL_VAR name='id3' -->','<!-- TMPL_VAR name='id2' -->');">
						<!-- /TMPL_IF -->
					<!-- /TMPL_UNLESS -->
	    				</td>
				
					<td colspan="2">
						<input TYPE="image" name="marc"  VALUE="detalle MARC" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/MARC.png" title="" onClick="detalleMARC('<!-- TMPL_VAR name='id3' -->')">
					</td>
				</tr>
				<!-- /TMPL_LOOP -->
	
			</table>
			<br><hr class="lineagruesa"><br>
			<!-- /TMPL_LOOP -->
		<!-- /TMPL_LOOP -->
		</div> <!--end <div id="ejemplaresDelGrupo -->
	</div>

</div> <!--Fin <div id="grupo TMPL_VAR NAME='id2'-->

<!-- /TMPL_LOOP -->

</div> <!-- Fin DIV detalleComun -->

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
