
[% INCLUDE "intranet-top.inc" %]

<script language="javascript" type="text/javascript" src="/intranet-tmpl/blue/includes/jquery-highlight.js"></script>

<script language="javascript" type="text/javascript">

var objAH;

function updateInfo(responseText){
	
	$("#volver").hide();
	$("#filtrosBusqueda").slideUp('slow');	
	$('#resultBusqueda').html(responseText);
	$("#resultBusqueda").slideDown("slow");
	zebra('tablaResult');
    var string = [];
    var classes = [];
    string[0] = 'keyword';
    classes[0] = 'titulo_result';
    classes[1] = 'autor_result';
    highlight(classes,string);
}

function busquedaCombinable(){

	objAH=new AjaxHelper(updateInfo);
 	objAH.debug= true;

	//para busquedas combinables
	objAH.url= '/cgi-bin/koha/busquedas/busquedaAvanzada.pl';
	objAH.titulo=  $('#titulo').val();
	objAH.autor= $('#autor').val();
	objAH.signatura= $('#signatura').val()
	objAH.tipo_nivel3_name= $('#tipo_nivel3_id').val();
	
	var radio= $(":checked");
	var tipo=radio[0].value;
	objAH.tipo= tipo;
	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	//se envia la consulta
	objAH.sendToServer();	
}

function changePage(ini){
	objAH.changePage(ini);
}

function ordenarPor(ord){
	//seteo el orden de los resultados
	objAH.sort(ord);
}


function buscar(){

	//primero verifico las busquedas individuales
	if ($('#keyword').val() != ''){
		busquedaPorKeyword();
	}else 
	if ($('#estante').val() != ''){
		buscarEstante();
	}else 
	if ($('#dictionary').val() != '') {
		buscarPorDiccionario(ini);
	}else 
	if ($('#codBarra').val() != '') {
		buscarPorCodigoBarra();
	}else 
	if ($('#isbn').val() != '') {
		buscarPorISBN();
	}else 
	if ($('#tema').val() != '') {
		buscarPorTema();
	}else {
		busquedaCombinable();
	}
}

function buscarPorCodigoBarra(){
	objAH=new AjaxHelper(updateInfo);
 	objAH.debug= true;
	objAH.url= '/cgi-bin/koha/busquedas/busqueda.pl';
	objAH.codBarra= $('#codBarra').val();
	objAH.sendToServer();
}

function buscarPorTema(){
	objAH=new AjaxHelper(updateInfo);
 	objAH.debug= true;
	objAH.url= '/cgi-bin/koha/busquedas/tema.pl';
	objAH.tema= $('#tema').val();

	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	objAH.sendToServer();
}

function buscarPorISBN(){
	objAH=new AjaxHelper(updateInfo);
 	objAH.debug= true;
	objAH.url= '/cgi-bin/koha/busquedas/busqueda.pl';
	objAH.isbn= $('#isbn').val();
	objAH.sendToServer();
}

function buscarPorDiccionario(){
	objAH=new AjaxHelper(updateInfo);
    objAH.debug= true;
	objAH.url= '/cgi-bin/koha/busquedas/diccionario.pl';
	objAH.dictionary= $('#dictionary').val();
	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	objAH.sendToServer();
}

function busquedaPorKeyword(){

	objAH=new AjaxHelper(updateInfo);
    objAH.debug= true;
	objAH.url= '/cgi-bin/koha/busquedas/busquedaCombinada.pl';
	objAH.keyword= $('#keyword').val();
	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	objAH.sendToServer();
}

function buscarEstante(){

	objAH=new AjaxHelper(updateInfo);
    objAH.debug= true;
	objAH.url= '/cgi-bin/koha/busquedas/estante.pl';
	objAH.viewShelfName= $('#estante').val();
	objAH.orden= 'title';
	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	objAH.sendToServer();
}

/******************************************Estantes**********************************************/

function mostrarEstantes(){

	objAH=new AjaxHelper(updateMostrarEstantes);
  	objAH.debug= true;
	objAH.url= '../estanteVirtual.pl';
	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	//se envia la consulta
	objAH.sendToServer();

}

function updateMostrarEstantes(responseText){
	
// 	$("#volver").hide();
	$("#filtrosBusqueda").slideUp('slow');	
	$('#resultBusqueda').html(responseText);
	$("#resultBusqueda").slideDown("slow");
	zebra('tablaresultado');
}


function verEstanteVirtual(shelf){
	
	objAH=new AjaxHelper(updateVerEstanteVirtual);
  	objAH.debug= true;
	objAH.url= '../estanteVirtualDB.pl';
	objAH.shelves= shelf;
	objAH.tipo= 'VER_ESTANTE';
	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	//se envia la consulta
	objAH.sendToServer();
}

function verSubEstanteVirtual(shelf){
	
	objAH=new AjaxHelper(updateVerEstanteVirtual);
  	objAH.debug= true;
	objAH.url= '../estanteVirtualDB.pl';
	objAH.shelves= shelf;
	objAH.tipo= 'VER_SUBESTANTE';
	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	//se envia la consulta
	objAH.sendToServer();

}

function updateVerEstanteVirtual(responseText){
	
	$('#resultBusqueda').html(responseText);
	zebra('tablaresultado');
	$("#volver").hide();
	$("#busqueda").slideUp('fast');	
	$("#resultBusqueda").slideDown("fast");
}

/**************************************Fin****Estantes**********************************************/

function verTema(idtema,tema){

	objAH=new AjaxHelper(updateInfo);
    objAH.debug= true;
	objAH.url= '/cgi-bin/koha/busquedas/busqueda.pl';
	objAH.idTema= idtema;
	objAH.tema= tema;

	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	objAH.sendToServer();
}

combinables= ['titulo', 'autor', 'tipo', 'signatura', 'tipo_nivel3_id'];
noCombinables= ['keyword', 'isbn', 'dictionary', 'codBarra', 'estante', 'tema'];


function cambiarEstadoCampos(campos, clase){

 	for(i=0;i<campos.length;i++){

		$('#'+campos[i]).attr('class', clase);

	}
}


function buscarPorAutor(idAutor){
	objAH=new AjaxHelper(updateInfo);
	objAH.url= '/cgi-bin/koha/busquedas/busqueda.pl';
	//se setea la funcion para cambiar de pagina
	objAH.funcion= 'changePage';
	objAH.idAutor= idAutor;
	objAH.sendToServer();
}

function ordenar(ord){
	//seteo el orden de los resultados
	objAH.sort(ord);
}

function mostrarDetalle(id1){
	var params="id1="+id1;
	crearForm("/cgi-bin/koha/busquedas/detalle.pl",params);
}

function registrarEventos(){
//VER CON LA FUNCION onEnter DE Util.js!!!!!!!
	$("input").keypress(function (e) {
 		if(e.which == 13){
 			buscar();
 		}
 	});

}

$(document).ready(function() {

	registrarEventos();

	$("#volver").hide();

	$("#volver").click(function(){
		//muestro el resultado de la busqueda
		$("#resultBusqueda").slideDown("fast");
		$("#volver").hide();
	});
	

 	$("#filtrosBusqueda").show();
	$("#showBusqueda p.showBusqueda ").click(function(){
						$("#volver").hide();
						if($("#showBusqueda p.showBusqueda ").html() == "[-]"){
							$("#showBusqueda p.showBusqueda ").html("[+]");
							$("#resultBusqueda").slideUp("slow");
							$("#filtrosBusqueda").slideDown("slow");
						}else{
							$("#showBusqueda p.showBusqueda ").html("[-]");
							$("#resultBusqueda").slideDown("slow");
							$("#filtrosBusqueda").slideUp("slow");
						}
//  						$("#filtrosBusqueda").slideToggle('fast');
						//oculto el resultado de la busqueda
// 						$("#resultBusqueda").slideUp("fast");
 	});

// // Vengo del detalle con el nombre del autor busca los documentos que escribio ese autor.
// //o del inicio para la busqueda combinada
// 	var array = location.href.split('?');
// 	if (array.length >1){
// 		var array=array[1].split('&');
// 		var origen=array[0].split('=')[1];
// 		if(origen == "detalle"){
// 			var idAutor=array[1].split('=')[1];
// 			buscarPorAutor(idAutor);
// 		}
// 		else{
// 			$('#keyword').val(array[1].split('=')[1]);
// 			busquedaPorKeyword();
// 		}
// 	}
});


</script>

<!-- PARA PODER CREAR EL FORMULARIO -->
<div id="formulario"></div>

<div id="showBusqueda" style="text-align: right; cursor:pointer; width: 10px; ">
	<p class="showBusqueda" title="Busqueda Avanzada">[-]</p>
</div>

<div id="filtrosBusqueda">
	<span class="pagetitle">[% "B&uacute;squeda Avanzada en el cat&aacute;logo" | i18n %]</span>
	<br>
	<div class="formElemets">
		<table width="70%" height="88%" valign="top"  border="0" align="center" cellpadding="0" cellspacing="0" >
		<tr>
		<td  valign="top"  align="right"  width="30%">
		<ul id="simple">
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>[% "B&uacute;squeda combinada" | i18n %]</b><br>
                	<input type="text" id="keyword" size="25" class="inputFontNormal">
			<p valign="top" align="right">&nbsp;</p>
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>ISBN</b><br>
                	<input type="text" id="isbn" size="25" class="inputFontNormal">
			</li>
			
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
    			<b>[% "B&uacute;squeda por diccionario" | i18n %]</b><br>
         		<input class="inputFontNormal" type="text" size="25" id="dictionary">
			</li>		

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>[% "C&oacute;digo de barras" | i18n %]</b><br>
			<input class="inputFontNormal" type="text" size="25" id="codBarra">
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>Tema</b><br>
			<input class="inputFontNormal" type="text" size="25" id="tema">
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>[% "Estantes Virtuales" | i18n %]</b><br>
			<input class="inputFontNormal" type="text" size="25" id="estante">
			</li>

		</ul>
		</td>
		<td width="10%">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </td>
  		<td  valign="top" align="right" width="30%">
		<ul id="combinada">
			
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
        		<b>[% "Tipo de documento" | i18n %]</b> <br>
        			[% comboTipoDocumento %]
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>T&iacute;tulo</b><br>
			<input class="inputFontNormal" type="text"  size="25" id="titulo">
			<p valign="top" align="right">
			<input class="inputFontNormal" name="tipo" type=radio id=tipo value="normal" checked>
                                [% "Normal" | i18n %]
			<input class="inputFontNormal" name="tipo" type=radio id=tipo value="exacto">
                                [% "Exacto" | i18n %]
			</p>
			</li>
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>Autor</b><br>
			<input class="inputFontNormal" type="text" size="25" id="autor">
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>[% "Signatura Topogr&aacute;fica" | i18n %]</b><br>
			<input class="inputFontNormal" type="text" size="25" id="signatura">
			</li>
	         	
		</ul>
		<td>
		<tr>
		</table>
		<div align ="center">

		<ul>
			<li>
			<input type="hidden" name="type" value="intra">
			<input type="image" alt="Buscar"  src="[% themelang %]/images/boton-buscar.png" onClick="buscar('');">

			<input type="image"   src="[% themelang %]/images/vertodos.png" onClick="mostrarEstantes();" >
		
			</li>
		</ul>
		</div>

	</div>
</div>

<div id="resultBusqueda"></div>

<div style="text-align: center; cursor:pointer;">
	<span id="volver">Volver</span>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
