
[% INCLUDE "intranet-top.inc" %]

<script language="javascript" type="text/javascript" src="/includes/jquery/jquery-highlight.js"></script>
<script language="javascript" type="text/javascript" src="/intranet-tmpl/blue/includes/busquedasCatalogo.js"> </script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {

	registrarKeypress('INPUT');

	$("#volver").hide();

	$("#volver").click(function(){
		//muestro el resultado de la busqueda
		$("#resultBusqueda").slideDown("fast");
		$("#volver").hide();
	});
	

 	$("#filtrosBusqueda").show();
	$("#showBusqueda p.showBusqueda ").click(function(){
						$("#volver").hide();
						if($("#showBusqueda p.showBusqueda ").html() == "[-]"){
							$("#showBusqueda p.showBusqueda ").html("[+]");
							$("#resultBusqueda").slideUp("slow");
							$("#filtrosBusqueda").slideDown("slow");
						}else{
							$("#showBusqueda p.showBusqueda ").html("[-]");
							$("#resultBusqueda").slideDown("slow");
							$("#filtrosBusqueda").slideUp("slow");
						}
//  						$("#filtrosBusqueda").slideToggle('fast');
						//oculto el resultado de la busqueda
// 						$("#resultBusqueda").slideUp("fast");
 	});

// // Vengo del detalle con el nombre del autor busca los documentos que escribio ese autor.
// //o del inicio para la busqueda combinada
// 	var array = location.href.split('?');
// 	if (array.length >1){
// 		var array=array[1].split('&');
// 		var origen=array[0].split('=')[1];
// 		if(origen == "detalle"){
// 			var idAutor=array[1].split('=')[1];
// 			buscarPorAutor(idAutor);
// 		}
// 		else{
// 			$('#keyword').val(array[1].split('=')[1]);
// 			busquedaPorKeyword();
// 		}
// 	}
});


</script>

<!-- PARA PODER CREAR EL FORMULARIO -->
<div id="formulario"></div>

<div id="showBusqueda" style="text-align: right; cursor:pointer; width: 10px; ">
	<p class="showBusqueda" title="Busqueda Avanzada">[-]</p>
</div>

<div id="filtrosBusqueda">
	<span class="pagetitle">[% "B&uacute;squeda Avanzada en el cat&aacute;logo" | i18n %]</span>
	<br>
	<div class="formElemets">
		<table width="70%" height="88%" valign="top"  border="0" align="center" cellpadding="0" cellspacing="0" >
		<tr>
		<td  valign="top"  align="right"  width="30%">
		<ul id="simple">
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>[% "B&uacute;squeda combinada" | i18n %]</b><br>
                	<input type="text" id="keyword" size="25" class="inputFontNormal">
			<p valign="top" align="right">&nbsp;</p>
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>ISBN</b><br>
                	<input type="text" id="isbn" size="25" class="inputFontNormal" readonly>
			</li>
			
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
    			<b>[% "B&uacute;squeda por diccionario" | i18n %]</b><br>
         		<input class="inputFontNormal" type="text" size="25" id="dictionary" readonly>
			</li>		

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>[% "C&oacute;digo de barras" | i18n %]</b><br>
			<input class="inputFontNormal" type="text" size="25" id="codBarra" readonly>
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>Tema</b><br>
			<input class="inputFontNormal" type="text" size="25" id="tema" readonly>
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>[% "Estantes Virtuales" | i18n %]</b><br>
			<input class="inputFontNormal" type="text" size="25" id="estante" readonly>
			</li>

		</ul>
		</td>
		<td width="10%">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </td>
  		<td  valign="top" align="right" width="30%">
		<ul id="combinada">
			
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
        		<b>[% "Tipo de documento" | i18n %]</b> <br>
        			[% comboTipoDocumento %]
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>T&iacute;tulo</b><br>
			<input class="inputFontNormal" type="text"  size="25" id="titulo">
			<p valign="top" align="right">
			<input class="inputFontNormal" name="tipo" type=radio id=tipo value="normal" checked>
                                [% "Normal" | i18n %]
			<input class="inputFontNormal" name="tipo" type=radio id=tipo value="exacto">
                                [% "Exacto" | i18n %]
			</p>
			</li>
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>Autor</b><br>
			<input class="inputFontNormal" type="text" size="25" id="autor">
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>[% "Signatura Topogr&aacute;fica" | i18n %]</b><br>
			<input class="inputFontNormal" type="text" size="25" id="signatura">
			</li>
	         	
		</ul>
		<td>
		<tr>
		</table>
		<div align ="center">

		<ul>
			<li>
			<input type="hidden" name="type" value="intra">
			<input type="image" alt="Buscar"  src="[% themelang %]/images/boton-buscar.png" onClick="buscar();">

			<input type="image"   src="[% themelang %]/images/vertodos.png" onClick="mostrarEstantes();" >
		
			</li>
		</ul>
		</div>

	</div>
</div>

<div id="resultBusqueda"></div>

<div style="text-align: center; cursor:pointer;">
	<span id="volver">Volver</span>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
