[% INCLUDE "intranet-top.inc" %]
<script type="text/javascript" src="/intranet-tmpl/includes/estantesVirtuales.js">
</script>


<div id="editar_estante" style="display:none">
<fieldset class="resultados_busqueda">
<legend class="titulo_legend trigger click">  [% "Estante" | i18n %] </legend>
            <input type="hidden" id="input_id_estante">
            <input type="hidden" id="input_padre_estante">
            <input type="hidden" id="input_abuelo_estante">
            <input type="text" id="input_valor_estante">
           <script type="text/javascript">
            $(document).ready(function() {
		$('#input_valor_estante').keypress(function(e){if(e.which==13){if(this.value!=''){modificarEstante();}}});
            });
            </script>
</fieldset>
           [% PERL %]
                                    print C4::AR::Filtros::to_Button(   text    => "[% 'Guardar' | i18n %]",
                                                                        boton   => "boton_guardar",
                                                                        onClick => 'modificarEstante();',
                                                                        title   => "[% 'Guardar' | i18n %]",
                                                                        alternClass => "botonCentrado"
                                            ) ;
           [% END %]
</div>


<div id="contenido_estante" style="display:none">
<div id="busqueda_contenido_estante">
<fieldset class="resultados_busqueda">
<legend class="titulo_legend">  [% "Buscar Contenido" | i18n %] </legend>
            <input type="hidden" id="input_contenido_id_estante">
            <input type="hidden" id="input_contenido_id_padre_estante">
            <input class="horizontal" type="text" id="input_busqueda_contenido">
            
            <script type="text/javascript">
            $(document).ready(function() {
            $('#input_busqueda_contenido').keypress(function(e){if(e.which==13){if(this.value!=''){buscarContenido();}}});
             

            });
            </script>
           [% PERL %]
                                    print C4::AR::Filtros::to_Icon(
                                                                        boton   => "icon_buscar",
                                                                        onClick => 'buscarContenido();',
                                                                        title   => "[% 'Buscar' | i18n %]",
                                            ) ;
           [% END %]
</fieldset>
</div>
<div id="resultado_contenido_estante"> </div>
</div>

<div id="estante">
<fieldset class="resultados_busqueda">
<legend>[% "Detalle de Estantes" | i18n %]</legend>
        <div class="datos_tabla_div_estantes">
            <div class="botonera_estantes">
            <div id="boton_nuevo_estante_0">
            [% PERL %]
                                print C4::AR::Filtros::to_Icon(
                                                                    boton   => "icon_agregar",
                                                                    title   => "[% 'Agregar estante' | i18n %]",
                                                                    onClick => "agregarNuevoEstante();",
                                        ) ;
            [% END %]
            </div>

      [% IF cant_estantes %]
            [% PERL %]
                                print C4::AR::Filtros::to_Icon(
                                                                    boton   => "icon_borrar",
                                                                    onClick => "borrarEstantesSeleccionados(0,0);",
                                                                    title   => "[% 'Borrar seleccionados' | i18n %]",
                                        ) ;
            [% END %]
        [% END %]

            </div>
        
            <div class="accordion" id="estantes">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#estantes" href="#estantes_contenido">
                    [% "Estantes" | i18n %] 
                  </a>
                </div>
                <div id="estantes_contenido" class="accordion-body collapse in">
                  <div class="accordion-inner">
                        <ul class="ul_tabla_div_estante_0 unstyled" >
                              [% FOREACH estante IN ESTANTES %]
                              <li>
                              <input type=checkbox name="[% estante.getEstante %]" value="[% estante.getId %]">
                              <a class="click" onClick="verSubEstantes([% estante.getId %],0)">[% estante.getEstante %]</a>
                              </li>
                              [% END %]
                        </ul>

                  </div>
                </div>
              </div>
            </div>
       
           
        </div>
</fieldset>
</div>
<div id="subestante">
</div>

<script>
//  makeToggle('datos_tabla_div_estantes','trigger',null,false);

 [% FOREACH es IN LISTA_ESTANTES %]
     verSubEstantes([% es.getId %],[% es.getPadre %]);
 [% END %]
</script>

[% INCLUDE "intranet-bottom.inc" %]