
<div id="estante">
    <fieldset class="resultados_busqueda">
        <legend class="titulo_legend trigger click">[% "Estantes" | i18n %]</legend>
            <div class="datos_tabla_div_estantes">
            
                  <ul class="unstyled">
                      [% FOREACH estante IN ESTANTES %]
                          <li>
                              <input type=checkbox name="[% estante.getEstante %]" value="[% estante.getId %]">
                              <a class="click" onClick="verSubEstantes([% estante.getId %],0)">[% estante.getEstante %]</a>
                          </li>
                      [% END %]
                  </ul>

                  <div class="form-actions">
                        [% IF cant_estantes %]
                              [% PERL %]
                                            print C4::AR::Filtros::action_button(
                                                                                button  => "btn btn-danger",
                                                                                action => "borrarEstantesSeleccionados(0,0);",
                                                                                title   => "[% 'Borrar seleccionados' | i18n %]",
                                                    ) ;
                              [% END %]
                        [% END %]

                        [% PERL %]
                                            print C4::AR::Filtros::action_button(
                                                                                button   => "btn btn-primary",
                                                                                title   => "[% 'Agregar estante' | i18n %]",
                                                                                action => "agregarNuevoEstante();",
                                                    ) ;
                        [% END %]
                        
                  </div>
            </div>
    </fieldset>
</div>

