
<center><!-- TMPL_VAR NAME="paginador" --></center>

<table id="tablaResult" class="tablaresultado" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr class="tablaresultadoTitle">
	<td width="1%" align="right" valign="top">
		<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png">
	</td>
        <td>Lista de estantes </td>
		<td width="1%" valign="top">
			<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png">
		</td>
  </tr>

<!-- TMPL_LOOP Name="shelvesloop" -->
  <tr class="inputFontNormal">
	<td width="1%">&nbsp;</td>

	<td valign="middle">

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<a class="click" onclick="verEstanteVirtual('<!-- TMPL_VAR Name='shelf' -->');">
	<!-- TMPL_IF Name="shelfname" -->
		<!-- TMPL_VAR Name="shelfname" -->
	<!-- TMPL_ELSE -->
		--------
	<!-- /TMPL_IF -->
	</a>

	</td>

	<td width="1%">&nbsp;</td>
  </tr>
<!-- /TMPL_LOOP -->
</table>

