<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<div class="titulos">Sistema de Adquisici&oacute;n MARC</div>
	

<table cellpadding='0' cellspacing='0' width='100%' align="center">
	<tr class="titulo_tabla_resultado">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td>Importar en la breeding farm</td>
	 	<td width="1%" align="rigth" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</tr>
</table>

<!-- TMPL_IF name="uploadmarc" -->
<p class="inputFontNormal">Importar resultados :</p>
<ul>
	<p class="inputFontNormal"><!-- TMPL_VAR name="imported" --> registros importados </p>
	<p class="inputFontNormal"><!-- TMPL_VAR name="alreadyindb" --> No se importaron porque ya est&aacute;n en la BD</p>
	<p class="inputFontNormal"><!-- TMPL_VAR name="alreadyinfarm" --> no se importaron porque ya est&aacute;n en la granja</p>
	<p class="inputFontNormal"><!-- TMPL_VAR name="notmarcrecord" --> not imported because they seems not to be MARC format (or ISBN/ISSN missing) !</p>
	<p class="inputFontNormal"><!-- TMPL_VAR name="total" -->  registros procesados</p>
	<p class="inputFontNormal"><a class="inputFontNormal" href="/cgi-bin/koha/admin-home.pl">Back</a>
</ul>
<!-- TMPL_ELSE -->
<ul>
	<li class="inputFontNormal">Elija un archivo para importar en la breeding farm. Esta va a ser analizado, y por cada ISBN encontrado, un nuevo hijo sera creado en la breeding farm.</li>
	<li class="inputFontNormal">Si un ISBN ya existe en la breeding farm, puedes elegir entre ignorar el nuevo o sobreescribir el viejo.</li>
	<li class="inputFontNormal">Puede dar un nombre para este import. Puede ser &uacute;til, cuando crea una descripci&oacute;n bibliogr&aacute;fica, recordar de donde provienen los datos MARC sugeridos!</li>
	<li class="inputFontNormal">Por supuesto, si el ISBN ya existe en la BD activa, la descripci&oacute;n bibliogr&aacute;fica ser&aacute; ignorada</li>
</ul>
<form method="post" action="<!-- TMPL_VAR name="SCRIPT_NAME" -->" enctype="multipart/form-data" name=form1>
<table cellpadding="3" border=0>
	<tr valign="top">
		<td class="inputFontNormal">Seleccione el archivo para importar:</td>
		<td>
			<input  class="inputFontNormal" type="file" name="uploadmarc"/><br/>
		</td>
	</tr>
	<tr valign="top">
		<td class="inputFontNormal">Nombre de este importe:</td>
		<td>
			<input class="inputFontNormal" type="text" name="filename"/><br/>
		</td>
	</tr>
	<tr valign="top">
		<td class="inputFontNormal">Character encoding (MARC21 or UNIMARC)</td>
		<td>
			<select class="inputFontNormal" name="syntax">
				<option value="MARC21">MARC21</option>
				<option value="UNIMARC">UNIMARC</option>
			</select>
			<br/>
		</td>
	</tr>
	<tr valign="top">
		<td class="inputFontNormal">Si el ISBN ya esta en la breeding farm: </td>
		<td class="inputFontNormal">
			<input class="inputFontNormal" type="radio" name="overwrite_biblio" value="0" checked>Ignorar este, mantener el existente <br/>
			<input class="inputFontNormal"type="radio" name="overwrite_biblio" value="1">Sobreescribir el actual con este
		</td>
	</tr> 
	<tr valign="top">
		<td class="inputFontNormal">&nbsp; </td>
		<td>
			<input type="image" value="Importar"  src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/importacion.png" onclick="form1.submit">
		</td>
	</tr>

</table>
</form>
<!-- /TMPL_IF -->
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
