<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<!--------------------------MAIN BODY OF PAGE-------------------------->


<form  name="unidad"  method="post" action="registro.pl">
</form><br><br>
<h1>Reportes</h1><br/>
<ul>
	<li><a href="/cgi-bin/koha/stats.pl?time=yesterday">Hasta Reconciliar:</a> Reporte diario  (ayer)</li>
	<li><a href="/cgi-bin/koha/stats.pl?time=today">Hasta Reconciliar:</a> Reporte diario  (hoy)</li>
	<!--li><a href="/cgi-bin/koha/overdue.pl">&Iacute;tems atrasados</a></li-->
	<li><a href="/cgi-bin/koha/reports/inventory.pl">Inventario</a></li>
	<li><a href="/cgi-bin/koha/reports/users.pl">Usuarios</a></li>
	<li><a href="/cgi-bin/koha/reports/prestamos.pl">Prestamos sin devolver</a></li>
        <li><a href="/cgi-bin/koha/reports/perdidos.pl">Ejemplares perdidos</a></li>
	<li><a href="/cgi-bin/koha/reports/reservas.pl">Reservas</a></li>
	<li><a href="/cgi-bin/koha/reports/registro.pl">Registro de Actividades</a></li>
	<li><a href="/cgi-bin/koha/reports/estadistica_Anual.pl">Estad&iacute;sticas anuales</a></li>
	<!-- TMPL_IF name="virtuallibrary" -->
	<hr>
  	<li> <a href="/cgi-bin/koha/virtual/virtualreport.pl">Biblioteca  Virtual</a></li> 
<!-- /TMPL_IF -->
	
</ul>
</ul>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

