<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<!-- TMPL_IF NAME="missingloop" -->
	<!-- TMPL_VAR Name="string" -->
<!-- TMPL_ELSE -->
	<!-- TMPL_IF NAME=invalid -->
		Tarjeta de identificaci&oacute;n inv&aacute;lida<p>
	<!-- TMPL_ELSE -->
	<H1> Confirme Registro </H1>
	<table border=0 cellspacing=0 cellpadding=5>
		<tr valign=top bgcolor="<!-- TMPL_VAR Name="main" -->" >
			<td colspan=2 background="<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif">
				<B> NUEVO SOCIO </B>
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Name</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="institution_name" -->
			</td>
		</tr>
		<tr valign=top bgcolor="<!-- TMPL_VAR Name="main" -->" >
			<td colspan=2 background="<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif">
				<B> DETALLES DEL USUARIO </B>
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>ID de usuario</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="bornum" -->
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Tarjeta de identificaci&oacute;n </B>
			</td>
			<td>
				<!-- TMPL_VAR Name="cardnumber_institution" -->
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Incorporaci&oacute;n a sucursal</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="branchcode" -->
			</td>
		</tr>
		<tr valign=top bgcolor="<!-- TMPL_VAR Name="main" -->" >
			<td colspan=2 background="<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif">
				<B>DIRECCI&Oacute;N DEL USUARIO</B>
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Direcci&oacute;n</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="postal" -->
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Direcci&oacute;n personal</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="home" -->
			</td>
		</tr>
		<tr valign=top bgcolor="<!-- TMPL_VAR Name="main" -->" >
			<td colspan=2 background="<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif">
				<B>DETALLE DEL CONTACTO DEL USUARIO</B>
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Tel&eacute;fono (Inicio)</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="phone" -->
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Tel&eacute;fono (Daytime)</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="phoneday" -->
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Fax</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="faxnumber" -->
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>E-mail</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="emailaddress" -->
			</td>
		</tr>
                <tr valign=top bgcolor="white" >
                        <td>
                                <B>Mensajes de texto</B>
			</td>
			<td>
				<!-- TMPL_VAR NAME=textmessaging -->
			</td>
		</tr>
		<tr valign=top bgcolor="<!-- TMPL_VAR Name="main" -->" >
			<td colspan=2 background="<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif">
				<B>DATOS ALTERNATIVOS DEL CONTACTO</B>
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Name</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="contactname" -->
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Tel&eacute;fono</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="altphone" -->
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Relaci&oacute;n</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="altrelationship" -->
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Notas</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="altnotes" -->
			</td>
		</tr>
		<tr valign=top bgcolor="<!-- TMPL_VAR Name="main" -->" >
			<td colspan=2 background="<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif">
				<B>NOTAS</B>
			</td>
		</tr>
		<tr valign=top bgcolor="white" >
			<td>
				<B>Notas generales</B>
			</td>
			<td>
				<!-- TMPL_VAR Name="bornotes" -->
			</td>
		</tr>
		</TABLE><p>
		Valores v&aacute;lidos. presione OK para confirmar el nuevo usuario
		<form action="/cgi-bin/koha/insertidata.pl" method=post>
			<!-- TMPL_LOOP NAME=inputsloop -->
				<input type=hidden name="<!-- TMPL_VAR NAME="key" -->" value="<!-- TMPL_VAR NAME="value" -->">
			<!-- /TMPL_LOOP -->
			<input type=submit name=submit value=OK>
		</form>
	<!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
