<html>
<script>
function indeterminado(){
        mod =document.getElementById("modificando").value;
        window.opener.document.getElementById("d"+mod).value="DESCONOCIDA";
        window.opener.document.getElementById(mod).value="2500000";
        window.close();
}
function hacerSubmit(){
	document.pais.submit();
}
</script>  
<body>
<table>
<tr>
<td>
Seleccione el pa&iacute;s de origen:
</td>
</tr>
<tr>
<td>
	<form action="/cgi-bin/koha/provincias.pl" method="post" name="pais" id="pais" >
		 <!-- TMPL_VAR NAME=lista_Paises -->
	<input type="hidden" name="modificando" id="modificando" value="<!-- TMPL_VAR NAME="modificando" -->">	
	</form>
</td>
</tr>
<tr>
<td>
<br><br>
<a href="javascript:indeterminado()">Indeterminado</a>
<a href="javascript:hacerSubmit()"> Elegir Provincia</a>
</td>
</tr>
</table>
</body>
</html>

