<!-- TMPL_INCLUDE Name="intranet-top.inc" -->
<center>
 <!-- TMPL_IF Name="already" -->
<font color='red' size='+2'>El usuario: <!-- TMPL_VAR Name="borrower" --> ya tiene una reserva sobre este grupo de <!-- TMPL_VAR Name="title" -->. </font><br>
 <!-- /TMPL_IF -->
<!-- TMPL_IF Name="tomuch" -->
<font color='red' size='+2'> Ha pasado el m&aacute;ximo de reservas posibles. </font><br>
 <!-- /TMPL_IF -->
<!-- TMPL_IF Name="bornum" -->
<font color='red' size='+2'> No existe el usuario:  <!-- TMPL_VAR Name="borrower" -->.  </font><br>
 <!-- /TMPL_IF -->
<!-- TMPL_IF Name="nobornum" -->
<font color='red' size='+2'> No ingres&oacute; el usuario.  </font><br>
 <!-- /TMPL_IF -->

<!-- TMPL_IF Name="nosel" -->
<font color='red' size='+2'> Debe seleccionar al menos un grupo.  </font><br>
 <!-- /TMPL_IF -->


<form action="request.pl?bib=<!-- TMPL_VAR Name="biblio" -->"  method=post>
<input type=hidden name=bib  value="<!-- TMPL_VAR Name="biblio" -->">
<input type=hidden name=title  value="<!-- TMPL_VAR Name="title" -->">


<INPUT type="submit" value="Volver" class="button">

</form>
</center>
<!-- TMPL_INCLUDE Name="intranet-bottom.inc" -->
