<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<!-- ************************************Paginador******************************************************* -->
<center>
<!-- TMPL_IF NAME="displayprev" -->
	<a href="search.pl?orden=<!-- TMPL_VAR NAME='orden' -->&ini=<!-- TMPL_VAR NAME='ant' -->&<!-- TMPL_LOOP NAME='FORMINPUTS' --><!-- TMPL_VAR NAME='field' -->=<!-- TMPL_VAR name='value' ESCAPE=URL -->&<!-- /TMPL_LOOP -->type=intra"><img src="<!-- TMPL_VAR NAME="themelang" -->/images/numbers/ant.gif" border="0" alt="P&aacute;gina Anterior"></a>
<!-- TMPL_ELSE -->
	<img src="<!-- TMPL_VAR NAME="themelang" -->/images/holder.gif" height="14" width="15" alt="" border="0">
<!-- /TMPL_IF -->
		
<!-- TMPL_LOOP NAME="numbers" -->
	
	<!-- TMPL_IF NAME="highlight" -->
		<span class="highnumber">	
		<!-- TMPL_VAR NAME="number" --> 
		</span>
		
	<!-- TMPL_ELSE -->
		
		<a href="search.pl?orden=<!-- TMPL_VAR NAME='orden' -->&ini=<!-- TMPL_VAR NAME='number' -->&<!-- TMPL_LOOP NAME='FORMINPUTS' --><!-- TMPL_VAR NAME='field' -->=<!-- TMPL_VAR name='value' ESCAPE=URL -->&<!-- /TMPL_LOOP -->type=intra">
		<u><!-- TMPL_VAR NAME=number --></u></a>
		
	<!-- /TMPL_IF -->

<!-- /TMPL_LOOP -->
	
	<!-- TMPL_IF NAME="displaynext" -->
		<a href="search.pl?orden=<!-- TMPL_VAR NAME='orden' -->&ini=<!-- TMPL_VAR NAME='sig' -->&<!-- TMPL_LOOP NAME='FORMINPUTS' --><!-- TMPL_VAR NAME='field' -->=<!-- TMPL_VAR name='value' ESCAPE=URL -->&<!-- /TMPL_LOOP -->type=intra"><img src="<!-- TMPL_VAR NAME="themelang" -->/images/numbers/next.gif" border="0" alt="P&aacute;gina Siguiente"></a>
		<!-- TMPL_ELSE -->
		<img src="<!-- TMPL_VAR NAME="themelang" -->/images/holder.gif" border="0" width="15" height="14" alt="">
	<!-- /TMPL_IF -->

</center>
<!--***********************************************Fin Paginador******************************************* -->
<br>

<center>
<!-- TMPL_LOOP NAME="FORMINPUTS" -->
<!-- TMPL_IF EXPR="(field eq 'signature')" -->
Ha buscado por <b> Signatura Topogr&aacute;fica:
<!-- TMPL_VAR NAME=value -->,  </b>
<!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->

<!-- TMPL_VAR NAME=cantidad --> resultados encontrados
<p>
<!-- Row of numbers corresponding to search result pages -->

<table>
<tr><td valign="top">
<ul>
<!-- TMPL_LOOP NAME=SEARCH_RESULTS -->
  <li>
    <!-- TMPL_IF NAME=direct -->
      <A HREF="detail.pl?bib=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="keyword" -->
      <font size="2"><i><!-- TMPL_IF NAME="title" --> (<!-- TMPL_VAR NAME="title" --><!-- TMPL_IF NAME="unititle" -->: <!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF --><!-- TMPL_IF NAME="author" --> - <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF -->)<!-- /TMPL_IF --></i></font>
      </A>
    <!-- TMPL_ELSE -->
      <A HREF="search.pl?signature=<!-- TMPL_VAR NAME="keyword2" -->&dicdetail=1"><b><!-- TMPL_VAR NAME="keyword" --></b></A>
    <!-- /TMPL_IF -->
  </li>
  <!-- TMPL_IF NAME=jump -->
	</ul></td><td valign="top"><ul>
  <!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
</ul>
</td></tr>
</table>

<br><br>


Intentar una nueva <a href=/cgi-bin/koha/catalogue-home.pl>b&uacute;squeda</a>


<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
