[% USE HTML %]
<script src="/includes/jquery/jquery.jeditable.js"></script>

<script type="text/javascript">
var loaderPath= "";
      $(document).ready(function() {
        loaderPath = '<img src="'+imagesForJS+'/loaders/loader_facebook.gif"'+'>'
        makeDataTable('#tablaResult');
        zebraId('tablaResult');
        loaderPath = '<img src="'+imagesForJS+'/loaders/loader_facebook.gif"'+'>';
        $('.editable').editable('[% url_prefix %]/herramientas/importacion/esquemas_importacionDB.pl', { 
              type      : 'text',
              cancel    : CANCELAR,
              submit    : OK,
              tooltip   : EDITABLE_MSG,
              placeholder: EDITABLE_MSG,
              style   : 'display: inline',
              submitdata : {token: "[% token %]", edit: '1'},
              indicator : loaderPath,

        });
       
      });
</script>

[% IF info_esquema %]
	<div id="tabla_referencia">
	    <fieldset class="resultados_busqueda">
	        <legend class="titulo_legend trigger">[% "Esquema " | i18n %] [% HTML.escape(esquema_title) %]</legend>
	                <div class="datos_tabla_div" id="datos_tabla_div_esquema">
	                    <table id="tabla_esquema" class="datos_tabla" border=0 cellspacing=0 cellpadding=0>
	                        <thead>
	                            <tr class="titulo_tabla_resultado">
	                                <th class=""> [% 'Nombre' | i18n %]</th>
	                                <th class=""> [% 'Descripci&oacute;n' | i18n %]</th>
	                                <th class=""> [% 'Eliminar' | i18n %]</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                             <tr>
	                                <td class="editable_esquema" id="[% info_esquema.id %]___nombre">[% HTML.escape(info_esquema.getNombre) %]</td>
	                                <td class="editable_esquema" id="[% info_esquema.id %]___desc">[% HTML.escape(info_esquema.getDescripcion) %]</td>
	                                <script>
	                                    $('.editable_esquema').editable('[% url_prefix %]/herramientas/importacion/esquemas_importacionDB.pl', { 
	                                        type      : 'text',
	                                        submit    : OK,
	                                        style   : 'display: inline',
	                                        submitdata : {token: "[% token %]", edit: '1', edit_esquema: '1'},
	                                        indicator : loaderPath,
	
	                                   }); 
	                                </script>
	                                <script>
	                                    $('.editable_esquema').editable('[% url_prefix %]/herramientas/importacion/esquemas_importacionDB.pl', { 
	                                        type      : 'text',
	                                        submit    : OK,
	                                        style   : 'display: inline',
	                                        submitdata : {token: "[% token %]", edit: '1', edit_esquema: '1'},
	                                        indicator : loaderPath,
	
	                                   }); 
	                                </script>
	                                <td>
	                                    [% PERL %]
	                                        print C4::AR::Filtros::to_Icon(  
	                                                                            boton   => "icon_cancelar",
	                                                                            onClick => "eliminarEsquema('[% info_esquema.id %]');",
	                                                                            title   => "[% 'Eliminar Esquema' | i18n %]",
	                                                                            alternClass => "botonCentradoTabla",
	                                                                            elem => 'span',
	                                                                            style => 'float: left;',
	                                                ) ;
	                                    [% END %]
	                                </td>
	                             </tr>
	                        </tbody>
	                    </table>
	                </div>
	        <div class="mensajes_informacion" style="clear:both;"> [% table_error_message_esquema %] </div>
	    </fieldset>
	</div>
	
	<div id="tabla_referencia">
	    <fieldset class="resultados_busqueda">
	        <legend class="titulo_legend trigger">[% "Detalle del esquema " | i18n %] [% esquema_title %]</legend>
		            <div class="datos_tabla_div" id="datos_tabla_div">
		                <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0>
		                    <thead>
		                        <tr class="titulo_tabla_resultado">
	                                <th class="click"> [% 'Campo origen' | i18n %]</th>
	                                <th class="click"> [% 'SubCampo origen' | i18n %]</th>
	                                <th class="click"> [% 'Destino' | i18n %]</th>
	                                <th class="click"> [% 'Ignorar' | i18n %]</th>
	                                <th class="click"> [% 'Eliminar' | i18n %]</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                            [% FOREACH detalle IN esquema %]
										<script>var esquema = [% detalle.id %]</script>	                              
										<tr>
	                                    <td class="editable" id="[% detalle.id %]___co">[% detalle.getCampoOrigen %]</td>
                                        <td class="editable" id="[% detalle.id %]___sco">[% detalle.getSubcampoOrigen %]</td>
                                        <td class="click click_destino" id="[% detalle.id %]___destino">[% detalle.getDestino %]</td>

	                                    <td class="editable_hover editable_select" id="[% detalle.id %]___ign">[% detalle.getIgnorarFront %]</td>
	                                    <script>
		                                    $('.editable_select').editable('[% url_prefix %]/herramientas/importacion/esquemas_importacionDB.pl', { 
		                                        data   : " {'[% 'No' | i18n %]':'[% 'No' | i18n %]','[% 'Si' | i18n %]':'[% 'Si' | i18n %]','selected':'[% 'detalle.getIgnorarFront' %]'}",
		                                        type      : 'select',
		                                        submit    : OK,
		                                        style   : 'display: inline',
		                                        submitdata : {token: "[% token %]", edit: '1'},
		                                        indicator : loaderPath,
		
		                                   }); 
	                                    </script>
	                                    <td>
			                                [% PERL %]
			                                    print C4::AR::Filtros::to_Icon(  
			                                                                        boton   => "icon_cancelar",
			                                                                        onClick => "eliminarEsquemaRow('[% detalle.id %]');",
			                                                                        title   => "[% 'Eliminar' | i18n %]",
			                                                                        alternClass => "botonCentradoTabla",
			                                                                        elem => 'span',
			                                                                        style => 'float: left;',
			                                            ) ;
			                                [% END %]
			                            </td>
	                                    
		                              </tr>
		                            [% END %]
		                    </tbody>
		                </table>
		            </div>
	                [% PERL %]
	                       print C4::AR::Filtros::to_Button(   text    => "[% 'Agregar campo' | i18n %]",
	                                                           boton   => "boton_agregar",
	                                                           onClick => "agregarCampo([% id_esquema %]);",
	                                                           title   => "[% 'Agregar campo' | i18n %]",
	                               ) ;
	                [% END %]
	        <div class="mensajes_informacion" style="clear:both;"> [% table_error_message %] </div>
	    </fieldset>
	</div>
[% END %]

