<script type="text/javascript">

    $(document).ready(function() {
          makeToggle('datos_tabla_div_importacion','trigger',null,false);
          makeToggle('filtro_importacion','trigger',null,true);
    });

function cambiarFiltro (filtro){
	$('#record_filter').val(filtro);
	detalleImportacion([% id_importacion %]);
	}
	
</script>
<div class="right ">
         [% PERL %]
                             print C4::AR::Filtros::action_link_button( 
                                                                 button   => "btn btn-warning",
                                                                 url=>"[% url_prefix %]/herramientas/importacion/configurar_importacion.pl",
                                                                 params =>   ["id_importacion=[% id_importacion %]"],
                                                                 icon => "icon-cog",
                                                                 title   => "[% 'Configurar Importaci&oacute;n' | i18n %]",
                                     ) ;
         [% END %]

</div>

    <h2>[% "Registros de la Importaci&oacute;n:" | i18n %]</h2>

    	 <input type="hidden" name="record_filter" id="record_filter" value="[% IF !record_filter %]MAIN[% ELSE %][% record_filter %][% END %]" >
        <div class="tabbable">
            <ul class="nav nav-tabs">
            
                <li [% IF record_filter == 'MAIN' or !record_filter %] class="active" [% END %]>
				<a href="#A" onClick="cambiarFiltro('MAIN');">Registros Principales</a>
				</li>
				
                <li [% IF record_filter == 'ALL' %] class="active" [% END %]>
				<a href="#B" onClick="cambiarFiltro('ALL');">Todos</a>
				</li>
                
                <li [% IF record_filter == 'UNIDENTIFIED' %] class="active" [% END %]>
				<a href="#C" onClick="cambiarFiltro('UNIDENTIFIED');">Registros Sin Identificar</a>
				</li>
                
                <li [% IF record_filter == 'MATCH' %] class="active" [% END %]>
				<a href="#D" onClick="cambiarFiltro('MATCH');">Registros Encontrados</a>
				</li>
			    
			    <li [% IF record_filter == 'IGNORED' %] class="active" [% END %]>
				<a href="#E" onClick="cambiarFiltro('IGNORED');">Registros Ignorados</a>
				</li>
            </ul>
            
            <div class="tab-content">
			</div>
        </div>


        <div class="contenedor_paginador">[% paginador %]</div>
        <div class="datos_tabla_div_importacion">
            <div class="well">
                <div class="resultados_consulta">[% "La cantidad de registros es" | i18n %]: [% cantidad %]</div>
            </div>
            
            [% PERL %]
                print C4::AR::Filtros::tableHeader(   
                                  id              => "tablaResult",
                                  columns         => ['[% "T&iacute;itulo"|i18n %]',
													  '[% "Autor"|i18n %]',
													  '[% "Identificaci&oacute;n"|i18n %]',
													  '[% "Tipo"|i18n %]',
													  '[% "Encontrado"|i18n %]',
													  '[% "Ignorado"|i18n %]',
													  '[% "Acciones"|i18n %]',
                                                     ]
                                        );
            [% END %]

            <tbody>

            [% FOREACH detalle_importacion IN resultsloop %]
                <tr>
                      <td>
                            [% detalle_importacion.getTitulo %]
                      </td>
                      <td>
                            [% detalle_importacion.getAutor %]
                      </td>
                      <td>
                           [% detalle_importacion.getIdentificacion %]
                      </td>
                      <td>
                           [% detalle_importacion.getTipo %]
                          [% IF detalle_importacion.getTipo == "Registro" %] ([% detalle_importacion.getCantidadDeRegistrosHijo %] registros)[% END %]
                      </td>

                      <td>
                        [% IF detalle_importacion.getMatching %]
							[% PERL %]
                            print C4::AR::Filtros::link_to( text =>     "Si",
                                                            url=>"[% url_prefix %]/catalogacion/estructura/detalle.pl", 
                                                            params =>   ["id1=[% detalle_importacion.getIdMatching %]"],
                                                            title =>    "[% 'Mostrar Detalle del Registro' | i18n %]",
                                                            class => "rojo"
                                                        ) ;
							[% END %]
                      <div class="click">
                            [% PERL %]
                            print C4::AR::Filtros::to_Icon(
                                                             boton         => "icon_borrar",
                                                             onClick       => "quitarMatcheoRegistro('[% detalle_importacion.getIdImportacionIso %]','[% detalle_importacion.getId %]');",
                                                             title         => "[% 'No es el mismo registro' | i18n %]",
                                                             alternClass   => "botonCentradoTabla",
                                                           ) ;

                            [% END %]
                        </div>
                        [% ELSE %]
							<span class='verde'>No</span>
                        [% END %]
                      </td>
                      <td>
                        [% IF detalle_importacion.getEstado == "I" %]<span class='rojo'>Si</span>[% ELSE %]<span class='verde'>No</span>[% END %]
                      </td>

                      <!--  BOTONES ACCIONES (Editar, Borrar, Ver detalle) -->
                      <td>
							   [% IF detalle_importacion.getEstado != "I" %]
	                              [% PERL %]
	                               print C4::AR::Filtros::action_set_button(    
										title           => "[% 'Registro' | i18n %]",
	                                    button          => 'btn btn-primary',
	                                    action			=> 'detalleRegistroMARC("[% detalle_importacion.getId %]")',
	                                    actions         => [
											{title => "Detalle", action=>'detalleRegistroMARC("[% detalle_importacion.getId %]")',icon=>"icon-search"},
	                                        {title => "Ignorar", action=>'cambiarEstadoRegistro("[% detalle_importacion.getIdImportacionIso %]","[% detalle_importacion.getId %]","I")', icon=>"icon-ban-circle"},
	                                                       ],
									);
	                              [% END %]
	                           [% ELSE %]
	                              [% PERL %]
	                               print C4::AR::Filtros::action_set_button(    
										title           => "[% 'Registro' | i18n %]",
	                                    button          => 'btn btn-primary',
	                                    action			=> 'detalleRegistroMARC("[% detalle_importacion.getId %]")',
	                                    actions         => [
											{title => "Detalle", action=>'detalleRegistroMARC("[% detalle_importacion.getId %]");',icon=>"icon-search"},
	                                        {title => "Procesar", action=>'cambiarEstadoRegistro("[% detalle_importacion.getIdImportacionIso %]","[% detalle_importacion.getId %]","P");', icon=>"icon-ok-circle"},
	                                                       ],
									);
	                              [% END %]
							   [% END %]
                      </td>
                </tr>
            [% END %]
            </tbody>
            </table>
        </div>


<div id="detalleRegistroMARC"></div>
<div class="form-actions">
         [% PERL %]
                             print C4::AR::Filtros::action_button( 
                                                                 button   => "btn btn-danger",
                                                                 action => 'comenzarImportacion("[% id_importacion %]");',
                                                                 title   => "[% 'Comenzar Importaci&oacute;n' | i18n %]",
                                     ) ;
         [% END %]
</div>
