<script type="text/javascript">

    $(document).ready(function() {
          makeToggle('datos_tabla_div_importacion','trigger',null,false);
    });

</script>

<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Registros de la Importaci&oacute;n:" | i18n %]</legend>

<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Filtrar" | i18n %]</legend>
        <div >
            <input type="radio" name="record_filter" value="MAIN" [% IF record_filter == 'MAIN' or !record_filter %] checked [% END %]onChange="detalleImportacion([% id_importacion %]);">Registros Principales
            <input type="radio" name="record_filter" value="ALL" [% IF record_filter == 'ALL' %] checked [% END %] onChange="detalleImportacion([% id_importacion %]);">Todos
            <input type="radio" name="record_filter" value="UNIDENTIFIED" [% IF record_filter == 'UNIDENTIFIED' %] checked [% END %] onChange="detalleImportacion([% id_importacion %]);">Registros Sin Identificar
        </div>
</fieldset>

        <div class="contenedor_paginador">[% paginador %]</div>
        <div class="datos_tabla_div_importacion">
            <div class="resultados_consulta">[% "La cantidad de registros es" | i18n %]: [% cantidad %]</div>
            <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
                <thead>
                    <tr class="titulo_tabla_resultado">
                        <th>
                            [% "T&iacute;itulo" | i18n %]
                        </th>
                        <th>
                            [% "Autor" | i18n %]
                        </th>
                        <th>
                            [% "Identificaci&oacute;n" | i18n %]
                        </th>
                        <th>
                            [% "Tipo" | i18n %]
                        </th>
                        <th>
                            [% "Acciones" | i18n %]
                        </th>
                    </tr>
                </thead>
            <tbody>

            [% FOREACH detalle_importacion IN resultsloop %]
                <tr  align="center">

                      <td align="left">
                            [% detalle_importacion.getTitulo %]
                      </td>
                      <td align="left">
                            [% detalle_importacion.getAutor %]
                      </td>
                      <td align="left">
                           [% detalle_importacion.getIdentificacion %]
                      </td>
                      <td align="left">
                           [% detalle_importacion.getTipo %]
                          [% IF detalle_importacion.getTipo == "Registro" %] ([% detalle_importacion.getCantidadDeRegistrosHijo %] registros)[% END %]
                      </td>
                      <!--  BOTONES ACCIONES (Editar, Borrar, Ver detalle) -->
                      <td align='left' width="9%" >

                      <div class="click horizontal icon_mas">
                              [% PERL %]
                                          print C4::AR::Filtros::to_Icon(
                                                                          boton         => "icon_marc",
                                                                          onClick       => "detalleRegistroMARC('[% detalle_importacion.getId %]');",
                                                                          title         => "[% 'Detalle MARC' | i18n %]",
                                                                          alternClass   => "botonCentradoTabla",
                                                                      ) ;

                              [% END %]
                         </div>
                      </td>
                </tr>
            [% END %]
              <tr>
                    <td class="lineafinaltabla"  align="left" colspan="14"></td>
              </tr>
            </tbody>
            </table>
        </div>
</fieldset>

<div id="detalleRegistroMARC"></div>
