<script type="text/javascript">

    $(document).ready(function() {
          makeToggle('datos_tabla_div_importacion','trigger',null,false);
    });

</script>
<div class="contenedor_paginador">[% paginador %]</div>
<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Registros de la Importaci&oacute;n:" | i18n %]</legend>
        <div class="datos_tabla_div_importacion">
            <div class="resultados_consulta">[% "La cantidad de registros es" | i18n %]: [% cantidad %]</div>
            <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
                <thead>
                    <tr class="titulo_tabla_resultado">
                        <th>
                            [% "Id" | i18n %]
                        </th>
                        <th>
                            [% "Tipo" | i18n %]
                        </th>
                        <th>
                            [% "Estado" | i18n %]
                        </th>
                        <th>
                            [% "Encontrado" | i18n %]
                        </th>
                        <th>
                            [% "Configuraci&oacute;n" | i18n %]
                        </th>
                        <th>
                            [% "Acciones" | i18n %]
                        </th>
                    </tr>
                </thead>
            <tbody>

            [% FOREACH detalle_importacion IN resultsloop %]
                <tr  align="center">

                      <td align="left">
                          [% detalle_importacion.getId %]
                      </td>
                      <td align="left">
                           [% detalle_importacion.getTipo %]
                      </td>
                      <td align="left">
                           [% detalle_importacion.getEstado %]
                      </td>
                      <td align="left">
                           [% detalle_importacion.getMatching %]
                      </td>
                      <td align="left">

                      </td>
                      <!--  BOTONES ACCIONES (Editar, Borrar, Ver detalle) -->
                      <td align='left' width="9%" >

                      <div class="click horizontal icon_mas">
                              [% PERL %]
                                          print C4::AR::Filtros::to_Icon(
                                                                          boton         => "icon_marc",
                                                                          onClick       => "detalleRegistroMARC('[% detalle_importacion.getId %]');",
                                                                          title         => "[% 'Detalle MARC' | i18n %]",
                                                                          alternClass   => "botonCentradoTabla",
                                                                      ) ;

                              [% END %]
                         </div>
                      </td>
                </tr>
            [% END %]
              <tr>
                    <td class="lineafinaltabla"  align="left" colspan="14"></td>
              </tr>
            </tbody>
            </table>
        </div>
</fieldset>

<div id="detalleRegistroMARC"></div>
