[% INCLUDE "intranet-top.inc" %]
[% USE HTML %]
<script type="text/javascript">

function edit(){

      objAH                     = new AjaxHelper(updateEdit);
      objAH.url                 = URL_PREFIX+'/about/aboutDB.pl';
      objAH.debug               = true;
      objAH.showOverlay         = true;
      
      objAH.tipoAccion          = 'EDIT_ABOUT';
      objAH.sendToServer();
}

function updateEdit(responseText){
    $('#edicion_about').html(responseText)
}
</script>



<fieldset>
    <legend class="titulo_legend">Datos de la Biblioteca</legend>
    <form onsubmit="return false" class="well form-search">
        [% info_about.descripcion %]+
        
        [% PERL %]
	    print C4::AR::Filtros::to_Button(   text    => "[% 'Editar Informacion' | i18n %]",
	                                                          boton   => "boton_buscar",
	                                                          onClick => "edit()",
	                                                          title   => "[% 'Editar Informacion' | i18n %]",
	                                                          id      => "[% 'edit_about' %]",
	                                                                ) ;
	    [% END %]
    
    </form>
</fieldset>

<div id="edicion_about"></div>

<fieldset>
    <legend class="titulo_legend">Equipo Central</legend>
    <div>
         <dt><a href="http://www.cespi.unlp.edu.ar" target="_blank">CESPI</a> - <a href="http://www.linti.unlp.edu.ar" target="_blank">LINTI</a> - <a href="http://www.info.unlp.edu.ar" target="_blank">Facultad de Informática</a></dt> 
         <dd>Javier D&iacute;az</dd>
         <dd>Einar Lanfranco</dd>
         <dd>Mat&iacute;as Pagano</dd>
         <dd>Augusto Perez</dd>
         <dd>Miguel Carbone</dd>
         <dd>Gaspar Rajoy</dd>
         <dd>Magal&iacute; Defalco</dd>
         <dd>J. Francisco Raposeiras</dd>
    </div>
    <div>
         <dt><a href="http://www.econo.unlp.edu.ar" target="_blank">Facultad de Ciencias Econ&oacute;micas</a></dt>
         <dd>Mar&iacute;a Fernanda Pietroboni</dd>
         <dd>Mar&iacute;a Laura Asenjo</dd>
         <dd>Paula Gabriela Gonzalez</dd>
    </div>
</fieldset>
    
[% INCLUDE "intranet-bottom.inc" %]
