<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<h1><!-- TMPL_VAR NAME=firstname --> <!-- TMPL_VAR NAME=surname --></h1>
<br>ID de Usuario: <!-- TMPL_VAR NAME=bornum -->
<br>Tarjeta de identificaci&oacute;n : <!-- TMPL_VAR NAME=cardnumber -->
<P>
<!-- TMPL_IF NAME=showfulllink -->
<a href="virtualrec.pl?bornum=<!-- TMPL_VAR name="bornum" -->&limit=full">Full output</a>
<br/>
<!-- /TMPL_IF -->
<br/>
<TABLE  CELLSPACING=0  CELLPADDING=5 border=1 >
<TR VALIGN=TOP>
	<TD background="<!-- TMPL_VAR name="themelang" -->/images/background-vir.bmp">
		<a href="virtualrec.pl?bornum=<!-- TMPL_VAR name="bornum" -->&order=title&limit=<!-- TMPL_VAR name="limit" -->"><b>T&iacute;tulo</b></a>
	</TD>
	<TD background="<!-- TMPL_VAR name="themelang" -->/images/background-vir.bmp">
		<a href="virtualrec.pl?bornum=<!-- TMPL_VAR name="bornum" -->&order=author&limit=<!-- TMPL_VAR name="limit" -->"><b>Autor</b></a>
	</TD>
	<TD background="<!-- TMPL_VAR name="themelang" -->/images/background-vir.bmp">
		<a href="virtualrec.pl?bornum=<!-- TMPL_VAR name="bornum" -->&limit=<!-- TMPL_VAR name="limit" -->"><b>Fecha de Pedido</b></a>
	</TD>
	<TD background="<!-- TMPL_VAR name="themelang" -->/images/background-vir.bmp">
		<a href="virtualrec.pl?bornum=<!-- TMPL_VAR name="bornum" -->&order=completedate&limit=<!-- TMPL_VAR name="limit" -->"><b>Fecha de Cumplido</b></a>
	</TD>
     <TD background="<!-- TMPL_VAR name="themelang" -->/images/background-vir.bmp">
                <a href="virtualrec.pl?bornum=<!-- TMPL_VAR name="bornum" -->&order=aquiredate&limit=<!-- TMPL_VAR name="limit" -->"><b>Fecha de Adquisici&oacute;n</b></a>
        </TD>
                                                                                                                             
 <TD background="<!-- TMPL_VAR name="themelang" -->/images/background-vir.bmp">
                <a href="virtualrec.pl?bornum=<!-- TMPL_VAR name="bornum" -->&order=branch&limit=<!-- TMPL_VAR name="limit" -->"><b>Unidad de Informaci&oacute;n</b></a>
        </TD>
<TD background="<!-- TMPL_VAR name="themelang" -->/images/background-vir.bmp">
                <b>Tipo de Pedido</b>
        </TD>

	<TD background="<!-- TMPL_VAR name="themelang" -->/images/background-vir.bmp">
		<b>Volumen</b>
	</TD>
</TR>
<!-- TMPL_LOOP name="loop_reading" -->
<TR VALIGN=TOP>
	<TD  bgcolor="white">
 		<!-- TMPL_VAR name="title" -->&nbsp;
	</TD>
	<TD  bgcolor="white">
 		<!-- TMPL_VAR name="author" -->&nbsp;
	</TD>
	<TD  bgcolor="white">
		<!-- TMPL_VAR name="daterequest" -->&nbsp;
	</TD>
	<TD  bgcolor="white">
		<!-- TMPL_VAR name="datecomplete" -->&nbsp;
	</TD>
	 <TD  bgcolor="white">
                <!-- TMPL_VAR name="dateaquire" -->&nbsp;
        </TD>
	                                                                                                                
   <TD  bgcolor="white">
                <!-- TMPL_VAR name="branchname" -->&nbsp;
        </TD>
<td align=center><IMG <!-- TMPL_IF Name="copy" --> src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/cd.png" alt="Para Copiar" <!-- TMPL_ELSE --> src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/print.png"
alt="Para Imprimir"  <!-- /TMPL_IF -->> </td>

	<TD  bgcolor="white">
		 <!-- TMPL_VAR name="volume" -->: <!-- TMPL_VAR name="volumeddesc" -->&nbsp;
	</TD>
	<TD  bgcolor="white">
                <!-- TMPL_VAR name="biblioitmenumber" --> &nbsp;
        </TD>
	
<!-- /TMPL_LOOP -->
</TABLE>

<br>
<a href="/cgi-bin/koha/moremember.pl?bornum=<!-- TMPL_VAR name="bornum" -->">Volver</a> al Registro del Usuario

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->


