<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
 <script language="javascript" type="text/javascript">
         function swap(id,src){
	         document.getElementById(id).src=src;
		         }
	
	function table_selected(op){
	   document.tabla.op.value=op;
	   document.tabla.submit();
	 	}

	
	function table_deleted(table,field){
	   document.tabla.op.value='DELETE';
	   document.getElementById('table').value=table;
	   document.getElementById('field').value=field;
	   document.tabla.submit();
	 	}

	function tablejoin_selected(op){
	   document.join.op.value=op;
	   document.join.submit();
	   }

	function join_deleted(table1,field1,table2,field2){
	   document.join.op.value='DELETEJOIN';
	   document.getElementById('tabla1').value=table1;
	   document.getElementById('campo1').value=field1;
	   document.getElementById('tabla2').value=table2;
	   document.getElementById('campo2').value=field2;
	   document.join.submit();
	 	}

</script>			 

<table width="100%" class="pagetitle" border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td>Reportes Gen&eacute;ricos</td>
	</tr>
 	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>
<br>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" >
 <tr>
 <td width="50%" >
 <h2 align='center' valign='top'>Campos involucrados</h2>
 </td>
 <td width="50%" >
 <h2 align='center' valign='top'>Relaciones</h2>
 </td>
 </tr>
</table>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" >
 <tr><td width="50%" valign="top">

  <!-- TMPL_IF name="msg" -->
           <!-- TMPL_VAR name="msg" -->
  <!-- /TMPL_IF -->


<table align='center'>
	<tr>
	<td align='left'>Tablas</td>
    	<!-- TMPL_IF name="fieldnames" -->
	<td align='left'>Campos</td>
	<!-- /TMPL_IF -->
	</tr>
	<tr>
	<form  method="post" name="tabla" action='generic_reports.pl'>
	<input type="hidden" name="op" id="op">
	<input type="hidden" name="table" id="table">
	<input type="hidden" name="field" id="field">
		<td>
			<!-- TMPL_VAR name="tablenames" --> 
		</td>

    		<!-- TMPL_IF name="fieldnames" -->
		<td>
	 <!-- TMPL_VAR name="fieldnames" --> 
		</td>
		</tr>	
		<tr>
		<td colspan="2" align='left'>Nombre</td>
		</tr>
		<tr>
		<td>
		<input type="text" name="nombre" id="nombre">
		</td>   
		<td>
<input type="image" alt="Agregar" src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/agregar.png" onclick="table_selected('ADD')">
		</td>
		<!-- /TMPL_IF -->
	</tr>	
	</form>
</table>

<!-- TMPL_IF name="TABLES" -->
<br><br><br>
<table border=0 cellspacing=0 cellpadding=0  width="90%" align='center'>
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td>Tabla</td>
		<td>Campo</td>
		<td>Nombre</td>
		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</tr>
<!-- TMPL_LOOP name="TABLES" -->
	<tr valign=middle>
		<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
		
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align="center">
			<!-- TMPL_VAR name="tabla" -->
		</td>
		
		<td  class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal"  align="center">
			<!-- TMPL_VAR name="campo" -->
		</td>
		
		<td  class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal"  align="center">
			<!-- TMPL_VAR name="nombre" -->
		</td>
		<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">

	<a class="inputFontNormal" href="#" onclick="table_deleted('<!-- TMPL_VAR name="tabla" -->','<!-- TMPL_VAR name="campo" -->')"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/borrar.png" ALT="Eliminar" hspace=0 vspace=0 border=0></a>
	
		</td>
	</tr>
<!-- /TMPL_LOOP -->
 	<tr valign=bottom>
        	<td class="lineafinaltabla"  align="left" colspan="7"></td>
        </tr>
</table>
<!-- /TMPL_IF -->

</td>
<td width="50%" valign="top" >

<table align="center" valign="top">
	<tr>
	<td align='left'>Tablas</td>
    	<!-- TMPL_IF name="fields1" -->
	<td align='left'>Campos</td>
	<!-- /TMPL_IF -->
	</tr>

	<form  method="post" name="join" action='generic_reports.pl'>
	<tr>
	<input type="hidden" name="op" id="op">
	<input type="hidden" name="tabla1" id="tabla1">
	<input type="hidden" name="campo1" id="campo1">
	<input type="hidden" name="tabla2" id="tabla2">
	<input type="hidden" name="campo2" id="campo2">

		<td><!-- TMPL_VAR name="tables1" --></td>

    		<!-- TMPL_IF name="fields1" -->
		<td><!-- TMPL_VAR name="fields1" --></td>
		<td>&nbsp;</td>
		<!-- /TMPL_IF -->
	</tr>  

	<!-- TMPL_IF name="fields1" -->
	<tr>		
		<td><!-- TMPL_VAR name="tables2" --></td>

    		<!-- TMPL_IF name="fields2" -->
		<td><!-- TMPL_VAR name="fields2" --></td>
		<td>
		&nbsp;
		</td>
		<!-- /TMPL_IF -->
	</tr>
	<tr>
	<td>Tipo: <!-- TMPL_VAR name="jointype" --> </td>
	<td colspan="2">
	<input type="image" alt="Agregar" src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/agregar.png" onclick="tablejoin_selected('ADDJOIN')">
	</td>
	</tr>
	<!-- /TMPL_IF -->
	</form>
</table>

<!-- TMPL_IF name="JOINS" -->
<br>
<table border=0 cellspacing=0 cellpadding=0  width="90%" align='center'>
	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td>Tabla</td>
		<td>Campo</td>
		<td>Tabla</td>
		<td>Campo</td>
		<td>Tipo</td>
		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</tr>
<!-- TMPL_LOOP name="JOINS" -->
	<tr valign=middle>
		<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
		
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align="center">
			<!-- TMPL_VAR name="table1" -->
		</td>
		
		<td  class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align="center">
			<!-- TMPL_VAR name="field1" -->
		</td>
		
		<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align="center">
			<!-- TMPL_VAR name="table2" -->
		</td>
		
		<td  class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align="center">
			<!-- TMPL_VAR name="field2" -->
		</td>
		
		<td  class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align="center">
			<!-- TMPL_VAR name="unionjoin" -->
		</td>
		<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">

	<a class="inputFontNormal" href="#" onclick="join_deleted('<!-- TMPL_VAR name="table1" -->','<!-- TMPL_VAR name="field1" -->', '<!-- TMPL_VAR name="table2" -->','<!-- TMPL_VAR name="field2" -->' )"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/borrar.png" ALT="Eliminar" hspace=0 vspace=0 border=0></a>
	
		</td>
	</tr>
<!-- /TMPL_LOOP -->
 	<tr valign=bottom>
        	<td class="lineafinaltabla"  align="left" colspan="7"></td>
        </tr>
</table>
<!-- /TMPL_IF -->

 </td></tr>
 </table>

<br>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
