[% INCLUDE 'intranet-top.inc' %]

[% INCLUDE  'AutocompleteHelper.inc'  %]

<script type="text/javascript" src="/intranet-tmpl/includes/circulacion-min.js"></script>
<script type="text/javascript" src="/intranet-tmpl/includes/usuarios/usuariosReales-min.js"></script>

<script type="text/javascript">
// para la ventana de Agregar Autorizado
NRO_SOCIO_AUTH=0;
var objAH;
function verificarBarcode(){

	objAH=new AjaxHelper(updateVerificarBarcode);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/cir/circulacionDB.pl";
	objAH.id1= id1;
	objAH.id2= id2;
	objAH.tipoAccion= "VERIFICAR_BARCODE";
	//se envia la consulta
	objAH.sendToServer();
}

function updateVerificarBarcode(responseText){
	var Messages= JSONstring.toObject(responseText);
	setMessages(Messages);
}


function obtenerTiposDePrestamos(){

	objAH=new AjaxHelper(updateObtenerTiposDePrestamos);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.nro_socio= NRO_SOCIO_AUTH;
	objAH.barcode= $('#barcode_hidden').val();
	objAH.tipoAccion= "CIRCULACION_RAPIDA_OBTENER_TIPOS_DE_PRESTAMO";
	//se envia la consulta
	objAH.sendToServer();
}

function updateObtenerTiposDePrestamos(responseText){
	var infoHash= JSONstring.toObject(responseText);
	var tipoPrestamo_array_hash_ref= infoHash.tipoPrestamo;
	var comboTipoPrestamo_html= crearCombo(tipoPrestamo_array_hash_ref, 'comboTipoPrestamo');

	$('#spanComboTipoPrestamo').html(comboTipoPrestamo_html);
	mostrarBotonAceptar();
}

function realizarAccionCircRapida(){

	objAH=new AjaxHelper(updateRealizarAccion);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.nro_socio= $('#nro_socio_hidden').val();
	objAH.barcode= $('#barcode').val();
	if($('#operacion').val() == 'devolver'){
		var prestamos_array=new Array();
		prestamos_array=  $('#barcode_hidden').val();
		objAH.datosArray= prestamos_array;
	}
	objAH.operacion= $('#operacion').val();
	objAH.tipoPrestamo= $('#comboTipoPrestamo').val();
	objAH.tipoAccion= "CIRCULACION_RAPIDA";
	//se envia la consulta
	objAH.sendToServer();
}

function updateRealizarAccion(responseText){
	if(objAH.operacion == 'prestar'){
		var infoHash= JSONstring.toObject(responseText);
		var messageArray= infoHash.messages;
		var ticketsArray= infoHash.tickets;
		var mensajes= '';
		for(var i=0; i<messageArray.length;i++){
			imprimirTicket(ticketsArray[i].ticket,i);
			setMessages(messageArray[i]);
		}
		//borro la cache del autocomplete
		$('#barcode').flushCache();
		$('#aceptar').hide();
	}else{
		var Messages= JSONstring.toObject(responseText);
		setMessages(Messages);
		//borro la cache del autocomplete
		$('#barcodePrestado').flushCache();
	}
	
	$('#operacion').focus();
}

function tieneApoderado(){
	//fijo el nro_socio global para la ventana de agregarAutorizado
// FIXME y esto?
	NRO_SOCIO_AUTH=  $('#nro_socio_hidden').val(); 
	var nro_socio= $('#nro_socio_hidden').val();
	USUARIO= new objeto_usuario();
	USUARIO.text= $('#usuarioAutocomplete').val();
	USUARIO.ID= nro_socio;

	var objAH=new AjaxHelper(updateTieneAutorizado);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.nro_socio= $('#nro_socio_hidden').val();
	objAH.tipoAccion= "CIRCULACION_RAPIDA_TIENE_AUTORIZADO";
	//se envia la consulta
	objAH.sendToServer();
}

function updateTieneAutorizado(responseText){
	if(responseText != '0'){
		$('#divAutorizado').show();
		$('#divAgregarAutorizado').hide();
	}else{
		$('#divAgregarAutorizado').show();
		$('#divAutorizado').hide();
	}

	$('#aceptar').focus();
	refreshTipoPrestamo();
}

function onChangeOperacion(){
	var operacion= $('#operacion').val();

	if(operacion == 'prestar'){		
	//busco sobre el conj. de todos los barcodes
		$('#barcode').show();
		$('#barcode').val('');
		$('#barcode').focus();
		$('#barcodePrestado').hide();
		$('#spanComboTipoPrestamo').html('');
		$('#spanComboTipoPrestamo').show();
		$('#tablaPrestamos').hide();
		mostrarBotonAceptar();

	}else if( (operacion == 'devolver') || (operacion == 'renovar') ){
	//busco sobre el conj. de los barcodes prestados
		$('#barcode').hide();
		$('#barcodePrestado').show();
		$('#barcodePrestado').val('');
		$('#barcodePrestado').focus();
		$('#spanComboTipoPrestamo').hide();
		$('#tablaPrestamos').show();
		$('#aceptar').hide();
		

		if( $('#usuario').val() !='' ){
			//se va a devolver algo, se muestra la info de los prestamos del usuario
			detallePrestamos(NRO_SOCIO_AUTH, updateInfoPrestamos);
		}
	}
}

function updateAutocompleteBarcodes(){
	$('#usuario').focus();
	refreshTipoPrestamo();
}

function updateAutocompleteBarcodesPrestados(){
	
	mostrarBotonAceptar();
}

function refreshTipoPrestamo(){
	if( ($('#usuario').val() != '')&&($('#barcode').val() != '')){
		obtenerTiposDePrestamos();
	}
}

function mostrarBotonAceptar(){
	//si se va a devolver y tengo el barcode, muetro el boton para devolver
	if( $('#operacion').val() == 'devolver' && $('#barcodeprestado').val() != '' ){
		$('#aceptar').show();
	}

	if( $('#operacion').val() == 'prestar' && $('#barcode').val() != '' && $('#usuario').val() != '' && $('#comboTipoPrestamo').val() != '' ){
		$('#aceptar').show();
	}
}


function onCompleteUsuarios(){
	tieneApoderado();
	if (($('#operacion').val() == 'devolver') || ($('#operacion').val() == 'renovar')) {
	//se va a devolver algo, se muestra la info de los prestamos del usuario
		detallePrestamos(NRO_SOCIO_AUTH, updateInfoPrestamos);
		
	}else if($('#operacion').val() == 'prestar'){
		esRegular(NRO_SOCIO_AUTH);
	}
}

function esRegular(NRO_SOCIO_AUTH){
	objAH=new AjaxHelper(updateEsRegular);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.nro_socio= NRO_SOCIO_AUTH;
	objAH.tipoAccion= "CIRCULACION_RAPIDA_ES_REGULAR";
	//se envia la consulta
	objAH.sendToServer();
}

function updateInfoDevolver(responseText){
	cancelarDiv();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.Messages_arrayref;
	setMessages(messageArray);

	detallePrestamos(USUARIO.ID,updateInfoPrestamos);
}

function updateEsRegular(responseText){
	var esRegular= "REGULAR";

	if(responseText == '0'){
		esRegular= "IRREGULAR";
	}
	
	$('#estadoUsuario').html(esRegular);
}

$(document).ready(function() {
	$('#operacion').focus();
	$('#aceptar').hide();
	$('#divAutorizado').hide();
	$('#divAgregarAutorizado').hide();
	CrearAutocompleteUsuarios({	IdInput: 'usuario', 
								IdInputHidden: 'nro_socio_hidden', 
								callBackFunction: onCompleteUsuarios,
						});

	CrearAutocompleteBarcodes({	IdInput: 'barcode', 
								IdInputHidden: 'barcode_hidden', 
								callBackFunction: updateAutocompleteBarcodes
						});

	CrearAutocompleteBarcodesPrestados({	IdInput: 'barcodePrestado', 
											IdInputHidden: 'barcode_hidden', 
											callBackFunction: updateAutocompleteBarcodesPrestados
									});
	onChangeOperacion();
});

</script>

<div id="confirmar_div"></div>
<fieldset>
    <legend class="titulo_legend">[% 'Circulaci&oacute;n R&aacute;pida' | i18n %]</legend>
    <br>
    <ul>
      <fieldset>
          <li class="sub_item">
                <label for="operacion">[% 'Operaci&oacute;n:' | i18n %]</label>
                <select id='operacion' tabindex='1' onChange='onChangeOperacion()'>	
                    <option value="prestar">[% 'Pr&eacute;stamo' | i18n %]</option>
                    <option value="devolver">[% 'Devoluci&oacute;n' | i18n %]</option>
                    <option value="renovar">[% 'Renovaci&oacute;n' | i18n %]</option> 
                </select>
                <div id="spanComboTipoPrestamo"></div>
          </li>
          <br>
          <li class="sub_item">
                  <div id="divInfoEjemplar">
                      <label for="barcode">[% 'C&oacute;digo de Barras:' | i18n %]</label>
                      <input type="text" id="barcode" value="" tabindex='2'>
                      <input type='hidden' id='barcode_hidden' value='' tabindex='-1'>
                      <input type="text" id="barcodePrestado" value="" tabindex='2'>
                      <!-- para guardar el nro_socio del usuario al que se le realizo el prestamo -->
                      <input type='hidden' id='nro_socio_hidden' value='' tabindex='-1'>
                  </div>
          </li>
          <br>
          <li class="sub_item">
                  <div id="divInfoUsuario">
                      <label for="usuario">[% 'Usuario:' | i18n %]</label>
                      <input type='text' id='usuario' value='' size=32 tabindex='3' style="float: left">
                      <div id="estadoUsuario"></div>
                      <input type='hidden' id='nro_socio_hidden' value=''>
                      <span id="divAutorizado" style="float:right">[% 'Autorizado:' | i18n %]<input type="checkbox" value="autorizado"></span>
                      [% PERL %]
                                          print C4::AR::Filtros::to_Button(   text    => "[% 'Agregar Autorizado' | i18n %]",
                                                                              boton   => "boton_agregar",
                                                                              onClick => "agregarAutorizado();",
                                                                              title   => "[% 'Agregar Autorizado' | i18n %]",
                                                  ) ;
                      [% END %]
                  </div>
          </li>
      </fieldset>
</fieldset>
</ul>

<br>
<!-- DETALLE DE PRESTAMOS -->
<div id="tablaPrestamos" style="clear: both;"></div>

<div style="float: left; width: 47.4%">
<input style="float: right;" type="button" value="[% 'Aceptar' | i18n %]" id="aceptar" onClick="realizarAccionCircRapida()" tabindex='4'>
</div>

[% INCLUDE 'intranet-bottom.inc' %]
