[% INCLUDE 'intranet-top.inc' %]

[% INCLUDE  'AutocompleteHelper.inc'  %]

<script type="text/javascript" src="/intranet-tmpl/includes/circulacion-min.js"></script>
<script type="text/javascript" src="/intranet-tmpl/includes/usuarios/usuariosReales-min.js"></script>

<script type="text/javascript">
// para la ventana de Agregar Autorizado
NRO_SOCIO_AUTH=0;
var objAH;

function clear_usuario(){
    $('#usuario').val('');
    $('#datosAutorizado').html('');
    $('#detalleUsuario').slideUp('slow');
    $('#tablaPrestamos').slideUp('slow');
}


function init_barcode(){
    $('#barcode').val('');
    $('#barcode_hidden').val('');
}

function verificarBarcode(){

	objAH               = new AjaxHelper(updateVerificarBarcode);
	objAH.debug         = true;
    objAH.showOverlay   = true;
	objAH.url=URL_PREFIX+"/cir/circulacionDB.pl";
	objAH.id1           = id1;
	objAH.id2           = id2;
	objAH.tipoAccion    = "VERIFICAR_BARCODE";
	//se envia la consulta
	objAH.sendToServer();
}

function updateVerificarBarcode(responseText){
	var Messages    = JSONstring.toObject(responseText);
	setMessages(Messages);
}


function obtenerTiposDePrestamos(){

	objAH               = new AjaxHelper(updateObtenerTiposDePrestamos);
	objAH.debug         = true;
    objAH.showOverlay   = true;
//     objAH.cache         = true;
	objAH.url=URL_PREFIX+"/circ/circulacionDB.pl";
	objAH.nro_socio     = NRO_SOCIO_AUTH;
	objAH.barcode       = $('#barcode_hidden').val();
	objAH.tipoAccion    = "CIRCULACION_RAPIDA_OBTENER_TIPOS_DE_PRESTAMO";
	//se envia la consulta
	objAH.sendToServer();
}

function obtenerDatosDelEjemplar(){
    var barcode         = $('#barcode_hidden').val();

    if($('#operacion').val() == 'devolver'){
        barcode = $('#barcodePrestado').val();
    }

    objAH               = new AjaxHelper(updateObtenerDatosDelEjemplar);
    objAH.debug         = true;
    objAH.showOverlay   = true;
//     objAH.cache         = true;
    objAH.url=URL_PREFIX+"/circ/circulacionDB.pl";
    objAH.barcode       = barcode;
    objAH.tipoAccion    = "CIRCULACION_RAPIDA_OBTENER_DATOS_EJEMPLAR";
    //se envia la consulta
    objAH.sendToServer();
}

function updateObtenerDatosDelEjemplar(responseText){
    $('#datos_ejemplar').html(responseText);
}

function updateObtenerTiposDePrestamos(responseText){
	var infoHash                    = JSONstring.toObject(responseText);
	var tipoPrestamo_array_hash_ref = infoHash.tipoPrestamo;

//     if (tipoPrestamo_array_hash_ref.length != 0){
        var comboTipoPrestamo_html      = crearComboDeItems(tipoPrestamo_array_hash_ref, 'comboTipoPrestamo');

        $('#spanComboTipoPrestamo').html(comboTipoPrestamo_html);
        mostrarBotonAceptar();
//     }
}

function realizarAccionCircRapida(){
    objAH                       = new AjaxHelper(updateRealizarAccion);
    objAH.debug                 = true;
    objAH.showOverlay           = true;
    objAH.url=URL_PREFIX+"/circ/circulacionDB.pl";
    objAH.nro_socio             = $('#nro_socio_hidden').val();
    objAH.adicional_selected    = $('#auth_selected').is(':checked'); 
    objAH.barcode               = $('#barcode').val();

    if($('#operacion').val() == 'devolver'){
        var prestamos_array = new Array();
// 		prestamos_array     = prestamos_array.push($('#barcode_hidden').val());
        prestamos_array.push($('#barcode_hidden').val());
        objAH.datosArray    = prestamos_array;
    }

    objAH.operacion         = $('#operacion').val();
    objAH.tipoPrestamo      = $('#comboTipoPrestamo').val();
    objAH.tipoAccion        = "CIRCULACION_RAPIDA";
    //se envia la consulta
    objAH.sendToServer();
}

function updateRealizarAccion(responseText){
	if(objAH.operacion == 'prestar'){
		var infoHash        = JSONstring.toObject(responseText);
		var messageArray    = infoHash.messages;
		var ticketsArray    = infoHash.tickets;
		var mensajes        = '';

		for(var i=0; i<messageArray.length;i++){
			imprimirTicket(ticketsArray[i].ticket,i);
			setMessages(messageArray[i]);
		}
		//borro la cache del autocomplete
		$('#barcode').flushCache();
		$('#aceptar').hide();
	}else{
		var Messages        = JSONstring.toObject(responseText);
		setMessages(Messages);
		//borro la cache del autocomplete
		$('#barcodePrestado').flushCache();
	}
	
    detallePrestamos(NRO_SOCIO_AUTH, updateInfoPrestamos);
    detalleSanciones(NRO_SOCIO_AUTH);
	$('#operacion').focus();
}

function tieneApoderado(){
	//fijo el nro_socio global para la ventana de agregarAutorizado
	NRO_SOCIO_AUTH  = $('#nro_socio_hidden').val(); 
	var nro_socio   = NRO_SOCIO_AUTH;
	USUARIO         = new objeto_usuario();
	USUARIO.text    = $('#usuarioAutocomplete').val();
	USUARIO.ID      = nro_socio;

	var objAH               = new AjaxHelper(updateTieneAutorizado);
	objAH.debug             = true;
    objAH.showOverlay       = true;
//     objAH.cache             = true;
	objAH.url=URL_PREFIX+"/circ/circulacionDB.pl";
	objAH.nro_socio         = NRO_SOCIO_AUTH;
	objAH.tipoAccion        = "CIRCULACION_RAPIDA_TIENE_AUTORIZADO";
	//se envia la consulta
	objAH.sendToServer();
}

function updateTieneAutorizado(responseText){
// 	if(responseText != '0'){
// 		$('#divAutorizado').show();
// 		$('#divAgregarAutorizado').hide();
// 	}else{
// 		$('#divAgregarAutorizado').show();
// 		$('#divAutorizado').hide();
// 	}

    $('#datosAutorizado').html(responseText);
	$('#aceptar').focus();
	refreshTipoPrestamo();
}

function onChangeOperacion(){
	var operacion = $('#operacion').val();
//     $("#form_circulacion_rapida").autoAdvance();

	if(operacion == 'prestar'){		
	//busco sobre el conj. de todos los barcodes
		$('#barcode').show();
		$('#barcode').val('');
		$('#barcode').focus();
		$('#barcodePrestado').hide();
		$('#spanComboTipoPrestamo').html("<select><option value='-1'>[% 'SIN SELECCIONAR' | i18n %]</option></select>");
		$('#spanComboTipoPrestamo').show();
        $('#cambo_tipo_prestamo').show();
		$('#tablaPrestamos').hide();
		mostrarBotonAceptar();

	}else if( (operacion == 'devolver') || (operacion == 'renovar') ){
	//busco sobre el conj. de los barcodes prestados
		$('#barcode').hide();
		$('#barcodePrestado').show();
		$('#barcodePrestado').val('');
		$('#barcodePrestado').focus();
        $('#cambo_tipo_prestamo').hide();
		$('#spanComboTipoPrestamo').hide();
		$('#tablaPrestamos').show();
		$('#aceptar').hide();
		

		if( $('#usuario').val() !='' ){
			//se va a devolver algo, se muestra la info de los prestamos del usuario
			detallePrestamos(NRO_SOCIO_AUTH, updateInfoPrestamos);
            detalleSanciones(NRO_SOCIO_AUTH);
		}
	}
}

function updateAutocompleteBarcodes(){
	$('#usuario').focus();
	refreshTipoPrestamo();
    obtenerDatosDelEjemplar();
}

function updateAutocompleteBarcodesPrestados(){
	mostrarBotonAceptar();
    obtenerDatosDelEjemplar();
}

function refreshTipoPrestamo(){
	if( ($('#usuario').val() != '')&&($('#barcode').val() != '')){
		obtenerTiposDePrestamos();
	}
}

function mostrarBotonAceptar(){
	//si se va a devolver y tengo el barcode, muetro el boton para devolver
	if( $('#operacion').val() == 'devolver' && $('#barcodeprestado').val() != '' ){
		$('#aceptar').show();
        $('#cambo_tipo_prestamo').hide();
	}

	if( $('#operacion').val() == 'prestar' && $('#barcode').val() != '' && $('#usuario').val() != '' && $('#comboTipoPrestamo').val() != '' ){
		$('#aceptar').show();
        $('#cambo_tipo_prestamo').show();
	}
}


function onCompleteUsuarios(){
	tieneApoderado();
    detalleUsuario(NRO_SOCIO_AUTH);
//     $("input[name='usuario']").moveNext(); //para evitar q se llame otra vez al autocomplete
	if (($('#operacion').val() == 'devolver') || ($('#operacion').val() == 'renovar')) {
	//se va a devolver algo, se muestra la info de los prestamos del usuario
// 		detallePrestamos(NRO_SOCIO_AUTH, updateInfoPrestamos);
		
	}else if($('#operacion').val() == 'prestar'){
// 		esRegular(NRO_SOCIO_AUTH);
	}

    detallePrestamos(NRO_SOCIO_AUTH, updateInfoPrestamos);
    detalleSanciones(NRO_SOCIO_AUTH);
    startOverlay();
}

// FIXME croe q no lo vamos a usar mas, el resultado del autocomplete trae la info del usuario y si es REGULAR o NO
function esRegular(NRO_SOCIO_AUTH){
	objAH                   = new AjaxHelper(updateEsRegular);
	objAH.debug             = true;
    objAH.showOverlay       = true;
	objAH.url=URL_PREFIX+"/circ/circulacionDB.pl";
	objAH.nro_socio         = NRO_SOCIO_AUTH;
	objAH.tipoAccion        = "CIRCULACION_RAPIDA_ES_REGULAR";
	//se envia la consulta
	objAH.sendToServer();
}

// FIXME croe q no lo vamos a usar mas, el resultado del autocomplete trae la info del usuario y si es REGULAR o NO
function updateEsRegular(responseText){
    var esRegular= "REGULAR";

    if(responseText == '0'){
        esRegular= "IRREGULAR";
    }
    
    $('#estadoUsuario').html(esRegular);
}

function updateInfoDevolver(responseText){
	cancelarDiv();

	var infoHash        = JSONstring.toObject(responseText);
	var messageArray    = infoHash.Messages_arrayref;
	setMessages(messageArray);
    init_barcode();    

	detallePrestamos(USUARIO.ID,updateInfoPrestamos);
    detalleSanciones(USUARIO.ID);
}

$(document).ready(function() {

	$('#operacion').focus();
	$('#aceptar').hide();
    $('#cambo_tipo_prestamo').hide();
	$('#divAutorizado').hide();
	$('#divAgregarAutorizado').hide();

	CrearAutocompleteUsuarios({	
                                                IdInput: 'usuario', 
								                IdInputHidden: 'nro_socio_hidden', 
								                callBackFunction: onCompleteUsuarios,
				             });

	CrearAutocompleteBarcodes({	
                                IdInput: 'barcode', 
								IdInputHidden: 'barcode_hidden', 
								callBackFunction: updateAutocompleteBarcodes
						});

	CrearAutocompleteBarcodesPrestados({	
                                            IdInput: 'barcodePrestado', 
											IdInputHidden: 'barcode_hidden', 
											callBackFunction: updateAutocompleteBarcodesPrestados
									});

	onChangeOperacion();
});

</script>

<div id="confirmar_div" ></div>
<fieldset>
    <legend class="titulo_legend"><span class="titulos">[% 'Circulaci&oacute;n R&aacute;pida' | i18n %]</span></legend>
        <form id="form_circulacion_rapida" class="classform">
        <ul>
            <li class="sub_item">
                  <label for="operacion">[% 'Operaci&oacute;n:' | i18n %]</label>
                  <select id='operacion' tabindex='1' onChange='onChangeOperacion()'>	
                      <option value="prestar">[% 'Pr&eacute;stamo' | i18n %]</option>
                      <option value="devolver">[% 'Devoluci&oacute;n' | i18n %]</option>
                      <option value="renovar">[% 'Renovaci&oacute;n' | i18n %]</option> 
                  </select>
                  <!--<div id="cambo_tipo_prestamo" style="display: none">-->
            </li>
            <li class="sub_item">
	            <div id="divInfoEjemplar">
	                <label for="barcode">[% 'C&oacute;digo de Barras:' | i18n %]
	                 [% PERL %]
	                     print C4::AR::Filtros::setHelpIcon( text => "[% 'Campo autocompletable, ingrese el nro. de inventario, por ej. DEO-LIB-0' | i18n %]",);
	                 [% END %]
	                </label>
	                <input type="text" id="barcode" name="barcode" value="" tabindex='2' style="display: none;">
	                <input type='hidden' id='barcode_hidden' value='' tabindex='-1'>
	                <input type="text" id="barcodePrestado" value='' tabindex='2' style="display: none;">
	                <!-- para guardar el nro_socio del usuario al que se le realizo el prestamo -->
	                <input type='hidden' id='nro_socio_hidden' value='' tabindex='-1'>
	            </div>
            </li>
            <li>
                <div id="datos_ejemplar"></div>
            </li>
            <li class="sub_item">
                    <div id="divInfoUsuario">
                        <label for="usuario">[% 'Usuario:' | i18n %]
	                        [% PERL %]
	                            print C4::AR::Filtros::setHelpIcon( text => "[% 'Campo autocompletable, b&uacute;squeda por nombre, apellido, nro. de documento, legajo, nro. socio' | i18n %]",);
	                        [% END %]
                        </label>
                        <input type='text' id='usuario' name='usuario' value='' size=32 tabindex='3' style="float: left" onclick="clear_usuario();">
                        <div id="estadoUsuario"></div>
                        <input type='hidden' id='nro_socio_hidden' value='' tabindex='-1'>
  <!--                  <input type="button" class="nonForm" onclick="agregarAutorizado()" id="save_button" value="[% 'Agregar Adicional' | i18n %]" > -->
                    </div>
            </li>
            <li>
                <div id="datosAutorizado"></div>
            </li>
            <li class="sub_item">
                  <div id="cambo_tipo_prestamo">
                      <label for="operacion">[% 'Tipo de Pr&eacute;stamo:' | i18n %]</label>
                      <div id="spanComboTipoPrestamo"></div>
                  </div>
            </li>
          </ul>
        </form>
</fieldset>

        <div style="float: left; width: 100%;">

                              [% PERL %]
                                                  print C4::AR::Filtros::to_Button(     text    => "[% 'Aceptar' | i18n %]",
                                                                                        id      => "aceptar",
                                                                                        boton   => "boton_agregar",
                                                                                        onClick => "realizarAccionCircRapida();",
                                                                                        title   => "[% 'realizar operaci&oacute;n' | i18n %]",
                                                                                        alternClass => "botonCentrado"
                                                          ) ;
                              [% END %]
        </div>

<!-- DELTALLE DEL USUARIO -->
<div id="detalleUsuario"></div>
<br>
<!-- DETALLE DE PRESTAMOS -->
<div id="tablaPrestamos" style="clear: both;"></div>

<!-- DETALLE DE SANCIONES -->
<div id="sanciones"></div>

[% INCLUDE 'intranet-bottom.inc' %]
