[% USE HTML %]
[% IF reservas_asignadas_count %]
<br>
<b>El usuario tiene [% reservas_asignadas_count %] ejemplar(es) reservado(s) esperando para ser retirado(s).</b>
<br>

<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
	<tr>
		<td colspan="9" class="inputFontNormal" align="center">
			<b>EJEMPLARES ASIGNADOS</b>
		</td>
	</tr>
</table>
<table class="tablaReservas" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">

	<tr class="tablaresultadoTitle">
		<td>
			<input type="image" id="checkAllReservas" src="[% themelang %]/images/check.png" title="Seleccionar todos">
		</td>
		<td>T&iacute;tulo</td>
		<td>Autor</td>
		<td>Edici&oacute;n</td>
		<td>Reservado desde</td>
		<td>Reservado hasta</td>
		<td>&nbsp;</td>

	</tr>
<!-- ESTE LOOP MUESTRA LOS EJEMPLARES RESERVADOS DEL USUARIO-->
    [% FOREACH reserva IN RESERVAS_ASIGNADAS %]
	<tr align="center" class="inputFontNormal">
		<td>
			<input type="checkbox"  name="chkboxReservas" value="[%  reserva.getId3 %]" id="[% reserva.getId3 %]">
		</td>
            <td width="16%">

			[% PERL %]
				print C4::AR::Filtros::link_to(	text => 	"[% HTML.escape(reserva.nivel2.nivel1.getTitulo) %]",
												url => 		"/cgi-bin/koha/catalogacion/estructura/detalle.pl", 
												params =>	["id1=[% reserva.nivel2.nivel1.getId1 %]"],
												title =>	"[% 'Mostrar Detalle del Ejemplar' | i18n %]"
											) ;
			[% END %]
            </td>
            <td>
                [% IF reserva.nivel3.nivel1.getAutor %]
                    [% reserva.nivel3.nivel1.cat_autor.getCompleto %]
                [% ELSE %]
                    &nbsp;
                [% END %]
            </td>
		<td>
        [% IF reserva.nivel3.nivel2.getEdicion %] [% reserva.nivel3.nivel2.getEdicion %] [% ELSE %] - [% END %]
		</td>
		<td>
            [% IF reserva.getFecha_notificacion_formateada %]
            [% reserva.getFecha_notificacion_formateada %] 
            [% ELSE %]
               - 
            [% END %]
		</td>
		<td>
            [% IF reserva.getFecha_recordatorio_formateada %]
            <font  [% IF reserva.estaVencida %] color="red" [% END %] >[% reserva.getFecha_recordatorio_formateada %]</font>
            [% ELSE %]
               - 
            [% END %]
		</td>
		<td align="middle"> 
            [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Cancelar' | i18n %]",
                                                                    boton   => "boton_borrar",
                                                                    onClick => "cancelarReserva('[% reserva.getId_reserva %]');",
                                                                    title   => "[% 'Cancelar' | i18n %]",
                                        ) ;
            [% END %]
		</td>

	</tr>
    [% END %] 
</table>
    <p colspan="10" class="inputFontNormal" align=center>
     <input type="image" name="borrowD"  value="prestar" src="[% themelang %]/images/item-prestar.png" title="Realizar pr&eacute;stamo" onClick="realizarAccion('CONFIRMAR_PRESTAMO','chkboxReservas',generaDivPrestamo);">
    </p>
[% ELSE %]
<br>
<b>El usuario no tiene ejemplar(es) reservado(s) esperando para ser retirado(s).</b>
[% END %]

[% IF reservas_espera_count %]
<br>
<b>El usuario tiene [% reservas_espera_count %] reserva(s) en espera.</b>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" class="">
	<tr>
		<td colspan="6" class="inputFontNormal" align="center"><b>RESERVAS EN ESPERA</b></td>
	</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" class="tablaReservas">
	<tr class="tablaresultadoTitle">

		<td>T&iacute;tulo</td>
		<td>Autor</td>
		<td>Edici&oacute;n</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>

	</tr>
	<!-- ESTE LOOP MUESTRA LAS RESERVAS EN ESPERA -->
    [% FOREACH reserva IN RESERVAS_ESPERA %]
		<tr valign="top" class="inputFontNormal">
			<td width="1%">&nbsp;</td>
			<td>
			[% PERL %]
				print C4::AR::Filtros::link_to(	text => 	"[% HTML.escape(reserva.nivel2.nivel1.getTitulo) %]",
												url => 		"/cgi-bin/koha/catalogacion/estructura/detalle.pl", 
												params =>	["id1=[% reserva.nivel2.nivel1.getId1 %]"],
												title =>	"[% 'Mostrar Detalle del Ejemplar' | i18n %]"
											) ;
			[% END %]
			</td>
			<td>
                [% IF reserva.nivel3.nivel1.getAutor %]
                    [% reserva.nivel3.nivel1.cat_autor.getCompleto %]
                [% ELSE %]
                    &nbsp;
                [% END %]
			</td>
			<td>
            [% IF reserva.nivel3.nivel2.getEdicion %] [% reserva.nivel3.nivel2.getEdicion %] [% ELSE %] - [% END %]
			</td>
			<td>
            [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Cancelar' | i18n %]",
                                                                    boton   => "boton_borrar",
                                                                    onClick => "cancelarReserva('[% reserva.getId_reserva %]');",
                                                                    title   => "[% 'Cancelar' | i18n %]",
                                        ) ;
            [% END %]
			</td>
			<td width="1%">&nbsp;</td>
			<td width="1%">&nbsp;</td>
		</tr>
	[% END %]
</table>

<br>
[% ELSE %]
<br>
<b>El usuario no tiene reserva(s) en espera.
</b>
[% END %]
