
[% IF prestamos_cant %]
[% USE HTML %]
<table class="tablaPrestamos" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
        <tr>
		<td colspan="10" align="center" class="inputFontNormal">
			<b>PR&Eacute;STAMOS</b>
        	</td>
     	</tr>
	<tr class="tablaresultadoTitle">
        	<td width="1%" align="left" valign="top">
		<img src="[% themelang %]/images/izquierda.png">
		</td>

		<td>
			<a class="click" id="checkAllPrestamos">
			<img 	src="[% themelang %]/images/check.png" border="0" 
				title="Invertir la selecci&oacute;n">
			</a>
		</td>

                <td>T&iacute;tulo</td>
                <td>Autor</td>
                <td valign="middle">C&oacute;digo de Barras</td>
                <td>Pr&eacute;stamo</td>
                <td>Vencimiento</td>
                <td>Tipo</td>

        	<td width="1%" align="rigth" valign="top">
		<img src="[% themelang %]/images/derecha.png">
		</td>
	</tr>
     [% FOREACH prestamo IN PRESTAMOS %]
	<tr class="inputFontNormal">
		<td width="1%">&nbsp;</td>
		<td>
			 <input type="checkbox" name="chkboxPrestamos" value="[% prestamo.getId_prestamo %]" id="[% prestamo.getId_prestamo %]">
		</td>
                <td>
                <a href="/cgi-bin/koha/busquedas/detalle.pl?id1=[% prestamo.nivel3.nivel1.getId1 %]">
                    [% prestamo.nivel3.nivel1.getTitulo %]
                </a>
		</td>
            	<td>
		        [% IF prestamo.nivel3.nivel1.getAutor %]
                    [% prestamo.nivel3.nivel1.cat_autor.getCompleto %]
                [% ELSE %]
                    &nbsp;
                [% END %]
		</td>
            	<td align="center">
                <a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=[% prestamo.nivel3.nivel1.getId1 %]&id2=[% prestamo.nivel3.nivel2.getId2 %]&id3=[% prestamo.getId3 %]&barcode=[% prestamo.nivel3.getBarcode %]&signatura_topografica=[% prestamo.nivel3.getSignatura_topografica %]' title='Detalle de disponibilidad'> 
                [% prestamo.nivel3.getBarcode %]</a>
                </td>
          	<td align="center">
			[% IF prestamo.getFecha_prestamo %] 
                [% prestamo.getFecha_prestamo_formateada %]
            [% ELSE %]
                - 
            [% END %]
		</td>
           	<td align="center">
                [% IF prestamo.getFecha_vencimiento %]
                <font color="[% IF prestamo.estaVencido %]red[% END %]">[% prestamo.getFecha_vencimiento_formateada %]</font>
                [% ELSE %]
                    - 
                [% END %]
               	</td>
          	<td  align="center">
                [% IF prestamo.tipo.id_tipo_prestamo %]
                        [% prestamo.tipo.getDescripcion %]
                [% END %]
		</td>
        	<td width="1%">&nbsp;</td>
	</tr>
        [% END %]
</table>

    <p align="center">
    [% IF prestamos_cant %] 
        <input type="image" BORDER=0 
        src="[% themelang %]/images/item-return.png" 
        title="Devolver" 
        onClick="realizarAccion('DEVOLUCION','chkboxPrestamos',generaDivDevolucion);">
    [% END %]

    [% IF socio.esRegular %]
        [% UNLESS socio.estaSancionado %]
            <input type="image" 
            src="[% themelang %]/images/renew.png" title="Renovar" 
            onClick="realizarAccion('RENOVACION','chkboxPrestamos',generaDivRenovacion);">
        [% END %]
    [% END %]
    </p>

<br>
[% END %]