[% INCLUDE "intranet-top.inc" %]

[% INCLUDE  'AutocompleteHelper.inc'  %]

<script src="/intranet-tmpl/includes/circulacion.js"></script>

<script language="javascript" type="text/javascript">

function inicializar(){
	USUARIO= new objeto_usuario();
	USUARIO.ID = 0;
	USUARIO.text = '';

	//input para buscar el usuario
	$('#usuarioAutocomplete').val('');
	$('#nro_socio_hidden').val('');
	//input para buscar el barcode
	$('#barcode_hidden').val('');
	$('#barcode').val('');

	//oculto el detalle del usuario
	$('#detalleUsuario').slideUp('slow');
	$('#detalleUsuario').html('');

	$('#botonDevolver').hide();
	//oculto la tabla de prestamos
	$('#tablaPrestamos').slideUp('slow');
	$('#tablaPrestamos').html('');
}

function onCompleteAutocompleteUsuarios(){
	var nro_socio= $('#nro_socio_hidden').val();
	USUARIO= new objeto_usuario();
	USUARIO.text= $('#usuarioAutocomplete').val();
	USUARIO.ID= nro_socio;
	//detalleUsuario esta implementado en circulacion,js
	detalleUsuario(nro_socio);
	detallePrestamos(nro_socio, updateDetallePrestamos);
// 	detalleSanciones(nro_socio);
	$('#botonDevolver').hide();
}

function updateDetallePrestamos(responseText){
	//implementado en circulacion.js
	updateInfoPrestamos(responseText);
	detalleSanciones(USUARIO.ID);
}

function onCompleteAutocompleteBarcodesPrestados(){
	var prestamo= $('#prestamo_hidden').val();
	$('#botonDevolver').show();
	//detalleUsuario esta implementado en circulacion,js
	getSocioFromPrestamo(prestamo);
}

function getSocioFromPrestamo(prestamo){

	var objAH=new AjaxHelper(updateGetSocioFromPrestamo);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.prestamo= prestamo;
	objAH.tipoAccion= "CIRCULACION_RAPIDA_OBTENER_SOCIO";
	//se envia la consulta
	objAH.sendToServer();
}

function updateGetSocioFromPrestamo(responseText){
	var socio= JSONstring.toObject(responseText);

	USUARIO= new objeto_usuario();
	USUARIO.text= socio.apeYNom;
	USUARIO.ID= socio.nro_socio;

	detalleUsuario(USUARIO.ID);
	detalleSanciones(USUARIO.ID);
}

function devolverPrestamo(){

	var objAH=new AjaxHelper(updateDevolverPrestamo);
	objAH.debug= true;
	objAH.url= '/cgi-bin/koha/circ/circulacionDB.pl';
	objAH.tipoAccion= 'DEVOLUCION';
	objAH.datosArray= [$('#prestamo_hidden').val()];
	objAH.nro_socio= USUARIO.ID;
	//se envia la consulta
	objAH.sendToServer();
}

function updateDevolverPrestamo(responseText){
	//implementado en circulacion.js
	generaDivDevolucion(responseText);
}

/*
* REDEFINIDA, se encuentra definida en circulacion.js
*/
function updateInfoDevolver(responseText){
	cancelarDiv();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.Messages_arrayref;
	setMessages(messageArray);

	detallePrestamos(USUARIO.ID,updateInfoPrestamos);
}

$(document).ready(function() {
	inicializar();

	//se crea el autocomplete para buscar el usuario
	CrearAutocompleteUsuarios({	IdInput: 'usuarioAutocomplete', 
								IdInputHidden: 'nro_socio_hidden', 
								callBackFunction: onCompleteAutocompleteUsuarios
						});

	//se crea el autocomplete para buscar por codigo de barras
	CrearAutocompleteBarcodesPrestados({	IdInput: 'barcode', 
											IdInputHidden: 'prestamo_hidden', 
											callBackFunction: onCompleteAutocompleteBarcodesPrestados
										});

});


</script>
<div id="confirmar_div"></div>

<fieldset class="formulario_busqueda">
    <legend class="titulo_legend"><span class="titulos">[% 'Devoluciones y Renovaciones' | i18n %]</span></legend>	
    <ul class="listado_sin_margen">
      <li class="sub_item">
        <div id="buscarUsuario">
                <strong><label for="usuarioAutocomplete">[% 'Apellido y Nombres, DNI o Legajo' | i18n %]</label></strong>
                <input id="usuarioAutocomplete" type="text" size="40" onClick="inicializar();">
                <input id="nro_socio_hidden" type="hidden">
        </div>
      </li>
      <li class="sub_item">
        <div id="buscarCodigoDeBarras">
          <strong><label for="barcode">[% 'Ingrese el c&oacute;digo de barras' | i18n %]</label></strong>
              <input id="barcode" type="text" size="40" onClick="inicializar();">
          <input id="barcode_hidden" type="hidden">
          <input id="prestamo_hidden" type="hidden">
        </div>
      </li>
    </ul>
</fieldset>

<div id="botonDevolver" align ="center">
                <ul class="listaMenuBotones">
                    <li>
                            [% PERL %]
                                    print C4::AR::Filtros::to_Button(   text    => "[% 'Devolver' | i18n %]",
                                                                        boton   => "boton_enviar",
                                                                        onClick => "devolverPrestamo();",
                                                                        title   => "[% 'Devolver' | i18n %]",
                                                                        alternClass => "botonCentrado"
                                            ) ;
                            [% END %]
                  </li>
              </ul>
</div>
<!-- DELTALLE DEL USUARIO -->
<div id="detalleUsuario"></div>
<!-- DELTALLE DE SANCIONES -->
<div id="sanciones"></div>
<!-- DETALLE DE PRESTAMOS -->
<div id="tablaPrestamos"></div>

[% INCLUDE "intranet-bottom.inc" %]
