[% INCLUDE "intranet-top.inc" %]

<script src="/intranet-tmpl/includes/circulacion.js"></script>

<script language="javascript" type="text/javascript">

function inicializar(){
	USUARIO= new objeto_usuario();
	USUARIO.ID = 0;
	USUARIO.text = '';

	//input para buscar el usuario
	$('#usuarioAutocomplete').val('');
	$('#nro_socio_hidden').val('');
	//input para buscar el barcode
	$('#barcode_hidden').val('');
	$('#barcode').val('');

	//oculto el detalle del usuario
	$('#detalleUsuario').slideUp('slow');
	$('#detalleUsuario').html('');

	$('#botonDevolver').hide();
	//oculto la tabla de prestamos
	$('#tablaPrestamos').slideUp('slow');
	$('#tablaPrestamos').html('');
}

function onCompleteAutocompleteUsuarios(){
	var nro_socio= $('#nro_socio_hidden').val();
	USUARIO= new objeto_usuario();
	USUARIO.text= $('#usuarioAutocomplete').val();
	USUARIO.ID= nro_socio;
	//detalleUsuario esta implementado en circulacion,js
	detalleUsuario(nro_socio);
	detallePrestamos(nro_socio, updateDetallePrestamos);
// 	detalleSanciones(nro_socio);
	$('#botonDevolver').hide();
}

function updateDetallePrestamos(responseText){
	//implementado en circulacion.js
	updateInfoPrestamos(responseText);
	detalleSanciones(USUARIO.ID);
}

function onCompleteAutocompleteBarcodesPrestados(){
	var prestamo= $('#prestamo_hidden').val();
	$('#botonDevolver').show();
	//detalleUsuario esta implementado en circulacion,js
	getSocioFromPrestamo(prestamo);
}

function getSocioFromPrestamo(prestamo){

	objAH=new AjaxHelper(updateGetSocioFromPrestamo);
	objAH.debug= true;
	objAH.url= "/cgi-bin/koha/circ/circulacionDB.pl";
	objAH.prestamo= prestamo;
	objAH.tipoAccion= "CIRCULACION_RAPIDA_OBTENER_SOCIO";
	//se envia la consulta
	objAH.sendToServer();
}

function updateGetSocioFromPrestamo(responseText){
	var socio= JSONstring.toObject(responseText);

	USUARIO= new objeto_usuario();
	USUARIO.text= socio.apeYNom;
	USUARIO.ID= socio.nro_socio;

	detalleUsuario(USUARIO.ID);
	detalleSanciones(USUARIO.ID);
}

function devolverPrestamo(){

	objAH=new AjaxHelper(updateDevolverPrestamo);
	objAH.debug= true;
	objAH.url= '/cgi-bin/koha/circ/circulacionDB.pl';
	objAH.tipoAccion= 'DEVOLUCION';
	objAH.datosArray= [$('#prestamo_hidden').val()];
	objAH.nro_socio= USUARIO.ID;
	//se envia la consulta
	objAH.sendToServer();
}

function updateDevolverPrestamo(responseText){
	//implementado en circulacion.js
	generaDivDevolucion(responseText);
}

/*
* REDEFINIDA, se encuentra definida en circulacion.js
*/
function updateInfoDevolver(responseText){
	cancelarDiv();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.Messages_arrayref;
	setMessages(messageArray);

	detallePrestamos(USUARIO.ID,updateInfoPrestamos);
}

$(document).ready(function() {
	inicializar();

	//se crea el autocomplete para buscar el usuario
	CrearAutocompleteUsuarios({	IdInput: 'usuarioAutocomplete', 
								IdInputHidden: 'nro_socio_hidden', 
								callBackFunction: onCompleteAutocompleteUsuarios
						});

	//se crea el autocomplete para buscar por codigo de barras
	CrearAutocompleteBarcodesPrestados({	IdInput: 'barcode', 
											IdInputHidden: 'prestamo_hidden', 
											callBackFunction: onCompleteAutocompleteBarcodesPrestados
										});

});


</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="titulos_interior" >
			Devoluciones y Renovaciones
		</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>
<div id="confirmar_div"></div>
<br>

<div id="buscarUsuario">
<table border="0" cellpadding="0" cellspacing="0"  align="center" width="100%">
	<tr class="tablaresultadoTitle">

		<td>
			<b>Ingrese Apellido y Nombres, DNI o Legajo del usuario</b>
		</td>

	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td align="center">
			<input id="usuarioAutocomplete" type="text" class="inputFontNormal" size="40" onClick="inicializar();">
			<input id="nro_socio_hidden" type="hidden">
		</td>
	</tr>
</table>
</div>

<div id="buscarCodigoDeBarras">
<table border="0" cellpadding="0" cellspacing="0"  align="center" width="100%">
	<tr class="tablaresultadoTitle">

		<td>
			<b>Ingrese el código de barras</b>
		</td>

	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
		<td align="center">
			<input id="barcode" type="text" class="inputFontNormal" size="40" onClick="inicializar();">
			<input id="barcode_hidden" type="hidden">
			<input id="prestamo_hidden" type="hidden">
		</td>
	</tr>
</table>
</div>

<div id="botonDevolver">
 <p align="center">
        <input type="image" BORDER=0 
        src="[% themelang %]/images/item-return.png" 
        title="Devolver" 
        onClick="devolverPrestamo();">
    </p>
</div>

<!-- DELTALLE DEL USUARIO -->
<div id="detalleUsuario"></div>
<!-- DELTALLE DE SANCIONES -->
<div id="sanciones"></div>
<!-- DETALLE DE PRESTAMOS -->
<div id="tablaPrestamos"></div>

[% INCLUDE "intranet-bottom.inc" %]
