
    <fieldset>
        <legend class="titulo_legend">[% "Informaci&oacute;n del ejemplar" | i18n %] </legend>
        <ul class="lista_datos_ejemplar">
        <li style="clear: both;">
            <div class="sub_item_data">[% 'T&iacute;tulo:' | i18n %]</div>
            <div class="sub_item_data_right">[% titulo %]</div>
        </li>
        <li style="clear: both;">
            <div class="sub_item_data">[% 'Autor:' | i18n %]</div>
            <div class="sub_item_data_right">[% autor %]</div>
        </li>
       <li style="clear: both;">
            <div class="sub_item_data">[% 'Disponibilidad:' | i18n %]</div>
            <div class="sub_item_data_right"><strong class="[% IF nivel3.esParaSala %]salaLectura[% ELSE %]prestamo[% END %]">[% nivel3.getDisponibilidadObject.getNombre  %]</strong></div>
        </li>
       <li style="clear: both;">
            <div class="sub_item_data">[% 'Estado:' | i18n %]</div>
            <div class="sub_item_data_right">
                    [% IF socio_prestamo %]
                        <strong class="[% IF nivel3.estadoDisponible %]disponible[% ELSE %]nodisponible[% END %]">[% 'Prestado a:' | i18n  %]</strong>
                        [% PERL %]
                            print C4::AR::Filtros::link_to(   text =>     "[% socio_prestamo.persona.getApeYNom %]",
                                                              url=>"[% url_prefix %]/usuarios/reales/datosUsuario.pl",
                                                              params =>   ["nro_socio=[% socio_prestamo.getNro_socio %]"],
                                                              title =>    "[% 'Mostrar Detalle del Usuario' | i18n %]",
                                                              blank =>  1,
                                                        );
                        [% END %]
                        <script>
                            //Actualizamos los datos del usuario
                            $('#nro_socio_hidden').val('[% socio_prestamo.getNro_socio %]');
                            $('#usuario').val('[% socio_prestamo.persona.getApeYNom %] ([% socio_prestamo.getNro_socio %])');
                            onCompleteUsuarios();
                        </script>
                    [% ELSE %]
                        <strong class="[% IF nivel3.estadoDisponible %]disponible[% ELSE %]nodisponible[% END %]">[% nivel3.getEstadoObject.getNombre  %]</strong>
                    [% END %]
                    [% IF socio_reserva %]
                        [% 'Reservado a:' | i18n  %]
                        <strong>
                        [% PERL %]
                            print C4::AR::Filtros::link_to(   text =>     "[% socio_reserva.persona.getApeYNom %]",
                                                              url=>"[% url_prefix %]/usuarios/reales/datosUsuario.pl",
                                                              params =>   ["nro_socio=[% socio_reserva.getNro_socio %]"],
                                                              title =>    "[% 'Mostrar Detalle del Usuario' | i18n %]",
                                                              blank =>  1,
                                                        );
                        [% END %]
                        </strong>
                    [% END %]
            </div>
        </li>
        </ul>
    </fieldset>
