[% INCLUDE 'intranet-top.inc' %]

<script src="/intranet-tmpl/includes/circulacion.js"></script>

<script language="javascript" type="text/javascript">

function detalleDelUsuario(){
	var nro_socio= $('#nro_socio_hidden').val();
	usuario= new objeto_usuario();
	usuario.text= $('#usuarioAutocomplete').val();
	usuario.ID= nro_socio;
	//detalleUsuario esta implementado en circulacion,js
	detalleUsuario(nro_socio);
	detalleReservas(nro_socio, updateInfoReservas);
	detalleSanciones(nro_socio);
}

$(document).ready(function() {
	//se crea el autocomplete para buscar el usuario
	CrearAutocompleteUsuarios({	IdInput: 'usuarioAutocomplete', 
							IdInputHidden: 'nro_socio_hidden', 
							callBackFunction: detalleDelUsuario
					});
});

</script>

<label for="usuarioAutocomplete" class="titulos">[% 'Pr&eacute;stamos' | i18n %]</label>

<div id="confirmar_div"></div>
<br>

<div id="buscarUsuario">
		<fieldset>
		<ul>
			<li>
				<strong>[% 'Ingrese Apellido y Nombres, DNI o Legajo del usuario' | i18n %]</strong>
			</li>
		<li>
				<input id="usuarioAutocomplete" type="text" size="40">
				<input id="nro_socio_hidden" type="hidden">
			</li>
        </ul>
        </fieldset>

</div> 

<!-- DELTALLE DEL USUARIO -->
<div id="detalleUsuario"></div>
<!-- DELTALLE DE SANCIONES -->
<div id="sanciones"></div>
<!-- DETALLE DE PRESTAMOS -->
<div id="tablaReservas"></div>

[% INCLUDE 'intranet-bottom.inc' %]
