[% INCLUDE 'intranet-top.inc' %]

<script src="/intranet-tmpl/includes/circulacion.js"></script>

<script language="javascript" type="text/javascript">

function detalleDelUsuario(){
	var nro_socio= $('#nro_socio_hidden').val();
	usuario= new objeto_usuario();
	usuario.text= $('#usuarioAutocomplete').val();
	usuario.ID= nro_socio;
	//detalleUsuario esta implementado en circulacion,js
	detalleUsuario(nro_socio);
	detalleReservas(nro_socio, updateInfoReservas);
	detalleSanciones(nro_socio);
}

$(document).ready(function() {
	//se crea el autocomplete para buscar el usuario
	CrearAutocompleteUsuarios({	IdInput: 'usuarioAutocomplete', 
							IdInputHidden: 'nro_socio_hidden', 
							callBackFunction: detalleDelUsuario
					});
});

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >
			Pr&eacute;stamos
		</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>
<div id="confirmar_div"></div>
<br>

<div id="buscarUsuario">
	<table border="0" cellpadding="0" cellspacing="0"  align="center" width="100%">
		<tr class="tablaresultadoTitle">
			<td align="left" valign="top"><img src="[% themelang %]/images/izquierda.png">
			</td>
			<td>
				<b>Ingrese Apellido y Nombres, DNI o Legajo del usuario</b>
			</td>
			<td valign="top" align="right"><img src="[% themelang %]/images/derecha.png"></td>
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<td width="1%">&nbsp;</td>
			<td align="center">
				<input id="usuarioAutocomplete" type="text" class="inputFontNormal" size="40">
				<input id="nro_socio_hidden" type="hidden">
			</td>
			<td width="1%">&nbsp;</td>
		</tr>
	</table>
</div> 
<br>


<!-- DELTALLE DEL USUARIO -->
<div id="detalleUsuario"></div>
<!-- DELTALLE DE SANCIONES -->
<div id="sanciones"></div>
<!-- DETALLE DE PRESTAMOS -->
<div id="tablaReservas"></div>

[% INCLUDE 'intranet-bottom.inc' %]
