<html>
<head>
<title>Meran::UNLP</title>
<link rel="stylesheet" type="text/css" href="[% temas %]/default/includes/intranet.css">
<link rel="stylesheet" type="text/css" href="[% temas %]/[% tema %]/includes/intranet.css">

<script language="javascript" type="text/javascript">

	function swap(id,src){
	document.getElementById(id).src=src;
	}

</script>
</head>
<body>
<noscript>
    <div class='tableMsgUser'>
        <font class='fontMsgUser'>
                <b>[% 'Su navegador no soporta o no tiene habilidato Javascript' | i18n %]</b>
        </font>
    </div>
</noscript>

<div class='tableMsgUser'><font class='fontMsgUser'><b><div id='mensajes'>[% mensaje %]</div></b></font></div>

<center>

<form action='/cgi-bin/koha/mainpage.pl' method="post" name="datosAEnviar">
        <input type="hidden" name="userid">
        <input type="hidden" name="password">
</form>

<form action='/cgi-bin/koha/mainpage.pl' method="post" name="datos">
    <script language="javascript">
	 [% INCLUDE "md5.js" %]
    </script>
    <script language="javascript">
        function enviar(){
		    nroRandom=[% RANDOM_NUMBER %];
            hash= b64_md5(b64_md5(document.datos.password.value)+nroRandom);
            document.datosAEnviar.password.value= hash;
            document.datosAEnviar.userid.value= document.datos.userid.value;
            document.datosAEnviar.submit();
        }
        function onEnterSubmit() {
          /*Esta Funcion verifica si se presion ENTER y si es asi hace un submit del form*/
          /*Importante: SOLO FUNCIONA EN EL INTERNET EXPLORER*/
                if (window.event && window.event.keyCode == 13)
                        enviar();
                else
                        return true;
        }
    </script>
		<div id="login">
			<div id="contenido_login">
			<span>		
					<label>Identificaci&oacute;n:</label>
					<input size=15  name="userid" onKeyPress="javascript:onEnterSubmit();" >
			</span>
			<span>
					<label>Contrase&ntilde;a:</label>
					<input size=15 type="password" name="password" onKeyPress="javascript:onEnterSubmit();">
			</span>
			<div id="boton_login">
			[% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Entrar' | i18n %]",
                                                                    boton   => "boton_entrar",
                                                                    onClick => "enviar(); return(false);",
                                                                    title   => "[% 'Entrar' | i18n %]",
                                        ) ;
            		[% END %]
			</div>
			</div>
		</div>
</form>

