<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
<title>Meran::UNLP</title>
<link rel="stylesheet" type="text/css" href="[% temas %]/[% tema %]/includes/intranet.css">
<script type="text/javascript" src="/includes/jquery/jquery-min.js"></script>
<script type="text/javascript" src="/includes/util-min.js"></script>
<script type="text/javascript" src="/includes/md5-min.js"></script>
<script type="text/javascript" src="/includes/sha1-min.js"></script>

<script type="text/javascript">
    function enviar(){
        [% IF authMERAN %]
            var nroRandom   = [% nroRandom %];
            var hash        = b64_sha256(b64_sha256(b64_md5($("#password_plain").val()))+nroRandom);
            $("#password").val(hash);
        [% ELSE %]
            $("#password").val($("#password_plain"));
        [% END %]
        var username    = $.trim($("#username").val());
        $("#userid").val(username);
        $("#datosAEnviar").submit();
    }


    $(document).ready(function() {
        //onEnter con foco en input, ejecuta la busqueda
          onEnter("username",enviar);
          onEnter("password_plain",enviar);
          $('#username').focus();
    });

</script>

</head>
<body>
<noscript>
    <div class='tableMsgUser'>
        <font class='fontMsgUser'>
                <b>[% 'Su navegador no soporta o no tiene habilidato Javascript' | i18n %]</b>
        </font>
    </div>
</noscript>
[% IF mensaje %]
  <div class='tableMsgUser'>
    <div id='mensajes' class="mensajes_informacion auth_info">
      <font class='fontMsgUser'><b>[% mensaje %]</b></font>
    </div>
  </div>
[% END %]

<form action='/cgi-bin/koha/mainpage.pl' method="post" name="datosAEnviar" id="datosAEnviar">
        <input type="hidden" name="userid" id="userid" >
        <input type="hidden" name="password" id="password">
</form>

<div id="login">
    <div id="contenido_login">
        <div class="entry">     
                <label for="username" class="login">[% 'Identificaci&oacute;n:' | i18n %]</label>
                <input size=15  name="username" id="username" >
        </div>
        <div class="entry">
                <label for="password_plain" class="login">[% 'Contrase&ntilde;a:' | i18n %]</label>
                <input  size=15 type="password" name="password_plain" id="password_plain">
        </div>
        <div id="boton_login">
            <ul>
            [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Entrar' | i18n %]",
                                                                    boton   => "boton_entrar",
                                                                    onclick => "enviar(); return(false);",
                                                                    title   => "[% 'Entrar' | i18n %]",
                                                                    width   => "auto",
                                        ) ;
            [% END %]
           </ul>
      </div>
    </div>
</div>
