[% INCLUDE   'intranet-top.inc'  %]

<script type="text/javascript">


function objeto_usuario(){
    this.text;
    this.ID;
}

     //muestra los ejemplares del grupo
function guardarCambiarPassword(claveUsuario, confirmeClave){

    objAH=new AjaxHelper(updateGuardarCambiarPassword);
    objAH.debug= true;
    objAH.url= '/cgi-bin/koha/usuarios/reales/usuariosRealesDB.pl';
    objAH.newpassword= $('#newpassword1').val();
    objAH.newpassword1= $('#newpassword2').val();
    objAH.changePassword= 1; //se requiere el cambio de la password
    objAH.usuario= usuario.ID;
    objAH.tipoAccion= 'CAMBIAR_PASSWORD';
    //se envia la consulta
    objAH.sendToServer();
}

function updateGuardarCambiarPassword(responseText){
    var Messages= JSONstring.toObject(responseText);
    setMessages(Messages);
}

$(document).ready(function() {
    
    usuario= new objeto_usuario();
    usuario.text= "[% completo %]";
    usuario.ID= "[% id_socio %]";

});

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr><td class="titulos_interior" >
		Cambio de contrase&ntilde;a obligatorio
	</tr></td>
	<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>

[% IF nopermission %]
<!-- This is what is displayed if user doesn't have permission -->
<table align="center" width="100%">
	<tr>
    		<td align="center">Disculpe, Koha no cree que usted tenga permiso para esta p&aacute;gina.</td>
   	</tr>
</table>
[% END %]

[% IF timed_out %]
<!-- This is what is displayed if login has timed out -->
<table align="center" width="100%">
   <tr>
    <td align="center">Disculpe, su sesi&oacute;n ha caducado. Por favor ingrese nuevamente</td>
   </tr>
</table>
[% END %]

[% IF different_ip %]
<!-- This is what is displayed if user's IP has changed -->
<table align="center" width="100%">
   <tr>
    <td align="center">Esta accediendo a Koha desde una direcci&oacute;n IP diferente! Por favor ingrese nuevamente.</td>
   </tr>
</table>
[% END %]

[% IF invalid_username_or_password %]
<!-- This is what is displayed if the username or password doesn't work -->
<table align="center" width="100%">
   <tr>
    <td align="center">Ha ingresado un nombre de usuario o password incorrecto. Por favor intente nuevamente.</td>
   </tr>
</table>
[% END %]

<script language="javascript">
	[% INCLUDE 'md5.js' %]
</script>


[% IF passwordrepeted %]
 	<table align="center" width="100%">
	<tr>
	<td align="center"><font color="red">La contrase&ntilde;a no puede ser la misma que ten&iacute;a</font></td>
	</tr>
	</table>
[% END %]
<center>
<br>
<br>
<form method="post" name="datos">
<input type="hidden" name="newpassword">
<table border="0" cellpadding="0" cellspacing="0" width="60%">
    <tr><td align="center" valign="middle">

    <table border="0"  cellpadding="0" cellspacing="0">
	<tr>
		<td class="inputFontNormal"> <b>Nueva Contrase&ntilde;a:</b></td>
	     	<td class="inputFontNormal"><input type="password" name="newpassword1" id="newpassword1"></td>
        </tr>
	
	<tr><td class="inputFontNormal">&nbsp;</td><td>&nbsp;</td></tr>
	<tr>
        <td class="inputFontNormal"><b>Repetir Contrase&ntilde;a:&nbsp;</b></td>
        <td><input type="password" name="newpassword2"  id="newpassword2"></td>
    </tr>
	<tr><td class="inputFontNormal">&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td class="inputFontNormal" colspan="2" align="center"><input type="button" value="Entrar" onClick="guardarCambiarPassword()"></td></tr>
    </table>
    </td></tr>
</table>
</form>


[% INCLUDE 'intranet-bottom.inc' %]
