[% INCLUDE   'intranet-top.inc'  %]

[% INCLUDE   'ChangePasswordHelper.inc'  %]

<script type="text/javascript">

function objeto_usuario(){
    this.text;
    this.ID;
}


function guardarCambiarPassword(){

    var key= b64_sha256(b64_md5($('#actualpassword').val()));

    document.datosAEnviar.actual_password.value = encriptar($('#actualpassword').val(), key);
    document.datosAEnviar.new_password1.value = encriptar($('#newpassword1').val(), key);
    document.datosAEnviar.new_password2.value = encriptar($('#newpassword2').val(), key);
    document.datosAEnviar.usuario.value = usuario.ID;
    document.datosAEnviar.changePassword.value = 1;
    document.datosAEnviar.submit();
    startOverlay();
}

function updateGuardarCambiarPassword(responseText){
    var Messages= JSONstring.toObject(responseText);
    setMessages(Messages);
}

$(document).ready(function() {
    
    usuario= new objeto_usuario();
    usuario.text= "[% completo %]";
    usuario.ID= "[% nro_socio %]";

});

</script>

<form action='[% url_prefix %]/usuarios/change_passwordDB.pl' method="post" name="datosAEnviar">
        <input type="hidden" name="new_password1">
        <input type="hidden" name="new_password2">
        <input type="hidden" name="usuario">
        <input type="hidden" name="changePassword">
        <input type="hidden" name="actual_password">
        <input type="hidden" name="token" value="[% token %]">
</form>

[% IF cambioForzado %]
    <fieldset>
      <legend class="titulo_legend">[% 'Cambio de contrase&ntilde;a obligatorio' | i18n %]</legend>
      <p class="warning">
          [% 'Para su seguridad, es obligatorio que cambie su contrase&ntilde;a actual.' | i18n %]
          [% 'Disculpe las molestas. MERAN' | i18n %]
      </p>
    </fieldset>
[% END %]

[% IF mensaje %]
    <fieldset>
        <legend class="titulo_legend_warning">[% 'Error' | i18n %]</legend>
        <div class='tableMsgUser'>
            <font class='fontMsgUser'>
                <b>
                    <div id='mensajes'>
                        [% mensaje %]
                    </div>
                </b>
            </font>
        </div>
    </fieldset>
[% END %]

<fieldset>
    <legend class="titulo_legend">[% 'Cambio de contrase&ntilde;a' | i18n %]</legend>
    <ul>
        <li class="sub_item">
            <label for="actualpassword">[% 'Contrase&ntilde;a Actual' | i18n %]:</label>
            <input type="password" name="actualpassword" id="actualpassword">
        </li>
        <li class="sub_item">
            <label for="newpassword1">[% 'Nueva Contrase&ntilde;a' | i18n %]:</label>
            <input type="password" name="newpassword1" id="newpassword1">
        </li>
        <li class="sub_item">
            <label for="newpassword2">[% 'Repetir contrase&ntilde;a' | i18n %]:</label>
            <input type="password" name="newpassword2" id="newpassword2">
        </li>
        [% PERL %]
                            print C4::AR::Filtros::to_Button(   text    => "[% 'Cambiar' | i18n %]",
                                                                boton   => "boton_agregar",
                                                                onClick => "guardarCambiarPassword();",
                                                                title   => "[% 'Cambiar' | i18n %]",
                                    ) ;
        [% END %]


    </ul>
</fieldset>

[% INCLUDE 'intranet-bottom.inc' %]
