<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<script>
	function cambioUnidadDeInformacion(){
     		document.unidad.submit();
	}

	function hacerSubmit(){
	//esta funcion recorre todos los checknox y aquellos que fueron tildados, le añede a un input
	//todos los valores asi estos son enviados para el pl
		var a=new Array();
		var b=new Array();
		var longitud = document.importacionIso.elements.length;
		for (i=0; i < longitud; i++) {
			if ( document.importacionIso.elements[i].checked){//si esta chequeado
				a.push(document.importacionIso.elements[i].value);//agrego el id del que esta tildadoi
				b.push(document.importacionIso.elements[i+1].value)
			}
		}
		document.importacionIso.descripciones.value=a.join();
	 	document.importacionIso.tablas.value=b.join();
	//	jAlert( document.importacionIso.descripciones.value);
		document.importacionIso.submit();
	}

        listaValues= new Array();
        listaOptions= new Array();
        <!-- TMPL_VAR NAME=inicializaciones -->
        <!-- TMPL_VAR NAME=valores -->

	function vaciarSelect(oSelect){
		cant=oSelect.length;
		for(i=0;i<cant;i++){
			oSelect.options[0]=null;
		}
	}

	function agregarOpcionASelect(oSelect,text,value){
		var oOption = new Option( text,value );
		oSelect.options[oSelect.options.length]=oOption;
	}

	function cambiarListaDependiente(listaPrincipal,listaSecundaria){
		vaciarSelect(listaSecundaria);
		agregarOpcionASelect(listaSecundaria,'','          ');
		if (listaPrincipal.options[listaPrincipal.selectedIndex].value != ''){
			listaSecundariaValues= listaValues[listaPrincipal.selectedIndex];
			listaSecundariaOptions= listaOptions[listaPrincipal.selectedIndex];
			for (i=0 ; i < listaSecundariaValues.length ; i++){
				agregarOpcionASelect(listaSecundaria,listaSecundariaOptions[i],listaSecundariaValues[i]);
			}
		}
	}

	function obtenerIndicePorValue(lista,value){
		for(i=0;i<lista.length;i++){
			if (value == lista.options[i].value){
				return(i);
			}
		}
	}

	function ubicarElementosEnLista(listaPrincipal,listaSecundaria,valueListaPrincipal,valueListaSecundaria,idSeparador,valueSeparador,listaOrden,valueListaOrden,listaCampoK,valueListaK){
		listaPrincipal[obtenerIndicePorValue(listaPrincipal,valueListaPrincipal)].selected=true;
		cambiarListaDependiente(listaPrincipal,listaSecundaria);
		if (valueListaSecundaria!= ""){
			listaSecundaria[obtenerIndicePorValue(listaSecundaria,valueListaSecundaria)].selected=true;
		}
		document.getElementById(idSeparador).value=valueSeparador;
		if (valueListaOrden!= ""){
			listaOrden[obtenerIndicePorValue(listaOrden,valueListaOrden)].selected=true;
		}
		listaCampoK[obtenerIndicePorValue(listaCampoK,valueListaK)].selected=true;		
	}



</script>

<div class="titulos_interior" >Importaci&oacute;n</div>

<table  border="0" cellspacing="0" cellpadding="0" width="100%" >
	<tr valign="top">
		<td>
	<!-- TMPL_IF NAME=OK -->
			<b>Usted ingreso en el campo:  <!-- TMPL_VAR NAME=campoiso -->  sobre el subcampo : <!-- TMPL_VAR NAME=subcampoiso --></b>
	<!-- /TMPL_IF -->
		</td>
	</tr>
	<tr>
		<td>
			<form  name="unidad" action="/cgi-bin/koha/importacion.pl" method="post" >
			<!-- TMPL_VAR name="CGIbranch" -->
			<input type="hidden" name="code" value="<!-- TMPL_VAR NAME=code -->">
			</form>
		</td>
	</tr>
</table>

<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr class="tablaresultadoTitle">
 		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td>Unidad de informaci&oacute;n</td>
		<td>Campo</td>
		<td>Campos K</td>
		<td>Subcampo</td>
		<td>Descripci&oacute;n</td>
		<td>Tabla Koha</td>
		<td>Campo Koha</td>
		<td>Separador</td>
		<td>Orden</td>
		<td>Guardar</td>
		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</tr>
	<!-- TMPL_LOOP NAME=RESULTSLOOP -->
 	<form  name="frm<!-- TMPL_VAR NAME=id -->" action="/cgi-bin/koha/guardarImportacion.pl" method="post" >
  	<tr valign="top">
		<td width="1%">&nbsp;</td>	
  		<td> <!-- TMPL_VAR NAME=ui --> </td>
  		<td> <!-- TMPL_VAR NAME=campoIso --> </td>
  		<td> <!-- TMPL_VAR NAME=camposK --> </td>
  		<td> <!-- TMPL_VAR NAME=subCampoIso --> </td>
  		<td> 
			<textarea cols="30" rows="3" name="descripcion"><!-- TMPL_VAR NAME=descripcion --></textarea> 
		</td>
  		<td> <!-- TMPL_VAR NAME=tablaskoha --> </td>
  		<td>
			<select name="listaSecundaria"></select>
		</td>
  		<td>
		      <input type="text" name="separador" size="15" id="<!-- TMPL_VAR NAME=id -->" >
		</td>
   		<input type="hidden" value="<!-- TMPL_VAR NAME=id -->"  name="id" >
   		<input type="hidden" value="<!-- TMPL_VAR NAME=campoIso -->"  name="campoIso" >
   		<input type="hidden" value="<!-- TMPL_VAR NAME=subCampoIso -->"  name="subCampoIso" >
   		<input type="hidden" value="<!-- TMPL_VAR NAME=branch -->"  name="branch">
  		<td> <!-- TMPL_VAR NAME=ordenSelect --> </td>
  		<td>
			<input type="image" value="Guardar Datos " src="<!-- TMPL_VAR NAME="themelang" -->/images/guardar.png" border="0">
		</td>
		<td width="1%">&nbsp;</td>
  	</tr>

<script>
 	ubicarElementosEnLista(document.frm<!-- TMPL_VAR NAME=id -->.listaPrincipal,document.frm<!-- TMPL_VAR NAME=id -->.listaSecundaria,'<!-- TMPL_VAR NAME=kohaTabla -->','<!-- TMPL_VAR NAME=kohaCampo -->',<!-- TMPL_VAR NAME= id -->,'<!-- TMPL_VAR NAME=separador -->',document.frm<!-- TMPL_VAR NAME=id -->.orden,'<!-- TMPL_VAR NAME=orden -->',document.frm<!-- TMPL_VAR NAME=id -->.campoK,'<!-- TMPL_VAR NAME=interfazWeb -->');	
</script>
	</form>
<!-- /TMPL_LOOP -->
	<br><br>
	<tr valign="bottom" align="center">
		<td colspan="12" class="number">
		<!-- TMPL_LOOP NAME=indices -->
        		<a href="importacion.pl?code=<!-- TMPL_VAR NAME=campoIso -->&branch=<!-- TMPL_VAR NAME=branch -->"><!-- TMPL_VAR NAME=campoIso --></a>
		<!-- /TMPL_LOOP -->
		</td>
	</tr>
</table>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
