[% INCLUDE 'intranet-top.inc' %]

[% INCLUDE  'AutocompleteHelper.inc'  %]

[% USE HTML %]

<script src="/includes/jquery/jquery.charCount.js"></script>
<script type="text/javascript" src="/includes/jquery/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="/includes/jquery/jquery.livetwitter.js"></script>
<link rel="stylesheet" href="/includes/css/wysiwyg.css" type="text/css" media="screen"/>

<script type="text/javascript">
var jobID = 0;

	function test(){
		    objAH                   = new AjaxHelper(updateTest);
		    objAH.url               = URL_PREFIX+'/start_job.pl';
		    objAH.debug             = true;
		    objAH.showOverlay       = false;
		    objAH.accion            = "START_DEMO"; 
		    objAH.sendToServer();

	}

	function updateTest(responseText){
		jobID = responseText;
		checkProgress();
	}
	
		
</script>


<script type="text/javascript">

    
    $(document).ready(function() {
        CrearAutocompleteCatalogo({ 
            IdInput: 'catalogo_search', 
            IdInputHidden: 'catalogo_search_hidden', 
        });

        
        $('.fancy_link').fancybox();

        mostrarNovedades();
        mensajesContacto();

        mensajes_interval_id = setInterval(mensajesContacto,20000);
        [% IF twitter_username_to_search %]
            $('#tweets').liveTwitter('[% twitter_username_to_search %]', {limit: 5, imageSize: 32}, function(){
                $('#tweets .loading').remove();
            });
        [% END %]
        
      });
  

</script>

<h1>[% 'Principal' | i18n %] <small>[% 'Accesos frecuentes, novedades, mensajes' | i18n %]</small></h1>

<div id="resultNovedades" class="clear"></div>

<div id="mensajes_contacto" class="clear"></div>

[% IF twitter_enabled %]
	<div id="twitter_container" class="clear">
	    <div id="twitter_result" class="alert alert-success" style="display:none;">
	        
	    </div>
	    [% IF twitter_username_to_search %]
		   <div id="tweets" class="tweets">
		       <div class="loading">[% 'Cargando tweets...' | i18n %]</div>
	       </div>
		   <br />
	    [% END %]
	    <br />
	    <a class="fancy_link btn btn-inverse" href="[% url_prefix %]/admin/publicar_twitter.pl?token=[% token %]" > 
	        <i class="icon-white icon-retweet"></i> [% 'Twitter' | i18n %]
	    </a>
	    
	</div>
[% END %]

[% INCLUDE 'partials/_percent_bar.inc' %]


[% INCLUDE 'intranet-bottom.inc' %]
