[% INCLUDE 'intranet-top.inc' %]

[% INCLUDE  'AutocompleteHelper.inc'  %]

<link rel="stylesheet" type="text/css" href="[% temas %]/[% tema %]/includes/css/fancybox/jquery.fancybox.css">
<script src="/includes/jquery/fancybox/jquery.fancybox-1.2.1.pack.js"></script>
<script src="/includes/jquery/jquery.textareaCounter.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
		CrearAutocompleteCatalogo({ 
		    IdInput: 'catalogo_search', 
		    IdInputHidden: 'catalogo_search_hidden', 
		    //callBackFunction: updateAutocompleteBarcodes
		});


        $('.fancy_link').fancybox({
            'frameWidth':   600,
            'frameHeight':  500,
        });

      mostrarNovedades();

     var options2 = {
                        'maxCharacterSize': 140,
                        'originalStyle': 'originalTextareaInfo',
                        'warningStyle' : 'warningTextareaInfo',
                        'warningNumber': 40,
                        'displayFormat' : '#input/#max | #words words'
                };
     $('#post_twitter').textareaCount(options2);
  });


  
  
    function mostrarNovedades(){
            objAH               = new AjaxHelper(updateActualizarTabla);
            objAH.debug         = true;
            objAH.url           = URL_PREFIX+'/novedadesIntra.pl';

            objAH.tipoAccion    = "MOSTRAR_NOVEDADES";
            objAH.sendToServer();
    }

    function updateActualizarTabla(responseText){
        $("#resultNovedades").html(responseText);
        $('.fancy_link').fancybox({
            'frameWidth':   600,
            'frameHeight':  500,
        });
    }
</script>



<fieldset class="main">
    <legend class="titulo_legend"><strong>[% "Circulaci&oacute;n:" | i18n %]</strong></legend>
    <ul>
        <li class="item">
                    [% PERL %]
                    print C4::AR::Filtros::link_to( 
                          text =>     "[% 'Pr&eacute;stamos' | i18n %]",
                          url=>"[% url_prefix %]/circ/prestamos.pl", 
                          title =>    "[% 'Pr&eacute;stamos' | i18n %]"
                          );
                    [% END %]
        </li>
        <li class="item">
                    [% PERL %]
                    print C4::AR::Filtros::link_to( text =>     "[% 'Devoluciones y Renovaciones' | i18n %]",
                            url=>"[% url_prefix %]/circ/devoluciones.pl", 
                            title =>    "[% 'Devoluciones y Renovaciones' | i18n %]"
                            ) ;
                    [% END %]
        </li>
    </ul>
</fieldset>
<fieldset class="main">
    <legend class="titulo_legend">[% "Personal:" | i18n %]</legend>
    <ul>
        <li class="item">
                    [% PERL %]
                    print C4::AR::Filtros::link_to( text =>     "[% 'Mis datos' | i18n %]",
                                                    url=>"[% url_prefix %]/usuarios/reales/datosUsuario.pl", 
                                                    title =>    "[% 'Reportes' | i18n %]",
                                                    params =>   ["nro_socio=[% nro_socio %]"],
                            );
                    [% END %]
        </li>
    </ul>
</fieldset>


<div id="resultNovedades"></div>


[% IF cant_noleidos > 0 %]
    <fieldset class="mensajes">
        <legend class="titulo_legend"><strong>[% "Mensajes de Contacto :" | i18n %]</strong></legend>    
           
               
                  <ul>
                      [% FOREACH mens IN ultimos_no_leidos %]
                          <li  class="msj_main"> 
                                <span class="msj_main_nombre">[% mens.nombre %] [% mens.apellido %]</span>
                                <span class="msj_main_mail">([% mens.email %])</span>
                       
                                 <span class="msj_main_asunto">
                                        <a class="fancy_link" href="[% url_prefix %]/admin/ver_mensaje.pl?token=[% token %]&id=[% mens.id %]">
                                        [% mens.asunto %]
                                        </a>
                                </span>
                            </td>
                          </li>
                      [% END %]
                  </ul>
                 <br>
                  <ul>
                      <li class="item"> 
                                  [% PERL %]
                                  print C4::AR::Filtros::link_to( 
                                        text =>     "[% 'Ver Mensajes' | i18n %]",
                                        url=>"[% url_prefix %]/admin/mensajes_contacto.pl", 
                                        title =>    "[% 'Mensajes' | i18n %]"
                                        );
                                  [% END %]           
                        
                      </li>
                  </ul>
    </fieldset>   
    <a class="fancy_link" href="[% url_prefix %]/admin/publicar_twitter.pl?token=[% token %]">
                                   Publicar en Twitter
    </a>
  
[% END %]
[% INCLUDE 'intranet-bottom.inc' %]
