[% INCLUDE 'intranet-top.inc' %]
<script language="javascript" type="text/javascript" src="/includes/jquery/jquery-highlight.js"></script>
<script language="javascript" type="text/javascript" src="/intranet-tmpl/includes/busquedasCatalogo.js"> </script>
<script language="javascript" type="text/javascript" src="/intranet-tmpl/includes/busquedasUsuarios.js"></script>
<br>
<br>
<script language="javascript" type="text/javascript"> 

$(document).ready(function() {

  onEnter('keyword',buscar,true);
  onEnter('socio',consultar);
  $('#keyword').focus();
});

</script>
<fieldset class="main">
<legend><strong>[% "Cat&aacute;logo:" | i18n %]</strong></legend>
	<ul>
    <li class="item" >
			
        <label for="keyword">
            [% "B&uacute;squeda combinada" | i18n %]
        </label>
        <input type="text" id="keyword" size="20" tabindex=1>

         [% PERL %]
                     print C4::AR::Filtros::to_Button(   text    => "[% 'Buscar' | i18n %]",
                             boton   => "boton_buscar",
                             onClick => "buscar(true);",
                             title   => "[% 'Buscar en el cat&aacute;logo' | i18n %]",
                             ) ;
          [% END %]
  	</li>
    <li class="item">
        [% PERL %]
                print C4::AR::Filtros::link_to( text    =>  "[% 'B&uacute;squeda avanzada' | i18n %]",
                                                url     =>  "/cgi-bin/koha/busquedas/filtrado.pl",
                                                title   =>  "[% 'B&uacute;squeda avanzada' | i18n %]"
                        ) ;
        [% END %]
    </li>
    </ul>
</fieldset>
<fieldset class="main">
<legend><strong>[% "Usuarios:" | i18n %]</strong></legend>
	<ul>
        <li class="item" >
            <label for="socio">
                [% "B&uacute;squeda de usuarios &nbsp;" | i18n %]
            </label>
            <input id="socio" type=text name="socio" onFocus="checkFilter('focus')" 
                onBlur="checkFilter('blur')" value="[% socio %]" size="20" tabindex=2>		
            [% PERL %]
                            print C4::AR::Filtros::to_Button( 
                                                                text    =>  "[% 'Buscar' | i18n %]",
                                                                boton   =>  "boton_buscar",
                                                                onClick =>  "consultar();",
                                                                title   =>  "[% 'Buscar usuario' | i18n %]",
                                    ) ;
            [% END %]
        </li>
    </ul>
</fieldset>
<fieldset class="main">
<legend><strong>[% "Circulaci&oacute;n:" | i18n %]</strong></legend>
<ul>
<li class="item">
            [% PERL %]
            print C4::AR::Filtros::link_to( 
                   text =>     "[% 'Pr&eacute;stamos' | i18n %]",
                   url =>      "/cgi-bin/koha/circ/prestamos.pl", 
                   title =>    "[% 'Pr&eacute;stamos' | i18n %]"
                   );
            [% END %]
</li>
<li class="item">
            [% PERL %]
            print C4::AR::Filtros::link_to( text =>     "[% 'Devoluciones y Renovaciones' | i18n %]",
                    url =>      "/cgi-bin/koha/circ/devoluciones.pl", 
                    title =>    "[% 'Devoluciones y Renovaciones' | i18n %]"
                    ) ;
            [% END %]
</li>
</ul>
</fieldset>
<fieldset class="main">
    <legend class="titulo_legend">[% "Personal:" | i18n %]</legend>
    <ul>
    <li class="item">
                [% PERL %]
                print C4::AR::Filtros::link_to( text =>     "[% 'Mis datos' | i18n %]",
                                                url =>      "/cgi-bin/koha/usuarios/reales/datosUsuario.pl", 
                                                title =>    "[% 'Reportes' | i18n %]",
                                                params =>   ["nro_socio=[% nro_socio %]"],    
                        ) ;
                [% END %]
    </li>
    </ul>
</fieldset>
<div id="resultBusqueda"></div>
<div id="result"></div>

[% INCLUDE 'intranet-bottom.inc' %]

