 <!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<form href="updateshelf.pl" method="post" name="f">
<input class="inputFontNormal" type="hidden" name="shelfnumber" value="<!-- TMPL_VAR NAME="shelfnumber" -->">

<br>

<table border="0" cellspacing="0" cellpadding="5" class="tablaresultado">
<tr valign="top">
<td  class="inputFontNormal"><b>Nombre del Estante Virtual: </b></td>
<td class="inputFontNormal"><input  class="inputFontNormal" type="text" name="shelfname" size="82" value="<!-- TMPL_VAR Name="shelfname" ESCAPE=HTML -->"></td>
</tr>
</table>
<br>
<center>
<a href="#" onClick="f.submit()" >
<img name="save" id="save" alt="Guardar cambios" src="<!-- TMPL_VAR NAME="themelang" -->/images/guardar.png" border="0"></a>
</center>
<input type="submit" style="visibility:hidden">
</form>
<script>
	<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
