<html>
<script>

function ejecutar(valor,texto){
	var txt=opener.document.createTextNode(texto); 	
	opener.document.getElementById('addbarcode').value=valor;
	var sel=opener.document.getElementById('seleccion');
	if (sel.hasChildNodes()){sel.removeChild(sel.firstChild);}
	sel.appendChild(txt);
	self.close();
}
</script>
<body>

<table align="center" height="100%" weight="100%">
<tr>
<td align=center>
<form name="info" id="info" href="[% url_prefix %]/searchdicshelf.pl">
Buscar registro: <input type="text" name="dictionary" id="dictionary" >  <input type="submit" value="Buscar" > <br>
</td>
</tr>
<tr>
<td>
<br>
<ul>
<!-- TMPL_LOOP NAME=results -->

 <li>
    <!-- TMPL_IF NAME=direct -->
      <!-- TMPL_VAR NAME="keyword" --> <!-- TMPL_IF NAME=show --><font size="2"><i>
      (<!-- TMPL_VAR NAME="title" --><!-- TMPL_IF NAME="unititle" -->: <!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF --><!-- TMPL_IF NAME="author" --> - <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF -->)
      </i></font><!-- /TMPL_IF -->

<!-- TMPL_LOOP NAME="grupos" -->
-
<A href="javascript:ejecutar('<!-- TMPL_VAR NAME="biblioitemnumber" -->','<!-- TMPL_VAR NAME="title" --> - <!-- TMPL_VAR NAME="edicion" --> (<!-- TMPL_VAR NAME="author" -->)')">
<!-- TMPL_IF name="edicion" --><!-- TMPL_VAR NAME="edicion" --><!-- /TMPL_IF --><!-- TMPL_IF name="publicationyear" -->&nbsp;(<!-- TMPL_VAR NAME="publicationyear" -->)<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="volume" -->        t <!-- TMPL_VAR NAME="volume" --><!-- /TMPL_IF -->
</A>
<!-- /TMPL_LOOP -->


    <!-- TMPL_ELSE -->
      <A HREF="/cgi-bin/koha/searchdicshelf.pl?dictionary=<!-- TMPL_VAR NAME="keyword2" -->&dicdetail=1"><b><!-- TMPL_VAR NAME="keyword" --></b></A>
    <!-- /TMPL_IF -->
  </li>
  <!-- TMPL_IF NAME=jump -->
        </ul></td><td><ul>
  <!-- /TMPL_IF -->


<!-- /TMPL_LOOP -->
</ul>
</td>
</tr>
<tr>
<td align=center>
<br><br>
<a href="javascript: window.close();">Cerrar</a>
</td>
</tr>
</form>
</table>
</body>
</html>


