

<center><!-- TMPL_VAR NAME="paginador" --></center>


<table id="tablaResult" class="tablaresultado" border=0 cellspacing=0 cellpadding=0 width=100%>
  <tr class="titulo_tabla_resultado">

	<th width="1%" align="left" valign="top">
		<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png">
	</th>

	<th align="center" width=40%>
		<a class="click" onClick="ordenarPor('title')">T&iacute;tulo</a>
	</th>
	<th align="center" width=20%>
		<a class="click" onClick="ordenarPor('completo')">Autor</a>
	</th>
	<th align="center" width=13%>
		<a class="click" onClick="ordenarPor('place')">Lugar</a>
	</th>
	<th align="center" width=10%>Edici&oacute;n</th>
	<th align="center" width=27%>Disponibilidad</th>

	<th width="1%" align="right" valign="top">
		<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png">
	</th>

  </tr>

<!-- TMPL_LOOP Name="bitemsloop" -->
 <tr>
	<td>&nbsp;</td>

	<td valign="middle">
		<a class="click" onClick="mostrarDetalle('<!-- TMPL_VAR NAME='id1' -->');" title="Mostrar Detalle">
		<!-- TMPL_VAR NAME=title ESCAPE=HTML -->
	<!-- TMPL_IF NAME="unititle" -->
		:&nbsp;<!-- TMPL_VAR NAME="unititle" -->
	<!-- /TMPL_IF -->
		</a>
	</td>

	<td valign="middle">
		<a class="click" onClick="buscarPorAutor(<!-- TMPL_VAR NAME='id' -->)" title="Filtrar por Autor">
		<!-- TMPL_IF NAME="completo" -->
			<!-- TMPL_VAR NAME="completo" -->
		<!-- TMPL_ELSE -->
			&nbsp;
		<!-- /TMPL_IF -->
		</a>
	</td>

	<td valign="middle">
		<!-- TMPL_IF Name="place" -->
			<!-- TMPL_VAR Name="place" -->
		<!-- TMPL_ELSE -->
			&nbsp;
		<!-- /TMPL_IF -->
	</td>
	
	<td valign="middle">
		<!-- TMPL_IF Name="editors" -->
			<!-- TMPL_VAR Name="editors" -->
		<!-- TMPL_ELSE -->
			&nbsp;
		<!-- /TMPL_IF -->
	</td>
	
	<td valign="middle">
	<!-- TMPL_IF Name="counts" -->
		
		<!-- TMPL_LOOP NAME="counts" -->
			<!-- TMPL_VAR NAME="nombre" --> <br> (Para Pr&eacute;stamo:
			<!-- TMPL_IF name="cantXbranchForLoan" -->
				<!-- TMPL_VAR NAME="cantXbranchForLoan" -->
			<!-- TMPL_ELSE -->
				0
			<!-- /TMPL_IF -->,<br> Para Sala de lectura:
			<!-- TMPL_IF name="cantXbranchNotForLoan" -->
				<!-- TMPL_VAR NAME="cantXbranchNotForLoan" -->
			<!-- TMPL_ELSE -->
				0
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="cantXbranchShared" -->
				,<br> Compartidos: <!-- TMPL_VAR name="cantXbranchShared" -->
			<!-- /TMPL_IF -->) <br><br>
		<!-- /TMPL_LOOP -->

	<!-- TMPL_ELSE -->
			&nbsp;
	<!-- /TMPL_IF -->
	</td>
	<td>&nbsp;</td>
  </tr>
<!-- /TMPL_LOOP -->

</table>

