[% INCLUDE 'intranet-top.inc' %]
[% INCLUDE  'WindowHelper.inc'  %]
[% INCLUDE 'datePicker.inc' %]

<script type="text/javascript">

    $(document).ready(function() {
        crearDatePicker('dateselected');
        crearDatePicker('dateselectedEnd');
    });
</script>
<script type="text/javascript" src="/intranet-tmpl/includes/busquedasCatalogo-min.js"> </script>

<script type="text/javascript" src="/intranet-tmpl/reports/reports.js"></script>
<div>
  <!--  <div class="titulos" >[% "Consultar las nuevas altas de registros" | i18n %]</div>-->
    <fieldset id="reportes">
    <legend class="titulo_legend"> <span class="titulos">[% "Consultar las nuevas altas de registros" | i18n %] </span> </legend>
        <div class="filtros_reportes">
            <fieldset>
                <legend class="titulo_legend">[% "Opciones para el c&aacute;lculo del reporte" | i18n %]</legend>
                <ul class="filtros_reportes_izq">
                    <li class="sub_item">
                        [% "Tipo de Item:" | i18n %]
                        [% item_type_combo %]
                    </li>
                    <li class="sub_item">
                        <label for="dateselected">[% "Seleccione una fecha de inicio:" | i18n %]</label>
                        <input id="dateselected" name="dateselected" value="[% todaydate %]">
                    </li>
                    <li>&nbsp;</li>
                    <li class="sub_item">
                        <label for="dateselectedEnd">[% "Seleccione una fecha de fin" | i18n %]:</label>
                        <input id="dateselectedEnd" name="dateselectedEnd" value="[% todaydate %]"> 
                    </li>
                </ul>
            </fieldset>
        </div>
            [% PERL %]
                    print C4::AR::Filtros::to_Button( 
                                                        text    =>  "[% "Consultar" | i18n %]",
                                                        title    =>  "[% 'Consultar' | i18n %]",
                                                        boton   =>  "boton_buscar",
                                                        onClick =>  "consultarAltas();",
                                                    );
            [% END %]
</div>

<div id="result"></div>
</fieldset>

[% INCLUDE 'intranet-bottom.inc' %]
