[% INCLUDE "intranet-top.inc" %]


<div class="titulos">[% "Anal&iacute;ticas" | i18n %]</div>

	<table border="0" cellspacing="0" cellpadding="0" width="20%">
		<tr class="titulo_tabla_resultado" >

			<td align="center">[% "Cantidad de anal&iacute;ticas" | i18n %]</td>

		</tr>
[% FOREACH resultsloop %]
  	<tr align="center">
                <td class="[% clase %]">&nbsp;</td>
	 	<td class="[% clase %]"> [% cantidad %] </td>
		<td class="[% clase %]">&nbsp;</td>
 	</tr>
[% END %]
</table>
<br><br>

[% INCLUDE "intranet-bottom.inc" %]
