[% INCLUDE "intranet-top.inc" %]

<script src="/includes/jquery/validate/jquery.validate.js"></script>

<script type="text/javascript">

$(document).ready(function() {
    crearDatePicker('ini');
    crearDatePicker('fin');

});
</script>
<script type="text/javascript">


function hacerSubmit(){
        document.unidadInformacion.submit();
        }
</script>

<div class="titulos">[% "Disponibilidad" | i18n %]</div>

<center>
<br>
<br>
<table border=0 cellspacing=0 cellpadding=0 width="100%" align="left">

  <form name="unidadInformacion" action=[% url_prefix %]/reports/avail_year.pl method=post >
    <input type="hidden" name="token" value="[% token %]">
    <tr>
    <td>[% "Seleccione una unidad de informaci&oacute;n:" | i18n %]</td>
    <td>[% unidades %]</td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td>[% "Seleccione una fecha de inicio:" | i18n %]</td>
    <td> 
		    <input id="ini" name="ini" value="[% ini %]">
    </td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td>[% "Seleccione una fecha de fin" | i18n %]:</td>
    <td> 
		    <input  id="fin" name="fin" value="[% fin %]">
    </td>
  </form>

<td> 
  <center>
    [% PERL %]
                    print C4::AR::Filtros::to_Button( 
                                                        text    =>  "[% 'Buscar' | i18n %]",
                                                        boton   =>  "boton_buscar",
                                                        onClick =>  "unidadInformacion.submit()",
                            ) ;
    [% END %]
  </center>
</td>	
   </tr>
<tr><td colspan="3">&nbsp;</td></tr>
</table>
<br>
<br>
<table id="tablaResult" class="tablaResult" border="0" cellspacing="0" cellpadding="0" width="100%">
<tr class="titulo_tabla_resultado">

<td>[% "Mes" | i18n %]</td>
<td>[% "A&ntilde;o" | i18n %]</td>
<td>[% "Disponibilidad" | i18n %]</td>
<td>[% "Cantidad" | i18n %]</td>

</tr>
[% FOREACH disponibilidad IN resultsloop %]
  <tr align='center'>
    <td > [% disponibilidad.mes_agregacion %] </td>
    <td > [% disponibilidad.anio_agregacion %] </td>
    <td > [% disponibilidad.detalle %] </td>
    <td > [% disponibilidad.agregacion_temp %] </td>
  </tr>
[% END %]
</table>

<br><br>
<br>

[% INCLUDE "intranet-bottom.inc" %]
 
