[% INCLUDE "intranet-top.inc" %]

<script src="/includes/jquery/validate/jquery.validate.js"></script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    crearDatePicker('ini');
    crearDatePicker('fin');

});
</script>
<script type="text/javascript">


function hacerSubmit(){
        document.unidadInformacion.submit();
        }
</script>

<div class="titulos_interior">[% "Disponibilidad" | i18n %]</div>

<center>
<br>
<br>
<form name="unidadInformacion" action=/cgi-bin/koha/reports/avail_year.pl method=post >
<table border=0 cellspacing=0 cellpadding=0 width="100%" align="left">
<tr>
<td class="inputFontNormal">[% "Seleccione una unidad de informaci&oacute;n:" | i18n %]</td>
<td class="inputFontNormal">[% unidades %]</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="inputFontNormal">[% "Seleccione una fecha de inicio:" | i18n %]</td>
<td class="inputFontNormal"> 
		<input id="ini" name="ini" value="[% ini %]">
	     	
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="inputFontNormal">[% "Seleccione una fecha de Fin:" | i18n %]</td>
<td class="inputFontNormal"> 
		<input  id="fin" name="fin" value="[% fin %]">
		
</td>
<td class="inputFontNormal"> 
                [% PERL %]
                                print C4::AR::Filtros::to_Button( 
                                                                    text    =>  "[% 'Buscar' | i18n %]",
                                                                    boton   =>  "boton_buscar",
                                                                    onClick =>  "unidadInformacion.submit()",
                                        ) ;
                [% END %]
</td>	
   </tr>
<tr><td colspan="3">&nbsp;</td></tr>
</table>
<br>
<br>
<table border=0 cellspacing=0 cellpadding=0 width="100%"  align="left">
<tr class="tablaresultadoTitle">

<td>[% "Mes" | i18n %]</td>
<td>[% "A&ntilde;o" | i18n %]</td>
<td>[% "Disponibilidad" | i18n %]</td>
<td>[% "Cantidad" | i18n %]</td>

</tr>
[% FOREACH disponibilidad IN resultsloop %]
  <tr align='center'>
    <td class="[% clase %]"> [% disponibilidad.mes_agregacion %] </td>
    <td class="[% clase %]"> [% disponibilidad.anio_agregacion %] </td>
    <td class="[% clase %]"> [% disponibilidad.estado %] </td>
    <td class="[% clase %]"> [% disponibilidad.agregacion_temp %] </td>
  </tr>
[% END %]
</table>
</form>

<br><br>
<br>

[% INCLUDE "intranet-bottom.inc" %]
 
