[% INCLUDE "intranet-top.inc" %]
<script>
function hacerSubmit(){
        document.unidadInformacion.submit();
	        }
		</script>

<div class="titulos">[% "C&oacute;digos de Barra" | i18n %]</div>

<center>
<table border=0 cellspacing=0 cellpadding=2>
	<td>[% "Seleccione una unidad de informaci&oacute;n :" | i18n %]</td>
	<td><form name="unidadInformacion" action=/cgi-bin/koha/reports/barcodes.pl method=post >
        [% unidades %]</form>
	</td>
</table>

<br>
<table border="0" cellspacing="0" cellpadding="0" width="90%">
	<tr class="titulo_tabla_resultado">

		<td align="center" width="30%">[% "Tipo" | i18n %]</td>
		<td align="center">[% "M&iacute;nimo" | i18n %]</td>
		<td align="center">[% "M&aacute;ximo" | i18n %]</td>

	</tr>
[% FOREACH resultsloop %]
  	<tr align="center">
	 	<td class="[% clase %]">[% tipo %]  </td>
	 	<td class="[% clase %]">[% minimo %]  </td>
	 	<td class="[% clase %]">[% maximo %]  </td>
 	</tr>
[% END %]
</table>
</center>
<br><br>
[% INCLUDE "intranet-bottom.inc" %]
