[% INCLUDE "intranet-top.inc"  %]

<script src="/intranet-tmpl/includes/jquery/validate/jquery.validate.js"></script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    crearDatePicker('dateselected');
    crearDatePicker('dateselectedEnd');

});
</script>

<script type="text/javascript">

function consultar(){
	objAH=new AjaxHelper(updateInfo);
	objAH.url= "/cgi-bin/koha/reports/estadisticasResult.pl";
	objAH.chkfecha= document.getElementById("chkfecha").checked;
	objAH.chkuser= document.getElementById("chkuser").checked;
	objAH.fechaIni= $("#dateselected").val();
	objAH.fechaFin= $("#dateselectedEnd").val();
	
	var chck=$("input[@name='chck']:checked");
	var str="";
	for(var i=0; i< chck.length; i++){
		str=str+chck[i].value+",";
	}
	objAH.chck=str;
	//se envia la consulta
	objAH.sendToServer();
}

function updateInfo(responseText){
	$("#result").html(responseText);
}

</script>

<div class="titulos_interior" >[% "Estadisticas" | i18n %]</div>


	<table border="0" cellspacing="0" cellpadding="0">
  		<tr>
			<td valign= "top" class=inputFontNormal>
			<input id="chkfecha" class="inputFontNormal" type="checkbox" name="chkfecha" 
			[% IF chkfecha %]checked[% END %]>
			<b>[% "Seleccione para buscar por fecha." | i18n %]</b><br><br>
			[% "Seleccione una fecha de inicio:" | i18n %]<br><br>
			[% "Seleccione una fecha de Fin:" | i18n %]
			</td>

			<td valign= "top" class=inputFontNormal>
				<br><br>
			<input id="dateselected" class="inputFontNormal" name="dateselected" value="
			[% IF fechaInicio %][% dateselected  %][% ELSE %][% todaydate %][% END %]"
			
				<br><br>
			<input id="dateselectedEnd" class="inputFontNormal" name="dateselectedEnd" value="
                            [% IF fechaFin %]
                                [% dateselectedEnd  %]
                            [% ELSE %]
                                [% todaydate %]
                            [% END %]"			
                        
			</td>
			<td class="inputFontNormal" rowspan=3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td rowspan=3 class="inputFontNormal"> <b>[% "Buscar por:" | i18n %]</b> <br>
				<p>Prestamos:</p>
				<input id="chck" class="inputFontNormal" type="checkbox"  value="DO" name="chck">[% "Domiciliario" | i18n %]
				<input id="chck" class="inputFontNormal" type="checkbox"  value="SA" name="chck">[% "Sala de lectura" | i18n %]
				<input id="chck" class="inputFontNormal" type="checkbox"  value="FO" name="chck">[% "Para fotocopia" | i18n %]
				<input id="chck" class="inputFontNormal" type="checkbox"  value="ES" name="chck">[% "Especial" | i18n %] <br><br>
				<input id="chkuser" class="inputFontNormal" type="checkbox"  value="US" name="chkuser">[% "Usuario" | i18n %]
				<br><br>

                [% PERL %]
                                print C4::AR::Filtros::to_Button( 
                                                                    text    =>  "[% 'Buscar' | i18n %]",
                                                                    boton   =>  "boton_buscar",
                                                                    onClick =>  "consultar();",
                                        ) ;
                [% END %]
			</td>
   		</tr>
	</table>

<br>
<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
