<script type="text/javascript">
      $(document).ready(function() {
        makeToggle('datos_tabla_div','trigger',null,false);
      });
</script>
<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Resultados de la b&uacute;squeda (cat&aacute;logo)" | i18n %]:</legend>
        <div class="datos_tabla_div" id="datos_tabla_div">
            <div class="resultados_consulta">[% "T&eacute;rmino de b&uacute;squeda" | i18n %]: [% buscoPor %]</div>
            <div class="resultados_consulta">[% "Total de registros" | i18n %]: [% cantidad %]  en ([% timeSeg %] segundos)</div>
            <div class="contenedor_paginador">[% paginador %]</div>
                <table id="tablaResult" class="datos_tabla" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <th colspan="7" align="center">[% "Prestamos" | i18n %]</th>
                    </tr>
                
                    <tr class="titulo_tabla_resultado">
                
                        <th width="15%">[% "Usuarios" | i18n %]</th>
                        <th width="15%">[% "Domciliarios" | i18n %]</th>
                        <th>[% "Sala de lectura" | i18n %]</th>
                        <th>[% "Para fotocopia" | i18n %]</th>
                        <th>[% "Especial" | i18n %]</th>
                
                    </tr>
                
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <th>[% "Prestamos" | i18n %]</th>
                                    <th>[% "Reservas" | i18n %]</th>
                                    <th>[% "Renovados" | i18n %]</th>
                                </tr>
                            </table>
                        </td>
                        
                        <td>
                            <table>
                                <tr>
                                    <th>[% "Total" | i18n %]</th>
                                    <th>[% "Devueltos" | i18n %]</th>
                                    <th>[% "Renovados" | i18n %]</th>
                                </tr>
                            </table>
                        </td>
                
                    </tr>
                
                    <tr align="center">
                        
                        <td>
                            <table>
                                <tr align="center">
                                    <td width="5%">[% cantUsuPrest %]
                                    </td>
                                    <td width="5%">[% cantUsuReser %]
                                    </td>
                                    <td width="5%">[% cantUsuRenov %]
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td width="11%">[% domiTotal %]
                                    </td>
                                    <td width="15%">[% devueltos %]
                                    </td>
                                    <td width="8%">[% renovados %]
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>[% sala %]</td>
                        <td>[% foto %]</td>
                        <td>[% especial %]</td>
                
                    </tr>
                
                
                    <tr valign=middle>
                            <td class="lineafinaltabla"  align="left" colspan="9"></td>
                        </tr>
                </table>
        </div>
</fieldset>

<center>
<br>

<form name="unidad" method="post">
    <!-- Para poder imprimir los resultados correctamentes -->
    <input type="hidden" name="chkfecha" value="[% chkfecha %]">
    <input type="hidden" name="chck2" value="[% chck %]">
    <input type="hidden" name="chkuser" value="[% chkuser %]">
    <input type="hidden" name="dateselected" value="[% dateselected %]">
    <input type="hidden" name="dateselectedEnd" value="[% dateselectedEnd %]">
    
    <!-- Para saber que se quiere, imprimir o un pdf -->
    <input TYPE="hidden" VALUE="pdf" NAME="type" >
    
    <a  onMouseOut="swap('print','[% themelang %]/images/menu-imprimir.png')" onMouseOver="swap('print','[% themelang %]/images/menu-imprimirbis.png')">
    <input onClick="unidad.action='/cgi-bin/koha/reports/printEstadisticas.pl';unidad.target='_blank';unidad.type.value='print';submit();"  name="print" id="print" type="image" value="Imprimir"  src="[% themelang %]/images/menu-imprimir.png" border="0" title="Imprimir Resultados">
    </a>
    
    <a>
        <input onClick="unidad.action='/cgi-bin/koha/reports/printEstadisticas.pl';unidad.target='_self'; unidad.type.value='pdf';submit();" name="pdf" id="pdf" type="image" value="Generar PDF"  src="[% themelang %]/images/pdf.png" border="0" title="Generar archivo PDF">
    </a>
</form>
</center>

