<p align="center">
[% "La cantidad de estantes es :" | i18n %] [% cantidad %]<br></p>
<br>
<center>
<table id="tablaResult" class="tablaResult" border="0" cellspacing="0" cellpadding="0" width="100%">

	<th class="tablaresultadoTitle">[% "Estante" | i18n %]</th>
	<th class="tablaresultadoTitle"> [% "T&iacute;tulos" | i18n %]</th>
	<th class="tablaresultadoTitle"> [% "Ejemplares" | i18n %]</th>
	<th class="tablaresultadoTitle"> [% "No Disponibles" | i18n %]</th>
	<th class="tablaresultadoTitle">[% "Para Pr&eacute;stamo" | i18n %]</th>
	<th class="tablaresultadoTitle">[% "Para Sala" | i18n %]</th>

[% FOREACH shelvesloopshelves %]
        <tr>
        
        <td  align=left width="50%">
                        <a  href="/cgi-bin/koha/shelves.pl?viewshelf=[% shelfnumber %]">
			[% shelfname %]</a>
	</td>
	<td width="1%" align="center">
                         [% titulos %]
        </td>

	<td width="1%" align="center">
			 [% ejemplares %]
	</td>
	<td width="1%" align="center">
                        [% unavailable %]
        </td>
   	<td width="1%" align="center">
                         [% forloan %]
        </td>
   	<td width="1%" align="center">
                         [% notforloan %] 
        </td>

        </tr>
[% END %]

	<tr>
	<td colspan="8">&nbsp;</td>
	</tr>
	<tr valign=bottom>
        <td class="lineafinaltabla"  align="left" colspan="8"></td>
        </tr>

	<tr>
        <td width="1%">&nbsp;</td>
        <td  align=left>            <b>[% "TOTALES" | i18n %]</b>
	</td>
        <td width="1%" align="center">  [% titulostot %]
        </td>

        <td width="1%" align="center">
                 [% ejemplarestot %]
        </td>
        <td width="1%" align="center">
                  [% unavailabletot %]
        </td>
        <td width="1%" align="center">
                   [% forloantot %]
        </td>
        <td width="1%" align="center">
                [% notforloantot %]
        </td>

        <td width="1%">&nbsp;</td>
        </tr>


</table>

<br><br>

<a  href="/cgi-bin/koha/reports/plantillas/generatesxc.pl?name=<[% name %]">[% "Generar planilla " | i18n %]
<img src="[% interface %]/[% themelang %]/images/sxc.png" border="0">
</a>
</center>
