[% paginador %]
<table id="tablaResult" class="tablaResult" border=0 cellspacing=0 cellpadding=0 width="100%">
    <tr class="tablaresultadoTitle">
        <th>[% "Mes" | i18n %]</th>
        <th>[% "Prestamos" | i18n %]</th>
        <th>[% "Renovaciones" | i18n %]</th>
        <th>[% "Devoluciones" | i18n %]</th>
        <th>[% "Domiciliarios" | i18n %]</th>
        <th>[% "Fotocopia" | i18n %]</th> 
        <th>[% "Sala de Lectura" | i18n %]</th>
        <th>[% "Prestamos Especiales" | i18n %]</th>
    </tr>

[% FOREACH prestamo IN estadisticas_anuales %]
	<tr align='center'>
		
		<td class="inputFontNormal"> 
            [% prestamo.getFecha_prestamo_formateada %]
		</td>
		<td class="inputFontNormal"> 
            [% prestamo.agregacion_temp %]
		</td>
		<td class="inputFontNormal"> 
			[% IF renovaciones %] 
                            [% renovaciones %]
			[% ELSE %]
                            -- 
                        [% END %]
		</td>
		<td class="inputFontNormal"> 
            [% prestamo.getDevoluciones %]
        </td>
		<td class="inputFontNormal">
			[% IF DO %] 
                            [% DO %]
			[% ELSE %]
                            -- 
                        [% END %]
		</td> 
		<td class="inputFontNormal">
			[% IF FO %]
                            [% FO %]
			[% ELSE %]
                            -- 
                        [% END %]
		</td> 
		<td class="inputFontNormal">
			[% IF SA %]
                            [% SA %]
			[% ELSE %]
                            -- 
                        [% END %]
		</td>
		<td class="inputFontNormal">
			[% IF ES %]
                             [% ES %]
			[% ELSE %]
                             -- 
                        [% END %]
		</td>
		
	</tr>
[% END %]
    <tr valign=bottom>
        <td class="lineafinaltabla"  align="left" colspan="9"></td>
    </tr>
</table>
