[% INCLUDE "intranet-top.inc" %]

<script type="text/javascript">
function swap(id,src){
document.getElementById(id).src=src;
}

function sql_update() {
document.report.sql.value="";
	for (i=0 ; i<document.report.fieldlist.length ; i++) {
		if (document.report.value[i].value != '') {
			

		  if (document.report.value[i].value != '*') {

			document.report.sql.value = document.report.sql.value +
						    document.report.and_or[i].value + ' (' +
						    document.report.fieldlist[i].value + ' ';
		   
		   if  (document.report.excluding[i].value == 1){
			document.report.sql.value = document.report.sql.value + 'not ';}
			document.report.sql.value = document.report.sql.value +
						    document.report.operator[i].value + ' ' +
						    '\''+document.report.value[i].value + '\') ';
				}
				else {
				index = document.report.fieldlist[i].value.indexOf(".");
				tabla = document.report.fieldlist[i].value.substring(0,index);
				document.report.sql.value = document.report.sql.value +
				document.report.and_or[i].value + ' (' + tabla + ') ';
				}

		}
	}
}

function AddStatement() {

	document.report.op.value="AddStatement";
	document.report.submit();
}

</script>


<table width="99%"  border="0" cellpadding="0" align="right" cellspacing="0" class="titulos" >
<tr><td >Reporte Gen&eacute;rico </td></tr>
<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>
<br>
<br>

<form name="report" method="post">
<table width="80%" valign="top"  border="0" align="center" cellpadding="3" cellspacing="0" >
<tr >
<td >

<input type="hidden" name="op" value="do_search">
<input type="hidden" name="nbstatements" value="[% nbstatements %]">


	<table border=0 cellspacing=0 cellpadding=3 width="100%">
		<tr align="center">
			<td >
				<div name="sql" >
				<textarea name="sql" rows=5 cols=80 disabled readonly></textarea>
				</div>
			</td>
			<td valign="bottom" align="left">
			</td>
		</tr>
	</table>

</td >
</tr >
<tr >
<td >
<br>
	<table border=0 cellspacing=0 cellpadding=2 width="100%">
		[% FOREACH statements %]
                    <tr align="center">
                            <td>
                                    [% IF first %]
                                            <input type="hidden" name="and_or" value="">&nbsp;
                                    [% ELSE %]
                                            <select name="and_or" size="1" onchange="sql_update()">
                                                    <option value="and">y</option>
                                                    <option [% IF or %]selected [% END %]value="or">o</option>
                                            </select>
                                    [% END %]
                            </td>
                            <td>[% fieldlist%]</td>
                            <td>
                            
                                    <select name="excluding" size="1" onchange="sql_update()">
                                            <option value="0"> </option>
                                            <option [% IF not %]selected [% END %]value="1">not</option>
                                    </select>
                            </td>
                            <td>
                                    <select name="operator" size="1" onchange="sql_update()">
                                            [% IF contains %]
                                                    <option selected value="contains">Contiene</option>
                                            [% ELSE %]
                                                    <option value="contains">Contiene</option>
                                            [% END %]
                                            [% IF eq %]
                                                    <option selected value="=">Es igual que</option>
                                            [% ELSE %]
                                                    <option value="=">Es igual que</option>
                                            [% END %]
                                            [% IF start %]
                                                    <option selected value="start">Comienza con</option>
                                            [% ELSE %]
                                                    <option value="start">Comenzar con</option>
                                            [% END %]
                                            [% IF gt %]
                                                    <option selected value=">">Es mayor que</option>
                                            [% ELSE %]
                                                    <option value=">">Es mayor que</option>
                                            [% END %]
                                            [% IF ge %]
                                                    <option selected value=">=">Es mayor o igual que</option>
                                            [% ELSE %]
                                                    <option value=">=">Es mayor o igual que</option>
                                            [% END %]
                                            [% IF lt %]
                                                    <option selected value="<">Es menor que</option>
                                            [% ELSE %]
                                                    <option value="<">Es menor que</option>
                                            [% END %]
                                            [% IF le %]
                                                    <option selected value="<=">Es menor o igual que</option>
                                            [% ELSE %]
                                                    <option value="<=">Es menor o igual que</option>
                                            [% END %]
                                    </select>
                            </td>
                            <td><input type="text" name="value" onChange="sql_update()" [% IF value %]value="[% value %]"[% END %]></td>
                    </tr>
		[% END %]

</td >
</tr >

</table>
	<br>

	<table width="100%">
	<tr><td class="lineagruesa"  align="left" colspan="4"></td></tr>

	<tr>
	<td align="middle" width="33%">
	 <a href="#" onMouseOut="swap('criteria','[% themelang %]/images/boton-criterio.png')" onMouseOver="swap('criteria','[% themelang %]/images/boton-criteriobis.png')" onClick="AddStatement();" >
	 <img name="criteria" id="criteria" alt="Agregar Criterio" src="[% themelang %]/images/boton-criterio.png" border="0"></a>
			
	</td>
	<td align="middle" width="33%">
	
      <a href="#" onMouseOut="swap('msearch','[% themelang %] /images/boton-busqueda.png')" onMouseOver="swap('msearch','[% themelang %] /images/boton-busquedabis.png')" onClick="document.report.submit();" >
               <img name="msearch" id="msearch" alt="Comenzar b&uacute;squeda" src="[% themelang %] /images/boton-busqueda.png" border="0"></a>
	       
</td>
	</tr>
	</table>
	</table>

</form>
    
[% INCLUDE "intranet-bottom.inc" %]

