[% INCLUDE "intranet-top.inc" %]

<script src="/includes/jquery/validate/jquery.validate.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function() {
        crearDatePicker('f_ini');
        crearDatePicker('f_fin');
    });

</script>

<script language="javascript">

var objAH;
function ordenar(orden){
    objAH.sort(orden);
}

function updateInfo(responseText){
    $("#result").html(responseText);
    zebra("tabla_datos");
}

function changePage(ini){
    objAH.changePage(ini);
}

function consultar(){
    objAH=new AjaxHelper(updateInfo);
    objAH.debug= true;
    objAH.f_ini= $('#f_ini').val();
    objAH.f_fin= $('#f_fin').val();
    objAH.tipo_nivel3_id= $('#tipo_nivel3_id').val();
    objAH.tipo_prestamo= $('#tipo_prestamo_id').val();
    objAH.catUsuario= $('#categoria_socio_id').val();
    objAH.url= "/cgi-bin/koha/reports/historico_PrestamosResult.pl";
    objAH.funcion="changePage";
    objAH.sendToServer();
}

function generarPDF(){
    $('#prestamos')[0].action= "/cgi-bin/koha/reports/printHistPrestamos.pl";
    $('#prestamos')[0].target= "_self";
    $('#prestamos')[0].type.value= "pdf";
    $('#prestamos')[0].submit();
}

function imprimir(){
    $('#prestamos')[0].action= "/cgi-bin/koha/reports/printHistPrestamos.pl";
    $('#prestamos')[0].target= "_blank";
    $('#prestamos')[0].type.value= "print";
    $('#prestamos')[0].submit();
}

</script>


<div class="titulos">[% "Historial de Pr&eacute;stamos" | i18n %]</div>

<div class="filtros_reportes">

    <ul class="filtros_reportes_izq">
        <li>[% "Seleccione una fecha de inicio:" | i18n %]</li>
        <li><input id="f_ini" name="f_ini" value="[% f_ini %]"></li>
        <li>[% "Seleccione una fecha de Fin: " | i18n %]</li>
        <li><input id="f_fin" name="f_fin" value="[% f_fin %]"></li>
    </ul>

    <ul class="filtros_reportes_der">
        <li>[% "Categoria de Usuario:" | i18n %]</li>
        <li>[% selectCatUsuarios %]</li>
        <li>[% "Tipo de Pr&eacute;stamo:" | i18n %]</li>
        <li>[% selectTiposPrestamos %]</li>
        <li>[% "Tipo de Item:" | i18n %]</li>
        <li>[% selectTiposDocumentos %]</li>
    </ul>
</div>

<div class="buttonContainerHorizontal">
    [% PERL %]
            print C4::AR::Filtros::to_Button( 
                                                text    =>  "[% 'Buscar' | i18n %]",
                                                title    =>  "[% 'Buscar' | i18n %]",
                                                boton   =>  "boton_buscar",
                                                onClick =>  "consultar();",
                                            );
    [% END %]
</div>

<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
