[% USE HTML %]

<script type="text/javascript">
      $(document).ready(function() {
        makeToggle('datos_tabla_div','trigger',null,false);
      });
</script>
<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Resultados de la b&uacute;squeda (cat&aacute;logo)" | i18n %]:</legend>
        <div class="datos_tabla_div" id="datos_tabla_div">
            <div class="resultados_consulta">[% "T&eacute;rmino de b&uacute;squeda" | i18n %]: [% buscoPor %]</div>
            <div class="resultados_consulta">[% "Total de registros" | i18n %]: [% cantidad %]  en ([% timeSeg %] segundos)</div>
            <div class="contenedor_paginador">[% paginador %]</div>
            <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width="100%">
                <tr class="titulo_tabla_resultado">
                    <td width="1%" align="left" valign="top">
                        <img src="[% themelang %]/images/izquierda.png">
                    </td>
                    <th>[% "T&iacute;tulo" | i18n %]</th>
                    <th>[% "Autor" | i18n %]</th>
                    <th>[% "C. Barra" | i18n %]</th>
                    <th>[% "Usuario" | i18n %]</th>
                    <th>[% "Responsable" | i18n %]</th>
                    <th>[% "Fecha" | i18n %]</th>
                    <th>[% "Operaci&oacute;n" | i18n %]</th>
                    <th>[% "Nota" | i18n %]</th>
                    <td align="right" valign="top" width="1%">
                        <img src="[% themelang %]/images/derecha.png">
                    </td>
                </tr>
            
                [% FOREACH hist IN historico %]
                    <tr align='center' >
                    <br><br>
                        <td>
                            [% PERL %]
                                print C4::AR::Filtros::link_to( text =>     "[% HTML.escape(hist.nivel1.getTitulo) %]",
                                                                url=>"[% url_prefix %]/koha/busquedas/detalle.p", 
                                                                params =>   ["id1=[% hist.getId1 %]"],
                                                                title =>    "[% 'Mostrar Detalle' | i18n %]"
                                                            ) ;
                            [% END %]
            
                        </td>
                        <td>
                            [% PERL %]
                                print C4::AR::Filtros::link_to( text =>     "[% hist.nivel1.cat_autor.getCompleto %]",
                                                                url=>"[% url_prefix %]/koha/busquedas/filtrado.pl", 
                                                                params =>   ["origen=detalle&idAutor='[% hist.nivel1.autor %]"],
                                                                title =>    "[% 'Buscar' | i18n %]"
                                                            ) ;
                            [% END %]
            
                        </td>
                        <td>
                            [% PERL %]
                                print C4::AR::Filtros::link_to( text =>     "[% hist.nivel3.getBarcode %]",
                                                                url=>"catalogacion/estructura/detalleEjemplar.pl", 
                                                                params =>   ["id3=[% hist.getId3 %]"],
                                                                title =>    "[% 'Mostrar Detalle del Ejemplar' | i18n %]"
                                                            ) ;
                            [% END %]
                        </td>	
                        <td>
                            [% PERL %]
                                print C4::AR::Filtros::link_to( text =>     "[% hist.getNro_socio %]",
                                                                url=>"[% url_prefix %]/koha/usuarios/reales/datosUsuario.pl", 
                                                                params =>   ["nro_socio=[% hist.getNro_socio%]"],
                                                                title =>    "[% 'Mostrar Detalle del Usuario' | i18n %]"
                                                            ) ;
                            [% END %]
                        </td> 
            
                        <td>
                            [% IF hist.getResponsable %]
                                <!--FIXME tira error ROSE con esta relacion, arreglar!!! -->
                                [% PERL %]
                                    print C4::AR::Filtros::link_to( text =>     "[% hist.getResponsable %]",
                                                                    url=>"[% url_prefix %]/koha/usuarios/reales/datosUsuario.pl", 
                                                                    params =>   ["nro_socio=[% hist.getResponsable %]"],
                                                                    title =>    "[% 'Mostrar Detalle del Usuario Responsable' | i18n %]"
                                                                ) ;
                                [% END %]
                            [% ELSE %]
                                <h3> No hay responsable </h3>
                            [% END %]
                        </td> 
            
                        <td> 
                            [% hist.getFecha %]
                        </td>
                        <td>
                            [% hist.getTipo_operacion %]
                            [% IF description %]
                                <br>([% description %]) 
                            [% END %]
                        </td>
                        <td>
                            <textarea id="[% hist.getId %]"  name="notas" cols="15" rows="4">
                                                [% hist.getNota %]
                            </textarea>
                            <br>
                            <input  src="[% themelang %]/images/guardar.png" type="image"  value='[% "Guardar Nota" | i18n %]' 
                                title='[% "Guardar Nota" | i18n %]' onClick="guardarNota('[% hist.getId %]')">
                        </td>
                    </tr>
                [% END %]
                <tr valign=middle>
                        <td class="lineafinaltabla"  align="left" colspan="8"></td>
                </tr>
            </table>
        </div>
</fieldset>
