[% INCLUDE "intranet-top.inc" %]

<script src="/intranet-tmpl/includes/jquery/validate/jquery.validate.js"></script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    crearDatePicker('fechaIni');
    crearDatePicker('fechaFin');

});
</script>

<script type="text/javascript">

var objAH;
function ordenar(orden){
	objAH.sort(orden);
}

function updateConsultar(responseText){
	$("#result").html(responseText);
	zebra("datos_tabla");
}

function changePage(ini){
	objAH.changePage(ini);
}

function consultar(){
	objAH=new AjaxHelper(updateConsultar);
    objAH.debug= true;
	objAH.fechaIni= $.trim($('#fechaIni').val());
	objAH.fechaFin= $.trim($('#fechaFin').val());
	objAH.socio= $('#socios').val();
	objAH.tipoPrestamo= $('#tipo_prestamo_id').val();
	objAH.tipoOperacion= $('#tipoOperacion').val();
	objAH.url= "/cgi-bin/koha/reports/historicoSancionesResult.pl";
	objAH.funcion="changePage";
	objAH.sendToServer();
}

</script>

<div class="titulos">[% "Hist&oacute;rico de Sanciones" | i18n %]</div>

<div class="filtros_reportes">
    <ul class="filtros_reportes_izq">
		<li>[% "Seleccione una fecha de inicio:" | i18n %]</li>
        <li><input type="text" id="fechaIni" name="fechaIni" value="
                         [% IF fechaIni %]
                                        [% fechaIni  %]
                                     [% ELSE %]
                                        [% todaydate %]
                                     [% END %]">
        </li>               
		<li>[% "Seleccione una fecha de Fin:" | i18n %]</li>
        <li><input type="text" id="fechaFin" name="fechaFin" value="
                                    [% IF fechaIni %]
                                        [% fechaIni  %]
                                    [% ELSE %]
                                        [% todaydate %]
                                    [% END %]">
				
		</li>
    </ul>
    <ul class="filtros_reportes_der">
        <li>[% "Filtrar por:" | i18n %]</li>
        <!-- ACA SE BUSCA POR USUARIO Y/O POR NUMERO DE ELEMENTOS -->
		<li>[% "Responsable:" | i18n %] [% selectusuarios %]</li> 
		<li>[% "Tipo de Pr&eacute;stamo:" | i18n %] [% selectTiposPrestamos %]</li> 
		<li>[% "Tipo de Operaci&oacute;n:" | i18n %] [% selectTipoOperacion %]</li> 
    </ul>
</div>

<div class="buttonContainerHorizontal">
    [% PERL %]
                    print C4::AR::Filtros::to_Button( 
                                                        text    =>  "[% 'Buscar' | i18n %]",
                                                        boton   =>  "boton_buscar",
                                                        onClick =>  "consultar('');",
                            ) ;
    [% END %]   
</div>

<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
