<script type="text/javascript">
      $(document).ready(function() {
        makeToggle('datos_tabla_div','trigger',null,false);
      });
</script>
<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Resultados de la b&uacute;squeda (cat&aacute;logo)" | i18n %]:</legend>
        <div class="datos_tabla_div" id="datos_tabla_div">
            <div class="resultados_consulta">[% "T&eacute;rmino de b&uacute;squeda" | i18n %]: [% buscoPor %]</div>
            <div class="resultados_consulta">[% "Total de registros" | i18n %]: [% cantidad %]  en ([% timeSeg %] segundos)</div>
            <div class="contenedor_paginador">[% paginador %]</div>

            <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width="100%">
                <tr class="titulo_tabla_resultado">
            
                    <th class="click" onclick="ordenar('surnameBor')" Title="[% 'Ordenar por Usuario' | i18n %]" >
                        [% "Usuario" | i18n %]
                    </th>
                    <th class="click" onclick="ordenar('surnameResp')" Title="[% 'Ordenar por Usuario' | i18n %]" >
                        [% "Responsable" | i18n %]
                    </th>
                    <th class="click" onclick="ordenar('date')" Title="[% 'Ordenar por Fecha' | i18n %]" >
                        [% "Fecha" | i18n %]
                    </th>
                    <th class="click" onclick="ordenar('end_date')" Title="[% 'Ordenar por Fecha Fin' | i18n %] " >
                        [% "Fecha Fin" | i18n %]
                    </th>
                    <th class="click" onclick="ordenar('type')" Title="[% 'Ordenar por operaci&oacute;n' | i18n %]" >
                        [% "Operaci&oacute;n" | i18n %]
                    </th>
                    <th class="click" onclick="ordenar('tipoPrestamo')" Title="[% 'Ordenar por tipo de prestamo' | i18n %]" >
                        [% "Tipo Pr&eacute;stamo" | i18n %]
                    <th>
            
                </tr>
            [% FOREACH sancion IN resultsloop %]
            
                <tr align='center'>
            
                    <td> 
                        
                        [% PERL %]
                                print C4::AR::Filtros::link_to( text    => "[% sancion.usr_nro_socio.persona.getApeYNom %]",
                                                                url=>"[% url_prefix %]/koha/usuarios/reales/datosUsuario.pl",
                                                                title   =>  "[% 'Detalle Usuario' | i18n %]",
                                                                params  =>  ["nro_socio=[% sancion.usr_nro_socio.getNro_socio %]"],
                                        ) ;
                        [% END %]
            
                    </td>
                    <td> 
                        [% PERL %]
                                print C4::AR::Filtros::link_to( text    => "[% sancion.usr_responsable.persona.getApeYNom %]",
                                                                url=>"[% url_prefix %]/koha/usuarios/reales/datosUsuario.pl",
                                                                title   =>  "[% 'Detalle Usuario' | i18n %]",
                                                                params  =>  ["nro_socio=[% sancion.usr_responsable.getNro_socio %]"],
                                        ) ;
                        [% END %]
                    </td>
                    <td>[% sancion.getFecha %]</td>
                    <td>[% sancion.getFecha_final %]</td>
                    <td>[% sancion.getTipo_operacion %]</td>
                    <td> 
                    [% IF sancion.circ_tipo_sancion %] 
                        [% sancion.circ_tipo_sancion.ref_tipo_prestamo.getDescripcion %]
                    [% ELSE %]
                        [% "Reserva no Retirada" | i18n %]
                    [% END %]
                    </td>
                
                </tr>
            [% END %]
                <tr valign=middle>
                        <td class="lineafinaltabla"  align="left" colspan="8"></td>
                    </tr>
            </table>
        </div>
</fieldset>
