[% INCLUDE "intranet-top.inc" %]

<script type="text/javascript">

$(document).ready(function() {
    crearDatePicker('fechaIni');
    crearDatePicker('fechaFin');

});
</script>

<script type="text/javascript">

    var objAH;

    function ordenar(orden){
        objAH.sort(orden);
    }

    function changePage(ini){
        objAH.changePage(ini);
    }

    function updateInfo(responseText){
        $('#result').html(responseText);
        zebra('tablaResult');
        objAH.id="";
        objAH.notas="";
    }

    function consultar(){
        objAH=new AjaxHelper(updateInfo);
        objAH.url=URL_PREFIX+'/reports/historicoCirculacionResult.pl';
        objAH.showOverlay       = true;
        objAH.fechaIni=  $('#fechaIni').val();
        objAH.fechaFin= $('#fechaFin').val();
        objAH.chkfecha=  $('#chkfecha')[0].checked;
        objAH.socio= $('#socios').val();
        objAH.tipoPrestamo= $('#tipo_prestamo_id').val();
        objAH.tipoOperacion= $('#tipoOperacion').val();
        //se setea la funcion para cambiar de pagina
        objAH.funcion= 'changePage';
        objAH.sendToServer();

    }

    function guardarNota(id_historico){
        objAH=new AjaxHelper(updateGuardarNota);
        objAH.showOverlay       = true;
        objAH.id_historico= id_historico;
        objAH.nota= $('#'+id_historico).val();
        objAH.url=URL_PREFIX+'/reports/historicoCirculacionResult.pl';
        //se setea la funcion para cambiar de pagina
        objAH.accion= 'NOTA_HISTORICO';
        objAH.sendToServer();
    }
    function updateGuardarNota(responseText){
        if (responseText != '0')
            jAlert(NOTA_GUARDADA);
        else
            jAlert(FALLO_NOTA);
    }

</script>

<div class="titulos" >[% "Registro de Circulaci&oacute;n" | i18n %]</div>


<fieldset>
    <legend class="titulo_legend">[% "Buscar signatura topogr&aacute;fica: &nbsp;" | i18n %]</legend>
        <ul>
            <li class="sub_item">
                <label for="chkfecha">[% "Seleccione para buscar por fecha" | i18n %]</label>
                <input type="checkbox" id="chkfecha">
            </li>
            <li class="sub_item">
                <label for="fechaIni">[% "Seleccione una fecha de inicio:" | i18n %]</label>
                <input id="fechaIni" name="dateselected" value="
                                    [% IF fechaInicio %]
                                        [% dateselected %]
                                    [% ELSE %]
                                        [% todaydate %]
                                    [% END %] "
                >
            </li>
            <li class="sub_item">
                <label for="fechaFin">[% "Seleccione una fecha de fin" | i18n %]:</label>
                <input id="fechaFin" name="dateselectedEnd" value="
                        [% IF fechaFin %]
                            [% dateselectedEnd %]
                        [% ELSE %]
                            [% todaydate %]
                        [% END %]"
                >
            </li>
            <fieldset>
                <legend class="titulo_legend">[% "Filtrar por:" | i18n %]</legend>
                <ul>
                    </li>
                    <li class="sub_item">
                        <label for="socios">[% "Responsable:" | i18n %]</label>
                        [% selectusuarios %]
                    </li>
                    <li class="sub_item">
                        <label for="tipo_prestamo_id">[% "Tipo de Pr&eacute;stamo: " | i18n %]</label>
                        [% selectTipoPrestamos %]
                    </li>
                    <li class="sub_item">
                        <label for="tipoOperacion">[% "Tipo de Operaci&oacute;n: " | i18n %]</label>
                        [% selectTipoOperacion %]
                    </li>
                </ul>
      </ul>
</fieldset>
<div class="buttonContainerHorizontal">
    [% PERL %]
            print C4::AR::Filtros::to_Button( 
                                                text    =>  "[% 'Buscar' | i18n %]",
                                                title    =>  "[% 'Buscar' | i18n %]",
                                                boton   =>  "boton_buscar",
                                                onClick =>  "consultar();",
                                            );
    [% END %]
</div>
<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
