[% INCLUDE "intranet-top.inc" %]

<script src="/includes/jquery/validate/jquery.validate-min.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
        crearDatePicker('f_ini');
        crearDatePicker('f_fin');
    });

</script>

<script>

var objAH;
function ordenar(orden){
    objAH.sort(orden);
}

function updateInfo(responseText){
    $("#result").html(responseText);
    zebra("datos_tabla");
}

function changePage(ini){
    objAH.changePage(ini);
}

function consultar(){
    objAH=new AjaxHelper(updateInfo);
    objAH.showOverlay       = true;
    objAH.debug= true;
    objAH.f_ini= $('#f_ini').val();
    objAH.f_fin= $('#f_fin').val();
    objAH.tipo_nivel3_id= $('#tipo_nivel3_id').val();
    objAH.tipo_prestamo= $('#tipo_prestamo_id').val();
    objAH.catUsuario= $('#categoria_socio_id').val();
    objAH.url=URL_PREFIX+"/reports/historico_PrestamosResult.pl";
    objAH.funcion="changePage";
    objAH.sendToServer();
}

function generarPDF(){
    $('#prestamos')[0].href="[% url_prefix %]/reports/printHistPrestamos.pl";
    $('#prestamos')[0].target= "_self";
    $('#prestamos')[0].type.value= "pdf";
    $('#prestamos')[0].submit();
}

function imprimir(){
    $('#prestamos')[0].href="[% url_prefix %]/reports/printHistPrestamos.pl";
    $('#prestamos')[0].target= "_blank";
    $('#prestamos')[0].type.value= "print";
    $('#prestamos')[0].submit();
}

</script>


<div class="titulos">[% "Historial de Pr&eacute;stamos" | i18n %]</div>

<fieldset>
    <legend class="titulo_legend">[% "Historial de Pr&eacute;stamos" | i18n %]</legend>
    <ul>
        <li class="sub_item">
            <label for="f_ini">[% "Seleccione una fecha de inicio:" | i18n %]</label>
            <input id="f_ini" name="f_ini"></a>
        </li>
        <li class="sub_item">
            <label for="f_fin">[% "Seleccione una fecha de fin:" | i18n %]</label>
            <input id="f_fin" name="f_fin">
        </li>
        <li class="sub_item"> 
            <label for="categoria_socio_id">[% "Categoria de Usuario:" | i18n %]</label>
            [% selectCatUsuarios %]
        </li>
        <li class="sub_item">
            <label for="tipo_prestamo_id">[% "Tipo de Pr&eacute;stamo:" | i18n %]</label>
            [% selectTiposPrestamos %]
        </li>
        <li class="sub_item">
            <label for="tipo_nivel3_id">[% "Tipo de Item:" | i18n %]</label>
            [% selectTiposDocumentos %]
        </li>
    </ul>
</div>

<div class="buttonContainerHorizontal">
    [% PERL %]
            print C4::AR::Filtros::to_Button( 
                                                text    =>  "[% 'Buscar' | i18n %]",
                                                title    =>  "[% 'Buscar' | i18n %]",
                                                boton   =>  "boton_buscar",
                                                onClick =>  "consultar();",
                                            );
    [% END %]
</div>

<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
