[% INCLUDE "intranet-top.inc" %]

<script>

    function ordenar(orden){
	    objAH.sort=orden;
	    objAH.sendToServer();
    }
    
    function consultar(){
	    objAH           = new AjaxHelper(updateInfo);
        objAH.debug     = true;
	    objAH.url       = "/cgi-bin/koha/reports/inventory-sig-topResult.pl";
	    objAH.sigtop    = $("#sigtop").val();
	    //se envia la consulta
	    objAH.sendToServer();
    }
    
    function updateInfo(responseText){
	    $("#result").html(responseText);
	    zebra("datos_tabla");
    }

    $(document).ready(function() {
        //onEnter con foco en input, ejecuta la busqueda
        onEnter("sigtop",consultar);
    });

</script>

<div class="titulos" >[% "Inventario por signatura topogr&aacute;fica:" | i18n %]</div>

<fieldset>
    <legend class="titulo_legend">[% "Buscar signatura topogr&aacute;fica: &nbsp;" | i18n %]</legend>
        <ul>
            <li class="sub_item">
              <input type="text" id="sigtop" value="[% sigtop %]">
            </li>
            [% PERL %]
                            print C4::AR::Filtros::to_Button( 
                                                                text    =>  "[% 'Buscar' | i18n %]",
                                                                boton   =>  "boton_buscar",
                                                                onClick =>  "consultar();",
                                    ) ;
            [% END %]
        </ul>
</fieldset>

<br>

<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
