
[% USE HTML %]

<br>

<p  align="center">
    [% "La cantidad Total de ejemplares es:" | i18n %] [% cantidad %]
    <div class="contenedor_paginador">[% paginador %]</div>
</p>

<br>


<table id="tablaResult" class="datos_tabla" border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr class="titulo_tabla_resultado click">

        <th onClick="ordenar('nro_inventario');">[% "Nro. de Inventario" | i18n %]</th>
        <th onClick="ordenar('signatura_topografica');">[% "Signatura Topogr&aacute;fica" | i18n %]</th>
        <th onClick="ordenar('autor');">[% "Autor" | i18n %]</th>
        <th onClick="ordenar('title');">[% "T&iacute;tulo" | i18n %]</th>
        <th onClick="ordenar('publisher');">[% "Editor" | i18n %]</th>
        <th onClick="ordenar('edicion');">[% "Edici&oacute;n" | i18n %]</th>
        <th onClick="ordenar('ui');">[% "UI" | i18n %]</th>

    </tr>

    [% FOREACH cat_nivel3 IN results %]
            <tr >
                    <td  align="center">
                            [% cat_nivel3.nro_inventario %]
                    </td>
                    <td align="center">
                            [% cat_nivel3.signatura_topografica %]
                    </td>
                    <td align="center">
                            [% cat_nivel3.autor %]
                    </td>
                    <td align="center">
                            [% HTML.escape(cat_nivel3.titulo) %]
                            [% IF cat_nivel3.unititle %]:&nbsp;
                                    [% HTML.escape(unititle) %]
                            [% END %]
                    </td>
                    <td align="center">
                            [% cat_nivel3.publisher %]
                    </td>
                    <td align="center">
                            [% IF cat_nivel3.edicion %]
                              [% cat_nivel3.edicion %]
                            [% END %]
                            [% IF cat_nivel3.anio_publicacion %]
                              ([% cat_nivel3.anio_publicacion %])
                            [% END %]
                            [% IF cat_nivel3.volume %]
                              t [% cat_nivel3.volume %]
                            [% END %]
                    </td>
                    <td align="center">
                            [% cat_nivel3.ui %]
                    </td>
            </tr>

    [% END %]
</table>

<br><br>

      <div class="buttonContainerHorizontal">
          [% PERL %]
                  print C4::AR::Filtros::to_Button( 
                                                      text    =>  "[% "Exportar XLS" | i18n %]",
                                                      title    =>  "[% 'Exportar XLS' | i18n %]",
                                                      boton   =>  "boton_guardar",
                                                      onClick =>  "tableToXLS('[% filename %]');",
                                                  );
          [% END %]
      </div>