[% INCLUDE "intranet-top.inc" %]

<script>

[% INCLUDE "util.js" %]
    function hacerSubmit(){
            document.id_ui_form.submit();
    }
    
    $(document).ready( function() {
		    zebra("tablaResult");
    });

</script>

<center>
<table border=0 cellspacing=0 cellpadding=2>
	<th>[% "Seleccione una unidad de informaci&oacute;n :" | i18n %]</th>
	<th>
		<form name="id_ui_form" action=[% url_prefix %]/reports/itemtypes.pl method=post >
          <input type="hidden" name="token" value="[% token %]" />
         [% unidades %]
		</form>
	</th>
</table>

<br><br>


<script type="text/javascript">
      $(document).ready(function() {
        makeToggle('datos_tabla_div','trigger',null,false);
      });
</script>
<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Resultados de la b&uacute;squeda (cat&aacute;logo)" | i18n %]:</legend>
        <div class="datos_tabla_div" id="datos_tabla_div">
            <table id="tablaResult" class="datos_tabla" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr class="titulo_tabla_resultado">
            
                    <th>[% "Tipos de documentos" | i18n %]</th>
                    <th>[% "Cantidad" | i18n %]</th>
            
                </tr>
            [% FOREACH item IN resultsloop %]
                <tr align='center'>
            
                    <td> [% item.nivel2.cat_ref_tipo_nivel3.nombre%]</td>
                    <td> [% item.agregacion_temp %] </td>
                  
                </tr>
            [% END %]
            </table>
        </div>
</fieldset>
<br><br>

				<!-- Scripts con los graficos en flash -->
[% torta %]
<br>
[% barras %]
<br>
</center>
[% INCLUDE "intranet-bottom.inc" %]
