[% INCLUDE "intranet-top.inc" %]

<script>
[% INCLUDE "util.js" %]
function hacerSubmit(){
        document.uinidadInformaciones.submit();
        }

$(document).ready( function() {
		zebra("tablaResult");
});
</script>

<center>
<table border=0 cellspacing=0 cellpadding=2>
	<th>Seleccione una unidad de informaci&oacute;n :</th>
	<th>
		<form name="uinidadInformaciones" action="/cgi-bin/koha/reports/levels.pl" method=post >[% unidades %]
		</form>
	</th>
</table>

<br><br>


<table id="tablaResult" class="tablaResult" border=0 cellspacing=0 cellpadding=0 width="40%">
	<tr class="tablaresultadoTitle">
		<th>Nivel Bibliogr&aacute;fico</th>
		<th>Cantidad</th>
	</tr>
[% FOREACH nivel IN resultsloop %]
  	<tr align='center' class="inputFontNormal">
  		<td height=25>&nbsp;</td>
  		<td>[% nivel.nivel2.ref_nivel_bibliografico.getDescription %] </td>
  		<td>[% nivel.agregacion_temp %] </td>
		<td height=25>&nbsp;</td>
 	</tr>
[% END %]
</table>

<br><br>

				<!-- Scripts con los graficos en flash -->
[% torta %]
<br>
[% barras %]
<br>
</center>
[% INCLUDE "intranet-bottom.inc" %]
