
<p>
<b>[% "La cantidad de logueos es :" | i18n %] [% cantidad %]<br>
</p>
<br>

[% paginador %]


<table id="tablaResult" class="tablaResult" border=0 cellspacing=0 cellpadding=0 width="100%" align="center">
 	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="[% themelang %]/images/izquierda.png"></td>
	
		<th class="tablaresultadoTitle click" onclick="ordenar('surname')" Title="Ordenar por Apellido">[% "Apellido" | i18n %]</th>
		<th class="tablaresultadoTitle click" onclick="ordenar('firstname')" Title="Ordenar por Nombre">[% "Nombre" | i18n %]</th>
		<th class="tablaresultadoTitle click" onclick="ordenar('cardnumber')" Title="Ordenar por Socio">[% "N&uacute;mero de socio" | i18n %]</th>
		<th class="tablaresultadoTitle click" onclick="ordenar('description')" Title="Ordenar por Categor&iacute;a">[% "Categor&iacute;a" | i18n %]</th>
		<th class="tablaresultadoTitle click" onclick="ordenar('fecha')" Title="Ordenar por Fecha">[% "Fecha" | i18n %]</th>
		<th class="tablaresultadoTitle click" onclick="ordenar('campo')" Title="Ordenar por Campo">[% "Campo" | i18n %]</th>
		<th class="tablaresultadoTitle click" onclick="ordenar('valor')" Title="Ordenar por Valor">[% "Valor" | i18n %]</th>
		<th class="tablaresultadoTitle click" onclick="ordenar('tipo')" Title="Ordenar por Tipo">[% "Tipo" | i18n %]</th>

		<td width="1%" align="rigth" valign="top"><img src="[% themelang %]/images/derecha.png"></td>
	</tr>
[% FOREACH busqueda IN resulsloop %]
	<tr align='center'>
		<td height=25 >&nbsp;</td>

		<td  class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/usuarios/reales/datosUsuario.pl?bornum=[% borrowernumber %]">[% surname %]</a>
		</td>
		<td  class="inputFontNormal"> [% busqueda.busqueda.socio.persona.getNombre %]
		</td>
		<td  class="inputFontNormal">[% busqueda.busqueda.socio.getNro_socio %] 
		</td>
			<td  class="inputFontNormal">[% busqueda.busqueda.descripcion %] 
		</td>
		<td  class="inputFontNormal">[% busqueda.busqueda.fecha %] 
		</td>
		<td  class="inputFontNormal">[% busqueda.campo %] 
		</td>
		<td  class="inputFontNormal">[% busqueda.valor %] 
		</td>
		<td  class="inputFontNormal">[% busqueda.tipo %] 
		</td>

		<td height=25 >&nbsp;</td>
	</tr>
[% END %]
	<tr valign=bottom>
	        <td class="lineafinaltabla"  align="left" colspan="9"></td>
        </tr>

</table>
<br>
</center>

