[% INCLUDE "intranet-top.inc" %]

<script src="/includes/jquery/validate/jquery.validate.js"></script>

<script type="text/javascript">

$(document).ready(function() {

    crearDatePicker('fechaIni');
    crearDatePicker('fechaFin');

});

</script>

<script type="text/javascript">


var objAH;
function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("datos_tabla");
}

function consultar(){
	objAH=new AjaxHelper(updateInfo);
    objAH.showOverlay       = true;
    objAH.debug= true;
	objAH.url=URL_PREFIX+"/reports/logueoBusquedaResult.pl";
	objAH.fechaIni=$("#fechaIni").val();
	objAH.fechaFin=$("#fechaFin").val();
	objAH.catUsuarios=$("#categoria_socio_id").val();
	objAH.funcion= "changePage";
	objAH.sendToServer();
}
</script>

<div class="titulos">[% "Logueo de B&uacute;squedas" | i18n %]</div>
<fieldset>
    <legend class="titulo_legend">[% "Historial de B&uacute;squedas" | i18n %]</legend>
    <ul>
        <li class="sub_item">
	       <label for="fechaIni">[% "Seleccione una fecha de inicio: " | i18n %]</label>
	       <input id="fechaIni" name="fechaIni" value="[% fechaIni %]">
        </li>
	    <li class="sub_item">
            <label for="fechaIni">[% "Seleccione una fecha de fin " | i18n %]:</label>
            <input id="fechaFin" name="fechaFin" value="[% fechaFin %]">
        </li>
	    <li class="sub_item">
            <label for="categoria_socio_id">[% "Categoria de Usuario:" | i18n %]</label>
	        [% selectCatUsuarios  %]
        </li>
    </ul>
</fieldset>


<div class="buttonContainerHorizontal">
    [% PERL %]
                    print C4::AR::Filtros::to_Button( 
                                                        text    =>  "[% 'Buscar' | i18n %]",
                                                        boton   =>  "boton_buscar",
                                                        onClick =>  "consultar();",
                            ) ;
    [% END %]   
</div>

<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
