
<p class="inputFontNormal">
    [% "La cantidad de prestamos es :" | i18n %] [% cantidad %]</p>
<p align="center">
    [% paginador %]
</p>


<table id="tablaResult" class="tablaResult" border=0 cellspacing=0 cellpadding=0 width="100%" align="center">
 	<tr class="tablaresultadoTitle">
		
		<th>
			<a class="click" name="checkAllPrestamos"><img src="[% themelang %]/images/check.png" border="0" title="Invertir la selecci&oacute;n"></a>
		</th>

		<th class="tablaresultadoTitle click" onClick="ordenar('surname')">
			[% "Apellido" | i18n %]
		</th>
		<th class="tablaresultadoTitle click" onClick="ordenar('firstname')">
			[% "Nombre" | i18n %]
		</th>
		<th class="tablaresultadoTitle click" onClick="ordenar('cardnumber')">
			[% "Tarjeta de Id." | i18n %]
		</th>

		<th class="tablaresultadoTitle click" onClick="ordenar('emailaddress')">
			[% "E-mail" %]
		</th>
		<th class="tablaresultadoTitle click" onClick="ordenar('date_due')">
			[% "Fecha de prestamo" | i18n %]
		</th>
		<th class="tablaresultadoTitle click" onClick="ordenar('vencimiento')">
			[% "Fecha de vencimiento" | i18n %]
		</th>
		<th class="tablaresultadoTitle click" onClick="ordenar('barcode')">
			[% "C&oacute;digo de barra" | i18n %]
		</th>
		<th class="tablaresultadoTitle click" onClick="ordenar('signatura_topografica')">
			[% "Signatura Topogr&aacute;fica" | i18n %]
		</th>
		<th class="tablaresultadoTitle click" onClick="ordenar('description')">
			[% "Tipo de pr&eacute;stamo" | i18n %]
		</th>
	
	</tr>

[% FOREACH prestamo IN resultsloop %]

	<tr align='center'>
		
		<td class="inputFontNormal"> 
		      [% IF prestamo.vencido %]
               <input type="checkbox" name="chkboxPrestamos" value="[% prestamo.socio.getNro_socio %]" id="[% prestamo.socio.getNro_socio %]">
            [% END %]
		</td>

		<td class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/usuarios/reales/datosUsuario.pl?bornum=[% prestamo.socio.getNro_socio %]">
            [%  prestamo.socio.persona.getNombre %]
         </a>
		</td>

		<td class="inputFontNormal"> 
			[% prestamo.socio.persona.getNombre %] 
		</td>

		<td class="inputFontNormal"> 
			[% prestamo.socio.getNro_socio %]
		</td>

		<td class="inputFontNormal"> 
			[% IF prestamo.socio.persona.getEmail %]
               <a class="inputFontNormal" href="mailto:[% prestamo.socio.persona.getEmail %]">
                    [% prestamo.socio.persona.getEmail %]
              </a>
   		[% ELSE %]
                    [% prestamo.socio.persona.getEmail %]
        [% END %]
		</td>

		<td class="inputFontNormal"> 
			[% prestamo.getFecha_prestamo %]
		</td>

		<td class="inputFontNormal"> 
			[% prestamo.getFecha_vencimiento %]
		</td>

		<td class="inputFontNormal"> 
			<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=[% id1 %]&id2=[% id2 %]&id3=[% prestamo.getId3 %]&barcode=[% prestamo.nivel3.getBarcode %]&signatura_topografica=[% prestamo.nivel3.getSignatura_topografica %]' title='Detalle de disponibilidad'>
            [% prestamo.nivel3.getBarcode %]
         </a>
		</td>

		<td class="inputFontNormal"> 
			<a class="inputFontNormal" href="/cgi-bin/koha/detalle.pl?id1=[% prestamo.nivel3.getId1 %]">
            [% prestamo.nivel3.getSignatura_topografica %]
         </a>
		</td>

	</tr>
[% END %]
</table>

<br>
<input type="hidden" name="tipo" value="0">

<a href="#" title="Enviar Mail" onClick="enviarMails();">
<input id="contacto" type="image" src="[% themelang %]/images/contactar.png" title=[% "Enviar mail a usuarios con ejemplares atrasados" | i18n %]>
</a>
&nbsp;&nbsp;&nbsp;
<a class="inputFontNormal" href="/cgi-bin/koha/reports/plantillas/generatesxc.pl?name=[% planilla %]">[% "Generar planilla" | i18n %] 
<img src="[% themelang %]/images/sxc.png" border="0">
</a>
<br>

