<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>[% 'Formato de Impresi&oacute;n' | i18n %]</title>
</head>

<body>

<table cellspacing="0" cellpadding="0" border="0" align="left" width="100%">
	
	<tr>
	   	<td align="center" colspan=4>
<!-- FIXME esto esta fijo, cambiar -->
        		<font class="titulo" >[% 'Biblioteca:' | i18n %]</font><br>
        		<font class="subtitulo">[% 'Facultad de Ciencias Econ&oacute;micas' | i18n %]</font>
        	</td>
		<td align="right" colspan=3>
<!-- FIXME esto esta fijo, cambiar -->
			<img src="<!-- TMPL_VAR NAME="themelang" -->/images/escudo.png" border="0" alt="Facultad de Ciencias Econ&oacute;micas" >
		</td>
	</tr>
	<tr> 
		<td align="center" colspan="7"> [% msg %]
                </td> 
	</tr>
	<tr>
		<th colspan="9" align="center">[% 'Historial de Prestamos' | i18n %]</th>
	</tr>

	<tr height="24">
		<th width="15%">[% 'Apellido' | i18n %]</th>
		<th width="5%">[% 'Nombre' | i18n %]</th>
		<th width="12%">[% 'DNI' | i18n %]</th>
		<th width="12%">[% 'Categor&iacute;a' | i18n %]</th>
		<th>[% 'Tipo Pr&eacute;stamo' | i18n %]</th>
		<th>[% 'C&otilde;digo de Barras' | i18n %]</th>
		<th>[% 'Fecha Pr&eacute;stamo' | i18n %]</th>
		<th>[% 'Fecha Devoluci&oacute;n' | i18n %]</th>
		<th>[% 'T&iacute;po' | i18n %]</th>
	</tr>
[% FOREACH historico_pretamo IN RESULTSLOOP %]
    <tr align="center">

            <td align="left">[% historico_pretamo.socio.persona.getApellido %]</td>
            <td>[% historico_pretamo.socio.persona.getNombre %]</td>
            <td>[% historico_pretamo.socio.persona.getNro_documento %]</td>
            <td>[% historico_pretamo.socio.getCod_categoria %]</td>
            <td>[% historico_pretamo.tipo.getDescripcion %]</td>
            <td>[% historico_pretamo.nivel3.getBarcode %]</td>
            <td>[% historico_pretamo.getFecha_prestamo_formateada %]</td>
            <td>[% historico_pretamo.getFecha_devolucion_formateada %]</td>
            <td>[% historico_pretamo.nivel3.nivel2.cat_ref_tipo_nivel3.getNombre %]</td>
    
    </tr>
[% END %]

</table>

</body>
</html>
