[% INCLUDE "intranet-top.inc" %]

<script src="/includes/jquery/validate/jquery.validate.js"></script>
[% INCLUDE  'WindowHelper.inc'  %]
[% INCLUDE 'datePicker.inc' %]
[% INCLUDE  'AutocompleteHelper.inc'  %]

<script type="text/javascript">

var objAH;

function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("datos_tabla");
	objAH.id    = "";
	objAH.notas = "";
}


function consultar(){
	objAH                   = new AjaxHelper(updateInfo);
	objAH.url=URL_PREFIX+"/reports/registroResult.pl";
    objAH.debug             = true;
    objAH.showOverlay       = true;
	objAH.chkfecha          = $("#chkfecha")[0].checked;
	objAH.dateselected      = $("#dateselected").val();
	objAH.dateselectedEnd   = $("#dateselectedEnd").val();
    objAH.nivel             = $("#select_nivel").val();
    objAH.operacion         = $("#select_operacion").val();
	objAH.user              = $("#nro_socio_hidden").val();
	objAH.funcion           = "changePage";
	objAH.sendToServer();
}


function guardarNota(registro){
    objAH                   = new AjaxHelper(updateGuardarNota);
    objAH.url=URL_PREFIX+"/reports/reportesDB.pl";
    objAH.debug             = true;
    objAH.showOverlay       = true;
    objAH.tipoAccion        = "GUARDAR_NOTA";
    objAH.registro          = registro;
    objAH.nota              = $("#nota_" + registro).val();

    $("#view_note_" + registro).html($("#nota_" + registro).val());
    $("#add_note_" + registro).dialog("close");

    objAH.sendToServer();
}

function updateGuardarNota(responseText){

//     jAlert("LA NOTA SE GUARDO");
}

function agregarNota(registro){
    $('#add_note_' + registro).dialog('open');
}

function verNota(registro){
    $('#view_note_' + registro).dialog('open');
}

function clear_usuario(){
    $('#socio').val('');
}

$(document).ready(function() {
    CrearAutocompleteUsuariosConRegularidad({   
        IdInput: 'socio', 
        IdInputHidden: 'nro_socio_hidden', 
    });
	
	 crearDatePicker('dateselected');
	 crearDatePicker('dateselectedEnd');

});

</script>

<fieldset>
    <legend class="titulo_legend"> <span class="titulos">[% "Registro de Actividades" | i18n %] </span> </legend>
        <fieldset>

          <legend class="titulo_legend">[% "Filtrar por:" | i18n %]</legend>
          <ul>
            <li class="sub_item">
                <label for="chkfecha">[% "Seleccione para buscar por fecha" | i18n %]</label>
                <input id="chkfecha" type="checkbox" name="chkfecha">
            </li>
            <li>&nbsp;</li>
            <li class="sub_item">
                <label for="dateselected">[% "Seleccione una fecha de inicio:" | i18n %]</label>
                <input id="dateselected" name="dateselected" value="[% todaydate %]">
            </li>
            <li>&nbsp;</li>
            <li class="sub_item">
                <label for="dateselectedEnd">[% "Seleccione una fecha de fin" | i18n %]:</label>
                <input id="dateselectedEnd" name="dateselectedEnd" value="[% todaydate %]"> 
            </li>
            <li>&nbsp;</li>
            <li class="sub_item">
                <label for="select_operacion">[% "Operaci&oacute;n: " | i18n %]</label>
                <select id="select_operacion">
                    <option value="">SIN SELECCIONAR</option>
                    <option value="Alta">Alta</option>
                    <option value="Actualizado">Actualizado</option>
                    <option value="Borrado">Borrado</option>
                </select>
            </li>
                <!-- ACA SE BUSCA POR USUARIO Y/O POR NUMERO DE ELEMENTOS -->
            <li class="sub_item">
                <label for="socio">
                    [% "Nombre de usuario: " | i18n %]
	                [% PERL %]
	                    print C4::AR::Filtros::setHelpIcon( text => "[% 'Campo autocompletable, b&uacute;squeda por nombre, apellido, nro. de documento, legajo, nro. socio' | i18n %]",);
	                [% END %]
                </label>
	            <input type='text' id='socio' name='socio' value='' size=32 tabindex='3' style="float: left" onclick="clear_usuario();">
	            <input type='hidden' id='nro_socio_hidden' value='' tabindex='-1'>
                    
            </li>
            <li class="sub_item">
                
                <label for="select_nivel">[% "Nivel: " | i18n %]</label>
                <select id="select_nivel">
                    <option value="">SIN SELECCIONAR</option>
                    <option value="Registro">Registro</option>
                    <option value="Grupo">Grupo</option>
                    <option value="Ejemplar">Ejemplar</option>
                </select>
            </li>
        </ul>
    </fieldset>
<!-- </div> -->
<div class="buttonContainerHorizontal">
        [% PERL %]
                        print C4::AR::Filtros::to_Button( 
                                                            text    =>  "[% 'Buscar' | i18n %]",
                                                            boton   =>  "boton_buscar",
                                                            onClick =>  "consultar();",
                                ) ;
        [% END %]
</div>

<div id="result" ></div>
</fieldset>
[% INCLUDE "intranet-bottom.inc" %]

