[% INCLUDE "intranet-top.inc" %]

<script src="/includes/jquery/validate/jquery.validate.js"></script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    crearDatePicker('dateselected');
    crearDatePicker('dateselectedEnd');

});
</script>
<script type="text/javascript">

//Funcion que guarda la nota de la modificacion, es llamada desde regitroResult.tmpl
var notas="";
var objAH;

function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
	objAH.id="";
	objAH.notas="";
}


function consultar(){
	objAH=new AjaxHelper(updateInfo);
	objAH.url="/cgi-bin/koha/reports/registroResult.pl";
	objAH.chkfecha=$("#chkfecha")[0].checked;
	objAH.chkuser=$("#chkuser")[0].checked;
	objAH.chknum=$("#chknum")[0].checked;
	objAH.dateselected=$("#dateselected").val();
	objAH.dateselectedEnd=$("#dateselectedEnd").val();
	objAH.operacion=$("input[@name='operacion']:checked").val();
	objAH.tipo=     $("input[@name='tipo']:checked").val();
	objAH.user=$("#socios").val();
	objAH.numDesde=$("#numDesde").val();
	objAH.numHasta=$("#numHasta").val();
	objAH.funcion= "changePage";
	objAH.sendToServer();
}

function guardarNota(idNota){
   objAH=new AjaxHelper(updateGuardarNota);
   objAH.url="/cgi-bin/koha/reports/reportesDB.pl";
   objAH.tipoAccion="GUARDAR_NOTA";
	objAH.idModificacion=idNota;
	objAH.nota=$("#"+idNota).val();
	objAH.sendToServer();
}

function updateGuardarNota(responseText){
   jAlert("LA NOTA SE GUARDO");
}

</script>

<div class="titulos">[% "Registro de Actividades" | i18n %]</div>


<!-- FIXME para los tipos, el script anda mal, los toma como el check de fecha o el radio operacion -->
<div class="filtros_reportes">
    <ul class="filtros_reportes_izq">
        <li>
            <b>[% "Seleccione para buscar por fecha." | i18n %]</b>
            <input id="chkfecha" type="checkbox" name="chkfecha">
        </li>
        <li>
            [% "Seleccione una fecha de inicio:" | i18n %]
            <input id="dateselected" name="dateselected" value="[% todaydate %]">
        </li>
        <li>
            [% "Seleccione una fecha de Fin:" | i18n %]
            <input id="dateselectedEnd" name="dateselectedEnd" value="[% todaydate %]"> 
        </li>
    </ul>
    <ul class="filtros_reportes_der">

        <li><b>[% "Filtrar por:" | i18n %]</b></li>
        <li>
            <input id="operacion" type="radio" name="operacion" value=[% "Alta" | i18n %]>&nbsp;[% "Alta" | i18n %]
            <input id="operacion" type="radio" name="operacion" value="Actualizado">&nbsp;[% "Actualizado" | i18n %]
            <input id="operacion" type="radio" name="operacion" value="Borrado">&nbsp;[% "Borrado" | i18n %]
            <input id="operacion" type="radio" name="operacion" value="" checked>&nbsp;[% "Ninguno" | i18n %]
        </li>
        <li>
            <input id="tipo" type="radio" name="tipo" value=[% "Libro" | i18n %]>&nbsp;[% "Libro" | i18n %]
            <input id="tipo" type="radio" name="tipo" value=[% "Grupo" | i18n %]>[% "Grupo" | i18n %]
            <input id="tipo" type="radio" name="tipo" value=[% "Ejemplar" | i18n %]>[% "&nbsp;Ejemplar" | i18n %]
            <input id="tipo" type="radio" name="tipo" value="" checked>&nbsp;[% "Ninguno" | i18n %]
        </li>
            <!-- ACA SE BUSCA POR USUARIO Y/O POR NUMERO DE ELEMENTOS -->
        <li>
            <input id="chkuser" type="checkbox" name="chkuser" value="usuario"><b>[% "Nombre de usuario: " | i18n %]</b>[% select_usuarios %]
        </li>
        <li>
            <input id="chknum" type="checkbox" name="chknum" value="num"><b>[% "N&uacute;mero" | i18n %]
            [% "desde:" | i18n %] <input id="numDesde" type="text" name="numDesde" size="12">
            [% "hasta:" | i18n %] </b><input id="numHasta" type="text" name="numHasta" size="12" >
        </li>
    </ul>
</div>
<div class="buttonContainerHorizontal">
        [% PERL %]
                        print C4::AR::Filtros::to_Button( 
                                                            text    =>  "[% 'Buscar' | i18n %]",
                                                            boton   =>  "boton_buscar",
                                                            onClick =>  "consultar();",
                                ) ;
        [% END %]
</div>

<div id="result" ></div>

[% INCLUDE "intranet-bottom.inc" %]

