<script type="text/javascript">
      $(document).ready(function() {
        makeToggle('datos_tabla_div','trigger',null,false);
      });
</script>

<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Resultados de la b&uacute;squeda" | i18n %]:</legend>
        <div class="datos_tabla_div" id="datos_tabla_div">
            <div class="resultados_consulta">[% "T&eacute;rmino de b&uacute;squeda" | i18n %]: [% buscoPor %]</div>
            <div class="resultados_consulta">[% "Total de registros" | i18n %]: [% cantidad %]  en ([% timeSeg %] segundos)</div>
            <div class="contenedor_paginador">[% paginador %]</div>
                <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width="100%" align="center">
                    <tr class="titulo_tabla_resultado">
                
                        <td class="click" onclick="ordenar('surname')" title="[% 'Ordenar por apellido' | i18n %]"> [% "Apellido" | i18n %]</td>
                        <td class="click" onclick="ordenar('firstname')" title="[% 'Ordenar por nombre' | i18n %]"> [% "Nombre" | i18n %]</td>
                        <td class="click" onclick="ordenar('cardnumber')" title="[% 'Ordenar por numero de socio' | i18n %]">
                            [% "N&uacute;mero de socio" | i18n %]
                        </td>
                        <td class="click" onclick="ordenar('emailaddress')" title="[% 'Ordenar por mial' | i18n %]">[% "E-mail" | i18n %]</td>
                        <td class="click" onclick="ordenar('reservedate')" title="[% 'Ordenar por fecha de reserva' | i18n %]">[% "Fecha de reserva" | i18n %]</td>
                        <td class="click" onclick="ordenar('reminderdate')" title="[% 'Ordenar por fecha de vencimiento' | i18n %]">
                            [% "Fecha de vencimiento" | i18n %]
                        </td>
                        <td class="click" onclick="ordenar('barcode')" title="[% 'Ordenar por codigo de barra' | i18n %]">
                            [% "C&oacute;digo de barra" | i18n %]
                        </td>
                
                    </tr>
                [% FOREACH reserva IN reservas %]
                    <tr align='center'>
                        
                        <td> 
                            <a href="[% url_prefix %]/usuarios/reales/datosUsuario.pl?bornum=[% reserva.socio.getNro_socio %]">
                                [% reserva.socio.persona.getApellido %]
                            </a>
                        </td>
                        <td> 
                            [% reserva.socio.persona.getNombre%]
                        </td>
                        <td> 
                            [% reserva.socio.getNro_socio%]
                        </td>
                        <td> 
                            [% IF mail %]
                                [% reserva.socio.persona.getEmail %]
                            [% ELSE %]
                                <a  href="mailto:[% reserva.socio.persona.getEmail %]">[% reserva.socio.persona.getEmail %] </a>
                            [% END %]
                        </td>
                        <td> 
                            [% reserva.getFecha_reserva_formateada %]
                        </td>
                        <td> 
                            [% reserva.getFecha_recordatorio_formateada %]
                        </td>
                        <td> 
                            <a href="[% url_prefix %]/detail.pl?bib=[% biblionumber %]">[% reserva.nivel3.getBarcode %]</a>
                        </td>
                        
                    </tr>
                [% END %]
                </table>
      </div>
</fieldset>
<br>

<a href="mail.pl?branch=[% branch %]&tipo=1"> 
    <input id="contacto" type="image" src="[% themelang %]/images/contactar.png" title="[% 'Enviar mail a usuarios con reservas asignadas' | i18n %]" >
</a> 

