[% INCLUDE "intranet-top.inc" %]

<script>
[% INCLUDE "util.js" %]
function hacerSubmit(){
        document.unidadInformacion.submit();
}

$(document).ready( function() {
	zebra("tablaResult");
});
</script>

<center>
<table border=0 cellspacing=0 cellpadding=2>
	<th>[% "Seleccione una unidad de informaci&oacute;n:" | i18n %]</th>
	<th><form name="unidadInformacion" action="/cgi-bin/koha/reports/userEst.pl" method=post >
        	[% unidades %]</form>
	</th>
</table>

<br><br>

<table id="tablaResult" class="tabla_datos" border=0 cellspacing=0 cellpadding=0 width="60%">
	<tr class="tablaresultadoTitle">
		<th>
			[% "Categor&iacute;as" | i18n %]
		</th>
		<th>
			[% "Cant de usuarios reales" | i18n %]
		</th>
		<th>
			[% "Cant de usuarios potenciales" | i18n %]
		</th>
 		<td width="1%"><img src="[% themelang %]/images/derecha.png"></td>
		</tr>

[% FOREACH socio IN resultsloop %]
  	<tr align='center'>
   		
  		<td>[% socio.categoria.getDescription %] </td>
  		<td>[% socio.agregacion_temp %] </td>
		<td>[% potenciales %] </td>
 		
 	</tr>
[% END %]
</table>


<br>
	<a href="/cgi-bin/koha/reports/plantillas/generatesxc.pl?name=[% planilla %]">
		[% "Generar planilla" | i18n %]<img src="[% themelang %]/images/sxc.png" border="0">
	</a>
<br><br>
				<!-- Scripts con los graficos en flash -->
[% torta %]
<br>
[% barras %]
<br>
</center>

[% INCLUDE "intranet-bottom.inc" %]
