[% INCLUDE "intranet-top.inc" %]
<script>
    var objAH;

    function changePage(ini){
        objAH.changePage(ini);
    }

    function ordenar(orden){
        objAH.orden=orden;
        objAH.sendToServer();
    }

    function consultar(op,orden){
        var sur1=$("#surname1").val();
        var sur2=$("#surname2").val();
        var leg1=$("#legajo1").val();
        var leg2=$("#legajo2").val();
        var cat=$("#categoria_socio_id").val();
        var reg=$("#regular").val();
        var ui=$("#ui_id").val();
        var params="surname1="+sur1+"&surname2="+sur2+"&legajo1="+leg1+"&legajo2="+leg2+"&categoria_socio="+cat+
        "&regular="+reg+"&ui="+ui+"&op="+op+"&orden="+orden;
        if(op == "pdf"){
            var url= "[% url_prefix %]/reports/users-cards.pl";
            crearForm(url,params);//Funcion en util.js
        }
        else{
            objAH=new AjaxHelper(updateInfo);
            objAH.debug= true;
            objAH.showOverlay       = true;
            objAH.url=URL_PREFIX+"/reports/users-cardsResult.pl";
            objAH.surname1= sur1;
            objAH.surname2= sur2;
            objAH.legajo1= leg1;
            objAH.legajo2= leg2;
            objAH.categoria_socio=cat;
            objAH.ui=ui;
            objAH.funcion = 'changePage';
            objAH.op=op;
            inicial = '0';
            //se envia la consulta
            objAH.sendToServer();
        }
    }

    function updateInfo(responseText){
        $("#result").html(responseText);
        zebra("datos_tabla");
    }

    $(document).ready(function() {
        onEnter('surname1',consultar);
        onEnter('surname2',consultar);
        onEnter('legajo1',consultar);
        onEnter('legajo2',consultar);
    });
</script>

<!--<div class="titulos" >[% "Generar Carnets de Usuarios" | i18n %]</div>-->
<fieldset class="formulario_busqueda">
    <legend class="titulo_legend"><span class="titulos">[% 'Generar Carnets de Usuarios' | i18n %]</span></legend>   
<center>

<div class="filtros_reportes">
    <fieldset>
        <legend class="titulo_legend">[% "Generar Carnets de Usuarios" | i18n %]</legend>
        <ul class="filtros_reportes_izq">
            <fieldset>
                <legend class="titulo_legend">[% "Apellido:" | i18n %]</legend>
                <li class="sub_item">
                    [% "Desde:" | i18n %]&nbsp; 
                    <input type='text' id='surname1' name='surname1' value='[% surname1 %]'>
                </li>
                <li class="sub_item">
                    [% "Hasta:" | i18n %]&nbsp; 
                    <input type='text' id='surname2' name='surname2' value='[% surname2 %]'>
                </li>
            </fieldset>
            <fieldset>
                <legend class="titulo_legend">[% "Legajo:" | i18n %]</legend>
                <li class="sub_item">
                <li class="sub_item">
                    [% "Desde:" | i18n %]&nbsp; 
                    <input type='text' id='legajo1' name='legajo1' value='[% legajo1 %]'>
                </li>
                <li class="sub_item">
                    [% "Hasta:" | i18n %]&nbsp; 
                    <input type='text' id='legajo2' name='legajo2' value='[% legajo2 %]'>
                </li>
            </fieldset>
            <li class="sub_item">
                [% "Unidad de informaci&oacute;n:" | i18n %]
                [% unidades %]
            </li>
            <li class="sub_item">
                [% "Categor&iacute;as:" | i18n %]
                [% categories %]
            </li>

            <li class="sub_item">
                [% "Regularidad:" | i18n %]
                [% regulares %]
            </li>
        </ul>
    </fieldset>
</div>

      <div class="buttonContainerHorizontal">
          <script> var search = 'search'; </script>
          [% PERL %]
                  print C4::AR::Filtros::to_Button( 
                                                      text    =>  "[% 'Buscar' | i18n %]",
                                                      title    =>  "[% 'Buscar' | i18n %]",
                                                      boton   =>  "boton_buscar",
                                                      onClick =>  "consultar(search);",
                                                  );
          [% END %]
      </div>

<div id="result"></div>

<!-- Formulario para poder crear el pdf -->
<div id="formulario">
</div>
</fieldset>
[% INCLUDE "intranet-bottom.inc" %]
