<link rel="stylesheet" type="text/css" href="[% temas %]/[% user_theme %]/includes/completo.css">

<fieldset class="resultados_busqueda">
<!--     <legend class="titulo_legend trigger click">[% "Resultados de la b&uacute;squeda" | i18n %]:</legend> -->
        <div class="datos_tabla_div" id="datos_tabla_div">
            <div class="resultados_consulta">[% "Total de registros" | i18n %]: [% cantidad %] </div>
            <div class="filtros_reporte">
                [% "A&ntilde;o" | i18n %]: [% param_anio %]<br />
                [% "Categor&iacute;a" | i18n %]: [% param_categoria %]<br />
                [% "Total de registros" | i18n %]: [% cantidad %]<br />
                [% "Total de registros" | i18n %]: [% cantidad %]<br />
            </div>
                <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width="100%">
                <thead>
                    <tr class="titulo_tabla_resultado">
                        [% IF !hide_nro_socio %]
                            <th class="click" 
                                width="12%">[% "Tarjeta Id." | i18n %]
                            </th>
                        [% END %]
                        [% IF !hide_nom_ape %]
                        <th class="click"
                            align="left" width="30%">[% "Apellido y Nombres" | i18n %]
                        </th>
                        [% END %]
                        [% IF !hide_nro_documento %]
                        <th class="click"
                            width="15%">[% "Documento" | i18n %]
                        </th>
                        [% END %]
                        [% IF !hide_legajo %]
                        <th class="click"
                            align="left">[% "Legajo" | i18n %]
                        </th>
                        [% END %]
                        [% IF !hide_categoria_socio_id %]
                        <th class="click">
                            [% "Cat." | i18n %]
                        </th>
                        [% END %]
                        <th>[% "Prest." | i18n %]</th>
                        <th>[% "Ven." | i18n %]</th>
                        <th>[% "Estado" | i18n %]</th>
                    </tr>
                </thead>
                <tbody>
                    [% FOREACH socio IN usuarios %]   
                        <tr align="center" style="border-bottom: 2px; border:1px solid #CCCCCC; background-color: #CCCCCC;height:25px">
                            [% IF !hide_nro_socio %]
                                    <td align='left' class="tarjetaId">
                                        [% PERL %]
                                            print C4::AR::Filtros::link_to(     text =>     "[% socio.getNro_socio %]",
                                                                                url=>"[% url_prefix %]/usuarios/reales/datosUsuario.pl", 
                                                                                params =>   ["nro_socio=[% socio.getNro_socio %]"],
                                                                                title =>    "[% 'Mostrar Detalle del Usuario' | i18n %]"
                                                                        );
                                        [% END %]
                                    </td>
                            [% END %]
                            [% IF !hide_nom_ape %]
                                    <td width=250 align="left" class="nomCompleto">
                                        [% PERL %]
                                            print C4::AR::Filtros::link_to(     text =>     "[% socio.persona.getApeYNom %]",
                                                                                url=>"[% url_prefix %]/usuarios/reales/datosUsuario.pl", 
                                                                                params =>   ["nro_socio=[% socio.getNro_socio %]"],
                                                                                title =>    "[% 'Mostrar Detalle del Usuario' | i18n %]"
                                                                        );
                                        [% END %]
                                    </td>
                            [% END %]
                            
                        [% IF !hide_nro_documento %]
                            <td align="left" class="documento">
                                [% socio.persona.getVersion_documento %]&nbsp;[% socio.persona.getNro_documento %]
                            </td>
                        [% END %]
                        [% IF !hide_legajo %]
                            <td align="left" class="legajo">
                                [% socio.persona.getLegajo %]
                            </td>
                        [% END %]
                        [% IF !hide_categoria_socio_id %]
                            <td align=center>
                                [% socio.categoria.getDescription %]
                            </td>
                        [% END %]
                            <td align=center>
                                [% issue %]
                            </td>
                            <td align=center>
                                [% od %]
                            </td>
                            <td align="center">
                            <span class="[% clase %]"><b>[% regular %]</b></span>
                            </td>
                    
                        </tr>
                    [% END %]
                    
                        <tr>
                            <td class="lineafinaltabla"  align="left" colspan="14"></td>
                        </tr>
                </tbody>
            
            </table>
        </div>
</fieldset>
