
[% paginador %]

<table width=100%  cellpadding="4" cellspacing="0" border="1" align="center">
  <tr class="bordetabla"  bordercolor="#f2f2f2" >
	<th class="bordetabla"  bordercolor="#f2f2f2">&nbsp;</th>
  </tr>

[% FOREACH shelvesloop %]
  <tr  bordercolor="#f2f2f2">
	<td valign="middle">

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<a class="click" onclick="verEstanteVirtual('[% shelf %]');">
	[% IF shelfname %]
		[% shelfname %]
	[% ELSE %]
		--------
	[% END %]
	</a>

	</td>
  </tr>
[% END %]
  <tr bordercolor="#f2f2f2">
	<table width=100% cellpadding="4" cellspacing="0" border="0" align="center">
		<th class="bordetabla"  bordercolor="#f2f2f2" ></th>
	</table>
  </tr>
</table>


