
<br>

[% IF cantidad %]
<center>
<p class="inputFontNormal"> 
	<b>[% "Cantidad de reservas realizadas:" | i18n %]&nbsp;[% cantidad %]<br>
</p>
<br>
[% END %]

[% paginador %]
<center>

<table width="98%" border="1" class="tope" cellspacing="0" cellpadding="4" align="center">

	<tr bordercolor="#f2f2f2">    
 		<td colspan="5" align="center" class="bordetabla" borde=1>
			<b> [% "Historial de Reservas" | i18n %] </b>
		</td>
	</tr> 

</table>

<table id="tablaHistorial" width="98%" border="1" class="tope" cellspacing="0" cellpadding="4" align="center">	

	<tr class="bordetabla"  bordercolor="#f2f2f2">
		<th>[% "T&iacute;tulo" | i18n %]</th>
		<th>[% "Autor" | i18n %]</th>
		<th>[% "Estado" | i18n %]</th>
		<th>[% "F. Reserva" | i18n %] </th>
		<th>[% "F. Vto" | i18n %]</th>
	</tr>

<!-- ESTE LOOP MUESTRA LAS RESERVAS -->
[% FOREACH loop_reservas %]
	<tr border="1" bordercolor="#f2f2f2">
 		<td> 
	[% IF id1 %]
		<a class="click" onClick="detalle('[% id1 %]')" title="[% 'Mostrar Detalle' | i18n %]">
	[% titulo %][% IF unititle %]:&nbsp;[% unititle %][% END %]
		</a> [% ELSE %]&nbsp;[% END %]
 		</td>
 		<td>
	[% IF idAutor %]
	<a   href="/cgi-bin/koha/opac-searchresults.pl?authorid=[% idAutor %]" >
	[% completo %]
	</a> [% ELSE %]&nbsp;[% END %]
 		</td>
 		<td align=center>  
	[% IF estado %]
	[% estado %]
	[% ELSE %] - [% END %]
 		</td>
 		<td align=center>
		[% fechaReserva %]&nbsp;
 		</td>
 		<td align=center>
			[% fechaVto %]&nbsp;
 		</td>
	</tr>
 [% END %]

</table>


<br>
<a class="click" onClick="volverDesdeHistorial()">[% "Volver" | i18n %]</a>
<p align="center">
	<a  onMouseOut="swap('print','[% themelang %]/images/menu-imprimir.png')" 
		onMouseOver="swap('print','[% themelang %]/images/menu-imprimirbis.png')">
	<input onClick="print();return false;"  name="print" id="print" type="image" value="[% 'Imprimir' | i18n %]" 
		src="[% themelang %]/images/menu-imprimir.png" border="0">
	</a>
</p>