<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Formato de Impresi&oacute;n</title>
<style type="text/css">
<!--
.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36pt;
}
.subtitulo {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24pt; }
-->
</style>
</head>

<body>
	<table width="90%"  align="center" cellpadding="4" cellspacing="0" border="0">
	<tr>
	   <td align="center">
        <font class="titulo">Biblioteca </font><br>
        <font class="subtitulo"> Facultad de Ciencias Econ&oacute;micas</font>
        </td>
	<td align="right"><img src="<!-- TMPL_VAR NAME="themelang" -->/images/escudo.png" border="0" alt="Facultad de Ciencias Econ&oacute;micas" ></td>
	</tr>
	<tr><td align="center" colspan="2">
	<a  onMouseOut="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimir.png')" onMouseOver="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimirbis.png')">
	<input onClick="print();return false;"  name="print" id="print" type="image" value="Imprimir"  src="<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png" border="0" title="Imprimir Resultados">
	</a>
	</td></tr>

	<tr >                           
	<td  class="fontresultado" align="center" colspan=2>
  	&nbsp;  Ha realizado una b&uacute;squeda por: <b><!-- TMPL_VAR NAME="viewShelfItems"></b>
	<br><!-- TMPL_VAR NAME="numrecords" --> resultado/s encontrado/s</br>
	<hr>
	</td>
	</tr>


		<tr><td colspan="2">
		<table align="center" cellpadding="4" cellspacing="0" border="1" width="100%">
		<!-- TMPL_LOOP NAME="SEARCH_RESULTS" -->
			<tr >
				<td>

<!-- TMPL_IF NAME="nameparent" --> <!-- TMPL_VAR NAME="nameparent" -->&nbsp;/&nbsp;<!-- /TMPL_IF --><b><!-- TMPL_VAR NAME="shelfname" -->.</b>&nbsp; 
</td>
</tr>
<!-- /TMPL_LOOP  -->
</table>
</td></tr>
<tr><td align="center" colspan="2">
<hr>
<a  onMouseOut="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimir.png')" onMouseOver="swap('print','<!-- TMPL_VAR NAME="themelang" -->/images/menu-imprimirbis.png')">
<input onClick="print();return false;"  name="print" id="print" type="image" value="Imprimir"  src="<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png" border="0" title="Imprimir Resultados">
</a>
</td></tr>

			</table>
</body>
</html>
