<html>

<script language="javascript">
        [% INCLUDE "/includes/md5.js" %]
</script>

<script language="javascript">
function swap(id,src){
	document.getElementById(id).src=src;
}

function verificaClaveUsuario(claveUsu,confirmeClave){
  if (claveUsu.value != confirmeClave.value) {
	jAlert(PASSWORDS_DISTINTAS);
        confirmeClave.value="";
        claveUsu.value="";
        claveUsu.focus();
        return true;
  }else if ( (claveUsu.value == '') || (confirmeClave.value == '') ) {
    jAlert(PASSWORD_EN_BLANCO);
        confirmeClave.value="";
        claveUsu.value="";
        claveUsu.focus();
        return true;
  } else {
  	return false;
  }
}

function enviar(){
	if(!verificaClaveUsuario(document.datos.newpassword1,document.datos.newpassword2)){
		document.datos.newpassword.value= b64_sha256(b64_md5(document.datos.newpassword1.value));
		document.datos.newpassword1.value= "";
		document.datos.newpassword2.value= "";
		document.datos.submit();
	}
}
</script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title> [% "BIENVENIDO AL OPAC DE KOHA" | i18n %]</title>
</head>
<link rel="stylesheet" type="text/css" href="[% themelang %]/includes/main.css">
<body>
<table width="100%" height="100%">
<tr>
<td align="center" valign="middle">
<table width="809" height="426" border="0" background="[% themelang %]/images/background-ppal.png" align="center" cellpadding="0" cellspacing="0">
<tr height="55%"><td colspan="4"> &nbsp;</td></tr>
<tr height="45%">
  <td width="6%" >&nbsp;</td>
  <td  width="32%" valign="top">  
   <table width="100%" height="100%"   border="0" align="center">
       <tr>
       <td  valign="top">
                      
[% IF loggedinuser %]
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top"> 
                <img src="[% themelang %]/images/front-arrow.gif" alt="" border="0">
                                    Logueado como: [% loggedinuser %]<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                    [
                                                [% PERL %]
                                                        print C4::AR::Filtros::link_to( text =>     "( [% 'Miembros' | i18n %]",
                                                        url =>      "/cgi-bin/koha/opac-user.pl", 
                                                        title =>    "[% 'Mi Cuenta' | i18n %]"
                                                        ) ;
                                                [% END %]
                                    ]
                                    [<a href="/cgi-bin/koha/opac-main.pl?logout.x=1">Salir</a>]
            </td>
        </tr>
    </table>
[% ELSE %]
    <form method="post" name="datos">
        <input type="hidden" name="newpassword">
            [% FOREACH INPUTS %]
                <input type="hidden" name="[% name %] value="[% value %]">
            [% END %]
	        <table cellpadding="0" cellspacing="0" border="0">
	        [% IF passwordrepeted %]
	            <tr>
	                <td colspan="2">
                        <img src="[% themelang %]/images/front-arrow.gif" border="0">&nbsp;&nbsp;
                            <font color="red">
                                [% "La contrase&ntilde;a no puede ser la misma que ten&iacute;a" | i18n %]
                            </font>
	                </td>
	            </tr>
	        [% END %]
                <tr>
	            <td colspan="2"><img src="[% themelang %]/images/front-arrow.gif" border="0">&nbsp;&nbsp;
                    [% "Cambio de contrase&ntilde;a obligatorio" | i18n %]
	            </td>
	        </tr>
                <tr>
	            <td class="login"> [% "Nueva Contrase&ntilde;a" | i18n %]:&nbsp;&nbsp;&nbsp;&nbsp;</td>
	            <td class="login"><input type="password" name="newpassword1" size="15"></td>
	        </tr>
                <tr>
	            <td class="login">Repetir Contrase&ntilde;a:&nbsp;&nbsp;&nbsp;&nbsp;</td>
	            <td class="login"><input type="password" name="newpassword2" size="15"></td>
	        </tr>
	            <td align="left" class="login">
	            <a href="#" onMouseOut="swap('enter','[% themelang %]/images/menu-entrar.png')" onMouseOver="swap('enter','[% themelang %]/images/menu-entrarbis.png')">
        <img name="enter" id="enter" src="[% themelang %]/images/menu-entrar.png" border="0"  value="Entrar" onClick="enviar();"></a>
	            </td>
	        </tr>
            </table> 
    </form>
[% END %]
</td></tr>
</table>
</td>
<td width="28%" >&nbsp;</td>
      </tr>
</table>
      </td>
      </tr>
</table>
</table>
</table>
</body>
</html>
