
<br><br>

<table border="0"  width="100%" class="top" >
	<tr>
	<td>
		<table border="0"  width="100%" class="top" >
		<tr>
		<td><!-- TMPL_IF Name="viewshelf" --><!-- TMPL_IF Name="parentloop" -->
			<table  WIDTH=100%  cellpadding="4" cellspAcing="0" border="1" align="center"><!-- TMPL_LOOP Name="parentloop" -->
			<tr class="bordetabla"  bordercolor="#f2f2f2" >
	                        <th align="center">Estante Virtual</th>
                   	</tr>

			<tr  bordercolor="#f2f2f2" >
			<!-- Borrar	-->
                        <!--<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><b><i><a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name="shelfnumber" -->"> <!-- TMPL_IF Name="shelfname" --><!-- TMPL_VAR Name="shelfname" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></a></i></b>-->

			<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><b><i>
			<a class="click" onClick="consultarEstanteVirtual('<!-- TMPL_VAR Name='shelfnumber' -->', '0');"> <!-- TMPL_IF Name="shelfname" --><!-- TMPL_VAR Name="shelfname" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF -->
			</a></i></b>
			</td>

		 	<tr CLASS="bordetabla"  bordercolor="#f2f2f2"></tr>
			<!-- /TMPL_LOOP -->
			<td <!-- TMPL_IF name='even' --> class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- TMPL_VAR Name="shelfname" -->
			</td>
			</tr>
				<table width=100%  cellpadding="4" cellspacing="0" border="0" align="center">
                   		<th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                		</table>

        		</table>
		<!-- /TMPL_IF -->
		</td>
		</tr>
		</table>
<br>
<br>
<!--Tabla que muestra los subestantes-->
<!-- TMPL_IF Name="shelvesloopshelves" -->

		<table WIDTh=100%  align="center" cellpadding="4" cellspacing="0" border="1" align="center">

                <tr class="bordetabla"  bordercolor="#f2f2f2" >
                <th align="center">Estantes Virtuales<!--de <!-- TMPL_VAR Name="shelfname" -->-->
		</th><!-- <th  align="center" width=17%>Cantidad de Estantes</th> <th  align="center" width=17%>Cantidad de Grupos</th>-->
                </tr>

		<tr  bordercolor="#f2f2f2">
 		<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><b><i><!-- TMPL_VAR Name="shelfname" -->
		</td></i></b>
		</tr>

		<!-- TMPL_LOOP Name="shelvesloopshelves" -->
		<tr  bordercolor="#f2f2f2">
                <td <!-- TMPL_IF name='even' --> class='impar' <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign='middle'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<!--<a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name="shelfnumber" -->"><!-- TMPL_IF Name="shelfname" --><!-- TMPL_VAR Name="shelfname" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></a>-->
		
		
		<a class="click" onClick="consultarEstanteVirtual('<!-- TMPL_VAR Name='shelfnumber' -->', '0');">
		<!-- TMPL_IF Name="shelfname" --><!-- TMPL_VAR Name="shelfname" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></a>
		
		</td>
                </tr>
		<!-- /TMPL_LOOP -->

                <tr class="bordetabla"  bordercolor="#f2f2f2">
                	<table width=100% align="center" cellpadding="4" cellspacing="0" border="0" align="center">
                   	<th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                	</table>   
                </tr>
		</table>
<br>
<!-- /TMPL_IF -->


<!-- TMPL_IF Name="bitemsloop" -->

<script language=javascript>

function todos(){
var checks=document.getElementsByTagName("input");
	if (checks.length>0){                           
		for(i=0;i<checks.length;i++){               	
			if((checks[i].type == "checkbox")&&(checks[i].checked)){
				checks[i].checked=false
			}
                        else{checks[i].checked=true}
		}
	}
}

function mandarArreglo(valores){         
	arreglo= new Array();
        var checks=document.getElementsByTagName("input");
        if (checks.length>0){
        	for(i=0;i<checks.length;i++){
        		if((checks[i].type == "checkbox")&&(checks[i].checked)){
				arreglo[arreglo.length]=checks[i].name;
			}
        	}
        }
        valores.value= arreglo.join("#");
}
            
</script>

<form name="printform" action="[% url_prefix %]/opac-shelfprint.pl">
<input TYPE="hidden" VALUE="shelfsContents" NAME="from" >
<input TYPE="hidden" NAME="shelfnumber" VALUE="<!-- TMPL_VAR Name="shelfnumber" -->">
<input TYPE="hidden" NAME="shelfname" VALUE="<!-- TMPL_VAR Name="shelfname" -->">
<input TYPE="hidden" VALUE="pdf" NAME="type" >
<input TYPE="hidden" VALUE="<!-- TMPL_VAR NAME="loggedinuser" -->" NAME="borrower">
               
<!-- Creo un Ancla para posicionarme aqui luego de la busqueda -->
<a name="aResultSearch"></a>
        <table width=100%  align="center" cellpadding="4" cellspacing="0" border="1">
                <tr class="bordetabla"  bordercolor="#f2f2f2" >
		<!-- TMPL_IF NAME='loggedinuser' -->
		<th><a href="#" onclick="todos();"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/check.png" title="Invertir la selecci&oacute;n" border=0></a></th>
		<!-- /TMPL_IF  -->
		<!--<th align="center" width=40%><a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR NAME='shelfnumber' -->&orden=title">T&iacute;tulo</a></th>-->
		<th align="center" width=40%>
			<a class="click" onClick="consultarEstanteVirtual('<!-- TMPL_VAR Name='shelfnumber' -->', '0','title');">T&iacute;tulo</a>
		</th>
                <th  align="center" width=20%>
			<a class="click" onClick="consultarEstanteVirtual('<!-- TMPL_VAR Name='shelfnumber' -->', '0','author');">Autor</a>
		</th>
               	<th  align="center" width=13%>
			<a class="click" onClick="consultarEstanteVirtual('<!-- TMPL_VAR Name='shelfnumber' -->', '0','place');">Lugar</a>
		</th>
		<th  align="center" width=10%>Edici&oacute;n</th>
 		<th  align="center" width=27%>Disponibilidad</th>
                </tr>
		
		<!-- TMPL_LOOP Name="bitemsloop" -->
        	<tr><!-- TMPL_IF NAME='loggedinuser' -->
                	<td <!-- TMPL_IF name='even' --> class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle" align="center"><input type=checkbox name="<!-- TMPL_VAR Name='biblionumber'-->" id="<!-- TMPL_VAR NAME=biblionumber -->"></td>
		    <!-- /TMPL_IF  -->
			<!--<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><a href=[% url_prefix %]/<!-- TMPL_VAR name="script" -->?bib=<!-- TMPL_VAR NAME=biblionumber ESCAPE=URL -->><!-- TMPL_VAR NAME=title ESCAPE=HTML --><!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF --></a></td>-->
			<!--*************************Titulo**************************************-->
			<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
				<a class="click" onClick="consultarDetail('<!-- TMPL_VAR NAME=biblionumber ESCAPE=URL -->', '');"><!-- TMPL_VAR NAME=title ESCAPE=HTML --><!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF -->
				</a>
			</td>
                	
			<!--****************************Borrar***********************************-->
			<!--<td  <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><a href="[% url_prefix %]/opac-searchresults.pl?authorid=<!-- TMPL_VAR NAME=id -->"><!-- TMPL_VAR NAME="completo" --></a></td>-->
			<!--   Autor	 -->
			<td  <!-- TMPL_IF name='even' --> class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
				<a class="click" onClick="consultarAutor(<!-- TMPL_VAR NAME=id -->);"><!-- TMPL_VAR NAME="completo" -->
				</a>
			</td>

		<td  <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><!-- TMPL_IF Name="place" --><!-- TMPL_VAR Name="place" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>

		<td  <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle"><!-- TMPL_IF Name="editors" --><!-- TMPL_VAR Name="editors" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>
		
		<td  <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
		
		<!-- TMPL_LOOP NAME="counts" --><!-- TMPL_VAR NAME="nombre" --> <br> (Para Pr&eacute;stamo:<!-- TMPL_IF name="cantXbranchForLoan" --><!-- TMPL_VAR NAME="cantXbranchForLoan" --><!-- TMPL_ELSE -->0<!-- /TMPL_IF -->,<br> Para Sala de lectura:<!-- TMPL_IF name="cantXbranchNotForLoan" --> <!-- TMPL_VAR NAME="cantXbranchNotForLoan" --><!-- TMPL_ELSE -->0<!-- /TMPL_IF -->
		<!-- TMPL_IF name="cantXbranchShared" -->,<br> Compartidos: <!-- TMPL_VAR name="cantXbranchShared" --><!-- /TMPL_IF -->) <br><br>
		<!-- /TMPL_LOOP -->
		</td>
		</tr>
		<!-- /TMPL_LOOP -->
		
		<tr class="bordetabla"  bordercolor="#f2f2f2">
               		<table align="center" width=100%  cellpadding="4" cellspacing="0" border="0">
                   	<th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                        </table>
		</tr>
		</table>




<!-- hasta aca -->

		<!-- TMPL_IF NAME='loggedinuser' -->
		<input type="hidden" value="" name="bookmarks" id="bookmarks"><a  onMouseOut="swap('ps','<!-- TMPL_VAR NAME='themelang' -->/images/favoritos.png')" onMouseOver="swap('ps','<!-- TMPL_VAR NAME='themelang' -->/images/favoritosbis.png')">  
		<input onClick="printform.target='_self';printform.href='[% url_prefix %]/opac-privateshelfs.pl'; mandarArreglo(printform.bookmarks);submit();"  name="ps" id="ps" type="image" value="publicshelf"  src="<!-- TMPL_VAR NAME='themelang' -->/images/favoritos.png" border="0" title="Agregar a favoritos"></a>
		<!-- /TMPL_IF -->


		<!-- TMPL_IF NAME='MAIL' -->
		<input TYPE="hidden" VALUE="<!-- TMPL_VAR NAME='MAIL' -->" NAME="mail">
		<a  onMouseOut="swap('mail','<!-- TMPL_VAR NAME='themelang' -->/images/mail.png')" onMouseOver="swap('mail','<!-- TMPL_VAR NAME='themelang' -->/images/mailbis.png')">
		<input onClick="printform.target='_self';printform.type.value='mail';submit();"  name="mail" id="mail" type="image" value="Mail"  src="<!-- TMPL_VAR NAME='themelang' -->/images/mail.png" border="0" title="Enviar Resultados por Mail"></a> 
		<!-- /TMPL_IF -->

		<a  onMouseOut="swap('print','<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png')" onMouseOver="swap('print','<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimirbis.png')">
		<input onClick="printform.target='_blank';printform.type.value='print';submit();"  name="print" id="print" type="image" value="Imprimir"  src="<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png" border="0" title="Imprimir Resultados"></a>

		<a  onMouseOut="swap('pdf','<!-- TMPL_VAR NAME='themelang' -->/images/pdf.png')" onMouseOver="swap('pdf','<!-- TMPL_VAR NAME='themelang' -->/images/pdfbis.png')">
		<input onClick="printform.target='_self'; printform.type.value='pdf';submit();" name="pdf" id="pdf" type="image" value="Generar PDF"  src="<!-- TMPL_VAR NAME='themelang' -->/images/pdf.png" border="0" title="Generar archivo PDF"></a>

</form>
<!-- /TMPL_IF -->

<br>
<br>

<!-- TMPL_ELSE -->
<!-- ES la busqueda de estantes virtuales -->
<!-- TMPL_IF Name="viewShelfItems" -->
<!-- ES LA PAGINACION -->
<table width="100%" align="center" class="top" cellpadding=0 cellspacing=0 border=0 >
<tr >
<td  class="fontresultado" align="center">

  &nbsp;  Ha realizado una b&uacute;squeda por: <b><!-- TMPL_VAR NAME="viewShelfItems"></b>
<br><!-- TMPL_VAR NAME="numrecords" --> resultado/s encontrado/s</br>

</td></tr>
</table>
<br>

<!-- TMPL_IF Name="shelvesloop" -->
                <table width=100%  cellpadding="4" cellspacing="0" border="1" align="center">
                   <tr class="bordetabla"  bordercolor="#f2f2f2" >
                        <th align="center" width="50%">Nombre del Estante</th>
                       <!-- <th align="center" width=50%>Nombre del Estante</th>-->
                       <!-- <th  align="center" width=17%>Cantidad de Estantes</th>-->
                       <!-- <th  align="center" width=17%>Cantidad de Grupos</th>-->
                   </tr>

                        <!-- TMPL_LOOP Name="shelvesloop" -->
                         <tr  bordercolor="#f2f2f2">
 				<td <!-- TMPL_IF name="even" -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">
				<!--<a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name='numberparent' -->"><!-- TMPL_IF Name="nameparent" --><!-- TMPL_VAR Name="nameparent" --><!-- TMPL_ELSE --><!-- /TMPL_IF --></a><!-- TMPL_IF name="nameparent" -->&nbsp;/&nbsp;<!-- TMPL_ELSE --><!-- /TMPL_IF -->
				<a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name='shelf' -->"><!-- TMPL_VAR Name="shelfname" --></a>--> 

				<a class="click" onClick="consultarEstanteVirtual('<!-- TMPL_VAR Name='numberparent' -->', '', '', '', '');"><!-- TMPL_IF Name="nameparent" --><!-- TMPL_VAR Name="nameparent" --><!-- TMPL_ELSE --><!-- /TMPL_IF --></a><!-- TMPL_IF name="nameparent" -->&nbsp;/&nbsp;<!-- TMPL_ELSE --><!-- /TMPL_IF -->
				<a class="click" onClick="consultarEstanteVirtual('<!-- TMPL_VAR Name='shelf' -->', '', '', '', '');"><!-- TMPL_VAR Name="shelfname" --></a>
                        </tr>
                        <!-- /TMPL_LOOP -->
                                 <tr bordercolor="#f2f2f2">
                                   <table width=100% cellpadding="4" cellspacing="0" border="0" align="center">
                                        <th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                                   </table>
                                </tr>
                </table>
<!--/TMPL_IF -->


<!-- TMPL_IF Name="shelvesloop" -->

 <table border="0"  align="center"  width="100%" class="top">
        <tr><td align="center">
<form name="printform" action="[% url_prefix %]/opac-shelfprint.pl">
<input TYPE="hidden" VALUE="shelfs" NAME="from" >
<input TYPE="hidden" VALUE="pdf" NAME="type" >
<input TYPE="hidden" VALUE="<!-- TMPL_VAR NAME='loggedinuser' -->" NAME="borrower">
<input TYPE="hidden" VALUE="<!-- TMPL_VAR NAME='numrecords' -->" NAME="num">
<input TYPE="hidden" VALUE="<!-- TMPL_VAR NAME='viewShelfItems' -->" NAME="search">

<!-- TMPL_IF NAME='MAIL' -->
<input TYPE="hidden" VALUE="<!-- TMPL_VAR NAME='MAIL' -->" NAME="mail">
<a  onMouseOut="swap('mail','<!-- TMPL_VAR NAME='themelang' -->/images/mail.png')" onMouseOver="swap('mail','<!-- TMPL_VAR NAME='themelang' -->/images/mailbis.png')">
<input onClick="printform.target='_self';printform.type.value='mail';submit();"  name="mail" id="mail" type="image" value="Mail"  src="<!-- TMPL_VAR NAME='themelang' -->/images/mail.png" border="0" title="Enviar Resultados por Mail">
</a>
<!-- /TMPL_IF -->

<a  onMouseOut="swap('print','<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png')" onMouseOver="swap('print','<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimirbis.png')">
<input onClick="printform.target='_blank';printform.type.value='print';submit();"  name="print" id="print" type="image" value="Imprimir"  src="<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png" border="0" title="Imprimir Resultados">
</a>

<a  onMouseOut="swap('pdf','<!-- TMPL_VAR NAME='themelang' -->/images/pdf.png')" onMouseOver="swap('pdf','<!-- TMPL_VAR NAME='themelang' -->/images/pdfbis.png')"><input onClick="printform.target='_self'; printform.type.value='pdf';submit();" name="pdf" id="pdf" type="image" value="Generar PDF"  src="<!-- TMPL_VAR NAME='themelang' -->/images/pdf.png" border="0" title="Generar archivo PDF">
</a>
   </td></tr>
</table>


<br>
<table width="100%" align="center" class="top"><tr>
<td  align="center" class="fontresultado">

Resultados <b><i><!-- TMPL_VAR NAME="startfrom" --></i></b> a  <b><i><!-- TMPL_VAR NAME="endat" --></i></b> de <b><i><!-- TMPL_VAR NAME="numrecords" --></i></b> registro/s obtenido/s.
        <hr>
<!-- TMPL_ELSE -->
<table width="100%" align="center" class="top" cellpadding=0 cellspacing=0 border=0 >
<tr><td align="center" class="fontresultado">
        B&uacute;squeda sin resultados. <br>
        <hr>
<!-- /TMPL_IF -->
 Intentar una nueva <a href="[% url_prefix %]/opac-search.pl">b&uacute;squeda</a>

</td></tr></table>


<!-- TMPL_ELSE -->
<!-- es ver todos los estantes -->

		<br>
		<table width=100%  cellpadding="4" cellspacing="0" border="1" align="center">
		   <tr class="bordetabla"  bordercolor="#f2f2f2" >
                        <th  class="bordetabla"  bordercolor="#f2f2f2">&nbsp;</th>
 			<!--<th  align="center" width=17%>Cantidad de Estantes</th>-->
			<!--<th  align="center" width=17%>Cantidad de Grupos</th>-->
	           </tr>
                        
			<!-- TMPL_LOOP Name="shelvesloop" -->
			 <tr  bordercolor="#f2f2f2">   
				<td <!-- TMPL_IF name='even' -->class="impar" <!-- TMPL_ELSE -->class="par"<!-- /TMPL_IF --> valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<!--<a href="opac-shelves.pl?viewshelf=<!-- TMPL_VAR Name='shelf' -->"><!-- TMPL_IF Name="shelfname" --><!-- TMPL_VAR Name="shelfname" --><!-- TMPL_ELSE -->--------<!-- /TMPL_IF -->
				</a>--> 

				<a class="click" onclick="consultarEstanteVirtual('<!-- TMPL_VAR Name='shelf' -->', '', '', '', '');"><!-- TMPL_IF Name="shelfname" --><!-- TMPL_VAR Name="shelfname" --><!-- TMPL_ELSE -->--------<!-- /TMPL_IF -->
				</a>
			</tr>
			<!-- /TMPL_LOOP -->
                          	 <tr bordercolor="#f2f2f2">
                		   <table width=100% cellpadding="4" cellspacing="0" border="0" align="center">
                   			<th class="bordetabla"  bordercolor="#f2f2f2" ></th>
                		   </table>
                		</tr>
		</table>
<br>


<!-- /TMPL_IF -->
<!-- /TMPL_IF -->

