[% INCLUDE 'opac-top-login.inc' %]
<script>
    function enviar(){
        var nroRandom= [% nroRandom %];
        var username = $.trim($("#username").val());
        hash= b64_sha256(b64_sha256(b64_md5($("#password_plain").val()))+nroRandom);
        $("#password").val(hash);
        $("#userid").val(username);
        $("#datosAEnviar").submit();
    }
</script>

<script type="text/javascript">

    $(document).ready(function() {
        //onEnter con foco en input, ejecuta la busqueda
          onEnter("username",enviar);
          onEnter("password_plain",enviar);
          $('#username').focus();
    });

</script>

</head>
<body>
<noscript>
    <div class='tableMsgUser'>
        <font class='fontMsgUser'>
                <b>[% 'Su navegador no soporta o no tiene habilidato Javascript' | i18n %]</b>
        </font>
    </div>
</noscript>
[% IF mensaje %]
  <div class='tableMsgUser'><font class='fontMsgUser'><b><div id='mensajes' class="mensajes_informacion auth_info">[% mensaje %]</div></b></font></div>
[% END %]

<center>

<!--<form action='[% url_prefix %]/opac-main.pl' method="post" name="datosAEnviar" id="datosAEnviar">
        <input type="hidden" name="userid" id="userid" >
        <input type="hidden" name="password" id="password">
</form>

<div id="login">
    <div id="contenido_login">
        <div class="entry">     
                <label for="username" class="login">[% 'Identificaci&oacute;n:' | i18n %]</label>
                <input size=15  name="username" id="username" >
        </div>
        <div class="entry">
                <label for="password_plain" class=login">[% 'Contrase&ntilde;a:' | i18n %]</label>
                <input  size=15 type="password" name="password_plain" id="password_plain">
        </div>
        <div id="boton_login">
            [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Entrar' | i18n %]",
                                                                    boton   => "boton_entrar",
                                                                    onClick => "enviar(); return(false);",
                                                                    title   => "[% 'Entrar' | i18n %]",
                                                                    width   => "auto",
                                        ) ;
            [% END %]
      </div>
    </div>-->
</div>
