[% INCLUDE "intranet-top.inc" %]

<script language="javascript" type="text/javascript">

var objAH;
function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function consultar(){
	var isbn=$("#isbn").val();
	var titulo=$("#titulo").val();
	if(isbn != "" || titulo != ""){
		objAH=new AjaxHelper(updateInfo);
		objAH.url= "/cgi-bin/koha/busquedas/busqEjemplar.pl";
		objAH.funcion= 'changePage';
		objAH.isbn= isbn;
		objAH.titulo= titulo;
		objAH.sendToServer();
	}
	else{
		jAlert('[% "Ingrese un dato para realizar la busqueda" | i18n %]');
	}

}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
}


$(document).ready(function(){
	onEnter("isbn",consultar);
	onEnter("titulo",consultar);
});

function swap(id,src){
	document.getElementById(id).src=src;
}


function agregarEjemplar(id1){
	var itemtype=$("#"+id1).val();
	if(itemtype !=  -1){
		location.href="../catalogacion/estructura/agregarItem.pl?origen=adminEj&id1="+id1+"&itemtype="+itemtype;
	}
	else{
		jAlert('[% "Eliga el esquema de catalogo para agregar un item" | i18n %]');
	}
}

</script>

<p class="titulos">[% "Administraci&oacute;n de ejemplares" | i18n %]</p>

<span class="recuadroAyuda">&nbsp;[% "Para agregar una nueva descripci&oacute;n bibliogr&aacute;fica o un nuevo ejemplar, ingrese el n&uacute;mero de ISBN o ISSN:" | i18n %] &nbsp;</span>


<p><label for="isbn" style="float: left; width:15%">ISBN:</label>
	
<input type="text" name="isbn" id="isbn">

<a onClick="consultar();" 
   onMouseOut="swap('go','[% themelang %]/images/boton-ir.png')" 
   onMouseOver="swap('go','[% themelang %]/images/boton-irbis.png')">

   <input type="image" name="go" id="go" alt="Ir" src="[% themelang %]/images/boton-ir.png" border="0">
</a>
</p>
<label for="titulo" style="float: left; width:15%">[% "T&iacute;tulo:" | i18n %]</label>
<input type="text" name="titulo" id="titulo">

<br>
<br>
<hr>
<div id="result"></div>


[% INCLUDE "intranet-bottom.inc" %]