<center>

        <p>[% "Resultados de la B&uacute;squeda de un ejemplar" | i18n %]</p>
        
        <p>
        [% "Ha buscado por" | i18n %] 
            <b>
                [% IF isbn %]
                    ISBN [% isbn %]
                [% END %]
                
                [% IF titulo %]
                    [% "t&iacute;tulo" | i18n %] [% titulo %]
                [% END %]
            </b>
        <br>
        [% "Resultados encontrados:" | i18n %] [% cantidad %]<br>
        </p>
        
        
        <table width="100%" cellpadding="0">
                <tr>
                        <td>[% "Descripciones bibliogr&aacute;ficas" | i18n %]</td>
                </tr>
        </table>
        
        [% paginador %]
        
        <table class="tablaResult" border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr align="left" class="titulo_tabla_resultadotitulo">
                        <td>[% "T&iacute;tulo" | i18n %]</td>
                        <td>[% "Autor" | i18n %]</td>
                        <td>[% "Esquema de catalogo" | i18n %]</td>
                        <td>&nbsp;</td>
                </tr>
                [% IF result %]
                    [% FOREACH result %]
                        <tr>
                                
                                <td>
                                    [% titulo %]
                                    [% IF unititle %]
                                        :&nbsp;[% unititle %]
                                    [% END %] 
                                </td>
                                <td> [% autor %]</td>
                                <td>[% combo %]</td>
                                <td><a  class="click" onClick="agregarEjemplar('[% id1 %]')">[% "Agregar grupo" | i18n %]</a></td>
                                
                        </tr>
                    [% END %]
                [% ELSE %]
                        <tr>
                        <td align="center" colspan="6">
                                    [% "No se encontr&oacute; nada" | i18n %]
                        </td>
                        </tr>
                [% END %]
        </table>
        <br>
        <table width="100%" cellpadding="0">
                <tr>
                        <td>[% "Descripciones bibliogr&aacute;ficas en breeding farm" | i18n %]</td>
                </tr>
        </table>
        
        <table  class="zebra" border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr class="titulo_tabla_resultadotitulo">
                        <td><b>[% "T&iacute;tulo" | i18n %]</b></td>
                        <td><b>[% "Autor" | i18n %]</b></td>
                        <td><b>[% "ISBN" | i18n %]</b></td>
                        <td><b>[% "Viene desde" | i18n %]</b></td>
                        <td><b>&nbsp;</b></td>
                        <td>&nbsp;</td>
                </tr>
                [% IF breeding_loop %]
                    [% FOREACH breeding_loop %]
                            <tr valign="middle">
                               
                                <td>
                                    [% title %]
                                    [% IF unititle %] 
                                        :&nbsp;[% unititle %]
                                    [% END %]
                                </td>
                                <td> [% author %]</td>
                                <td>[% isbn %]</td>
                                <td>[% file %]</td>
                                [% IF ! NOTMARC %]
                                    <td>
                                        <a href="addbiblio.pl?breedingid=[% id %]">
                                            [% "Agregar&nbsp;ejemplar" | i18n %]
                                        </a>
                                    </td>
                                [% END %]
                               
                            </tr>
                    [% END %]
                [% ELSE %]
                        <tr>
                                <td align="center" colspan="8">
                                    [% "No se encontr&oacute; nada" | i18n %]
                                </td>
                        </tr>
                [% END %]
        
        </table>
        <br>
        <a  href="../catalogacion/estructura/agregarItem.pl" class="button">
            [% "Crear descripci&oacute;n bibliogr&aacute;fica vac&iacute;a" | i18n %]
        </a>
        <br>
</center>
