


 
<script>
function detalleDiccionario(keyword2){

var params= 	'dictionary=' + keyword2 + '&dicdetail=1' ; 

	$.ajax({	type: "POST",
			url: "[% url_prefix %]/busquedas/diccionario.pl",
			data: params,
			complete: function(ajax){
					$('#resultBusqueda').html(ajax.responseText);
					$(".zebra tr:even").addClass("impar");
					//se oculta busqueda avanzada
					//$("#busqueda").slideToggle('fast');	
					$("#volver").hide();
					$("#busqueda").slideUp('fast');	
					$("#resultBusqueda").slideDown("fast");
				}
	});

}
</script>
<center>
Ha Buscado por <b> diccionario:
<!-- TMPL_VAR NAME=value -->,  </b>

<!-- TMPL_VAR NAME=numrecords --> resultados encontrados
<p>

<center>
<!-- TMPL_VAR NAME="paginador" -->
</center>

<table>
<tr><td valign="top">
<ul>
<!-- TMPL_LOOP NAME=SEARCH_RESULTS -->
  <li>
    <!-- TMPL_IF NAME=direct -->
      <a class="click" onClick="mostrarDetalle('<!-- TMPL_VAR NAME='id1' -->');" title="Mostrar Detalle">
	<!-- TMPL_VAR NAME="keyword" ESCAPE=HTML --> <!-- TMPL_IF NAME=show --><font size="2"><i>(<!-- TMPL_VAR NAME="title" ESCAPE=HTML --><!-- TMPL_IF NAME="unititle" -->: <!-- TMPL_VAR NAME="unititle" ESCAPE=HTML--><!-- /TMPL_IF --><!-- TMPL_IF NAME="author" --> - <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF -->)</i></font>

<!-- TMPL_LOOP NAME="grupos" -->
-
<!-- TMPL_IF name="edicion" --><!-- TMPL_VAR NAME="edicion" --><!-- /TMPL_IF -->&nbsp; <!-- TMPL_IF name="publicationyear" -->(<!-- TMPL_VAR NAME="publicationyear" -->)<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="volume" -->        t <!-- TMPL_VAR NAME="volume" --> 
<!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->

<!-- /TMPL_IF --></a>
    <!-- TMPL_ELSE -->
      <a class="click" onClick="detalleDiccionario('<!-- TMPL_VAR NAME='keyword2' -->');" title="Mostrar Detalle" ><b><!-- TMPL_VAR NAME="keyword" ESCAPE=HTML --></b></a>
    <!-- /TMPL_IF -->
  </li>
  <!-- TMPL_IF NAME=jump -->
	</ul></td><td valign="top"><ul>
  <!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
</ul>
</td></tr>
</table>

<br><br>


