[% INCLUDE "intranet-top.inc" %]

<script src="/intranet-tmpl/blue/includes/seleccionCamposMarc.js"></script>
<script src="/intranet-tmpl/blue/includes/crearComponentes.js"></script>


<script>
        function verEstante(estante){
        var params= 	'viewshelf=' + estante;
        
                $.ajax({	type: "POST", 
                                url: "/cgi-bin/koha/estantes/verEstante.pl",
                                data: params,
        // 			beforeSend: Init,
                                complete: function(ajax){
                                                $('#resultBusqueda').html(ajax.responseText);
                                                $(".zebra tr:even").addClass("impar");
                                                //se oculta busqueda avanzada
                                                //$("#busqueda").slideToggle('fast');	
                                                $("#volver").hide();
                                                $("#busqueda").slideUp('fast');	
                                                $("#resultBusqueda").slideDown("fast");
        // 					HiddeState();
                                        }
                });
        
        }
        
        function verSubEstanteVirtual(shelf){
                
                objAH=new AjaxHelper(updateVerEstanteVirtual);
                objAH.debug= true;
                objAH.url= 'estanteVirtualDB.pl';
                objAH.shelves= shelf;
                objAH.tipo= 'VER_SUBESTANTE';
                //se setea la funcion para cambiar de pagina
                objAH.funcion= 'changePage';
                //se envia la consulta
                objAH.sendToServer();
        
        }
        
        function updateVerEstanteVirtual(responseText){
                
                $('#resultBusqueda').html(responseText);
        // 	$(".zebra tr:even").addClass("impar");
                zebra('zebra');
                $("#volver").hide();
                $("#busqueda").slideUp('fast');	
                $("#resultBusqueda").slideDown("fast");
        }
        
</script>
<div>
<p align="center">
    [% "T&eacute;rmino de b&uacute;squeda:" | i18n %] <b> 
                                                            [% buscoPor %]
                                                      </b>
</p>

</div>


<table border=0 cellspacing=0 cellpadding=0 width=100% class="zebra">

	<tr class="tablaresultadoTitle">
		<td width="2%" align="left" valign="top"><img src="[% themelang %]/images/izquierda.png">

		</td>
		<td width="35%">
		</td>
		
		<td width="2%" align="right" valign="top"><img src="[% themelang %]/images/derecha.png">
		</td>

	</tr>


<!-- Actual Resultados de la b&uacute;squeda -->
[% FOREACH SEARCH_RESULTS %]
	<tr>
		<td>&nbsp;</td>
		<td>
                    [% IF parentname %]
                        <b>
                            <i>
                                <a href="#" onclick="verEstante('[% shelfnumberParent %]')">
                                    [% parentname %]
                                </a>
                            </i>
                        </b>&nbsp;/&nbsp; 
                    [% END %]
    
                    <a href="#" onclick="verEstante('[% shelf %]')">
                                        [% shelfname %]
                    </a>
        	</td>
		<td height=25>&nbsp;</td>
	</tr>
[% END %]

</table>

<br>
[% INCLUDE "intranet-bottom.inc" %]