
[% INCLUDE "intranet-top.inc" %]
<!-- FIXME no se usa mas -->
<!-- <script type="text/javascript" src="/includes/jquery/jquery-highlight-min.js"></script> -->
<script type="text/javascript" src="/intranet-tmpl/includes/estantesVirtuales.js"></script>
<script type="text/javascript" src="/intranet-tmpl/includes/busquedasCatalogo-min.js"> </script>


<script type="text/javascript">

$(document).ready(function() {

    onEnter('keyword',buscar,true);
    onEnter('titulo',buscar,true);
    onEnter('autor',buscar,true);
    onEnter('signatura',buscar,true);
    onEnter('dictionary',buscar,true);
    onEnter('isbn',buscar,true);
    onEnter('codBarra',buscar,true);
    onEnter('tema',buscar,true);
    onEnter('estante',buscar,true);
    
    $("#volver").hide();

    $("#volver").click(function(){
        //muestro el resultado de la busqueda
        $("#resultBusqueda").slideDown("fast");
        $("#volver").hide();
    });

    $("#filtrosBusqueda").show();
    makeToggle('filtrosBusqueda','trigger',null,false);
    
   
});

function limpiarArriba(){
	$('#keyword').val('');
}

function limpiarCentro(){

}

function limpiarAbajo(){

    $('#titulo').val('');
    $('#autor').val('');
    $('#signatura').val('');
    $('#isbn').val('');
    $('#dictionary').val('');
    $('#codBarra').val('');
    $('#tema').val('');
    $('#estante').val('');
}

function limpiarCampos(side){

    if (side == 'arriba'){
        limpiarCentro();
        limpiarAbajo();
    }else{
    	limpiarArriba();
        limpiarCentro();
    }
}

</script>

<!-- PARA PODER CREAR EL FORMULARIO -->
<div id="formulario"></div>

<section class="center-section-form">
			<div id="filtrosBusqueda" class="filtrosBusqueda">
	            <form id="busqueda_combinada" class="form-horizontal" onsubmit="return false;">
		            <fieldset>
		                <legend class="titulo_legend"><strong>[% "B&uacute;squeda combinada" | i18n %]</strong></legend>
		                    <div class="control-group">
			                    <label class="control-label" for="keyword">
			                        <strong>[% "B&uacute;squeda combinada" | i18n %]</strong>
			                    </label>
			                    <div class="controls"> 
				                    <input type="text" id="keyword" size="25" onkeypress="limpiarCampos('arriba')">
				                    [% PERL %]
				                        print C4::AR::Filtros::getComboMatchMode();
				                    [% END %]
			                    </div>
		                    </div>
		            </fieldset>
		          </form>
			</div> 
			<div>
	            <form id="busqueda_simple" class="form-horizontal" onsubmit="return false;">
		            <fieldset>
		            <legend class="titulo_legend"><strong>[% "B&uacute;squeda espec&iacute;fica" | i18n %]</strong></legend>
		                <div class="control-group">
						      <label class="control-label" for="titulo"> 
						          <strong>[% "T&iacute;tulo" %]</strong>
						      </label>
						     <div class="controls"> 
							     <input type="text"  size="25" id="titulo" onkeypress="limpiarCampos('abajo')">
							
							    <input name="tipo" type=radio id=tipo value="normal" checked>
							                    [% "Normal" | i18n %]
							    <input name="tipo" type=radio id=tipo value="exacto">
							                    [% "Exacto" | i18n %]
		                    </div>
						</div>
						
	                  <div class="control-group">
	                        <label class="control-label" for="autor">
	                            <strong>[% "Autor" %]</strong>
	                        </label>
	                        <div class="controls">
	                          <input type="text" size="25" id="autor" onkeypress="limpiarCampos('abajo')">
	                        </div>
	                  </div>
		                <div class="control-group">
		                    <label class="control-label" for="isbn">
		                        <strong>ISBN</strong>   
		                    </label>
		                    <div class="controls">
		                       <input type="text" id="isbn" size="25"  onkeypress="limpiarCampos('abajo')">
	                       </div>
		                </div>
	                  <div class="control-group">
	                    <label class="control-label" for="tipo_nivel3_id">
	                        <strong>[% "Tipo de documento" | i18n %]</strong> 
	                    </label>
	                    <div class="controls">
	                        [% comboTipoDocumento %]
	                    </div>
	                  </div>
	                  
	                   <div class="control-group">
	                       <label class="control-label" for="tema">
	                           <strong>[% "Tema" | i18n %]</strong>
	                       </label>
	                       <div class="controls">
	                            <input type="text" size="25" id="tema"  onkeypress="limpiarCampos('centro')">
	                       </div>
	                   </div>
	                   <div class="control-group">
	                       <label class="control-label" for="estante">
	                           <strong>[% "Estantes Virtuales" | i18n %]</strong>
	                       </label>
	                       <div class="controls">
	                            <input type="text" size="25" id="estante" onkeypress="limpiarCampos('centro')">
	                       </div>
	                   </div>
	
	                <div class="control-group">
	                    <label class="control-label" for="codBarra">
	                        <strong>[% "C&oacute;digo de barras" | i18n %]</strong>
	                    </label>
	                    <div class="controls">
	                        <input type="text" size="25" id="codBarra" onkeypress="limpiarCampos('centro')">
	                    </div>
	                </div>
	
	                 <div class="control-group">
	                       <label class="control-label" for="signatura">
	                           <strong>[% "Signatura Topogr&aacute;fica" | i18n %]</strong>
	                       </label>
	                       <div class="controls">
	                            <input type="text" size="25" id="signatura"  onkeypress="limpiarCampos('abajo')">
	                       </div>
	                 </div>
	           </fieldset>
	
	          <div class="form-actions">
	                    <div class="control-group">
	                            <input type="hidden" name="type" value="intra">
	                            <label class="control-label" for="only_available">
	                                <strong>[% "Solo disponibles para pr&eacute;stamo" | i18n %]</strong>
	                            </label>
	                            <div class="controls">
	                                <input type="checkbox" id="only_available" name="only_available">
					                [% PERL %]
					                                    print C4::AR::Filtros::to_Button(   text    => "[% 'Buscar' | i18n %]",
					                                                                        onClick => "buscar();",
					                                                                        boton    => "btn-large btn btn-primary",
					                                            ) ;
					                [% END %]
                                </div>
	                    </div>
	                </ul>
            </div>
       </form>
    </div>
</section>
<div id="resultBusqueda" class="resultBusqueda"></div>

<div style="text-align: center; cursor:pointer;">
    <span id="volver">Volver</span>
</div>

[% INCLUDE "intranet-bottom.inc" %]
