
[% INCLUDE "intranet-top.inc" %]

<script language="javascript" type="text/javascript" src="/includes/jquery/jquery-highlight.js"></script>
<script language="javascript" type="text/javascript" src="/intranet-tmpl/includes/busquedasCatalogo.js"> </script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {

    registrarKeypress('INPUT');

    $("#volver").hide();

    $("#volver").click(function(){
        //muestro el resultado de la busqueda
        $("#resultBusqueda").slideDown("fast");
        $("#volver").hide();
    });

    $("#filtrosBusqueda").show();
    $("#showBusqueda p.showBusqueda ").click(function(){
						$("#volver").hide();
						if($("#showBusqueda p.showBusqueda ").html() == "[-]"){
							$("#showBusqueda p.showBusqueda ").html("[+]");
							$("#resultBusqueda").slideUp("slow");
							$("#filtrosBusqueda").slideDown("slow");
						}else{
							$("#showBusqueda p.showBusqueda ").html("[-]");
							$("#resultBusqueda").slideDown("slow");
							$("#filtrosBusqueda").slideUp("slow");
						}
//  						$("#filtrosBusqueda").slideToggle('fast');
						//oculto el resultado de la busqueda
// 						$("#resultBusqueda").slideUp("fast");
 	});

// // Vengo del detalle con el nombre del autor busca los documentos que escribio ese autor.
// //o del inicio para la busqueda combinada
// 	var array = location.href.split('?');
// 	if (array.length >1){
// 		var array=array[1].split('&');
// 		var origen=array[0].split('=')[1];
// 		if(origen == "detalle"){
// 			var idAutor=array[1].split('=')[1];
// 			buscarPorAutor(idAutor);
// 		}
// 		else{
// 			$('#keyword').val(array[1].split('=')[1]);
// 			busquedaPorKeyword();
// 		}
// 	}
});

function limpiarCampos(side){

    if (side == 'izquierda'){
        $('#keyword').val('');
        $('#isbn').val('');
        $('#dictionary').val('');
        $('#codBarra').val('');
        $('#tema').val('');
        $('#estante').val('');
    }else{
        $('#titulo').val('');
        $('#autor').val('');
        $('#signatura').val('');
    }
}

</script>

<!-- PARA PODER CREAR EL FORMULARIO -->
<div id="formulario"></div>

<div id="showBusqueda" style="text-align: right; cursor:pointer; width: 10px; ">
	<p class="showBusqueda" title="Busqueda Avanzada">[-]</p>
</div>

<div id="filtrosBusqueda">
	<span class="titulos">[% "B&uacute;squeda Avanzada en el cat&aacute;logo" | i18n %]</span>
	<div class="formElemets">
        <div id="busqueda_combinada">
        <fieldset>
            <legend><strong>[% "B&uacute;squeda combinada" | i18n %]</strong></legend>
            <ul id="simple">
                <li class="sub_item">
                <strong>[% "B&uacute;squeda combinada" | i18n %]</strong>
                <input type="text" id="keyword" size="25" onkeypress="limpiarCampos('derecha')">
			    </li>
            </ul>
        </fieldset>
       </div> 
        <div id="busqueda_simple">
        <fieldset>
        <legend><strong>[% "B&uacute;squeda simple" | i18n %]</strong></legend>
			<ul>
             <li class="sub_item">
			    <strong>ISBN</strong>
             	<input type="text" id="isbn" size="25"readonly onkeypress="limpiarCampos('derecha')">
			 </li>
			
			 <li class="sub_item">
    			<strong>[% "B&uacute;squeda por diccionario" | i18n %]</strong>
         		<input type="text" size="25" id="dictionary" readonly onkeypress="limpiarCampos('derecha')">
			 </li>		
			 <li class="sub_item">
    			<strong>[% "C&oacute;digo de barras" | i18n %]</strong>
	    		<input type="text" size="25" id="codBarra" readonly onkeypress="limpiarCampos('derecha')">
			 </li>
             <li class="sub_item">
			<strong>Tema</strong>
			<input type="text" size="25" id="tema" readonly onkeypress="limpiarCampos('derecha')">
			</li>
			<li class="sub_item">
			<strong>[% "Estantes Virtuales" | i18n %]</strong>
			<input type="text" size="25" id="estante" readonly onkeypress="limpiarCampos('derecha')">
			</li>
           </ul>
        </fieldset>
       </div>

      <div id="busqueda_especifica">
      <fieldset>
            <legend><strong>[% "B&uacute;squeda espec&iacute;fica" | i18n %]</strong></legend>
		    <ul id="combinada">
			   <li class="sub_item"> 
                <strong>[% "Tipo de documento" | i18n %]</strong> 
                        [% comboTipoDocumento %]
			    </li>
    
			   <li class="sub_item"> 
			    <strong>T&iacute;tulo</strong>
			    <input type="text"  size="25" id="titulo" onkeypress="limpiarCampos('izquierda')">
			    <p valign="top" align="right">
			    <input name="tipo" type=radio id=tipo value="normal" checked>
                                    [% "Normal" | i18n %]
			    <input name="tipo" type=radio id=tipo value="exacto">
                                    [% "Exacto" | i18n %]
			    </p>
			    </li>
			   <li class="sub_item"> 
			    <strong>Autor</strong>
			    <input type="text" size="25" id="autor" onkeypress="limpiarCampos('izquierda')">
			    </li>
    
			   <li class="sub_item"> 
			    <strong>[% "Signatura Topogr&aacute;fica" | i18n %]</strong>
			    <input type="text" size="25" id="signatura" onkeypress="limpiarCampos('izquierda')">
			    </li>
	                
		    </ul>
      </fieldset>
	  </div>
      <div align ="center">
		    <ul>
			    <li>
			    <input type="hidden" name="type" value="intra">
                    <div>
                        [% PERL %]
                                print C4::AR::Filtros::to_Button(   text    => "[% 'Buscar' | i18n %]",
                                                                    boton   => "boton_buscar",
                                                                    onClick => "buscar();",
                                                                    title   => "[% 'Buscar en el cat&aacute;logo' | i18n %]",
                                        ) ;
                        [% END %]
                    </div>
                    <div>
                        [% PERL %]
                                    print C4::AR::Filtros::to_Button(   text    => "[% 'Mostrar Estantes' | i18n %]",
                                                                        boton   => "boton_buscar",
                                                                        onClick => "mostrarEstantes();",
                                                                        title   => "[% 'Mostrar Estantes' | i18n %]",
                                            ) ;
                            [% END %]
		            </div>
			    </li>
		    </ul>
	    </div>
   </div><!--formElementos-->

</div><!--filtrosBusqueda-->


</fieldset> <!-- countournDiv -->
<div id="resultBusqueda"></div>

<div style="text-align: center; cursor:pointer;">
	<span id="volver">Volver</span>
</div>

[% INCLUDE "intranet-bottom.inc" %]
