
<div class='tableMsgUser'>
    <font class='fontMsgUser'>
            <strong>
            <div class="mensajes_informacion">
                [% message_error %]
            </div>
            </strong>
    </font>
</div>


