<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <meta http-equiv="cache-control" content="no-cache" />
	  <meta http-equiv="expires" content="1" />
    </head>
	<body style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif; background-color: #f2f1ed; color: #666">
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif; padding: 6px; margin: 0 auto; width: 650px;">
                    <tr>
                        <td valign="top">
                            <table width="100%" cellpadding="0" cellspacing="0" style="border: 5px solid #bcbbb9; background-color: #fff;" >
                                <tr>
                                    <td style="padding: 1px;">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: #6E6E6E;">
                                                        <tr>
                                                            <td width="340" style="padding: 12px 20px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;"><a href="[% server_name %]" style="color:#fff; text-decoration:none; font-size:26px;"><strong>MERAN</strong></a></td>
                                                            <td align="right" valign="middle" style="padding: 12px 20px; font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;"><span style="font-size:14px;color:#e2ebd8;">[% nombre_ui %]</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 20px; font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif; color: #333;">       
                                                    <p>[% mail_content %]</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" class="efooter" style="font-size: 9px; text-align: center; padding: 6px; font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif; color: #999;">
                        <p>
                <div class="footer">
		          <p>@2011 - [% ui.getNombrePDF %] | Biblioteca P&uacute;blica</p>
		          <p class="credits">
		
		              Powered by <a href="http://meran.linti.unlp.edu.ar" target="_blank" title="MERAN">MERAN</a> 
		
		              | <a href="http://validator.w3.org/check?uri=referer" target="_blank" title="Validate XHTML code">W3C XHTML 1.0</a> 
		
		              | <a href="http://jigsaw.w3.org/css-validator/" target="_blank" title="Validate CSS code">W3C CSS 2.0</a>
		
		          </p>
		
		        </div>
        </table>
	</body>
</html>
