<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/jquery/tablesorter/jquery.tablesorter.js"></script>
<link href="/intranet-tmpl/blue/es2/includes/jquery/tablesorter/blue/style.css" type="text/css" rel="stylesheet">
<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/MessageHelper.js"></script>

<!-- TMPL_INCLUDE NAME="../includes/popups/helpCamposMARC.inc" -->

<script>

function cambiarVisibilidad(idEstCat){

	objAH=new AjaxHelper(armarTablaVisualizacion);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
	objAH.id= idEstCat;
	objAH.visible= $('#' + idEstCat).val();
	objAH.tipoAccion= 'CAMBIAR_VISIBILIDAD';
	//se envia la consulta
	objAH.sendToServer();
}


function eleccionCampoX(accion){

	objAH=new AjaxHelper();
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacResults.pl';
	objAH.accion= 'SELECCION_CAMPO';
	objAH.campoX= $('#campoX').val();
	objAH.encabezados= $('#encabezados').val();
	objAH.nivel= $('#nivel').val();
	objAH.onComplete= updateEleccionCampoX;
	//se envia la consulta
	objAH.sendToServer();
}

function updateEleccionCampoX(responseText){
	$('#result').show();
	$('#result').html(responseText);
}

function eleccionCampo(accion){

	objAH=new AjaxHelper(updateEleccionCampo);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacResults.pl';
	objAH.campoX= $('#campoX').val();
	objAH.encabezados= $('#encabezados').val();
	objAH.campo= $('#campo').val();
	objAH.accion= 'SELECCION_SUB_CAMPO';
	objAH.nivel= $('#nivel').val();
	objAH.itemtype= $('#comboTiposItems').val();
	//se envia la consulta
	objAH.sendToServer();
}

function updateEleccionCampo(responseText){
	$('#result').html(responseText);
	$('#guardar')[0].disabled = false;
}

function seleccionarEncabezado(id){
	
	//oculto el boton de guardar
	$('#guardar').show();
	//oculto el boton de modificar
	$('#modificar').hide();
	$('#idEncabezado').val(id);
	eleccionCampoX();
	//muestro la tabla con resultados catalogados
	armarTablaVisualizacion();
}

function modificarDatos(){

	objAH=new AjaxHelper(updateModificarDatos);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
	objAH.textoPredecesor= $('#textoPredecesor').val();
	objAH.textoSucesor= $('#textoSucesor').val(); 
	objAH.separador= $('#separador').val();
	objAH.idestcatopac= idestcatopac;
	objAH.tabla= 'ESTRUCTURA_VISUALIZACION';
	objAH.tipoAccion= 'UPDATE';
	//se envia la consulta
	objAH.sendToServer();

}

function updateModificarDatos(){
	//arma la tabla de configuracion de visualizacion 
	armarTablaVisualizacion();
	//eleccionCampoX();
	$('#result').slideUp('slow');
	$('#modificar').hide();
}

//para guardar el id de la fila seleccionada
var idestcatopac;

function modificarVisualizacion(textpred, textsucc, separador, id){

	objAH=new AjaxHelper(updateModificarVisualizacion);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacResults.pl';
	objAH.idestcatopac= id;
	objAH.tipoAccion= 'SELECT';
	objAH.componente= 'CONF_CAMPO_SUBCAMPO';

	idestcatopac= id;
	//se envia la consulta
	objAH.sendToServer();
}

function updateModificarVisualizacion(responseText, textpred, textsucc, separador, tipo){
// como paso los parametros textsucc, separador, etc!!!!!!!!!!
	$('#result').html(responseText);	
	$('#textoPredecesor').val(textpred);
	$('#textoSucesor').val(textsucc);
	$('#separador').val(separador);

	$('#seleccionCampos').hide();
	$('#guardar').hide();
	$('#modificar').show();
	$('#textoPredecesor').focus();
}

function seleccionarCampos(){

	objAH=new AjaxHelper(updateSeleccionarCampos);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacResults.pl';
	//se envia la consulta
	objAH.sendToServer();
}

function updateSeleccionarCampos(responseText){
	$('#result').html(responseText);
}

function validarDatosEncabezado(){
	if($('#nomEncabezadoAlta')[0].value == ""){
		alert('Ingrese el encabezado');
		$('#nomEncabezadoAlta')[0].focus();
	}else {
		saveEncabezado();
		closeWindow();
	};
}

function saveConfVisualizacion(){

	objAH=new AjaxHelper(updateSaveConfVisualizacion);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
	objAH.textoPredecesor= $('#textoPredecesor').val();
	objAH.textoSucesor= $('#textoSucesor').val();
	objAH.separador= $('#separador').val();
	objAH.campo= $('#campo').val();
	objAH.subCampo= $('#subCampo').val();
	objAH.encabezados= $('#idEncabezado').val();
	objAH.tabla= 'ESTRUCTURA_VISUALIZACION';
 	objAH.tipoAccion= 'INSERT';
	//se envia la consulta
	objAH.sendToServer();
}

function updateSaveConfVisualizacion(responseText){

	clearMessages();
	var Mensaje= JSONstring.toObject(responseText);
  	setMessages(Mensaje);

	//arma la tabla de configuracion de visualizacion 
	armarTablaVisualizacion();
	eleccionCampoX();
}

function deleteRowVisualizacion(OP,ID){

	var is_confirmed = confirm('Confirma la baja?');

	if (is_confirmed) {

		objAH=new AjaxHelper(updateDeleteRowVisualizacion);
		objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
		objAH.tipoAccion= 'DELETE';
		objAH.tabla= 'ESTRUCTURA_VISUALIZACION';
		objAH.idestcatopac= ID;
		//se envia la consulta
		objAH.sendToServer();
	}

}

function updateDeleteRowVisualizacion(responseText){

	clearMessages();
	var Mensaje= JSONstring.toObject(responseText);
  	setMessages(Mensaje);

	armarTablaVisualizacion();
}

function armarTablaVisualizacion(){

	objAH=new AjaxHelper(updateArmarTablaVisualizacion);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
	objAH.encabezados= $('#idEncabezado').val();
	objAH.tipoAccion= 'MOSTAR_TABLA_VISUALIZACION';
	objAH.componente= 'CLOSE_UP_COMBO_ENCABEZADO';
	//se envia la consulta
	objAH.sendToServer();
}

function updateArmarTablaVisualizacion(responseText){
	$('#divTablaVisualizacion').html(responseText);
					zebra('tablaVisualizacion');
					$('#tablaVisualizacion').tablesorter({	
 									widgets: ['zebra'],
  									headers: { 0: { sorter: false},
 										   7: { sorter: false},
 										   8: { sorter: false},
 										   9: { sorter: false}}
								});
}

function validarDatos(){
	var ok= true;
// y esto para que esta!!!!!!!
	seleccionarEncabezado
	if($('#campoX').selectedIndex == 0){
		alert("Seleccione el filtro para campos");
		$('#campoX').focus();
		ok= false;
	}

	if(($('#campo').selectedIndex == 1)&&(ok)){
		alert("Seleccione el campo");
		$('#campo').focus();
		ok= false;
	}

	if(($('#subcampo').selectedIndex == 1)&&(ok)){
		alert("Seleccione el subcampo");
		$('#subcampo').focus();
		ok= false;
	}

	if(($('#textoPredecesor').value == "")&&(ok)){
		alert("Ingrese el texto predecesor");
		$('#textoPredecesor').focus();
		ok= false;
	}

	if(($('#textoSucesor').value == "")&&(ok)){
		alert("Ingrese el texto sucesor");
		$('#textoSucesor').focus();
		ok= false;
	}

	if(($('#separador').value == "")&&(ok)){
		alert("Ingrese el separador");
		$('#separador').focus();
		ok= false;
	}
	
	if(ok){
	//se guarda la configuracion de visualizacion
		saveConfVisualizacion();
	}
}

function openWindow(){
	$('.windowBlur').show();
	$('#window').draggable({opacity: 0.7777});
 	$('#window').show();
	
}

function closeWindow(){
	$('.windowBlur').hide();
	$('#window').hide();
	clearDataTextArea();
}


function changeNivel(){
	cargarTablaEncabezados();
	$('#divTablaVisualizacion').html('');
	$('#result').html('');
}

//********************************************Favoritos****************************************************

//***************************************Encabezados***********************************************************
function clearDataTextArea(){
	//clear inputs
	$('#textArearTiposItems').val('');
	$('#nomEncabezadoAlta').val('');
	//clear data
	itemtypes_array= new Array();
}

function saveEncabezado(){
	
	var itemtypesJSON;
	itemtypesJSON=JSONstring.make(itemtypes_array);

	objAH=new AjaxHelper(updateSaveEncabezado);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
	objAH.encabezado= $('#nomEncabezadoAlta').val();
	objAH.tabla= 'ENCABEZADO';
	objAH.tipoAccion= 'INSERT';
	objAH.nivel= $('#nivel').val();
	objAH.itemtypes= itemtypesJSON;
	//se envia la consulta
	objAH.sendToServer();
}

function updateSaveEncabezado(responseText){
 	$('#mensajes').html(responseText);
	clearDataTextArea();
	cargarTablaEncabezados();
}

function updateNombreEncabezado(idEncabezado, nombre){

	objAH=new AjaxHelper(cargarTablaEncabezados);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
	objAH.encabezado= idEncabezado;
	objAH.nombre= nombre;
	objAH.tipoAccion= 'UPDATE';
	objAH.tabla= 'ENCABEZADO';
	//se envia la consulta
	objAH.sendToServer();

}

//este no se va a usar si se modifican los datos en la fila de la tabla
function modificarEncabezado(idEncabezado){

	$('#updateEncabezado').slideDown('slow');
	$('#nombreNuevo').val(jQuery.trim($('#encabezado'+idEncabezado).text()));
	$('#nombreNuevo').keyup(
		function () {
			$('#encabezado'+idEncabezado).text($('#nombreNuevo').val());
		});

	$('#nombreNuevo').keypress(
		function (e) {
			if(e.which == 13){
				updateNombreEncabezado(idEncabezado, $('#nombreNuevo').val());
				$('#updateEncabezado').slideUp('slow');
			}
		});
}

function EditCell(idObj, id){
	estado= $('#' + idObj + ' > div')[0].getAttribute('selected');

	var array_aux= $('#tablaEncabezados tr > td > div');

	//recorro los input para editar que se puedan estar mostrando
	var valor;
	for(i=0;i<array_aux.length;i++){
		if($('#' + array_aux[i].id)[0].getAttribute('selected') == 'on'){
			valor= $('#' + array_aux[i].id + '> input').val();
			$('#'+array_aux[i].id).html("");
			$('#'+array_aux[i].id).html($.trim(valor));
			$('#'+array_aux[i].id)[0].setAttribute('selected', 'off');
			$('#'+array_aux[i].id)[0].setAttribute('align', 'center');
		}
	}

	if( estado == 'off' ){

		var valor= $('#'+idObj + " > div").html();
		$('#' + idObj + ' > div')[0].setAttribute('selected', 'on');
		var inputO= "<input id='inputUpdate' type='text' size='50' />";
		$('#'+idObj + " > div").html("");
		$('#'+idObj + " > div").html(inputO);

		$('#'+idObj)[0].setAttribute('align', 'left');
		$('#inputUpdate').val($.trim(valor));
		$('#inputUpdate').focus();
		
//agredo eventos al input donde se va a ingresar la actualizacion
		$('#inputUpdate').keypress(
		function (e) {
			var nuevoValor;
		// onEsc
			if(e.which == 0){
				$('#'+idObj + " > div").html("");
				$('#'+idObj + " > div").html(valor);
				$('#' + idObj + ' > div')[0].setAttribute('selected', 'off');
				$('#'+idObj)[0].setAttribute('align', 'center');
			}
		// onEnter
			if(e.which == 13){
				nuevoValor= $('#inputUpdate').val();
				updateNombreEncabezado(id, nuevoValor);
				$('#'+idObj + " > div").html("");
				$('#'+idObj + " > div").html(nuevoValor);
				$('#' + idObj + ' > div')[0].setAttribute('selected', 'off');
				$('#'+idObj)[0].setAttribute('align', 'center');
			}
		});

	}
}

function changeTipoItem(){
	//se llama al mismo evento
	changeNivel();
}

//muestra la tabla de los encabezados, segun nivel e itemtype
function cargarTablaEncabezados(){

	objAH=new AjaxHelper(updateCargarTablaEncabezados);
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
	objAH.nivel= $('#nivel').val();
	objAH.itemtype= $('#comboTiposItems').val();
	objAH.tipoAccion= 'SELECT';
	objAH.componente= 'CARGAR_TABLA_ENCABEZADOS';
	//se envia la consulta
	objAH.sendToServer();

}

function updateCargarTablaEncabezados(responseText){
	$('#divTablaEncabezados').html(responseText);	
	zebra('tablaEncabezados');
	seleccionarFilaEncabezado();
}


function deleteEncabezado(idEncabezado){

	var is_confirmed = confirm('Confirma la baja del Encabezado?');

	if (is_confirmed) {

		objAH=new AjaxHelper(updateDeleteEncabezado);
		objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
		objAH.encabezado= idEncabezado;
		objAH.tipoAccion= 'DELETE';
		objAH.tabla= 'ENCABEZADO_CAMPO_OPAC';
		//se envia la consulta
		objAH.sendToServer();
	}
}

function updateDeleteEncabezado(responseText){
	clearMessages();

	var Mensaje= JSONstring.toObject(responseText);
  	setMessages(Mensaje);

	cargarTablaEncabezados();
}

function modificarOrden(encabezado, antOrden, action){
	
	if((antOrden == 1)&&(action == 'up')){
		alert("no se puede subir mas");
	}else{

		objAH=new AjaxHelper(cargarTablaEncabezados);
		objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
		objAH.encabezado= encabezado;
		objAH.orden= antOrden;
		objAH.itemtype= $('#comboTiposItems').val(); 
		objAH.tipoAccion= 'CAMBIAR_ORDEN_ENCABEZADO';
		objAH.action= action;
		//se envia la consulta
		objAH.sendToServer();

	}
}

/******************************************Manejador para TextArea*********************************************/

function dataO(ID, text){
	this.ID= ID;
	this.text= text;
	return this;
}

var itemtypes_array= new Array();

function pushEncabezadoTipoItem(){
	
	var id= $('#comboTiposItemsAltaEncabezado').val();	

	if (!exist(id, itemtypes_array)){
		var itemtype= $('#comboTiposItemsAltaEncabezado')[0].options[$('#comboTiposItemsAltaEncabezado')[0].selectedIndex].text;

		$('#textArearTiposItems').val(itemtype + '\n' + $('#textArearTiposItems').val() );
	
		d= new dataO(id, itemtype);
		itemtypes_array.push(d);
	}else{
		alert("Ya existe el elmento");
	}

	//si hay elementos habilito el boton pop
	if(itemtypes_array.length > 0){
		$('#pop').attr('disabled', false);
	}
}

function exist(ID, vector){
	var found= false;
	var long= vector.length;
	var i= 0;
	while (!(found) && (i<long)){
		if(vector[i].ID == ID){
			found= true;
		}else{
			i++;
		}
	}
	return found;
}

function mapToTextArea(idTextArea, vector){
	var itemtype;

	$('#'+idTextArea).val('');
	for (var i=0;i<vector.length;i++){
		itemtype= vector[i].text;
		$('#'+idTextArea).val(itemtype + '\n' + $('#'+idTextArea).val() );
	}
}

function popEncabezadoTipoItem(){
	var obj= itemtypes_array.pop();
// 	alert('tipoItem: ' + obj.text + ' ID: ' + obj.ID);
	mapToTextArea('textArearTiposItems', itemtypes_array);
	//si se vacia, deshabilito el boton pop
	if(itemtypes_array.length == 0){
		$('#pop').attr('disabled', true);
	}
}

/*****************************************Fin**Manejador para TextArea*****************************************/

function cambiarLineaEncabezado(id){
		
	linea= 0;
	if($("#checkbox"+id).val() == 0){linea= 1;}//encabezado en linea

	objAH=new AjaxHelper();
	objAH.url= '/cgi-bin/koha/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl';
	objAH.encabezado= id;
	objAH.linea= linea;
	objAH.tipoAccion= 'UPDATE';
	objAH.tabla= 'ENCABEZADO';
	//se envia la consulta
	objAH.sendToServer();

}


//al seleccionar una fila se cambia el estilo para que se vea cual es la que se selecciona
function seleccionarFilaEncabezado(){
	$("#tablaEncabezados tr:not([tr.tablaresultadoTitle])").click(
		function () {
			zebra('tablaEncabezados');
		}
    	);
}

//*************************************Fin**Encabezados********************************************************

//Init Form
$(document).ready(function() {
	
	changeNivel();
	// Help
	$("#topichelp").hide();
	$("#tophelper img.showhelp ").click(function(){
						$("#topichelp").slideToggle('fast');
					});
});

</script>

<input type="hidden" id="idEncabezado">
<div style="position: static;" id="tophelper">
<img class="showhelp" src="/intranet-tmpl/blue/images/help.gif" alt="Descricion de la Ventana">
    <div style="display: block;" id="topichelp">
        <p>Descripcion breve para lo q sirve la ventana....</p>
    </div>
</div>

<!-- Mensajes de Informacion al Usuario -->
<div class="tableMsgUser">
	<font class="fontMsgUser"><b>
	<div id="mensajes"></div>
	</b></font>
</div>
<!-- BORRAR ESTE DIV -->
<div id="mensajes" class="mensajeError"></div>

<div id=window class=window style="display:none; height:270px; width:350px;">
  <div class="windowBlur" style="display:none; height:270px; width:350px;">
  </div>
	<div id="headerWindow" class="headerWindow">
		<span class="click" onClick="closeWindow();">Cerrar</span>
	</div>
	<div id="title" class="title">Titulo</div>	
	<div id="contentWindow" class="contentWindow">
	  <ul>
	  	<li>
		<label for="textoMod" style="float: left; width:25%" >
		Encabezado:
		</label>
		<input type="text" id="nomEncabezadoAlta">
		</li>
		<li>
		Tipo de item: <!-- TMPL_VAR NAME="selectItemTypeAltaEncabezado" -->
		</li>
		<li>
		<input id="push" type="button" onClick="pushEncabezadoTipoItem();" value=">>" title="Agregar Tipo de Item" > 
		<input id="pop" type="button" onClick="popEncabezadoTipoItem();" value="<<" title="Sacar Tipo de Item" disabled=true>
		</li>
		<li>
		<textarea id="textArearTiposItems" style="height:60px; width:230px;" readonly></textarea>
		</li>
	</li>
	</div>
	<div class="controls" id="controls">
		<p><a onClick="validarDatosEncabezado();"><img id="save" border="0" src="/intranet-tmpl/blue/es2/images/guardar.png" alt="Guardar" name="save"/>
		</a></p>
	</div>
</div>


<br>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >Visualizaci&oacute;n de campos MARC en OPAC</td>
	</tr>
	<tr>	
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>

</table>
<br>

<div class="formElemets">
  <div>
<!-- contenedor superior -->
	<ul>
	<li>
		<select id="nivel" onChange="changeNivel();">
		<option value="1">Nivel1</option>
		<option value="2">Nivel2</option>
		<option value="3">Nivel3</option>
		</select>
		Tipo de item: <!-- TMPL_VAR NAME="selectItemType" -->
		<input type="button" Title="Agregar Encabezado" onClick="openWindow()" value="Agregar" Title="Agregar un Encabezado">
	</li>
	<li>
		<div id="divTablaEncabezados">
		</div>
	</li>
	</ul>
  </div>
<br>
<ul>
<li>
	<div id="result"></div>
<br>
</li>
<li>
	<center>
	  <input id="guardar" type="button" value="Guardar" onClick="validarDatos();" disabled=true>
	  <input id="modificar" type="button" value="Modificar" style="display:none;"
		onClick="modificarDatos();">	
	</center>
</li>
<li>
	<div id="divTablaVisualizacion"></div>
	<br>
</li>
<ul>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

