<script type="text/javascript" language="javascript">
    $("#enable_sort_subcampo").change(function(){
        if($(this).is(':checked')){
            $("#sortable_subcampo").sortable({
            stop: function(event, ui) {
                actualizarOrdenSubCampos($('#sortable').sortable('toArray'));
            }
        });
        }
    });
</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        makeToggle('divTablaAgregarVisualizacion','trigger',null,false);
        onEnter('lib_librarian',agregarVisualizacion);
        loaderPath = '<img src="'+imagesForJS+'/loaders/loader_facebook.gif"'+'>';
        $('.editable').editable('[% url_prefix %]/catalogacion/visualizacionINTRA/visualizacionIntraDB.pl', { 
              type      : 'text',
              cancel    : CANCELAR,
              submit    : OK,
              tooltip   : EDITABLE_MSG,
              placeholder: EDITABLE_MSG,
              style   : 'display: inline',
              submitdata : {token: "[% token %]", edit: 1, type: 'nombre'},
              indicator : loaderPath,

        });
        $('.pre').editable('[% url_prefix %]/catalogacion/visualizacionINTRA/visualizacionIntraDB.pl', { 
              type      : 'text',
              cancel    : CANCELAR,
              submit    : OK,
              tooltip   : EDITABLE_MSG,
              placeholder: EDITABLE_MSG,
              style   : 'display: inline',
              submitdata : {token: "[% token %]", edit: 1, type: 'pre'},
              indicator : loaderPath,

        });
        $('.post').editable('[% url_prefix %]/catalogacion/visualizacionINTRA/visualizacionIntraDB.pl', { 
              type      : 'text',
              cancel    : CANCELAR,
              submit    : OK,
              tooltip   : EDITABLE_MSG,
              placeholder: EDITABLE_MSG,
              style   : 'display: inline',
              submitdata : {token: "[% token %]", edit: 1, type: 'post'},
              indicator : loaderPath,

        });
        $('.nivel').editable('[% url_prefix %]/catalogacion/visualizacionINTRA/visualizacionIntraDB.pl', { 
              type      : 'text',
              cancel    : CANCELAR,
              submit    : OK,
              tooltip   : EDITABLE_MSG,
              placeholder: EDITABLE_MSG,
              style   : 'display: inline',
              submitdata : {token: "[% token %]", edit: 1, type: 'nivel'},
              indicator : loaderPath,

        });
    });
</script>
<fieldset>
    <legend class="titulo_legend trigger click"><strong>[% "Configuraci&oacute;n de la Visualizaci&oacute;n de SubCampos:" | i18n %]</strong></legend>
      <table id="tabla_datos_visualizacion_intra" class="table table-striped">
            <thead>
                <tr class="titulo_tabla_resultado">
                    <td>[% "Campo" | i18n %]</td>
                    <td>[% "Subcampo" | i18n %]</td>
                    <td>[% "Pre" | i18n %]</td>
                    <td>[% "Vista en INTRANET " | i18n %]</td>
                    <td>[% "Post" | i18n %]</td>
                    <td>[% "Nivel" | i18n %]</td>
                    <td>[% "Acciones" | i18n %]</td>
                </tr>
            </thead>
            <tbody id="sortable_subcampo">
                <input type="checkbox" name="enable_sort_subcampo" id="enable_sort_subcampo" /> Seleccione para Ordenar
                [% FOREACH campo IN visualizacion %]
                    <tr id="[% campo.getId %]" align="center">
                        <td>[% campo.getCampo %]</td>
                        <td>[% campo.getSubCampo %]</td>
                        <td class="pre" id="[% campo.id %]">[% campo.getPre %]</td>
                        <td class="editable" id="[% campo.id %]">[% campo.getVistaIntra %]</td>
                        <td class="post" id="[% campo.id %]">[% campo.getPost %]</td>
                        <td class="nivel" id="[% campo.id %]">[% campo.getNivel %]</td>
                        <td align="center">
                            [% PERL %]
                                print C4::AR::Filtros::to_Icon( text    => "[% 'Eliminar Vista' | i18n %]",
                                                                onClick => "eliminarVista('[% campo.id %]')",
                                                                boton   => "icon_cancelar",
                                                                title   => "[% 'Eliminar Vista' | i18n %]",
                                                                alternClass => "botonCentradoTabla"
                                                            ) ;
                            [% END %]
                        </td>
                    </tr>
                [% END %]
            </tbody>
        </table>
</fieldset>
