<script>
    $(document).ready(function() {
        makeToggle('divTablaAgregarVisualizacion','trigger',null,false);
        makeToggle('divTablaVisualizacion','trigger',null,false);
        onEnter('lib_librarian',agregarVisualizacion);
        loaderPath = '<img src="'+imagesForJS+'/loaders/loader_facebook.gif"'+'>';
        $('.editable').editable('[% url_prefix %]/catalogacion/visualizacionINTRA/visualizacionIntraDB.pl', { 
              type      : 'text',
              cancel    : CANCELAR,
              submit    : OK,
              tooltip   : EDITABLE_MSG,
              placeholder: EDITABLE_MSG,
              style   : 'display: inline',
              submitdata : {token: "[% token %]", edit: 1, type: 'nombre'},
              indicator : loaderPath,

        });
        $('.pre').editable('[% url_prefix %]/catalogacion/visualizacionINTRA/visualizacionIntraDB.pl', { 
              type      : 'text',
              cancel    : CANCELAR,
              submit    : OK,
              tooltip   : EDITABLE_MSG,
              placeholder: EDITABLE_MSG,
              style   : 'display: inline',
              submitdata : {token: "[% token %]", edit: 1, type: 'pre'},
              indicator : loaderPath,

        });
        $('.post').editable('[% url_prefix %]/catalogacion/visualizacionINTRA/visualizacionIntraDB.pl', { 
              type      : 'text',
              cancel    : CANCELAR,
              submit    : OK,
              tooltip   : EDITABLE_MSG,
              placeholder: EDITABLE_MSG,
              style   : 'display: inline',
              submitdata : {token: "[% token %]", edit: 1, type: 'post'},
              indicator : loaderPath,

        });
    });
</script>
<script type="text/javascript" src="/includes/jquery/jquery-ui-1.8.13.sortable.min.js"></script>
<script type="text/javascript">
    $(function() {
		    $("#sortable").sortable({
                stop: function(event, ui) { 
                    objAH               = new AjaxHelper(updateSortable);
	                objAH.debug         = true;
	                objAH.url           = URL_PREFIX+"/catalogacion/visualizacionINTRA/visualizacionIntraDB.pl";
                    objAH.showOverlay   = true;
	                objAH.tipoAccion    = "ACTUALIZAR_ORDEN";
	                objAH.newOrderArray = $('#sortable').sortable('toArray');
	                objAH.sendToServer(); 
                }
            });
		    $("#sortable").disableSelection();
		    
		    function updateSortable(responseText){ }
	    });
</script>


<fieldset>
    <legend class="titulo_legend trigger click"><strong>[% "Agregar Visualizaci&oacute;n:" | i18n %]</strong></legend>
    <div class="divTablaAgregarVisualizacion" id="divTablaAgregarVisualizacion">
        <ul>
            <li class="sub_item">
                <label for="campoX">[% 'Seleccion' | i18n %]:</label> 
                [% selectCampoX %]
            </li>
            <li class="sub_item">
                <label for="campo">[% 'Campo' | i18n %]:</label>
                    <select name="campo" id="campo" onChange="eleccionCampo()">
                        <option value="-1">[% 'Seleccionar CampoX' | i18n %]</option>
                    </select>
                [% 'Nombre' | i18n %]: <strong><span id="nombre_campo"></span></strong>
            </li>
            <li class="sub_item">
                <label for="subcampo">[% 'Subcampo' | i18n %]:</label>
                <select name="subcampo" id="subcampo" onChange="eleccionSubCampo()">
                        <option value="-1">[% 'Seleccionar SubCampo' | i18n %]</option>
                    </select>
            </li>
            <li class="sub_item" id="lib_librarian">
                <label for="pre">[% 'Pre' | i18n %]:</label> 
                <input id="pre" type="text" value="" size="50">
            </li>
            <li class="sub_item" id="lib_librarian">
                <label for="liblibrarian">[% 'Vista en Intranet' | i18n %]:</label> 
                <input id="liblibrarian" type="text" value="" size="90">
            </li> 
            <li class="sub_item" id="lib_librarian">
                <label for="post">[% 'Post' | i18n %]:</label> 
                <input id="post" type="text" value="" size="50">
            </li>
            [% PERL %]
                    print C4::AR::Filtros::to_Button(   text    => "[% 'Agregar Vista' | i18n %]",
                                                        boton   => "boton_buscar",
                                                        onClick => "agregarVisualizacion()",
                                                        title   => "[% 'Agregar Vista' | i18n %]",
                                                        width => "auto",
                                                        alternClass => "botonCentrado",
                            ) ;
            [% END %]

      </ul>
    </div>
</fieldset>

<div id="divAgregarModificarVisualizacion"></div>

<fieldset>
    <legend class="titulo_legend trigger click"><strong>[% "Configuraci&oacute;n de la Visualizaci&oacute;n:" | i18n %]</strong></legend>
    <div id="divTablaVisualizacion" class="divTablaVisualizacion"></div>
      <table id="tabla_datos_visualizacion_intra" class="tabla_datos" cellspacing=0 border="0" cellpadding=0 style="width:100%;">
            <thead>
                <tr class="titulo_tabla_resultado">
                    <td>[% "Campo" | i18n %]</td>
                    <td>[% "Subcampo" | i18n %]</td>
                    <td>[% "Pre" | i18n %]</td>
                    <td>[% "Vista en INTRANET " | i18n %]</td>
                    <td>[% "Post" | i18n %]</td>
                    <td>[% "Eliminar" | i18n %]</td>
                </tr>
            </thead>
            <tbody id="sortable">
                [% FOREACH campo IN visualizacion %]
                    <tr id="[% campo.getId %]" align="center">
                        <td>[% campo.getCampo %]</td>
                        <td>[% campo.getSubCampo %]</td>
                        <td class="pre" id="[% campo.id %]">[% campo.getPre %]</td>
                        <td class="editable" id="[% campo.id %]">[% campo.getVistaIntra %]</td>
                        <td class="post" id="[% campo.id %]">[% campo.getPost %]</td>
                        <td align="center">
                            [% PERL %]
                                print C4::AR::Filtros::to_Icon( text =>     "[% 'Eliminar Vista' | i18n %]",
                                                                onClick => "eliminarVista('[% campo.id %]')",
                                                                boton   => "icon_cancelar",
                                                                title =>    "[% 'Eliminar Vista' | i18n %]"
                                                            ) ;
                            [% END %]
                        </td>
                    </tr>
                [% END %]
            </tbody>
        </table>
</fieldset>
