[% INCLUDE "intranet-top.inc" %]
<script src="/includes/jquery/jquery.jeditable.js"></script>
<script>
function obtenerTabla(){
    objAH               = new AjaxHelper(updateObtenerTabla);
    objAH.url           = URL_PREFIX+'/catalogacion/tablasReferencia/tablasReferenciaDB.pl';
    objAH.cache         = false;
    objAH.showOverlay   = true;
    objAH.alias_tabla   = $('#tablas_ref').val();
    objAH.accion        = "OBTENER_TABLA";
    objAH.sendToServer();
}


function updateObtenerTabla(responseText){
    $('#detalle_tabla').html(responseText);
    zebra('detalle_tabla');

}

</script>

<script type="text/javascript">

</script>

<div class="permisos">
    <br><br>
    <fieldset>
        <legend class="titulo_legend">[% "Selecci&oacute;n de tablas de referencia" | i18n %]</legend>
        <div class="permisos_selector">
            <ul>
                <li class="sub_item">
                    <label for="id_ui"> Tabla.: </label>
                    [% combo_tablas %]
                </li>
                [% PERL %]
                    print C4::AR::Filtros::to_Button(   text    => "[% 'Obtener Tabla' | i18n %]",
                                                        boton   => "boton_agregar",
                                                        onClick => "obtenerTabla();",
                                                        title   => "[% 'Obtener Tabla' | i18n %]",
                                                        alternClass => "botonCentrado",
                            ) ;
                [% END %]
            </ul>
        </div>
        <br>
        <br>
        <br>
    </fieldset>
    <div class="detalle_tabla" id="detalle_tabla"> </div>
</div>


[% INCLUDE "intranet-bottom.inc" %]
