[% INCLUDE "intranet-top.inc" %]
<script src="/includes/jquery/jquery.jeditable.js"></script>
<script>
function obtenerTabla(){
    objAH               = new AjaxHelper(updateObtenerTabla);
    objAH.url           = URL_PREFIX+'/catalogacion/tablasReferencia/tablasReferenciaDB.pl';
    objAH.cache         = false;
    objAH.showOverlay   = true;
    objAH.alias_tabla   = $('#tablas_ref').val();
    objAH.accion        = "OBTENER_TABLA";
    objAH.sendToServer();
}


function updateObtenerTabla(responseText){
    $('#detalle_tabla').html(responseText);
    zebra('detalle_tabla');

}

</script>

<div class="permisos">
    <form class="form-horizontal">
        <fieldset>
            <legend class="titulo_legend">[% "Selecci&oacute;n de tablas de referencia" | i18n %]</legend>
            <div class="permisos_selector">
                <div class="control-group">
                    <label class="control-label" for="id_ui"> [% "Tabla" | i18n %]: </label>
                    <div class="controls">
                        [% combo_tablas %]
                    </div>
                </div>
                
                <div class="form-actions">

                    [% PERL %]
                        print C4::AR::Filtros::to_Button(   text    => "[% 'Obtener Tabla' | i18n %]",
                                                            boton   => "btn btn-primary",
                                                            onClick => "obtenerTabla();",
                                                            title   => "[% 'Obtener Tabla' | i18n %]",
                                                            inline  => "1"
                                ) ;
                    [% END %]
                </div>
            </div>
        </fieldset>
    </form>
    <div class="detalle_tabla" id="detalle_tabla"> </div>
</div>

[% INCLUDE "intranet-bottom.inc" %]
