<br><br>
<br><br>
<p class="inputFontNormal">[% "La cantidad de ejemplares en estado" | i18n %] 
                    <b>
                        [% availD %]
                    </b>  [% "es:" | i18n %] [% cantidad %]
</p>
<br>

[% paginador %]

<br><br>

<table id="tablaResult" class="tablaResult" cellspacing="0" cellpadding="0" border="0" align="left" width="100%">
	<tr height="24">
		<td class="tablaresultadoTitle" width="1%" align="left"  valign="top"><img src="[% themelang %]/images/izquierda.png"></td>

	<!-- ver si va esta clase ????, falta q se vea la manito-->
		<td class="tablaresultadoTitleClick" onClick="ordenar('completo');" title=[% "Ordenar por autor" | i18n %]>[% "Autor" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onClick="ordenar('titulo');" title=[% "Ordenar por titulo" | i18n %]>[% "T&iacute;tulo" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onClick="ordenar('signatura_topografica');" title=[% "Ordenar por Sig. Topografica" | i18n %]>[% "Signatura Topogr&aacute;fica" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onClick="ordenar('barcode');" title=[% "Ordenar por cod. de barras" | i18n %]>[% "C&oacute;digo de barras" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onClick="ordenar('number');" title=[% "Ordenar por edicion" | i18n %]>[% "Edici&oacute;n" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onClick="ordenar('anio_publicacion');" title=[% "Ordenar por a&ntilde;o de publicacion" | i18n %]>[% "A&ntilde;o de Publicaci&oacute;n" | i18n %]</td>
		<td class="tablaresultadoTitleClick" onClick="ordenar('date');" title=[% "Ordenar por fecha" | i18n %]>[% "Fecha" | i18n %]</a></th>

		<td  class="tablaresultadoTitle" align="right" valign="top"><img src="[% themelang %]/images/derecha.png"></td>
	</tr>
[% FOREACH resultsloop %]
	<tr align="center" class="inputFontNormal">
  		<td height=25>&nbsp;</td>
  		<td align="left"> [% autor %]</td>
  		<td> [% HTML.escape(titulo) %] </td>
  		<td> [% signatura_topografica %] </td>
  		<td> [% barcode %] </td>
  		<td> [% number %] </td>
  		<td> [% anio_publicacion %] </td>
  		<td> [% date %] </td>  
  		<td height=25>&nbsp;</td>
       </tr>
[% END %]

</table>
<!--Botones del fondo -->
<form name="unidadInformacion" method="post">
	<!-- Para poder imprimir bien los datos en la pagina y pdf -->
	<input type="hidden" name="orden" value="[% orden %]">
	<input type="hidden" name="disponibilidad" value="[% disponibilidad %]">
	<input type="hidden" name="fechaIni" value="[% fechaIni %]">
	<input type="hidden" name="fechaFin" value="[% fechaFin %]">
	<input type="hidden" name="ui" value="[% ui %]">

	<input TYPE="hidden" VALUE="pdf" NAME="type" > 
		<a  onMouseOut="swap('print','[% themelang %]/images/menu-imprimir.png')" onMouseOver="swap('print','[% themelang %]/images/menu-imprimirbis.png')">
		<input onClick="uinidadInformacion.action='/cgi-bin/koha/reports/print.pl';uinidadInformacion.target='_blank';uinidadInformacion.type.value='print';submit();"  name="print" id="print" type="image" value="Imprimir"  src="[% themelang %]/images/menu-imprimir.png" border="0" title=[% "Imprimir Resultados" | i18n %]>
		</a>

		<a  onMouseOut="swap('pdf','[% themelang %]/images/pdf.png')" onMouseOver="swap('pdf','[% themelang %]/images/pdfbis.png')">
		<input onClick="uinidadInformacion.action='/cgi-bin/koha/reports/print.pl';uinidadInformacion.target='_self'; uinidadInformacion.type.value='pdf';submit();" name="pdf" id="pdf" type="image" value=[% "Generar PDF" | i18n %] src="[% themelang %]/images/pdf.png" border="0" title=[% "Generar archivo PDF" | i18n %]>
		</a>
<form>
<br><br>
