[% INCLUDE "intranet-top.inc" %]

<link rel="stylesheet" type="text/css" href="[% themelang %]/includes/epoch_styles.css ">

<script type="text/javascript">
<!-- TMPL_INCLUDE NAME="epoch_classes.js" -->

/*You can also place this code in a separate file and link to it like epoch_classes.js*/
        var dp_ini,dp_fin;      
	window.onload = function () {
		        dp_ini  = new Epoch('epoch_popup','popup',document.getElementById('dateselected'));
			dp_fin  = new Epoch('epoch_popup','popup',document.getElementById('dateselectedEnd'));
				};

//Funcion que guarda la nota de la modificacion, es llamada desde regitroResult.tmpl
var notas="";
var objAH;

function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
	objAH.id="";
	objAH.notas="";
}


function consultar(){
	objAH=new AjaxHelper(updateInfo);
	objAH.url="/cgi-bin/koha/reports/registroResult.pl";
	objAH.chkfecha=$("#chkfecha")[0].checked;
	objAH.chkuser=$("#chkuser")[0].checked;
	objAH.chknum=$("#chknum")[0].checked;
	objAH.dateselected=$("#dateselected").val();
	objAH.dateselectedEnd=$("#dateselectedEnd").val();
	objAH.operacion=$("input[@name='operacion']:checked").val();
	objAH.tipo=$("input[@name='tipo']:checked").val();
	objAH.user=$("#user").val();
	objAH.numDesde=$("#numDesde").val();
	objAH.numHasta=$("#numHasta").val();
	objAH.funcion= "changePage";
	objAH.sendToServer();
}

function nota(id){
	objAH.id=id;
	objAH.notas=$("#"+id).val();
	objAH.sendToServer();
}

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="pagetitle" >[% "Registro de Actividades" | i18n %]</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>



<br>
<table border="0" cellspacing="0" cellpadding="0">
  	<tr>
		<td valign= "top" class=inputFontNormal>
			<input id="chkfecha" class="inputFontNormal" type="checkbox" name="chkfecha">
			<b>S[% "eleccione para buscar por fecha." | i18n %]</b><br><br>
			[% "Seleccione una fecha de inicio:" | i18n %]<br><br>
			[% "Seleccione una fecha de Fin:" | i18n %]
		</td>

		<td valign= "top" class=inputFontNormal><br><br>
			<input id="dateselected" class="inputFontNormal" name="dateselected" value="
			[% todaydate %]">
			<a href="javascript:dp_ini.toggle();"><img src="[% themelang %]/images/cal.gif" width="16" height="16" border="0" alt=[% "Selecciona una fecha" | i18n %]></a><br><br>
			<input id="dateselectedEnd" class="inputFontNormal" name="dateselectedEnd" value="[% todaydate %]"> 
			<a href="javascript:dp_fin.toggle();"><img src="[% themelang %]/images/cal.gif" width="16" height="16" border="0" 	alt=[% "Selecciona una fecha" | i18n %]></a>
		</td>

		<td class="inputFontNormal" rowspan=3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td rowspan=3 class="inputFontNormal"> <b>[% "Filtrar por:" | i18n %]</b> <br>
			<input id="operacion" class="inputFontNormal" type="radio" name="operacion" value=[% "Alta" | i18n %]>&nbsp;[% "Alta" | i18n %]
				&nbsp;&nbsp;&nbsp;
			<input id="operacion" class="inputFontNormal" type="radio" name="operacion" value="Actualizado">&nbsp;[% "Actualizado" | i18n %]
			<input id="operacion" class="inputFontNormal" type="radio" name="operacion" value="Borrado">&nbsp;[% "Borrado" | i18n %]
				&nbsp;
			<input id="operacion" class="inputFontNormal" type="radio" name="operacion" value="" checked>&nbsp;[% "Ninguno" | i18n %]
			<br><br>

			<input id="tipo" class="inputFontNormal" type="radio" name="tipo" value=[% "Libro" | i18n %]>&nbsp;[% "Libro" | i18n %]
	        		&nbsp;
			<input id="tipo" class="inputFontNormal" type="radio" name="tipo" value=[% "Grupo" | i18n %]>[% "Grupo" | i18n %]
                		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input id="tipo" class="inputFontNormal" type="radio" name="tipo" value=[% "Ejemplar" | i18n %]>[% "&nbsp;Ejemplar" | i18n %]
			<input id="tipo" class="inputFontNormal" type="radio" name="tipo" value="" checked>&nbsp;[% "Ninguno" | i18n %]
			<br><br>

			<!-- ACA SE BUSCA POR USUARIO Y/O POR NUMERO DE ELEMENTOS -->

			<input id="chkuser" class="inputFontNormal" type="checkbox" name="chkuser" value="usuario"><b>[% "Nombre de usuario: " | i18n %]</b>[% selectusuarios %]
			<br><br>
			<input id="chknum" class="inputFontNormal" type="checkbox" name="chknum" value="num"><b>[% "N&uacute;mero" | i18n %]

			[% "desde:" | i18n %] <input id="numDesde" class="inputFontNormal" type="text" name="numDesde" size="12">
			[% "hasta:" | i18n %] </b><input id="numHasta" class="inputFontNormal" type="text" name="numHasta" size="12" >
			<br><br>
			<input type="image" onClick="consultar()"  src="[% themelang %]/images/boton-buscar.png" border="0">

		</td>
   	</tr>
</table>

<div id="result" ></div>

[% INCLUDE "intranet-bottom.inc" %]

