<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<center><table border=2 cellspacing=0 cellpadding=2>
<th background="/intranet-tmpl/default/es/images/background-mem.gif">Nombre</th>
<th background="/intranet-tmpl/default/es/images/background-mem.gif">Apellido</th>
<th background="/intranet-tmpl/default/es/images/background-mem.gif">Direccion</th>
<th background="/intranet-tmpl/default/es/images/background-mem.gif">Numero de socio</th>
<th background="/intranet-tmpl/default/es/images/background-mem.gif">Ciudad</th>
<th background="/intranet-tmpl/default/es/images/background-mem.gif">Telefono</th>
<th background="/intranet-tmpl/default/es/images/background-mem.gif">E-mail</th>
<th background="/intranet-tmpl/default/es/images/background-mem.gif">Fecha de ingreso</th>

<!-- TMPL_LOOP NAME=RESULTSLOOP -->
  <tr align='center'>
  <td> <!-- TMPL_VAR NAME=firstname --> </td>
  <td> <!-- TMPL_VAR NAME=surname --> </td>
  <td> <!-- TMPL_VAR NAME=streetaddress --> </td>
  <td> <!-- TMPL_VAR NAME=borrowernumber --> </td>
  <td> <!-- TMPL_VAR NAME=city --> </td>
  <td> <!-- TMPL_VAR NAME=phone --></td>
  <td> <!-- TMPL_VAR NAME=emailaddress --></td>
  <td> <!-- TMPL_VAR NAME=dateenrolled --> </td>
  </tr>
<!-- /TMPL_LOOP -->
</table>
<br><br><br>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
