<html>
<head>
<title>Koha - U.N.L.P</title>
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name="themelang" -->/includes/intranet.css">
</head>

<frameset rows="*" cols="215,*" id="frameTop" framespacing="0" frameborder="NO" border="0">
	<frame src="koha_menu.pl" name="koha_menu"  id="koha_menu"   scrolling="auto" noresize>
	<frame src="intranet-mainpage.pl" name="koha_main" id="koha_main" scrolling="auto" noresize>
	</frameset>
</frameset>

</html>

