 <!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
 <script language="javascript" type="text/javascript">
 
 <!-- TMPL_INCLUDE NAME="ajax.js" -->
 <!-- TMPL_INCLUDE NAME="wick.js" -->
 function swap(id,src){
 document.getElementById(id).src=src;
 }
 function cambiarTipo(){
		 alert (document.getElementById("referenciaColaboradores").value );
		 
 valor='colaborando como: '+document.getElementById("referenciaColaboradores").value;

 document.getElementById('colaboradores').value +=valor;

 document.getElementById("referenciaColaboradores").value =NILL;
alert (document.getElementById("referenciaColaboradores").value );

 } 
 </script>

<table width="100%" align="right" class="pagetitle" border="0" cellpadding="0" cellspacing="0" ><tr><td>Modificar Documento</td>
</tr>
<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>
		

<a class="inputFontNormal" href="modwebsites.pl?biblionumber=<!-- TMPL_VAR Name="biblionumber" -->">Agregar o Modificar link</a>
 <form action="updatebiblio.pl" method="post" name="f">
<input class="inputFontNormal" type="hidden" name="userloggedname" value="<!-- TMPL_VAR NAME="loggedinusername" -->">
<input class="inputFontNormal" type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->">
<input class="inputFontNormal" type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->">
<input  class="inputFontNormal" type="hidden" name="from" value="<!-- TMPL_VAR Name="from" -->">

<br>

<table  width="60%" align="center" cellpadding="3" cellspacing="0">
<tr>
<td class="inputFontNormal"  valign="top" ><b>Autor:</b><br>
<INPUT class="wickEnabled" name="author" id="author" size="107" value="<!-- TMPL_LOOP NAME='author' --><!-- TMPL_VAR NAME='apellido' --><!-- TMPL_IF name='nombre' -->, <!-- TMPL_VAR NAME='nombre' --><!-- /TMPL_IF --><!-- /TMPL_LOOP -->">
</td></tr>
<tr>
<td class="inputFontNormal"><b>Autores Adicionales:</b><i>&nbsp;(1 por l&iacute;nea)</i><br>
<textarea class="wickEnabled" name="additionalauthors" id="additionalauthors" cols="80" rows="3"><!-- TMPL_IF name="additionalauthors" --><!-- TMPL_LOOP NAME="additionalauthors" --><!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF name="nombre" -->, <!-- TMPL_VAR NAME="nombre" --><!-- /TMPL_IF -->
<!-- /TMPL_LOOP --><!-- /TMPL_IF --></textarea></td></tr>
<tr>
<td class="inputFontNormal"><strong>Colaboradores:</strong><i>&nbsp;(1 por l&iacute;nea)</i> &nbsp;-&nbsp;
<!-- TMPL_IF NAME="referenciaColaboradores" -->
<strong>Funci&oacute;n:</strong>
<!-- TMPL_VAR Name="referenciaColaboradores" -->
<!-- /TMPL_IF -->
<br>
<textarea class="wickEnabled" name="colaboradores" id="colaboradores" cols="80" rows="3"><!-- TMPL_IF name="colaboradores" --><!-- TMPL_LOOP NAME="colaboradores" --><!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF name="nombre" -->, <!-- TMPL_VAR NAME="nombre" --><!-- TMPL_IF name="tipo" --> colaborando como: <!-- TMPL_VAR NAME="tipo" --><!-- /TMPL_IF -->
<!-- /TMPL_IF --><!-- /TMPL_LOOP --><!-- /TMPL_IF --></textarea>
</td>
</tr>

<tr valign="top">
<td  class="inputFontNormal"><b>T&iacute;tulo</b><br>
<input  class="inputFontNormal"type="text" name="title" size="108" value="<!-- TMPL_VAR Name="title" ESCAPE=HTML -->"></td>
</tr>
<tr valign="top">
<td  class="inputFontNormal"><b>T&iacute;tulo Informativo</b><br>
<input  class="inputFontNormal"type="text" name="unititle" size="108" value="<!-- TMPL_VAR Name="unititle" ESCAPE=HTML -->" ></td>
</tr>
<tr valign="top">
<td  class="inputFontNormal"><b>Otro T&iacute;tulo</b> <br>
<textarea   class="inputFontNormal" name="subtitle"  cols="106" rows="2" ><!-- TMPL_VAR Name="subtitle" ESCAPE=HTML --></textarea></td>
</tr>

<!-- TMPL_IF NAME="resp" -->
<tr valign="top">
<td  class="inputFontNormal"><b>Menci&oacute;n de responsabilidad:</b><br>
<textarea  class="inputFontNormal" name="responsability" cols="106" rows="2"><!-- TMPL_VAR Name="responsability" --></textarea>
</td>
</tr>
<!-- /TMPL_IF -->

<tr valign="top">
<td  class="inputFontNormal"><b>CDU:</b><br>
<input  class="inputFontNormal" type="text" name="seriestitle" size="108"  value="<!-- TMPL_VAR Name="seriestitle" -->"></td>
</tr>

<tr>
<td class="inputFontNormal" ><b>Temas:</b><i>&nbsp;(1 por l&iacute;nea)</i><br>
<textarea class="wickEnabled" name="subjectheadings" id="subjectheadings" cols="80" rows="3"><!-- TMPL_VAR Name="subject" --></textarea></td>
</tr>

<tr valign="top">
<td  class="inputFontNormal"><b>Notas:</b><br>
<textarea  class="inputFontNormal" name="notes" cols="106" rows="5"><!-- TMPL_VAR Name="notes" --></textarea>
</td>
</tr>

<tr valign="top">
<td  class="inputFontNormal"><b>Resumen:</b><br>
<textarea  class="inputFontNormal" name="abstract" cols="106" rows="5"><!-- TMPL_VAR Name="abstract" --></textarea>
</td>

</tr>
</table>
<br>
<center>
<a href="#" onClick="f.submit()" >
<img name="save" id="save" alt="Guardar cambios" src="<!-- TMPL_VAR NAME="themelang" -->/images/guardar.png" border="0"></a>
</center>
<input type="submit" style="visibility:hidden">


</form>
<script>
function Dopop() {
        newin=window.open("thesaurus_popup.pl?subject="+document.f.subject.value,"thesaurus",'width=500,height=400,toolbar=false,scrollbars=yes');
}
</script>

<!-- TMPL_IF NAME="opac" -->
    <!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
                     <!-- TMPL_ELSE -->
	<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
						    <!-- /TMPL_IF -->
									     
