<!-- TMPL_INCLUDE Name="intranet-top.inc" -->

<H1> <!-- TMPL_VAR Name="type" --> reports </H1>

<!-- TMPL_LOOP Name="dataloop" -->
	<!-- TMPL_VAR Name="value" -->
<!-- /TMPL_LOOP -->
<!-- TMPL_INCLUDE Name="intranet-bottom.inc" -->
