<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->

[% INCLUDE 'partials/admin/_nuevoPermiso.inc' %]

<div>
    <fieldset id="reportes">
        <legend class="titulo_legend_resaltado"> Reportes </legend>
        <ul class="permission_grant" >
            <li class="inline_input">
                <label for="permission_5"> TODOS </label>
                <input type="checkbox" id="reportes_todos" name="reportes_todos" onChange="adviceGrant(this,'reportes','high');"
                    [% IF permisos.reportes.TODOS %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_2"> Baja </label>
                <input type="checkbox" id="reportes_baja" name="reportes_baja" onChange="adviceGrant(this,'reportes','high');"
                    [% IF permisos.reportes.BAJA %] checked="checked" [% END %]/>
            </li>
            <li class="inline_input">
                <label for="permission_3"> Modificaci&oacute;n </label>
                <input type="checkbox" id="reportes_modif" name="reportes_modif" onChange="adviceGrant(this,'reportes','high');"
                    [% IF permisos.reportes.MODIFICACION %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_1"> Alta </label>
                <input type="checkbox" id="reportes_alta" name="reportes_alta" onChange="adviceGrant(this,'reportes','medium');"
                    [% IF permisos.reportes.ALTA %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_4"> Consulta </label>
                <input type="checkbox" id="reportes_consulta" name="reportes_consulta" onChange="adviceGrant(this,'reportes','low');"
                    [% IF permisos.reportes.CONSULTA %] checked="checked" [% END %]/>
            </li>
        </ul>
    </fieldset>
</div>

<div>
    <fieldset id="preferencias">
        <legend class="titulo_legend_resaltado"> Preferencias </legend>
        <ul class="permission_grant" >
            <li class="inline_input">
                <label for="permission_5"> TODOS </label>
                <input type="checkbox" id="preferencias_todos" name="preferencias_todos" onChange="adviceGrant(this,'preferencias','high');"
                    [% IF permisos.preferencias.TODOS %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_2"> Baja </label>
                <input type="checkbox" id="preferencias_baja" name="preferencias_baja" onChange="adviceGrant(this,'preferencias','high');"
                    [% IF permisos.preferencias.BAJA %] checked="checked" [% END %]/>
            </li>
            <li class="inline_input">
                <label for="permission_3"> Modificaci&oacute;n </label>
                <input type="checkbox" id="preferencias_modif" name="preferencias_modif" onChange="adviceGrant(this,'preferencias','high');"
                    [% IF permisos.preferencias.MODIFICACION %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_1"> Alta </label>
                <input type="checkbox" id="preferencias_alta" name="preferencias_alta" onChange="adviceGrant(this,'preferencias','medium');"
                    [% IF permisos.preferencias.ALTA %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_4"> Consulta </label>
                <input type="checkbox" id="preferencias_consulta" name="preferencias_consulta" onChange="adviceGrant(this,'preferencias','low');"
                    [% IF permisos.preferencias.CONSULTA %] checked="checked" [% END %]/>
            </li>
        </ul>
    </fieldset>
</div>

<div>
    <fieldset id="permisos">
        <legend class="titulo_legend_resaltado"> Permisos </legend>
        <ul class="permission_grant" >
            <li class="inline_input">
                <label for="permission_5"> TODOS </label>
                <input type="checkbox" id="permisos_todos" name="permisos_todos" onChange="adviceGrant(this,'permisos','high');"
                    [% IF permisos.permisos.TODOS %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_2"> Baja </label>
                <input type="checkbox" id="permisos_baja" name="permisos_baja" onChange="adviceGrant(this,'permisos','high');"
                    [% IF permisos.permisos.BAJA %] checked="checked" [% END %]/>
            </li>
            <li class="inline_input">
                <label for="permission_3"> Modificaci&oacute;n </label>
                <input type="checkbox" id="permisos_modif" name="permisos_modif" onChange="adviceGrant(this,'permisos','high');"
                    [% IF permisos.permisos.MODIFICACION %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_1"> Alta </label>
                <input type="checkbox" id="permisos_alta" name="permisos_alta" onChange="adviceGrant(this,'permisos','medium');"
                    [% IF permisos.permisos.ALTA %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_4"> Consulta </label>
                <input type="checkbox" id="permisos_consulta" name="permisos_consulta" onChange="adviceGrant(this,'permisos','low');"
                    [% IF permisos.permisos.CONSULTA %] checked="checked" [% END %]/>
            </li>
        </ul>
    </fieldset>
</div>

<div>
    <fieldset id="adq_opac">
        <legend class="titulo_legend_resaltado"> Adquisiciones en OPAC </legend>
        <ul class="permission_grant" >
            <li class="inline_input">
                <label for="permission_5"> TODOS </label>
                <input type="checkbox" id="adq_opac_todos" name="adq_opac_todos" onChange="adviceGrant(this,'permisos','high');"
                    [% IF permisos.adq_opac.TODOS %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_2"> Baja </label>
                <input type="checkbox" id="adq_opac_baja" name="adq_opac_baja" onChange="adviceGrant(this,'permisos','high');"
                    [% IF permisos.adq_opac.BAJA %] checked="checked" [% END %]/>
            </li>
            <li class="inline_input">
                <label for="permission_3"> Modificaci&oacute;n </label>
                <input type="checkbox" id="adq_opac_modif" name="adq_opac_modif" onChange="adviceGrant(this,'permisos','high');"
                    [% IF permisos.adq_opac.MODIFICACION %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_1"> Alta </label>
                <input type="checkbox" id="adq_opac_alta" name="adq_opac_alta" onChange="adviceGrant(this,'permisos','medium');"
                    [% IF permisos.adq_opac.ALTA %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_4"> Consulta </label>
                <input type="checkbox" id="adq_opac_consulta" name="adq_opac_consulta" onChange="adviceGrant(this,'permisos','low');"
                    [% IF permisos.adq_opac.CONSULTA %] checked="checked" [% END %]/>
            </li>
        </ul>
    </fieldset>
</div>

<div>
    <fieldset id="adq_intra">
        <legend class="titulo_legend_resaltado"> Adquisiciones en Intranet </legend>
        <ul class="permission_grant" >
            <li class="inline_input">
                <label for="permission_5"> TODOS </label>
                <input type="checkbox" id="adq_intra_todos" name="adq_intra_todos" onChange="adviceGrant(this,'permisos','high');"
                    [% IF permisos.adq_intra.TODOS %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_2"> Baja </label>
                <input type="checkbox" id="adq_intra_baja" name="adq_intra_baja" onChange="adviceGrant(this,'permisos','high');"
                    [% IF permisos.adq_intra.BAJA %] checked="checked" [% END %]/>
            </li>
            <li class="inline_input">
                <label for="permission_3"> Modificaci&oacute;n </label>
                <input type="checkbox" id="adq_intra_modif" name="adq_intra_modif" onChange="adviceGrant(this,'permisos','high');"
                    [% IF permisos.adq_intra.MODIFICACION %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_1"> Alta </label>
                <input type="checkbox" id="adq_intra_alta" name="adq_intra_alta" onChange="adviceGrant(this,'permisos','medium');"
                    [% IF permisos.adq_intra.ALTA %] checked="checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_4"> Consulta </label>
                <input type="checkbox" id="adq_intra_consulta" name="adq_intra_consulta" onChange="adviceGrant(this,'permisos','low');"
                    [% IF permisos.adq_intra.CONSULTA %] checked="checked" [% END %]/>
            </li>
        </ul>
    </fieldset>
</div>

[% INCLUDE 'partials/admin/_guardarPermisos.inc' %]