<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->
<!-- NUNCA CAMBIAR EL ORDEN FISICO DE LOS PERMISOS, ES POR PRIORIDAD -->

[% INCLUDE 'partials/admin/_nuevoPermiso.inc' %]

<div>
    <fieldset id="prestamos">
        <legend class="titulo_legend"> [% "Reportes" | i18n %] </legend>
        <ul class="permission_grant" >
            <li class="inline_input">
                <label for="permission_5"> TODOS </label>
                <input type="checkbox" id="prestamos_todos" name="prestamos_todos" onChange="adviceGrant(this,'prestamos','high');"
                    [% IF permisos.prestamos.TODOS %] "checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_2"> Baja </label>
                <input type="checkbox" id="prestamos_baja" name="prestamos_baja" onChange="adviceGrant(this,'prestamos','high');"
                    [% IF permisos.prestamos.BAJA %] "checked" [% END %]/>
            </li>
            <li class="inline_input">
                <label for="permission_3"> Modificaci&oacute;n </label>
                <input type="checkbox" id="prestamos_modif" name="prestamos_modif" onChange="adviceGrant(this,'prestamos','high');"
                    [% IF permisos.prestamos.MODIFICACION %] "checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_1"> Alta </label>
                <input type="checkbox" id="prestamos_alta" name="prestamos_alta" onChange="adviceGrant(this,'prestamos','medium');"
                    [% IF permisos.prestamos.ALTA %] "checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_4"> Consulta </label>
                <input type="checkbox" id="prestamos_consulta" name="prestamos_consulta" onChange="adviceGrant(this,'prestamos','low');"
                    [% IF permisos.prestamos.CONSULTA %] "checked" [% END %]/>
            </li>
        </ul>
    </fieldset>
</div>


<div>
    <fieldset id="circ_opac">
        <legend class="titulo_legend"> [% "Reservar desde OPAC" | i18n %] </legend>
        <ul class="permission_grant" >
            <li class="inline_input">
                <label for="permission_5"> TODOS </label>
                <input type="checkbox" id="circ_opac_todos" name="circ_opac_todos" onChange="adviceGrant(this,'circ_opac','high');"
                    [% IF permisos.circ_opac.TODOS %] "checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_2"> Baja </label>
                <input type="checkbox" id="circ_opac_baja" name="circ_opac_baja" onChange="adviceGrant(this,'circ_opac','high');"
                    [% IF permisos.circ_opac.BAJA %] "checked" [% END %]/>
            </li>
            <li class="inline_input">
                <label for="permission_3"> Modificaci&oacute;n </label>
                <input type="checkbox" id="circ_opac_modif" name="circ_opac_modif" onChange="adviceGrant(this,'circ_opac','high');"
                    [% IF permisos.circ_opac.MODIFICACION %] "checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_1"> Alta </label>
                <input type="checkbox" id="circ_opac_alta" name="circ_opac_alta" onChange="adviceGrant(this,'circ_opac','medium');"
                    [% IF permisos.circ_opac.ALTA %] "checked" [% END %] />
            </li>
            <li class="inline_input">
                <label for="permission_4"> Consulta </label>
                <input type="checkbox" id="circ_opac_consulta" name="circ_opac_consulta" onChange="adviceGrant(this,'circ_opac','low');"
                    [% IF permisos.circ_opac.CONSULTA %] "checked" [% END %]/>
            </li>
        </ul>
    </fieldset>
</div>
[% INCLUDE 'partials/admin/_guardarPermisos.inc' %]
