[% INCLUDE "intranet-top.inc" %]
<script src="/intranet-tmpl/includes/admin/permisosCommon.js"></script>
<script>
    $(document).ready(function() {
    	$("#usuario").focus();
    	CrearAutocompleteUsuarios({ IdInput: 'usuario', 
                                    IdInputHidden: 'nro_socio_hidden', 
                                 });
    });
</script>

<h3>[% "Administraci&oacute;n de permisos" | i18n %]</h3>

[% INCLUDE "partials/admin/_permisos.inc" %]


[% INCLUDE "intranet-bottom.inc" %]
