<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<SCRIPT>
function enviarContenido(adonde,codigo){
	document.getElementById("editandoCONTENIDO").action=adonde;
	document.getElementById("editandocodigo").value=codigo;
	document.getElementById("editandoCONTENIDO").submit();}
function reloading(){
	document.getElementById("editandoCONTENIDO").action="referencies.pl";
	document.getElementById("editandoCONTENIDO").submit();}

function search(){
	document.getElementById("editandoCONTENIDO").action="referencies.pl";
	document.getElementById("editandoCONTENIDO").submit();}
</SCRIPT>

<table width="100%" class="pagetitle" border="0" cellpadding="0" cellspacing="0">
	<tr><td>Administraci&oacute;n de Categor&iacute;as </td></tr>
 	<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>	                     
</table>
							   
	<br>
	<!-- TMPL_IF NAME=searchfield -->
		Ha Buscado por <!-- TMPL_VAR name=searchfield -->
	<!-- /TMPL_IF -->
	<FORM id="editandoCONTENIDO" method="POST">
	<input type="hidden" name="editandotabla" value="<!-- TMPL_VAR NAME="editandotabla" -->" >
	<input type="hidden" name="editandoidentificador" value="<!-- TMPL_VAR NAME="editandoidentificador" -->" >
	<INPUT type="hidden" name="editandocodigo" id="editandocodigo" value="" >
	<INPUT type="hidden" name="editandoorden" id="editandoorden" value="<!-- TMPL_VAR NAME="editandoorden" -->" >
	<INPUT type="hidden" name="search" id="editandoorden" value="<!-- TMPL_VAR NAME="search" -->" >
        <table>
	<tr>     
	<form id="form1" action='<!-- TMPL_VAR NAME="script_name" -->' method=post name="form1">
		<td><input type=text class="inputFontNormal"name=description value=<!-- TMPL_VAR name="search" -->></td>
		<td><a class="inputFontNormal" href="javascript:search()"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/boton-buscar.png"  ALT="Editar" hspace=0 vspace=0 border=0></a></td>
		<!--<td> <img name="go" id="go" alt="Comenzar b&uacute;squeda" src="<!-- TMPL_VAR 	NAME="themelang" -->/images/boton-buscar.png" border="0" onMouseOut="swap('go','<!-- TMPL_VAR NAME="themelang" -->/images/boton-buscar.png')" onMouseOver="swap('go','<!-- TMPL_VAR NAME="themelang" -->/images/boton-buscar.png')" onClick="document.getElementById('form1').submit()">-->
		 
		<!--<input type="submit" name="submit" value="OK" class="button">-->
		</td>
	</tr>
	</table>
        <table cellspacing="0" cellpadding="0" border="0" align="left"  class="tablaresultado" width="100%">
		<tr class="tablaresultadoTitle" height="24" valign="top">
			<td width="1%" align="left" >
				<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png">
			</td>
			<!-- TMPL_LOOP NAME=camposloop -->
			<td valign="middle" height="24"><!-- TMPL_VAR NAME="campo"--></td>
			<!-- /TMPL_LOOP -->
			<td valign="middle" height="24">Editar </td>
			<td valign="middle" height="24">Eliminar </td>
			<td width="1%"  align="right">
				<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png">
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<!-- TMPL_LOOP NAME=loop -->
		<tr valign="middle">
		<td width="1%">&nbsp;</td>
		<!-- TMPL_LOOP NAME=registro -->
		<td align="center" class="inputFontNormal"><!-- TMPL_IF NAME=campo --><!-- TMPL_VAR NAME="campo"--><!--TMPL_ELSE --> --- <!-- /TMPL_IF --></td>
		<!-- /TMPL_LOOP -->
		 <td align="center" class="<!-- TMPL_VAR NAME="clase"-->"><a class="inputFontNormal" href="javascript:enviarContenido('editref.pl',<!-- TMPL_VAR NAME=id -->)"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/editar.png"  ALT="Editar" hspace=0 vspace=0 border=0></a></td>
                 <td align="center"class="<!-- TMPL_VAR NAME="clase"-->"><a class="inputFontNormal" href="javascript:enviarContenido('deleteref.pl',<!-- TMPL_VAR NAME=id -->)"><img src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/borrar.png" ALT="Eliminar" border="0"></a></td>
			 <td  class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
		</tr>
		<!-- /TMPL_LOOP -->
 	<tr> 
        <td   align="left" colspan="15"><hr></td>
        </tr>
	<tr>
	<td colspan="100%">Mostrando: 
		<INPUT type="text" size="4" name="editandocant" id="editandocant" value="<!-- TMPL_VAR NAME="editandocant" -->" > registros desde el registro nro
		<INPUT type="text" size="4" name="editandoind" id="editandoind" value="<!-- TMPL_VAR NAME="editandoind" -->" > sobre un total de <!-- TMPL_VAR NAME="editandototal"-->&nbsp;<a class="inputFontNormal" href="javascript:reloading()"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/boton-mostrar.png"  ALT="Recargar" hspace=0 vspace=0 border=0></a>
	</td>
	</tr>
	</table>
	</FORM>	
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
