

<table id="tablaEncabezados" class="tablaEncabezados" border=0 cellspacing=0 cellpadding=0 width="100%" align="center">

 	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top">
			<img src="[%themelang %]/images/izquierda.png">
		</td>
	
		<td>Encabezado</td>
		<td>Orden</td>
		<td>Visible</td>
		<td>En Linea</td>
		<td>Eliminar</td>
		<td>Editar</td>
	
		<td width="1%" align="rigth" valign="top">
			<img src="[%themelang %]/images/derecha.png">
		</td>
	</tr>

[% FOREACH RESULTSLOOP %]
	<tr class="inputFontNormal" align='center' >
		<td height=25>&nbsp;</td>

		<td id="encabezado[% idencabezado %]" class="click" 	
			onClick="seleccionarEncabezado('[% idencabezado %]');"> 

			<div id="divEncabezado[% idencabezado %]" selected="off">
				[% nombre %]
			</div>
		</td>
		<td> 

			<input  src="[%themelang %]/images/1uparrow.png" type="image"  value="Subir en el Orden" title="Subir Orden" 
					onClick="modificarOrden([% idencabezado %], [% orden %], 'up')">
			
			<input  src="[%themelang %]/images/1downarrow.png" type="image"  value="Bajar en el Orden" title="Bajar Orden" 
					onClick="modificarOrden([% idencabezado %], [% orden %], 'down')">

		</td>
<!-- falta el check -->
		<td> 
			[% textpred %]
		</td>
		<td> 
			<input 	id="checkbox[% idencabezado %]" type="checkbox" 
					onClick="cambiarLineaEncabezado([% idencabezado %]);" 
					title="para indicar si la salida es en linea" value="[% linea %]"
			[% IF linea %]
				checked
			[% END %] >
		</td>
		<td class="click" align="center">
			<a onClick="deleteEncabezado([% idencabezado %]);">
			<img src="[%themelang %]/images/borrar.png" Title="Eliminar" ALT='Eliminar' hspace='0' vspace='0' border='0'>
			</a>
		</td>
		<td class="click" align="center">
			<a onClick="EditCell('encabezado[% idencabezado %]', '[% idencabezado %]');">
			<img src="[%themelang %]/images/editar.png" Title="Editar" ALT='Editar' hspace='0' vspace='0' border='0'>
			</a>
		</td>

		<td height=25>&nbsp;</td>
	</tr>
[% END %]
	<tr valign=bottom>
	        <td class="lineafinaltabla"  align="left" colspan="9"></td>
        </tr>

</table>
