

<table id="tablaVisualizacion" class="tablesorter" border=0 cellspacing=0 cellpadding=0 width="100%" align="center">
	<thead>
 	<tr class="tablaresultadoTitle">
		<th width="1%" align="left" valign="top">
			<img src="[%themelang %]/images/izquierda.png">
		</th>
	
		<th>Campo</th>
		<th>Subcampo</th>
		<th>Texto Pred</th>
		<th>Texto Succ</th>
		<th>Separador</th>
		<th>Visible</th>
		<th>Eliminar</th>
		<th>Editar</th>
	
		<th width="1%" align="rigth" valign="top">
			<img src="[%themelang %]/images/derecha.png">
		</th>
	</tr>
	</thead>
	<tbody>
[% FOREACH RESULTSLOOP %]
	<tr align='center' class="inputFontNormal">
		<td height=25>&nbsp;</td>

		<td>[% campo %]</td>
		<td>[% subcampo %]</td>
		<td>[% textpred %]</td>
		<td>[% textsucc %]</td>
		<td>[% separador %]</td>
		<td> 
			<input type='checkbox' id="[% idestcatopac %]" value="[% visible %]" onChange="cambiarVisibilidad('[% idestcatopac %]');" 
			value="[% visible %]"
			[% IF visible %] checked	[% END %] >
		</td>
		<td class="click" align="center">
			<a onClick="deleteRowVisualizacion('eliminar',[% idestcatopac %]);">
			<img src="[% themelang %]/images/borrar.png"
			Title="Eliminar" ALT='Eliminar' hspace='0' vspace='0' border='0'>
			</a>
		</td>
		<td class="click" align="center">
			<a onClick="modificarVisualizacion('[% textpred %]','[% textsucc %]', '[% separador %]',[% idestcatopac %]);">
			<img src="[%themelang %]/images/editar.png" Title="Editar" ALT='Editar' hspace='0' vspace='0' border='0'>
			</a>
		</td>

		<td height=25>&nbsp;</td>
	</tr>
[% END %]
	</tbody>

	<tr valign=bottom>
	        <td class="lineafinaltabla"  align="left" colspan="10"></td>
    </tr>
	
</table>