[% USE HTML %]
<p id="error" class="fontmsg"></p>
<p  class="inputFontNormal">
	<label for="variable" style="float: left; width:25%" >
		[% "Variable" | i18n %]:
	</label>
	[% IF variable %]
		[% variable %]
		<input type="hidden" id="variable" value="[% variable %]">
	[% ELSE %]
		<input class="inputFontNormal" type="text" id="variable" size="60">
	[% END %]

		<input type="hidden" id="tipoVar" value="[% tipo %]">
		[% IF tabla %]<input type="hidden" id="tabla" value="[% tabla %]">[% END %]
		[% IF campo %]<input type="hidden" id="campo" value="[% campo %]">[% END %]
		[% IF categoria %]<input type="hidden" id="categoria" value="[% categoria %]">[% END %]
</p>
<p  class="inputFontNormal">
	<label for="valor" style="float: left; width:25%" >
		[% "Valor" | i18n %]:
	</label>
	[% valor %]
</p>
<p  class="inputFontNormal">
	<label for="explicacion" style="float: left; width:25%" >
		[% "Explicaci&oacute;n" | i18n %]:
	</label>
	<textarea class="inputFontNormal" id="explicacion" cols="58" rows="2">[% HTML.escape(explicacion) %]</textarea>
</p>
<p align="center">
	<input type="image" 
	src="[% themelang %]/images/guardar.png" 
	ALT="Guardar" border="0" 
	[% IF variable %]
	onClick="guardarModificacion()"
	[% ELSE %]
	onClick="guardarNuevaVariable()"
	[% END %]

	Title="Guardar Modificaci&oacute;n">
</p>
<p>
[% "NOTA: Para las variables que representan una hora o minutos, solo ingresar la hora en numeros (hh:mm) o los minutos (mm). Ej: la variable close = 18:30, beginESissue = 60." | i18n %]
</p>

