[% IF sanctions %]
	<br>
	<table class="tablaSanciones" border=0  width="100%"  cellpadding='0' cellspacing='0'>
	<tr valign=middle class="tablaresultadoTitle" width="100%">
	
		<td width="1%" align="right" valing="top">
		<img src="[% themelang %]/images/izquierda.png">
		</td>
		<td width="98%"><B>SANCIONES</td>
		<td width="1%" valing="top">
		<img src="[% themelang %]/images/derecha.png">
		</td>
	
	</tr>
	
	<tr valign="top">
		<td height=25>&nbsp;</td>
		<td class="inputFontNormal">
		<ul><font class="fontmsg">
			[% FOREACH sanctions %]
				[% IF description %]
					<li>
						[% description %] - 
                                                    [% "Desde el" | i18n %] [% startdate %] 
                                                    [% "hasta el" | i18n %] [% enddate %]
					</li>

				[% END %]
			[% END %]
			</font>
		</ul>
		</td>
		<td height=25>&nbsp;</td>
	</tr>
	</table>

[% END %]