		
[% IF circulateEnable %]
	[% USE HTML %]
	<p align=center><b>[% "EJEMPLARES PRESTADOS" | i18n %]</b></p>
	<table class="prestamosResult" cellspacing=0  cellpadding=0 border=0  width="100%" > 
	
		<tr valign=middle class="tablaresultadoTitle">
			<th width="1%" valign="top" align="right" valing="top">
			<img src="[% themelang %]/images/izquierda.png">
			</th>
	
			<th>
				<a class="click" id="checkAllPrestamos">
				<img src="[% themelang %]/images/check.png" border="0" 
					title='[% "Seleccionar todos" | i18n %]'>
				</a>
			</th>
	
			<th>[% "T&iacute;tulo" | i18n %]</th>
			<th>[% "Autor" | i18n %]</th>
			<th>[% "C. Barra" | i18n %]</th>
			<th>[% "Sig. Top." | i18n %]</th>
			<th>[% "Ed." | i18n %]</th>
			<th>[% "Vol." | i18n %]</th>
			<th>[% "Pr&eacute;stamo" | i18n %]</th>
			<th>[% "Vencimiento" | i18n %]</th>
			<th>[% "Tipo" | i18n %]</th>
	
			<th width="1%" valign="top">
			<img src="[% themelang %]/images/derecha.png">
			</th>
		</tr>
	[% FOREACH prestamos %]
		<tr class="inputFontNormal" align="center">
			<td height=25 >&nbsp;</td>
			<td>
				<input type="checkbox" name="chkboxPrestamos" value="[% id3 %]" id="[% barcode %]">
			</td>
			<td width="14%" >
				<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=[% id1 %]">
					[% IF unititle %]
						:&nbsp;[% HTML.escape(unititle) %]
					[% END %]
				</a>
			</td>
			<td>
				[% IF autor %]
					[% autor %]
				[% ELSE %]
					&nbsp;
				[% END %]
			</td>
	
			<td>
				<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=[% id1 %]&id2=[% id2 %]&id3=[% id3 %]&barcode=[% barcode %]&signatura_topografica=[% signatura_topografica %]' title='Detalle de disponibilidad'>[% barcode %]</a>
			</td>
	
			<td>
				[% IF signatura_topografica %] 
					<a class="inputFontNormal" 
						href="/cgi-bin/koha/detalle.pl?id1="[% id1 %]">
						[% signatura_topografica %] 
					</a>
				[% END %]
			</td>
	
			<td>  
				[% IF edicion %]
					[% edicion %]
				[% END %]
			</td>
	
			<td>  
				[% IF volume %] 
					[% volume %]
	
					[% IF volumeddesc %]
						: [% volumeddesc %]
					[% END %]
	
				[% END %]
			</td>
			<td>
				[% IF date_due %]
					[% date_due %]
				[% END %]
			</td>
	
			<td>
				[% IF date_fin %] 
					<font color="[% color %]">
						[% date_fin %]
					</font>
				[% END %]
			</td>
	
			<td>
				[% IF issuetype %]
					<font color="[% color %]">
						[% issuetype %]
					</font>
				[% END %]
			</td>
			<td>&nbsp;</td>
	[% END %] <!-- FOREACH prestamos -->
		</tr>
	</table>
	
	<p align="center">
	
	[% IF circulateEnable %]	
		<input type="image" BORDER=0 
		src="[% themelang %]/images/item-return.png" 
		title="Devolver" 
		onClick="realizarAccion('DEVOLUCION','chkboxPrestamos',generaDivDevRen);">
	[% END %]	
	
	[% IF regular %]
		[% UNLESS sanctions %]
			<input type="image" 
			src="[% themelang %]/images/renew.png" title="Renovar" 
			onClick="realizarAccion('RENOVACION','chkboxPrestamos',generaDivDevRen);">
		[% END %]
	[% END %]
	</p>

[% END %] <!-- END CIRCULATE ENABLE -->

