		
<!-- TMPL_IF NAME="circulateEnable" -->

<p align=center><b>EJEMPLARES PRESTADOS</b></p>
<table class="prestamosResult" cellspacing=0  cellpadding=0 border=0  width="100%" >

	<tr valign=middle class="tablaresultadoTitle">
   		<th width="1%" valign="top" align="right" valing="top">
		<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png">
		</th>

		<th>
			<a class="click" id="checkAllPrestamos">
			<img src="<!-- TMPL_VAR NAME='themelang' -->/images/check.png" border="0" 
				title="Seleccionar todos">
			</a>
		</th>

  		<th>T&iacute;tulo</th>
  		<th>Autor</th>
  		<th>C. Barra</th>
  		<th>Sig. Top.</th>
		<th>Ed.</th>
  		<th>Vol.</th>
  		<th>Pr&eacute;stamo</th>
  		<th>Vencimiento</th>
   		<th>Tipo</th>

  		<th width="1%" valign="top">
		<img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png">
		</th>
	</tr>
<!-- TMPL_LOOP NAME="prestamos" -->
	<tr class="inputFontNormal" align="center">
		<td height=25 >&nbsp;</td>
		<td>
			<input type="checkbox" name="chkboxPrestamos" value="<!-- TMPL_VAR NAME='id3' -->" id="<!-- TMPL_VAR NAME='barcode' -->">
		</td>
		<td width="14%" >
			<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=<!-- TMPL_VAR NAME='id1' -->">
				<!-- TMPL_VAR NAME="titulo" ESCAPE=HTML-->
				<!-- TMPL_IF NAME="unititle" -->
					:&nbsp;<!-- TMPL_VAR NAME="unititle" -->
				<!-- /TMPL_IF -->
			</a>
		</td>
		<td>
			<!-- TMPL_IF NAME="autor" -->
				<!-- TMPL_VAR NAME="autor" -->
			<!-- TMPL_ELSE -->
				&nbsp;
			<!-- /TMPL_IF -->
		</td>

		<td>
			<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=<!-- TMPL_VAR NAME="id1" -->&id2=<!-- TMPL_VAR NAME="id2" -->&id3=<!-- TMPL_VAR NAME="id3" -->&barcode=<!-- TMPL_VAR NAME="barcode" -->&signatura_topografica=<!-- TMPL_VAR NAME="signatura_topografica" -->' title='Detalle de disponibilidad'><!-- TMPL_VAR name="barcode" --></a>
		</td>

		<td>
			<!-- TMPL_IF NAME="signatura_topografica" --> 
				<a class="inputFontNormal" 
					href="/cgi-bin/koha/detalle.pl?id1=<!-- TMPL_VAR NAME=id1 -->">
					<!-- TMPL_VAR NAME="signatura_topografica" --> 
				</a>
			<!-- TMPL_ELSE -->
				-
			<!-- /TMPL_IF -->
		</td>

		<td>  
			<!-- TMPL_IF NAME="edicion" -->
				<!-- TMPL_VAR NAME="edicion" -->
			<!-- TMPL_ELSE -->
				 - 
			<!-- /TMPL_IF -->
 		</td>

		<td>  
			<!-- TMPL_IF NAME="volume" --> 
				<!-- TMPL_VAR NAME="volume" -->

				<!-- TMPL_IF NAME="volumeddesc" -->
					: <!-- TMPL_VAR NAME="volumeddesc" -->
				<!-- /TMPL_IF -->

			<!-- TMPL_ELSE -->
				 - 
			<!-- /TMPL_IF -->
		</td>
		<td>
			<!-- TMPL_IF NAME="date_due" --> 
				<!-- TMPL_VAR NAME="date_due" -->
			<!-- TMPL_ELSE -->
				 - 
			<!-- /TMPL_IF -->
		</td>

		<td>
			<!-- TMPL_IF NAME="date_fin" --> 
				<font color="<!-- TMPL_VAR NAME='color' -->">
					<!-- TMPL_VAR NAME="date_fin" -->
				</font>
			<!-- TMPL_ELSE -->
				 - 
			<!-- /TMPL_IF -->
		</td>

		<td>
			<!-- TMPL_IF NAME="issuetype" -->
				<font color="<!-- TMPL_VAR NAME='color' -->">
					<!-- TMPL_VAR NAME="issuetype" -->
				</font>
			<!-- TMPL_ELSE -->
				 - 
			<!-- /TMPL_IF -->
		</td>
		<td>&nbsp;</td>
<!-- /TMPL_LOOP -->
	</tr>
</table>

<p align="center">

  <!-- TMPL_IF NAME="circulateEnable" -->	
	<input type="image" BORDER=0 
	src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/item-return.png" 
	title="Devolver" 
	onClick="realizarAccion('DEVOLUCION','chkboxPrestamos',generaDivDevRen);">
  <!-- /TMPL_IF -->	

  <!-- TMPL_IF NAME="regular" -->
	<!-- TMPL_UNLESS NAME="sanctions" -->
	<input type="image" 
	src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/renew.png" title="Renovar" 
	onClick="realizarAccion('RENOVACION','chkboxPrestamos',generaDivDevRen);">
	<!-- /TMPL_UNLESS -->
  <!-- /TMPL_IF -->
</p>

<!-- /TMPL_IF -->

