<center>

[% paginador %]
[% USE HTML %]
<p class="inputFontNormal"> 
	<b>Cantidad de pr&eacute;stamos realizadas: &nbsp;[% cant %]<br>
</p>

<table class="tablaHistorialPrestamos" cellspacing=0  cellpadding=0 border=0 width="100%">
<tr>
	<td class="tablaresultadoTitle" width="1%" align="right">
	<img src="[% interface %]/[% theme %]/images/izquierda.png">
	</td>

	<td class="tablaresultadoTitleClick" onclick="ordenar('titulo')" Title="Ordenar por Titulo">
		T&iacute;tulo
	</td>
	<td class="tablaresultadoTitleClick" onclick="ordenar('autor')" Title="Ordenar por Autor">
		Autor
	</td>
        <td class="tablaresultadoTitle">
        	Edici&oacute;n
 	</td>
        <td class="tablaresultadoTitleClick" onclick="ordenar('barcode')" Title="Ordenar por C&oacute;digo">
		C&oacute;digo
 	</td>
	<td class="tablaresultadoTitle">
		Pr&eacute;stamo
	</td>
        <td class="tablaresultadoTitle">
        	Renovaci&oacute;n
 	</td>
	<td class="tablaresultadoTitle">
		Vencimiento
	</td>
	<td class="tablaresultadoTitleClick" onclick="ordenar('returndate')" Title="Ordenar por Fecha de devoluci&oacute;n">
		Devoluci&oacute;n
	</td>

	 <td width="1%" class="tablaresultadoTitle">
	<img src="[% interface %]/[% themelang %]/images/derecha.png">
	</td>
</tr>

[% FOREACH loop_reading %]
<tr valign=middle align="center" class="inputFontNormal">
	<td height=25 >&nbsp;</td>
	<td>
		<a href='/cgi-bin/koha/busquedas/detalle.pl?id1=[% HTML.escape(id1) %]'>
 		[% HTML.escape($titulo) %]
		[% IF unititle %]
			&nbsp; [% HTML.escape(unititle) %]
		[% END %]
    		</a>
	</td>
	<td>
 		<a href="/cgi-bin/koha/busquedas/filtrado.pl?origen=detalle&idAutor=<[% HTML.escape(idautor) %]">
		[% autor %]
		</a>
	</td>
	<td>
        [% FOREACH grupos %]

		[% IF edicion %]
			[% edicion %]
		[% END %]

		[% IF publicationyear %]
			&nbsp;([% publicationyear %])
        	[% END %]
	
		[% IF volume %]
			        t [% volume %]
		[% END %]

	[% END %] <!-- ESTE FOREACH -->
        </td>
	<td align="center" >
		<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=[% id1 %]&id2=<[% id2 %]&id3= [% id3 %]&barcode= [% barcode %]&signatura_topografica=[% signatura_topografica %]' title='Detalle de disponibilidad'>[% barcode %]</a>&nbsp;
	</td>
	<td>
		[% date_due %]&nbsp;
	</td>
	<td>
		[% date_renew %]&nbsp;
	</td>
	<td>
		[% date_fin %]&nbsp;
	</td>
	<td>
		[% returndate %]&nbsp;
	</td>

	<td height=25>&nbsp;</td>

[% END %] <!-- FOREACH PRIMERO -->

</table>

</center>

