<!-- TMPL_IF name="HEADERS" -->

<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<!-- PARA PODER CREAR EL FORMULARIO -->
<div id="formulario"></div>
<!-- /TMPL_IF -->


<p align="center">T&eacute;rmino de b&uacute;squeda:<b> <!-- TMPL_VAR NAME="buscoPor" ESCAPE=HTML--></b>
<br>Total de registros: <b><!-- TMPL_VAR NAME='cantidad' --></b></p>
</div>

<center>
<!-- TMPL_VAR NAME="paginador" -->
</center>

<table id="tablaResult" class="tablesorter" border=0 cellspacing=0 cellpadding=0 width=100%>
	<thead>
	<tr class="tablaresultadoTitle">
		<td width="2%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png">

		</td>
		<td width="5%"  class="tablaresultadoTitle">&nbsp;</td>
		<th width="35%" class="tablaresultadoTitleClick" onClick="ordenarPor('titulo')">T&iacute;tulo</th>
		<th width="35%" class="tablaresultadoTitleClick" onClick="ordenarPor('nomCompleto')"> Autor </th>
		<th width="12%" class="tablaresultadoTitle">Edici&oacute;n/A&ntilde;o</th>
		<th width="15%" class="tablaresultadoTitle"> Disponibilidad </th>

		<td width="2%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png">
		</td>
	</tr>
	</thead>
	<tbody>
<!-- Actual Resultados de la b&uacute;squeda -->
<!-- TMPL_LOOP NAME=SEARCH_RESULTS -->
	<tr class="inputFontNormal">
		<td>&nbsp;</td>
		<td>
		</td>
		<td>
			<a class="click" onClick="mostrarDetalle('<!-- TMPL_VAR NAME='id1' -->');" title="Mostrar Detalle">
				<!-- TMPL_VAR NAME=titulo ESCAPE=HTML -->
			</a>

		</td>

		<td>
			<a class="click" onClick="buscarPorAutor(<!-- TMPL_VAR NAME='idAutor' -->)" title="Filtrar por Autor">
				<!-- TMPL_VAR NAME="nomCompleto" -->
			</a>
		</td>

		<td>
			<!-- TMPL_LOOP NAME="grupos" -->
				<!-- TMPL_IF name="edicion" --><!-- TMPL_VAR NAME="edicion" --> &nbsp;<!-- /TMPL_IF --><!-- TMPL_IF name="anio_publicacion" -->(<!-- TMPL_VAR NAME="anio_publicacion" -->)<!-- /TMPL_IF -->
				<!-- TMPL_IF NAME="volume" -->        t <!-- TMPL_VAR NAME="volume" --><!-- /TMPL_IF --><br>
			<!-- /TMPL_LOOP -->
		</td>

		<td>
			<!-- TMPL_LOOP NAME="disponibilidad" -->
				<b><!-- TMPL_VAR NAME="tipoPrestamo" --></b> <!-- TMPL_VAR NAME="cantTotal" -->
				<br>
				<div style="margin-right:4px">
				<!-- TMPL_VAR NAME="reservados"-->
				<br> 
				<!-- TMPL_VAR NAME="prestados"-->
				<br>
				</div>
         		<!-- /TMPL_LOOP -->
		</td>	

		<td height=25>&nbsp;</td>
	</tr>
<!-- /TMPL_LOOP -->
	<tbody>
</table>

<br>
<!-- TMPL_IF name="HEADERS" --><!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --><!-- /TMPL_IF -->