<!-- TMPL_INCLUDE Name="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/AjaxHelper.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name='themelang' -->/includes/epoch_styles.css ">

<script>
<!-- TMPL_INCLUDE NAME="epoch_classes.js" -->

var objAH;

function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function consultar(id3){
	var fechaIni=$("#fechaIni").val();
	var fechaFin=$("#fechaFin").val();
	if(fechaIni != "" && fechaFin != ""){
		objAH=new AjaxHelper(updateInfo);
		objAH.url= "/cgi-bin/koha/busquedas/detalleItemResult.pl";
		objAH.id3=id3;
		objAH.fechaIni=fechaIni;
		objAH.fechaFin=fechaFin;
		objAH.funcion= "changePage";
		//se envia la consulta
		objAH.sendToServer();
	}
	else{alert("Datos invalidos, ingrese una fecha correcta");}
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
}

var dp_ini,dp_fin;

$(document).ready(function() {
	consultar('<!-- TMPL_VAR NAME=id3 -->');
	dp_ini  = new Epoch('epoch_popup','popup',document.getElementById('fechaIni'));
	dp_fin  = new Epoch('epoch_popup','popup',document.getElementById('fechaFin'));
});
</script>

<div width="100%"  border="0" cellpadding="0" cellspacing="0">
	<p class="pagetitle"><!-- TMPL_VAR Name="titulo" --> (<!-- TMPL_VAR Name="autor" -->)</p>
	<p class="inputFontNormal">
		<b>C&oacute;digo de Barras:</b> <!-- TMPL_VAR NAME="barcode" --><br>
		<b>Signatura Topogr&aacute;fica:</b> <!-- TMPL_VAR NAME="signatura_topografica" --><br>
		<b>Notas:</b> <!-- TMPL_VAR NAME="itemnotes" -->
	</p>
</div>

<table align="center" width="100%">
	<tr valign=middle class="tablaresultadoTitle">
		<td colspan=3 align=center>
			DETALLE DE DISPONIBILIDAD:<br>
		</td>
	</tr>
	<tr valign=middle class="inputFontNormal" align="center">
		<td><b>Disponibilidad</b></td>
		<td><b>Estado</b></td>
		<td><b>Fecha</b></td>
	</tr>
<!-- TMPL_LOOP Name="DETAIL" -->
	<tr valign=middle class="inputFontNormal" align="center">
		<td><span class="<!-- TMPL_VAR Name='claseAvail' -->"><!-- TMPL_VAR Name="avail" --></span></td>
		<td><span class="<!-- TMPL_VAR Name='claseLoan' -->"><!-- TMPL_VAR Name="loan" --></span></td>
		<td><!-- TMPL_VAR Name="date" --></td>
	</tr>
<!-- /TMPL_LOOP -->
</table>

<hr>
<br>
<p align="center" class="inputFontNormal"><b>Historico de circulaci&oacute;n</b></p>

		<p class="inputFontNormal"><b>Seleccione para buscar por fecha.</b></p>
		<p class="inputFontNormal">
			Seleccione una fecha de inicio: <input class="inputFontNormal" id="fechaIni" value="<!-- TMPL_VAR NAME='today' -->"> 
			<a href="javascript:dp_ini.toggle();">
			<img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha">
			</a>
		</p>
		<p class="inputFontNormal">Seleccione una fecha de fin: &nbsp;&nbsp;&nbsp;
			<input id="fechaFin" class="inputFontNormal" name="dateselectedEnd" value="<!-- TMPL_VAR NAME='today' -->"> 
			<a href="javascript:dp_fin.toggle();">
			<img src="<!-- TMPL_VAR NAME='themelang' -->/images/cal.gif" width="16" height="16" border="0" alt="Selecciona una fecha">
			</a>
		</p>

<p align="center"><input type="image" onClick="consultar('<!-- TMPL_VAR NAME=id3 -->')" src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border="0"></p>
<br>

<div id="result"></div>

<!-- TMPL_INCLUDE Name="intranet-bottom.inc" -->
