


<script>
function verEstante(estante){
var params= 	'viewshelf=' + estante;

	$.ajax({	type: "POST", 
			url: "/cgi-bin/koha/estantes/verEstante.pl",
			data: params,
			beforeSend: Init,
			complete: function(ajax){
					$('#resultBusqueda').html(ajax.responseText);
					$(".zebra tr:even").addClass("impar");
					//se oculta busqueda avanzada
					//$("#busqueda").slideToggle('fast');	
					$("#volver").hide();
					$("#busqueda").slideUp('fast');	
					$("#resultBusqueda").slideDown("fast");
					HiddeState();
				}
	});

}
</script>
<div>
<p align="center">T&eacute;rmino de b&uacute;squeda:<b> <!-- TMPL_VAR NAME="buscoPor" --></b></p>
</div>

<table border=0 cellspacing=0 cellpadding=0 width=100% class="zebra">

	<tr class="tablaresultadoTitle">
		<td width="2%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png">

		</td>
		<td width="35%">
		</td>
		
		<td width="2%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png">
		</td>

	</tr>


<!-- Actual Resultados de la b&uacute;squeda -->
<!-- TMPL_LOOP NAME=SEARCH_RESULTS -->
	<tr>
		<td>&nbsp;</td>
		<td>
                 <!-- TMPL_IF Name="parentname" -->
		<b><i><a href="#" onclick="verEstante(<!-- TMPL_VAR Name="shelfnumberParent" -->)"><!-- TMPL_VAR Name="parentname" --> </a></i></b>&nbsp;/&nbsp; 
		<!-- /TMPL_IF -->

		<a href="#" onclick="verEstante(<!-- TMPL_VAR Name="shelf" -->)">
                                    <!-- TMPL_VAR Name="shelfname" --> 
                </a>

		</td>

		<td height=25>&nbsp;</td>
	</tr>
<!-- /TMPL_LOOP -->

</table>

<br>
