
<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/json/jsonStringify.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/SearchHelper.js"></script>

<script language="javascript" type="text/javascript">
<!-- TMPL_INCLUDE NAME="state.js" -->
<!-- TMPL_INCLUDE NAME="util.js" -->

var objBusqueda;

function updateInfo(responseText){
 
	$('#resultBusqueda').html(responseText);
	$("#volver").hide();
	$("#filtrosBusqueda").slideUp('fast');	
	$("#resultBusqueda").slideDown("fast");
	zebra('tablaResult');
	HiddeState();  
}

function busquedaCombinable(){

	objBusqueda=new SearchHelper(updateInfo, Init);
// 	objBusqueda.debug= true;
	//para busquedas combinables
	objBusqueda.url= '/cgi-bin/koha/busquedas/busqueda.pl';
	objBusqueda.titulo=  $('#titulo').val();
	objBusqueda.autor= $('#autor').val();
	objBusqueda.signatura= $('#signatura').val()
	objBusqueda.comboItemTypes= $('#comboItemTypes').val();
					
	var radio= $(":checked");
	var tipo=radio[0].value;
	objBusqueda.tipo= tipo;
	//se setea la funcion para cambiar de pagina
	objBusqueda.funcion= 'changePage';
	//se envia la consulta
	objBusqueda.sendToServer();
			
}

function buscar(){

	//primero verifico las busquedas individuales
	if ($('#keyword').val() != ''){
		busquedaPorKeyword();
	}else 
	if ($('#estante').val() != ''){
		buscarEstante();
	}else 
	if ($('#dictionary').val() != '') {
		buscarPorDiccionario(ini);
	}else 
	if ($('#codBarra').val() != '') {
		buscarPorCodigoBarra();
	}else 
	if ($('#isbn').val() != '') {
		buscarPorISBN();
	}else 
	if ($('#tema').val() != '') {
		buscarPorTema();
	}else {
		busquedaCombinable();
	}
}

function buscarPorCodigoBarra(){
	objBusqueda=new SearchHelper(updateInfo, Init);
// 	objBusqueda.debug= true;
	objBusqueda.url= '/cgi-bin/koha/busquedas/busqueda.pl';
	objBusqueda.codBarra= $('#codBarra').val();
	objBusqueda.sendToServer();
}

function buscarPorTema(){
	objBusqueda=new SearchHelper(updateInfo, Init);
// 	objBusqueda.debug= true;
	objBusqueda.url= '/cgi-bin/koha/busquedas/tema.pl';
	objBusqueda.tema= $('#tema').val();
	//se setea la funcion para cambiar de pagina
	objBusqueda.funcion= 'changePage';
	objBusqueda.sendToServer();
}

function buscarPorISBN(){
	objBusqueda=new SearchHelper(updateInfo, Init);
// 	objBusqueda.debug= true;
	objBusqueda.url= '/cgi-bin/koha/busquedas/busqueda.pl';
	objBusqueda.isbn= $('#isbn').val();
	objBusqueda.sendToServer();
}

function buscarPorDiccionario(){
	objBusqueda=new SearchHelper(updateInfo, Init);
// 	objBusqueda.debug= true;
	objBusqueda.url= '/cgi-bin/koha/busquedas/diccionario.pl';
	objBusqueda.dictionary= $('#dictionary').val();
	//se setea la funcion para cambiar de pagina
	objBusqueda.funcion= 'changePage';
	objBusqueda.sendToServer();
}

function busquedaPorKeyword(){

	objBusqueda=new SearchHelper(updateInfo, Init);
// 	objBusqueda.debug= true;
	objBusqueda.url= '/cgi-bin/koha/busquedas/busquedaCombinada.pl';
	objBusqueda.keyword= $('#keyword').val();
	//se setea la funcion para cambiar de pagina
	objBusqueda.funcion= 'changePage';
	objBusqueda.sendToServer();

}

function buscarEstante(){

	objBusqueda=new SearchHelper(updateInfo, Init);
// 	objBusqueda.debug= true;
	objBusqueda.url= '/cgi-bin/koha/busquedas/estante.pl';
	objBusqueda.viewShelfName= $('#estante').val();
	objBusqueda.orden= 'title';
	//se setea la funcion para cambiar de pagina
	objBusqueda.funcion= 'changePage';
	objBusqueda.sendToServer();
}


function changePage(ini){
	objBusqueda.changePage(ini);
}

function mostrarEstantes(){
var params= '';
		
	$.ajax({	type: "POST", 
			url: "/cgi-bin/koha/busquedas/estante.pl",
			data: params,
			beforeSend: Init,
			complete: function(ajax){
					updateInfo(ajax.responseText);
				}
	});

}

function verTema(idtema,tema){

	objBusqueda=new SearchHelper(updateInfo, Init);
// 	objBusqueda.debug= true;
	objBusqueda.url= '/cgi-bin/koha/busquedas/busqueda.pl';
	objBusqueda.idTema= idtema;
	objBusqueda.tema= tema;
	//se setea la funcion para cambiar de pagina
	objBusqueda.funcion= 'changePage';
	objBusqueda.sendToServer();

}

combinables= ['titulo', 'autor', 'tipo', 'signatura', 'comboItemTypes'];
noCombinables= ['keyword', 'isbn', 'dictionary', 'codBarra', 'estante', 'tema'];


function cambiarEstadoCampos(campos, clase){

 	for(i=0;i<campos.length;i++){

		$('#'+campos[i]).attr('class', clase);

	}
}


function buscarPorAutor(idAutor){

	objBusqueda=new SearchHelper(updateInfo, Init);
// 	objBusqueda.debug= true;
	objBusqueda.url= '/cgi-bin/koha/busquedas/busqueda.pl';
	//se setea la funcion para cambiar de pagina
	objBusqueda.funcion= 'changePage';
	objBusqueda.idAutor= idAutor;
	objBusqueda.sendToServer();

}

function ordenarPor(ord){
	//seteo el orden de los resultados
	objBusqueda.sort(ord);
}

function mostrarDetalle(id1){
	var params="id1="+id1;
	crearForm("/cgi-bin/koha/busquedas/detalle.pl",params);
}

function registrarEventos(){

	$("input").keypress(function (e) {
 		if(e.which == 13){
 			buscar('');
 		}
 	});

}

$(document).ready(function() {

	registrarEventos();

	$("#volver").hide();

	$("#volver").click(function(){
		//muestro el resultado de la busqueda
		$("#resultBusqueda").slideDown("fast");
		$("#volver").hide();
	});
	

 	$("#filtrosBusqueda").show();
	$("#showBusqueda p.showBusqueda ").click(function(){
						$("#volver").hide();
						if($("#showBusqueda p.showBusqueda ").html() == "[-]"){
							$("#showBusqueda p.showBusqueda ").html("[+]");
						}else{$("#showBusqueda p.showBusqueda ").html("[-]");}
 						$("#filtrosBusqueda").slideToggle('fast');
						//oculto el resultado de la busqueda
						$("#resultBusqueda").slideUp("fast");
 	});

// Vengo del detalle, con el nombre del autor busca los documentos que escribio ese autor.
	var array = location.href.split('?');
	if (array.length >1){
		var array=array[1].split('&');
		var origen=array[0].split('=')[1];
		if(origen == "detalle"){
			var idAutor=array[1].split('=')[1];
			buscarPorAutor(idAutor);
		}
	}
});


</script>

<!-- PARA PODER CREAR EL FORMULARIO -->
<div id="formulario"></div>

<div id="showBusqueda" style="text-align: right; cursor:pointer;">
<p class="showBusqueda" title="Busqueda Avanzada">[-]</p>
</div>

<div id="filtrosBusqueda">
	<span class="pagetitle">B&uacute;squeda Avanzada en el cat&aacute;logo</span>
	<br>
	<div class="formElemets">
		<table width="70%" height="88%" valign="top"  border="0" align="center" cellpadding="0" cellspacing="0" >
		<tr>
		<td  valign="top"  align="right"  width="30%">
		<ul id="simple">
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>B&uacute;squeda combinada</b><br>
                	<input type="text" id="keyword" size="25" class="inputFontNormal">
			<p valign="top" align="right">&nbsp;</p>
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>ISBN</b><br>
                	<input type="text" id="isbn" size="25" class="inputFontNormal">
			</li>
			
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
    			<b>B&uacute;squeda por diccionario</b><br>
         		<input class="inputFontNormal" type="text" size="25" id="dictionary">
			</li>		

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>C&oacute;digo de barras</b><br>
			<input class="inputFontNormal" type="text" size="25" id="codBarra">
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>Tema</b><br>
			<input class="inputFontNormal" type="text" size="25" id="tema">
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>Estantes Virtuales</b><br>
			<input class="inputFontNormal" type="text" size="25" id="estante" onChange="estanteChange()">
			</li>

		</ul>
		</td>
		<td width="10%">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </td>
  		<td  valign="top" align="right" width="30%">
		<ul id="combinada">
			
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
        		<b>Tipo de documento</b> <br>
			<!-- TMPL_VAR name="comboItemTypes" -->
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>T&iacute;tulo</b><br>
			<input class="inputFontNormal" type="text"  size="25" id="titulo">
			<p valign="top" align="right">
			<input class="inputFontNormal" name="tipo" type=radio id=tipo value=normal checked>Normal
			<input class="inputFontNormal" name="tipo" type=radio id=tipo value=exacto>Exacto
			</p>
			</li>
			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>Autor</b><br>
			<input class="inputFontNormal" type="text" size="25" id="autor">
			</li>

			<li class="tdout" onmouseout="this.className='tdout';" onmouseover="this.className='tdhover';">
			<b>Signatura Topogr&aacute;fica</b><br>
			<input class="inputFontNormal" type="text" size="25" id="signatura">
			</li>
	         	
		</ul>
		<td>
		<tr>
		</table>
		<div align ="center">

		<ul>
			<li>
			<input type="hidden" name="type" value="intra">
			<input type="image" alt="Buscar"  src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/boton-buscar.png" onClick="buscar('');">

			<input type="image"   src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/vertodos.png" onClick="mostrarEstantes();" >
		
			</li>
		</ul>
		</div>

	</div>
</div>

<div id="resultBusqueda"></div>

<div style="text-align: center; cursor:pointer;">
	<span id="volver">Volver</span>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" --> 
