
<script>
function detalleSignatura(keyword2){

var params= 	'signatura=' + keyword2 + '&dicdetail=1' ; 

	$.ajax({	type: "POST",
			url: "/cgi-bin/koha/busquedas/signatura.pl",
			data: params,
			beforeSend: Init,
			complete: function(ajax){
					$('#resultBusqueda').html(ajax.responseText);
					$(".zebra tr:even").addClass("impar");
					//se oculta busqueda avanzada
					//$("#busqueda").slideToggle('fast');	
					$("#volver").hide();
					$("#busqueda").slideUp('fast');	
					$("#resultBusqueda").slideDown("fast");
					HiddeState();
				}
	});

}
</script>
<center>

Ha buscado por <b> Signatura Topogr&aacute;fica:
<!-- TMPL_VAR NAME=value -->,  </b>


<!-- TMPL_VAR NAME=numrecords --> resultados encontrados
<p>

<table>
<tr><td valign="top">
<ul>
<!-- TMPL_LOOP NAME=SEARCH_RESULTS -->
  <li>
    <!-- TMPL_IF NAME=direct -->
      <A class="click" onClick="mostrarDetalle('<!-- TMPL_VAR NAME='id1' -->');" title="Mostrar Detalle">
<!-- TMPL_VAR NAME="keyword" -->
      <font size="2"><i><!-- TMPL_IF NAME="title" --> (<!-- TMPL_VAR NAME="title" --><!-- TMPL_IF NAME="unititle" -->: <!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF --><!-- TMPL_IF NAME="author" --> - <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF -->)<!-- /TMPL_IF --></i></font>
      </A>
    <!-- TMPL_ELSE -->
      <A class="click" onClick="detalleSignatura('<!-- TMPL_VAR NAME='keyword2' -->');" title="Mostrar Detalle"> <b><!-- TMPL_VAR NAME="keyword" --></b></A>
    <!-- /TMPL_IF -->
  </li>
  <!-- TMPL_IF NAME=jump -->
	</ul></td><td valign="top"><ul>
  <!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
</ul>
</td></tr>
</table>

<br><br>

