body {
	margin : 25px;
	background-color: #FFFFFF;	
	font-family: "Trebuchet MS", "Verdana", "Arial" ;
	font-size: 10px;
	font-style: normal;
	color: #000000;
	behavior: url("http://www.xs4all.nl/~peterned/htc/csshover3.htc");
	width:95%;
}

.header{

   margin: 25px;
   width: 70%;
}
#marco_superior {
	background: transparent  url(../imagenes/arriba_izq.png) no-repeat top left;
	width: 100%;
	height: 7px;
	font-size: 1px;
		   }
#marco_superior div {
	background: transparent url(../imagenes/arriba_der.png) no-repeat top right;
	width: 100%;
	height: 7px;
	font-size: 1px;
	}

#marco_inferior {
	background: transparent  url(../imagenes/abajo_izq.png) no-repeat bottom left;
	width: 100%;
	height: 7px;
	font-size: 1px;
		   }
#marco_inferior div {
	background: transparent url(../imagenes/abajo_der.png) no-repeat bottom right;
	width: 100%;
	height: 7px;
	font-size: 1px;
		}
#marco_contenido{
	clear:both;
	margin-bottom:3%;
}
#marco_principal{
	clear:both;
	background:#f7f6f6 url(../imagenes/medio.png) repeat ;
	}
#marca{
	background-image:url(../imagenes/logo_meran.png);
	background-color:#f7f6f6;
	background-position:center;
	text-align:center;
	padding:1%;
	margin-top:1%;
	background-repeat: no-repeat;
	height:40px;
	}

/*PARTE SUPERIOR*/
.logo_Superior{
   background-image:  url(../imagenes/logo.jpeg);
   width: 142px;
   float: left;
   margin-bottom:12px;
   height:104px;
}

.idioma_y_login{
	width: 35%;
	float: right;
	margin-bottom:12px;
   }

/* MENU*/ 

#menu{
   width:1024px;
   float:left;
   margin:0px;
}
.main-header{
   width:100%;
   float:left;
   margin-bottom:0px;
   padding-bottom:-10px;
}
#menu a, #menu a:visited{
	font:bold normal 100%/205% tahoma, arial, helvetica, sans-serif;
	color:#fff;
	border:0px;
	text-decoration:none;
}
#menu a, #menu a:visited{
font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
color:#fff;
border:0px;
text-decoration:none;
}
#menu a, #menu a:visited{
font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
color:#fff;
border:0px;
}
#menu a, #menu a:visited{
font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
color:#fff;
border:0px;
}
#menu li ul li{
	display: none;
}
.menu_superior_sin_sub{
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   color:#fff;
   background:#4b6192 url(../imagenes/menu.png);
   text-transform:uppercase;
   cursor: pointer;
   display:block;
   white-space:nowrap;
   margin:0;
   padding:0 5px;
   height:20px;
   -moz-border-radius-topleft:5px;
   -webkit-border-top-left-radius:5px;
   -moz-border-radius-topright:5px;
   -webkit-border-top-right-radius:5px;

}

.menu_superior{
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   color:#fff;
   background: url(../imagenes/menu.png) repeat 100% 100%;
   text-transform:uppercase;
   text-align:center;
   cursor: pointer;
   display:block;
   white-space:nowrap;
   margin:0;
   -moz-border-radius-topleft:8px;
   -webkit-border-top-left-radius:8px;
   -moz-border-radius-topright:8px;
   -webkit-border-top-right-radius:8px;



}
.menu_intermedio{
	color:#fff;
	background:#416ca5 url(../imagenes/expand3.gif) no-repeat right;
	text-transform:uppercase;
	cursor: pointer;
	display:block;
	white-space:nowrap;
	margin:0;
	padding:0 5px;
	width:auto;
	font-size: 10px;

}
.menu-item {
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   display:block;
   background: #999999;
   width:auto;
   text-transform:uppercase;
   border-bottom:#ccc solid 1px;
   text-decoration:none;
}

.menu-item a:hover{
   background: #ccc;
   text-decoration:none;
}
.menu-item a{
   font:bold 100%/205% tahoma,arial,helvetica,sans-serif;
   display:block;
   text-transform:uppercase;
   color:#fff;
   background:#999999 repeat-x;
   text-transform:uppercase;
   cursor: pointer;
   white-space:nowrap;
   margin:0;
   padding:0 5px;
   width:auto;
   text-decoration:none;
   
}


/* TODO no se si es compatible con IE */
/* cambia el color de fondo cuando se selecciona un input */
input[type=text]:focus{
    background-color:infoBackground;
}

/* muestra la manito sobre la componente con class=click */
.click{
    cursor: pointer;
}


/*                                     estilos para el paginador                                 */
.paginaNormal{
    font-family: "Trebuchet MS", "Verdana", "Arial";
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    cursor: pointer;
}

.paginaActual{
    font-family: "Trebuchet MS", "Verdana", "Arial";
    font-size: 10pt;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

/*                                  Fin   estilos para el paginador                               */


/*                                     estilos para la zebra                                            */
tr.par {
    background-color:#FFFFFF;
}

tr.impar {
    background-color:#F4F4F4;
}
/*                                   Fin  estilos para la zebra                                         */


/*                                       estilos para mensajes de usuario                                   */
.tableMsgUser{
    Background-color: #000000;
    border: 0;
}

.fontMsgUser{
    text-decoration: none;
    font-size: 12pt;
    font-family: "Trebuchet MS", "Verdana", "Arial";
    color: #f2f2f2;
    font-weight: bold;
}
/*                                  Fin     estilos para mensajes de usuario                                */

/*                                        estilos para Circulacion                                              */

.divCirculacion{
    border-style: solid; 
    border-color: gray;
    left: 75%; 
    text-align: center; 
    background-color: white;
    margin-left: 30px;
}

.fontMsgConfirmation {

    text-decoration: none;
    font-size: 10pt;
    font-family: "Trebuchet MS", "Verdana";
    color: red;
    font-weight: bold;
}
/*                                     Fin   estilos para Circulacion                                           */

/*                                        para los resultados en tablas                                                */
.tablaresultadoTitle { 
    font-Family : "Trebuchet MS", "Verdana";
    color: #ffffff;
    font-size: 9pt;
    background: url(../imagenes/tablaresultado.png) repeat-x ;
    background-color:#3c9eb4;
    text-align: center;
    font-weight: bold;
}
/*                                     Fin   para los resultados en tablas                                             */


/* para agregar documento */
.divContentComponente{
    clear:both; 
    padding-top:1%;
}

.divComponente{
    float: left;
    padding-right:1%; 
    padding-bottom: 1%;
}

.divLabelComponente{
    float: left; 
    width: 25%;
    font-family: "Trebuchet MS", "Verdana", "Arial";
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
}
/* fin para agregar documento */
