
#menu {
    width: 8%;
    float: left;
    margin: 2px;
    clear: both;
}

#menu ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 11.5em;
}

#menu li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 124px;
    margin: 5px;
}

.container_test{
    
}

#menu ul ul {
    position: absolute;
    list-style-type: none;
    z-index: 500;
    display: none;
}

#menu ul ul ul {
    top: 0;
}

.menu-ul {
    font: bold 100%/205% tahoma, arial, helvetica, sans-serif;
    display: block;
    background: grey;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    list-style-type: none;
}

#menu ul li {
    list-style-type: none;
    display: none;
    margin: 0;
    float: left;
    width: 100px;
}

#menu a,#menu a:visited {
    color: #fff;
    border: 0px;
    text-decoration: none;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    line-height: 180%;
    font-weight: bold;
}


.menu_superior_der {
    background: url(../imagenes/menu_der.png) 100% 0 no-repeat;
    width: 100%;
}

.menu_superior_izq {
    background: url(../imagenes/menu_izq.png) 0 0 no-repeat;
    padding-left: 4%;
}

.menu_superior {
    font: bold 100%/180% " Arial ", "Verdana", " sans-serif ";
    color: #fff;
    background: url(../imagenes/menu_centro.png) repeat-x;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    margin: 0;
    font-size: 11px;
    height: 20px;
    width: 96%;
}

.menu_superior a:hover {
    font: bold 100%/180% " Arial ", "Verdana", " sans-serif ";
    color: #FFFFFF;
    background: url(../imagenes/menu_centro.png) repeat 100% 100%;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    margin: 0;
    font-size: 11px;
    height: 20px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
}

.menu_intermedio {
    font: bold 11px/200% Verdana, Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #888 #555 #bbb;
    white-space: nowrap;
    margin: 0;
    padding: 0 11px;
    background: #4d838f url(../imagenes/expand3.gif) no-repeat 100% 100%;
    color: #FFFFFF;
}

