

<script language=javascript>

	function detalleMaterialEnEspera(id1){
		$('#datosUsuario').slideUp('slow');
		detalle(id1);
	}

</script>

<table width="100%" align="center" class="top" valign="top">
<tr>
<td width="80%"  valign="top">

<table width="100%" align="center"  border="0" cellpadding="0" cellspacing="0" >
<tr>
<td valign="top">

[% IF vencidos %]
        <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                        <td>
              <font color="red" size="3"><b>[% "Usted tiene "| i18n %][% vencidos %][% " ejemplares vencidos" | i18n %]</b></font>
                        </td>
                </tr>
        </table>
[% END %]

[% IF prestamos_cant %]

<table  width="100%" border="1" class="tope" cellspacing="0" cellpadding="4" align="center">
  <tr bordercolor="#f2f2f2">
	<td colspan=7 align="center" class="bordetabla" borde=1><b>[% "Pr&eacute;stamos" | i18n %]</b>
 	</td>
  </tr>

  <tr class="bordetabla" bordercolor="#f2f2f2">
	<th>[% "T&iacute;tulo" | i18n %]</th>
	<th>[% "Autor" | i18n %]</th>
	<th>[% "C&oacute;digo de Barras" | i18n %]</th>
	<th>[% "Signatura Topogr&aacute;fica" | i18n %]</th>
	<th>[% "Volumen" | i18n %]</th>
	<th>[% "Fecha de Pr&eacute;stamo" | i18n %]</th>
	<th>[% "Vencimiento" | i18n %]</th>
  </tr>
[% FOREACH prestamo IN PRESTAMOS %]
  <tr class="tope" bordercolor="#f2f2f2">
	<td class="impar">

        [% PERL %]
                print C4::AR::Filtros::link_to( text =>     "[% prestamo.nivel3.nivel1.getTitulo | i18n %]",
                                                url =>      "/cgi-bin/koha/opac-detail.pl", 
                                                params => [ "id1=[% prestamo.nivel3.nivel1.getId1 %]", ],
                                            ) ;
        [% END %]
        
	</td>
	<td class="impar">
  	[% IF prestamo.nivel3.nivel1.getAutor %]
		<a href="/cgi-bin/koha/opac-searchresults.pl?authorid=[% prestamo.nivel3.nivel1.getAutor %]" >
		[% prestamo.nivel3.nivel1.cat_autor.getCompleto %]
		</a>
  	[% ELSE %]
		&nbsp;
 	[% END %]
	</td>
	<td class="impar" align="center" >
	[% IF prestamo.nivel3.getBarcode %] 
		[% prestamo.nivel3.getBarcode %]
	[% ELSE %]
		- 
	[% END %]
	</td>
	<td class="impar" align="center" >
	[% IF prestamo.nivel3.getSignatura_topografica %]
		[% prestamo.nivel3.getSignatura_topografica %] 
	[% ELSE %]
		-
	[% END %]
	</td>
	<td align=center class="impar" align="center" >
	[% IF prestamo.nivel3.nivel2.getEdicion %] [% prestamo.nivel3.nivel2.getEdicion %] [% ELSE %] - [% END %]
<!--	[% IF rpublicationyear %]&nbsp;([% rpublicationyear %])[% END %]-->
	[% IF prestamo.nivel3.nivel2.getVolumen %] t [% prestamo.nivel3.nivel2.getVolumen %] 
		[% IF prestamo.nivel3.nivel2.getVolumenDesc %] ([% prestamo.nivel3.nivel2.getVolumenDesc %])  [% END %] 
	[% END %]
	</td>
	<td class="impar" align="center" >
	[% IF prestamo.getFecha_prestamo %] 
		[% prestamo.getFecha_prestamo_formateada %]
	[% ELSE %]
		- 
	[% END %]
	</td>
	<td class="impar" align="center" >
	[% IF prestamo.nivel3.getBarcode %]
		<font color="[% IF prestamo.estaVencido %]red[% END %]">[% prestamo.getFecha_vencimiento_formateada %]</font>
		[% IF CirculationEnabled %]
       			[% IF prestamo.sePuedeRenovar %]<br>
				<a class="click" onClick="renovar([% prestamo.getId3 %]);">[% "Renovar" | i18n %]</a>
			[% END %]
		[% END %]
	[% ELSE %]
		- 
	[% END %]
	</td>
  </tr>
[% END %]
</table>
<br>
[% ELSE %]
	<p>[% "No tiene ejemplares prestados" | i18n %]</p>
[% END %]


</td>
  </tr>
</table>



