<html>

<script language="javascript">
        [% INCLUDE "md5.js" %]
</script>

<script language="javascript" type="text/javascript">

	function swap(id,src){
		document.getElementById(id).src=src;
	}

[% IF !loggedinusername %]

        function enviar(){
                nroRandom= [% RANDOM_NUMBER %];
                hash= b64_md5(b64_md5(document.datos.password.value)+nroRandom);
                document.datosAEnviar.password.value= hash;
                document.datosAEnviar.userid.value= document.datos.userid.value;
                document.datosAEnviar.submit();
        }

        function onEnterSubmit() {
          /*Esta Funcion verifica si se presion ENTER y si es asi hace un submit del form*/
          /*Importante: SOLO FUNCIONA EN EL INTERNET EXPLORER*/
                if (window.event && window.event.keyCode == 13)
                        enviar();
                else
                        return true;
        }

[% END %]

</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Biblioteca - Facultad de Ciencias Econ&oacute;micas - U.N.L.P.</title>

<noscript>
    <div class='tableMsgUser'>
        <font class='fontMsgUser'>
                <b>[% 'Su navegador no soporta o no tiene habilidato Javascript' | i18n %]</b>
        </font>
    </div>
</noscript>

</head>
<link rel="stylesheet" type="text/css" href="[% themelang %]/includes/main.css">
<body onload="document.catsearch.keyword.focus();" >
<table width="100%" height="100%">
<tr>
<td align="center" valign="middle">
<table width="809" height="426" border="0" 
	background="[% themelang %]/images/nuevas/background-ppal.png" 
	align="center" cellpadding="0" cellspacing="0">

<tr height="55%"><td colspan="4"> &nbsp;</td></tr>
<tr height="45%">
    <td width="6%" >&nbsp;</td>
    <td width="26%" valign="top">
       <table width="100%" height="100%"   border="0" align="center">

<tr>
       <td  valign="top">
<form action="/cgi-bin/koha/opac-searchresults.pl" name="catsearch" id="catsearch">
<table cellpadding="0" cellspacing="0" >
<tr><td><img src="[% themelang %]/images/front-arrow.gif" alt="" border="0" align="absbottom"></td>
</td><td>&nbsp;B&uacute;squeda Simple </td></tr>
<tr><td></td><td><input type="hidden" name="type" value="opac"></td></tr>
<tr><td></td><td class="buscar"><input type="text" name="keyword" size="15" align="abstop">
	<a onMouseOut="swap('go','[% themelang %]/images/go.png')" onMouseOver="swap('go','[% themelang %] -->/images/gobis.png')" >
<input type="image" name="go" id="go" src="[% themelang %]/images/go.png" border="0"  value="Buscar" align="absbottom"> </a>
</td></tr>
<tr><td><br></td></tr>
<tr><td><img src="[% themelang %]/images/front-arrow-small.gif" alt="-" hspace="0" vspace="0" border="0" align="middle"></td>
<td><a href="/cgi-bin/koha/opac-search.pl">&nbsp;B&uacute;squeda Avanzada</a></td></tr>
<tr><td><br></td></tr>
</table>
		</form>
	</td></tr></table>

	</td>
	
<td  width="24%" valign="top">  
 <table width="100%" height="100%"   border="0" align="center">
       <tr>
       <td  valign="top">

[% IF loggedinusername %]
<table cellpadding="0" cellspacing="0">
<tr><td valign="top">
        <img src="[% themelang %]/images/front-arrow.gif" alt="" border="0">
Logueado como: [% loggedinusername %]<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<a href=/cgi-bin/koha/opac-user.pl>Mi Cuenta</a>][<a href="/cgi-bin/koha/opac-main.pl?logout.x=1">Salir</a>]
</td></tr></table>
[% ELSE %]
<form method="post" name="datos">
	<table cellpadding="0" cellspacing="0" border="0">
    <tr><td> <img src="[% themelang %]/images/front-arrow.gif" alt="" border="0"> </td><td colspan="2">&nbsp;Usuarios</td></tr>
    <tr><td></td><td class="login">Tarjeta de identificaci&oacute;n:&nbsp;&nbsp;&nbsp;&nbsp;</td><td class="login"><input type="text" name="userid" onKeyPress="javascript:onEnterSubmit();" size="15"></td></tr>
    <tr><td></td><td class="login">Contrase&ntilde;a:&nbsp;&nbsp;&nbsp;&nbsp;</td><td class="login"><input type="password" name="password" onKeyPress="javascript:onEnterSubmit();" size="15"></td></tr>
    <tr><td></td><td></td>
	<td  align="left" class="login">

<a href="#" onMouseOut="swap('enter','[% themelang %]/images/menu-entrar.png')" onMouseOver="swap('enter','[% themelang %]/images/menu-entrarbis.png')">
<input type="image" name="enter" id="enter" src="[% themelang %]/images/menu-entrar.png" border="0"  value="Entrar" onClick="javascript:enviar();"> </a>

</td></tr>
   </table> 

</form>
<form action="/cgi-bin/koha/opac-user.pl" method="post" name="datosAEnviar">
        <input type="hidden" name="userid">
        <input type="hidden" name="password">
[% FOREACH INPUTS %]
  <input type="hidden" name="[% name %]" value="[% value %]">
[% END %]
</form>
[% END %]
</td></tr>
</table>
</td>
<td width="44%" >&nbsp;</td>
      </tr>
</table>
      </td>
      </tr>
</table>
</table>
</table>
</body>
</html>
