
<p class="pagetitulo">Detalle MARC</p>

<table class="zebra" cellspacing="0" cellpadding="0" border="0">
	<tr class="tablaresultadoTitle">

		<td>&nbsp;</td>
		<td>&nbsp;</td>

	</tr>
</table>

<!--*****************************************MARC DETAIL*****************************************************  -->
<ul>
[% FOREACH MARCDetail_array %]

	[% IF campoMARC %]
	<li class="MARCheader">
	[% campoMARC %]&nbsp;[% nombreCampo %]
	</li>
	[% END %]  

	<li class="detalleMARC">
	[% campo %],&nbsp;&nbsp;[% subcampo %]
	&nbsp;[% librarian %]: &nbsp;<b>[% dato %]</b>
	</li>
[% END %]
</ul>




