    <!-- TMPL_INCLUDE NAME="opac-top.inc" -->
<tr><td>
<center>
<TABLE cellspacing=0 border="0" cellpadding=0 width="100%" class="tope">
 <tr class="bordetabla">
 <th >&nbsp;</th>
 </tr>
 <!-- TMPL_LOOP NAME="BIBLIO_DATA" -->
 <tr class="bordetabla">
 <td height="10"></td>
 </tr>
 <tr>
 <td valign="top" width="100%">
 <table cellpadding="2" cellspacing="2"  width="100%">
 <tr >
 <td class="impar" colspan="2">
 T&iacute;tulo:&nbsp;<b><a class="inputFontNormal" href=/cgi-bin/koha/opac-detail.pl?type=opac&bib=<!-- TMPL_VAR NAME=biblionumber ESCAPE=URL -->><!-- TMPL_VAR NAME="title" --></a></b><br>
<br>
<!-- TMPL_IF name="unititle" -->T&iacute;tulo Informativo:<b> <!-- TMPL_VAR NAME="unititle" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="subtitulo" -->Otro T&iacute;tulo:<b> <!-- TMPL_VAR NAME="subtitulo" --></b><br><!-- /TMPL_IF -->

<!-- TMPL_LOOP NAME="author" -->
Autor:<br> <b><a href="/cgi-bin/koha/opac-searchresults.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=opac">
<!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF name="nombre" -->, <!-- TMPL_VAR NAME="nombre" --><!-- /TMPL_IF --></a></b><br>
<!-- /TMPL_LOOP -->
<!-- TMPL_IF name="ADDITIONAL" -->
Autores Adicionales: <br>
<!-- TMPL_LOOP NAME="ADDITIONAL" -->
<b><a href="/cgi-bin/koha/opac-searchresults.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=opac">
<!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF name="nombre" -->, <!-- TMPL_VAR NAME="nombre" --><!-- /TMPL_IF --></a></b><br>
<!-- /TMPL_LOOP -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="COLABS" -->Colaboradores :<br>
<!-- TMPL_LOOP NAME="COLABS" -->
<b><a href="/cgi-bin/koha/opac-searchresults.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=opac">
<!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF name="nombre" -->, <!-- TMPL_VAR NAME="nombre" --><!-- /TMPL_IF --> (<!-- TMPL_VAR NAME="tipo" -->)</a></b><br>
<!-- /TMPL_LOOP -->
								   
<!-- /TMPL_IF -->

<!-- TMPL_IF name="ViewDetail" --><!-- TMPL_IF name="cdu" -->CDU :<b> <!-- TMPL_VAR NAME="cdu" --></b><br><!-- /TMPL_IF --><!-- /TMLP_IF --><!-- /TMPL_IF-->
<!-- TMPL_IF name="subject" -->Tema:<b> 
<!-- TMPL_LOOP NAME="SUBJECTS" -->
<a href="/cgi-bin/koha/opac-searchresults.pl?&amp;subjectitems=<!-- TMPL_VAR NAME=subject -->"><!-- TMPL_VAR NAME=subject --></a><!-- TMPL_VAR NAME=separator -->
<!-- /TMPL_LOOP --></b>
<br><!-- /TMPL_IF -->
<!-- TMPL_IF name="notas" -->Notas:<b> <!-- TMPL_VAR NAME="notas" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="abstracto" -->Resumen:<b> <!-- TMPL_VAR NAME="abstracto" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="classification" -->Nivel bibliogr&aacute;fico:<b> <!-- TMPL_VAR name="classification" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="lccn" -->LCCN:<b> <!-- TMPL_VAR name="lccn" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="url1" -->URL:<b> <a href="http://<!-- TMPL_VAR name="url1" -->"><!-- TMPL_VAR NAME="url1" --></a></b><br><!-- /TMPL_IF -->
<br>
 <!-- /TMPL_LOOP -->
 <!-- TMPL_LOOP NAME="BIBITEM_DATA" -->
 <!-- TMPL_IF name="clasificacion" -->Nivel bibliogr&aacute;fico:<b> <!-- TMPL_VAR name="clasificacion" --></b><br><!-- /TMPL_IF -->

 <!-- TMPL_IF name="volume" -->  Volumen:<b> <!-- TMPL_VAR NAME="volume" --></b> &nbsp;&nbsp;<!-- /TMPL_IF -->
 <!-- TMPL_IF name="volumeddesc" -->        Descripci&oacute;n:<b> <!-- TMPL_VAR NAME="volumeddesc" --></b><br><!-- /TMPL_IF -->
 <!-- TMPL_IF name="number" -->  Edici&oacute;n:<b> <!-- TMPL_VAR NAME="number" --></b><br><!-- /TMPL_IF -->

<!-- TMPL_IF name="itemtype" -->  Tipo de documento:<b> <!-- TMPL_VAR NAME="description" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="place" -->        Lugar:<b> <!-- TMPL_VAR NAME="place" --> </b>&nbsp;&nbsp;<!-- /TMPL_IF -->
<!-- TMPL_IF name="publishercode" -->   Editor:<b> <!-- TMPL_VAR NAME="publishercode" --></b>&nbsp;<!-- /TMPL_IF -->
<!-- TMPL_IF name="publicationyear" -->        Fecha:<b> <!-- TMPL_VAR NAME="publicationyear" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="pages" -->        P&aacute;ginas:<b> <!-- TMPL_VAR name="pages" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="seriestitle" -->        Serie:<b> <!-- TMPL_VAR NAME="seriestitle" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="isbn" -->        ISBN:<b> <!-- TMPL_VAR NAME="isbn" --></b>   &nbsp;&nbsp;<!-- /TMPL_IF -->
<!-- TMPL_IF name="isbn2" -->                 <b><!-- TMPL_VAR NAME="isbn2" --></b><!-- /TMPL_IF -->
<br>
<!-- TMPL_IF name="notes" -->        Notas:<b> <!-- TMPL_VAR NAME="notes" --></b><br><!-- /TMPL_IF -->
<!-- TMPL_IF name="size" -->    Tama&ntilde;o:<b> <!-- TMPL_VAR name="size" --></b><br><!-- /TMPL_IF -->
<hr>
<!-- TMPL_IF name="firstST" --> Signatura Topogr&aacute;fica: <b> <!-- TMPL_VAR name="firstST" --></b>
&nbsp;<img src="<!-- TMPL_VAR NAME='themelang' -->/images/ico_help.gif" title="Usar este dato para solicitar el libro" border=0>
<!-- /TMPL_IF -->
</td></tr>																 
</TABLE>
</td>
</tr>
<!-- /TMPL_LOOP -->
</TABLE>
</center>                                                                                                                                       </td></tr>

<tr><td>			    

<TABLE  CELLSPACING=0  CELLPADDING=0 border=0 align=center  width="100%">
<tr class="bordetabla">
<td height="10"></td>
</tr>

<!-- TMPL_LOOP NAME="ANALYSIS" -->
<tr><td><a name="<!-- TMPL_VAR NAME="analyticalnumber" -->"></a></td></tr>

<tr VALIGN=TOP>

<TD width=220 class="impar">
<p>
<br>
<!-- TMPL_IF name="analyticalauthor" -->
Autores:<b><br> 
<!-- TMPL_LOOP NAME="analyticalauthor" -->
<a href="/cgi-bin/koha/opac-searchresults.pl?authorid=<!-- TMPL_VAR NAME="id" ESCAPE="URL" -->&type=opac">
 <!-- TMPL_VAR NAME="apellido" --><!-- TMPL_IF name="nombre" -->, <!-- TMPL_VAR NAME="nombre" --><!-- /TMPL_IF --></a><br>
<!-- /TMPL_LOOP --></b>															      <!-- /TMPL_IF -->
<!-- TMPL_IF name="analyticaltitle" --><br>T&iacute;tulo:<b><!-- TMPL_VAR NAME="analyticaltitle" --></b><!-- /TMPL_IF -->
<!-- TMPL_IF name="analyticalunititle" --><br>T&iacute;tulo Informativo:<b><!-- TMPL_VAR NAME="analyticalunititle" --></b><!-- /TMPL_IF -->
 <!-- TMPL_IF name="subject" --><br>Temas:<b> 
 <!-- TMPL_LOOP NAME="SUBJECTS" -->                      
 <a Href="/cgi-bin/koha/opac-searchresults.pl?type=<!-- TMPL_IF NAME=opac -->opac<!-- TMPL_ELSE -->intra<!-- /TMPL_IF -->&subjectitems=<!-- TMPL_VAR NAME=subject -->"><!-- TMPL_VAR NAME="subject" --></a><!-- TMPL_VAR NAME=separator -->
 <!-- /TMPL_LOOP --></b>
 <br><!-- /TMPL_IF -->
																 
<!-- TMPL_IF name="classification" --><br>Clasificaci&oacute;n:<b><!-- TMPL_VAR NAME="classification" --></b><!-- /TMPL_IF -->
<!-- TMPL_IF name="parts" --><br>Designaci&oacute;n de vol/pag: <b><!-- TMPL_VAR NAME="parts" --></b><!-- /TMPL_IF -->
</p>
<br>
</td>
</tr>
</form>

<tr class="bordetabla">
<td height="10"></td>
</tr>
    <!-- /TMPL_LOOP -->
    
</table>
</center>
</td></tr>
</table>

</td></tr></table>
    <!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
												
