<html>
<script>
function indeterminado(){
        window.opener.document.getElementById('dcity').value="DESCONOCIDA";
        window.opener.document.getElementById('city').value="2500000";
        window.close();
}

function ejecutar(valor,id){
	window.opener.document.getElementById('dcity').value=valor;
	window.opener.document.getElementById('city').value=id;
	window.close();
}
</script>
<body>

<table align="center" height="100%" weight="100%">
<tr>
<td align=center>
<form name="info" id="info" action="/cgi-bin/koha/searchcity.pl">
Buscar ciudad: <input type="text" name="ciudad" id="ciudad" >  <input type="submit" value="Buscar" > <br>
</td>
</tr>
<tr>
<td>
<br>
<ul>
<!-- TMPL_LOOP NAME=ciudades -->
<li><a href="javascript:ejecutar('<!-- TMPL_VAR NAME="nombre" -->',<!-- TMPL_VAR NAME="localidad" -->)"> <!-- TMPL_VAR NAME="pais" -->-<!-- TMPL_VAR NAME="provincia" -->-<!-- TMPL_VAR NAME="partido" -->-<!-- TMPL_VAR NAME="nombre" --></a>
<!-- /TMPL_LOOP -->
</ul>
</td>
</tr>
<tr>
<td align=center>
<br><br>
<a href="javascript:indeterminado()">Indeterminado</a>
</td>
</tr>
</form>
</table>
</body>
</html>
