<script>
    $(document).ready(function() {
        makeToggle('divTablaAgregarVisualizacion','trigger',null,false);
        makeToggle('divTablaVisualizacion','trigger',null,false);
        onEnter('lib_librarian',agregarVisualizacion);
        loaderPath = '<img src="'+imagesForJS+'/loaders/loader_facebook.gif"'+'>';
        $('.editable').editable('[% url_prefix %]/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl', { 
              type      : 'text',
              cancel    : CANCELAR,
              submit    : OK,
              tooltip   : EDITABLE_MSG,
              placeholder: EDITABLE_MSG,
              style   : 'display: inline',
              submitdata : {token: "[% token %]", edit: 1},
              indicator : loaderPath,

        });
        mostrarTabla();
    });
    
    function mostrarTabla(){
        objAH               = new AjaxHelper(updateMostrarTabla);
        objAH.debug         = true;
        objAH.showOverlay   = true;  
        objAH.url           = URL_PREFIX+"/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl";
        objAH.tipoAccion    = 'MOSTRAR_TABLA_VISUALIZACION';
        objAH.perfil        = $("#perfiles_ref").val();
        objAH.sendToServer();
    }
    
    function updateMostrarTabla(responseText){
        $("#tablaResultCampos").html(responseText);
        zebra("tabla_datos");  
    }
    
    function actualizarOrden(){
        objAH               = new AjaxHelper(updateSortable);
        objAH.debug         = true;
        objAH.url           = URL_PREFIX+"/catalogacion/visualizacionOPAC/visualizacionOpacDB.pl";
        objAH.showOverlay   = true;
        objAH.tipoAccion    = "ACTUALIZAR_ORDEN";
        objAH.newOrderArray = $('#sortable').sortable('toArray');
        objAH.sendToServer(); 
    }
    
    function updateSortable(){
        mostrarTabla();        
    }

</script>

<fieldset>
    <legend class="titulo_legend trigger click"><strong>[% "Agregar Visualizaci&oacute;n:" | i18n %]</strong></legend>
    <div class="divTablaAgregarVisualizacion" id="divTablaAgregarVisualizacion">
        <ul>
            <li class="sub_item">
                <label for="campoX">[% 'Selecci&oacute;n' | i18n %]:</label> 
                [% selectCampoX %]
            </li>
            <li class="sub_item">
                <label for="campo">[% 'Campo' | i18n %]:</label>
                    <select name="campo" id="campo" onChange="eleccionCampo()">
                        <option value="-1">[% 'Seleccionar CampoX' | i18n %]</option>
                    </select>
                [% 'Nombre' | i18n %]: <strong><span id="nombre_campo"></span></strong>
            </li>
            <li class="sub_item">
                <label for="subcampo">[% 'Subcampo' | i18n %]:</label>
                <select name="subcampo" id="subcampo" onChange="eleccionSubCampo()">
                        <option value="-1">[% 'Seleccionar SubCampo' | i18n %]</option>
                    </select>
            </li>
            <li class="sub_item" id="lib_librarian">
                <label for="liblibrarian">[% 'Vista en Intranet' | i18n %]:</label> 
                <input id="liblibrarian" type="text" value="" size="90">
            </li> 
            [% PERL %]
                    print C4::AR::Filtros::to_Button(   text    => "[% 'Agregar Vista' | i18n %]",
                                                        boton   => "boton_buscar",
                                                        onClick => "agregarVisualizacion()",
                                                        title   => "[% 'Agregar Vista' | i18n %]",
                                                        width => "auto",
                                                        alternClass => "botonCentrado",
                            ) ;
            [% END %]

      </ul>
    </div>
</fieldset>

<div id="divAgregarModificarVisualizacion"></div>
<div id="tablaResultCampos"></div>
