[% INCLUDE "intranet-top.inc" %]

[% INCLUDE  'WindowHelper.inc'  %]

[% INCLUDE  'AutocompleteHelper.inc'  %] 

<!-- para manejar la ventana de campos MARC -->
<script src="/intranet-tmpl/includes/popups/helpCamposMARC-min.js"></script>
<script src="/intranet-tmpl/includes/visualizacionOPAC-min.js"></script>
<script src="/includes/jquery/jquery.jeditable-min.js"></script>

<script>
//Init Form
$(document).ready(function() {
	// Help
    toggle_ayuda_in_line();
    makeToggle('divTablaAgregarVisualizacion','trigger',null,true);
    makeToggle('divTablaVisualizacion','trigger',null,true);

});

</script>

[% PERL %]
    print C4::AR::Filtros::ayuda_marc() ;
[% END %]

[% PERL %]
    print C4::AR::Filtros::ayuda_in_line("[% 'ayudaaaaa' | i18n %]") ;
[% END %]

<input type="hidden" id="idEncabezado">

<h3>[% 'Visualizaci&oacute;n de campos MARC en OPAC' | i18n %]</h3>
<form class="form-horizontal">
    <fieldset>
        <legend>[% "Seleccione el esquema a configurar:" | i18n %]</legend>
        [% combo_perfiles %]

        [% PERL %]
                print C4::AR::Filtros::to_Icon(   
                                                    boton   => "icon_buscar",
                                                    onClick => "eleccionDeEjemplar();",
                                                    title   => "[% 'Buscar' | i18n %]",
                        ) ;
        [% END %]
        <select name="eleccion_nivel" id="eleccion_nivel" onchange="eleccionDeEjemplar();">
            <option value="1">Nivel 1</option>
            <option value="2">Nivel 2</option>
            <option value="3">Nivel 3</option>
        </select>
    </fieldset>
</form>
<div id="result"></div>

[% INCLUDE "intranet-bottom.inc" %]
