

<table id="tablaVisualizacion" class="tablesorter" border=0 cellspacing=0 cellpadding=0 width="100%" align="center">
	<thead>
 	<tr class="tablaresultadoTitle">	
		<th>[% 'Campo' | i18n %]</th>
		<th>[% 'Subcampo' | i18n %]</th>
		<th>[% 'Texto Pred' | i18n %]</th>
		<th>[% 'Texto Succ' | i18n %]</th>
		<th>[% 'Separador' | i18n %]</th>
		<th>[% 'Visible' | i18n %]</th>
		<th>[% 'Editar' | i18n %]</th>
		<th>[% 'Eliminar' | i18n %]</th>
	</tr>
	</thead>
	<tbody>
[% FOREACH RESULTSLOOP %]
	<tr align='center' class="inputFontNormal">

		<td>[% campo %]</td>
		<td>[% subcampo %]</td>
		<td>[% textpred %]</td>
		<td>[% textsucc %]</td>
		<td>[% separador %]</td>
		<td> 
			<input type='checkbox' id="[% idestcatopac %]" value="[% visible %]" onChange="cambiarVisibilidad('[% idestcatopac %]');" 
			title="[% 'Cambiar la visibilidad' | i18n %]"
			[% IF visible %] 
				checked	
			[% END %] >
		</td>
		<td class="click" align="center">
			<a onClick="modificarVisualizacion([% idestcatopac %]);">
			<img src="[%themelang %]/images/editar.png" Title="Editar" ALT="[% 'Editar' | i18n %]" hspace='0' vspace='0' border='0'>
			</a>
		</td>
		<td class="click" align="center">
			<a onClick="deleteRowVisualizacion([% idestcatopac %]);">
			<img src="[% themelang %]/images/borrar.png"
			Title="[% 'Eliminar' | i18n %]" alt="[% 'Eliminar' | i18n %]" hspace='0' vspace='0' border='0'>
			</a>
		</td>

	</tr>
[% END %]
	</tbody>

	<tr valign=bottom>
	        <td class="lineafinaltabla"  align="left" colspan="10"></td>
    </tr>
	
</table>