

[% paginador %]


[% IF shelvesloopshelves %]

<table WIDTh=100%  align="center" cellpadding="4" cellspacing="0" border="1" align="center">
  <tr class="bordetabla"  bordercolor="#f2f2f2" >
	<th align="center">Estantes Virtuales</th>
  </tr>

  <tr bordercolor="#f2f2f2">
	<td valign="middle"><b><i>[% shelfname %]
	</td></i></b>
  </tr>

[% FOREACH shelvesloopshelves %]
  <tr  bordercolor="#f2f2f2">
	<td valign='middle'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
	<a class="click" onClick="verSubEstanteVirtual('[% shelfnumber %]');">
	[% IF shelfname %]
		[% shelfname %]
	[% ELSE %]
		&nbsp;
	[% END %]
	</a>
	
	</td>
  </tr>
[% END %]

  <tr class="bordetabla"  bordercolor="#f2f2f2">
	<table width=100% align="center" cellpadding="4" cellspacing="0" border="0" align="center">
	<th class="bordetabla"  bordercolor="#f2f2f2" ></th>
	</table>   
  </tr>

</table>
<br>
[% END %]
