[% INCLUDE 'opac-top-login.inc' %]

<div class='tableMsgUser'><font class='fontMsgUser'><b><div id='mensajes'>[% mensaje %]</div></b></font></div>

<table align="center" border="0" class="top" width="100%"><tr><td align="center">

<form method="post" name="datosAEnviar">
	<input type="hidden" name="userid">
	<input type="hidden" name="password">
	<input type="hidden" name="nroRandom">
</form>

<script language="javascript">
	[% INCLUDE md5.js %]
</script>
<script language="javascript"> 

    	function enviar(){
// 		document.datosAEnviar.action= [% url %];
		document.datosAEnviar.action= '/cgi-bin/koha/opac-user.pl';
		nroRandom= [% RANDOM_NUMBER %];
		document.datosAEnviar.nroRandom.value= nroRandom;
		hash= b64_md5(b64_md5(document.datos.password.value)+nroRandom);
		document.datosAEnviar.password.value= hash;
		document.datosAEnviar.userid.value= document.datos.userid.value;
		document.datosAEnviar.submit();
	}

	function onEnterSubmit() {
	  /*Esta Funcion verifica si se presion ENTER y si es asi hace un submit del form*/
	  /*Importante: SOLO FUNCIONA EN EL INTERNET EXPLORER*/
  		if (window.event && window.event.keyCode == 13) {
			enviar();
			return false;
		} else {
				return true;
		}
	}

</script>

<form method="post" name="datos">
<table border="0" cellpadding="10" cellspacing="0" width="60%">
    <tr><td align="center" valign="top">


    <table border="0" cellpadding="10" cellspacing="0" >
    	<tr><th colspan="2" class="bordetabla"><h3>Entrar en Koha</h3></th></tr>
    	<tr><td class="tope"> [% "Tarjeta de identificaci&oacute;n:" | i18n %]</td><td class="tope">
		<input type="text" name="userid" onKeyPress="javascript:onEnterSubmit();"></td></tr>
    	<tr><td class="tope">[% "Contrase&ntilde;a: " | i18n %]</td><td class="tope">
		<input type="password" name="password" onKeyPress="javascript:onEnterSubmit();">
	</td>
   	 </tr>
    	<tr><td colspan="2" align="center" class="tope">

		<a 	href="#" onClick="enviar(); return(false);" onMouseOut="swap('enter','[% themelang %]/images/menu-entrar.png')" 
		onMouseOver="swap('enter','[% themelang %]/images/menu-entrarbis.png')">
		<img name="enter" id="enter" src="[% themelang %]/images/menu-entrar.png" border="0"></a>

	</td></tr>
    </table>

   </td></tr>
</table>
</form>

</td></tr></table>
