
<!--*****************************************Detalle*****************************************************  -->
<!-- TMPL_LOOP NAME="loopnivel2" -->

<table cellspacing=0 border="0" cellpadding=0 width="100%" class="tope">
  <tr class="bordetabla"> 
       <th >&nbsp;</th> 
 </tr>
 <tr class="bordetabla"> 
       <th >&nbsp;</th> 
 </tr>
</table>

<!-- GRUPO:<!-- TMPL_VAR NAME="grupo" --> -->

<div id="content<!-- TMPL_VAR NAME='DivMARC' -->" >
  <center>
    <input type="button" id="volver<!-- TMPL_VAR NAME='DivMARC' -->" value="Volver" style="display: none"
    onClick="Volver('<!-- TMPL_VAR NAME='DivDetalle' -->', '<!-- TMPL_VAR NAME='DivMARC' -->')">
  </center>
  <div id="<!-- TMPL_VAR NAME='DivMARC' -->"> </div>
</div>

<div id="<!-- TMPL_VAR NAME='DivDetalle' -->">

<table cellspacing="2" cellpadding="2" width="100%">
  <tr><td><table class="tablaDetalle" width="100%">
<ul>
<!-- TMPL_LOOP NAME="loopnivel1" -->
	<!-- TMPL_IF NAME="librarian" -->
	  <!-- TMPL_IF NAME="dato" -->
	<li>
		<!-- TMPL_VAR NAME="librarian" -->: <b><!-- TMPL_VAR NAME="dato" --></b>
	</li>
	  <!-- /TMPL_IF -->
	<!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
</ul>

<!-- TMPL_LOOP NAME="loopEncabezados" -->
	<div align="left">
		<span class="Encabezados"><!-- TMPL_VAR NAME="encabezado" --></span>
	</div>

	<ul>
	
	<!-- TMPL_LOOP NAME="resultado" -->
	
	<!-- TMPL_IF NAME="dato" -->
	<li>
		<!-- TMPL_VAR NAME="librarian" --> <!-- TMPL_VAR NAME="dato" -->
	</li>
	<!-- /TMPL_IF -->
	
	<!-- /TMPL_LOOP -->

	</ul>

<!-- /TMPL_LOOP -->
  </table></td></tr>
</table>

<table id="tableResult" cellspacing=0 border="0" cellpadding=0 width="100%" class="tope">
<tr class="bordetabla" align="center">
	<td>&nbsp;</td>
	<td>C&oacute;digo</td>
	<td>Signatura Topogr&aacute;fica</td> 
	<td>holdingbranch</td>
	<td>homebranch</td>
	<td>wthdrawn</td>
	<td>Disponibilidad</td>
	<td>MARC</td>
	<td>&nbsp;</td>
</tr>
  <!-- TMPL_LOOP NAME="loopnivel3" -->
	<!-- TMPL_LOOP NAME="nivel3" -->
<tr align="center">

	<td>&nbsp;</td>

	<td><!-- TMPL_VAR NAME="barcode" --></td>
	<td><!-- TMPL_VAR NAME="signatura_topografica" --></td>
	<td><!-- TMPL_VAR NAME="holdingbranch" --></td>
	<td><!-- TMPL_VAR NAME="homebranch" --></td>
	<td><!-- TMPL_VAR NAME="wthdrawn" --></td>
	<td><!-- TMPL_VAR NAME="notforloan" --></td>
	<td>
		<a onClick="MARCDetail('<!-- TMPL_VAR NAME='id3' -->', '<!-- TMPL_VAR NAME='DivDetalle' -->', '<!-- TMPL_VAR NAME='DivMARC' -->');">
		<img src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/es2/images/MARC.png" border="0" alt="Detalle MARC" title="Detalle MARC">
		</a>
	</td>

	<td>&nbsp;</td>

</tr>
	<!-- /TMPL_LOOP -->
  <!-- /TMPL_LOOP -->
</table>

</div>

<!-- /TMPL_LOOP -->
<!-- end loopnivel2 -->
