

<!-- TMPL_VAR NAME="paginador" -->


<table width=100%  align="center" cellpadding="4" cellspacing="0" border="1">
  <tr class="bordetabla"  bordercolor="#f2f2f2" >

<!-- TMPL_IF NAME='loggedinusername' -->
	<th><a id="todos" class="click">
		<img src="<!-- TMPL_VAR NAME='themelang' -->/images/check.png" title="Invertir la selecci&oacute;n" border=0></a>
	</th>
<!-- /TMPL_IF  -->

	<th align="center" width=40%>
		<a class="click" onClick="ordenarPor('title')">T&iacute;tulo</a>
	</th>
	<th align="center" width=20%>
		<a class="click" onClick="ordenarPor('completo')">Autor</a>
	</th>
	<th align="center" width=13%>
		<a class="click" onClick="ordenarPor('place')">Lugar</a>
	</th>
	<th align="center" width=10%>Edici&oacute;n</th>
	<th align="center" width=27%>Disponibilidad</th>
  </tr>

<!-- TMPL_LOOP Name="bitemsloop" -->
 <tr>
<!-- TMPL_IF NAME='loggedinusername' -->
	<td valign="middle" align="center">
		<input type=checkbox name=checkbox id="<!-- TMPL_VAR NAME=id2 -->" 
		value="<!-- TMPL_VAR NAME='id1' -->">
	</td>
<!-- /TMPL_IF  -->

	<td valign="middle">
		<a class="click" onClick="detalle(<!-- TMPL_VAR NAME='id1' -->)" title="Mostrar Detalle">
		<!-- TMPL_VAR NAME=title ESCAPE=HTML -->
	<!-- TMPL_IF NAME="unititle" -->
		:&nbsp;<!-- TMPL_VAR NAME="unititle" -->
	<!-- /TMPL_IF -->
		</a>
	</td>

	<td valign="middle">
		<a class="click" onClick="consultarAutor(<!-- TMPL_VAR NAME=id -->);">
		<!-- TMPL_IF NAME="completo" -->
			<!-- TMPL_VAR NAME="completo" -->
		<!-- TMPL_ELSE -->
			&nbsp;
		<!-- /TMPL_IF -->
		</a>
	</td>

	<td valign="middle">
		<!-- TMPL_IF Name="place" -->
			<!-- TMPL_VAR Name="place" -->
		<!-- TMPL_ELSE -->
			&nbsp;
		<!-- /TMPL_IF -->
	</td>
	
	<td valign="middle">
		<!-- TMPL_IF Name="editors" -->
			<!-- TMPL_VAR Name="editors" -->
		<!-- TMPL_ELSE -->
			&nbsp;
		<!-- /TMPL_IF -->
	</td>
	
	<td valign="middle">
	<!-- TMPL_IF Name="counts" -->
		
		<!-- TMPL_LOOP NAME="counts" -->
			<!-- TMPL_VAR NAME="nombre" --> <br> (Para Pr&eacute;stamo:
			<!-- TMPL_IF name="cantXbranchForLoan" -->
				<!-- TMPL_VAR NAME="cantXbranchForLoan" -->
			<!-- TMPL_ELSE -->
				0
			<!-- /TMPL_IF -->,<br> Para Sala de lectura:
			<!-- TMPL_IF name="cantXbranchNotForLoan" -->
				<!-- TMPL_VAR NAME="cantXbranchNotForLoan" -->
			<!-- TMPL_ELSE -->
				0
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="cantXbranchShared" -->
				,<br> Compartidos: <!-- TMPL_VAR name="cantXbranchShared" -->
			<!-- /TMPL_IF -->) <br><br>
		<!-- /TMPL_LOOP -->

	<!-- TMPL_ELSE -->
			&nbsp;
	<!-- /TMPL_IF -->
	</td>
  </tr>
<!-- /TMPL_LOOP -->

  <tr class="bordetabla"  bordercolor="#f2f2f2">
	<table align="center" width=100%  cellpadding="4" cellspacing="0" border="0">
		<th class="bordetabla"  bordercolor="#f2f2f2" ></th>
	</table>
  </tr>
</table>

<!-- TMPL_IF NAME='loggedinusername' -->
	<input type="hidden" value="" name="bookmarks" id="bookmarks">
	<a  onMouseOut="swap('ps','<!-- TMPL_VAR NAME='themelang' -->/images/favoritos.png')" onMouseOver="swap('ps','<!-- TMPL_VAR NAME='themelang' -->/images/favoritosbis.png')">  

	<input onClick="agregarAFavoritos();" name="ps" id="ps" type="image" value="publicshelf"  
	src="<!-- TMPL_VAR NAME='themelang' -->/images/favoritos.png" border="0" title="Agregar a favoritos">	
	</a>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME='MAIL' -->
<!-- MIGUEL - NO SE PARA QUE ES ESTO -->
	<input TYPE="hidden" VALUE="<!-- TMPL_VAR NAME='MAIL' -->" NAME="mail">
	<a  onMouseOut="swap('mail','<!-- TMPL_VAR NAME='themelang' -->/images/mail.png')" onMouseOver="swap('mail','<!-- TMPL_VAR NAME='themelang' -->/images/mailbis.png')">
	<input onClick="printform.target='_self';printform.type.value='mail';submit();"  name="mail" id="mail" type="image" value="Mail"  src="<!-- TMPL_VAR NAME='themelang' -->/images/mail.png" border="0" title="Enviar Resultados por Mail">
	</a> 
<!-- /TMPL_IF -->

<!-- MIGUEL - FALTA IMPLEMENTAR -->
	<a onMouseOut="swap('print','<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png')" onMouseOver="swap('print','<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimirbis.png')">
	<input onClick="printform.target='_blank';printform.type.value='print';submit();"  name="print" id="print" type="image" value="Imprimir"  src="<!-- TMPL_VAR NAME='themelang' -->/images/menu-imprimir.png" border="0" title="Imprimir Resultados">
	</a>

<!-- MIGUEL - FALTA IMPLEMENTAR -->
	<a  onMouseOut="swap('pdf','<!-- TMPL_VAR NAME='themelang' -->/images/pdf.png')" onMouseOver="swap('pdf','<!-- TMPL_VAR NAME='themelang' -->/images/pdfbis.png')">
	<input onClick="printform.target='_self'; printform.type.value='pdf';submit();" name="pdf" id="pdf" type="image" value="Generar PDF"  src="<!-- TMPL_VAR NAME='themelang' -->/images/pdf.png" border="0" title="Generar archivo PDF">
	</a>

