

<script language=javascript>

	function detalleMaterialEnEspera(id1){
		$('#datosUsuario').slideUp('slow');
		detalle(id1);
	}

</script>


<table width="100%" align="center" class="top" valign="top">
  <tr>
	<td width="80%"  valign="top">

<table width="100%" align="center"  border="0" cellpadding="0" cellspacing="0" >
<tr>
<td valign="top">

[% IF waiting_count %]

<table  width="100%" border="1" class="tope" cellspacing="0" cellpadding="4" align="center" valign="top">
  <tr valign="top">
	<td colspan="7" align="center" class="bordetabla" borde=1>
		<b>[% "Material para retirar" | i18n %]</b>
 	</td>
  </tr>

  <tr class="bordetabla">
	<th>[% "T&iacute;tulo" | i18n %]</th>
	<th>[% "Autor" | i18n %]</th>
	<th>[% "Edici&oacute;n" | i18n %]</th>
	<th>[% "Disponible desde" | i18n %]</th>
	<th>[% "Disponible hasta" | i18n %]</th> 
	<th>[% "Retira en" | i18n %]</th>
	<th>[% "Acci&oacute;n" | i18n %]</th>
  </tr>
<!-- ESTE LOOP MUESTRA LAS RESERVAS EN ESPERA -->
[% FOREACH WAITING %]
  <tr bordercolor="#f2f2f2">
	<td class="impar">
		<b><a class="click" onClick="detalle([% rid1 %])" title="Mostrar Detalle">
		[% rtitulo %]
		[% IF runititle %]:&nbsp;[% runititle %][% END %]
		</a></b>
	</td>
	<td class="impar">
  	[% IF rautor %]
		<a href="/cgi-bin/koha/opac-searchresults.pl?authorid=[% rautor %]" >
		[% autor %]
		</a>
  	[% ELSE %]
		&nbsp;
 	[% END %]
	</td> 
	<td align=center class="impar">  
	[% IF redicion %]
		[% redicion %] - 
	[% END %]

	[% IF rpublicationyear %]&nbsp;([% rpublicationyear %])[% END %]
	[% IF volume %]        t [% volume %] [% END %]
	</td>
	<td class="impar" align="center">
	[% IF rnotificationdate %] 
		[% rnotificationdate %]
	[% ELSE %]
		- 
	[% END %]
	</td>
	<td class="impar" align="center">
	[% IF rreminderdate %]
		<font color="[% color %]">[% rreminderdate %]</font>
	[% ELSE %]
		- 
	[% END %]
	</td>


	<td class="impar">
		<b>[% rbranch %]</b>
	</td>
	<td class="impar" align="center"> 
	[% IF CirculationEnabled %]
		<a class="click"
		onClick="cancelar([% reservenumber %])">[% "Cancelar" | i18n %]</a>
	[% ELSE %]
		[% "No disponible" | i18n %]
	[% END %]
	</td>

  </tr>
[% END %]
</table>
<br>
[% END %]

[% IF reserves_count %]

<table  width="100%" border="1" class="tope" cellspacing="0" cellpadding="4" align="center">
  <tr bordercolor="#f2f2f2">    
	<td colspan="4" align="center" class="bordetabla" borde=1>
		<b>[% "Material en espera" | i18n %]</b>
	</td>
  </tr> 	
  <tr class="bordetabla"  bordercolor="#f2f2f2">
	<th>[% "T&iacute;tulo" | i18n %]</th>
	<th>[% "Autor" | i18n %]</th>
	<th>[% "Edici&oacute;n" | i18n %]</th>
	<th>[% "Acci&oacute;n" | i18n %]</th>
  </tr>
<!-- ESTE LOOP MUESTRA LAS RESERVAS -->
[% FOREACH RESERVES %]
  <tr border="1" bordercolor="#f2f2f2">
	<td class="impar">
	<a class="click" onClick="detalleMaterialEnEspera([% rid1 %])" title="Mostrar Detalle">
		[% rtitulo %]
		[% IF runititle %]
			:&nbsp;[% runititle %]
		[% END %]
  	</a>
 	</td>
 	<td class="impar">
	[% IF rautor %]
		<a  href="/cgi-bin/koha/opac-searchresults.pl?authorid=[% rautor %]" >
		[% autor %]
		</a>
	[% ELSE %]
		&nbsp;
	[% END %]
 	</td>
	<td align=center class="impar"> 
	[% IF redicion %]
		[% redicion %]
	[% ELSE %]
		- 
	[% END %]
	</td>
	<td class="impar" align="center">
	[% IF CirculationEnabled %]
		<a class="click"
		onClick="cancelar([% reserveNumber %])">[% "Cancelar" | i18n %]</a>
	[% ELSE %]
		[% "No disponible" | i18n %]
	[% END %]
	</td>
  </tr>
 [% END %]
</table>
<br>
[% END %]

</td>
  </tr>
</table>


