[% INCLUDE 'intranet-top.inc' %]

<script language="javascript" type="text/javascript"> 

$(document).ready(function() {


});

</script>
<fieldset>
<legend><strong>[% "Herramientas de Exportaci&oacute;n:" | i18n %]</strong></legend>
	
</fieldset>

<div id="result"></div>

[% INCLUDE 'intranet-bottom.inc' %]

