[% INCLUDE   'intranet-top.inc'  %]

<script language="javascript" type="text/javascript">

var objAH;
var globalSearchTemp;
function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function consultar(filtro){
	objAH=new AjaxHelper(updateInfo);
	busqueda = jQuery.trim($('#member').val());
	inicial = '0';
	if (filtro){
		inicial = filtro;
		busqueda = jQuery.trim(filtro);
		objAH.inicial= inicial;
		$('#member').val("filtro: "+filtro);
	}
	else
	   {
		if (busqueda.substr(8,5).toUpperCase() == 'TODOS'){
				busqueda = busqueda.substr(8,5);
				$('#member').val(busqueda);
				consultar(busqueda);
		}
		else
		   {
			if (busqueda.substr(0,6).toUpperCase() == 'FILTRO'){
				busqueda = busqueda.substr(8,1);
				$('#member').val(busqueda);
				consultar(busqueda);
			}
		   }

			
	}



	if(busqueda.length > 0){
		objAH.url= '/cgi-bin/koha/usuarios/reales/buscarUsuarioResult.pl';
		objAH.funcion= 'changePage';
		objAH.member= busqueda;
		objAH.sendToServer();
	}
	else{
		alert("Ingrese un dato");
		$('#member').focus();
	}

}

function updateInfo(responseText){
	$('#result').html(responseText);
	zebra('tablaResult');
}

function Borrar(){
	$('#member').val('');
}

function checkFilter(eventType){
	var str = $('#member').val();
	
	if (eventType.toUpperCase() == 'FOCUS'){

		if (str.substr(0,6).toUpperCase() == 'FILTRO'){
			globalSearchTemp = $('#member').val();
			Borrar();
		}
	}
	else
	   {
		if (jQuery.trim($('#member').val()) == "")
			$('#member').val(globalSearchTemp);
	   }
}

$(document).ready(function() {
	//onEnter con foco en input, ejecuta la busqueda
	onEnter("member",consultar);
});

</script>

print perl
[% PERL %]
	use Locale::Maketext::Gettext::Functions;
	print __("2 years");
[% END %]
<br>

Filter i18n: [% "2 years" | i18n %]

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >B&uacute;squeda de Usuarios Reales</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>

</table>
<center>
<br><br><br>
<table>
	<tr>
 		<td>
			<input 	id="member" class="inputFontNormal" type=text name="member" onFocus="checkFilter('focus')" 
				onBlur="checkFilter('blur')" value="[% member %]">
		</td>
 		<td>
			<input id="buscar" type="image" onClick="consultar('');" src="[% themelang %]/images/boton-buscar.png" border='0'>

 			<input type="image" onClick="Borrar();" alt="Limpiar" src="[% themelang %]/images/borrar2.png" border="0" > 
		</td>
	</tr>
	<tr>
		<td class="inputFontNormal" colspan=2>
			<p class="recuadroAyuda">
			Tipear el apellido, DNI o legajo del usuario. Presionar buscar.
			</p>
		</td>
	</tr>
</table>
</center>
<div id="filterBar" style="text-align:center">
		<a href="#" onClick="consultar('A')"> A |</a>
		<a href="#" onClick="consultar('B')"> B |</a>
		<a href="#" onClick="consultar('C')"> C |</a>
		<a href="#" onClick="consultar('D')"> D |</a>
		<a href="#" onClick="consultar('E')"> E |</a>
		<a href="#" onClick="consultar('F')"> F |</a>
		<a href="#" onClick="consultar('G')"> G |</a>
		<a href="#" onClick="consultar('H')"> H |</a>
		<a href="#" onClick="consultar('I')"> I |</a>
		<a href="#" onClick="consultar('j')"> J |</a>
		<a href="#" onClick="consultar('K')"> K |</a>
		<a href="#" onClick="consultar('L')"> L |</a>
		<a href="#" onClick="consultar('M')"> M |</a>
		<a href="#" onClick="consultar('N')"> N |</a>
		<a href="#" onClick="consultar('O')"> O |</a>
		<a href="#" onClick="consultar('P')"> P |</a>
		<a href="#" onClick="consultar('Q')"> Q |</a>
		<a href="#" onClick="consultar('R')"> R |</a>
		<a href="#" onClick="consultar('S')"> S |</a>
		<a href="#" onClick="consultar('T')"> T |</a>
		<a href="#" onClick="consultar('U')"> U |</a>
		<a href="#" onClick="consultar('V')"> V |</a>
		<a href="#" onClick="consultar('W')"> W |</a>
		<a href="#" onClick="consultar('X')"> X |</a>
		<a href="#" onClick="consultar('Y')"> Y |</a>
		<a href="#" onClick="consultar('Z')"> Z |</a>
		<a href="#" onClick="consultar('TODOS')"> TODOS </a>
		
</div>

<br>
<div id="result"></div>
<br>

[% INCLUDE 'intranet-bottom.inc' %]

