[% INCLUDE "intranet-top.inc" %] 
<script src="/intranet-tmpl/blue/includes/circulacion.js"></script>
<script src="/intranet-tmpl/blue/includes/usuarios/usuariosReales.js"></script>
<script src="/intranet-tmpl/blue/includes/jquery/jquery.fileUploader.js"></script>
<script src="/intranet-tmpl/blue/includes/jquery/jquery.livequery.min.js"></script>

<script>

var objAH;


//*************************************Para manejar el historial de prestamos***********************************
function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function mostrarHistorialDePrestamos(){
	objAH=new AjaxHelper(updateMostrarHistorialDePrestamos);
	objAH.url='/cgi-bin/koha/usuarios/reales/historialPrestamos.pl';
	objAH.nro_socio= usuario.ID;
	objAH.funcion= 'changePage';
	objAH.sendToServer();
}

function updateMostrarHistorialDePrestamos(responseText){
	$('#historialPrestamos').html(responseText);
	zebra('tablaHistorialPrestamos');
	$('#historialPrestamos').show();
}


//*******************************Fin Para manejar el historial de prestamos************************************


//************************************Para manejar la circulacion**********************************************

// function openPopup() {
// 	window.open('../prestamoInterBiblio.pl?accion=ingresarDatos&nro_socio=[% nro_socio %]','[% "Prestamos interbibliotecarios" | i18n %]','width=640,height=500,toolbar=yes,scrollbars=yes,status=yes');
// }

//REDEFINIDO, se encuentra en circulacion.js
function updateInfoDevRen(responseText){
// 	alert("ejecuto updateInfoDevRen LOCAL!!!");
	cancelarDiv();
// 	/*clearMessages*/()

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	
	var mensajes= '';
	for(i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}

	detallePrestamos(usuario.ID);
	//puede que llegue al  max de prestamos y se cancelen las reservas
	detalleReservas(usuario.ID);
	//puede que luego de devolver el usuario sea sancionado
	detalleSanciones(usuario.ID);
}

//REDEFINIDO, se encuentra en circulacion.js, se llama luego de realizar un prestamo
function updateInfoPrestarReserva(responseText){
// 	alert("ejecuto updateInfoPrestarReserva LOCAL!!!");
	cancelarDiv();
// 	/*clearMessages*/();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	var mensajes= '';
	for(var i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}

	detalleReservas(usuario.ID);
	detallePrestamos(usuario.ID);
    //puede que el usuario este sancionado
    detalleSanciones(usuario.ID);
}


//REDEFINIDO, se ejecuta cancelarReserva de circulacion.js y luego se ejecuta esta funcion
function updateInfoCancelacion(responseText){

	var Messages=JSONstring.toObject(responseText);
	setMessages(Messages);
	detalleReservas(usuario.ID);
}

function detalleUsuario(){
	objAH=new AjaxHelper(updateDetalleUsuario);
	objAH.url='/cgi-bin/koha/usuarios/reales/detalleUsuario.pl';
	objAH.debug= true;
	objAH.nro_socio= usuario.ID;
	objAH.sendToServer();
}

function updateDetalleUsuario(responseText){
	$('#detalleUsuario').html(responseText);
	createFileUploader();
	detalleReservas(usuario.ID);
}

function createFileUploader(){

	if($("#uploader")[0] != null){


		$("#uploader").fileUploader({
						// perl script
						ajaxFile: "uploadPicture.pl",
						nro_socio: usuario.ID,
						funcionOnComplete: function (){
									detalleUsuario(usuario.ID);
								}
		});

	}
}

function detallePrestamos(socio){

	objAH=new AjaxHelper(updateDetallePrestamos);
	objAH.url='/cgi-bin/koha/usuarios/reales/detallePrestamos.pl';
	objAH.nro_socio= socio;
	objAH.sendToServer();
}

function updateDetallePrestamos(responseText){
	$('#prestamos').html(responseText);
	zebra('prestamosResult');
	checkedAll('checkAllPrestamos','chkboxPrestamos');	
	detalleSanciones(usuario.ID);
}

function detalleReservas(socio){

	objAH=new AjaxHelper(updateDetalleReservas);
	objAH.url='/cgi-bin/koha/usuarios/reales/detalleReservas.pl';
	objAH.nro_socio= socio;
	objAH.sendToServer();
}


function updateDetalleReservas(responseText){
	$('#reservas').html(responseText);
	zebra('reseravsAsignadasResult');
	zebra('reservasEnEsperaResult');
	checkedAll('checkAllReservas','chkboxReservas');
	detallePrestamos(usuario.ID);
}



function detalleSanciones(socio){

    objAH=new AjaxHelper(updateDetalleSanciones);
    objAH.url='/cgi-bin/koha/usuarios/reales/detalleSanciones.pl';
    objAH.nro_socio= socio;
    objAH.sendToServer();
}

function updateDetalleSanciones(responseText){
    $('#sanciones').html(responseText);
}
//**********************************Fin**Para manejar la circulacion********************************************


$(document).ready(function() {

// 	zebra("tablaResult");
	
	//definido en circulacion.js
	usuario= new objeto_usuario();
	usuario.text= "[% socio.persona.getApellido %], [% socio.persona.getNombre %]";
    usuario.ID= '[% socio.getNro_socio %]';
	detalleUsuario();
// FIXME tarda mucho si se disparan todos al mismo tiempo, pruebo detalleUsuarioUsuario=> detalleReservas => detallePrestamos => detalleSanciones
// 	detalleUsuario(usuario.ID);
// 	detallePrestamos(usuario.ID);
// 	detalleReservas(usuario.ID);
// 	detalleSanciones(usuario.ID);

	$("#historialPrestamosToggle").toggle(	function(){
							$('#historialPrestamos').slideUp('slow');
						},
						function(){
							$('#historialPrestamos').slideDown('slow');
						}
	);

});

</script>

<br>
<div id="confirmar_div"></div>
<br>

<div style="clear:both">

	<!-- 	DETALLE USUARIO -->
	<div id="detalleUsuario"></div>
		
	<!--DETALLE DE PRESTAMOS-->
	<div id="prestamos"></div>
	
	<!-- DETALLE DE RESERVAS -->
	<div id="reservas"></div>
	
	<!-- DETALLE DE SANCIONES -->
	<div id="sanciones"></div>
	
	<p align="center"><span class="click" onClick="mostrarHistorialDePrestamos()">[% "Historial de Pr&eacute;stamos" | i18n %]</span></p>	
	
	<div id="historialPrestamosToggle" class="click" style="width: 10px; ">[-]</div>
	<!-- DETALLE DEL HISTORICO DE PRESTAMOS DEL USUARIO -->
	<div id="historialPrestamos"></div>

</div>

[% INCLUDE "intranet-bottom.inc" %]