[% INCLUDE "intranet-top.inc" %] 
<script src="/intranet-tmpl/blue/includes/circulacion.js"></script>
<script src="/intranet-tmpl/blue/includes/usuarios/usuariosReales.js"></script>
<script src="/includes/jquery/jquery.fileUploader.js"></script>
<script src="/includes/jquery/jquery.livequery.min.js"></script>

<script>

var objAH;
NRO_SOCIO_AUTH = '[% nro_socio %]';

//*************************************Para manejar el historial de prestamos***********************************
function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function mostrarHistorialDePrestamos(){
	objAH=new AjaxHelper(updateMostrarHistorialDePrestamos);
	objAH.debug= true;
    objAH.cache= true;
	objAH.url='/cgi-bin/koha/usuarios/reales/historialPrestamos.pl';
	objAH.nro_socio= USUARIO.ID;
	objAH.funcion= 'changePage';
	objAH.sendToServer();
}

function updateMostrarHistorialDePrestamos(responseText){
	$('#historialPrestamos').html(responseText);
	zebra('tablaHistorialPrestamos');

}


//*******************************Fin Para manejar el historial de prestamos************************************


//************************************Para manejar la circulacion**********************************************
//REDEFINIDO, se encuentra en circulacion.js
function updateInfoDevRen(responseText){
// 	alert("ejecuto updateInfoDevRen LOCAL!!!");
	cancelarDiv();
// 	/*clearMessages*/()

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	
	var mensajes= '';
	for(i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}

	detallePrestamos(USUARIO.ID);
	//puede que llegue al  max de prestamos y se cancelen las reservas
	detalleReservas(USUARIO.ID);
	//puede que luego de devolver el usuario sea sancionado
	detalleSanciones(USUARIO.ID);
}

//REDEFINIDO, se encuentra en circulacion.js, se llama luego de realizar un prestamo
function updateInfoPrestarReserva(responseText){
// 	alert("ejecuto updateInfoPrestarReserva LOCAL!!!");
	cancelarDiv();
// 	/*clearMessages*/();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	var mensajes= '';
	for(var i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}

	detalleReservas(USUARIO.ID);
	detallePrestamos(USUARIO.ID);
    //puede que el usuario este sancionado
    detalleSanciones(USUARIO.ID);
}


//REDEFINIDO, se ejecuta cancelarReserva de circulacion.js y luego se ejecuta esta funcion
function updateInfoCancelacion(responseText){

	var Messages=JSONstring.toObject(responseText);
	setMessages(Messages);
	detalleReservas(USUARIO.ID);
}

function detalleUsuario(){
	objAH=new AjaxHelper(updateDetalleUsuario);
	objAH.url='/cgi-bin/koha/usuarios/reales/detalleUsuario.pl';
	objAH.debug= true;
	objAH.nro_socio= USUARIO.ID;
	objAH.sendToServer();
}

function updateDetalleUsuario(responseText){
	$('#detalleUsuario').html(responseText);
	createFileUploader();
	detalleReservas(USUARIO.ID);
}

function createFileUploader(){

	if($("#uploader")[0] != null){


		$("#uploader").fileUploader({
						// perl script
						ajaxFile: "uploadPicture.pl",
						nro_socio: USUARIO.ID,
						funcionOnComplete: function (){
									detalleUsuario(USUARIO.ID);
								}
		});

	}
}

function detallePrestamos(socio){

	objAH=new AjaxHelper(updateDetallePrestamos);
	objAH.url='/cgi-bin/koha/usuarios/reales/detallePrestamos.pl';
	objAH.nro_socio= socio;
	objAH.sendToServer();
}

function updateDetallePrestamos(responseText){
	$('#prestamos').html(responseText);
	zebra('prestamosResult');
	checkedAll('checkAllPrestamos','chkboxPrestamos');	
	detalleSanciones(USUARIO.ID);
}

function detalleReservas(socio){

	objAH=new AjaxHelper(updateDetalleReservas);
	objAH.url='/cgi-bin/koha/usuarios/reales/detalleReservas.pl';
	objAH.nro_socio= socio;
	objAH.sendToServer();
}


function updateDetalleReservas(responseText){
	$('#reservas').html(responseText);
	zebra('reseravsAsignadasResult');
	zebra('reservasEnEsperaResult');
	checkedAll('checkAllReservas','chkboxReservas');
	detallePrestamos(USUARIO.ID);
}



function detalleSanciones(socio){

    objAH=new AjaxHelper(updateDetalleSanciones);
    objAH.url='/cgi-bin/koha/usuarios/reales/detalleSanciones.pl';
    objAH.nro_socio= socio;
    objAH.sendToServer();
}

function updateDetalleSanciones(responseText){
    $('#sanciones').html(responseText);
}
//**********************************Fin**Para manejar la circulacion********************************************
    function makeToggle(container_class,trigger,afterToggleFunction){

        $("."+container_class).hide();
        $("h2."+trigger).toggle(function(){
            if (afterToggleFunction != null)
                afterToggleFunction();
            $(this).addClass("active"); 
            }, function(){
                $(this).removeClass("active");
        });


        $("h2."+trigger).click(function(){
            $(this).next("."+container_class).slideToggle("fast");
// SI ACA NO HAY ERROR, SE ROMPE :( en historial de prestamos, muestra y oculta de nuevo
            $.scrollTo($(this).next("."+container_class));
        });

    }

$(document).ready(function(){

// 	zebra("tablaResult");
	
	//definido en circulacion.js
	USUARIO= new objeto_usuario();
	USUARIO.text= "[% socio.persona.getApeYNom %]";
    USUARIO.ID= '[% socio.getNro_socio %]';
	detalleUsuario();

    makeToggle('toggle_container_block','trigger',mostrarHistorialDePrestamos);


});

</script>

<br>
    <div id="confirmar_div"></div>
<br>

<div>
	<!-- 	DETALLE USUARIO -->
	<div id="detalleUsuario"></div>
		
	<!--DETALLE DE PRESTAMOS-->
	<div id="prestamos"></div>
	
	<!-- DETALLE DE RESERVAS -->
	<div id="reservas"></div>
	
	<!-- DETALLE DE SANCIONES -->
	<div id="sanciones"></div>

    <div>
        <h2 class="trigger">
            <a href="#">
                    [% "Historial de Pr&eacute;stamos" | i18n %]
            </a>
        </h2>
	    <!-- DETALLE DEL HISTORICO DE PRESTAMOS DEL USUARIO -->
	    <div id="historialPrestamos" class="toggle_container_block" style="display:none"></div>
    </div>

</div>

[% INCLUDE "intranet-bottom.inc" %]