[% IF realreserves %]
	[% USE HTML %]
	<br>
	<p align=center><B>[% "EJEMPLARES ASIGNADOS" | i18n %]</B></p> 
	<table class="reseravsAsignadasResult" cellspacing=0  cellpadding=0  border=0   width="100%">
		<tr class="tablaresultadoTitle">
			<th width="1%" align="right" valing="top">
				<img src="[% themelang %]/images/izquierda.png">
			</th>
			<th>
				<a class="click" id="checkAllReservas">
					<img src="[% themelang %]/images/check.png" border="0" title="Invertir la selecci&oacute;n">
				</a>
			</th>
	
			<th>[% "T&iacute;tulo" | i18n %]</th>
			<th>[% "Autor" | i18n %]</th>
			<th>[% "C. Barra" | i18n %]</th>
			<th>[% "Sig. Top." | i18n %]</th>
			<th>[% "Ed." | i18n %]</th>
			<th>[% "Vol." | i18n %]</th> 
			<th>[% "Vencimiento" | i18n %]</th>
			<th width="10%">[% "Retira en" | i18n %]</th>
			<th width="10%">[% "Cancelar" | i18n %]</th>
			<th width="1%" valing="top">
			<img src="[% interface %]/[% theme %]/images/derecha.png">
			</th>
		</tr>
	[% FOREACH realreserves %]
		<tr class="inputFontNormal" align="center">
			<td height=25>&nbsp;</td>
	
			<td>
				<input type="checkbox"  name="chkboxReservas" value="[% rid3 %]" id="[% barcode %]">
			</td>
	
			<td width="16%">
				<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=[% rid1 %]">
					[% IF runititle %]
						:&nbsp;[% HTML.escape(runititle) %]
					[% END %]
				</a>
			</td>
			<td>
				[% IF rauthor %]
					[% rauthor %]
				[% ELSE %]
					&nbsp;
				[% END %]
			</td>
			<td>
				<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=[% id1 %]&id2= [%id2%]&id3=[% id3 %]&barcode=[% barcode %]&signatura_topografica=[% signatura_topografica %]' 
				Title='[% "Detalle de disponibilidad" | i18n %]'>[% barcode %]</a>
			</td>
			<td>
				[% IF signatura_topografica %]
					<a class="inputFontNormal" 
					href="/cgi-bin/koha/detalle.pl?id1= [% rid1 %]">
					[% signatura_topografica %]
					</a>
				[% END %]
			</td>
			<td>
				[% IF redicion %]
					[% redicion %]
				[% END %]
			</td>
			<td>
				[% IF volume %]
					[% volume %]
					[% IF volumeddesc %]
						: [% IF volumeddesc %]
					[% END %]
				[% END %]	 
			</td>
			<td>
				[% IF rreminderdate %]
					[% rreminderdate %]
				[% END %]
			</td>
			<td>
				[% IF rbranch %]
				<b> [% rbranch %]</b>
				[% END %]
			</td>
	
			<td>
				<inpuT type="image" name="cancel"  VALUE="Cancelar" BORDER=0 
				src="[% themelang %]/images/borrar.png" 
				onClick="cancelarReserva('[% reservenumber %]')" title='[% "Cancelar" | i18n %]'>
			</td>
			<td height=25>&nbsp;</td>
	
		</tr>
	[% END %]
	</table>
	
	<p align=center>
		<input type="image" name="borrowD"  VALUE='[% "prestar" | i18n %]' BORDER=0 
		src="[% themelang %]/images/item-prestar.png" 
		title="Realizar pr&eacute;stamo" 
		onClick="realizarAccion('CONFIRMAR_PRESTAMO','chkboxReservas',generaDivPrestamo);">
	</p>
	

[% END %]


[% IF waiting %]

	<br>
	<p align=center colspan=6><b>[% "RESERVAS" | i18n %]</b></p>
	
	<table class="reservasEnEsperaResult" cellspacing=0  cellpadding=0  border=0   width="100%">
		<tr valign=middle class="tablaresultadoTitle">
			<th width="1%" align="right" valing="top">
				<img src="[% themelang %]/images/izquierda.png">
			</th>
			<th>[% "T&iacute;tulo" | i18n %]</th>
			<th>[% "Autor" | i18n %]</th>
			<th>[% "Edici&oacute;n" | i18n %]</th>
			<th>[% "Volumen" | i18n %]</th>
			<th>[% "Cancelar" | i18n %]</th>
			<th width="1%" valing="top">
				<img src="[% themelang %]/images/derecha.png">
			</th>
		</tr>
	[% FOREACH waiting %]
		<tr align="center" class="inputFontNormal">
			<td height=25>&nbsp;</td>
			<td width="16%"> 
				<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=[% rid1 %]">
					[% HTML.escape(rtitulo) %]
					[% IF runititle %]
						:&nbsp; [% runititle %]
					[% END %]
				</a>
			</td>
			<td>
				[% IF rautor %]
					[% rautor %]
					&nbsp;
				[% END %]
			</td>
			<td>  
				[% IF redicion %]
					[% redicion %]
				[% END %]
			</td>
			<td>
				[% IF volume %]
					[% volume %]
					[% IF volumeddesc %]
						: [% volumeddesc %]
					[% END %]
				[% END %]
			</td>
			<td> 
				<input 	type="image" name="cancel"  value='[% "Cancelar" | i18n %]' border=0 
					src="[% themelang %]/images/borrar.png" 
					onClick="confirm_cancelation('[% reservenumber %]')" title="Cancelar">
			</td>
			<td height=25>&nbsp;</td>
		</tr>
	[% END %]
	</table>
[% END %]
[% END %] <!-- FIXME  PORQUE SI ESTA CERRADO TODO??????? PERO LO NECESITA, SINO NO COMPILA :( -->