









[% USE HTML %] 

[% IF reservas_asignadas_count %]
	<br>
	<p align=center><B>[% "EJEMPLARES ASIGNADOS" | i18n %]</B></p> 
	<table class="reseravsAsignadasResult" cellspacing=0  cellpadding=0  border=0   width="100%">
		<tr class="tablaresultadoTitle">
			<th width="1%" align="right" valing="top">
				<img src="[% themelang %]/images/izquierda.png">
			</th>
			<th>
				<a class="click" id="checkAllReservas">
					<img src="[% themelang %]/images/check.png" border="0" title="Invertir la selecci&oacute;n">
				</a>
			</th>
	
			<th>[% "T&iacute;tulo" | i18n %]</th>
			<th>[% "Autor" | i18n %]</th>
			<th>[% "C. Barra" | i18n %]</th>
			<th>[% "Sig. Top." | i18n %]</th>
			<th>[% "Ed." | i18n %]</th>
			<th>[% "Vol." | i18n %]</th> 
			<th>[% "Vencimiento" | i18n %]</th>
			<th width="10%">[% "Retira en" | i18n %]</th>
			<th width="10%">[% "Cancelar" | i18n %]</th>
			<th width="1%" valing="top">
			<img src="[% interface %]/[% theme %]/images/derecha.png">
			</th>
		</tr>
	[% FOREACH reserva IN RESERVAS_ASIGNADAS %]
		<tr class="inputFontNormal" align="center">
			<td height=25>&nbsp;</td>
	
			<td>
				<input type="checkbox"  name="chkboxReservas" value="[%  reserva.getId3 %]" id="[% reserva.nivel3.getBarcode %]">
			</td>
	
			<td width="16%">
				<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=[% reserva.nivel3.nivel1.getId1 %]">
                    [% HTML.escape(reserva.nivel2.nivel1.getTitulo) %]
<!--					[% IF runititle %]
						:&nbsp;[% HTML.escape(runititle) %]
					[% END %]-->
				</a>
			</td>
			<td>
                [% IF reserva.nivel3.nivel1.getAutor %]
                    [% reserva.nivel3.nivel1.cat_autor.getCompleto %]
                [% ELSE %]
                    &nbsp;
                [% END %]
			</td>
			<td>
                <a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=[% reserva.nivel3.nivel1.getId1 %]&id2=[% reserva.nivel3.nivel2.getId2 %]&id3=[% reserva.getId3 %]&barcode=[% reserva.nivel3.getBarcode %]&signatura_topografica=[% reserva.nivel3.getSignatura_topografica %]' title='Detalle de disponibilidad'> 
                [% reserva.nivel3.getBarcode %]</a>
			</td>
			<td>
                [% IF reserva.nivel3.getSignatura_topografica %] 
                    <a class="inputFontNormal" 
                        href="/cgi-bin/koha/detalle.pl?id1="[% reserva.nivel3.nivel1.getId1 %]">
                        [% reserva.nivel3.getSignatura_topografica %] 
                    </a>
                [% END %]
			</td>
            <td>  
            [% IF reserva.nivel3.nivel2.getEdicion %] [% reserva.nivel3.nivel2.getEdicion %] [% ELSE %] - [% END %]
            </td>
    
            <td> 
            [% IF reserva.nivel3.nivel2.getVolumen %] t [% reserva.nivel3.nivel2.getVolumen %] 
                [% IF reserva.nivel3.nivel2.getVolumenDesc %] ([% reserva.nivel3.nivel2.getVolumenDesc %])  [% END %] 
            [% END %]
            </td>
			<td>
            [% IF reserva.getFecha_recordatorio_formateada %]
            <font  [% IF reserva.estaVencida %] color="red" [% END %] >[% reserva.getFecha_recordatorio_formateada %]</font>
            [% ELSE %]
               - 
            [% END %]
			</td>
			<td>
            [% IF reserva.getId_ui %] 
                [% reserva.ui.getNombre %]
            [% ELSE %]
                - 
            [% END %]
			</td>
	
			<td>
				<inpuT type="image" name="cancel"  VALUE="Cancelar" BORDER=0 
				src="[% themelang %]/images/borrar.png" 
				onClick="cancelarReserva('[% reserva.getId_reserva %]')" title='[% "Cancelar" | i18n %]'>
			</td>
			<td height=25>&nbsp;</td>
	
		</tr>
	[% END %]
	</table>
	
	<p align=center>
		<input type="image" name="borrowD"  VALUE='[% "prestar" | i18n %]' BORDER=0 
		src="[% themelang %]/images/item-prestar.png" 
		title="Realizar pr&eacute;stamo" 
		onClick="realizarAccion('CONFIRMAR_PRESTAMO','chkboxReservas',generaDivPrestamo);">
	</p>
	

[% END %]


[% IF reservas_espera_count %]

	<br>
	<p align=center><b>[% "RESERVAS" | i18n %]</b></p>
	
	<table class="reservasEnEsperaResult" cellspacing=0  cellpadding=0  border=0   width="100%">
		<tr valign=middle class="tablaresultadoTitle">
			<th width="1%" align="right" valing="top">
				<img src="[% themelang %]/images/izquierda.png">
			</th>
			<th>[% "T&iacute;tulo" | i18n %]</th>
			<th>[% "Autor" | i18n %]</th>
			<th>[% "Edici&oacute;n" | i18n %]</th>
			<th>[% "Volumen" | i18n %]</th>
			<th>[% "Cancelar" | i18n %]</th>
			<th width="1%" valing="top">
				<img src="[% themelang %]/images/derecha.png">
			</th>
		</tr>
    [% FOREACH reserva IN RESERVAS_ESPERA %]
		<tr align="center" class="inputFontNormal">
			<td height=25>&nbsp;</td>
			<td width="16%"> 
				<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=[% eserva.nivel3.nivel1.getId1 %]">
					[% HTML.escape(reserva.nivel2.nivel1.getTitulo) %]
				</a>
			</td>
			<td>
                [% IF reserva.nivel3.nivel1.getAutor %]
                    [% reserva.nivel3.nivel1.cat_autor.getCompleto %]
                [% ELSE %]
                    &nbsp;
                [% END %]
			</td>
           <td>  
            [% IF reserva.nivel3.nivel2.getEdicion %] [% reserva.nivel3.nivel2.getEdicion %] [% ELSE %] - [% END %]
            </td>
    
            <td> 
            [% IF reserva.nivel3.nivel2.getVolumen %] t [% reserva.nivel3.nivel2.getVolumen %] 
                [% IF reserva.nivel3.nivel2.getVolumenDesc %] ([% reserva.nivel3.nivel2.getVolumenDesc %])  [% END %] 
            [% END %]
            </td>
			<td> 
				<input 	type="image" name="cancel"  value='[% "Cancelar" | i18n %]' border=0 
					src="[% themelang %]/images/borrar.png" 
					onClick="confirm_cancelation('[% reserva.getId_reserva %]')" title="Cancelar">
			</td>
			<td height=25>&nbsp;</td>
		</tr>
	[% END %]
	</table>
[% END %]
