
<!-- ************************************Window Permisos Usuario***************************************** -->
		
	<table width="100%"  border="0" cellpadding="0" cellspacing="0">
		<tr align="center"><td class="pagetitle" >[% socio.persona.getApeYNom %]</td></tr>
		<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
	</table>

	<table border=0 width="100%" cellpadding="0" cellspacing="0">

	[% FOREACH loop %]
		<tr>
			<td >&nbsp;</td>
			<td>
				<input name="chkpermisos" class="inputFontNormal" type=checkbox value=[% bit %] [% checked %]/>
			</td>
			<td class="inputFontNormal">
				[% flag %]
			</td>
			<td class="inputFontNormal">
				[% flagdesc %]
			</td>
			<td >&nbsp;</td>
		</tr>

	[% END %]

	</table>

	<p><a class="click" onClick="guardarPermisos()" >
		<img alt="Guardar Permisos" src="[% themelang %]/images/guardar.png" border="0">
	</a></p>

<!-- *******************************Fin**Window Permisos Usuario***************************************** -->
