<!-- TMPL_INCLUDE NAME="opac-top-login.inc" -->



<!-- TMPL_IF NAME="nopermission" -->
<!-- This is what is displayed if user doesnt have permission -->
<h4>Disculpe, KOHA no cree que usted tenga permisos en esta p&aacute;gina.<h2>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="timed_out" -->
<!-- This is what is displayed if Entrar has timed out -->
<h4>Se vencio su sesi&oacute;n, por favor vuelva a ingresar.<h2>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="different_ip" -->
<!-- This is what is displayed if user doesnt have permission -->
<h4>Esta accediendo a Koha desde una IP diferente!! Por favor vuelva a ingresar<h2>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="invalid_username_or_password" -->
<!-- This is what is displayed if user doesnt have permission -->
<h4>Ingreso un nombre de usuario o una contrase&ntilde;a err&oacute;nea.<h2>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="loginprompt" -->
<!-- Entrar prompt time-->

<table align="center" border="0" class="top" width="100%"><tr><td align="center">

<form method="post" name="datosAEnviar">
	<input type="hidden" name="userid">
	<input type="hidden" name="password">
	<input type="hidden" name="nroRandom">
<!-- TMPL_LOOP NAME="INPUTS" -->
  <input type="hidden" name="<!-- TMPL_VAR NAME="name" -->" value="<!-- TMPL_VAR NAME="value" -->">
<!-- /TMPL_LOOP -->
</form>

<script language="javascript">
	<!-- TMPL_INCLUDE NAME="md5.js" -->
</script>
<script language="javascript"> 
    	function enviar(){
		document.datosAEnviar.action= "<!-- TMPL_VAR NAME="url" -->";
		nroRandom= <!-- TMPL_VAR NAME="RANDOM_NUMBER" -->;
		document.datosAEnviar.nroRandom.value= nroRandom;
		hash= b64_md5(b64_md5(document.datos.password.value)+nroRandom);
		document.datosAEnviar.password.value= hash;
		document.datosAEnviar.userid.value= document.datos.userid.value;
		document.datosAEnviar.submit();
	}
	function onEnterSubmit() {
	  /*Esta Funcion verifica si se presion ENTER y si es asi hace un submit del form*/
	  /*Importante: SOLO FUNCIONA EN EL INTERNET EXPLORER*/
  	if (window.event && window.event.keyCode == 13) {
    		enviar();
		return false;
	} else {
    			return true;
	}
	}
</script>

<form method="post" name="datos">
<table border="0" cellpadding="10" cellspacing="0" width="60%">
    <tr><td align="center" valign="top">


    <table border="0" cellpadding="10" cellspacing="0" >
    <tr><th colspan="2" class="bordetabla"><h3>Entrar en Koha</h3></th></tr>
    <tr><td class="tope">Tarjeta de identificaci&oacute;n:</td><td class="tope"><input type="text" name="userid" onKeyPress="javascript:onEnterSubmit();"></td></tr>
    <tr><td class="tope">Contrase&ntilde;a:</td><td class="tope"><input type="password" name="password" onKeyPress="javascript:onEnterSubmit();"></td></tr>
    <tr><td colspan="2" align="center" class="tope">

	<a href="#" onClick="enviar(); return(false);" onMouseOut="swap('enter','<!-- TMPL_VAR NAME='themelang' -->/images/menu-entrar.png')" onMouseOver="swap('enter','<!-- TMPL_VAR NAME='themelang' -->/images/menu-entrarbis.png')"><img name="enter" id="enter" src="<!-- TMPL_VAR NAME="themelang" -->/images/menu-entrar.png" border="0"></a>

	</td></tr>
    </table>

   </td></tr>
</table>
</form>

</td></tr></table>
<!-- /TMPL_IF -->
