<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/AjaxHelper.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>

<script>
var objAH;

function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function consultar(){
	objAH=new AjaxHelper(updateInfo);
	objAH.url= "/cgi-bin/koha/members/historialPrestamosResult.pl";
	objAH.borrowernumber= "<!-- TMPL_VAR NAME=bornum -->";
	objAH.funcion= "changePage";
	//se envia la consulta
	objAH.sendToServer();
}

function updateInfo(responseText){
	$("#result").html(responseText);
	zebra("tablaResult");
}

$(document).ready(function() {
	consultar();
});

</script>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" ><!-- TMPL_VAR NAME=firstname --> <!-- TMPL_VAR NAME=surname --></td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>
</table>

<br>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="inputFontNormal" ><b>ID de Usuario: </b><!-- TMPL_VAR NAME=bornum --></td>
	</tr>
	<tr>
		<td class="inputFontNormal" ><b>Tarjeta de identificaci&oacute;n :</b> <!-- TMPL_VAR NAME=cardnumber --></td>
	</tr>
</table>

<br>
<div id="result"></div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->


