<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script language="javascript" type="text/javascript">
function swap(id,src){
document.getElementById(id).src=src;
}
</script>

			
<BLOCKQUOTE>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
<!-- TMPL_IF name="surname" -->
		<td class="pagetitle" >Editar Instituci&oacute;n</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
<!-- TMPL_ELSE -->
		<td class="pagetitle" >Agregar nueva Instituci&oacute;n</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
<!-- /TMPL_IF -->
	</tr>
</table>

<br>

<form action=/cgi-bin/koha/members/newimember.pl method=post name=form1>
  <input type=hidden name=joining value="">
  <input type=hidden name=expiry value="">
  <input type=hidden name=type value="borrowers">
  <input type=hidden name=borrowernumber value="<!-- TMPL_VAR NAME=member -->">
  <input type=hidden name=updtype value=I>

<table border=0 cellspacing=0 cellpadding=5 class="tablaresultado" width="100%">
    	<tr align=right>
      		<td width=100% align="right" class="inputFontNormal">
			<b>Tarjeta de identificaci&oacute;n *</b>
      			<input class="inputFontNormal" type=text name=cardnumber_institution size=20 value=<!-- TMPL_VAR NAME=cardnumber_institution -->><br>
		</td>
    	</tr>
</table>
<br>

<table cellpadding='0' cellspacing='0' width='100%'>
	<tr class="tablaresultadoTitle">
      		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
      		<td  width=100%>DETALLES DE LA INSTITUCI&Oacute;N</td>
      		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
    	</tr>
</table>

<table width=100%>
   	<tr>&nbsp;</tr>
    	<tr valign=top>
     		<td width=100% align="center" class="inputFontNormal">
			<b>Instituci&oacute;n* &nbsp;</b>
			<input class="inputFontNormal" type=text name=institution_name size=50 value="<!-- TMPL_VAR name="surname" -->">
		</td>
    	</tr>
</table>
   <br>
   <br>
	 
<table cellpadding='0' cellspacing='0' width='100%'>
	<tr class="tablaresultadoTitle">
      		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>	
      		<td  width=100%>DIRECC&Iacute;ON DE LA INSTITUCI&Oacute;N</td>
		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
    	</tr>
</table>

<table width=100%>
   	<tr>&nbsp;</tr>
   		<td width=7%>&nbsp;</td>
    		<td class="inputFontNormal" valign="top" align="right" width=40%>
      			<b>Direcci&oacute;n*</b><br>
      			<input  class="inputFontNormal" type=text name=address size=50 value="<!-- TMPL_VAR name="streetaddress" -->">
     			<br>
     			<br>
     			<b>C&oacute;digo Postal*</b><br>
     			<input  class="inputFontNormal" type=text name=zipcode size=50 value="<!-- TMPL_VAR name="zipcode" -->">
    		</td>
    		<td class="inputFontNormal" valign="top" align="right" width=40%>
      			<b>Ciudad*</b><br>
      			<input  class="inputFontNormal" type=text name=city size=50 value="<!-- TMPL_VAR name="city" -->">
      			<br>
      			<br>
       			<b>&Aacute;rea</b><br>
       			<!-- TMPL_VAR name="CGIbranch" -->
    		</td>
    		<td width=13%>&nbsp;</td>
   	</tr>
</table>

    <br>
    <br>
		 
<table width=100%  cellpadding='0' cellspacing='0'>
    	<tr class="tablaresultadoTitle">
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
      		<td COLSPAN=5>DETALLES DE CONTACTO</td>
		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
    	</tr>
</table>

<table width=100%>
	<tr>&nbsp;</tr>
    	<tr>
    		<td width=6%>&nbsp;</td> 
    		<td class="inputFontNormal" valign="top" align="right" width=35%>
       			<b>Nombre</b><br>
       			<input  class="inputFontNormal"type=text name=contactname size=50 value="<!-- TMPL_VAR name="contactname" -->">
      			<br>
      			<br>
       			<b>Tel&eacute;fono (day)</b><br>
       			<input  class="inputFontNormal"type=text name=phoneday size=50 value="<!-- TMPL_VAR name="phoneday" -->">
    		</td>
    		<td class="inputFontNormal" width=36% valign="top" align="right">
        		<b>Fax</b><br>
        		<input  class="inputFontNormal"type=text name=faxnumber size=50 value="<!-- TMPL_VAR name="faxnumber" -->">   
      			<br>
      			<br>
        		<b>Email</b><br>
        		<input  class="inputFontNormal"type=text name=emailaddress size=50 value="<!-- TMPL_VAR name="emailaddress" -->">
    		</td>
    		<td width=12%>&nbsp;</td>
    	</tr>
</table>
    
<table width=100%>
	<tr>
     		<td class="inputFontNormal"  align="right" width=47%>
      			<b>Notas</b>
      			<textarea class="inputFontNormal" name=borrowernotes wrap=physical cols=29 rows=3><!-- TMPL_VAR name="borrowernotes" --></textarea>
     		</td>
     		<td width=53%>&nbsp;</td>
    	</tr>
</table>
<br>
<br>
<table width=100%  cellpadding="0" cellspacing="0">
    	<tr class="tablaresultadoTitle" >
		<td width="1%" align="left" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td  COLSPAN=5>BIBLIOTECA UTILIZADA</td>
	 	<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
    	</tr>
</table>
 
<table width=100%>
 <tr>&nbsp;</tr>
    <tr valign=top >
	<td   align="center" class="inputFontNormal"><b>Notas</b><textarea class="inputFontNormal" name=borrowernotes wrap=physical cols=40 rows=3><!-- TMPL_VAR name="borrowernotes" --></textarea></td>
    </tr>
    <tr>
      <td align="right" class="inputFontNormal">
      <b>(*) Obligatorio</b>
      </td>
    </tr>
</table>
<br>

<table width=100%>

    <tr valign=top >
	<td  align="center" >
	   <a onClick="form1.submit()" >
           <img name="save" id="save" alt="Guardar" src="<!-- TMPL_VAR NAME="themelang" -->/images/guardar.png" border="0"></a>
        </td>
    </tr>
</TABLE>

</form>

</BLOCKQUOTE>

<br clear=all>
<p> &nbsp; </p>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

