<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->


<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/jquery/tablesorter/jquery.tablesorter.js"></script>
<link href="/intranet-tmpl/blue/es2/includes/jquery/tablesorter/blue/style.css" type="text/css" rel="stylesheet">
<script src="/intranet-tmpl/blue/es2/includes/jquery/tablesorter/jquery.tablesorter.pager.js"></script>

<script language="javascript" type="text/javascript">
//Agrego el codigo para mostrar el estado de la busqueda en Ajax
<!-- TMPL_INCLUDE NAME="state.js" -->
//para manejar la zebra
<!-- TMPL_INCLUDE NAME="util.js" -->

function consultar(){
	
	var p= 	'member=' + $('#member').val();

	$.ajax({	type: "POST", 
			url: "/cgi-bin/koha/members/memberResult.pl",
			data: p,
			beforeSend: Init,
 			complete: function(ajax){
					$('#result').html(ajax.responseText);
					zebra('tablaResult');
					$('#tablaResult').tablesorter({	
 									widgets: ['zebra'],
  									headers: { 0: { sorter: false},
 										   9: { sorter: false}}
// ,
//  									debug: true
								})
							.tablesorterPager({container: $("#pager")})
					Complete();
				}
	});

}

function Borrar(){
	$('#member').val('');
}

function Complete(){
	HiddeState();
}

function Buscar(){
	var busqueda = $('#member').val();
 	if(busqueda != ""){
		consultar();	
 	}else{
 		alert("Ingrese un dato");
 		$('#member').focus();
 	}
}

function datosUsuario(id){
	location.href="/cgi-bin/koha/members/moremember.pl?bornum="+id;
}

$(document).ready(function() {

	//onEnter con foco en input, ejecuta la busqueda
	$("#member").keypress(function (e) {
		if(e.which == 13){
			Buscar();
		}
	});

});



</script>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" >B&uacute;squeda de Usuarios Reales</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3"></td>
	</tr>

</table>
<center>
<br><br><br>
<table>
	<tr>
 		<td>
			<input id="member" class="inputFontNormal" type=text name="member" value="<!-- TMPL_VAR NAME=member -->">
		</td>
 		<td>
			<input id="buscar" type="image" onClick="Buscar();" src="<!-- TMPL_VAR NAME='themelang' -->/images/boton-buscar.png" border='0'>

			<input type="image" onClick="Borrar();" alt="Limpiar" src="<!-- TMPL_VAR NAME='themelang' -->/images/borrar2.png" border="0" >
		</td>
	</tr>
	<tr>
		<td class="inputFontNormal" colspan=2>
			<p class="recuadroAyuda">
			Tipear el apellido, DNI o legajo del usuario. Presionar buscar.
			</p>
		</td>
	</tr>
</table>
</center>

<br>
<div id="result"></div>
<br>
<!--<div id="pager" class="pager" style="top: 640px; position: absolute;">
<form>
	<img class="first" src="/intranet-tmpl/blue/es2/includes/jquery/tablesorter/pager/first.png"/>
	<img class="prev" src="/intranet-tmpl/blue/es2/includes/jquery/tablesorter/pager/prev.png"/>
	<input class="pagedisplay" type="text"/>
	<img class="next" src="/intranet-tmpl/blue/es2/includes/jquery/tablesorter/pager/next.png"/>
	<img class="last" src="/intranet-tmpl/blue/es2/includes/jquery/tablesorter/pager/last.png"/>
	<select class="pagesize">
		<option value="10" selected="selected">10</option>
		<option value="20">20</option>
		<option value="50">50</option>
	</select>
</form>
</div>-->
<!-- TMPL_INCLUDE NAME="paginadorTabla.inc" -->


<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->