<HTML>

<script>
function verificaClaveUsuario(claveUsu,confirmeClave){
  if (claveUsu.value != confirmeClave.value)
    {alert("Las claves son distintas.\nIngreselas nuevamente.");
	confirmeClave.value="";
	claveUsu.value="";
	claveUsu.focus();
	return true;
  }else
   return false;
  }
</script>

<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<!-- TMPL_IF NAME=newpassword -->
<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
<tr><td class="pagetitle" >Click <a href="/cgi-bin/koha/members/moremember.pl?bornum=<!-- TMPL_VAR NAME=member -->">aqu&iacute;</a> continuar para ver la informaci&oacute;n del Usuario.
</td></tr>
<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>
	<!-- TMPL_IF NAME=errorldap -->
<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
<tr><td class="pagetitle" >Hay un problema que no le permite actulizar sus datos en el Directorio.
</td></tr>
<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>
	<!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
<tr><td class="pagetitle" ><!-- TMPL_VAR NAME="firstname" -->&nbsp; <!-- TMPL_VAR NAME="surname" -->
</td></tr>
<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
</table>

	<form method=post name=frm>
	<input type=hidden name=member value=<!-- TMPL_VAR NAME=member -->>
	<!-- TMPL_IF NAME="warn" -->
		Usted ha ingresado un ID de usuario que ya existe. Por favor elija otro.<br>
	<!-- /TMPL_IF -->
	<!-- Nuevo ID de Usuario: <input name=newuserid size=20 value=<!-- TMPL_VAR NAME=userid -->> <br> -->
	<table border=0>
	  <tr>
		<td class="inputFontNormal"><b>Nueva Contrase&ntilde;a:</b></td>
		<td><input  class="inputFontNormal" name=newpassword size=20 type=password></td>
	  </tr>
	  <tr>
		<td  class="inputFontNormal"><b>Repetir Contrase&ntilde;a: </b></td>
		<td><input name=newpassword1  class="inputFontNormal" size=20 type=password></td>
	  </tr>
	</table>
	<p>
	<input type=button onClick="if (!verificaClaveUsuario(frm.newpassword,frm.newpassword1)) {frm.submit();}" value="Confirme contrase&ntilde;a" class="button">
	</form>
<!-- /TMPL_IF -->


<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
