<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<center>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center"><tr><td class="pagetitle" >
<!-- TMPL_IF NAME=addAction -->
        Agregar Nuevo Posible Usuario
<!-- TMPL_ELSE -->
        Actualizar detalles de los Posibles Usuarios
<!-- /TMPL_IF -->
</td></tr>
<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>

</table>

<br>


<form action=/cgi-bin/koha/newmember2.pl method=post name="form1">
	<input type=hidden name=joining value="<!-- TMPL_VAR NAME=dateenrolled -->">
	<input type=hidden name=expiry value="<!-- TMPL_VAR NAME=expiry -->">
	<input type=hidden name=typeRegister value="persons">
	<input type=hidden name=personnumber value="<!-- TMPL_VAR NAME=member -->">
	<input type=hidden name=borrowernumber value="<!-- TMPL_VAR NAME=borrowernumber -->">
	<input type=hidden name=updtype value="<!-- TMPL_VAR NAME=updtype -->">

<table border=0 cellspacing=0 cellpadding=0 width="100%">

<tr valign=top>
<!--<td COLSPAN="3"><input type=reset value="Limpiar todos los campos"></td>-->
<td width="50%" ALIGN="RIGHT" class="inputFontNormal">
<!--<!-- TMPL_IF NAME=borrowernumber --> 
Usuario Habilitado# <!-- TMPL_VAR NAME=borrowernumber -->, <!-- /TMPL_IF -->--> Tarjeta de identificaci&oacute;n * <input type=text name=cardnumber size=10 value="<!-- TMPL_VAR NAME=cardnumber -->" class="inputFontNormal"><br></td>
 	</tr>
        </table>
        <br>
        <br>
        <table width="100%"  cellpadding='0' cellspacing='0'>
        <tr valign=middle class="tablaresultadoTitle">
		<td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td width="35%" ><B>DETALLES PERSONALES DEL USUARIO</b></td>
		<td width="65%" ALIGN="right">*
		<input type="radio" name="sex" value="F"<!-- TMPL_IF NAME=female --> checked<!-- /TMPL_IF -->>F
		<input type="radio" name="sex" value="M"<!-- TMPL_UNLESS NAME=female --> checked<!-- /TMPL_UNLESS -->> M
		&nbsp; &nbsp;  <B>Fecha de nacimiento</B> (<!-- TMPL_VAR NAME=dateformat -->)
		<input  type=text name=dateofbirth size=10 value="<!-- TMPL_VAR NAME=dateofbirth -->">
		</td>
		<td width="1%" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</tr>
	</table>
	
	 <table width="100%">
        <tr>&nbsp;</tr>
        <tr>
        <td width="10%">&nbsp;</td>
	<td width="35%"class="inputFontNormal" align="right">
	<b> Apellido*</b><br>
	<input  class="inputFontNormal"type=text name=surname size=50 value="<!-- TMPL_VAR NAME=surname -->">
	<br>
	<br>
	<b> Nombre de Pila*</b><br>
	<input  class="inputFontNormal"type=text name=firstname size=50 value="<!-- TMPL_VAR NAME=firstname -->">
	<br>
	<br>
	<b>Tipo*</b><br>
	<select  class="inputFontNormal"name=documenttype size=1><!-- TMPL_LOOP NAME=documentloop -->
	<OPTION <!-- TMPL_VAR NAME=selected -->><!-- TMPL_VAR NAME=document --><!-- /TMPL_LOOP -->
	</select>
	<input  class="inputFontNormal"type=text name=documentnumber size=50 value="<!-- TMPL_VAR NAME=documentnumber -->">             
	</td>

	  <td  width="42%" class="inputFontNormal" align="right" valign="top">
         <b>Categor&iacute;a*</b><br>
          <!-- TMPL_VAR NAME=catcodepopup -->

        <br>
        <br>

         <b>Legajo</b><br>
         <input  class="inputFontNormal" type=text name=studentnumber size=50 value="<!-- TMPL_VAR NAME=studentnumber -->">

        <br>
        <br>

         <!-- TMPL_IF NAME=ethcatpopup --><!-- TMPL_VAR NAME=ethcatpopup -->
         <b>Raza</b><br>
         <b>Notas de raza</b><br>
         <!-- TMPL_ELSE -->
         <!--<br>&nbsp;<br>&nbsp;-->
         <!-- /TMPL_IF -->
        </td>
        <td width="10%">&nbsp;</td>
       </tr>

	</table>
 <table width=100%>
        <tr valign=top >
                <td   width="60%" class="inputFontNormal">
Estado (Regular o No Regular)</FONT> <input type="checkbox" id="regular" name="regular"<!--TMPL_IF name="regular"--> checked<!--/TMPL_IF -->></td>
                <td>
                        <!-- TMPL_IF name="ethcatpopup" -->
                                <select class="inputFontNormal" name="ethnicity" size=1>
                                        <!-- TMPL_LOOP NAME=ethnicityloop -->
                                        <option value=<!-- TMPL_VAR NAME=value --><!-- TMPL_VAR NAME=selected -->><!-- TMPL_VAR NAME=label -->
                                        <!-- /TMPL_LOOP -->
                                </select>
                        <!-- /TMPL_IF -->
                        </td>
                        <!-- TMPL_IF NAME=ethcatpopup --><!-- TMPL_VAR NAME=ethcatpopup -->
                        <td ><input  class="inputFontNormal"type=text name=ethnicnotes size=40 ></td>
                        <!-- TMPL_ELSE -->
                        <td >&nbsp;</td>
                        <!-- /TMPL_IF -->
                <!--<td><!-- TMPL_VAR NAME=catcodepopup --></td>-->
        </tr>
        
        </table> 
        <br>
        <br>
<table width="100%"  cellpadding='0' cellspacing='0'>
        <tr valign=middle colspan=6 width="100%"class="tablaresultadoTitle">
                <td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
                <td COLSPAN=6 width="100%">DIRECCI&Oacute;N DEL USUARIO</td>
                <td width="1%" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
        </tr>
 <tr valign=middle>
        <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
        <td>&nbsp;</td>
        <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
        </tr>

       <tr align="center" valign=middle>
        <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
        <td width="6%">&nbsp;</td>
        <td width=40% class="inputFontNormal" align="right">
          <b>Direcci&oacute;n*</b><br>
          <input  class="inputFontNormal"type=text name=address size=50 value="<!-- TMPL_VAR NAME=address -->">
         <br>
         <br>
          <b>C&oacute;digo Postal</b><br>
          <input  class="inputFontNormal"type=text name="zipcode" size=50 value="<!-- TMPL_VAR NAME="zipcode" -->">
         <br>
         <br>
          <b>Ciudad*</b><br>
          <input class="inputFontNormal" type=text name="dcity" id="dcity" value="<!-- TMPL_IF NAME="dcity" --><!-- TMPL_VAR name="dcity" --> <!-- TMPL_ELSE --> ---- <!-- /TMPL_IF -->">
          <input class="inputFontNormal" type=hidden name="city" id="city" value="<!-- TMPL_VAR name="city" -->">
           <a  onClick="window.open('searchcity.pl','Seleccionar lugar','width=500,height=500,top=100,left=300,toolbar');">
           <img   src="<!-- TMPL_VAR NAME="themelang" -->/images/modificar2.png" border="0"></a>
         <br>
         <br>
	
          <b>Direcci&oacute;n de origen</b><br>
          <input  class="inputFontNormal" type=text name="streetaddress" size=50 value="<!-- TMPL_VAR NAME=streetaddress -->">
         <br>
         <br>
          <b>C&oacute;digo Postal de origen</b><br>
          <input  class="inputFontNormal" type=text name="homezipcode" size=50 value="<!-- TMPL_VAR NAME="homezipcode" -->">
         <br>
         <br>
          <b>Ciudad de origen</b><br>
          <input class="inputFontNormal" type=text name="dstreetcity" id="dstreetcity" value="<!-- TMPL_IF NAME="dstreetcity" --><!-- TMPL_VAR name="dstreetcity" --> <!-- TMPL_ELSE --> ---- <!-- /TMPL_IF -->">
          <input class="inputFontNormal" type=hidden name="streetcity" id="streetcity" value="<!-- TMPL_VAR name="streetcity" -->">
           <a  onClick="window.open('searchstreetcity.pl','Seleccionar lugar','width=500,height=500,top=100,left=300,toolbar');">
           <img   src="<!-- TMPL_VAR NAME="themelang" -->/images/modificar2.png" border="0"></a>
        
</td>
        <td width="44%"class="inputFontNormal" align="right" valign="top">
         <b>Tel&eacute;fono particular</b><br>
          <input class="inputFontNormal"type=text name=phone size=50 value="<!-- TMPL_VAR NAME=phone -->">
         <br><br>
          <b>Email</b><br>
          <input class="inputFontNormal"type=text name=emailaddress size=50 value="<!-- TMPL_VAR NAME=emailaddress -->">
         <br>
         <br>
          <b>Tel&eacute;fono del trabajo</b><br>
          <input class="inputFontNormal"type=text name=phoneday size=50 value="<!-- TMPL_VAR NAME=phoneday -->">
         <br>
         <br>
          <b>Incorporaci&oacute;n a Unidad de Informaci&oacute;n</b>
          <br>
          <!-- TMPL_VAR name="CGIbranch" -->

        </td>
	 <td width="15%">&nbsp; </td>
        <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
       </tr>
       </table>

<br>
<table width="100%"  cellpadding='0' cellspacing='0'>
        <tr valign=middle width="100%"class="tablaresultadoTitle">
                 <td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
                <td   COLSPAN=6 width="100%" ><B>DATOS ALTERNATIVOS DEL CONTACTO</b></td>
                <td width="1%" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
        </tr>
        </table>
        <table width="100%">
        <tr>
         <td width="5%">&nbsp;</td>
         <td class="inputFontNormal"  align="right" width="38%">
           <b>Apellidos y nombres *</b><br>
           <input class="inputFontNormal"type=text name=contactname size=50 value="<!-- TMPL_VAR NAME=contactname -->">
          <br>
          <br>
           <b>Tel&eacute;fono</b><br>
           <input class="inputFontNormal"type=text name=altphone size=50 value="<!-- TMPL_VAR NAME=altphone -->">
          <br>
          <br>
           <b>Relaci&oacute;n*</b><br>
           <select class="inputFontNormal"name=altrelationship size=1><!-- TMPL_LOOP NAME=relshiploop -->
            <OPTION <!-- TMPL_VAR NAME=selected -->><!-- TMPL_VAR NAME=relationship -->
            <!-- /TMPL_LOOP -->
           </select>
         </td>
   <td class="inputFontNormal" width="41%" align="right">
          <b> Notas</b><br>
          <textarea class="inputFontNormal" name=altnotes wrap=physical cols=35 rows=5><!-- TMPL_VAR NAME=altnotes --></textarea>
         </td>
         <td width="10%">&nbsp;</td>
        </tr>
        <tr>&nbsp;</tr>
        </table>
<br>
        <br>
<table width="100%" cellpadding='0' cellspacing='0'>
        <tr valign=middle width="100%"class="tablaresultadoTitle">
                <td width="1%" align="right" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
                <td  COLSPAN=6 width="100%"><B>NOTAS PARA EL USO DE LA UNIDAD DE INFORMACI&Oacute;N</B></td>
                <td width="1%" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
        </tr>
       </table>
       <table width="100%">
       <tr>&nbsp;</tr>
        <tr valign=top align="center">
                 <td width=30% align="right" class="inputFontNormal"><b>Notas</b></td>
                <td class="inputFontNormal" align="left"><textarea class="inputFontNormal"name=borrowernotes wrap=physical cols=55 rows=5><!-- TMPL_VAR NAME=borrowernotes --></textarea></td>
        </tr>
        <!-- TMPL_IF NAME=modify -->
                <tr><td  class="inputFontNormal"><b>Otros </b><br>
                <!-- TMPL_LOOP NAME=flagloop --></td></tr>
                <tr>
                        <td  class="inputFontNormal"><!-- TMPL_VAR NAME=html --></td>
                        <td  class="inputFontNormal"><input class="inputFontNormal"type=radio name="<!-- TMPL_VAR NAME=name -->" value="1" <!-- TMPL_VAR NAME=yes -->>Si
                        <input class="inputFontNormal"type=radio name="<!-- TMPL_VAR NAME=name -->" value="0" <!-- TMPL_VAR NAME=no -->>No
                        </td>
                </tr>
                <!-- /TMPL_LOOP -->
        <!-- /TMPL_IF -->

</table>

<table width=100%>
        <tr>
                <td width="50%" align="right">
                <input type=hidden name=type value=<!-- TMPL_VAR NAME="type" -->>
                <input type="submit" value="Guardar" class="button" style="visibility:hidden">
                <a onClick="form1.submit()" href="#">
                <img alt="Guardar" src="<!-- TMPL_VAR NAME="themelang" -->/images/guardar.png" border="0">
                </td>

                 <td  width="50%" align="left">
                 <a  onClick="form1.reset()" href="#">
                 <img name="clear" id="clear" alt="Limpiar" src="<!-- TMPL_VAR NAME="themelang" -->/images/borrar2.png" border="0"></a>
                 </td>
        </tr>
        </table>
</form>
<!-- TMPL_IF NAME="opac" -->
    <!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
        <!-- TMPL_ELSE -->
                <!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
                        <!-- /TMPL_IF -->




