<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->
<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/json/jsonStringify.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/AjaxHelper.js"></script>

<script>
function openPopup() {
	window.open('../prestamoInterBiblio.pl?accion=ingresarDatos&bornum=<!-- TMPL_VAR NAME=bornum -->','Prestamos interbibliotecarios','width=640,height=500,toolbar=yes,scrollbars=yes,status=yes');
}

function objeto_datos(){
	this.array_ids3;
	this.usuario;
	this.accion;
}

function objeto_usuario(){
	this.text;
	this.ID;
}

function item(){
	this.id3;
	this.barcode;
}

$(document).ready(function() {
	checkedAll('checkAllReservas','chkboxReservas');
	checkedAll('checkAllPrestamos','chkboxPrestamos');
	zebra("tablaResult");

});

function devolver_renovar(accion){
	var chck=$("input[@name=chkboxPrestamos]:checked");
	var array=new Array;
	for(var i=0; i< chck.length; i++){
		var it=new item();
		it.id3=chck[i].value;
		it.barcode=chck[i].id;
		array[i]=it;
	}
	var usuario=new objeto_usuario();
	usuario.ID=$("#borrnumber").val();
	usuario.text="<!-- TMPL_VAR NAME=surname -->, <!-- TMPL_VAR NAME=firstname -->";
	var obj=new objeto_datos();
	obj.array_ids3=array;
	obj.usuario=usuario;
	obj.accion=accion;
	obj=JSONstring.make(obj);
	location.href="../circ/devoluciones.pl?obj="+obj;
}

function prestar(){
	var chck=$("input[@name=chkboxReservas]:checked");
	var array=new Array;
	for(var i=0; i< chck.length; i++){
		var it=new item();
		it.id3=chck[i].value;
		it.barcode=chck[i].id;
		array[i]=it;
	}
	var usuario=new objeto_usuario();
	usuario.ID=$("#borrnumber").val();
	usuario.text="<!-- TMPL_VAR NAME=surname -->, <!-- TMPL_VAR NAME=firstname -->";
	var obj=new objeto_datos();
	obj.array_ids3=array;
	obj.usuario=usuario;
	obj=JSONstring.make(obj);
	location.href="../circ/prestamos.pl?obj="+obj;
}


function cancelarReserva(reserveNumber){
	var is_confirmed = confirm('Esta seguro que desea cancelar la reserva?');
        if (is_confirmed) {
		objAH=new AjaxHelper(updateInfoCancelacion);
		objAH.url='/cgi-bin/koha/circ/cancelreserv.pl';
		objAH.borrowernumber="<!-- TMPL_VAR NAME='bornum' -->";
		objAH.reserveNumber=reserveNumber;
		objAH.sendToServer();
        }
}

function updateInfoCancelacion(){
	location.href="moremember.pl?bornum=<!-- TMPL_VAR NAME='bornum' -->";
}

function confirm_deletion() {
	var is_confirmed = confirm('Confirma la baja ?');

	if (is_confirmed) {
		window.location="/cgi-bin/koha/members/deletemem.pl?member=<!-- TMPL_VAR NAME="bornum" -->";
	}
}

</script>

<!-- TMPL_IF NAME="mensaje_error_borrar" -->
	<font color="red" size="5"><!-- TMPL_VAR NAME=mensaje_error_borrar --></font>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="mensaje" -->
	<font color="red" size="3"><!-- TMPL_VAR NAME=mensaje --></font>
<!-- /TMPL_IF -->

<div width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<p class="pagetitle" ><!-- TMPL_VAR NAME=firstname --> <!-- TMPL_VAR NAME=surname --></p>
</div>


<table  cellspacing=0  cellpadding=0 border=0 align=left width="100%" >
	<tr VALIGN=middle class="tablaresultadoTitle">
		<td width="1%" align="left" valing="top">
		<img src=" <!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
		<td colspan=3>REGISTRO DEL USUARIO</td>
		<td width="1%" valing="top" align="right"><img src=" <!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
	</tr>
</table>
<br><br>
<div class="divDatosUsuario">
	<!-- TMPL_IF NAME="foto_name" -->
		<img border="0" width="96" height="96"  src="/pictures/<!-- TMPL_VAR NAME='foto_name' -->"><br>
	<!-- /TMPL_IF -->
		
	Documento:<b> <!-- TMPL_VAR NAME="documenttype" --> &nbsp; <!-- TMPL_VAR NAME="documentnumber" --></b><br>

	Fecha de nacimiento:<b> <!-- TMPL_VAR NAME="dateofbirth" --></b><br>
	Sexo:<b> <!-- TMPL_VAR NAME="sex" --></b><br>
			
	<!-- TMPL_IF NAME="contactname" -->
		Contacto Alternativo:<b> <!-- TMPL_VAR NAME="contactname" --></b><br>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="altphone" -->
		Tel&eacute;fono:<b> <!-- TMPL_VAR NAME="altphone" --></b><br>
	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF NAME="altrelationship" -->
		Relaci&oacute;n:<b> <!-- TMPL_VAR NAME="altrelationship" --></b><br>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="emailaddress" -->
		E-mail: <b><a href="mailto:<!-- TMPL_VAR NAME='emailaddress' -->">
			<!-- TMPL_VAR NAME="emailaddress" --></a></b><br>
	<!-- /TMPL_IF -->
	<br>

	Tarjeta de identificaci&oacute;n :<b> <!-- TMPL_VAR NAME="cardnumber" --></b><br>

	Legajo :<b> <!-- TMPL_VAR NAME="studentnumber" --></b><br>
	
	ID de usuario:<b> <!-- TMPL_VAR NAME="borrowernumber" --></b><br>

	Categor&iacute;a del usuario:<b> <!-- TMPL_VAR NAME="categorycode" --></b><br>

	Incorporaci&oacute;n a Biblioteca:<b> <!-- TMPL_VAR NAME="branchcode" --></b><br>
	<!-- TMPL_IF name="usercourse" -->
		<center>
		<b>Realiz&oacute; el curso para usuarios. Dado de alta el d&iacute;a <!-- TMPL_VAR name="usercourse" -->. </b>
		</center>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="altnotes" -->
		Notas:<b> <!-- TMPL_VAR NAME="altnotes" --></b><br>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="borrowernotes" -->
		Notas generales: <b><A HREF="popbox.html" onclick="messenger(200,250,'Form that lets you add to and delete notes.'); return false"><!-- TMPL_VAR NAME="borrowernotes" --></a></b><br>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF name="IS_ADULT" -->
		<p align=center>
		<form action=/cgi-bin/koha/members/jmemberentry.pl method=post name="formHijo">
			<a href="#" onClick="formHijo.submit()" >
			<img alt="Agregar Hijo" src="<!-- TMPL_VAR NAME='themelang' -->/images/agregarhijo.png" border="0""></a>
			<input type=hidden name=type value=Agregar>
			<input type=hidden name=bornum value="<!-- TMPL_VAR NAME=borrowernumber -->">
		</form>
                </p>
	<!-- /TMPL_IF -->
</div>

<div class="divDatosUsuario" style="margin-top: 3%;margin-bottom: 5%">
	<!-- TMPL_IF name="I" -->
                <form action=/cgi-bin/koha/members/imemberentry.pl method=post name="formCarac">
			<a href="#" onClick="formCarac.submit()" >
                        <img alt="Modificar Caracter&acutei;stica" src="<!-- TMPL_VAR NAME="themelang" -->/images/modificarcaracteristicas.png" border="0""></a>
			<input type=hidden name=bornum value="<!-- TMPL_VAR NAME="bornum" -->">

		</form>

	<!-- TMPL_ELSE -->
		<form action=/cgi-bin/koha/members/memberentry.pl method=post name="formCarac2">
			<a href="#" onClick="formCarac2.submit()" >
                        <img alt="Modificar Caracter&iacute;stica" src="<!-- TMPL_VAR NAME="themelang" -->/images/modificarcaracteristicas.png" border="0""></a>

			<input type=hidden name=bornum value="<!-- TMPL_VAR NAME="bornum" -->">

		</form>
	<!-- /TMPL_IF -->
		<form action="javascript:confirm_deletion()" name="formElim">
			<a href="#" onClick="formElim.submit()" >
                        <img alt="Cambio de Contrase&ntilde;a" src="<!-- TMPL_VAR NAME='themelang' -->/images/eliminarusuario.png" border="0""></a>

   	               <input type=hidden name=member value="<!-- TMPL_VAR NAME='bornum' -->">
		</form>

		<form action=/cgi-bin/koha/members/member-password.pl method=post name="formCambio"><a href="#" onClick="formCambio.submit()" ><img alt="Cambio de Contrase&ntilde;a" src="<!-- TMPL_VAR NAME='themelang' -->/images/cambiocontrasena.png" border="0""></a>
			<input type=hidden name=member value=<!-- TMPL_VAR NAME=bornum -->>
		</form>

		<form action=/cgi-bin/koha/members/member-flags.pl method=post name="formPerm"><a href="#" onClick="formPerm.submit()" ><img alt="Modificar Permisos" src="<!-- TMPL_VAR NAME="themelang" -->/images/modificarpermisos.png" border="0""></a>

			<input type=hidden name=member value=<!-- TMPL_VAR NAME=bornum -->>

		</form>

		<form action=/cgi-bin/koha/cardGenerator.pl method=post name="formCarnet">
		 	<a href="#" onClick="formCarnet.submit()" ><img alt="Generar Carnet" src="<!-- TMPL_VAR NAME='themelang' -->/images/generarcarnet.png" border="0""></a>
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>

		</form>
	
		<form action=/cgi-bin/koha/libreDeuda.pl method=post name="formLibre">
		 	<a href="#" onClick="formLibre.submit()" ><img alt="Generar Libre Deuda" src="<!-- TMPL_VAR NAME='themelang' -->/images/libre_deuda.png" border="0""></a>
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>

		</form>

		<form action=/cgi-bin/koha/prestamoInterBiblio.pl method=post name="formInterBiblio">
		 	<a href="#" onClick="openPopup()" ><img alt="Generar Prestamo Interbibliotecario" src="<!-- TMPL_VAR NAME='themelang' -->/images/prest_inter.png" border="0""></a>
			<input type="hidden" name="bornum" value="<!-- TMPL_VAR NAME=bornum -->">
			<input type="hidden" name="accion" value="ingresarDatos">
		</form>

	 <!-- TMPL_IF name="mensaje_error_foto" -->	
		<font color="red"><!--  TMPL_VAR NAME="mensaje_error_foto" --></font>
	 <!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="foto_name" -->
		<form action=/cgi-bin/koha/members/upload.pl method=post>
			<input type=hidden name=foto_name value=<!-- TMPL_VAR NAME=foto_name -->>
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>
			<input type=submit class="button" value="Eliminar foto" align=center>
		</form>
	<!-- TMPL_ELSE -->
		<form action=/cgi-bin/koha/members/upload.pl method=post enctype="multipart/form-data" >
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>
			<input type=image  src="<!-- TMPL_VAR NAME="themelang" -->/images/subirFoto.png" align=center valign="center">
			<input type=file name="picture">
		</form>
	 <!-- /TMPL_IF -->
</div>
<br>
<div style="clear:both">
<input type="hidden" id="borrnumber" value="<!-- TMPL_VAR name='bornum' -->">
<!-- TMPL_IF NAME="prestamos" -->
		
<p align=center><b>EJEMPLARES PRESTADOS</b></p>
<table class="tablaResult" cellspacing=0  cellpadding=0 border=0  width="100%" >

	<tr valign=middle class="tablaresultadoTitle">
   		<th width="1%" valign="top" align="right" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></th>
		<th>
			<a class="click" id="checkAllPrestamos"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/check.png" border="0" title="Seleccionar todos"></a>
		</th>
  		<th>T&iacute;tulo</th>
  		<th>Autor</th>
  		<th>C. Barra</th>
  		<th>Sig. Top.</th>
		<th>Ed.</th>
  		<th>Vol.</th>
  		<th>Pr&eacute;stamo</th>
  		<th>Vencimiento</th>
   		<th>Tipo</th>
  		<th width="1%" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></th>
	</tr>
<!-- TMPL_LOOP NAME="prestamos" -->
	<tr class="inputFontNormal" align="center">
		<td height=25 >&nbsp;</td>
		<td>
			<input type="checkbox" name="chkboxPrestamos" value="<!-- TMPL_VAR NAME='id3' -->" id="<!-- TMPL_VAR NAME='barcode' -->">
		</td>
		<td width="14%" >
			<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=<!-- TMPL_VAR NAME='id1' -->">
			<!-- TMPL_VAR NAME="titulo" ESCAPE=HTML-->
			<!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF --></a>
		</td>
		<td>
			<!-- TMPL_IF NAME="autor" -->
			<!-- TMPL_VAR NAME="autor" -->
			<!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF -->
		</td>

		<td>
			<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=<!-- TMPL_VAR NAME="id1" -->&id2=<!-- TMPL_VAR NAME="id2" -->&id3=<!-- TMPL_VAR NAME="id3" -->&barcode=<!-- TMPL_VAR NAME="barcode" -->&signatura_topografica=<!-- TMPL_VAR NAME="signatura_topografica" -->' title='Detalle de disponibilidad'><!-- TMPL_VAR name="barcode" --></a>
		</td>

		<td>
			<!-- TMPL_IF NAME="signatura_topografica" --> 
			<a class="inputFontNormal" href="/cgi-bin/koha/detalle.pl?id1=<!-- TMPL_VAR NAME=id1 -->">
			<!-- TMPL_VAR NAME="signatura_topografica" --> 
			</a>
			<!-- TMPL_ELSE -->-<!-- /TMPL_IF -->
		</td>

		<td>  
			<!-- TMPL_IF NAME="edicion" --> <!-- TMPL_VAR NAME="edicion" -->
			<!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
 		</td>

		<td>  
			<!-- TMPL_IF NAME="volume" --> 
			<!-- TMPL_VAR NAME="volume" -->
			<!-- TMPL_IF NAME="volumeddesc" -->: <!-- TMPL_VAR NAME="volumeddesc" -->
			<!-- /TMPL_IF --><!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
		</td>
		<td>
			<!-- TMPL_IF NAME="date_due" --> 
			<!-- TMPL_VAR NAME="date_due" -->
			<!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
		</td>

		<td>
			<!-- TMPL_IF NAME="date_fin" --> 
			<font color="<!-- TMPL_VAR NAME='color' -->">
			<!-- TMPL_VAR NAME="date_fin" --> </font>
			<!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
		</td>

		<td>
			<!-- TMPL_IF NAME="issuetype" -->
			<font color="<!-- TMPL_VAR NAME='color' -->">
			<!-- TMPL_VAR NAME="issuetype" --> </font>
			<!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
		</td>
<!-- /TMPL_LOOP -->
	</tr>
</table>
<p align="center">
	<input type="image" BORDER=0 src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/item-return.png" title="Devolver" onClick="devolver_renovar('DEVOLUCION')">
	<!-- TMPL_IF NAME="regular" -->
		<!-- TMPL_UNLESS NAME="sanctions" -->
	<input type="image" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/renew.png" title="Renovar" onClick="devolver_renovar('RENOVACION')">
		<!-- /TMPL_UNLESS -->
	<!-- /TMPL_IF -->
		</p>
<!-- /TMPL_IF --> <!-- FIN IF prestamos -->



<!-- TMPL_IF NAME="realreserves" -->
<br>

<p align=center><B>EJEMPLARES ASIGNADOS</B></p> 
<table class="tablaResult" cellspacing=0  cellpadding=0  border=0   width="100%">
	<tr class="tablaresultadoTitle">
		<th width="1%" align="right" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></th>
		<th>
			<a class="click" id="checkAllReservas"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/check.png" border="0" title="Invertir la selecci&oacute;n"></a>
		</th>
		<th>T&iacute;tulo</th>
 		<th>Autor</th>
		<th>C. Barra</th>
  		<th>Sig. Top.</th>
		<th>Ed.</th>
		<th>Vol.</th> 
		<th>Vencimiento</th>
		<th width="10%">Retira en</th>
		<th width="10%">Cancelar</th>
		<th width="1%" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></th>
 	</tr>
<!-- TMPL_LOOP NAME="realreserves" -->
	<tr class="inputFontNormal" align="center">
		<td height=25>&nbsp;</td>
 
		<td>
			<input type="checkbox"  name="chkboxReservas" value="<!-- TMPL_VAR NAME='rid3' -->" id="<!-- TMPL_VAR NAME='barcode' -->">
		</td>

 		<td width="16%">
			<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=<!-- TMPL_VAR NAME='rid1' -->">
			<!-- TMPL_VAR NAME="rtitulo" ESCAPE=HTML-->
			<!-- TMPL_IF NAME="runititle" -->:&nbsp;<!-- TMPL_VAR NAME="runititle" -->
			<!-- /TMPL_IF --></a>
		</td>
		<td>
			<!-- TMPL_IF NAME="rautor" --><!-- TMPL_VAR NAME="rautor" -->
			<!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF -->
		</td>
		<td>
			<a href='/cgi-bin/koha/busquedas/detalleItem.pl?id1=<!-- TMPL_VAR NAME="id1" -->&id2=<!-- TMPL_VAR NAME="id2" -->&id3=<!-- TMPL_VAR NAME="id3" -->&barcode=<!-- TMPL_VAR NAME="barcode" -->&signatura_topografica=<!-- TMPL_VAR NAME="signatura_topografica" -->' title='Detalle de disponibilidad'><!-- TMPL_VAR name="barcode" --></a>
		</td>
		<td>
			<!-- TMPL_IF NAME="signatura_topografica" --> 
			<a class="inputFontNormal" href="/cgi-bin/koha/detalle.pl?id1=<!-- TMPL_VAR NAME=rid1 -->">
			<!-- TMPL_VAR NAME="signatura_topografica" --> 
			</a>
			<!-- TMPL_ELSE -->-<!-- /TMPL_IF -->
		</td>
 		<td>
			<!-- TMPL_IF NAME="redicion" --> 
			<!-- TMPL_VAR NAME="redicion" -->
			<!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
 		</td>
		<td>
			<!-- TMPL_IF NAME="volume" --> <!-- TMPL_VAR NAME="volume" -->
			<!-- TMPL_IF NAME="volumeddesc" -->: <!-- TMPL_VAR NAME="volumeddesc" -->
			<!-- /TMPL_IF --><!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
		</td>
		<td>
			<!-- TMPL_VAR NAME="rreminderdate" -->
		</td>
		<td>
			<b><!-- TMPL_VAR NAME="rbranch" --></b>
		</td>

		<td>
			<inpuT type="image" name="cancel"  VALUE="Cancelar" BORDER=0 src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/borrar.png" onClick="cancelarReserva(<!-- TMPL_VAR NAME='reservenumber' -->)" title="Cancelar">
		</td>
 		<td height=25>&nbsp;</td>

	</tr>
<!-- /TMPL_LOOP -->
</table>

<p align=center>
	<input type="image" name="borrowD"  VALUE="prestar" BORDER=0 src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/item-prestar.png" title="Realizar pr&eacute;stamo" onClick="javascript:prestar();return false;">
</p>
<!-- /TMPL_IF --> <!-- FIN IF realreserves -->

<!-- TMPL_IF NAME="waiting" -->


<br>
<p  align=center colspan=6><b>RESERVAS</b></p>

<table class="tablaResult" cellspacing=0  cellpadding=0  border=0   width="100%">
	<tr valign=middle class="tablaresultadotitle">
		<th width="1%" align="right" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></th>
		<th>T&iacute;tulo</th>
 		<th>Autor</th>
		<th>Edici&oacute;n</th>
 		<th>Volumen</th>
 		<th>Cancelar</th>
		<th width="1%" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></th>
	</tr>
<!-- TMPL_LOOP NAME="waiting" -->
	<tr align="center" class="inputFontNormal">
 		<td height=25>&nbsp;</td>
 		<td width="16%"> 
			<a href="/cgi-bin/koha/busquedas/detalle.pl?id1=<!-- TMPL_VAR NAME='rid1' -->">
			<!-- TMPL_VAR NAME="rtitulo" ESCAPE=HTML-->
			<!-- TMPL_IF NAME="runititle" -->:&nbsp;<!-- TMPL_VAR NAME="runititle" -->
			<!-- /TMPL_IF --></a>
 		</td>
		<td>
			<!-- TMPL_IF NAME="rautor" -->
			<!-- TMPL_VAR NAME="rautor" -->
			<!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF -->
 		</td>
 		<td>  
			<!-- TMPL_IF NAME="redicion" -->
			<!-- TMPL_VAR NAME="redicion" -->
			<!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
 		</td>
 		<td>
			<!-- TMPL_IF NAME="volume" --> <!-- TMPL_VAR NAME="volume" -->
			<!-- TMPL_IF NAME="volumeddesc" -->: <!-- TMPL_VAR NAME="volumeddesc" -->
			<!-- /TMPL_IF --><!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
 		</td>
 		<td> 
			<form id="resevEspera" method="post" action="/cgi-bin/koha/cancelreserv.pl">
			<input type="image" name="cancel"  value="Cancelar" border=0 src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/borrar.png" onClick="confirm_cancelation('<!-- TMPL_VAR NAME='reservenumber' -->')" title="Cancelar">
			</form>
 		</td>
 		<td height=25>&nbsp;</td>
	</tr>
<!-- /TMPL_LOOP -->
</table>

<!-- /TMPL_IF -->

<!-- TMPL_IF name="sanctions" -->
<br>
<table class="tablaResult" border=0  width="100%"  cellpadding='0' cellspacing='0'>
	<tr valign=middle class="tablaresultadoTitle" width="100%">
		<td width="1%" align="right" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
                <td width="98%"><B>SANCIONES</TD>
                <td width="1%" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
        </tr>
	<tr valign="top">
        	<td height=25>&nbsp;</td>
                <td class="inputFontNormal">
			<ul><font class="fontmsg">
 			<!-- TMPL_LOOP NAME="sanctions" -->
           		<!-- TMPL_IF NAME="description" -->
			<li>
			<!-- TMPL_VAR NAME="description" --> - Desde el <!-- TMPL_VAR NAME="startdate" --> hasta el <!-- TMPL_VAR NAME="enddate" -->.
			<!-- /TMPL_IF -->
			</li>
			<!-- /TMPL_LOOP -->
			</font></ul>
		</td>
		<td height=25>&nbsp;</td>
        </tr>
</table>

<!-- /TMPL_IF --> <!-- FIN IF sanctions -->

<p align="center">
	<a class="inputFontNormal" class=button href="/cgi-bin/koha/members/historialPrestamos.pl?bornum=<!-- TMPL_VAR NAME='bornum' -->">
        Historial de Pr&eacute;stamos
	</a>
</p>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
