<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->


<!-- main site -->

<!-- TMPL_IF NAME="mensaje_error_borrar" -->
	<font color="red" size="5"><!-- TMPL_VAR NAME=mensaje_error_borrar --></font>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="mensaje" -->
	<font color="red" size="5"><!-- TMPL_VAR NAME=mensaje --></font>
<!-- /TMPL_IF -->
<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="pagetitle" ><!-- TMPL_VAR NAME=firstname --> <!-- TMPL_VAR NAME=surname -->
		</td>
	</tr>
	<tr>
		<td class="lineagruesa"  align="left" colspan="3">
		</td>
	</tr>
</table>
<br>
<TABLE  CELLSPACING=0  CELLPADDING=0 border=0 align=left width="100%" >
	<TR VALIGN=middle class="tablaresultadoTitle">
		<td width="1%" align="left" valing="top">
		<img src=" <!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
		<td colspan=3>REGISTRO DEL USUARIO</TD>
		<td width="1%" valing="top" align="right"><img src=" <!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
	</TR>

	<tr VALIGN=middle  >
		<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
		<TD class="inputFontNormal" width="50%" >
		<!-- TMPL_IF NAME="foto_name" -->
                      	<img border="0" width="96" height="96"  src="/pictures/<!-- TMPL_VAR NAME="foto_name" -->">
                <!-- /TMPL_IF -->

		<!--  COMENTADO *********
		<FONT SIZE=2  face="arial, helvetica"><!-- TMPL_VAR NAME="title" --> <!-- TMPL_VAR NAME="othernames" --> <!-- TMPL_VAR NAME="surname" --> <!-- TMPL_IF name="IS_ADULT" -->(<!-- TMPL_VAR NAME="firstname" -->, <!-- TMPL_VAR NAME="initials" -->)       <!-- /TMPL_IF -->
		HASTA ACA ********* -->

		Tarjeta de identificaci&oacute;n :<b> <!-- TMPL_VAR NAME="cardnumber" --></b><BR>

	         Legajo :<b> <!-- TMPL_VAR NAME="studentnumber" --></b><BR> <br>
	
		<!--
			Forzar al usuario a cambiar la contrase&ntilde;a: <b><!-- TMPL_IF Name="updatepassword" -->Si<!-- TMPL_ELSE -->No<!-- /TMPL_IF--></b><BR>
		-->
		Documento:<b> <!-- TMPL_VAR NAME="documenttype" --> &nbsp; <!-- TMPL_VAR NAME="documentnumber" --></b><BR>
		
		<!-- 
		Direcci&oacute;n:<b><!-- TMPL_VAR NAME="streetaddress" -->, <!-- TMPL_VAR name="zipcode" --> <!-- TMPL_VAR NAME="city" --></b><BR>
		<!-- TMPL_UNLESS name="I" -->Domicilio de origen:<b> <!-- TMPL_VAR NAME="physstreet" -->, <!-- TMPL_VAR name="homezipcode" --> <!-- TMPL_VAR NAME="streetcity" --></b><BR>
		
		Tel&eacute;fono particular:<b> <!-- TMPL_VAR NAME="phone" --></b><BR><!-- /TMPL_UNLESS -->
		Tel&eacute;fono del trabajo :<b> <!-- TMPL_VAR NAME="phoneday" --></b><BR>
		<!--Fax: <!-- TMPL_VAR NAME="faxnumber" --><BR>
		E-mail: <b><a href="mailto:<!-- TMPL_VAR NAME="emailaddress" -->"><!-- TMPL_VAR NAME="emailaddress" --></a></b><br>
		<!--Mensajes de texto: <!-- TMPL_VAR NAME="textmessaging" --><p>-->
		ID de usuario:<b> <!-- TMPL_VAR NAME="borrowernumber" --></b><BR>
		Categor&iacute;a del usuario:<b> <!-- TMPL_VAR NAME="categorycode" --></b><BR>
		<!--Tarifa:$30/a&ntilde;o,  pagado<BR>
		Asociado: <!-- TMPL_VAR NAME="dateenrolled" -->,  Expira: <!-- TMPL_VAR NAME="expiry" --><BR>
		-->

		Incorporaci&oacute;n a Biblioteca:<b> <!-- TMPL_VAR NAME="branchcode" --></b><P>

		<!-- TMPL_IF name="IS_ADULT" -->
                        <p align=center>
                        <form action=/cgi-bin/koha/jmemberentry.pl method=post name="formHijo">
				 <a href="#" onClick="formHijo.submit()" >
	                        <img alt="Agregar Hijo" src="<!-- TMPL_VAR NAME="themelang" -->/images/agregarhijo.png" border="0""></a>

                                <!--<INPUT TYPE="submit" name="submit" VALUE="Agregar Hijo" class="button" alt="Agregar Hijo">-->
                                <input type=hidden name=type value=Agregar>
                                <input type=hidden name=bornum value="<!-- TMPL_VAR NAME=borrowernumber -->">
                        </form>
                        </P>
                <!-- /TMPL_IF -->
		</td>

		<!--     COMENTADO    *********
			<!-- TMPL_IF NAME="printethnicityline" -->
			Raza:<b> <!-- TMPL_VAR NAME="ethnicity" -->, <!-- TMPL_VAR NAME="ethnotes" --></b><br>
			<!-- /TMPL_IF -->

		HASTA ACA ********** -->

		<!-- TMPL_UNLESS name="I" -->
			Fecha de nacimiento:<b> <!-- TMPL_VAR NAME="dateofbirth" --></b><BR>
			Sexo:<b> <!-- TMPL_VAR NAME="sex" --></b><br>
		<!-- /TMPL_UNLESS --> 
			
			Contacto Alternativo:<b> <!-- TMPL_VAR NAME="contactname" --></b><BR>
			Tel&eacute;fono:<b> <!-- TMPL_VAR NAME="altphone" --></b><BR>
		<!-- TMPL_UNLESS name="I" -->
			Relaci&oacute;n:<b> <!-- TMPL_VAR NAME="altrelationship" --></b><BR>
		<!-- /TMPL_UNLESS -->
			Notas:<b> <!-- TMPL_VAR NAME="altnotes" --></b><br>
		
		<!--       COMENTADO *******
		<!-- TMPL_UNLESS name="I" -->
			<!-- TMPL_IF NAME="isguarantee" -->
				Garant&iacute;a:<br><!-- TMPL_LOOP NAME="guaranteeloop" --><A HREF="/cgi-bin/koha/moremember.pl?bornum=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR NAME=name --> - <!-- TMPL_VAR NAME="cardnumber" --></a><br><!-- /TMPL_LOOP -->
			<!-- TMPL_ELSE -->
				Garante:<b>
				<!-- TMPL_IF NAME="guarantorborrowernumber" -->
					<A HREF="/cgi-bin/koha/moremember.pl?bornum=<!-- TMPL_VAR NAME="guarantorborrowernumber" -->"><!-- TMPL_VAR NAME="guarantorcardnumber" --></a><br>
				<!-- TMPL_ELSE -->
					sin garante</b><br>
				<!-- /TMPL_IF -->
			<!-- /TMPL_IF -->
		<!-- /TMPL_UNLESS -->
 		HASTA ACA      ********-->

		
		Notas generales: <b><A HREF="popbox.html" onclick="messenger(200,250,'Form that lets you add to and delete notes.'); return false">
		<!-- TMPL_VAR NAME="borrowernotes" --></a></b><br><br>
        </td>	

	<td width="50%">	
	<table width=100%>
		<!-- TMPL_IF name="I" -->
		<tr class="inputFontNormal">
		<td span=100%>	
                <form action=/cgi-bin/koha/imemberentry.pl method=post name="formCarac">
			<a href="#" onClick="formCarac.submit()" >
                        <img alt="Modificar Caracter&acutei;stica" src="<!-- TMPL_VAR NAME="themelang" -->/images/modificarcaracteristicas.png" border="0""></a>
			<input type=hidden name=bornum value="<!-- TMPL_VAR NAME="bornum" -->">

		</form>
		</td>
		</tr>

		<!-- TMPL_ELSE -->
		<tr>
		<td span=100%> 
			<form action=/cgi-bin/koha/memberentry.pl method=post name="formCarac2">
			 <a href="#" onClick="formCarac2.submit()" >
                        <img alt="Modificar Caracter&iacute;stica" src="<!-- TMPL_VAR NAME="themelang" -->/images/modificarcaracteristicas.png" border="0""></a>

				<input type=hidden name=bornum value="<!-- TMPL_VAR NAME="bornum" -->">

			</form>
		</td>
		</tr> 	
		<!-- /TMPL_IF -->
		<tr>
		<td span=100%>	
			<form action="javascript:confirm_deletion()" name="formElim">
			 <a href="#" onClick="formElim.submit()" >
                        <img alt="Cambio de Contrase&ntilde;a" src="<!-- TMPL_VAR NAME="themelang" -->/images/eliminarusuario.png" border="0""></a>

   	               <input type=hidden name=member value="<!-- TMPL_VAR NAME="bornum" -->">
			</form>
		</td>
		</tr>
	 	
		<tr>
		<td span=100%> 
			<form action=/cgi-bin/koha/member-password.pl method=post name="formCambio"><a href="#" onClick="formCambio.submit()" ><img alt="Cambio de Contrase&ntilde;a" src="<!-- TMPL_VAR NAME="themelang" -->/images/cambiocontrasena.png" border="0""></a>

			<input type=hidden name=member value=<!-- TMPL_VAR NAME=bornum -->>

			</form>
	 	</td>
		</tr>
	 	
		<tr>
		<td span=100%> 
			<form action=/cgi-bin/koha/member-flags.pl method=post name="formPerm"><a href="#" onClick="formPerm.submit()" ><img alt="Modificar Permisos" src="<!-- TMPL_VAR NAME="themelang" -->/images/modificarpermisos.png" border="0""></a>

			<input type=hidden name=member value=<!-- TMPL_VAR NAME=bornum -->>

			</form>
	 	</td>
		</tr>
	 	
		<tr>
		<td span=100%> 
			<form action=/cgi-bin/koha/cardGenerator.pl method=post name="formCarnet">
		 	<a href="#" onClick="formCarnet.submit()" ><img alt="Generar Carnet" src="<!-- TMPL_VAR NAME='themelang' -->/images/generarcarnet.png" border="0""></a>
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>

			</form>
	 	</td>
		</tr>
		<tr>
		<td span=100%> 
			<form action=/cgi-bin/koha/libreDeuda.pl method=post name="formLibre">
		 	<a href="#" onClick="formLibre.submit()" ><img alt="Generar Libre Deuda" src="<!-- TMPL_VAR NAME='themelang' -->/images/libre_deuda.png" border="0""></a>
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>

			</form>
	 	</td>
		</tr>

		<td span=100%> 
			<form action=/cgi-bin/koha/prestamoInterBiblio.pl method=post name="formInterBiblio">
		 	<a href="#" onClick="openPopup()" ><img alt="Generar Prestamo Interbibliotecario" src="<!-- TMPL_VAR NAME='themelang' -->/images/prest_inter.png" border="0""></a>
			<input type="hidden" name="bornum" value="<!-- TMPL_VAR NAME=bornum -->">
			<input type="hidden" name="accion" value="ingresarDatos">
			</form>
	 	</td>
		</tr>
		
	 <!-- TMPL_IF name="mensaje_error_foto" -->	
	 	<tr>
		<td span=100%>
		<font color="red"><!--  TMPL_VAR NAME="mensaje_error_foto" --></font>
	 	</td>
		</tr>
	 <!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="foto_name" -->
	  	<tr>
		<td span=100%> 
			<form action=/cgi-bin/koha/upload.pl method=post>
			<input type=hidden name=foto_name value=<!-- TMPL_VAR NAME=foto_name -->>
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>
			<input type=submit class="button" value="Eliminar foto" align=center>
			</form>
	  	</td>
		</tr>
	<!-- TMPL_ELSE -->
	  	<tr>
		<td span=100%> 
			<form action=/cgi-bin/koha/upload.pl method=post enctype="multipart/form-data" >
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>
			<input type=image  src="<!-- TMPL_VAR NAME="themelang" -->/images/subirFoto.png" align=center valign="center">
			<input type=file name="picture">
			</form>
	   	</td>
		</tr>
	 <!-- /TMPL_IF -->
	</table>
	</TD>

	<tr>
	<td colspan=5>&nbsp;</td>
	</tr>
	<tr>
	<td colspan=5>

<!-- TMPL_IF NAME="issueloop" -->
		<form id="formReturn" action="renewscript.pl" method=post>
		<input type="hidden" name="bornum" value="<!-- TMPL_VAR name="bornum" -->">
		<TABLE  CELLSPACING=0  CELLPADDING=0 border=0  width="100%" >
			<TR VALIGN=middle>
			<td colspan=11 align=center><b>EJEMPLARES PRESTADOS</b></TD>
			</TR>

			<TR VALIGN=middle class="tablaresultadoTitle">
   			<td width="1%" valign="top" align="right" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
			<td>
				<a class="click" onclick="checkedAll('return');"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/check.png" border="0" title="Invertir la selecci&oacute;n"></a>
			</td>
  			<td>T&iacute;tulo</td>
  			<td>Autor</td>
  			<td>C. Barra</td>
  			<td>Sig. Top.</td>
  			<td>Vol.</td>
  			<td>Pr&eacute;stamo</td>
  			<td>Vencimiento</td>
   			<td>Tipo</td>
<!--   			<td>Devolver</td> -->
<!--   			<td>Renovar</Td> -->
  			<td width="1%" valign="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
			</tr>
<!-- TMPL_LOOP NAME="issueloop" -->
			<tr  class="tope" bordercolor="#f2f2f2">
			<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
			<td class="<!-- TMPL_VAR NAME='clase' -->">
				<input type="checkbox" id="chkbox1" name="chkbox1" value="<!-- TMPL_VAR NAME='barcode' -->" id="<!-- TMPL_VAR NAME='barcode' -->">
			</td>
			<td width="14%" class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal"><a href="detail.pl?bib=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" ESCAPE=HTML--><!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF --></a></td>
			<td class="<!-- TMPL_VAR NAME="clase"-->"><!-- TMPL_IF NAME="author" --><!-- TMPL_VAR NAME="author" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>

<!--   
 <td><!-- TMPL_VAR NAME="biblioitemnumber" --> GRUPO - <!-- TMPL_VAR NAME="itemtype" --> </td> 
-->

			<td class="<!-- TMPL_VAR NAME="clase"-->"  align="center" ><!-- TMPL_IF NAME="barcode" --> <!-- TMPL_VAR NAME="barcode" --><!-- TMPL_ELSE --> - <!-- /TMPL_IF --></td>
			<td class="<!-- TMPL_VAR NAME="clase"-->"  align="center" ><!-- TMPL_IF NAME="bulk" --> <!-- TMPL_VAR NAME="bulk" --> <!-- TMPL_ELSE -->-<!-- /TMPL_IF --></td>
			<td class="<!-- TMPL_VAR NAME="clase"-->"  align="center" >  <!-- TMPL_IF NAME="volume" --> <!-- TMPL_VAR NAME="volume" -->: <!-- TMPL_VAR NAME="volumeddesc" --><!-- TMPL_ELSE --> - <!-- /TMPL_IF --></td>
			<td class="<!-- TMPL_VAR NAME="clase"-->"  align="center" ><!-- TMPL_IF NAME="date_due" --> <!-- TMPL_VAR NAME="date_due" --><!-- TMPL_ELSE --> - <!-- /TMPL_IF --></td>

			<td class="<!-- TMPL_VAR NAME="clase"-->"  align="center" ><!-- TMPL_IF NAME="date_fin" --> <font color="<!-- TMPL_VAR NAME="color" -->"> <!-- TMPL_VAR NAME="date_fin" --> </font><!-- TMPL_ELSE --> - <!-- /TMPL_IF --></td>

			<td class="<!-- TMPL_VAR NAME="clase"-->"  align="center" ><!-- TMPL_IF NAME="issuetype" --><font color="<!-- TMPL_VAR NAME="color" -->">         <!-- TMPL_VAR NAME="issuetype" --> </font><!-- TMPL_ELSE --> - <!-- /TMPL_IF --></td>
					  
<!-- 			<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align=center><A HREF="circ/returns.pl?barcode=<!-- TMPL_VAR NAME="barcode" -->&action=return"><img BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/item-return.png" title="Devolver"></td> -->
<!-- 			<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align=center><!-- TMPL_IF NAME="renew" --><A HREF="circ/returns.pl?barcode=<!-- TMPL_VAR NAME="barcode" -->&action=renew"><img BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/renew.png" title="Renovar"> -->
<!-- 			<!-- TMPL_ELSE --> - <!-- /TMPL_IF -->  </td> -->

			<td class="<!-- TMPL_VAR NAME="clase"-->" height=25 class="impar"></td>
			</tr>
<!-- /TMPL_LOOP -->
			<tr>
			<td colspan="10" align="center">
				<input type="hidden" id="action" name="action">
				<input type="image" BORDER=0 src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/item-return.png" title="Devolver" onClick="devolverItmes()">
				<!-- TMPL_UNLESS NAME="sanctions" -->
				<input type="image" src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/renew.png" title="Renovar" onClick="renovarItems()">
				<!-- /TMPL_UNLESS -->
			</td>
		</tr>
		</table>
		</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="realreserves" -->
<br>
<form id="formPrestar" name="formPrestar" method="post" action="/cgi-bin/koha/circ/circulation.pl">

<input type="hidden" name="borrnumber" id="borrnumber" value="<!-- TMPL_VAR name='borrowernumber' -->">
<TABLE  CELLSPACING=0  CELLPADDING=0  border=0   width="100%">
  <TR VALIGN=middle>
      <td colspan=11 align=center><B>EJEMPLARES ASIGNADOS</B></td> 
  </TR>
  <tr valign="middle" class="tablaresultadoTitle">
	<td width="1%" align="right" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
	<td>
		<a class="click" onclick="checkedAll('prestar');"><img src="<!-- TMPL_VAR NAME='themelang' -->/images/check.png" border="0" title="Invertir la selecci&oacute;n"></a>
	</td>
	<td>T&iacute;tulo</td>
 	<td>Autor</td>
	<td>C. Barra</td>
  	<td>Sig. Top.</td>
	<td>Vol.</td> 
	<td>Vencimiento</td>
	<td width="10%">Retira en</td>
<!-- 	<td width="10%">Prestar</td> -->
	<td width="10%">Cancelar</td>
	<td width="1%" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
 </tr>
<!-- TMPL_LOOP NAME="realreserves" -->
<tr >
<td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
 
<td class="<!-- TMPL_VAR NAME='clase' -->">
	<input type="checkbox" id="chkbox2" name="chkbox2" value="<!-- TMPL_VAR NAME='ritemnumber' -->" id="<!-- TMPL_VAR NAME='ritemnumber' -->">
</td>

 <td width="16%" class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal"><a href="detail.pl?bib=<!-- TMPL_VAR NAME="rbiblionumber" -->"><!-- TMPL_VAR NAME="rtitle" ESCAPE=HTML--><!-- TMPL_IF NAME="runititle" -->:&nbsp;<!-- TMPL_VAR NAME="runititle" --><!-- /TMPL_IF --></a></td>
<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align="center"><!-- TMPL_IF NAME="rauthor" --><!-- TMPL_VAR NAME="rauthor" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>
<td class="<!-- TMPL_VAR NAME="clase"-->"  align="center" ><!-- TMPL_IF NAME="barcode" --> <!-- TMPL_VAR NAME="barcode" -->
<!-- TMPL_ELSE --> - <!-- /TMPL_IF --></td>
<td class="<!-- TMPL_VAR NAME="clase"-->"  align="center" ><!-- TMPL_IF NAME="bulk" --> <!-- TMPL_VAR NAME="bulk" --> <!-- TMPL_ELSE -->-<!-- /TMPL_IF -->
</td>
<td class="<!-- TMPL_VAR NAME="clase"-->"  align="center" >  <!-- TMPL_IF NAME="volume" --> <!-- TMPL_VAR NAME="volume" -->: <!-- TMPL_VAR NAME="volumeddesc" --><!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
</td>
<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align=center><!-- TMPL_VAR NAME="rreminderdate" --></td>
<td class="<!-- TMPL_VAR NAME="clase"-->" align="center"><b><!-- TMPL_VAR NAME="rbranch" --></b></td>


<!--<td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align=center>
<INPUT TYPE="image" name="borrowD"  VALUE="prestar" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/item-prestar.png" title="Realizar pr&eacute;stamo" onClick="javascript:confirm_prestamo(<!-- TMPL_VAR NAME="rbiblioitemnumber" -->,<!-- TMPL_VAR NAME="ritemnumber" -->);return false;">
</td>-->


 <td class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align=center>
<INPUT TYPE="image" name="cancel"  VALUE="Cancelar" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/borrar.png" onClick="javascript:confirm_cancelation(<!-- TMPL_VAR NAME="rbiblioitemnumber" -->)" title="Cancelar">
</td>
 <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
                                                                                                                             
</tr>
<!-- /TMPL_LOOP -->
<tr>
	<td colspan="10" class="<!-- TMPL_VAR NAME="clase"-->" class="inputFontNormal" align=center>
		<INPUT TYPE="image" name="borrowD"  VALUE="prestar" BORDER=0 src="<!-- TMPL_VAR name='interface' -->/<!-- TMPL_VAR name='theme' -->/images/item-prestar.png" title="Realizar pr&eacute;stamo" onClick="javascript:confirm_prestamo();return false;">
	</td>
</tr>
</table>
</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="waiting" -->
<br>
<TABLE  CELLSPACING=0  CELLPADDING=0  border=0   width="100%">
	<TR VALIGN=middle>
		<td  align=center colspan=6><B>RESERVAS</B></td>
        </TR>

<TR VALIGN=middle class="tablaresultadoTitle">
<td width="1%" align="right" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png"></td>
<td>T&iacute;tulo</td>
 <td>Autor</td>
 <td>Volumen</td>
 <td>Cancelar</td>
<td width="1%" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
</tr>
<!-- TMPL_LOOP NAME="waiting" -->
<tr border="0">
 <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
 <td width="16%" class="<!-- TMPL_VAR NAME="clase"-->"> <a href="detail.pl?bib=<!-- TMPL_VAR NAME="rbiblionumber" -->"><!-- TMPL_VAR NAME="rtitle" ESCAPE=HTML--><!-- TMPL_IF NAME="runititle" -->:&nbsp;<!-- TMPL_VAR NAME="runititle" --><!-- /TMPL_IF --></a>
 </td>
 <td align=center class="<!-- TMPL_VAR NAME="clase"-->"><!-- TMPL_IF NAME="rauthor" --><!-- TMPL_VAR NAME="rauthor" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF -->
 </td>
 <td align=center class="<!-- TMPL_VAR NAME="clase"-->">  <!-- TMPL_IF NAME="redicion" --> <!-- TMPL_VAR NAME="redicion" --><!-- TMPL_ELSE --> - <!-- /TMPL_IF -->
 </td>
 <td align=center class="<!-- TMPL_VAR NAME="clase"-->"> 
<INPUT TYPE="image" name="cancel"  VALUE="Cancelar" BORDER=0 src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/borrar.png" onClick="javascript:confirm_cancelation(<!-- TMPL_VAR NAME="rbiblioitemnumber" -->)" title="Cancelar">
 </td>
 <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
</tr>
 <!-- /TMPL_LOOP -->
		
<td colspan=8 align=right>
<!-- TMPL_IF name="reserveloop" -->
<INPUT TYPE="image" name="submit" VALUE="update" height=42 WIDTH=187 BORDER=0 src="<!-- TMPL_VAR name="themelang" -->/images/cancel-requests.gif">
<!-- /TMPL_IF -->
	</td>
	</tr>
</table>

<!-- /TMPL_IF -->

<!-- TMPL_IF name="sanctions" -->

<br>
<TABLE border=0  width="100%"  cellpadding='0' cellspacing='0'>
        <TR VALIGN=middle class="tablaresultadoTitle" width="100%">
                 <td width="1%" align="right" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/izquierda.png
"></td>         
                <td width="98%"><B>SANCIONES</TD>
                <td width="1%" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name="theme" -->/images/derecha.png"></td>
        </TR>   
                <tr valign="top">
                         <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
                        <td class="inputFontNormal">

<!-- TMPL_IF NAME="sanctions" -->
        <table cellpadding="5" cellspacing="0" border="0" class="tablemsg" width="80%"  align="center">
 <!-- TMPL_LOOP NAME="sanctions" -->
                <tr>     <td>
         <font class="fontmsg">
           <!-- TMPL_IF NAME="description" -->
<li><!-- TMPL_VAR NAME="description" --> - Desde el <!-- TMPL_VAR NAME="startdate" --> hasta el <!-- TMPL_VAR NAME="enddate" -->.<!-- /TMPL_IF --></font>
                        </td>
                </tr>
<!-- /TMPL_LOOP -->
        </table>
<!-- TMPL_ELSE -->

	Sin sanciones

<!-- /TMPL_IF -->
</td>
                         <td height=25 class="<!-- TMPL_VAR NAME="clase"-->">&nbsp;</td>
                </tr>
        <tr VALIGN=middle  >
        <TD colspan=3 align=right>
        </td>
        </tr>
</table>

<!-- /TMPL_IF -->

<TABLE  border=0 CELLSPACING=0  CELLPADDING=0  align="right"  width="100%">
        <TR align=center>
                <td>
	<a class="inputFontNormal" class=button href="/cgi-bin/koha/readingrec.pl?bornum=<!-- TMPL_VAR NAME="bornum" -->">
        Historial de Pr&eacute;stamos
	</a>
		</td> 
	</TR>
 </table>

<!-- TMPL_IF NAME=virtualLibrary -->
<br><br>
<!-- TMPL_IF NAME=vrequest -->
<TABLE  CELLSPACING=0  CELLPADDING=7  border=0 align="right"  width="100%">
        <TR VALIGN=middle class="tablaresultadoTitle">
                <td  colspan=7><B>BIBLIOTECA VIRTUAL</B></td> </TR>

        <TR VALIGN=middle class="tablaresultadoTitle">
                <td ><B>T&iacute;tulo</b></TD>
                <td ><B>Autor</b></TD>

                 <td ><B>Tipo de Ejemplar</b></TD>
                <td ><B>Vol&uacute;men</b></TD>
                 <td ><B>Solicitado</b></TD>
		 <td ><B>Tipo</b></TD>
                <td><B>Estado</b></TD>
        </TR>

        <form action=/cgi-bin/koha/modvirtualrequest.pl method=post>
        <input type=hidden name=from value=borrower>

        <!-- TMPL_LOOP NAME=requestloop -->
        <tr VALIGN=middle>
                <td class="inputFontNormal">
                        <a class="inputFontNormal" href="/cgi-bin/koha/virtual/virtualrequest.pl?bib=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" ESCAPE=HTML--><!-- TMPL_IF NAME="unititle" -->:&nbsp;<!-- TMPL_VAR NAME="unititle" --><!-- /TMPL_IF --></a>
                </td>
<td class="inputFontNormal"> <!-- TMPL_IF NAME=author --> <!-- TMPL_VAR NAME="author" --> <!-- TMPL_ELSE --> -  <!-- /TMPL_IF -->
</td>
  <td class="inputFontNormal">  <a class="inputFontNormal" href="/cgi-bin/koha/moredetail.pl?bib=<!-- TMPL_VAR NAME="biblionumber" -->&bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->">  <!-- TMPL_VAR NAME="biblioitemnumber" --> GRUPO - <!-- TMPL_VAR NAME="description" --></a></td>
                <td align=center class="inputFontNormal">
                <!-- TMPL_IF NAME=volumeddesc -->
                                <!-- TMPL_VAR NAME="volume" -->: <!-- TMPL_VAR NAME="volumeddesc" -->
                          <!-- TMPL_ELSE -->
                                  -
                                <!-- /TMPL_IF -->

                </td>
                <td class="inputFontNormal"><!-- TMPL_VAR NAME="date_request" --></td>
		<td ><IMG <!-- TMPL_IF Name="copy" --> src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/cd.png" alt="Para Copiar" <!-- TMPL_ELSE --> src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/print.png" alt="Para Imprimir"  <!-- /TMPL_IF -->> </td>
		<td class="inputFontNormal"><!-- TMPL_VAR NAME="state" --></td>
                <input type=hidden name=biblio value="<!-- TMPL_VAR NAME="biblionumber" -->">
                <input type=hidden name=borrowernumber value="<!-- TMPL_VAR NAME="bornum" -->">
                <input type=hidden name=biblioitemnumber value="<!-- TMPL_VAR NAME="biblioitemnumber" -->">
                <input type=hidden name=timestamp value="<!-- TMPL_VAR NAME="timestamp" -->">

        </tr>
        <!-- /TMPL_LOOP -->

</tr>
</table>
<!-- /TMPL_IF -->
<br>
<TABLE  border=0 CELLSPACING=0  CELLPADDING=7  align="right"  width="100%">
        <TR align=center>
                <td>
        <a class=buttonv class="inputFontNormal" href="/cgi-bin/koha/virtual/virtualrec.pl?bornum=<!-- TMPL_VAR NAME="bornum" -->">
        Registro de Pedidos Virtuales
        </a>
                </td>
        </TR>
 </table>
<br>
<!-- /TMPL_IF -->
<br>
</td></tr></table>
<script>
function openPopup() {
	window.open('prestamoInterBiblio.pl?accion=ingresarDatos&bornum=<!-- TMPL_VAR NAME=bornum -->','Prestamos interbibliotecarios','width=640,height=500,toolbar=yes,scrollbars=yes,status=yes');
}

function confirm_prestamo(){
	document.getElementById('formPrestar').submit();
}

function confirm_cancelation(num) {
        var is_confirmed = confirm('Esta seguro que desea cancelar la reserva?');
          if (is_confirmed) {
               window.location="/cgi-bin/koha/cancelreserv.pl?borrnumber=<!-- TMPL_VAR name="borrowernumber" -->&biblioitem="+ num;
                        }
                        }
function confirm_deletion() {
	var is_confirmed = confirm('Confirma la baja ?');
	if (is_confirmed) {
		window.location="/cgi-bin/koha/deletemem.pl?member=<!-- TMPL_VAR NAME="bornum" -->";
	}
}

function checkedAll(strForm){
	var checks=document.getElementsByTagName("input");
	var nombre="chkbox1";
	if(strForm == "prestar"){
		nombre="chkbox2";
	}
	if (checks.length>0){
		for(i=0;i<checks.length;i++){
			if((checks[i].type == "checkbox") && (checks[i].name == nombre)){
				if(checks[i].checked){checks[i].checked=false}
                   	 	else{checks[i].checked=true}
			}
		}
	}
}

function subirForm(){
	var formulario=document.getElementById('formReturn').action="circ/returns.pl";
	formulario.submit;
}

function devolverItmes(){
	document.getElementById('action').value="return";
// 	var formulario=document.getElementById('formReturn').action="circ/returns.pl";
// 	formulario.submit;
	subirForm();
}

function renovarItems(){
	document.getElementById('action').value="renew";
// 	var formulario=document.getElementById('formReturn').action="circ/returns.pl";
// 	formulario.submit;
	subirForm();
}

</script>
<!-- endmenu -->

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
