<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script src="/intranet-tmpl/blue/es2/includes/jquery/jquery.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/json/jsonStringify.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/util.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/circulacion.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/AjaxHelper.js"></script>
<script src="/intranet-tmpl/blue/es2/includes/MessageHelper.js"></script>

<script>
function openPopup() {
	window.open('../prestamoInterBiblio.pl?accion=ingresarDatos&bornum=<!-- TMPL_VAR NAME=bornum -->','Prestamos interbibliotecarios','width=640,height=500,toolbar=yes,scrollbars=yes,status=yes');
}

function objeto_datos(){
	this.array_ids3;
	this.usuario;
	this.accion;
}

function objeto_usuario(){
	this.text;
	this.ID;
}

function item(){
	this.id3;
	this.barcode;
}

$(document).ready(function() {
	checkedAll('checkAllReservas','chkboxReservas');
	checkedAll('checkAllPrestamos','chkboxPrestamos');
	zebra("tablaResult");
	
	//definido en circulacion.js
	usuario= new object_usuario();
	usuario.text= "<!-- TMPL_VAR NAME='completo' -->";
	usuario.ID= "<!-- TMPL_VAR NAME='bornum' -->";

	detallePrestamos(usuario.ID);
	detalleReservas(usuario.ID);

});


//REDEFINIDO, se encuentra en circulacion.js
function updateInfoDevRen(responseText){
	alert("ejecuto updateInfoDevRen LOCAL!!!");
	cancelarDiv();
	clearMessages()

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	
	var mensajes= '';
	for(i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}

	detallePrestamos(usuario.ID);
	//puede que llegue al  max de prestamos y se cancelen las reservas
	detalleReservas(usuario.ID);
}

//REDEFINIDO, se encuentra en circulacion.js
function updateInfoPrestarReserva(responseText){
	alert("ejecuto updateInfoPrestarReserva LOCAL!!!");
	cancelarDiv();
	clearMessages();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	var mensajes= '';
	for(var i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}

	detalleReservas(usuario.ID);
}

function cancelarReserva(reserveNumber){
	var is_confirmed = confirm('Esta seguro que desea cancelar la reserva?');
        if (is_confirmed) {
		objAH=new AjaxHelper(updateInfoCancelacion);
		objAH.url='/cgi-bin/koha/circ/cancelreserv.pl';
		objAH.borrowernumber= usuario.ID;
		objAH.reserveNumber= reserveNumber;
		objAH.sendToServer();
        }
}

function updateInfoCancelacion(responseText){

	var Message=JSONstring.toObject(responseText);
	setMessage(Message);
	detalleReservas(objAH.borrowernumber);
}

function confirm_deletion() {
	var is_confirmed = confirm('Confirma la baja ?');

	if (is_confirmed) {
		window.location="/cgi-bin/koha/members/deletemem.pl?member=<!-- TMPL_VAR NAME="bornum" -->";
	}
}

function detallePrestamos(borr){

	objAH=new AjaxHelper(updateDetallePrestamos);
	objAH.url='/cgi-bin/koha/members/detallePrestamos.pl';
	objAH.borrnumber= borr;
	objAH.sendToServer();
}

function updateDetallePrestamos(responseText){
	$('#prestamos').html(responseText);
	zebra('prestamosResult');
}

function detalleReservas(borr){

	objAH=new AjaxHelper(updateDetalleReservas);
	objAH.url='/cgi-bin/koha/members/detalleReservas.pl';
	objAH.borrnumber= borr;
	objAH.sendToServer();
}

function updateDetalleReservas(responseText){
	$('#reservas').html(responseText);
	zebra('reseravsAsignadasResult');
	zebra('reservasEnEsperaResult');
}

</script>

<!-- Mensajes de Informacion al Usuario -->
<div class="tableMsgUser">
	<font class="fontMsgUser"><b>
	<div id="mensajes"></div>
	</b></font>
</div>

<br>
<div id="confirmar_div"></div>
<br>


<!-- TMPL_IF NAME="mensaje_error_borrar" -->
	<font color="red" size="5"><!-- TMPL_VAR NAME=mensaje_error_borrar --></font>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="mensaje" -->
	<font color="red" size="3"><!-- TMPL_VAR NAME=mensaje --></font>
<!-- /TMPL_IF -->

<div width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
	<p class="pagetitle" ><!-- TMPL_VAR NAME=firstname --> <!-- TMPL_VAR NAME=surname --></p>
</div>


<table  cellspacing=0  cellpadding=0 border=0 align=left width="100%" >
	<tr VALIGN=middle class="tablaresultadoTitle">
		<td width="1%" align="left" valing="top">
		<img src=" <!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
		<td colspan=3>REGISTRO DEL USUARIO</td>
		<td width="1%" valing="top" align="right"><img src=" <!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
	</tr>
</table>
<br><br>

<div class="divDatosUsuario">
	<!-- TMPL_IF NAME="foto_name" -->
		<img border="0" width="96" height="96"  src="/pictures/<!-- TMPL_VAR NAME='foto_name' -->"><br>
	<!-- /TMPL_IF -->
		
	Documento:<b> <!-- TMPL_VAR NAME="documenttype" --> &nbsp; <!-- TMPL_VAR NAME="documentnumber" --></b><br>

	Fecha de nacimiento:<b> <!-- TMPL_VAR NAME="dateofbirth" --></b><br>
	Sexo:<b> <!-- TMPL_VAR NAME="sex" --></b><br>
			
	<!-- TMPL_IF NAME="contactname" -->
		Contacto Alternativo:<b> <!-- TMPL_VAR NAME="contactname" --></b><br>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="altphone" -->
		Tel&eacute;fono:<b> <!-- TMPL_VAR NAME="altphone" --></b><br>
	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF NAME="altrelationship" -->
		Relaci&oacute;n:<b> <!-- TMPL_VAR NAME="altrelationship" --></b><br>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="emailaddress" -->
		E-mail: <b><a href="mailto:<!-- TMPL_VAR NAME='emailaddress' -->">
			<!-- TMPL_VAR NAME="emailaddress" --></a></b><br>
	<!-- /TMPL_IF -->
	<br>

	Tarjeta de identificaci&oacute;n :<b> <!-- TMPL_VAR NAME="cardnumber" --></b><br>

	Legajo :<b> <!-- TMPL_VAR NAME="studentnumber" --></b><br>
	
	ID de usuario:<b> <!-- TMPL_VAR NAME="borrowernumber" --></b><br>

	Categor&iacute;a del usuario:<b> <!-- TMPL_VAR NAME="categorycode" --></b><br>

	Incorporaci&oacute;n a Biblioteca:<b> <!-- TMPL_VAR NAME="branchcode" --></b><br>
	<!-- TMPL_IF name="usercourse" -->
		<center>
		<b>Realiz&oacute; el curso para usuarios. Dado de alta el d&iacute;a <!-- TMPL_VAR name="usercourse" -->. </b>
		</center>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="altnotes" -->
		Notas:<b> <!-- TMPL_VAR NAME="altnotes" --></b><br>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="borrowernotes" -->
		Notas generales: <b><A HREF="popbox.html" onclick="messenger(200,250,'Form that lets you add to and delete notes.'); return false"><!-- TMPL_VAR NAME="borrowernotes" --></a></b><br>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF name="IS_ADULT" -->
		<p align=center>
		<form action=/cgi-bin/koha/members/jmemberentry.pl method=post name="formHijo">
			<a href="#" onClick="formHijo.submit()" >
			<img alt="Agregar Hijo" src="<!-- TMPL_VAR NAME='themelang' -->/images/agregarhijo.png" border="0""></a>
			<input type=hidden name=type value=Agregar>
			<input type=hidden name=bornum value="<!-- TMPL_VAR NAME=borrowernumber -->">
		</form>
                </p>
	<!-- /TMPL_IF -->
</div>

<div class="divDatosUsuario" style="margin-top: 3%;margin-bottom: 5%">
	<!-- TMPL_IF name="I" -->
                <form action=/cgi-bin/koha/members/imemberentry.pl method=post name="formCarac">
			<a href="#" onClick="formCarac.submit()" >
                        <img alt="Modificar Caracter&acutei;stica" src="<!-- TMPL_VAR NAME='themelang' -->/images/modificarcaracteristicas.png" border="0""></a>
			<input type=hidden name=bornum value="<!-- TMPL_VAR NAME='bornum' -->">

		</form>

	<!-- TMPL_ELSE -->
		<form action=/cgi-bin/koha/members/memberentry.pl method=post name="formCarac2">
			<a href="#" onClick="formCarac2.submit()" >
                        <img alt="Modificar Caracter&iacute;stica" src="<!-- TMPL_VAR NAME='themelang' -->/images/modificarcaracteristicas.png" border="0""></a>

			<input type=hidden name=bornum value="<!-- TMPL_VAR NAME='bornum' -->">

		</form>
	<!-- /TMPL_IF -->
		<form action="javascript:confirm_deletion()" name="formElim">
			<a href="#" onClick="formElim.submit()" >
                        <img alt="Cambio de Contrase&ntilde;a" src="<!-- TMPL_VAR NAME='themelang' -->/images/eliminarusuario.png" border="0""></a>

   	               <input type=hidden name=member value="<!-- TMPL_VAR NAME='bornum' -->">
		</form>

		<form action=/cgi-bin/koha/members/member-password.pl method=post name="formCambio"><a href="#" onClick="formCambio.submit()" ><img alt="Cambio de Contrase&ntilde;a" src="<!-- TMPL_VAR NAME='themelang' -->/images/cambiocontrasena.png" border="0""></a>
			<input type=hidden name=member value=<!-- TMPL_VAR NAME=bornum -->>
		</form>

		<form action=/cgi-bin/koha/members/member-flags.pl method=post name="formPerm"><a href="#" onClick="formPerm.submit()" ><img alt="Modificar Permisos" src="<!-- TMPL_VAR NAME='themelang' -->/images/modificarpermisos.png" border="0""></a>

			<input type=hidden name=member value=<!-- TMPL_VAR NAME=bornum -->>

		</form>

		<form action=/cgi-bin/koha/cardGenerator.pl method=post name="formCarnet">
		 	<a href="#" onClick="formCarnet.submit()" ><img alt="Generar Carnet" src="<!-- TMPL_VAR NAME='themelang' -->/images/generarcarnet.png" border="0""></a>
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>

		</form>
	
		<form action=/cgi-bin/koha/libreDeuda.pl method=post name="formLibre">
		 	<a href="#" onClick="formLibre.submit()" ><img alt="Generar Libre Deuda" src="<!-- TMPL_VAR NAME='themelang' -->/images/libre_deuda.png" border="0""></a>
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>

		</form>

		<form action=/cgi-bin/koha/prestamoInterBiblio.pl method=post name="formInterBiblio">
		 	<a href="#" onClick="openPopup()" ><img alt="Generar Prestamo Interbibliotecario" src="<!-- TMPL_VAR NAME='themelang' -->/images/prest_inter.png" border="0""></a>
			<input type="hidden" name="bornum" value="<!-- TMPL_VAR NAME=bornum -->">
			<input type="hidden" name="accion" value="ingresarDatos">
		</form>

	 <!-- TMPL_IF name="mensaje_error_foto" -->	
		<font color="red"><!--  TMPL_VAR NAME="mensaje_error_foto" --></font>
	 <!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="foto_name" -->
		<form action=/cgi-bin/koha/members/upload.pl method=post>
			<input type=hidden name=foto_name value=<!-- TMPL_VAR NAME=foto_name -->>
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>
			<input type=submit class="button" value="Eliminar foto" align=center>
		</form>
	<!-- TMPL_ELSE -->
		<form action=/cgi-bin/koha/members/upload.pl method=post enctype="multipart/form-data" >
			<input type=hidden name=bornum value=<!-- TMPL_VAR NAME=bornum -->>
			<input type=image  src="<!-- TMPL_VAR NAME='themelang' -->/images/subirFoto.png" align=center valign="center">
			<input type=file name="picture">
		</form>
	 <!-- /TMPL_IF -->
</div>
<br>
<div style="clear:both">
<input type="hidden" id="borrnumber" value="<!-- TMPL_VAR name='bornum' -->">

<!--DETALLE DE PRESTAMOS-->
<div id="prestamos"></div>

<!-- DETALLE DE RESERVAS -->
<div id="reservas"></div>


<!-- TMPL_IF name="sanctions" -->
<br>
<table class="tablaResult" border=0  width="100%"  cellpadding='0' cellspacing='0'>
	<tr valign=middle class="tablaresultadoTitle" width="100%">
		<td width="1%" align="right" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/izquierda.png"></td>
                <td width="98%"><B>SANCIONES</TD>
                <td width="1%" valing="top"><img src="<!-- TMPL_VAR NAME='interface' -->/<!-- TMPL_VAR name='theme' -->/images/derecha.png"></td>
        </tr>
	<tr valign="top">
        	<td height=25>&nbsp;</td>
                <td class="inputFontNormal">
			<ul><font class="fontmsg">
 			<!-- TMPL_LOOP NAME="sanctions" -->
           		<!-- TMPL_IF NAME="description" -->
			<li>
			<!-- TMPL_VAR NAME="description" --> - Desde el <!-- TMPL_VAR NAME="startdate" --> hasta el <!-- TMPL_VAR NAME="enddate" -->.
			<!-- /TMPL_IF -->
			</li>
			<!-- /TMPL_LOOP -->
			</font></ul>
		</td>
		<td height=25>&nbsp;</td>
        </tr>
</table>

<!-- /TMPL_IF --> <!-- FIN IF sanctions -->

<p align="center">
	<a class="inputFontNormal" class=button href="/cgi-bin/koha/members/historialPrestamos.pl?bornum=<!-- TMPL_VAR NAME='bornum' -->">
        Historial de Pr&eacute;stamos
	</a>
</p>

<div/>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
