
<script type="text/javascript">
      $(document).ready(function() {
          makeToggle('datos_tabla_div_user','trigger',null,false);
          $('.user_pic_fancy').fancybox();
          disableAlert();
      });
</script>

[% USE HTML %]

<fieldset>
    <legend>[% "Resultados de la b&uacute;squeda" | i18n %]</legend>
        <!--<div class="datos_tabla_div_user">-->
             
            <div class="well">
                <div class="resultados_consulta">[% "Ha buscado por" | i18n %]: <strong>[% HTML.escape(socio_busqueda) %]</strong></div> 
            </div>
         [% IF cantidad %]
                  <div class="resultados_consulta">[% "La cantidad de usuarios es" | i18n %]: <strong>[% cantidad %]</strong></div>
                  <div class="contenedor_paginador">[% paginador %]</div>  
                  [% PERL %]
                      print C4::AR::Filtros::tableHeader(   
                                        id              => "tablaResult",
                                        class           => "",
                                        selectAll_id    => "",
                                        columns         => ['[% "Tarjeta Id." | i18n %]','[% 'Foto' | i18n %]',
                                                            '[% "Apellido y Nombres" | i18n %]','[% "Documento" | i18n %]',
                                                            '[% "Legajo" | i18n %]','[% "Cat." | i18n %]','[% "Prest." | i18n %]',
                                                            '[% "Ven." | i18n %]','[% "Estado" | i18n %]'


                                                            ]
                                                                        
                                              ) ;
                  [% END %]

                      <tbody>
                  
                            [% FOREACH resultsloop %]	
                                <tr>
                            
                                      <td class="tarjetaId">
                                          [% PERL %]
                                              print C4::AR::Filtros::link_to(   text =>     "[% socio.getNro_socio %]",
                                                                                url=>"[% url_prefix %]/usuarios/reales/datosUsuario.pl", 
                                                                                params =>   ["nro_socio=[% socio.getNro_socio %]"],
                                                                                title =>    "[% 'Mostrar Detalle del Usuario' | i18n %]"
                                                                          );
                                          [% END %]
                                      </td>
                                      <td class="userImage"> 
                                          [% IF socio.tieneFoto %]
                                              <a class="user_pic_fancy" href="/uploads/pictures/[% socio.tieneFoto %]">
                                                  <img border="0" src="/uploads/pictures/[% socio.tieneFoto %]" 
                                                        alt="[% 'Imagen de' | i18n %] [% socio.persona.getApellido %], [% socio.persona.getNombre %]"
                                                        title="[% socio.persona.getApellido %], [% socio.persona.getNombre %] ([% socio.getNro_socio %])"
                                                  >
                                              </a>
                                          [% ELSE %]
                                              <img border="0" src="[% temas %]/[% tema %]/imagenes/no_foto.jpg" 
                                                    alt="[% 'Usuario sin foto' | i18n %]"
                                                    title="[% 'Usuario sin foto' | i18n %]"
                                              >
                                          [% END %]
                                      </td>
                                      <td class="nomCompleto">
                                          [% PERL %]
                                              print C4::AR::Filtros::link_to(	text => 	"[% socio.persona.getApeYNom %]",
                                                                                url => 		"[% url_prefix %]/usuarios/reales/datosUsuario.pl", 
                                                                                params =>	["nro_socio=[% socio.getNro_socio %]"],
                                                                                title =>	"[% 'Mostrar Detalle del Usuario' | i18n %]"
                                                                          );
                                          [% END %]
                                      </td>
                                      <td class="documento">
                                          [% socio.persona.getVersion_documento %]&nbsp;[% socio.persona.getNro_documento %]
                                      </td>
                                      <td class="legajo">
                                          [% socio.persona.getLegajo %]
                                      </td>
                                      <td>
                                          [% socio.categoria.getDescription %]
                                      </td>
                                      <td>
                                          [% issue %]
                                      </td>
                                      <td>
                                          [% od %]
                                      </td>
                                      <td>
                                      [% socio.esRegularToString %]
                                      </td>
                            
                                </tr>
                            
                            [% END %]
                  
                    <!-- <tr>
                          <td class="lineafinaltabla"></td>
                      </tr>-->
                      </tbody>
                  </table>
             [% ELSE %]
                          <div class="alert alert-info">[% 'No hay usuarios para mostrar'| i18n %]</div>
             [% END %]
        </div>
</fieldset>
