<script type="text/javascript" src="/includes/jquery/fancybox/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/includes/jquery/fancybox/jquery.fancybox-1.2.1.pack.js"></script>

<script type="text/javascript">
      $(document).ready(function() {
          makeToggle('datos_tabla_div_user','trigger',null,false);
          $('.user_pic_fancy').fancybox();
      });
</script>

[% USE HTML %]

<div class="contenedor_paginador">[% paginador %]</div>
<fieldset class="resultados_busqueda">
    <legend class="titulo_legend trigger click">[% "Resultados de la b&uacute;squeda (usuarios):" | i18n %]</legend>
        <div class="datos_tabla_div_user">
            <div class="resultados_consulta">[% "La cantidad de usuarios es" | i18n %]: [% cantidad %]</div> 
            <div class="resultados_consulta">[% "Ha buscado por" | i18n %]: [% HTML.escape(socio_busqueda) %]</div> 
            <table id="tablaResult" class="datos_tabla" border=0 cellspacing=0 cellpadding=0 width=100%>
                <thead>
                <tr class="titulo_tabla_resultado">
            
                    <th class="click" onclick="ordenar('nro_socio')" 
                        Title="[% 'Ordenar por tarjeta de Id.' | i18n %]" width="12%">[% "Tarjeta Id." | i18n %]
                    </th>

                    <th Title="[% 'Imagen para mostrar' | i18n %]" width="12%"></th>

                    <th class="click" onclick="ordenar('apellido')" 
                        Title="[% 'Ordenar por apellido' | i18n %]" align="left" width="30%">[% "Apellido y Nombres" | i18n %]
                    </th>
                    <th class="click" onclick="ordenar('nro_documento')" 
                        Title="[% 'Ordenar por DNI' | i18n %]" width="15%">[% "Documento" | i18n %]
                    </th>
                    <th class="click" onclick="ordenar('legajo')" 
                        Title="[% 'Ordenar por legajo' | i18n %]" align="left">[% "Legajo" | i18n %]
                    </th>
                    <th class="click" onclick="ordenar('cod_categoria')" 
                        Title="[% 'Ordenar por categoria' | i18n %]">[% "Cat." | i18n %]
                    </th>
                    <th>[% "Prest." | i18n %]</th>
                    <th>[% "Ven." | i18n %]</th>
                    <th>[% "Estado" | i18n %]</th>
            
                </tr>
                </thead>
                <tbody>
            
            [% FOREACH resultsloop %]	
                <tr  align="center">
            
                      <td align='left' class="tarjetaId">
                          [% PERL %]
                              print C4::AR::Filtros::link_to(   text =>     "[% socio.getNro_socio %]",
                                                                url=>"[% url_prefix %]/usuarios/reales/datosUsuario.pl", 
                                                                params =>   ["nro_socio=[% socio.getNro_socio %]"],
                                                                title =>    "[% 'Mostrar Detalle del Usuario' | i18n %]"
                                                          );
                          [% END %]
                      </td>
                      <td class="userImage"> 
                          [% IF socio.tieneFoto %]
                              <a class="user_pic_fancy" href="/uploads/pictures/[% socio.tieneFoto %]">
                                  <img border="0" src="/uploads/pictures/[% socio.tieneFoto %]" 
                                        alt="[% 'Imagen de' | i18n %] [% socio.persona.getApellido %], [% socio.persona.getNombre %]"
                                        title="[% socio.persona.getApellido %], [% socio.persona.getNombre %] ([% socio.getNro_socio %])"
                                  >
                              </a>
                          [% ELSE %]
                              <img border="0" src="[% temas %]/[% tema %]/imagenes/no_foto.jpg" 
                                    alt="[% 'Usuario sin foto' | i18n %]"
                                    title="[% 'Usuario sin foto' | i18n %]"
                              >
                          [% END %]
                      </td>
                      <td width=250 align="left" class="nomCompleto">
                          [% PERL %]
                              print C4::AR::Filtros::link_to(	text => 	"[% socio.persona.getApeYNom %]",
                                                                url => 		"[% url_prefix %]/usuarios/reales/datosUsuario.pl", 
                                                                params =>	["nro_socio=[% socio.getNro_socio %]"],
                                                                title =>	"[% 'Mostrar Detalle del Usuario' | i18n %]"
                                                          );
                          [% END %]
                      </td>
                      <td align="left" class="documento">
                          [% socio.persona.getVersion_documento %]&nbsp;[% socio.persona.getNro_documento %]
                      </td>
                      <td align="left" class="legajo">
                          [% socio.persona.getLegajo %]
                      </td>
                      <td align=center>
                          [% socio.categoria.getDescription %]
                      </td>
                      <td align=center>
                          [% issue %]
                      </td>
                      <td align=center>
                          [% od %]
                      </td>
                      <td align="center">
                      <span class="[% clase %]"><b>[% socio.esRegularToString %]</b></span>
                      </td>
            
                </tr>
            
            [% END %]
            
                <tr>
                    <td class="lineafinaltabla"  align="left" colspan="14"></td>
                </tr>
                </tbody>
            
            </table>
        </div>
</fieldset>
