[% INCLUDE "intranet-top.inc" %] 

<script type="text/javascript">
      TYPE_FILE= "picture";
</script>

<script type="text/javascript" src="/intranet-tmpl/includes/circulacion-min.js"></script>
<script type="text/javascript" src="/intranet-tmpl/includes/usuarios/usuariosReales-min.js"></script>
<script type="text/javascript" src="/includes/jquery/jquery.fileUploader-min.js"></script>
<script type="text/javascript" src="/includes/jquery/jquery.livequery-min.js"></script>
<script type="text/javascript" src="/includes/jquery/fancybox/jquery.fancybox.js"></script>


[% INCLUDE "WindowHelper.inc" %] 
[% INCLUDE "ChangePasswordHelper.inc"  %]

<script type="text/javascript">

//muchos objetos AJAX para que funcionen los paginadores a la vez en el mismo tmpl
var objAH,objAHSanciones,objAHPrestamos,objAHReservas;
NRO_SOCIO_AUTH = '[% nro_socio %]';

//*************************************Para manejar el historial de prestamos***********************************
function ordenar(orden){
	objAH.sort(orden);
}

function changePage(ini){
	objAH.changePage(ini);
}

function ordenarHistorialSanciones(orden){
    objAHSanciones.sort(orden);
}

function ordenarHistorialPrestamos(orden){
    objAHPrestamos.sort(orden);
}

//lo mismo con los changePage, uno por cada objeto
function changePagePrestamos(ini){
	objAHPrestamos.changePage(ini);
}

function changePageReservas(ini){
	objAHReservas.changePage(ini);
}

function changePageSanciones(ini){
	objAHSanciones.changePage(ini);
}


function mostrarHistorialDePrestamos(){
	objAHPrestamos               = new AjaxHelper(updateMostrarHistorialDePrestamos);
	objAHPrestamos.debug         = true;
    objAHPrestamos.cache         = true;
    objAHPrestamos.showOverlay   = true;
	objAHPrestamos.url           = URL_PREFIX+'/usuarios/reales/historialPrestamos.pl';
	objAHPrestamos.nro_socio     = USUARIO.ID;
	objAHPrestamos.funcion       = 'changePagePrestamos';
	objAHPrestamos.sendToServer();
}

function updateMostrarHistorialDePrestamos(responseText){
	$('#historialPrestamos').html(responseText);
	zebra('tablaHistorialPrestamos');
	$.scrollTo('#historialPrestamos');
}

function mostrarHistorialDeReservas(){
    objAHReservas               = new AjaxHelper(updateMostrarHistorialDeReservas);
    objAHReservas.debug         = true;
    objAHReservas.cache         = true;
    objAHReservas.showOverlay   = true;
    objAHReservas.url           = URL_PREFIX+'/usuarios/reales/historialReservas.pl';
    objAHReservas.nro_socio     = USUARIO.ID;
    objAHReservas.funcion       = 'changePageReservas';
    objAHReservas.sendToServer();
}

function updateMostrarHistorialDeReservas(responseText){
    $('#historialReservas').html(responseText);
    zebra('tablaHistorialReservas');
    $.scrollTo('#historialReseravs');
}

//*******************************Fin Para manejar el historial de prestamos************************************

//*************************************Para manejar el historial de sanciones***********************************

function mostrarHistorialDeSanciones(){
    objAHSanciones               = new AjaxHelper(updateMostrarHistorialDeSanciones);
    objAHSanciones.debug         = true;
    objAHSanciones.cache         = true;
    objAHSanciones.showOverlay   = true;
    objAHSanciones.url           = URL_PREFIX+'/usuarios/reales/historialSanciones.pl';
    objAHSanciones.nro_socio     = USUARIO.ID;
    objAHSanciones.funcion       = 'changePageSanciones';
    objAHSanciones.sendToServer();
}

function updateMostrarHistorialDeSanciones(responseText){
    $('#historialSanciones').html(responseText);
    zebra('tablaHistorialSanciones');
    $.scrollTo('#historialSanciones');
}


//*******************************Fin Para manejar el historial de sanciones************************************

//************************************Para manejar la circulacion**********************************************
//REDEFINIDO, se encuentra en circulacion.js
function updateInfoRenovar(responseText){
	//jAlert("ejecuto updateInfoRenovar LOCAL!!!");
	cancelarDiv();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	
	var mensajes= '';
	for(i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}

	detallePrestamos(USUARIO.ID);
	//puede que llegue al  max de prestamos y se cancelen las reservas
	detalleReservas(USUARIO.ID);
	//puede que luego de devolver el usuario sea sancionado
	detalleSanciones(USUARIO.ID);
}

//REDEFINIDO, se encuentra en circulacion.js, se llama luego de realizar un prestamo
function updateInfoPrestarReserva(responseText){
// 	jAlert("ejecuto updateInfoPrestarReserva LOCAL!!!");
	cancelarDiv();
// 	/*clearMessages*/();

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.messages;
	var ticketsArray= infoHash.tickets;
	var mensajes= '';
	for(var i=0; i<messageArray.length;i++){
		imprimirTicket(ticketsArray[i].ticket,i);
  		setMessages(messageArray[i]);
	}

	detalleReservas(USUARIO.ID);
	detallePrestamos(USUARIO.ID);
    //puede que el usuario este sancionado
    detalleSanciones(USUARIO.ID);
}


//REDEFINIDO, se ejecuta cancelarReserva de circulacion.js y luego se ejecuta esta funcion
function updateInfoCancelacion(responseText){

	var Messages=JSONstring.toObject(responseText);
	setMessages(Messages);
	detalleReservas(USUARIO.ID);
}

function detalleUsuario(){
	objAH               = new AjaxHelper(updateDetalleUsuario);
	objAH.url           = URL_PREFIX+'/usuarios/reales/detalleUsuario.pl';
	objAH.debug         = true;
    objAH.showOverlay   = true;
	objAH.nro_socio     = USUARIO.ID;
	objAH.sendToServer();
}

function updateDetalleUsuario(responseText){
    if (!verificarRespuesta(responseText))
            return(0);
    $('#detalleUsuario').html(responseText);
    detalleReservas(USUARIO.ID);
}

function prestamosInterBibliotecarios(){
    objAH               = new AjaxHelper(updatePrestamosInterBibliotecarios);
    objAH.url           = URL_PREFIX+'/usuarios/reales/usuariosRealesDB.pl';
    objAH.debug         = true;
    objAH.showOverlay   = true;
    objAH.nro_socio     = USUARIO.ID;
    objAH.tipoAccion    = 'PRESTAMO_INTER_BIBLIO';
    objAH.sendToServer();
}

function updatePrestamosInterBibliotecarios(responseText){
//se crea el objeto que maneja la ventana para modificar los datos del usuario
    if (!verificarRespuesta(responseText))
        return(0);

    $('#basic-modal-content').html(responseText);
    $('#basic-modal-content').modal({   containerCss:{
            backgroundColor:"#fff",
    //         borderColor:"#0063dc",
            height:420,
            padding:0,
            width:650
        },
    });
}


function generarLibreDeuda(){
    objAH               = new AjaxHelper(updateGenerarLibreDeuda);
    objAH.url           = URL_PREFIX+'/usuarios/reales/usuariosRealesDB.pl';
    objAH.debug         = true;
    objAH.showOverlay   = true;
    objAH.nro_socio     = USUARIO.ID;
    objAH.tipoAccion    = 'GENERAR_LIBRE_DEUDA';
    objAH.sendToServer();
}

function updateGenerarLibreDeuda(responseText){

    if (!verificarRespuesta(responseText))
        return(0);

    var Messages=JSONstring.toObject(responseText);
    if(Messages){
        setMessages(Messages);
    }
}

function detallePrestamos(socio){

	objAH               = new AjaxHelper(updateDetallePrestamos);
	objAH.url           = URL_PREFIX+'/usuarios/reales/detallePrestamos.pl';
    objAH.showOverlay   = true;
	objAH.nro_socio     = socio;
	objAH.sendToServer();
}

function updateDetallePrestamos(responseText){
	$('#prestamos').html(responseText);
	zebra('prestamosResult');
	checkedAll('checkAllPrestamos','chkboxPrestamos');	
	detalleSanciones(USUARIO.ID);
}

function detalleReservas(socio){

	objAH               = new AjaxHelper(updateDetalleReservas);
	objAH.url           = URL_PREFIX+'/usuarios/reales/detalleReservas.pl';
    objAH.showOverlay   = true;
	objAH.nro_socio     = socio;
	objAH.sendToServer();
}


function updateDetalleReservas(responseText){
	$('#reservas').html(responseText);
	zebra('reseravsAsignadasResult');
	zebra('reservasEnEsperaResult');
	checkedAll('checkAllReservas','chkboxReservas');
	detallePrestamos(USUARIO.ID);
}

function updateInfoDevolver(responseText){
	cancelarDiv();
    if (!verificarRespuesta(responseText))
        return(0);

	var infoHash= JSONstring.toObject(responseText);
	var messageArray= infoHash.Messages_arrayref;
	setMessages(messageArray);

	detallePrestamos(USUARIO.ID);
	detalleReservas(USUARIO.ID);
	//puede que luego de devolver el usuario sea sancionado
	detalleSanciones(USUARIO.ID);
}


function detalleSanciones(socio){

    objAH               = new AjaxHelper(updateDetalleSanciones);
    objAH.showOverlay   = true;
    objAH.url           = URL_PREFIX+'/usuarios/reales/detalleSanciones.pl';
    objAH.nro_socio     = socio;
    objAH.sendToServer();
}

function updateDetalleSanciones(responseText){
    $('#sanciones').html(responseText);
}
//**********************************Fin**Para manejar la circulacion********************************************

$(document).ready(function(){
	
	//definido en circulacion.js
	USUARIO         = new objeto_usuario();
	USUARIO.text    = "[% socio_modificar.persona.getApeYNom %]";
    USUARIO.ID      = '[% socio_modificar.getNro_socio %]';
	detalleUsuario();

//     $('#fancybox_ticket').modal({   containerCss:{
//             backgroundColor:"#fff",
//     //         borderColor:"#0063dc",
//             height:420,
//             padding:0,
//             width:650
//         },
//     );

    makeToggle('toggle_container_block','trigger1',mostrarHistorialDePrestamos, 'historialPrestamos',true);
    makeToggle('toggle_container_block','trigger2',mostrarHistorialDeSanciones, 'historialSanciones',true);
    makeToggle('toggle_container_block','trigger3',mostrarHistorialDeReservas, 'historialReservas',true);
});

</script>

    <div id="confirmar_div"></div>

<div id="resultBusqueda">
	<!-- 	DETALLE USUARIO -->
	<div id="detalleUsuario"></div>
		
	<!--DETALLE DE PRESTAMOS-->
	<div id="prestamos"></div>
	
	<!-- DETALLE DE RESERVAS -->
	<div id="reservas"></div>
	
	<!-- DETALLE DE SANCIONES -->
	<div id="sanciones"></div>

    <div>
        <fieldset>
            <legend class="titulo_legend_resaltado trigger1 click titulo_legend" title='[% "click para acceder al Historial de Pr&eacute;stamos" | i18n %]'>
                            [% "Historial de Pr&eacute;stamos" | i18n %]
            </legend>
	        <!-- DETALLE DEL HISTORICO DE PRESTAMOS DEL USUARIO -->
	        <div id="historialPrestamos" class="toggle_container_block" style="display:none"></div>
        </fieldset>
    </div>

    <div>
        <fieldset>
            <legend class="titulo_legend_resaltado trigger3 click titulo_legend" title='[% "click para acceder al Historial de Reservas" | i18n %]'>
                            [% "Historial de Reservas" | i18n %]
            </legend>   
            <!-- DETALLE DEL HISTORICO DE RESERVAS DEL USUARIO -->
            <div id="historialReservas" class="toggle_container_block" style="display:none"></div>
        </fieldset>
    </div>

    <div>
        <fieldset>
            <legend class="titulo_legend_resaltado trigger2 click titulo_legend" title='[% "click para acceder al Historial de Sanciones" | i18n %]'>
                            [% "Historial de Sanciones" | i18n %]
            </legend>   
            <!-- DETALLE DEL HISTORICO DE SANCIONES DEL USUARIO -->
            <div id="historialSanciones" class="toggle_container_block" style="display:none"></div>
        </fieldset>
    </div>
    <div class="ticket" id="ticket"></div> 
</div>

[% INCLUDE "intranet-bottom.inc" %]
