 
[% IF SANCIONES %]

<div class="titulo_arriba_tabla">[% 'SANCIONES' | i18n %]</div>

<table class="tablaSanciones datos_tabla" border=0  width="100%"  cellpadding='0' cellspacing='0'>    
    <tr valign="top">
    
	    <td>
	        <ul>
		<font class="fontmsg">
	        [% FOREACH sancion IN SANCIONES %]
		        <li>
			<div>
			<div>
		        [% IF sancion.tipo_sancion %]
				<ul> 
				[% FOREACH ts IN sancion.ref_tipo_prestamo_sancion %] 
				<li>[% ts.ref_tipo_prestamo.descripcion %]</li>
				[% END %]
				</ul>
		        [% ELSE %]
		        [% "Reserva no retirada" | i18n %]
		        [% END %] 
        		</div>
			<div>
		        [% "Desde el" | i18n %] [% sancion.getFecha_comienzo_formateada %] 
		        [% "hasta el" | i18n %] [% sancion.getFecha_final_formateada %]
			</div>
			</li>
	        [% END %]
		        </font>
	        </ul>	
	    </td>
    </tr>
</table>

[% END %]