<script>
function borrarSancion(id_sancion){

    var array = new Array; //array de una sola posicion, para que ante el eliminar sanciones
    array[0]  = id_sancion
    jConfirm(ESTA_SEGURO_QUE_DESEA_CANCELAR_LA_SANCION,SANCIONES_TITLE, function(confirmStatus){if (confirmStatus) {

        objAH               = new AjaxHelper(updateBorrarSancion);
        objAH.debug         = true;
        objAH.showOverlay   = true;
        objAH.url=URL_PREFIX+'/circ/sancionesDB.pl';
        objAH.accion        = "ELIMINAR_SANCIONES"
        objAH.datosArray    = array;

        objAH.sendToServer();
        }
    });
}

function updateBorrarSancion(responseText){
    
    if (!verificarRespuesta(responseText)){
        return(0);
    } 
    var Messages = JSONstring.toObject(responseText);
    setMessages(Messages);
    detalleSanciones(USUARIO.ID);
}

</script>

[% IF SANCIONES %]
    <fieldset class="detalle_sanciones_sancionado"> 
[% ELSE %]
    <fieldset class="detalle_sanciones"> 
[% END %]
<legend class="titulo_legend_resaltado">[% 'Detalle de sanciones' | i18n %]</legend>

[% IF SANCIONES %]

<table id="detalleSancionesResult"  class="table table-striped"  width="100%">
  <thead>
    <tr>		    
        <th>[% "Sancion Original" | i18n %]</th>
	    <th>[% "Se aplica a" | i18n %]</th>
        <th>[% "Desde" | i18n %]</th>
        <th>[% "Hasta" | i18n %]</th>
        <th>[% "Autor" | i18n %]</th>
        <th>[% "T&iacute;tulo" | i18n %]</th>
        <th>[% "Edicion" | i18n %]</th>
        <th>[% "Acciones" | i18n %]</th>
    </tr>
  </thead>
  <tbody>
	[% i = 2 %]
	[% FOREACH sancion IN SANCIONES %]
	
	<tr
            [% IF i % 2 == 0 %] 
                [% "class='par'" %]
            [% ELSE %]
                [% "class='impar'" %]
            [% END %]
    >
        <td>[% IF sancion.ref_tipo_sancion.ref_tipo_prestamo.getId_tipo_prestamo %]
				[% sancion.ref_tipo_sancion.ref_tipo_prestamo.getDescripcion %]
			[% ELSE %]
		        [% "Reserva no retirada" | i18n %]
		    [% END %]
		</td>
        <td>
		    [% FOREACH ts IN sancion.ref_tipo_sancion.ref_tipo_prestamo_sancion %] 
			    [% ts.ref_tipo_prestamo.descripcion %]<br>
		    [% END %]
		</td>
        <td>[% sancion.getFecha_comienzo_formateada %]</td>
        <td>[% sancion.getFecha_final_formateada %]</td>
        <td>[% sancion.nivel3.nivel1.getAutor %]</td>
        <td>[% sancion.nivel3.nivel1.getTitulo %]</td>
        <td>[% sancion.nivel3.nivel2.getEdicion %]</td>
        <td>
        [% PERL %]
            print C4::AR::Filtros::to_Icon(  
                                                boton   => "icon_cancelar",
                                                onClick => "borrarSancion('[% sancion.getId_sancion %]');",
                                                title   => "[% 'Borrar Sancion' | i18n %]",
                                                alternClass => "botonCentradoTabla"
                    ) ;
	    [% END %]
  
        </td>
	</tr>	
	[% i = i + 1 %]       
    [% END %]	
  </tbody>
</table>
[% ELSE %]

    <div class="alert alert-info">[% 'El usuario no tiene sanciones actualmente' | i18n %]</div>

[% END %]
</fieldset>
