<script type="text/javascript">

    $(document).ready(function(){
            makeToggle('toggle_container','trigger',null);
    });

</script>

<div class="vcard">

    <div width="100%"  border="0" cellpadding="0" cellspacing="0" align="center">
      <p class="titulos" >
            <span class="fn">[% firstname %] [% surname %]</span>
        </p>
    </div>

    <div class="titulo_tabla_resultado">[% "REGISTRO DEL USUARIO" | i18n %]</div>
<div style="width:40%">
      <div class="divDatosUsuario" style="float:left">
      <!-- FIXME y esto??????????????????? -->
        [% IF error %]
            <h2>  [% error_msg %]  </h2>
          <br>
            <a href="/cgi-bin/koha/usuarios/reales/buscarUsuario.pl"> 
                          [% "Por favor, repita la b&uacute;squeda" | i18n %]
              </a>  
        [% ELSE %]
      
                  [% IF foto_name %]
                          <img width="96px" height="96px" border="0" src="  [% themelang %]/pictures/[% foto_name %]"><br>
                  [% END %]
      
                  [% "Apellido:" | i18n %]
                          <b> [% socio.persona.getApellido %] </b><br>
  
                  [% "Nombre:" | i18n %]
                          <b> [% socio.persona.getNombre %] </b><br>
  
                  [% "Documento:" | i18n %]
                          <b> [% socio.persona.getVersion_documento %]&nbsp; [% socio.persona.getNro_documento %]</b><br>
  
                  [% IF !(socio.getNro_socio == socio.getNro_documento) %]
                      [% "Tarjeta de identificaci&oacute;n :" | i18n %]
                              <b> [% socio.getNro_socio %]</b><br>
                  [% END %]
                  [% IF socio.tieneAutorizado %]
                      <br><br>
                      <div class="authorizedBack">
                                  <span class="type">[% "Nombre y Apellido del autorizado" | i18n %]:</span>
                                      <b> [% socio.getNombre_apellido_autorizado%]</b>
                                  <br>
                                  <span class="type">[% "DNI del autorizado" | i18n %]:</span>
                                      <b> [% socio.getDni_autorizado %]</b>
                                  <br>
                                  <span class="type">[% "Tel&eacute;fono del autorizado" | i18n %]:</span>
                                      <b> [% socio.getTelefono_autorizado %]</b>
                                  <br>
                      </div>
                  [% END %]
          </div>
          <div class="divDatosUsuario" style="float:right">
                <ul class = "listaMenuBotones" >
                  <li>
    
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Modificar Datos' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "modificarDatosDeUsuario();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
    <!-- FIXME dos br, para separar los divs -->
                            <br><br>
                  </li>
                            <li>
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Eliminar Usuario' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "eliminarUsuario();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            <br>
                            <br>
                            </li>
                        [% IF !socio.tieneAutorizado %]
                            <li>
    
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Agregar Autorizado' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "agregarAutorizado();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            <br><br>
                            </li>
                        [% ELSE %]
                            <li>
                
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Eliminar Autorizado' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "desautorizarTercero();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            <br><br>
                            </li>
                        [% END %]
    
                [% IF nroSocioLoggeado != loggedinuser%]
                  <li>
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Reset Password' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "resetPassword();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            <br><br>
                  </li>
                [% ELSE %]
                  <li>
                <form action=/cgi-bin/koha/usuarios/change_password.pl method=get id="formCambioPassword">
                    <input type=hidden name="token" value="[% token %]" >
                </form>        
      
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Cambio de Contrase&ntilde;a' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "cambiarPassword();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            <br><br>
                  </li>
                [% END %]
                        <li>
                <form action=/cgi-bin/koha/usuarios/cardGenerator.pl method=get name="formCarnet">
                                    <input type=hidden name="nro_socio" value="[% socio.getNro_socio %]" >
                                    <input type=hidden name="token" value="[% token %]" >
                </form>
        
                [% PERL %]
                                    print C4::AR::Filtros::to_Button(   text    => "[% 'Generar Carnet' | i18n %]",
                                                                        boton   => "boton_buscar",
                                                                        onClick => "formCarnet.submit();",
                                                                        width   => "173"
                                            ) ;

                [% END %]
                <br><br>

                </li>
                <li>
                    <form action=/cgi-bin/koha/usuarios/libreDeuda.pl method=get name="formLibre">
                                        <input type=hidden name=nro_socio value="[% socio.getNro_socio %]" >
                                        <input type=hidden name=token value="[% token %]" >
                    </form>    
                    [% PERL %]
                                        print C4::AR::Filtros::to_Button(   text    => "[% 'Libre Deuda' | i18n %]",
                                                                            boton   => "boton_buscar",
                                                                            onClick => "formLibre.submit();",
                                                                            width   => "173"
                                                ) ;
                    [% END %]
                    <br><br>
                </li>
                <li>
                    [% PERL %]
                                        print C4::AR::Filtros::to_Button(   text    => "[% 'Prest. Interbibliotecario' | i18n %]",
                                                                            boton   => "boton_buscar",
                                                                            onClick => "prestamosInterBibliotecarios();",
                                                                            width   => "173"
                                                ) ;
                    [% END %]
                    <br><br>
                </li>

                [% IF mensaje_error_foto %] 
                        <li>
                                <font color="red">[% mensaje_error_foto %]</font>
                        </li>
                [% END %]

                [% IF foto_name %]
                        <li>
                            <input type=button class="button" value="Eliminar foto" 
                                align=center onClick="eliminarFoto('[% foto_name %] ')">
                        </li>
                [% ELSE %]
                        <li>
                                <div id="uploader"></div>
                        </li>
                [% END %]
            </ul>
          </div>
          <br>
      [% END %]


<div class="divDatosUsuario">
    <h2 class="trigger">
        <a href="#">[% "Datos secundarios" | i18n %]</a>
    </h2>
      <div class="toggle_container">
          [% "Fecha de nacimiento:" | i18n %]
                  <b> [% socio.persona.getNacimiento %]</b><br>
          [% "Sexo:" | i18n %]
                  <b> [% socio.persona.getSexo %]</b>
          [% IF socio.persona.getTelefono %]
                  <div class="tel">
                          <span class="type">[% "Tel&eacute;fono:" | i18n %]</span>
                                  <b>[% socio.persona.getTelefono %]</b><br>
                  </div>  
          [% END %]
  
          [% IF socio.persona.getAlt_telefono %]
          <div class="tel">
                  <span class="type">[% "Tel&eacute;fono Alt:" | i18n %]</span>
                              <b>[% socio.persona.getAlt_telefono %]</b><br>
          </div>  
          [% END %]
  
          [% IF socio.persona.getEmail %]
                  E-mail: <b><a href="mailto:[% socio.persona.getEmail %]">
                          <span class="email"> [% socio.persona.getEmail %]</span></a></b><br>
          [% END %]
          <br>
  
          [% "Legajo :" | i18n %]
                          <b> [%  socio.persona.getNro_documento %]</b><br>
  
          [% "Ciudad :" | i18n %]
                          <b> [%  socio.persona.ciudad_ref.getNombre %]</b><br>
          [% "Calle :" | i18n %]
                          <b> [%  socio.persona.getCalle %]</b><br>
          
          [% "ID de usuario:" | i18n %]
                          <b> [%  socio.nro_socio %]</b><br>
  
          [% "Categor&iacute;a del usuario:" | i18n %]
                          <b> [%  socio.categoria.getDescription %]</b><br>
  
          [% "Incorporaci&oacute;n a Biblioteca:" | i18n %]
                          <b> [%  socio.ui.getNombre %]</b><br>
  
  
          [% IF usercourse %]
                  <center>
                      <b>
                          [% "Realiz&oacute; el curso para usuarios. Dado de alta el d&iacute;a" | i18n %]
                          [% usercourse %]
                      </b>
                  </center>
          [% END %]
      </div>
</div>
