
[% USE HTML %] 

[% IF reservas_asignadas_count %]
	<br>
	<span class="tituloArribaTabla">[% "EJEMPLARES ASIGNADOS" | i18n %]</span>
	<table class="reseravsAsignadasResult" cellspacing=0  cellpadding=0  border=0   width="100%">
		<tr class="tablaresultadoTitle">
			<th width="1%" align="right" valing="top">
				<img src="[% themelang %]/images/izquierda.png">
			</th>
			<th>
				<a class="click" id="checkAllReservas">
					<img src="[% themelang %]/images/check.png" border="0" title="[% 'Invertir la selecci&oacute;n' | i18n %]">
				</a>
			</th>
	
			<th>[% "T&iacute;tulo" | i18n %]</th>
			<th>[% "Autor" | i18n %]</th>
			<th>[% "C. Barra" | i18n %]</th>
			<th>[% "Sig. Top." | i18n %]</th>
			<th>[% "Ed." | i18n %]</th>
			<th>[% "Vol." | i18n %]</th> 
			<th>[% "Vencimiento" | i18n %]</th>
			<th width="10%">[% "Retira en" | i18n %]</th>
			<th width="10%">[% "Cancelar" | i18n %]</th>
			<th width="1%" valing="top">
			<img src="[% interface %]/[% theme %]/images/derecha.png">
			</th>
		</tr>
	[% FOREACH reserva IN RESERVAS_ASIGNADAS %]
		<tr class="inputFontNormal" align="center">
			<td height=25>&nbsp;</td>
			<td>
		[% IF circularDesdeDetalleUsuario %]
			<input type="checkbox"  name="chkboxReservas" value="[%  reserva.getId3 %]" id="[% reserva.nivel3.getBarcode %]">
		[% ELSE %]
			[% 'NO SE PERMITE CIRCULAR' | i18n %]
		[% END %] <!--END IF permiso_para_circular -->
			</td>
	
			<td width="16%">
				[% PERL %]
					print C4::AR::Filtros::link_to(	text => 	" [% HTML.escape(reserva.nivel2.nivel1.getTitulo) %]",
													url => 		"/cgi-bin/koha/busquedas/detalle.pl", 
													params =>	["id1=[% reserva.nivel2.nivel1.getId1 %]"],
												) ;
				[% END %]
			</td>	
			<td>
                [% IF reserva.nivel3.nivel1.getAutor %]
                    [% reserva.nivel3.nivel1.cat_autor.getCompleto %]
                [% ELSE %]
                    &nbsp;
                [% END %]
			</td>
			<td>
				[% PERL %]
					print C4::AR::Filtros::link_to(	text => 	"[% reserva.nivel3.getBarcode %]",
													url => 		"/cgi-bin/koha/busquedas/detalleItem.pl", 
													params =>	[	"id1=[% reserva.nivel3.nivel1.getId1 %]",
																	"id2=[% reserva.nivel3.nivel2.getId2 %]","
																	"id3=[% reserva.getId3 %]",
																	"barcode=[% reserva.nivel3.getBarcode %]",
																	"signatura_topografica=[% reserva.nivel3.getSignatura_topografica %]"
																],
													title =>	"[% 'Mostrar Detalle de Disponibilidad' | i18n %]"
												) ;
				[% END %]
				
			</td>
			<td>
			[% IF reserva.nivel3.getSignatura_topografica %] 
				[% PERL %]
					print C4::AR::Filtros::link_to(	text => 	"[% reserva.nivel3.getSignatura_topografica %]",
													url => 		"/cgi-bin/koha/detalle.pl", 
													params =>	["id1="[% reserva.nivel3.nivel1.getId1 %]"],
												) ;
				[% END %]
			[% END %]
			</td>
            <td>  
            [% IF reserva.nivel3.nivel2.getEdicion %] [% reserva.nivel3.nivel2.getEdicion %] [% ELSE %] - [% END %]
            </td>
    
            <td> 
            [% IF reserva.nivel3.nivel2.getVolumen %] t [% reserva.nivel3.nivel2.getVolumen %] 
                [% IF reserva.nivel3.nivel2.getVolumenDesc %] ([% reserva.nivel3.nivel2.getVolumenDesc %])  [% END %] 
            [% END %]
            </td>
			<td>
            [% IF reserva.getFecha_recordatorio_formateada %]
            <font  [% IF reserva.estaVencida %] color="red" [% END %] >[% reserva.getFecha_recordatorio_formateada %]</font>
            [% ELSE %]
               - 
            [% END %]
			</td>
			<td>
            [% IF reserva.getId_ui %] 
                [% reserva.ui.getNombre %]
            [% ELSE %]
                - 
            [% END %]
			</td>
		[% IF circularDesdeDetalleUsuario %]
			<td>
				<inpuT 	type="image" name="cancel"  VALUE="Cancelar" BORDER=0 
						src="[% themelang %]/images/borrar.png" 
						onClick="cancelarReserva('[% reserva.getId_reserva %]')" title='[% "Cancelar" | i18n %]'>
			</td>
		[% ELSE %]
			[% 'NO SE PERMITE CIRCULAR' | i18n %]
		[% END %] <!--END IF permiso_para_circular -->
			<td height=25>&nbsp;</td>
	
		</tr>
	[% END %]
	</table>
	[% IF circularDesdeDetalleUsuario %]
		<p align=center>
			<input 	type="image" name="borrowD"  VALUE='[% "prestar" | i18n %]' BORDER=0 
					src="[% themelang %]/images/item-prestar.png" 
					title="Realizar pr&eacute;stamo" 
					onClick="realizarAccion('CONFIRMAR_PRESTAMO','chkboxReservas',generaDivPrestamo);">
		</p>
	[% ELSE %]
			[% 'NO SE PERMITE CIRCULAR' | i18n %]
	[% END %] <!--END IF permiso_para_circular -->
	

[% END %]


[% IF reservas_espera_count %]

<br>
<span class="tituloArribaTabla">[% "RESERVAS EN ESPERA" | i18n %]</span>
	
	<table class="reservasEnEsperaResult" cellspacing=0  cellpadding=0  border=0   width="100%">
		<tr valign=middle class="tablaresultadoTitle">
			<th width="1%" align="right" valing="top">
				<img src="[% themelang %]/images/izquierda.png">
			</th>
			<th>[% "T&iacute;tulo" | i18n %]</th>
			<th>[% "Autor" | i18n %]</th>
			<th>[% "Edici&oacute;n" | i18n %]</th>
			<th>[% "Volumen" | i18n %]</th>
			<th>[% "Cancelar" | i18n %]</th>
			<th width="1%" valing="top">
				<img src="[% themelang %]/images/derecha.png">
			</th>
		</tr>
    [% FOREACH reserva IN RESERVAS_ESPERA %]
		<tr align="center" class="inputFontNormal">
			<td height=25>&nbsp;</td>
			<td width="16%"> 
			[% PERL %]
				print C4::AR::Filtros::link_to(	text => 	"[% HTML.escape(reserva.nivel2.nivel1.getTitulo) %]",
												url => 		"/cgi-bin/koha/catalogacion/estructura/detalle.pl", 
												params =>	["id1=[% reserva.nivel2.nivel1.getId1 %]"],
											) ;
			[% END %]
			</td>
			<td>
                [% IF reserva.nivel3.nivel1.getAutor %]
                    [% reserva.nivel3.nivel1.cat_autor.getCompleto %]
                [% ELSE %]
                    &nbsp;
                [% END %]
			</td>
           <td>  
            [% IF reserva.nivel3.nivel2.getEdicion %] [% reserva.nivel3.nivel2.getEdicion %] [% ELSE %] - [% END %]
            </td>
    
            <td> 
            [% IF reserva.nivel3.nivel2.getVolumen %] t [% reserva.nivel3.nivel2.getVolumen %] 
                [% IF reserva.nivel3.nivel2.getVolumenDesc %] ([% reserva.nivel3.nivel2.getVolumenDesc %])  [% END %] 
            [% END %]
            </td>
		[% IF circularDesdeDetalleUsuario %]
			<td> 
				<input 	type="image" name="cancel"  value='[% "Cancelar" | i18n %]' border=0 
						src="[% themelang %]/images/borrar.png" 
						onClick="cancelarReserva('[% reserva.getId_reserva %]')" title="[% 'Cancelar' | i18n %]">
			</td>
		[% ELSE %]
			[% 'NO SE PERMITE CIRCULAR' | i18n %]
		[% END %] <!--END IF permiso_para_circular -->
			<td height=25>&nbsp;</td>
		</tr>
	[% END %]
	</table>
[% END %]
