[% IF SANCIONES %]
	<br>
	<table class="tablaSanciones" border=0  width="100%"  cellpadding='0' cellspacing='0'>
	<tr valign=middle class="tablaresultadoTitle" width="100%">
	
		<td width="98%"><B>SANCIONES</td>
	
	</tr>
	
	<tr valign="top">

		<td class="inputFontNormal">
		<ul><font class="fontmsg">
		[% FOREACH sancion IN SANCIONES %]
			<li>
			[% IF sancion.tipo_sancion %] [% FOREACH ts IN sancion.ref_tipo_prestamo_sancion %]* ts.getTipo_prestamo *[% END %]
			[% ELSE %]
			[% "Reserva no retirada" | i18n %]
			[% END %] - 

			[% "Desde el" | i18n %] [% sancion.getFecha_comienzo_formateada %] 
			[% "hasta el" | i18n %] [% sancion.getFecha_final_formateada %]
			</li>
		[% END %]
			</font>
		</ul>
		</td>
	</tr>
	</table>

[% END %]