<script type="text/javascript">

    $(document).ready(function(){
        makeToggle('toggle_container','trigger',null);
        makeNudge('trigger');
    });

</script>

<div class="vcard">
<fieldset>
<legend class="titulo_legend">[% 'Datos del Usuario' | i18n %]</legend>
     <div class="columna_izq" >
          <fieldset>
            <legend class="titulo_legend">[% 'Datos Escenciales' | i18n %]</legend>
                <ul class="listado_sin_margen">
                  [% IF foto_name %]
                <li> <img width="96px" height="96px" border="0" src="  [% themelang %]/pictures/[% foto_name %]"></li>
                  [% END %]
                <li> [% "Apellido:" | i18n %]<strong> [% socio.persona.getApellido %]</strong> </li>
                <li> [% "Nombre:" | i18n %]<strong> [% socio.persona.getNombre %]</strong> </li>
                <li> [% "Documento:" | i18n %]<strong> [% socio.persona.getVersion_documento %]&nbsp; [% socio.persona.getNro_documento %]</strong></li>
                 [% IF !(socio.getNro_socio == socio.getNro_documento) %]
                     <li> [% "Tarjeta de identificaci&oacute;n :" | i18n %] <strong> [% socio.getNro_socio %]</strong></li>
                  [% END %]
                </ul>
          </fieldset>
                  [% IF socio.tieneAutorizado %]
                    <fieldset>
                    <legend class="titulo_legend">[% 'Usuarios autorizados' | i18n %]</legend>
                      <div class="authorizedBack">
                        <ul class="listado_sin_margen">
                                  <li>[% "Nombre y Apellido del autorizado" | i18n %]:<strong> [% socio.getNombre_apellido_autorizado%]</strong></li>
                                  <li>[% "DNI del autorizado" | i18n %]:<strong> [% socio.getDni_autorizado %]</strong></li>
                                  <li>[% "Tel&eacute;fono del autorizado" | i18n %]:<strong> [% socio.getTelefono_autorizado %]</strong></li>
                        </ul>
                      </div>
                    </fieldset>            
                  [% END %]
        <div id="datos_Secundarios">
        <fieldset>
            <legend class="trigger click titulo_legend">[% "Datos secundarios" | i18n %]</legend>
            <div class="toggle_container">
                <ul class="listado_sin_margen">
                    <li>[% "Fecha de nacimiento:" | i18n %] <strong> [% socio.persona.getNacimiento %]</strong></li>
                    <li>[% "Sexo:" | i18n %] <strong> [% socio.persona.getSexo %]</strong> </li>
                    [% IF socio.persona.getTelefono %]
                    <li> <div class="tel">[% "Tel&eacute;fono:" | i18n %]<strong>[% socio.persona.getTelefono %]</strong></div></li>  
                    [% END %]
                    [% IF socio.persona.getAlt_telefono %]
                    <li> <div class="tel">[% "Tel&eacute;fono Alt:" | i18n %] <strong>[% socio.persona.getAlt_telefono %]</strong></div></li>  
                    [% END %]
                    [% IF socio.persona.getEmail %]
                    <li>E-mail: <strong><a href="mailto:[% socio.persona.getEmail %]">[% socio.persona.getEmail %]</a></strong></li>
                    [% END %]
                    <li>[% "Legajo :" | i18n %] <strong> [%  socio.persona.getNro_documento %]</strong></li>
                    <li>[% "Ciudad :" | i18n %] <strong> [%  socio.persona.ciudad_ref.getNombre %]</strong></li>
                    <li>[% "Calle :" | i18n %]  <strong> [%  socio.persona.getCalle %]</strong></li>
                    <li>[% "ID de usuario:" | i18n %] <strong> [%  socio.nro_socio %]</strong></li>
                    <li>[% "Categor&iacute;a del usuario:" | i18n %] <strong> [%  socio.categoria.getDescription %]</strong></li>
                    <li>[% "Incorporaci&oacute;n a Biblioteca:" | i18n %] <strong> [%  socio.ui.getNombre %]</strong></li>
                    [% IF usercourse %]
                    <li>
                    <center>
                      <strong>
                          [% "Realiz&oacute; el curso para usuarios. Dado de alta el d&iacute;a" | i18n %]
                          [% usercourse %]
                      </strong>
                    </center>
                    </li>
                    [% END %]
                </ul>
            </div>
        </fieldset>
        </div>
</div><!--columna izq -->

<div class="columna_der" >
          <fieldset  class="accionesUsuarios" >
                <legend class="titulo_legend">[% 'Acciones' | i18n %]</legend>
                    <ul class = "listaMenuBotones" >
                        <li>
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Modificar Datos' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "modificarDatosDeUsuario();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                        </li>
                        <li>
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Eliminar Usuario' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "eliminarUsuario();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            </li>
                        [% IF !socio.tieneAutorizado %]
                            <li>
    
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Agregar Autorizado' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "agregarAutorizado();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            </li>
                        [% ELSE %]
                            <li>
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Eliminar Autorizado' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "desautorizarTercero();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            </li>
                        [% END %]
                        [% IF nroSocioLoggeado != loggedinuser%]
                            <li>
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Reset Password' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "resetPassword();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            </li>
                        [% ELSE %]
                            <li>  
                                    <form action=/cgi-bin/koha/usuarios/change_password.pl method=get id="formCambioPassword">
                                        <input type=hidden name="token" value="[% token %]" >
                                    </form>        
      
                            [% PERL %]
                                                print C4::AR::Filtros::to_Button(   text    => "[% 'Cambio de Contrase&ntilde;a' | i18n %]",
                                                                                    boton   => "boton_buscar",
                                                                                    onClick => "cambiarPassword();",
                                                                                    width   => "173"
                                                        ) ;
                            [% END %]
                            </li>
                        [% END %]
                            <li>
                                <form action=/cgi-bin/koha/usuarios/cardGenerator.pl method=get name="formCarnet">
                                    <input type=hidden name="nro_socio" value="[% socio.getNro_socio %]" >
                                    <input type=hidden name="token" value="[% token %]" >
                                </form>
        
                            [% PERL %]
                                    print C4::AR::Filtros::to_Button(   text    => "[% 'Generar Carnet' | i18n %]",
                                                                        boton   => "boton_buscar",
                                                                        onClick => "formCarnet.submit();",
                                                                        width   => "173"
                                            ) ;

                            [% END %]
                        </li>
                        <li>
                            <form action=/cgi-bin/koha/usuarios/libreDeuda.pl method=get name="formLibre">
                                        <input type=hidden name=nro_socio value="[% socio.getNro_socio %]" >
                                        <input type=hidden name=token value="[% token %]" >
                            </form>    
                            [% PERL %]
                                        print C4::AR::Filtros::to_Button(   text    => "[% 'Libre Deuda' | i18n %]",
                                                                            boton   => "boton_buscar",
                                                                            onClick => "formLibre.submit();",
                                                                            width   => "173"
                                                ) ;
                            [% END %]
                       </li>
                       <li>
                            [% PERL %]
                                        print C4::AR::Filtros::to_Button(   text    => "[% 'Prest. Interbibliotecario' | i18n %]",
                                                                            boton   => "boton_buscar",
                                                                            onClick => "prestamosInterBibliotecarios();",
                                                                            width   => "173"
                                                ) ;
                            [% END %]
                      </li>

                      [% IF mensaje_error_foto %] 
                        <li>
                                <font color="red">[% mensaje_error_foto %]</font>
                        </li>
                      [% END %]

                        [% IF foto_name %]
                        <li>
                            <input type=button class="button" value="Eliminar foto" 
                                align=center onClick="eliminarFoto('[% foto_name %] ')">
                        </li>
                        [% ELSE %]
                        <li>
                                <div id="uploader"></div>
                        </li>
                        [% END %]
                    </ul>
                </fieldset>
              </div><!--columna_der -->
</fieldset>
</div><!--vcard -->
