[% USE HTML %]

<!--<link rel="stylesheet" type="text/css" href="[% temas %]/[% user_theme %]/includes/completo.css">-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->

<fieldset class="">
    <div class="encabezado">
        <img src="[% escudo %]" alt="escudo" width="80px" height="100px" /><br>
        [% biblio.titulo_formal %]<br>
        [% "BIBLIOTECA" | i18n  %]<br>
        [% biblio.getNombrePDF %]<br><br><br>
    </div>
    <br><br><br>
    <h1 align="center">[% titulo %]</h1><br><br>
    <p id="fecha" align="right">[% fecha %]</p><br><br>
    <div class="contenido">
        <p>[% cuerpo_mensaje %]</p><br><br><br><br><br><br>
    </div>
    <center>
        <div >
            ..........................  <br> 
            [% "Firma    " | i18n  %]
        </div>
        <br><br>
        <div >
            ..........................  <br>     
            [% "Aclaraci&oacute;n " | i18n  %]
        </div>
        
    </center>


    </center><br><br>
   <br><br><br>

    </div>
    
    <div id="pie" style="clear:both;">
    <hr>
              [% "Biblioteca: " | i18n  %] [% biblio.getNombrePDF %]<br>
              [% "Direcci&oacute;n:" | i18n  %]  [% biblio.getDireccionPDF %]<br>
              [% "Tel/Fax:" | i18n  %]  [% biblio.telefono %]  [% IF biblio.fax %] / [% biblio.fax %][% END %]  <br>
              [% "Atenci&oacute;n: Lunes a Viernes " | i18n  %][% atencion %] <br>
              [% "E-mail:" | i18n  %] [% biblio.email %]<br>
    </div>
</fieldset>
