<li class="sub_item">
    <label for="tipo_socio_id"> [% "Credenciales" | i18n %]</label>
	[% comboDeCredenciales %]
</li>
<input type="button" class="sub_item" name="save_button" class="submit-button" onclick="guardarModificacionCredenciales()" id="save_button" value="[% 'Guardar modificaci&oacute;n' | i18n %]">
