.bordetabla{
	background-color: #A63D3F; 
	color:#e3e3db;
}
table.top{
	background-color: #ececec;
	}

td.number{

	border-color: #FFFFFF; 
}

td.highnumber{
	border-color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;

}

h4{
	background-color: #9C2029;
	color:#e3e3db;
}

.pagetitulo{

 text-decoration: none;
        font-size:12pt;
        font-family:sans-serif;
        color:black;
	font-weight: bold;

}

.tope { Background-color: #f2f2f2; 
	color:#000000;
}

.fonttitulo{
	text-decoration: none;
        font-size:14pt;
        font-family:sans-serif;
	color:#606060;

}

.tablemsg{

	Background-color: #000000;
	border:0;
}

.fontmsg{

        text-decoration: none;
        font-size:12pt;
        font-family:verdana;
        color:#f2f2f2;
	font-weight:bold;

}

.fontresultado{
	text-decoration: none;
        font-size:12pt;
        font-family:sans-serif;
        color:#000000;
		}

/*
td.impar {Background-color: #dddcd9;}

td.par {Background-color: #dddcd9;}
*/

/*Miguel lo agregue para hacer la zebra*/
tr.par {
/* font-family: "Trebuchet MS", "Verdana", "Arial"; */
/* color: #000000 ; */
/* font-size: 10pt;  */
background-color:#F4F4F4;
}
tr.impar {
/* font-family: "Trebuchet MS", "Verdana", "Arial"; */
/* color:#000000;     */
/* font-size: 10pt; */
background-color:#FFFFFF;  
}
/*      Fin estilo zebra         */

a{text-decoration: none;
	font-size:10pt;
	font-family:sans-serif;
	color:black;
	}
tr{
	font-size:10pt;
	font-family:sans-serif;
	}

a:link {
	color : #000000;
}

a:visited {
	color : #7d7d7d;
}

a:hover {
	color : #AAAAAA;
}

a:active {
	color : #ffffff;
}

a.white {
	font-weight : normal;
	text-decoration : none;
	cursor : hand;
	color : #FFFFFF;
	padding : 4px;
	}

p {font-family:sans-serif; 
}
body { background-image: url(../images/patern.jpg);
	color : #000000;
	margin : 5px;
	text-decoration: none;
        font-size:10pt;
        font-family:sans-serif;
        color:black;

}

.lineaPunteada {
   border: #FFFFFF;
   border-style: dotted;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   padding: 2px;
      }


/*PARA EL PAGINAGOR*/

.paginaNormal{
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	cursor: pointer;
}

.paginaActual{
	font-family: "Trebuchet MS", "Verdana", "Arial";
	font-size: 10pt;
	color: red;
	font-weight: bold;
	cursor: pointer;
}


/*FIN PARA EL PAGINAGOR*/

.click {
	 cursor: pointer;
}

/*Agregado Miguel*/
ul li {
      list-style-type:none;
      display:block;
      margin:0;
      padding:2px;
      text-align: left;
}

ul li.sancionesOPAC {
      list-style-type:disc;	
      display:list-item;
      color:red;
      font-weight:bold;
      margin:0;
      font-size:10pt;
      padding:2px;
      text-align: left;
}

/* para MARC */

.MARCResult li{
		border-top:1px dotted #CCCCCC;
		color:#000000;
		font-family:'lucida console','courier new',monospace;
		line-height:1.5em;
/* 		margin:0; */
		margin-left:32px;	
		table-layout:fixed;
}


.detalleMARC {
      list-style-type:none;
      display:block;
      padding:5px;
      text-align: left;
      width: 90%; 
}

li.MARCHeader{
	margin:0;
	padding:5px;
	background-color:#FFFFFF;
	width: 99%;
	list-style-type:none;
}
/* FIN MARC */

.Encabezados{
	text-align: left;
	margin:10;
	padding:0px;
	font-family:"Trebuchet MS","Verdana";
	font-size:12pt;
	font-weight:bold;
}

.tablaDetalle{
	background-color:#DDDCD9;
}

.banner{
	background-color:#A63D3F;
}

.highlight { background-color: yellow }