<!-- TMPL_INCLUDE NAME="intranet-top.inc" -->

<script language="javascript" type="text/javascript">
function swap(id,src){
document.getElementById(id).src=src;
}
</script>

<!-- TMPL_IF name=allsub-p -->
<!-- TMPL_LOOP name=loop -->
"<a href="/cgi-bin/koha/maint/catmaintain.pl?type=allsub&sub=<!-- TMPL_VAR name=sub escape=url -->" onclick='messenger("/cgi-bin/koha/maint/catmaintain.pl?type=modsub&sub=<!-- TMPL_VAR name=sub2 escape=url -->");window1.focus()'><!-- TMPL_VAR name=subject escape=html -->"</a><br>
<!-- /TMPL_LOOP -->
<!-- /TMPL_IF -->


<!-- TMPL_IF name=modsub-p -->
<form action="/cgi-bin/koha/maint/catmaintain.pl">
Subject:<input class="inputFontNormal"type=text value="<!-- TMPL_VAR name=sub escape=html -->" name=sub size=40><br>
<input type=hidden name=type value=upsub>
<input type=hidden name=oldsub value="<!-- TMPL_VAR name=sub escape=html -->">
<input type=submit value=modify>
</form>
<p>This will change the subject headings on all the biblios this subject is applied to.
<!-- /TMPL_IF -->


<!-- TMPL_IF name=upsub-p -->
Successfully modified <!-- TMPL_VAR name=oldsub escape=html -->
is now <!-- TMPL_VAR name=sub escape=html -->
<!-- <![ IGNORE [
<p><a href="/cgi-bin/koha/maint/catmaintain.pl" onclick="window0.focus()">Back to catalogue maintenance</a><br>
<a href=nowhere onclick="self.close()">Close this window</a>
]]> -->
<!-- /TMPL_IF -->


<!-- TMPL_IF name=undel-p -->
<table border=0 class="tablaresultado" width=100%>
<thead>
<tr><td>T&iacute;tulo</td><td>Autor</td><td>Recuperar</td></tr>
<tbody>
<!-- TMPL_LOOP name=loop -->
<tr>
<td><!-- TMPL_VAR name=title escape=html --></td>
<td><!-- TMPL_VAR name=author escape=html --></td>
<td><a href="/cgi-bin/koha/maint/catmaintain.pl?<!-- TMPL_VAR name=undelete escape=url -->">Recuperar</a></td>
</tr>
<!-- /TMPL_LOOP -->
</table>
<!-- /TMPL_IF -->


<!-- TMPL_IF name=finun-p -->
Succesfully undeleted
<p><a href="/cgi-bin/koha/maint/catmaintain.pl">Volver a Mantenimiento de Cat&ascute;logo</a>
<!-- /TMPL_IF -->


<!-- TMPL_IF name=fixitemtype-p -->
<form method=post action="/cgi-bin/koha/maint/catmaintain.pl">
<input type=hidden name=bi value="<!-- TMPL_VAR name=bi escape=html>">
<input type=hidden name=type value=updatetype>
Itemtype:<input class="inputFontNormal"type=text name=itemtype value="<!-- TMPL_VAR name=item escape=html>"><br>
<input type=submit value= Cambiar>
</form>
<!-- /TMPL_IF -->


<!-- TMPL_IF name=updatetype-p -->
Updated successfully
<p><a href="/cgi-bin/koha/maint/catmaintain.pl">Volver a Mantenimiento de Cat&ascute;logo</a>
<!-- /TMPL_IF -->


<!-- TMPL_IF name=mainmenu-p -->
<br>
<table border="0" width="100%" height="90%"  align="left" class="tablaresultado"  cellpadding="0" cellspacing="5">
<tr>
<td valign="bottom" class="pagetitle">
Mantenimiento de Temas
</td>
</tr>
<tr><td class="lineagruesa"  align="left" colspan="3"></td></tr>
<tr><td class="inputFontNormal" valign="middle">
<form action="/cgi-bin/koha/maint/catmaintain.pl" method=post name="f1">
<input type=hidden class="inputFontNormal" name=type value=allsub>
&nbsp;&nbsp;&nbsp;Mostrar todas los temas que comiencen con </td>
<td valign="middle"> <input class="inputFontNormal"type=text name=sub></td>
<td  align="left" valign="bottom">  <a href="#" onMouseOut="swap('m1','<!-- TMPL_VAR NAME="themelang" -->/images/boton-mostrar.png')" onMouseOver="swap('m1','<!-- TMPL_VAR NAME="themelang" -->/images/boton-mostrarbis.png')" onclick="document.f1.submit();">
<img name="m1" id="m1" alt="Mostrar" src="<!-- TMPL_VAR NAME="themelang" -->/images/boton-mostrar.png" border="0"></a>
</form>
</td>
</tr>

<tr><td valign="bottom" class="pagetitle">
Mantenimiento de la descripci&oacute;n bibliogr&aacute;fica</td></tr>
<tr><td class="lineagruesa" align="left" colspan="3"></td></tr>
<tr><td class="inputFontNormal">
<form action="/cgi-bin/koha/search.pl" method=post name="f2">
<input class="inputFontNormal"type=hidden name=type value=catmain>
&nbsp;&nbsp;&nbsp;Mostrar todos los t&iacute;tulos que comiencen con</td>
<td> <input class="inputFontNormal"type=text name=title>
</td>
<td  align="left">
<a href="#" onMouseOut="swap('m2','<!-- TMPL_VAR NAME="themelang" -->/images/boton-mostrar.png')" onMouseOver="swap('m2','<!-- TMPL_VAR NAME="themelang" -->/images/boton-mostrarbis.png')"  onclick="document.f2.submit();">
<img name="m2" id="m2" alt="Mostrar" src="<!-- TMPL_VAR NAME="themelang" -->/images/boton-mostrar.png" border="0"></a>
</td>
</tr>
<tr><td class="inputFontNormal">
&nbsp;&nbsp;&nbsp;Ejemplar N&uacute;mero</td>
<td><INPUT class="inputFontNormal"TYPE="text" NAME="item"></form></td>
<td> </td>
</tr>
<tr>
<td valign="bottom" class="pagetitle">
Recuperar descripci&oacute;n bibliogr&aacute;fica
</td></tr>
<tr><td colspan="4" class="lineagruesa"  align="left"></td></tr>
<tr><td class="inputFontNormal">
<form action="/cgi-bin/koha/maint/catmaintain.pl" method=post name="f3">
<input class="inputFontNormal"type=hidden name=type value=undel>
&nbsp;&nbsp;&nbsp;Mostrar todos los t&iacute;tulos que comiencen con </td><td><input class="inputFontNormal"type=text name=title> 
</td>
<td align="left" valign="bottom">
<a href="#" onMouseOut="swap('m3','<!-- TMPL_VAR NAME="themelang" -->/images/boton-mostrar.png')" onMouseOver="swap('m3','<!-- TMPL_VAR NAME="themelang" -->/images/boton-mostrarbis.png')"  onclick="document.f3.submit();">
<img name="m3" id="m3" alt="Mostrar" src="<!-- TMPL_VAR NAME="themelang" -->/images/boton-mostrar.png" border="0"></a>
</form>
</td></tr>
 <tr><td>
</td></tr></table>
<!-- /TMPL_IF -->


<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
