# m h  dom mon dow   command
#*/15  * * * *  wget -q -O  /dev/null https://127.0.0.1/meran/cron/recordatorio_prestamos_vto.pl  --no-check-certificate 2>&1
* * * * * wget -q -O  /dev/null https://127.0.0.1/meran/cron/procesarColaZ3950.pl --no-check-certificate 2>&1
* * * * * wget -q -O  /dev/null https://127.0.0.1/meran/cron/reindexar.pl  --no-check-certificate 2>&1
0 3 * * 0 wget -q -O  /dev/null https://127.0.0.1/meran/cron/obtener_portadas_de_registros.pl --no-check-certificate 2>&1
0 2 * * 0 wget -q -O  /dev/null https://127.0.0.1/meran/cron/generar_indice.pl --no-check-certificate 2>&1
